<title>Dia 02 de Junho de 1995</title>

<H2>Dia 02 de Junho de 1995</H2>
<pre>

BATALHA SOBRE PARODIA NA WEB
	A ACLU afirmou que trata-se de um caso de censura. Um aluno
brilhante de um colegio de Bellevue, Washington, satirizou seu colegio em
um documento na WWW entitulado "Unofficial Newport High School Home Page",
que apresentava ligacoes com artigos sobre sex o oral, masturbacao e
paginas centrais de nus da Playboy. Indignada pela maneira como o nome da
escola foi utilizado, a diretora enviou faxes para as universidades onde o
aluno havia feito inscricao para admissao, notificando-as de que ela
estava retirand o seu apoio ao aluno como finalista do Merito Nacional. Um
advogado da American Civil Liberties Union afirmou que este podera' ser o
primeiro caso em que a ACLU defendera' a liberdade de expressao na
Internet. (New York Times, 28/05/95, p.10)

LEIS SOBRE DIFAMACAO CLASSIFICAM A PRODIGY COMO EDITORA
	Em um processo judicial de 200 milhoes de dolares, movido pelo
banco de investimentos Stratton Oakmont Inc., um juiz de Nova York
determinou que a Prodigy Services Co. esta' sujeita, como uma editora, `as
leis sobre difamacao. A Prodigy alegou que e' uma "operadora de
telecomunicacoes comum", mais afim com uma empresa telefonica ou com uma
livraria do que com uma editora. Embora o juiz nao tenha discordado dessa
analogia, preferiu elevar a Prodigy a uma categoria mais alta, observando
que, em 1990, o serv ico on-line proclamou-se superior devido ao seu
controle editorial: "A escolha consciente da Prodigy, para obter os
beneficios do controle editorial, tornou-se mais confiavel do que a
CompuServe e outras redes de computadores, que nao fizeram essa opcao". O
processo da Stratton Oakmont foi iniciado devido a uma acusacao feita em
uma area de discussoes da Prodigy, no final do ano passado, de que a
empresa de investimentos apresentava conduta criminosa. (Wall Street
Journal, 26/05/95 B2)

ODIO E OBSCENIDADES NA INTERNET
	O Information Highway Advisory Council do Canada' esta'
pressionando os legisladores para acabarem com as obscenidades e o odio na
Internet, e para definirem claramente quem sao os responsaveis pelos
materiais ofensivos -- o autor dos materiais enviados o u o operador do
sistema de computador que distribuir esses materiais. O Departamento de
Justica acompanhara' de perto o debate do senado norte-americano, a ser
realizado no proximo mes, sobre a Lei de Decencia nas Comunicacoes.
(Ottawa Citizen. 27/05/95, E1)

EXPERIENCIAS PROXIMAS DA MORTE NAS REDES NEURAIS
	Um fisico da McDonnel Douglas esta' levando as pesquisas sobre
redes neurais ao extremo -- examinando o que acontece quando a rede
apresenta pane. Utilizando uma segunda rede neural para analisar os
ultimos sinais de sua irma malfadada, ele alega ter enco ntrado um tipo de
"maquina criativa que pode funcionar de maneira mais rapida e eficiente do
que os programas tradicionais de computadores.". Por exemplo, depois de
alimentar a rede com o equivalente a trinta anos de musicas das paradas de
sucesso, e deix ar a rede funcionando por alguns dias, a rede produziu 11
mil musicas (que foram todas registradas pelo fisico). Os ceticos
afirmaram que isto nao significa que a rede pode emular uma mente
criativa. "Ela pode estar nos mostrando alguma coisa sobre alucin acao,
mas parece que isto esta' muito longe de ser criatividade", afirmou um
deles. (Scientific American, maio de 95, p.24)

OFERTA DE INVESTIMENTO EM EMPRESA BELGA DE COMUNICACOES
	A British Telecom e a Bell Atlantic estao discutindo a possivel
realizacao de uma alianca para investir na Belgacom, estatal belga
operadora de telecomunicacoes, que e' o primeiro alvo de aquisicoes da
Europa ocidental. A propriedade da Belgacom e' atraen te porque pode vir a
ser um trampolim para a expansao na Franca, Alemanha e Holanda. (Financial
Times, 26/05/95, p.1)

COMPANHIA TELEFONICA PROCESSADA POR ATIVIDADE CRIMINOSA
	No primeiro processo desse tipo de que se tem noticia, a operadora
de longa distancia Unitel acusou criminalmente a Maritime Telegraph &
Telephone e um dos seus executivos, alegando que a empresa ofereceu
tarifas e servicos de longa distancia ilegais, log o apos uma definicao do
governo de que a MT&T realmente ofereceu tais servicos para atrair a conta
do governo de Nova Scotia. (Toronto Financial Post, 26/05/95, p.3)

EXTENSAO MENTAL TORNA-SE GLOBAL
	A Mind Extension University, da Jones Education Networks, esta' se
estendendo para fora das fronteiras dos Estados Unidos, ate' a Tailandia,
Brasil e Reino Unido, entre outros. Agora, Glenn Jones, fundador da
empresa, esta' procurando credito para sua pro pria academia particular,
para permitir que a MEU emita diplomas, e pretende convidar cinco "campus
eletronicos" para transmitir suas aulas pela TV em todo o mundo. (Wall
Street Journal, 26/05/95, A8)

COMBINACAO DE TELEFONE, FAX E COPIADORA PARA USO DOMESTICO
	Encorajado pelo sucesso obtido com uma maquina de fax comercial,
NX-1, a Sharp Electronics lancou o fax/telefone/copiadora/secretaria
eletronica NX-2, para uso domestico. O sistema possui sistema de comutacao
entre voz e fax que seleciona automaticamente o canal adequado, e pode
servir a ate' quatro numeros telefonicos diferentes no mesmo telefone,
reconhecendo os diferentes padroes de discagem. O preco sugerido para
venda e' de 380 dolares. (Atlanta Journal-Constitution, 28/05/95, R3)

NEC E AT&T UNEM-SE PARA PRODUZIR CHIPS MINUSCULOS
	A NEC Corp. e a divisao de microeletronica da AT&T estao
trabalhando em conjunto no desenvolvimento de um processo comum de
producao de circuitos integrados de 0,25 microns, utilizando uma
tecnologia chamada de Complementary Metal Oxide-Semiconductor. (In
vestor's Business Daily, 30/05/95, A17)

ESTACAO TERRESTRE DO TAMANHO DE UM LAPTOP
	O telefone Mini-Lynxx "anywhere" combina uma estacao terrestre de
comunicacoes por satelites com um telefone, em um volume que pesa
aproximadamente cinco quilos, com o tamanho de um PC modelo laptop. O
aparelho, no valor de 13 mil dolares, e' o resultado da colaboracao entre
a Mobile Satellite Products, de Hauppauge, Nova Yorque, e a Rafael
Development Corp., de Israel. A Rafael esta' trabalhando em uma antena
ainda menor, que podera' tornar possivel a producao de telefones por
satelites, do tamanho dos a tuais modelos de telefones celulares.
(Business Week, 29/05/95, p.87)

PRATOS INUTEIS
	A Power DirecTV afirmou que as 500 mil antenas-prato instaladas no
Canada' serao inuteis para a recepcao dos novos servicos DTH. Os clientes
que tiverem as antenas-prato terao que desembolsar mais mil dolares em
novas antenas-prato para poderem receber os sinais. (Toronto Globe & Mail,
26/05/95 B2)

PROXIMA EDICAO DO EDUCOM REVIEW
	A proxima edicao de julho/agosto do Educom Review prosseguira' com
a cobertura de ER sobre a recente revolucao no ensino superior, a
convergencia das universidades, a computacao como arte performatica, entre
outros assuntos. Entre os artigos ha' uma anali se da Air University e
entrevistas com Brit Hume e Brenda Laurel. As assinaturas para os Estados
Unidos custam 18 dolares anuais. Para iniciar sua assinatura agora mesmo,
envie mensagem para offer@educom.edu, ou ligue para 1-800-254-4770. 
</prE>
