<title>Dia 02 de Junho de 1995, segunda parte</title>

<H2>Dia 02 de Junho de 1995, segunda parte</H2>
<pre>

PLANOS DE LEILOES DE CANAIS DE TRANSMISSAO PODEM SER ACELERADOS
	Os republicanos do congresso norte-americano estao analisando uma
recomendacao do Congressional Budget Office de leiloar os canais
analogicos de televisao existentes, daqui a sete anos, como parte de um
plano para equilibrar o orcamento ate' o ano de 2002 . Ate' la, eles
esperam que a maioria das emissoras de TV tera' passado para os novos
canais de transmissao digital. O plano atual da FCC e' permitir que as
emissoras usem os novos canais digitais gratuitamente, permitindo que usem
tanto os canais digitai s como os analogicos por quinze anos e, ao final
desse prazo, os canais analogicos deverao ser devolvidos ao governo. Se o
processo do leilao for acelerado, embora venha a ser mais oneroso para o
setor de transmissoes, sera' uma medida ainda menos drastic a do que a
outra opcao sugerida, que forcaria as emissoras a pagar bilhoes de dolares
pelos canais digitais. (Wall Street Journal, 24/05/95, B8)

CITIBANK REDUZ TARIFAS DE TRANSACOES ELETRONICAS
	Com um olho no futuro eletronico, o Citibank anunciou que
reduzira' todas as tarifas de servicos do banco eletronico para os
clientes da area da cidade de Nova York. A medida encoraja os clientes a
usarem mais os servicos de banco eletronico, num momento em que empresas
de software como Microsoft e Intuit estao impedidas de entrar no setor de
servicos financeiros de forma abrangente. No novo programa, os clientes do
Citybank poderao pagar contas, pagar emprestimos e ter acesso eletronico a
informacoes sob re suas contas correntes, sem pagar qualquer tarifa.
(Investor's Business Daily, 24/05/95, A16)

NEWSWEEK LANCA REVISTA SOBRE CULTURA CIBERNETICA
	A Newsweek lancara' uma revista impressa trimestral, chamada de
Virtual City (Cidade Virtual), que esta' sendo considerada como uma
mistura de guia de TV e a revista People. Com lancamento de estreia
previsto para setembro, a Virtual City contem artigos s obre como as
pessoas trabalham e se divertem com as comunicacoes eletronicas e
materiais de alta tecnologia. (Miami Herald, 24/05/95, C3)

OBJECOES CONTRA OS PLANOS DA SPRINT PARA A EUROPA
	A comissao sobre concorrencia da Europa fez objecoes contra os
planos da Sprint de entrar em uma alianca global de telecomunicacoes com a
France Telekom e a Deutsche Telecom, afirmando que "As principais vitimas
serao as empresas de pequeno e medio porte, cujas escolhas de provedores
de servicos serao reduzidas e que nao poderao atender a qualquer pressao
para abaixar os precos desses servicos.". A objecao podera' novamente
colocar freios na alianca proposta, chamada de Atlas, que ja' esta'
bastante atras ada em relacao ao prazo original. (New York Times,
25/05/95, C8)

BELL ATLANTIC OPTA PELA TECNOLOGIA COMUTADA DE VIDEO
	Depois de retirar da FCC seu pedido para prover servicos de video
digital atraves de redes hibridas de cabos coaxiais e de fibras oticas, a
Bell Atlantic decidiu-se pela tecnologia de video digital comutado, o que
a permitira' levar gradualmente os cabos de fibras oticas ate' os
domicilios dos consumidores. Outros RBOCs poderao ter que repensar seus
proprios planos, diante do que foi divulgado pela Bell Atlantic. "A Bell
Atlantic e' quem define as tendencias", afirmou um analista do setor. A
decisao da em presa de telecomunicacoes baseou-se, em grande parte, em
indicadores de custos -- o custo dos sistemas hibridos de cabos coaxiais e
de fibras oticas mais do que dobrou, passando a custar 800 dolares por
domicilio desde 1992, enquanto que o custo das redes digitais comutadas
caiu para um terco do valor anterior, para cerca de 800 dolares por
domicilio. (Investor's Business Daily, 25/05/95, A7)

NOVA ONDA EM TECNOLOGIA DE COMPRESSAO
	O Houston Advanced Research Center esta' usando a teoria das
pequenas ondas digitais para produzir videos com aparencia realista nos
PCs. A mas nova tecnologia disponivel apresenta aproximadamente oito
quadros por segundo, mas o novo software HARC utiliza pequenas ondas para
descrever as imagens, codificando seus atributos, e lembrando-se de como
remonta-las ao ser recuperado o tamanho normal da imagem, resultando em
imagens realistas em movimento com cerca de 38 quadros por segundo. O
HARC-C, como o soft ware esta' sendo chamado, e' capaz de comprimir as
imagens para um centesimo de seus tamanhos originais, e recupera-las sem
apresentar qualquer sinal perceptivel de perda de nitidez. Os defensores
do software afirmam que o mesmo pode evitar conflitos com padroes
internacionais de compressao de video, ja' que transmite o software
necessario para que imagem seja vista, junto com o proprio video. O
coordenador do projeto, Thomas Lineham, afirmou: "Para nos, o mais
importante e' obter uma imagem com o mais alto

TELAS DE CRISTAL LIQUIDO MAIS BRILHANTES
	A Motorola esta' usando o Imagix, um novo material holografico
reflexivo, desenvolvido pela Polaroid, para desenvolver telas de LCD mais
brilhantes e mais claras do que as disponiveis atualmente. A Motorola ja'
informou a diversos fornecedores de telas de LCD que pretende incluir a
nova tecnologia nos seus produtos portateis de comunicacoes. (Investor's
Business Daily, 24/05/95, A7)

PROGRAMA DA NBC SOBRE BILL GATES
	Amanha `a noite (26/05/95), a NBC-TV transmitira' um documentario
chamado "Tycoon", sobre Bill Gates, da Microsoft. 

BLOOMBERG AFIRMA QUE NTT E' DESLEAL
	A Bloomberg Business News, agencia de noticias economicas
norte-americana, afirmou que a empresa de telecomunicacoes japonesa Nippon
Telegraph and Telephone e' comercialmente desleal, pois pretende dobrar o
preco do aluguel de linhas telefonicas locais de alta capacidade
(utilizadas pela NTT), e nao pretende elevar as tarifas da linhas
telefonicas analogicas usadas pelos concorrentes japoneses da Bloomberg --
uma subsidiaria da NTT. (Financial Times, 25/05/95, p.5)

SOFTWARE PARA FAX SUPER RAPIDO
	Um novo software para PC chamado 3D Fax e' capaz de comprimir um
documento de trinta paginas em um formato que pode ser transmitido atraves
da linha telefonica em 60 segundos, ou menos. Um computador com o mesmo
software do outro lado da linha pode descom pactar o documento e
imprimi-lo. Se o documento for enviado para uma maquina de fax comum, o
resultado sera' uma pagina ilegivel, com retangulos em preto e branco, que
pode ser digitalizada atraves de scanner e passada para um computador,
onde o software 3D pode restaurar o documento para seu formato original.
As imagens em preto e branco tambem podem ser comprimidas, enviadas pela
linha telefonica, impressas em preto e branco em uma folha de papel, e
convertidas novamente para a versao colorida, com a aj uda do software.
(Investor's Business Daily, 25/05/95, A8)

PAGAMENTO DE ROYALTIES POR TRABALHOS VENDIDOS NA REDE
	Uma organizacao norte-americana de autores desenvolveu um novo
sistema de contabilidade, para o pagamento de royalties por trabalhos
reproduzidos e vendidos on-line. O sistema permite que os editores enviem
`a organizacao um cheque unico, junto com uma li sta de distribuicao com
os autores que devem receber os roytalties. (New York Times, 24/05/95, B5)

PREDOMINANCIA DO INGLES NA VIA EXPRESSA DE INFORMACOES
	O ex-presidente do Conseil de la langue francaise afirmou que a
carta de normas do idioma frances de Quebec precisa ser mudada, para
discutir o dominio do idioma ingles na via expressa de informacoes.
(Toronto Globe & Mail, 24/05/95, A5A)

SERVIDOR IBM COM DUPLA TAREFA
	O mais novo modelo de servidor da IBM pode executar tanto
aplicativos par PC como para mainframes, permitindo que os programadores
criem e testem aplicativos para mainframes em seus PCs. O IBM PC Server
500 S-390 estara' disponivel em julho, e devera' cus tar entre 50 e 90 mil
dolares, dependendo do software escolhido. (Investor's Business Daily,
25/05/95, A8)

ROUBO ELETRONICO DE SEGREDOS COMERCIAIS
	O Canadian Security Intelligence Service quer ajudar as empresas a
se protegerem dos piratas tecnologicos que tentam roubar seus segredos
comerciais, mas nao quer revelar quem sao os culpados. Oficiais do CSIS
enviaram um alerta geral a empresas de comput adores localizadas na area
de Waterloo, Ontario, e alertaram cerca de mil outras empresas no ultimo
ano, sem especificar quais os paises que estao por tras da espionagem
industrial. (Ottawa Citizen, 25/05/95 A4)

VIRUS TERRIVEL `A SOLTA
	Um novo virus chamado "Big Caibua" tem infectado maquinas
compativeis com o IBM em todo o mundo, apresentando varios penis marchando
na tela e danificando os arquivos dos computadores infectados. O virus tem
escapado da maioria dos softwares anti-virus di sponiveis ate' o momento,
mas na semana passada alguns especialistas em virus lancaram ferramentas
que realizam a busca e a destruicao de virus, preparado especificamente
para o "Big Caibua". Os usuarios de computadores que estiverem preocupados
deverao e ntrar em contato com os produtores do software anti-virus e
obter a versao mais recente, que combate esta ameaca. (Chronicle of Higher
Education, 26/05/95 A20)
</pre>
