<title>Dia 03 de Julho de 1995</title>

<H2>Dia 03 de Julho de 1995</H2>
<pre>

IBM DARA' SUPORTE AO OS DO MAC "SE OS CLIENTES QUISEREM"
	A IBM afirmou que dara' suporte ao sistema operacional OS do MAC
da nova serie de computadores IBM Power, e obtera' uma licenca para o
software junto `a Apple, se os clientes da IBM "exigirem" e se os termos
da licenca forem razoaveis. (New York Times, 20/06/95, C10)
 
EDITORES ENCARAM A TEIA COM CAUTELA
	Os membros da Association of American Publishers decidiram que
deverao envolver-se ativamente na expansao dos sistemas de distribuicao de
informacoes on-line, se nao quiserem ficar para tras e comer poeira. Ate'
agora, as preocupacoes sobre a disseminacao nao autorizada resultaram em
uma "hesitacao significativa para investir" em publicacoes eletronicas,
segundo o presidente da Enabling Technologies Committee, da AAP. Agora
eles decidiram tentar resolver as questoes sobre direitos autorais "antes
que as violacoes de direitos autorais na rede se generalizem e se tornem
comuns pela maneira que a rede funciona. E' um fato aceito que,
antigamente, os editores membros da AAP podiam deixar as preocupacoes
tecnologicas para os fornecedores -- como compositores, tipografos e
impressores -- enquanto que, hoje em dia, com as publicacoes eletronicas,
nao podemos deixar essas coisas para os outros.". (Chronicle of Higher
Education, 23/06/95, A18)
 
COM MEDO DA INTERNET
	Com mais de 21 mil empresas -- muito mais do que as 1000
existentes em 1990 -- na Internet, os executivos das empresas de todos os
lugares estao perguntando "O que a Teia pode me trazer de bom?". Mas nesse
ponto os analistas do setor afirmam que a maioria das paginas empresariais
na Teia nao passam de objetos de vaidade na via expressa de informacoes.
"Neste momento, os grandes clientes comerciais com os quais trabalho tem
muitas reservas com relacao `a Internet, para qualquer aplicacao
critica.", declarou o presidente de servicos de grande porte da Bell
Atlantic. "Ha' questoes relacionadas com seguranca, acesso a redes, e
controle.". Um analista do Yankee Group se refere a isso como "medo da
Internet.". Mesmo assim, mais de um terco das empresas pesquisadas
recentemente pelo Yankee Group afirmaram que pretendem vender seus
produtos e servicos na Internet, e um terco delas pretendem usar a Teia
para fazer propaganda. Quase a metade delas esta' utilizando a Rede
atualmente para controlar estoques ou programacoes de produtos. (Business
Week, 26/06/95, p.100)
 
DIMINUINDO O NIVEL DA REDE
	Em resposta `a recente aprovacao pelo senado norte-americano da
emenda Exon, que passou a considerar crime a distribuicao de materiais
indecentes na Internet, o conselho da Electronic Frontier Foundation
afirmou: "O resultado disso e' que caira' o nivel de toda a rede. Nao
sera' possivel discutir sobre John Updike ou citar Erica Jong. E' como
pegar toda a biblioteca publica e transforma-la em um quartinho para
criancas.". (Investor's Business Daily, 20/06/95, A8)
 
RECEITA PARA CUIDAR DE PCs
	O custo medio de manutencao de computadores pessoais cresceu 153%
desde 1987, e o usuario medio gasta mais de 41 mil dolares, no prazo de
cinco anos, para manter seu PC funcionando. O PC Asset Management
Institute estimou que as empresas gastam anualmente cerca de 20 bilhoes de
dolares, gastando mais do que o necessario em controles de PCs. A
resposta? Terceirizar, de acordo com mais da metade das 603 organizacoes
pesquisadas pela Computer Sciences Corp., que colocaram essa providencia
como primeiro item de suas listas de prioridades. "O unico problema e'
que, antes de terceirizar alguma coisa, deve-se conhecer o que se esta'
passando para outros, o que exige que se faca um inventario. Estou
evitando isso, porque nao quero sair por ai, me abaixando sob as mesas e
me preocupando com alguns PCs desaparecidos.", disse um deles. "Os PCs sao
artigos descartaveis com dois anos de vida util. Voce controla a
utilizacao dos clipes de papel?". (Information Week, 26/06/95, p.36)
 
EUROPEUS NAO SE EMPOLGAM COM A TV INTERATIVA
	Empresas como a British Telecommunications e a Deutsche Telekom
estao tentando descobrir o que os europeus realmente querem fazer com seus
computadores -- e eles ainda nao tem certeza. Uma pesquisa feita
recentemente, entre os consumidores europeus, indicou que muito poucos
apresentaram o que sao considerados "comportamentos precursores" `a
utilizacao da televisao interativa, como aluguel de videos, compras pelo
correio e comida entregue a domicilio. Enquanto 75% das residencias
norte-americanas que possuem video-cassetes alugam um filme pelo menos uma
vez por mes, apenas 40% dos europeus ocidentais fazem o mesmo. Apenas 21%
dos europeus comem alimentos entregues a domicilio, e uma porcentagem
ainda menor -- 19% -- de consumidores na Franca e na Gra-Bretanha,
demonstram grande interesse em servicos de video por solicitacao. (Wall
Street Journal, 20/06/95, B10B)
 
MINISTRO ALEMAO A FAVOR DO FUTURO
	Em uma iniciativa com vistas no futuro, a Alemanha combinou
educacao, ciencia, pesquisa e tecnologia, sob a protecao do Ministerio do
"Futuro". O objetivo do ministro e' aproveitar a infra- estrutura alema,
em termos de cabos de fibras oticas e conexoes ISDN, "para fazer projetos
a partir de novas ideias.", afirmou Juergen Ruettgers, o Ministro do
Futuro. "Estamos `as portas de mudancas revolucionarias, comparaveis ao
salto da bicicleta ao aviao a jato. Aquele que chegar tarde demais sera'
punido pelo mercado.". Mesmo assim, ainda ha' muitos costumes e praticas a
serem vencidos, principalmente as fortes representacoes trabalhistas da
Alemanha, e as tradicoes para se chegar a acordos. (Wall Street Journal,
20/06/95, B10B)
 
EDUCACAO NO LAR LIDERA AS VENDAS DE SOFTWARES
	A Software Publishers Association informou que as vendas anuais de
softwares educativos domesticos, em termos percentuais, mais uma vez
cresceram mais do que as de qualquer outra categoria de software
controlada pela associacao. As vendas desse tipo de software totalizaram
no ano passado 522 milhoes de dolares, um crescimento 88% superior ao das
vendas verificadas em 1993, que chegaram a 277 milhoes de dolares. (Heller
Report News Briefs, junho de 95)
 
ON-LINE DA ALAMO
	A Alamo abriu o primeiro local da Teia que permite negociar o
aluguel de veiculos on-line, em tempo real. O Freeway oferece jogos para
as criancas, boletins do tempo e um forum onde os motoristas podem trocar
informacoes, tais como dicas sobre restaurantes e roteiros que incluem
locais com belas paisagens. http://www.freeways.com (Miami Herald,
20/06/95, C1)
 
REDE GRATUITA EM MONTREAL
	O governo de Quebec contribuiu com 616 dolares para o
estabelecimento de uma rede gratuita em Montreal, que oferecera' servicos
em frances e em ingles, como parte integrante do plano do governo de levar
a provincia para a via expressa de informacoes e promover a utilizacao do
idioma frances na Internet. (Montreal Gazette, 20/06/95, A6)
 
REUNIAO DOS SETE MAIS RICOS
	Os lideres presentes na recente reuniao realizada em Halifax,
prometeram continuar com as politicas de liberacao de comercio atraves da
World Trade Organization, focalizando em seguida os servicos financeiros e
as telecomunicacoes. (Toronto Financial Post, 17/06/95, p.13) -- Voce
podera' encontrar links de diversos locais que estao cobrindo esses
desenvolvimentos na pagina http://www.GlobeAndMail.ca. 

MICROSOFT E SOFTBANK PRETENDEM DESENVOLVER JOGOS
	A Microsoft e a distribuidora japonesa de software Softbank
formarao uma joint venture para desenvolver softwares para jogos, que
tirarao proveito de todos os recursos do sistema operacional Windows 95,
da Microsoft. Inicialmente, os jogos serao destinados ao mercado japones,
e posteriormente serao vendidos em todo o mundo. (Financial Times,
16/06/95, p.20)
 
PARLAMENTO NA INTERNET
	O parlamento do Canada' entrou na Internet. Agora os usuarios de
computadores podem visitar o parlamento on-line, aprender sobre os
procedimentos parlamentares e ler transcricoes das reunioes do comite.
Contudo, nao poderao enviar mensagens para os membros do parlamento ou
para os senadores; alguns membros do parlamento tentaram isto e foram
inundados por mensagens, e seus funcionarios nao conseguiram dar conta da
correspondencia. http://www.parl.gc.ca ou gopher://gopher.parl.gc.ca.
(Toronto Globe & Mail, 21/06/95, A2)
 
A BOLA DE CRISTAL DE ECKHARD PFEIFFER
	Olhando para o futuro, o presidente da Compaq Computer,
indubitavelmente realista, ve um mundo com muita tecnologia de alto nivel.
Eckhard preve que, ate' o ano de 2005, havera' computadores portateis
movidos por "uma reacao quimica cujo principal subproduto sera' a agua", e
computadores com sistemas de reconhecimento de voz inteligentes e uteis
ate' o ano de 1999. Sera' muito comum haver varios computadores nas
residencias, assim como hoje e' comum haver varios telefones, radios, e
aparelhos de TV. "Estamos convencidos de que toda a sua residencia sera'
inteligente e interativa. Estamos caminhando em direcao a uma
infra-estrutura de comunicacoes global, centrada em PCs, que nos
permitira' trabalhar ou brincar em qualquer lugar.". (Wall Street Journal,
20/06/95, B5)
</pre>
