<title>Dia 04 de Julho de 1995</title>

<H2>Dia 04 de Julho de 1995</H2>
<pre>

GINGRICH E' CONTRA O PROJETO DE LEI SOBRE OBSCENIDADE NA REDE
	O porta-voz do congresso norte-americano, Newt Gingrich, atacou
uma proposta, ja' aprovada pelo senado, de condenar a transmissao de
obscenidades e material com sexo explicito atraves de redes de
computadores, impor multas de ate' 100 mil dolares a quem utilizar as
redes para disponibilizar esse tipo de material para menores, e
transformar o envio de mensagens indecentes ou agressivas em um ato
criminoso. Gingrich disse que o projeto de lei e' "claramente uma violacao
do direito `a liberdade de expressao, e um desrespeito ao direito das
pessoas adultas comunicarem-se umas com as outras. Nao concordo com isso,
e nao acho que seja uma maneira seria de se discutir uma questao seria,
que consiste em se determinar como respeitar o direito `a liberdade de
expressao de pessoas adultas e, ao mesmo tempo, proteger as criancas de
uma midia que esta' disponivel para ambos?". (New York Times, 22/06/95,
A1)
 
NUMEROS CONFIAVEIS DA TEIA
	Ate' agora, o numero de acessos tem sido o principal meio de
avaliacao da popularidade dos locais da Teia. Mas "um acesso e' um numero
que engana bastante", afirmou o diretor de propaganda da HotWired. A
verdade e' que os acessos contam arquivos, nao pessoas, e quando um
navegador humano clica de icone em icone, para ver as diversas partes da
Teia, cada um desses cliques e' contado como um acesso. A HotWired afirma
que, em dias mais movimentados, recebe cerca de 600 mil acessos, mas que
esse numero representa apenas cerca de 6 mil pessoas -- talvez ate' menos,
se as mesmas pessoas visitarem esses locais mais de uma vez por dia. Os
anunciantes estao comecando a se dar conta disso, e estao exigindo
informacoes bem mais detalhadas sobre seus publicos do que ha' seis meses
atras. Embora algumas novas empresas estejam trabalhando para atender a
essa necessidade, a tecnologia utilizada pelos novos sistemas de
rastreamento e' excessivamente rudimentar. Os arquivos de registro mostram
que alguem fez um acesso a partir da CompuServe, mas nao sao capazes de
identificar quem foi este assinante, entre os milhoes de assinantes da
CompuServe. Por enquanto, os anunciantes estao se baseando em puro
instinto e bom senso sobre quais os locais da Teia que tem "credibilidade
de rede". (Wall Street Journal, 21/06/95, B1)
 
CIENTISTAS LIDERAM AS PUBLICACOES ELETRONICAS
	Os cientistas que costumavam contar com publicacoes impressas para
dividir os resultados de suas pesquisas e submete-los `a analise critica,
estao cada vez mais utilizando a Rede, e os donos do mercado de 4 bilhoes
de dolares do setor de publicacoes tecnicas estao preocupados. O venerado
New England Journal of Medicine vai utilizar suas armas -- um editorial,
publicado no dia 22 de junho, afirmou que "pretende aplicar `a Internet as
mesmas regras que sao aplicadas em qualquer outro lugar.". Em outras
palavras, os artigos que tiverem aparecido na Internet nao poderao ser
considerados para publicacao. Mas outras publicacoes estao de olho nos
numeros, e vendo que nao podem dar-se ao luxo de ficar de fora. "Os custos
estao subindo, os custos postais tambem, e as receitas estao caindo.",
afirmou o presidente de publicacoes e multimidia da American Medical
Association. "Nao se pode criar um numero suficiente de novas fontes de
renda. Precisamos encarar a eletronica como o a tendencia do futuro.".
Alguns cientistas estao preocupados com o fato de que, a nao passagem pelo
rigoroso processo de veto usado pelas publicacoes tecnicas, resultara' em
"baixa credibilidade, rejeicao instantanea.". Mas outros argumentam que o
processo de revisao critica possibilitado pela publicacao eletronica pode
ser tao profundo quanto o convencional, e muito mais eficiente. "Estamos
apenas no inicio do desenvolvimento de um processo de comunicacao muito
mais eficiente.", declarou o editor da Science. (Business Week, 26/06/95,
p.44)
 
PROJETO DE LEI ATINGE GASTOS DO GOVERNO COM TECNOLOGIA
	Um projeto de lei lancado na terca-feira passada pelo senador
norte-americano William S. Cohen (R-Maine) pede a revisao dos metodos
utilizados pelo governo dos E.U.A. para comprar computadores e
equipamentos de comunicacoes. Ano passado Cohen foi o autor de um
relatorio chamado "Caos de computadores", onde detalhou as diversas
maneiras com que o governo desperdicava os recursos pagos pelos
contribuintes em equipamentos obsoletos e desnecessarios. A nova
legislacao rejeita a Lei Brooks, que regula os processos de compra do
governo; limita a participacao da General Services Administration nas
compras de sistemas de informacao; exige que todas as agencias facam
ofertas dentro de seis meses apos a decisao de compra de sistemas de
comunicacoes, e fechem o negocio em 18 meses; cria um novo posto no Office
of Management and Budget; e define limites nas alteracoes que poderao ser
feitas nos contratos, antes de serem revisados pelos gerentes.
"Focalizara' os niveis mais altos do gerenciamento, em vez do processo
normal.", afirmou Cohen. (Investor's Business Daily, 21/06/95, A4)
 
COMPUTADOR FLEXIVEL
	Nao, ele nao enverga, mas a Panda Project, Inc., uma pequena
empresa fundada por ex-funcionarios da IBM, lancou o que estao chamado de
PC universal. As maquinas, batizadas de Archistrat System, podem ser
transformadas em diversos modelos diferentes, ou mesmo serem atualizadas,
com a instalacao de novos componentes. "Trata-se de um sistema que foi
desenvolvido prevendo-se o futuro.", declarou o superintendente da Panda.
As maquinas custarao cerca de 20% mais caras do que os computadores
tradicionais, mas a empresa acredita que ja' tem um mercado garantido
entre os consumidores que se sentiram frustrados quando perceberam que
suas maquinas ja' estavam ultrapassadas, logo apos te-las comprado. (Wall
Street Journal, 21/06/95, B3)
 
DEPARTAMENTO DE JUSTICA DE OLHO NA REDE DA MICROSOFT
	O Departamento de Justica norte-americano esta' tentando descobrir
se existe alguma prova de que a Microsoft planejou transformar seu dominio
do mercado de sistemas operacionais em um dominio similar no mercado de
servicos on-line. Os concorrentes da Microsoft afirmam que os planos da
empresa de "embutir" seu software de rede (MSN) no sistema operacional
Windows 95, dara' `a Microsoft uma vantagem desleal sobre todos os outros
provedores on-line. (New York Times, 22/06/95, A1)
 
CIDADE DE BITS
	O primeiro livro sobre a WWW da MIT Press, "City of Bits: Space,
Place and Infobahn" (Cidade de Bits: Espaco, Lugar e
Infoestrada), aborda um novo tipo de "cidade", construida a partir
de espacos virtuais interligados na rede. O URL e' http://www-
mitpress.mit.edu/City_of_Bits/, e a versao on-line funciona como
um complemento do livro impresso. Os comentarios ou as
perguntas dos leitores sao incorporados ao texto, para tornarem-
se parte de um dialogo, onde autor e leitor interagem. ("City of
Bits", MIT Press, 1995)
 
MICROSOFT NAO DARA' INFORMACOES SOBRE CLIENTES
	A Microsoft nao pretende dividir suas informacoes sobre assinantes
com as empresas que venderem produtos na Microsoft Network, uma estrategia
que aborreceu algumas empresas que pretendem fazer suas vendas na rede.
"Somente um idiota assinaria o acordo da provedora da Microsoft, mas os
idiotas tambem precisam comer.", afirmou o conselheiro geral da Borland.
Apropriando-se "das preciosas informacoes sobre os clientes, desenvolvidas
por seus concorrentes, a Microsoft sera' bem sucedida em um plano que
somente o futurista Alvin Toffler sonhou ser possivel -- o monopolio dos
mercados atraves da utilizacao e do controle das informacoes.". A
Microsoft respondeu `as criticas, dizendo que os termos dos contratos
protegem a privacidade dos membros na MSN. (Wall Street Journal, 21/06/95,
B2)
 
JORNAIS ENFRENTAM CONCORRENCIA ACIRRADA DOS CLASSIFICADOS ON-LINE
	A sobrevivencia do setor de jornais depende seriamente da renda
gerada pelos anuncios classificados, que renderam, no ano passado, 12,5
bilhoes de dolares -- e agora o setor esta' se sentindo ameacado pelas
iniciativas do setor on-line, como a Electric Classifieds, Inc., que esta'
oferecendo um servico de classificados na Teia. Ao contrario das empresas
tradicionais de publicacoes, que ja' tem milhoes investidos em fabricas,
frotas de caminhoes e toneladas de papel em estoque, os editores
eletronicos podem se estabelecer a partir de quase nada. Para combater
esse crescente bando de Davis concorrentes, os Golias dos jornais estao
lancando suas proprias versoes on-line, mas podem estar ignorando o obvio,
de acordo com o editor de um jornal eletronico: "Os jornais tem uma enorme
vantagem, se nao a destruirem, que e' a infra-estrutura para captar os
anuncios, executar esses anuncios e cobrar por eles.". (Forbes, 03/07/95,
p.80)
 
CORREIOS UTILIZAM CRIPTOGRAFIA
	O servico postal dos E.U.A. esta' trabalhando com a empresa de
software Premenos Corp. para desenvolver um tecnica de criptografia por
chave publica, para verificar a identidade dos remetentes de mensagens de
correio eletronico, e a integridade dos documentos transmitidos
eletronicamente. Enquanto isso, a Verisign Inc. esta' desenvolvendo um
sistema concorrente, que nao apenas verifica a assinatura digital, como
tambem codifica o conteudo das mensagens. Diversas empresas, como VISA
International, Mitsubishi e Ameritech, investiram na tecnologia da
Verisign, e Apple Computer e Netscape Communications ja' se inscreveram
como clientes. (Wall Street Journal, 22/06/95, B7)
 
PESQUISA SOBRE OS USUARIOS DA WWW
	A Georgia Tech GVU, http://www.cc.gatech.edu/gvu/user_surveys,
realizou sua terceira pesquisa sobre os usuarios da WWW, e descobriu que a
media de idades dos navegadores da Teia e' de 35 anos, 80 por cento sao
homens, e as cinco maiores utilizacoes da Teia sao a propria navegacao,
entretenimento, trabalho, pesquisa educacional e pesquisa comercial. 
 
RETIRADA ACUSACAO SOBRE O CASO DE SEXO E SADISMO CONTRA ESTUDANTE
	Um juiz federal norte-americano retirou as acusacoes contra o
estudante da Universidade de Michigan, que enviou um trabalho de ficcao na
Internet, onde relatouy as fantasias sexuais sadicas do protagonista,
incluindo estupro e assassinato, envolvendo uma personagem feminina cujo
nome era identico a uma das colegas de turma do estudante. O juiz afirmou
que o caso deveria ter sido tratado pela universidade como um problema de
disciplina, e nao como um caso para ser levado ao tribunal. (New York
Times, 22/06/95, A10)
</pre>
