<title>Dia 04 de Julho de 1995, segunda parte</title>

<H2>Dia 04 de Julho de 1995, segunda parte</H2>
<pre>

DANDO CREDITO `A INTERNET
	A Mastercard adotara' o padrao de software utilizado pela Visa e
pela Microsoft, para processar transacoes de cartoes de credito na
Internet com seguranca, e vai tentar impedir que outras empresas utilizem
a Internet para realizar transacoes com o Mastercard, sem utilizar o
software escolhido pela empresa. (New York Times, 24/06/95, p.19)

PACKARD BELL PROMETE HONESTIDADE TOTAL
	A partir do proximo mes, a Packard Bell passara' a colocar um
aviso em seus computadores, afirmando que suas maquinas poderao conter
pecas usadas. A empresa foi processada pela Compaq Computer em abril, por
fazer propaganda enganosa, e varios clientes moveram acoes coletivas
contra o fabricante. "E' importante observar que nenhuma agencia, federal
ou estadual, registrou qualquer reclamacao contra a Packard Bell.",
afirmou um advogado da empresa. "Nos apenas vimos pela primeira vez uma
carta de 17 paginas enviada pela Compaq para o advogado geral na Florida,
e presume-se que tambem foi enviada para outros. Essa carta esta' repleta
de mentiras e meias verdades, e distorce totalmente as praticas comerciais
da Packard Bell. (Houston Chronicle, 23/06/95, C1)

BEIJING PRETENDE "GERENCIAR" A INTERNET
	O ministro dos correios e das telecomunicacoes da China afirmou
que o pais vai tentar "gerenciar" o acesso `as informacoes disponiveis nas
redes internacionais de computadores. "A China, como um estado soberano,
tambem aumentara' o seu controle sobre as informacoes.". Ele reconheceu
que podera' ser muito dificil controlar o conteudo do que vai pela rede. A
China comecou a expandir o acesso comercial `a Internet nos ultimos meses,
com a intencao de equiparar-se tecnologicamente a outros paises. (Wall
Stree t Journal, 23/06/95, B7B)

CONNECTICUT SERA' O PROXIMO CAMPO DE BATALHA ENTRE EMPRESAS DE TV A CABO E TELEFONES
	As operadoras de TV a cabo de Connecticut, insatisfeitas com o
plano da SNET de construir e operar uma rede de video dialtone em ambito
nacional, registrou suas reclamacoes junto `a FCC. Eles alegam que a SNET
nao esta' abrindo sua rede para programadores externos, e que os clientes
de telefones irao bancar a maior parte dos custos da construcao da rede de
video. Enquanto isso, a Cablevision, de Connecticut, anunciou esta semana
que pedira' aprovacao do estado para oferecer servicos de telefonia local
a seus clientes. (Broadcasting & Cable, 19/06/95, pp. 31-32)

AGENTES ANTI-TRUSTE DE OLHO NA ALTA TECNOLOGIA
	Os agentes anti-truste do departamento de justica norte-americano
estao analisando a industria de computadores com mais cautela, "e isto e'
apenas o comeco", segundo o presidente da Computer and Communications
Industry Association. Alem de fazer uma devas sa na Microsoft, a Justica
norte-americana estara' muito atenta `as praticas comerciais do setor como
um todo. "Estao `a procura de questoes relacionadas com arquiteturas
abertas, relacoes exclusivas entre fabricantes e dependencia
tecnologica.", afirmou um advogado. Alguns acham que eles podem estar
exagerando um pouco: "Dentro de dez anos, a obsessao do departamento de
justica em relacao `a Microsoft podera' se mostrar tao idiota quanto foi
sua obsessao pela IBM.", afirmou um advogado, que foi chefe do anti-truste
do governo Reagan. (Information Week, 26/06/95, p.20)

EMPREGOS `A VONTADE E FALTA DE MAO DE OBRA
	A Ottawa-Carleton Economic Development Corp afirmou que o
dramatico crescimento no setor de computadores na regiao produziu um
excesso de 2 mil a 3 mil empregos relacionados com alta tecnologia, e que
o ensino superior nao tem conseguido acompanhar esse crescimento, e chama
a atencao para o fato de que muitas comunidades de alta tecnologia estao
enfrentando o mesmo dilema. (Ottawa Sun, 22/06/95, p.48)

NAO SUBESTIME O TELEFONE
	De acordo com George Forrester Colony, presidente do Forrester
Research, e' no setor telefonico que esta' o dinheiro: "O verdadeiro campo
de batalhas entre as empresas de TV a cabo e as empresas telefonicas sera'
o de voz, e nao o da TV interativa. Porque neste setor ha' um mercado
garantido. Eu e voce gastamos 40 dolares, todos os meses, com transmissao
de voz. E voce vera' que as empresas de TVs a cabo entrarao na
concorrencia para tentar tomar esse mercado.". (Wall Street Journal,
19/06/95, R33)

ESTRATEGIA DE CIENCIA & TECNOLOGIA DO CANADA' FOI ADIADA
	O governo canadense adiou o lancamento de um relatorio sobre sua
estrategia nacional de ciencia e tecnologia, a apenas algumas semanas de
sua publicacao. O programa, baseado em meses de consultas publicas e
revisoes internas, deveria definir novas diretri zes sobre como Ottawa
devera' gastar 6 bilhoes de dolares anualmente em pesquisas e
desenvolvimento de ciencia e tecnologia. (Toronto Globe & Mail, 23/06/95,
B17)

JOGOS `A DISTANCIA
	Ha' meses que os jogadores dos video-games da Sega e da Nintendo
tem podido competir atraves de linhas telefonicas de longa distancia e,
ate' novembro, os jogadores de games de PCs poderao fazer a mesma coisa. A
Catapult Entertainment esta' trabalhando com a Intel para criar um espaco
para PCs em sua rede Xband, que permitira' que os usuarios de PCs desafiem
outros jogadores para duelos e outras competicoes, utilizando o software
especial da Catapult. O servico devera' custar menos de 10 dolares
mensais.  (Popular Science, julho de 95, p.44)

FCC PODERA' ELIMINAR AS PREFERENCIAS DAS MINORIAS NOS LEILOES
	Tendo em vista a recente decisao da Suprema Corte norte-americana,
a FCC esta' considerando cancelar as preferencias especiais para as
minorias e as mulheres, na segunda rodada de leiloes de licencas para
telefonia movel. "Nao se trata de uma volta atras em relacao `a promessa
feita pela comissao de promover programas para as mulheres e para as
minorias.", declarou um advogado graduado da agencia, que acrescentou, no
entanto, que as exigencias da Suprema Corte significam que a FCC tera' que
criar opcoes melhores para os tratamentos preferenciais. (Investor's
Business Daily, 23/06/95, A5)

MTV CODIFICA SEU SINAL NA EUROPA
	A emissora de TV musical por satelite, MTV, passara' a codificar
seu sinal na Europa, esperando com isso impedir que os atuais 10 milhoes
de espectadores nao pagantes assistam a seus programas. A MTV espera que a
manobra resulte em assinaturas suficientes para modificar sua relacao
media de renda, dos 90% de propagandas e 10% de assinaturas, para 70% de
propagandas e 30% de assinaturas. (Financial Times, 23/06/95, p.16)

FELIZES NA REDE
	Agradecemos muito `as 2.121 mensagens que recebemos, em resposta
`a pesquisa nao cientifica do Edupage, que perguntava se voce concordava
com a afirmativa "Minha vida diaria pessoal melhorou bastante por causa da
tecnologia da informacao.". Estamos bastante cientes de que os leitores
do Edupage nao representam a populacao em geral, mas queriamos saber se os
cidadaos de alto nivel cultural e familiarizados com computadores da Rede
tinham "ideias diferentes", como as declaradas por alguns criticos da
tecnologia. Bem, a maioria das pessoas que se utiliza da tecnologia esta'
"satisfeita". Os resultados da pesquisa foram: 56% concordaram plenamente
com a afirmativa, 31% concordaram para a maioria dos casos, 9% discordaram
para a maioria dos casos e 4 por cento discordaram totalmente. Muitos dos
seus votos vieram acompanhados por comentarios interessantes -- dos quais
alguns aparecerao em uma futura edicao de nossa revista impressa, Educom
Review. Para obter informacoes sobre como assinar a Educom Review, envie
mensagem para offer@educom.edu.
</pre>
