<title>Dia 07 de Junho de 1995</title>

<H2>Dia 07 de Junho de 1995</H2>
<pre>

DOBRE SUA RAM
	A ultima novidade em melhor aproveitamento da memoria do PC e' o
software "RAM doubler", que esta' sendo comercializado por diversas
empresas. Os programas usam tecnicas de compressao para compactar
elementos de dados nao essenciais ou estaticos dos programas, liberando
dessa forma mais espaco na memoria de acesso aleatorio para as funcoes
dinamicas. (Investor's Business Daily, 01/06/95, A8)
 
QUEM ESTA' GANHANDO DINHEIRO NA INTERNET?
	No ultimo ano, a Internet atraiu diversas iniciativas empresariais
mas, como comentou o presidente de uma empresa de consultoria, "A Internet
ainda nao provou ser comercialmente viavel.". Embora as empresas que
querem vender seus bens e servicos ainda estejam lutando, a maioria dos
empreendimentos bem sucedidos se encaixa em quatro categorias: provedores
de acesso `a Internet, que respondem por mais de 70% das iniciativas,
empresas de coleta de informacoes, que procuram obter dados organizados
dentro das fontes vastas e desorganizadas na Rede, empresas de
desenvolvimento de softwares que criam produtos para navegar na Rede, e
empresas de consultoria e treinamento sobre Internet. Entre as grandes
empreendedoras da Internet, acredita-se que somente a Netscape esteja
ganhando dinheiro, e isto so' aconteceu no inicio deste ano. (Investor's
Business Daily, 01/06/95, A8)
 
APPLE QUER FAIXA DE TRANSMISSAO
	A Apple Computer pediu `a FCC que separasse uma faixa no espectro
de radio, para ser utilizada em comunicacoes de dados sem fio em alta
velocidade, para cobrir pequenas distancias, como no interior de escolas e
comunidades rurais. A transmissao de dados em grandes distancias
utilizara' outras tecnologias de rede e frequencias. (Wall Street Journal,
01/06/95, B7)
 
COMPUSERVE AGRESSIVA NA EUROPA
	A Compuserve esta' agindo de maneira bastante agressiva para
proteger seu territorio de acao na Europa, anunciando que pretende
estabelecer uma central europeia, com o objetivo de dobrar sua base de
assinantes Europeus para 600 mil ate' maio de 1966. Aproximadamente 8 mil
novos assinantes estao se inscrevendo todos os dias, de acordo com a
empresa. Enquanto isso, seu concorrente em territorio proprio, a Europe
Online, esta' destacando seu "conteudo europeu profundo e persuasivo", e a
utilizacao de idiomas locais para diferenciar-se do seu concorrente
norte-americano. (Investor's Business Daily, 31/05/95, A18)
 
CHIPS MAIS RAPIDOS PARA NOTEBOOKS
	A Intel espera que seu novo chip Pentium de 90 megahertz eleve
seus portateis baseados no Pentium para o primeiro lugar do mercado de
vendas de computadores, e esta' alardeando sua capacidade de prolongar a
duracao das baterias e melhorar a performance. "Os usuarios moveis podem
executar os avancados aplicativos de mesa atuais, em notebooks Pentium,
sem comprometer a performance ou a duracao da bateria.", afirmou um dos
vice-presidentes da Intel. A Dell e a Hewlett-Packard lancaram novas
maquinas equipadas com o Pentium, com precos compreendidos na faixa entre
200 a 300 dolares. (Investor's Business Daily, 31/05/95, A18)
 
US WEST ADIA PLANOS DE CONSTRUCAO DE REDE
	A US West, operadora regional de telecomunicacoes baseada em
Denver, decidiu adiar seus planos de construir uma rede de voz, dados e
video em seu territorio de quatorze estados, logo apos o anuncio de uma
estrategia similar liberado na semana passada pela Bell Atlantic.
Defendendo-se dos comentarios de que a principal causa desses recuos tenha
sido o processo de regulamentacao da Federal Communications Commission, o
presidente da FCC, Reed Hunter, afirmou: "Eles sabem que nao estamos
criando barreiras. A dificuldade nao e' a FCC, mas saber se seus
investimentos produzirao algum retorno, e decidir se vale a pena correr o
risco. (Wall Street Journal, 01/06/95, B2)
 
BAIXA PORCENTAGEM DE ERRO NAS DECLARACOES
ELETRONICAS DE RENDA
	As declaracoes de renda enviadas eletronicamente nos Estados
Unidos estao apresentando uma taxa de erro de cerca de 1%, bastante
inferior aos 17% detectados nas declaracoes feitas em papel. (Wall Street
Journal, 31/05/95, A1)
 
ORGANIZACAO DE PESQUISAS DEFENDE O FIM DA FCC
	Um grupo de pesquisas de Washington, ligado a Newt Gingrich, esta'
pedindo o fim da Federal Communications Commission, e a sua substituicao
por um "Escritorio de Comunicacoes" bem menor, que ficaria ligado ao braco
executivo do governo. O plano da Progress & Freedom Foundations daria `as
estacoes de televisao a propriedade do espectro que utilizam, e o direito
de vende-los para concorrentes ou utiliza-los para fins mais lucrativos.
Os problemas de interferencias seriam resolvidos em tribunais, e o
fornecimento de servicos universais seria deixado a cargo dos estados. O
presidente da FCC, Reed Huntd destacou que as forcas do mercado jamais
substituiriam as funcoes desempenhadas pela agencia. "A concorrencia nao
vai levar a tecnologia das comunicacoes ate' todas as salas de aula do
pais, nao vai garantir servicos telefonicos acessiveis a todos os lares e
nao vai garantir a transmissao de televisao pelo ar para todos os lares do
pais.". (Wall Street Journal, 31,05/95, A3)
 
POT-POURRI ON-LINE
	Para quem quiser navegar pelos provedores de servicos on-line
antes de decidir-se por um, agora existe a Online Discovery, da Global
Village Communications. O CD-ROM, que custa 49 dolares, tras softwares e
assinaturas limitadas para a CompuServe, AmericaOnline, Prodigy, GEnie,
Reuters Money Network e Netcom, junto com seus programas de comunicacoes e
software. (Business Week, 06/05/95, p.21)
 
SEGURANCA NA INTERNET -- CONTRADICAO OU FATO?
	William Cheswick, um pesquisador veterano da Bell Labs, acha que a
Internet e' um negocio arriscado e uma "vizinhanca ruim, onde os hackers
podem obter informacoes clandestinamente no fluxo de dados... Ja' esta'
mais do que na hora de serem usadas sessoes criptografadas.". Contudo, o
banqueiro e consultor de investimentos Ted Prince disse: "O que temos e'
um numero irrisorio de incidentes de hackers, numero esse que foi
exagerado pela midia em geral. E' mais facil ter o numero do seu cartao de
credito roubado em um restaurante ou em um telefone publico, do que na
Internet. (Computerworld, 29/05/95, p.96)
 
CRIMES INFORMATAS AVANCAM PELO MUNDO
	O escritor de ficcao cientifica Bruce Sterling preve que havera'
uma onda de crimes digitais em todo o mundo, na medida em que mais paises
forem conectados `a rede, e a vigilancia continuar ineficiente. "No que
diz respeito `as cenas dos crimes de computadores, e' muito provavel que a
ocorrencia desse casos na America do Norte venha a ser relativamente
baixa, em comparacao com o possivel aumento na ex-Uniao Sovietica, na
Europa Oriental e no sul asiatico. Os paises que tiverem organizacoes de
lavagem de dinheiro, passarao a ter organizacoes de lavagem de dados. Os
paises que, hoje em dia, tem governos repressivos e inteligentes e
terroristas revolucionarios determinados, passarao a ter governos
repressivos e inteligentes e terroristas revolucionarios determinados com
computadores. (Wired, maio de 95, p.122)
 
UTILIZACAO CIVIL DO SISTEMA GLOBAL DE LOCALIZACAO
	Utilizando 24 satelites em orbita da Terra, o Sistema Global de
Localizacao foi projetado originalmente para informar `as tropas, tanques
e avioes militares, suas posicoes exatas, mas atualmente o sistema esta'
gerando anualmente 2 bilhoes em operacoes comerciais. Dois estudos feitos
pelo governo norte americano (da National Academy of Public Administration
e do National Research Council) recomendaram a adocao de algumas medidas
que poderao elevar esse valor para 30 bilhoes de dolares em negocios, ate'
o ano 2005. Mas esses mesmos estudos tambem alertaram para o fato de que o
sistema devera' ser mantido sob o controle do governo, para manter a
confiabilidade e garantir a lideranca dos Estados Unidos nessa tecnologia.
(New York Times, 01/06/95, A13)
 
HIPERTEXTO E ESPAGUETE
	Howard Strauss, da Universidade de Princeton, acha que os
criadores dos paginas da WWW precisam reaprender algumas antigas licoes:
"Nos aprendemos como usar notas de rodape', sumarios e indices de maneira
eficiente, mas parece que, em nossas paginas com formato eletronico, nos
esquecemos de tudo isso. Usamos um numero demasiado de ligacoes de
hipertexto, empregando-os em locais onde nao fazem sentido, ignoramos a
diferenca entre notas de rodape' e sumarios, fazemos ligacoes com locais
estranhos e inesperados, ignoramos formas padrao de ligacao, e acabamos
confundindo, em vez de esclarecer, com estruturas de hipertexto que fazem
pratos de espaguete parecerem bons modelos de organizacao. (Edutech
Report, maio de 95, p.1)
</pre>
