<title>Dia 09 de Junho de 1995</title>

<H2>Dia 09 de Junho de 1995</H2>
<pre>

EDUPAGE GANHA VERSAO EM FRANCES
	Temos o prazer de anunciar que, a partir de agora, o Edupage
tambem estara' disponivel em uma versao em frances, preparada em Montreal
por Josee Proulx e disponivel em proulxj@ERE.UMontreal.CA. Enviamos nossas
boas vindas a todos os nossos leitores do idioma frances! ...Il nous fait
plaisir de vous annoncer qu'Edupage sera dorenavant publiee en francais.
La version francaise est realisee a Montreal par Josee Proulx et est
disponible a l'adresse suivante: proulxj@ERE.UMontreal.CA. Nous souhaitons
la bienvenue a tous nous lecteurs de langue francaise! 
 
AMERICA ONLINE PRETENDE LANCAR SERVICO EXCLUSIVO DE ACESSO `A INTERNET
	A America Online esta' adquirindo a unidade Global Network
Navigator da O'Reilly & Associates Inc., e pretende lancar um servico
exclusivamente para o acesso `a Internet, independente do seu servico AOL
comercial. A manobra foi executada logo apos uma iniciativa parecida,
feita pela CompuServe. O presidente da AOL, Stephen Case, disse que ele
acha que os consumidores ainda vao optar pelo servico completo da America
Online, ao contrario do nicho exclusivo da Internet, mas que esta'
cobrindo todas as bases. "A unica maneira de entender a dinamica de um
mercado e' participando desse mercado.". (Wall Street Journal, 02/06/95, B4)
 
VOCALTEC ATUALIZOU O SOFTWARE TELEFONICO DA INTERNET
	A empresa VocalTec, sediada em Nova Jersey, esta' lancando uma
nova versao do seu software Internet Phone, por 99 dolares, que permite
conversacoes em full-duplex pela Internet. A versao original era em
half-duplex, o que significa que as duas partes nao podiam falar ao mesmo
tempo. Alem disso, a empresa permitiu que a NetCom Online Communications
Services Inc. incluisse o Internet Phone no seu software de interface para
a Internet, Netcruiser. Ainda ha' um obstaculo a ser vencido, que e' o
fato de os programas full-duplex nao funcionarem com a maioria das placas
de som instaladas atualmente. "Ainda ha' muito poucas placas de som que
podem tirar proveito do full-duplex. Sao voltadas mais para o hobista do
que para as comunicacoes de longa distancia.", afirmou um analissta do
setor. (Investor's Business Daily, 02/06/95, A15)
 
ORGAO DE PATENTES PROPOE NOVAS REGRAS PARA SOFTWARES
	O U.S. Patent & Trademark Office, orgao norte-americano que
controla as patentes, esta' mudando de ideia, e propos novas regras para a
concessao de patentes para programas de computadores. Baseando-se em
recentes sentencas de tribunais, as novas regras orientam os analistas
para se concentrarem na determinacao do fato de a invencao ser ou nao
genuinamente nova, util, ou merecedora de patente de alguma outra maneira.
"No passado, muitas vezes eles se detiveram mais em formalidades.",
afirmou o comissario Bruce Lehman. "O elemento basico e' que essas regras
fazem com que os analistas realmente se atenham no que e' a invencao.". Os
especialistas preveem que, apesar da mudanca, as leis de direitos autorais
continuarao sendo a protecao basica conquistada pelos produtores de
softwares, principalmente no que diz respeito aos programas vendidos no
comercio, e voltados para os consumidores. (Wall Street Journal, 02/06/95, A3)
 
INCORPORAR OU NAO INCORPORAR A MICROSOFT NETWORK?
	O Departamento de Justica norte-americano ainda esta' analisando
as reclamacoes dos provedores de servicos on-line contra os planos da
Microsoft, que pretende incorporar software para a Microsoft Network no
sistema operacional Windows 95, cujo lancamento esta' programado para
agosto. Ainda nao ficou claro o que acontecera', mas uma das
possibilidades sera' a permissao da incorporacao da Microsoft Network, mas
exigindo que a Microsoft tambem coloque, no Windows 95, o acesso aos
servicos on-line concorrentes. (Newsweek, 05/06/95, p.40)
 
MICROSOFT DEVERA' TESTAR SOFTWARE PARA CAMPUS VIRTUAL
	A Microsoft esta' testando softwares educativos on-line em New
Brunswick, que poderao, eventualmente, substituir os treinamentos
empresariais tradicionais. A empresa afirmou que a rede educativa
interativa permitira' que ate' mesmo as empresas de pequeno porte possam
atualizar o treinamento de seus funcionarios. A provincia foi escolhida
devido `a sua "incrivel" infra-estrutura eletronica e de telecomunicacoes.
(Toronto Financial Post, 31/05/95, p.42)
 
FRAUDE ELETRONICA GLOBAL
	Um estudo feito recentemente pela KPMG mostrou que fraudadores
internacionais estao roubando as empresas canadenses, entrando nos
sistemas de computadores e executando pesquisas de alta tecnologia nos
cartoes de credito. Cinquenta e cinco por cento das maiores empresas do
Canada' ja' foram vitimas desse tipo de fraude em 1994, sofrendo prejuizos
que totalizaram 121 milhoes de dolares, dos quais apenas 10% foram
recuperados. (Montreal Gazette, 31/05/95, C2)
 
SPRINT PROCESSA EMPRESAS TELEFONICAS
	A Sprint entrou com um processo de 60 milhoes de dolares contra a
Bell Canada e a BC Tel, por prejuizos sofridos entre 1991 e 1995, devido a
descontos e comissoes ilegais oferecidos a hoteis e moteis. (Toronto Globe
& Mail, 01/06/95, B6)
 
ATORES CONTRA SATELITES
	A uniao que representa os atores canadenses afirmou que os
servicos de satelites sao uma ameaca para a cultura do Canada', e querem
que as empresas que operam os servicos de transmissao direta de TV por
satelite paguem, pelo menos, 10% da renda bruta, para ajudar na producao
de filmes e programas de televisao canadenses. (Toronto Star, 31/05/95,
E3)
 
HIPERTEXTO SIM, LITERATURA NAO
	O cientista de computadores de Yale e escritor David Galerntner
afirmou que "No sistema de hipertexto, o computador permite que voce junte
os fragmentos de texto e leia tudo na tela, na sequencia que lhe for mais
conveniente, sem orientacao do autor, como se voce fosse um passaro,
construindo alegremente seu ninho com pedacos aleatorios de lixo. Mas se
for sacrificada a arquitetura da literatura, o desenrolar logico dos
enredos ou dos planos, a literatura estara' sendo sacrificada.".
Gelerntner afirmou que "a literatura em hipertexto nao e' somente ruim,
mas tambem idiota.". Educacao ruim e' um mal grave; o hipertexto, como
literatura, e' algo sem sentido, que desaparecera' assim que surgir o
proximo modismo. (National Review, 12/06/95, p.65)
 
A MULTIMIDIA E' UMA AREA TOTALMENTE DIFERENTE
	Em um novo livro sobre profissoes na multimidia, a pesquisadora da
Interval Research, Brenda Laurel, afirmou: "Estamos trabalhando com uma
midia na qual ninguem mais possui uma identidade como autor. Muitos de nos
ainda nao se deu conta disso, mas o que acontece e' que nao estamos mais
no mercado de autoria narrativa, ou mesmo levando as pessoas a construirem
uma narrativa especifica, ou a encontrar o caminho correto para o que quer
que seja.". O livro explica a grande variedade de profissoes ligadas `a
multimidia, incluindo produtores, agentes, diretores de criacao,
projetistas de interfaces, projetistas de jogos, autores de scripts,
editores/moderadores, especialistas em conteudo, especialistas em efeitos,
programadores, etc.  (Careersin Multimedia, Vivid/Ziff-Davis. Informacoes: 
ken@vivid.com)
</pre>
