<title>Dia 11 de Maio de 1995, terceira parte</title>

<H2>Dia 11 de Maio de 1995, terceira parte</H2>
<pre>

JUIZ GREENE DA' O SINAL VERDE PARA ACORDO SOBRE CELULARES DE LONGA DISTANCIA
	O juiz Harold Greene aprovou um pedido, feito pelas sete empresas
regionais da Bell, de autorizacao para oferecerem servicos de telefonia
celular de longo alcance em todos os Estados Unidos, porem com algumas
condicoes. "Antes que as empresas regionais possam entrar em um novo
mercado, terao que mostrar que nao existe grande possibilidade de que
usarao seu monopolio para criar obstaculos contra a concorrencia nesses
mercados.", afirmou Greene na ordem. Alem disso, s empresas ficarao
restritas `a oferta de servicos de longa distancia nas areas onde os
concorrentes puderem passar completamente por fora das redes da Bell,
atraves de provedores alternativos. Os RBOCs deverao oferecer os servicos
de longa distancia atraves de subsidiarias, e ficarao limitadas `a
reembalagem e revenda dos servicos de outras empresas de longa-distancia.
(Investor's Business Daily 01/05/95 A5)
 
VIRANDO MAIS UMA PAGINA NA SIMON & SCHUSTER
	Com um olho no futuro, os editores Simon & Schuster estao juntando
suas unidades comerciais, de treinamento e assistencia de saude com seu
grupo internacional, e estao expandindo seu Educational Technology Group.
"Existem duas forcas impulsionando as grandes modificacoes nas
publicacoes.", comentou o presidente da empresa. "Uma e' a tecnologia e a
outra e' a globalizacao. A organizacao que montamos aumentou nossa enfase
nessas areas. Queremos ser o principal provedor de conteudo baseado em
tecnologia na economia mundial. E' dessa maneira que estamos tentando nos
posicionar.". (New York Times 01/05/95 C8)
 
CD-ROMs REGRAVAVEIS
	Dez importantes empresas de computadores e midia chegaram a um
acordo quanto ao formato a ser utilizado no compact disk regravavel. Esses
CDs chegarao `as lojas em 1996, permitindo que as empresas armazenem e
revisem grandes quantidades de dados. "Para a comunidade comercial sera'
uma maneira economicamente eficiente de armazenar dados, ao mesmo tempo
permitindo a realizacao de alteracoes, sempre que necessario.", afirmou um
porta-voz da Philips Electronics. O novo formato sera' totalmente
compativel com os compact disks existentes, eliminando a necessidade de
reconfigurar as fabricas de CDs, e os fabricantes de drives de CD-ROMs
terao que fazer apenas algumas pequenas alteracoes nos drives existentes.
"Chegara' o dia em que os consumidores estarao usando compact disks
regravaveis em seus computadores pessoais. Isso provavelmente criara' um
novo mercado para os compact disks. E' um grande negocio devido `a grande
capacidade de armazenamento, se comparado com os disquetes comuns.",
afirmou o porta-voz da Philips. (Wall Street Journal 02/05/95 B6)
 
REVISTA CONDE NAST TRAVELER GANHA UMA PAGINA NA TEIA
	A editora de revistas Conde Nast pretende criar versoes para a WWW
de todas as suas quatorze principais revistas, e comecara' em junho
proximo com uma versao da revista Conde Nast Traveler chamada CondeNet,
que oferecera' relatorios detalhados sobre mais de 250 ilhas e 1000
hoteis. Futuramente os leitores poderao fazer reservas de passagens
aereas, hoteis e restaurantes, verificar as condicoes dos locais, e
realizar conversas on-line com viajantes que ja' tiverem visitado os
locais que estiverem planejando visitar. O presidente da Conde Nast
afirmou que a CondeNet e' "um investimento serio cujo valor esta' na casa
dos sete digitos", e que "algum dia isso ainda sera' um negocio de enormes
proporcoes para nos.". (New York Times 01/05/95 C8)
 
NOVO CHIP DA SILICON GRAPHICS
	O conjunto de chips Magic Carpet (Tapete Magico) da Silicon
Graphics utiliza o mais novo chip RISC da empresa e a tecnologia utilizada
atualmente em suas estacoes de trabalho de ultima geracao. Os executivos
da empresa estao confiantes de que o novo conjunto de chips baixara' o
preco dos aparelhos de TV para menos de 500 dolares. O custo estimado dos
aparelhos que estao sendo usados no teste da Time Warner em Orlando e' de
3 mil dolares. O conjunto de chips Magic Carpet exige menos largura de
banda do que as versoes anteriores, e pode ser facilmente programado para
ler qualquer padrao de video, audio ou grafico. "Isso constitui uma
vantagem significativa, pois o ambiente dos padroes continua em mutacao.",
comentou um analista da Dataquest. (Wall Street Journal 01/05/95 B6)

CARTOES NA INTERNET
	Esta' sem tempo para comprar um cartao para o Dia das Maes?
Relaxe, e faca sua encomenda pela Internet. Pelo preco de 3,99 dolares
cada, cobrados atraves do cartao de credito, voce pode escolher um cartao,
dar um toque pessoal e digitar o nome e o endereco do destinatario. Em
seguida as empresas American Greetings e PC Flowers & Gifts colocam no
correio para voce. Deixe a correria para outro ano.
http://www.pcgifts.ibm.com (Wall Street Journal 02/05/95 B6)
 
TELECOMMUTERS SAO MAIS PRODUTIVOS
	Um estudo realizado pela British Telecom, relatado pelo Gartner
Group, revelou que o telecommuter (pessoa que trabalha em casa, ligado `a
empresa atraves de redes de computadores) medio trabalha 11% mais horas do
que seus colegas que trabalham nos escritorios, e que a reducao dos custos
-- devido `a menor necessidade de espaco nos escritorios, e outros itens
relacionados -- somam uma economia de 17% do total das despesas anuais com
salarios. (Fortune 01/05/95 p.123)
 
RADIO INTERNET
	Outro desenvolvimento no crescimento do radio na Internet e' o
anuncio da Progressive Network, que pretende liberar o codificador que
permite que os programadores criem arquivos de audio, que podem ser lidos
por computadores. Progressive Network e' a empresa baseada em Seattle que
criou o RealAudio, sistema que tira proveito da tecnologia de compressao
digital, para transmitir som com qualidade de radio AM pela Internet, em
tempo real. (Time 01/05/95 p.41)
 
NOVAS LEIS CANADENSES PARA LIMITAR A INTERNET
	O Ministro da Justica canadense declarou que o governo esta'
analisando leis que limitarao a utilizacao nociva da Internet, com medidas
para conter o fluxo de mensagens que divulgam o odio no Canada'. Ele fez
essas declaracoes no Cairo, durante uma sessao internacional da Internet,
onde um dos temas principais foi a violencia e a midia de massa. (Toronto
Globe & Mail 02/05/95 A14)
 
SISTEMA PARA CONTER FRAUDES DE TELEFONES
	Um novo sistema da Northern Telecom detecta fraudes de longa
distancia, atraves de uma combinacao de tecnologias, para identificar e
impedir a utilizacao ilegal, empregada por hackers que entram nos sistemas
PBX das empresas para ganharem acesso `as linhas de longa-distancia.
(Toronto Financial Post 02/05/95 p.7)
 
PROCESSO POR PORNOGRAFIA INFANTIL VIA INTERNET
	Pela primeira vez no Canada', foi registrado um processo contra
uma pessoa que possuia material de pornografia infantil, conseguido
atraves da Internet. A policia de Calgary afirmou que as provas que
conseguiram indicam que existe uma quadrilha nacional e internacional de
pornografia infantil na Rede. (Toronto Globe & Mail 28/04/95 A4)
 
EDITORES DE CD-ROMs INICIAM A BATALHA NA TEIA
	Num momento em que os computadores multimidia estao finalmente
chegando ao consumo de massa, e os titulos de CD-ROM estao comecando a
sair das lojas para as residencias, a Web esta' surgindo como a maior
ameaca para os editores de CD ROMs. "A World Wide Web esta' causando um
grande impacto sobre a maneira como as pessoas encaram as publicacoes
tecnicas.", declarou um consultor do setor. A mais nova solucao, segundo
um editor de CD-ROM, e' o modelo hibrido, onde empresas, organizacoes
profissionais e produtores de softwares colocarao informacoes estaticas em
CD-ROM e permitirao que os usuarios tenham acesso a atualizacoes on-line.
(Investor's Business Daily 02/05/95 A8)
 
PASSEIO GRATIS NA VIA EXPRESSA DE INFORMACOES
	O governo federal norte-americano esta' financiando o National
Electronic Open Meeting para incentivar o publico em geral a
familiarizar-se mais com a tecnologia da era da informacao. Nas proximas
duas semanas, qualquer pessoa podera' conectar-se a 362 bibliotecas
publicas, escolas, escritorios e lojas em todo o pais, para ligarem-se a
grupos de discussao eletronica sobre "as pessoas e seus governos na era da
informacao.". Envie mensagem para info@meeting.fedworld.gov, ou pesquise
na http://meeting.fedworld.gov. (Miami Herald 02/05/95 A5)
 
PARCERIA DE COMPUTADORES E BIBLIOTECAS
	"Building Partnerships: Computing and Library Professionals"
(Construindo Parcerias: Profissionais de Informatica e Biblioteconomia) e'
um compendio de documentos que descrevem a necessidade de as pessoas que
trabalham com bibliotecas e computadores trabalharem juntas no campus. O
livro, com 102 paginas, foi editado por Sheila Creth e Anne Lipow, e esta'
sendo vendido por 29 dolares pela Library Solutions Press,
info@library-solutions.com. (Chronicle of Higher Education 05/05/95 A37)

</pre>
