<title>Dia 11 de Maio de 1995</title>

<H2>Dia 11 de Maio de 1995</H2>
<pre>

NOVO SUPERINTENDENTE DA PRODIGY ERA DA MTV
	Mostrando estar tentando atingir um publico mais jovem, a Prodigy
selecionou como seu superintendente o antigo presidente do canal de musica
VH-1 da MTV. Explicando como ele atraira' pessoas de vinte e poucos e
trinta e poucos anos para o servico on-line Prodigy, o novo
superintendente Edward Bennet declarou: "Basta procurar os artistas e
criar salas de bate papos, onde os assinantes possam conversar com eles
on-line. Assim atrairemos os fans que seguem esses artistas.". (Atlanta
Journal-Constitution 27/04/95 F1)
 
CALIFORNIA PODERA' ABRIR MERCADOS TELEFONICOS LOCAIS
	A California Public Utilities Commission pretende permitir que as
empresas de TV a cabo e operadoras de longa distancia concorram com a
Pacific Bell e a GTE, pelo seu mercado telefonico de seis bilhoes de
dolares. Em compensacao, a Pacific Bell nao podera' participar do negocio
de 66 bilhoes de dolares do mercado de longa distancia, pois essa decisao
e' controlada pelo juiz federal Harold Greene, que dividiu a Bell System
em 1984, e esta' relutante em permitir que as empresas regionais da Bell
concorram fora dos seus proprios territorios geograficos. (New York Times
27/04/95 C18)
 
SONY RECRUTA ALIADOS NA GUERRA DO VIDEO DISCO
	Tres fabricantes japoneses de unidades acionadoras de disco se
uniram para defender o padrao proposto pela Sony Corp. a ser usado na nova
geracao de videodiscos. Mitsumi Electric Co., Teac Corp. e Ricoh Co.
aderiram ao formato Sony-Philips, destacando que o mesmo e' compativel com
os compact discs existentes, e que os usuarios do novo sistema poderao
continuar usando seus CD ROMs antigos. "Sera' mais pratico se os DVDs,
como perifericos de computadores, tiverem compatibilidade com os CD-ROMs
ja' existentes", afirmou um porta-voz da Mitsumi. (Investor's Business
Daily 26/04/95 A15)
 
BELL ATLANTIC QUER ADIAR SISTEMA DE VIDEO
	A Bell Atlantic pediu `a FCC o adiamento da analise de dois de
seus aplicativos de video. A empresa havia inicialmente pedido permissao
para construir um sistema hibrido, de fibras oticas e cabos coaxiais, em
sua area de atuacao, mas agora soube-se que a empresa esta' reconsiderando
os meritos da tecnologia "digital comutada", que oferece uma capacidade
muito maior. A alteracao permitira' que a empresa opere de uma forma mais
parecida com uma empresa de TV a cabo -- oferecendo programacao de video
sem ter que permitir que empresas concorrentes peguem carona em sua rede.
Em sua carta `a FCC, a Bell Atlantic observou que "ocorreram avancos
significativos na tecnologia e em outras areas", o que fez com que a
empresa "reavaliasse" seus planos. (Wall Street Journal 26/04/95 B6)
 
PERGUNTE AO PROGRAMA
	A Microsoft esta' trabalhando com a Computer Associates para criar
programas que permitirao que os usuarios facam perguntas sobre como
executar tarefas especificas, e em seguida apresentarao instrucoes
passo-a-passo. Batizado de Answer Wizard, o produto contem o sistema
operacional Windows NT Server e o banco de dados SQL Server, alem do
software Unicenter, da CA, que auxilia no controle de grandes sistemas de
computadores. (Wall Street Journal 26/04/95 B7)
 
EFEITOS DO ATENTADO EM OKLAHOMA
	Em consequencia do atentado a bomba ocorrido na cidade de
Oklahoma, espera-se ver um pedido do Diretor do FBI, Louis Freeh, de uma
apropriacao de quinhentos milhoes de dolares, juntamente com a conta do
telefone digital. Alem disso, as preocupacoes relacionadas com a
privacidade dos servicos de identificacao de chamadas, e com medidas como
a emenda Exxon, serao varridas do mapa, e a vigilancia da Internet sera'
aumentada. Finalmente, os servicos de seguranca e alarme baseados no
espectro magnetico serao muito procurados, criando uma pressao sobre a FCC
para que crie regras que garantam maior protecao contra interferencias
nessas frequencias. (Telecommunications Policy Review 23/04/95 p.4)
 
DEUTSCHE TELEKOM ATACA PROJETO DE DESREGULAMENTACAO
	Atacando os planos do governo alemao, que pretende desregulamentar
as telecomunicacoes, a estatal alema Deutsch Telekom afirmou que esses
planos as deixariam apenas com atividades nao lucrativas, como servicos de
telefones residenciais em todo o pais, permitindo que concorrentes menores
disputem o lucrativo segmento comercial do mercado. "Nada impedira' as
empresas de competirem com a Deutsche-Telekom para tornarem se empresas
independentes.", afirmou um documento da empresa. A resistencia `a
desregulamentacao podera' custar `a empresa a alianca que propos `a
Sprint, pois as autoridades norte-americanas aprovaram esse acordo tendo
como condicao a liberacao do mercado alemao de telecomunicacoes.
(Financial Times 25/04/95 p.3)
 
HP ANUNCIA DEFEITO EM CHIP EM ALGUNS SISTEMAS
	A Hewlett-Packard declarou que descobriu falhas em chips que
afetam os sistemas HP-9000 distribuidos a partir de outubro ou novembro
passados. Esses defeitos podem causar panes nos computadores ou corromper
dados, e a empresa fornecera' a substituicao gratuita dos chips
defeituosos. Os clientes poderao ligar para 1-800-500-1176. (Wall Street
Journal 27/04/95 B5)
 
CONSUMIDORES DISPOSTOS A GASTAREM MAIS EM PCs
	O investimento medio em novos PCs domesticos subiu 200 dolares, de
1.499 dolares em 1994 para 1.699 dolares este ano. "As pessoas querem mais
performance, e estao doidas para pagar por isso.", afirmou o presidente de
marketing de produtos da Packard Bell. Embora as expectativas para as
vendas deste ano sejam 30% superiores `as verificadas no ano passado, isto
ainda representa um declinio em relacao ao impressionante aumento de 50%
do ano passado. Ainda assim, algo entre 75% e 65% (dependendo da fonte da
pesquisa) dos 96 milhoes de lares norte-americanos nao possuem PCs,
deixando bastante espaco para crescimento, e atualmente as vendas para o
mercado domestico estao movendo o desenvolvimento e a adocao de muitas das
mais recentes tecnologias em computadores. (Investor's Business Daily
27/04/95 A6)
 
USO INDEVIDO DA INTERNET NO AMBIENTE DE TRABALHO
	Embora um terco dos entrevistados em uma recente pesquisa tenham
informado que puniram empregados por terem usado indevidamente os servicos
on-line da Internet durante o horario de trabalho, oitenta por cento
afirmaram que suas empresas nao tinham qualquer politica definida sobre
atividades on-line, optando em vez disso por uma politica do tipo "nao
pergunte, nem responda". Setenta por cento declararam que o acesso on-line
estimulou o aumento da producao, enquanto outros quinze por cento
afirmaram que houve um declinio na produtividade, como resultado do acesso
aos servicos on-line. A Microsoft esta' testando uma versao empresarial do
seu software Microsoft Network, que bloqueara' a maior parte do conteudo
nao empresarial das mensagens, inclusive as salas de bate-papo. Se for bem
sucedido, outros servicos comerciais poderao implementar recursos
similares. (Information Week 01/05/95 p.38)
 
REPOSITORIO MULTIMIDIA
	Podem-se encontrar varios artigos multimidia sobre diversos
assuntos cientificos na Teia, uma contribuicao dos cinco centros de
supercomputacao da NSF. O repositorio " Computational Science Highlights"
pode ser acessado nas seguintes URLs:
http://www.ncsa.uiuc.edu/scms/Metascience/Home/welcome.html
http://pscinfo.psc.edu/MetaCenter/MetaScience/welcome.html
http://www.tc.cornell.edu/Research/MetaScience/
http://www.ucar.edu/docs/MetaSoft
http://www.sdsc.edu/MetaScience/welcome.html
(Chronicle of Higher Education 28/04/95 A53)

MODEM PARA CONFERENCIA DE MESA
	O fax-modem Sportster Vi 28.8 da U.S. Robotics possui tecnologia
digital para transmissao simultanea de dados e voz, permitindo que os
usuarios de PCs conversem e enviem dados ao mesmo tempo, utilizando linhas
telefonicas comuns. (Investor's Business Daily 27/04/95 A6)
 
NOVO CD PROMOVE VIA EXPRESSA DE INFORMACOES
	A Industry Canada esta' enviando a 10 mil pequenas empresas o
CD-ROM "Insight Plus", que fornece informacoes sobre comercio local e
internacional, transferencia de tecnologia, oportunidades de
licenciamento, politica e regulamentacao do governo, relatorios de
pesquisas de mercado e uma lista de enderecos para contato. (Toronto Globe
& Mail 26/04/95 B6)
 
DOIS NOVOS CHIPS PENTIUM
	A PC Week divulgou que a Intel lancara' dois novos chips Pentium
-- um chip de 90 megahertz para computadores notebook e um de 135
megahertz para os modelos de mesa. (Wall Street Journal 27/04/95 B5)
 
REGISTRO DE CANDIDATOS A EMPREGO NO CANADA'
	A JCI Job Canada Inc., sediada em Toronto, cobra 25 dolares dos
candidatos para que coloquem seus curriculos em um sistema que registra
milhares de candidatos a emprego, concebido para atender a empregadores.
Para cada curriculo analisado, os empregadores pagam 7 dolares. As
pesquisas sao feitas on-line, baseadas nos requisitos necessarios para o
trabalho. (Toronto Star 25/04/95 C3)
 
USO RADICAL DA INTERNET
	A Internet esta' entre as ferramentas de comunicacao favoritas de
grupos militantes, como o Texas Militia, cujo fundador afirmou: "O modelo
que devemos usar em nossa rede de comunicacoes e' a Internet: um sistema
denso de armazenagem e envio de informacoes, que pode suportar grandes
rupturas sem deixar de ser capaz de fazer com que as mensagens cheguem a
seus destinos.". (New York Times 27/04/95 A12)
</pre>
