<title>Dia 11 de Maio de 1995, segunda parte</title>

<H2>Dia 11 de Maio de 1995, segunda parte</H2>
<pre>

EMPRESAS BELL PODEM OFERECER SERVICOS DE LONGA DISTANCIA SEM FIO 
	O juiz federal norte-americano Harold H. Greene, que dissolveu o
sistema Bell em 1984, determinou que, de agora em diante, qualquer uma das
empresas regionais da Bell podera' concorrer no mercado de servicos longa
distancia sem fio e telecomunicacoes pessoais, desde que a Bell tenha pelo
menos um concorrente no seu mercado local, ofereca servicos sem fio em uma
subsidiaria independente, e nao tente comercializar servicos locais e de
longa distancia em um so' pacote. (New York Times 29/04/95 p.17)
 
PRESOS EXECUTIVOS FINLANDESES POR PIRATARIA DE SOFTWARE
	Dois alto executivos de uma empresa finlandesa foram condenados a
sessenta dias de prisao e ao pagamento de uma multa de 72 mil dolares, por
terem utilizado copias ilegais do programa de desenho auxiliado por
computador, AutoCAD. A punicao severa foi uma vitoria para a Business
Software Alliance, que afirma que suas empresas associadas sofreram
prejuizos num total de 15,2 bilhoes de dolares no ano passado, em
consequencia de pirataria. (Financial Times 28/04/95 p.3)
 
OPORTUNIDADE PARA BANQUEIROS
	A decisao do departamento de justica norte-americano de bloquear o
acordo de 2 bilhoes de dolares entre a Microsoft e a Intuit, deu aos
bancos uma oportunidade para respirar, mas nao por muito tempo. "Isso nos
dara' uma chance de fazer alguma coisa de significativo ate' o final do
ano.", declarou o vice-presidente senior da Huntington Bancshares. Alguns
analistas ate' mesmo especularam que um grande banco devera' agarrar a
Intuit, caso o acordo nao se realize - um cenario negado pela maioria dos
banqueiros. Um estudo feito recentemente pela Killen & Associates previu
que a Microsoft tera' um papel importante no setor bancario ate' o ano
2000, com ou sem a Intuit, e um vice-presidente senior da First Union
alertou: "Se voce acha que pode ficar tranquilo tendo em vista a decisao
da justica, provavelmente nao esta' atento `a realidade do mercado.".
(Tampa Tribune 29/04/95 B&F8)
 
BIG BLUE ESTACIONADA NOS GRANDES SISTEMAS
	Todo mundo concorda que a IBM esta' mais solida financeiramente do
que ha' cerca de dois anos atras, mas uma analise mais cuidadosa nos
numeros da empresa mostra que a Big Blue ainda esta' colhendo a maior
parte dos seus lucros dos negocios realizados com mainframes, uma
estrategia que, a principio, a colocou em maus lencois. As vendas dos
mainframes cresceram 30 por cento, ou mais, no primeiro trimestre,
respondendo por quase a metade da taxa de 23 por cento de crescimento da
IBM em hardware. A grande ironia e' que a explosao dos mainframes foi
detonada pela decisao que a IBM tomou em 1992, de cortar a producao em 40
por cento, seguindo a teoria de que as vendas dos grandes sistemas cairiam
pela metade nos dois anos seguintes. Preocupados com a possibilidade de os
dias dos grandes sistemas estarem contados, os clientes iniciaram uma
febre de compras de todas as maquinas de grande porte, e a linha mais
antiga da IBM estara' esgotada ate' o final do ano. Enquanto isso, a nova
linha de computadores "mainframe leve" da IBM nao esta' apresentando um
nivel de venda tao bom quanto o esperado, com as maquinas mais antigas
vendendo mais do que as novas, numa relacao de dois para um. (Wall Street
Journal 28/04/95 A1)
 
SERA' QUE DA' TEMPO DE LIGAR PARA A URGENCIA?
	O Wireless Technology Group afirmou que os estudos mostraram que,
em alguns casos, telefones celulares colocados proximos ao peito podem
fazer com que os marca-passos tenham seus ajustes modificados, ou
interrompam e reiniciem o funcionamento. O grupo alertou que os novos
telefones digitais de bolso constutuem uma preocupacao especial --
principalmente devido ao fato de que o numero desses aparelhos devera' se
multiplicar com a proliferacao dos servicos pessoais de telecomunicacoes.
Nao foram observados tais efeitos nos antigos modelos analogicos de
telefones celulares. Um porta-voz da Medtronic, um fornecedor de
marca-passos, declarou que a empresa esta' aconselhando os pacientes que
usam marca-passos a desligarem seus telefones portateis quando os mesmos
estiverem no bolso da camisa, manterem os telefones a uma distancia de dez
a doze polegadas do peito quando os estiverem utilizando, e segurarem os
telefones no ouvido do lado oposto ao lado onde o marca-passos tiver sido
implantado. (Wall Street Journal 28/04/95 B1)
 
CRITICAS AO ESPACO CIBERNETICO
	Um novo livro chamado "Silicon Snake Oil", de Clifford Stoll, o
cientista e especialista em seguranca de computadores que detectou um
grupo de espionagem que utilizava a Internet, documentou seu desdem pela
maior parte do que se passa no espaco cibernetico. "A supervia de
informacoes nos esta' sendo vendida como fonte de informacoes, mas o que
ela realmente esta' oferecendo sao dados... ao contrario de dados,
informacoes tem utilidade, acuracidade, um pedigree.". Ele afirmou que o
que falta no espaco cibernetico e' "alguem que diga que isto ou aquilo nao
esta' bom... Os editores servem como termometros de qualidade, e a maior
parte do tempo util de um editor e' empregada em dizer 'nao'". (New York
Times 30/04/95 E7)
 
DISTRIBUICAO DE SOFTWARE PELO TELEFONE
	Na medida em que a velocidade dos modems aumenta, a distribuicao
de software para usuarios finais atraves das linhas telefonicas podera'
tornar-se bastante comum dentro de poucos anos, e ja' existe uma empresa
chamada CyberSource que afirma que vende, semanalmente, 10 mil dolares em
programas, a partir de sua pagina na Teia http://software.net. (Forbes
08/05/95 p.138)
 
INVESTIMENTOS EM TECNOLOGIA DE EDUCACAO
	Mary Futrell, John Dandorth e James Murray fundaram a National
Education Technology Funding Corporation (NETFC), para estimular o
investimento privado em tecnologia de educacao. Espera-se que a senadora
norte-americana Carol Mosley-Braun (D-Ill.) introduza uma legislacao que
incentive as agencias particulares e federais a investirem na NETFC, com o
objetivo de desenvolver a estrutura da tecnologia educacional dos Estados
Unidos. (Heller Report News Briefs, maio 95)
 
JONES PLANEJA "FACULDADE DE ECONOMIA NO ESPACO CIBERNETICO"
	Tendo como alvo a populacao adulta profissionalmente ativa, a
Jones International Ltd. estabelecera' uma "faculdade de economia no
espaco cibernetico", que oferecera' formacao em comunicacoes comerciais,
atraves da Internet, TV a cabo, televisao por satelite e videocassetes. O
valor da matricula anual para a International University College custara'
2.280 dolares ou mais, e o formato sera' parecido com o da Mind Extension
University, da Jones, onde os alunos se comunicam com os professores e
colegas atraves do correio eletronico, e submetem-se `as provas
eletronicamente. "As universidades tem o papel principal na educacao, mas
ha' milhoes de alunos em potencial, sedentos por conhecimentos, que nao
podem ser alcancados por elas.", afirmou o presidente da empresa, Glenn R.
Jones. (Investor's Business Daily 28/04/95 A5)
 
DECISAO SOBRE VIDEO DA BELL ATLANTIC DEPENDE DE TECNOLOGIA
	A decisao da Bell Atlantic de adiar a analise do seu aplicativo de
fornecimento de servicos de video foi tomada, em grande parte, devido `a
necessidade de mais tempo para analisar a melhor solucao tecnologica para
construir as novas redes de video. Enquanto o preco de um sistema hibrido
de cabos coaxiais e fibras oticas mais do que dobrou desde 1992, atingindo
o valor de 800 dolares por residencia, o custo de uma rede de video
digital comutada caiu para aproximadamente 800 dolares por residencia,
valor este bastante inferior aos 1.200 dolares verificados em 1992. E'
provavel que a decisao da Bell Atlantic venha a afetar a decisao de outras
empresas da Bell, com relacao ao que deverao fazer com suas redes.
(Investor's Business Daily 28/04/95 A5)
 
SELO DE APROVACAO DA PBS
	O Public Broadcasting Service assinou um acordo de licenciamento
com a United Media para colocar seu logotipo em diversos produtos
infantis, desde software ate' brinquedos educativos, CD-ROMs e livros. Os
produtos, que deverao estar disponiveis em 1996, terao que passar por uma
inspecao, feita por uma equipe aconselhamento educacional, a ser escolhida
pela PBS e pela United Media. O presidente da PBS, Ervin Duggan, declarou
que nao sabe quanto o acordo gerara' em termos financeiros, mas um estudo
feito recentemente pela Lehman Brothers revelou que o valor ficara' abaixo
dos dez milhoes de dolares, bem abaixo dos 22,6 milhoes de dolares que o
PBS recebe em fundos federais diretos. (Wall Street Journal 28/04/95 B6)
 
SNET PLANEJA SERVICO DE TV INTERATIVA
	A Southern New England Telephone Corp. esta' aguardando a
permissao da FCC para oferecer servicos interativos e de TV, em carater
experimental, para 150 mil residencias ate' o final do ano, e para cerca
de 500 residencias comercialmente, ate' 1997. A manobra faz parte de uma
revisao na rede, que devera' durar 15 anos e custar 4,5 bilhoes de
dolares, para atualizar a maior parte a area de servicos da SNET com
linhas de fibras oticas de alta capacidade. Hoje, somente cerca de cinco
por cento da rede da SNET e' composta por cabos de fibras oticas. (Wall
Street Journal 28/04/95 B5)
 
MICROSOFT AUMENTARA' O SUPORTE PARA O WINDOWS 95
	A Microsoft esta' tomando agora as providencias para o aumento da
demanda nos servicos de suporte que a empresa esta' prevendo, como
resultado do lancamento do Windows 95. Alem de assinar um contrato com a
Digital Equipment Corp. e outras empresas, para fornecerem assistencia via
telefone, a empresa esta' construindo o Microsoft Online Institute, um
campus de faculdade virtual dentro da Microsoft Network, que permitira'
que os usuarios apontem e cliquem sobre diversos predios, para obter
respostas para diversos tipos de perguntas. (Information Week 01/05/95
p.100)
 
TECNOLOGIA DE FOGUETES PARA LEIGOS
	A serie de livros escrita "for dummies" (para leigos) parece nao
ter fim, e esta' se espalhando para areas alem do dominio dos
computadores... e ficando completamente fora de controle. Alem de titulos
como "Windows 3.11 for Dummies", "Macintosh System 7.5 for Dummies" e "C++
for Dummies", agora ha' livros com titulos como "The Complete Idiot's
Guide to Being Your Own Lawyer" (guia completo para idiotas sobre como ser
seu proprio advogado), e ja' estao sendo preparados os livros "Wine for
Dummies" (vinhos para leigos) e "Sex for Dummies" (sexo para leigos).
(U.S. News & WorldReport 01/05/95 p.80)
</pre>
