<title>Dia 11 de Julho de 1995, segunda parte</title>

<H2>Dia 11 de Julho de 1995, segunda parte</H2>
<pre>

CORTES SEVEROS NOS RECURSOS DA NTIA
	Como parte de um plano de sete anos do GOP para eliminar o U.S.
Department of Commerce, o House Appropriations Committee propos o corte do
orcamento do Commerce Department para quase 20% abaixo do nivel deste ano,
o que podera' causar um grande impacto nas esperancas de uma "via expressa
de informacoes" de Clinton e Gore. Ao analisar um pedido de 133,7 milhoes
de dolares da National Telecommunications and Information Administration,
o comite deu apenas 78,7 milhoes de dolares. (Washington Post, 29/06/95,
A19, BNA Daily Report for Executives, 29/06/95)
 
INTERIOR CONECTADO
	O Rural Policy Research Institute informou que uma porcentagem
maior da populacao norte-americana localizada em areas distantes utiliza
PCs, fax e correio eletronico, do que a populacao em geral (46% contra
33%). Os servicos medicos, a educacao e os negocios foram apontados como
as principais prioridades. Foram entrevistados residentes de Iowa,
Nebraska, Dakota do Norte e do Sul, Kansas e Minnesota. (Wall Street
Journal, 29/06/95, A1)
 
TALVEZ SEJA O DEVER DE CASA
	Um relatorio que sera' publicado brevemente ("Marketing
Pornography on the Information Superhighway", ou "Vendendo Pornografia na
Supervia de Informacoes"), preparado por pesquisadores da Carnegie Mellon,
afirma que em uma universidade norte-americana, 13 dos 40 newsgroups mais
visitados na Internet tinham nomes como alt.sex.stories, rec.arts.erotica
e alt.sex.bondage. (Time, 07/03/95, p.38)
 
CODIGO DE CENSURA DA AUSTRALIA PARA A INTERNET
	O governo federal da Australia afirmou que 99% do material
encontrado na Internet trata-se de informacao razoavel e legitima, mas
esta' propondo a elaboracao de uma legislacao que tratara' dos materiais
ofensivos, que serao banidos de filmes, videos e da literatura. A proposta
foi feita depois que alguns alunos da Australian National University, que
faziam buscas na Internet, encontraram informacoes sobre como estuprar sem
ser pego e como construir bombas. (Herald Sun, 25/06/95, p.30)
 
COMERCIO VAREJISTA DEMORA A ENTRAR NOS NEGOCIOS ON-LINE
	Embora as organizacoes do comercio varejista pretendam investir
mais dinheiro em tecnologia de informacao, esses planos estao voltados
para a eficiencia interna, e nao para as vendas externas. Citando motivos
como os altos custos e a falta de clientes, apenas 8% das empresas do
comercio varejista consultadas pela Computer Sciences, Corp. e pela Retail
Info Systems News, afirmaram que oferecem vendas on-line. (Computerworld,
26/06/95, p.121)
 
PAINEIS DE DISPLAY DE PLASMA
	A NEC esta' entrando de maneira agressiva na fabricacao de paineis
de display de plasma coloridos, que esta' sendo visto como um mercado que
vem surgindo com forca total, devido aos aplicativos baseados em
multimidia e `a nova geracao de displays de TV com tela ampla. (Financial
Times, 28/06/95, p.18)
 
AS MENINAS E OS GAMES
	Ha' muito tempo que o mercado de video-games tem como alvo os
meninos e suas fantasias de aventuras e tiroteios, mas as empresas estao
comecando a perceber que estao perdendo metade do mercado. A Sega of
America montou a Girls Task Force nos ultimos dois anos, desenvolvendo uma
serie de produtos para meninas. Os resultados estao ai: a utilizacao do
Sega Genesis por meninas subiu, dos 5% verificados ha' tres anos, para 20%
em 1995. Enquanto isso, em Austin, Texas, a empresa chamada Girl Games
esta' se especializando exclusivamente em produtos interativos e servicos
on-line para meninas, que estarao disponiveis no ano que vem. E a empresa
e-Girl Interactive, sediada em Los Angeles, esta' preparando softwares e
um servico on-line para 1996. As meninas tem uma expectativa de recompensa
diferente. Elas querem jogos que permitam que elas sejam criativas, querem
passar por transformacoes pessoais e jogar de maneira social. Os meninos
geralmente querem competir uns com os outros, enquanto as meninas querem
competir com elas proprias", afirmou um dos fundadores da e-Girl. (Digital
Kids, Junho de 95, p.15)
 
NOVOS COMUTADORES ATM
	Os comutadores de transferencia assincrona de alta velocidade, que
podem tratar voz, video e dados simultaneamente, poderao ficar muito mais
baratos futuramente. O atual design "crossbar", ou de grade, exige um chip
de computador em cada ponto de uniao das linhas de entrada e de saida.
Atraves da alteracao do design, a MMC Networks Inc. acredita que podera'
reduzir o custo dos comutadores em 90%. No projeto da MMC, todos os bits
das linhas de entrada sao conduzidos para um grande acumulador de memoria
compartilhada, com o computador instruindo as linhas de saida para pegar
suas mensagens em enderecos digitais especificos. Os projetistas
anteriores relutaram em utilizar esse metodo, mas a MMC afirmou que
desenvolveu uma maneira de fazer com que o metodo seja confiavel e barato.
(Business Week, 03/07/95, p.81)
 
BATE-PAPO SOBRE FICCAO CIENTIFICA
	O Sci-Fi Channel esta' entrando na Twilight Zone, com planos para
promover bate-papos on-line ao-vivo, com um numero limitado de
espectadores durante a transmissao de um programa. A hora do bate papo
sera' feita, obviamente, durante a apresentacao de "The Twilight Zone",
alem de "The Prisoner", "Lost in Space", "The Six Million Dollar Man" e
"The Bionic Woman". O canal entrou em funcionamento em carater
experimental na semana passada, recrutando 25 fans de "The Prisoner" para
enviarem seus comentarios. Esse programa, em especial, foi escolhido
porque "suscita comentarios bizarros". O canal Sci-Fi esta' funcionando
com o ECHO, um BBS baseado em Nova York, mas tambem pretende entrar em
contato com diversos BBSs em todos os Estados Unidos. (Broadcasting &
Cable, 26/06/95, p.34)
 
EXPLORANDO A TECNOLOGIA
	O presidente da Opta Food Ingredients disse que gosta de explorar
a tecnologia. "Meu principal interesse fora do trabalho e' aprender como a
tecnologia existente hoje em dia pode tornar o local de trabalho mais
eficiente. Por exemplo, eu tenho em minha casa um Macintosh 660 AV ligado
`a minha camcorder, e posso ver meu filho, ainda um bebe, no canto da tela
do meu computador em tempo real, enquanto estou fazendo outra coisa
qualquer, como enviando fax ou escrevendo. Sempre que ele faz alguma coisa
bonitinha, simplesmente comando C para tirar uma foto, que depois posso
reproduzir em minha impressora colorida Hewlett-Packard. O proximo passo
e' trazer essa configuracao para o trabalho e substituir a recepcionista
ou quem quer que receba as pessoas quando chegam". Mas sera' que assim ela
podera' servir cafezinho? (Inc. Technology, No.2-95, p.19)
 
CUIDANDO DA SAUDE NO CEU
	A British Airways utilizara' uma ligacao de telemedicina via
satelite (uma parte de seu novo sistema de informacoes e entretenimento de
voo), que permitira' medir, em passageiros que nao estejam se sentindo
bem, a temperatura, o pulso, a pressao sanguinea, a saturacao do oxigenio
e a atividade cardiaca, e enviar essas medicoes para medicos que farao o
acompanhamento em terra. (New York Times, 28/06/95, C8)
 
COMA CEREAIS E FACA UMA LIGACAO TELEFONICA
	Nos bons e velhos tempos, os cereais matinais vinham com coisas em
suas caixas como aneis ou algum tipo de navio de plastico. Mas esses
brindes logo serao coisas do passado, pois a Sprint Corporation vai
colocar cartoes para chamadas telefonicas em seis tipos de cereais da
General Mills. Os cartoes darao direito a cinco minutos de ligacao, e
poderao ser usados em qualquer telefone de discagem por tom. (Atlanta
Journal-Constitution, 28/06/95, E1)
</pre>
