<title>Dia 11 de Julho de 1995</title>

<H2>Dia 11 de Julho de 1995</H2>
<pre>

MICROSOFT ALEGA ESTAR SENDO "IMPORTUNADA" PELO DEPARTAMENTO DE JUSTICA
	Considerando-se vitima de um "comportamento abusivo" por parte do
departamento de justica norte-americano, a Microsoft entrou com uma
peticao no Tribunal Federal contestando a recente "necessidade de
investigacao civil" da justica, que deu `a Microsoft dois dias para
responder a perguntas e fornecer diversos documentos internos sobre os
planos estrategicos da empresa, de incorporar o software da Microsoft
Network no sistema operacional Windows 95, a ser lancado brevemente. Os
concorrentes da Microsoft e os advogados do departamento de justica
norte-americano alegam que essa incorporacao daria `a Microsoft uma
vantagem injusta no mercado de servicos on-line. (New York Times,
27/06/95, C8)
 
BRITANNICA ON-LINE COM A TIME
	A Encyclopaedia Britannica escolheu o servico on-line Pathfinder,
da Time Warner, como o novo lar de sua Britannica Online. O servico sera'
gratuito nos primeiros dois meses, dando aos possiveis assinantes uma
chance para experimentar e gostar do servico, antes do anuncio do preco.
As duas empresas tambem estao planejando oferecer interligacoes entre seus
conteudos, de modo que um navegador que estiver procurando por informacoes
na Britannica sobre a Bosnia, por exemplo, podera' tambem ser direcionado
para os artigos da Time sobre o assunto. (Miami Herald, 27/06/95, C1)
 
TRIBUNAL SUPERIOR REVERA' SENTENCA SOBRE PROGRAMACAO DE VIDEO
	O supremo tribunal federal norte-americano vai analisar a
possibilidade de anular as sentencas que determinaram a proibicao de as
empresas telefonicas oferecerem programacao de video aos clientes de suas
areas de atuacao. O departamento de justica pediu ao supremo tribunal para
anular as decisoes dos tribunais inferiores e fazer valer a lei de 1984,
cujo objetivo era impedir que as empresas Bell dominassem os mercados de
TV a cabo. A Bell Atlantic tomou a iniciativa incomum de pedir ao supremo
tribunal para assumir o caso, dizendo que quer uma definicao definitiva
sobre a questao, antes de investir bilhoes de dolares na construcao de
redes de banda larga e alta velocidade, para oferecer servicos de voz,
video e dados. Enquanto isso, a acao do congresso dos E.U.A. sobre as
reformas nas telecomunicacoes podera' tornar questionaveis todas as
decisoes do supremo tribunal. (Wall Street Journal, 27/06/95, B2)
 
PUNICAO SEVERA POR CRIMES DE ALTA TECNOLOGIA
	Os governos federal e estadual norte-americanos estao tomando
providencias para punir severamente os crimes de alta tecnologia. A
legislacao introduzida na semana passada pelos senadores Jon Kyl (R-Ariz),
e Patrick Leahy (D-Vt), transforma em delito grave qualquer dano
intencional, causado por hackers, a computadores -- ate' mesmo ameacar
derrubar sistemas de computadores sera' considerado crime. Enquanto isso,
o estado da Pennsylvania apertou o cerco contra os crimes de telefones
celulares, fazendo com que o uso fraudulento desses aparelhos seja punido
com ate' sete anos de prisao. (Investor's Business Daily, 27/06/95, A6)
 
COMPAQ E INTEL PEDEM UMA TREGUA
	Apos um ano de brigas por causa da campanha de marketing "Intel
Inside" da Intel, a recente encomenda da Conmpaq de placas-mae `a Intel
sinalizou "uma transicao gradual" entre as duas empresas. A discordia foi
disparada quando a Intel entrou no negocio de producao de placas-mae e
lancou a divulgacao de sua propria marca, estrategia que irritou a Compaq,
que produzia suas proprias placas e nao gostou os selos "Intel Inside" nos
PCs das rivais Gateway e Packard Bell. A Compaq nao revelou o tamanho de
sua recente encomenda, mas um analista do setor afirmou que "continuaremos
vendo picos e vales nesse relacionamento". (Business Week, 03/07/95, p.6)
 
SAIA DA FRENTE, BOB
	Bob, a interface de usuario amigavel da Microsoft, e' apenas o
comeco de uma tendencia em direcao `as chamadas interfaces sociaveis, e
ha' outros produtos similares sendo preparados pelas empresas Computer
Associates, Pakard Bell e Novell. A empresa Simply Village, da California,
utiliza uma metafora de cidade, com ruas, predios e uma praca, para
auxiliar os usuarios na utilizacao dos aplicativos do Windows, Windows 95
e DOS. A interface Navigator, da Packard Bell, utiliza a planta baixa de
uma casa para guiar os usuarios. E o Cosair, da Novell, permitira' que os
desenvolvedores preparem interfaces sociaveis para ligar os computadores a
outros servicos, oferecendo metaforas como escritorio em casa, sala de
estar e um ambiente urbano. Mesmo assim, alguns especialistas classificam
a abordagem das interfaces sociaveis como "coisa de crianca". "As
interfaces sociaveis assumem que os usuarios de PCs passem muito tempo no
estagio de iniciante, mas a realidade e' que as pessoas tem vergonha de
usar rodinhas na roda traseira.", afirmou um deles. (Information Week,
03/07/95, p.32)
 
DIGITAL, SIM. INTERATIVA, TALVEZ
	Esta' havendo uma explosao na area de entretenimento digital, mas
a televisao interativa esta' ficando um pouco para tras, de acordo com um
novo estudo feito pela Price Waterhouse LLP. De acordo com a EMC
Technology Forecast, ate' 1998 a maior parte da producao de conteudo sera'
digital -- com excecao dos filmes, que continuarao a usar filme de
celuloide, que permite um maior controle sobre as imagens; a distribuicao
de entretenimento via satelite podera' ser totalmente convertida para a
transmissao digital comprimida, dentro de alguns poucos anos; a
distribuicao de programas via satelite na America Latina e na Asia devera'
ser quase completamente digital ate' o final da decada; e a
disponibilidade global e a adocao da televisao interativa nao acontecera'
antes do ano 2000. (Multichannel News, 25/06/95)
 
LARRY ELLISON LUTA CONTRA BUROCRACIA
	Depois de passar horas em uma fila no Departamento de Veiculos
Motorizados da California, para renovar sua licenca, o presidente da
Oracle, Ellison, esta' recomendando, juntamente com outros membros do
conselho de tecnologia da informacao do governo de Pete Wilson, que o
estado passe a utilizar os programas de bancos de dados da Oracle, para
que os cidadaos possam enviar informacoes tais como mudancas de endereco,
e outras, atraves da Internet, ja' a partir de julho ou agosto. Como
Ellison disse na epoca, "Passar metade do dia no DVM nao e' uma boa
maneira de se utilizar o tempo. (Investor's Business Daily, 27/06/95, A6)
 
MENSAGENS ELETRONICAS ACEITAS COMO PROVA DE DISCRIMINACAO SEXUAL
	Mensagens eletronicas de um chefe descrevendo uma funcionaria como
"Rainha Elastica" e referindo-se a si proprio como "presidente do clube de
ginecologistas amadores" serao aceitas como prova em um processo movido
contra a Microsoft por uma ex-funcionaria. A Microsoft alegou, sem
sucesso, que tais mensagens tinham como finalidade apenas humor de local
de trabalho, e que eram irrelevantes nesse caso. (Relatorio Sobre
Discriminacao no Trabalho da BNA, 21/06/95, p.786)
 
GRA-BRETANHA DIVIDIDA EM RELACAO AO CANAL PORNOGRAFICO SUECO
	O governo britanico quer permissao da Comissao Europeia para
bloquear as transmissoes via satelite para a Inglaterra, de um canal
pornografico de TV da Suecia, chamado Erotica. Um oficial da Uniao
Europeia declarou que "Nao parece haver um apetite extraordinario por esse
tipo de material na Gra-Bretanha. Mas tambem ha' grande oposicao contra a
decisao. Parece que o pais esta' bastante dividido.". (Financial Times,
25/06/95, p.4)
</pre>
