<title>Dia 13 de Junho de 1995, segunda parte</title>

<H2>Dia 13 de Junho de 1995, segunda parte</H2>
<pre>

NOTICIA TRISTE PARA A LOTUS?
	A IBM tomara', por 3,3 milhoes de dolares, a Lotus Development
Corp., oferecendo aos acionistas 60 dolares por acao, e ao mesmo tempo
esta' entrando com um processo para eliminar uma defesa da Lotus contra a
aquisicao da empresa pela IBM, e ainda esta' tomando providencias para
retirar os atuais diretores da Lotus. "Esta' claro para mim e para outras
pessoas que o setor esta' entrando em uma nova fase, na qual todo o poder
de computacao esta' interligado.", declarou o presidente da IBM, Louis
Gerstner, cuja estrategia para dominar o mercado nessa nova fase depende
da aquisicao do software de redes Notes, da Lotus, imediatamente, antes
que a Microsoft lance as novas versoes do Windows, com recursos para
work-group. (Wall Street Journal, 06/06/95, A1)
 
MUNDO VIRTUAL PARA CRIANCAS DOENTES
	O cineasta Steven Spielberg, com o apoio de diversas empresas de
alta tecnologia (entre elas as empresas Worlds Inc., Intel, UB Networks e
Sprint), desenvolveu um projeto de realidade virtual que devera' permitir
que criancas portadoras de doencas serias possam se comunicar e brincar em
um espaco cibernetico tridimensional, em uma rede experimental de banda
larga chamada Starbright, que interligara' cinco grandes hospitais
pediatricos nos Estados Unidos. (New York Times, 05/06/95, C3)
 
MAIS PATENTES, MAIS ADVOGADOS?
	As novas regras sobre patentes de softwares publicadas na semana
passada pelo Trademark Office farao com que uma quantidade maior de
disputas por concessao de patentes acabem nos tribunais, segundo os
observadores do setor. Eles chamam a atencao para o fato de que, mesmo na
epoca em que a politica do orgao de patentes era menos restritiva, varias
decisoes acabavam resultando em desafios legais, que acabavam fazendo com
que a decisao original fosse revertida. As respostas do setor `a mudanca
de postura do orgao de patentes norte-americano variam bastante. Os
executivos da Oracle reclamaram que um numero demasiado de patentes
podera' inibir o lancamento de novidades -- exatamente o mesmo argumento
citado pelo orgao de patentes para optar pelo aumento desse numero.
(Investor's Business Daily, 06/06/95, A8)
 
TALIGENT LANCA SOFTWARE PARA MONTAGEM DE APLICATIVOS 
	A Taligent, empresa formada por uma joint venture entre IBM,
Apple, e Hewlett-Packard, finalmente lancara' o tao esperado software
"baseado em objetos" que permitira' que os usuarios utilizem blocos
basicos, ou atalhos, para criar programas aplicativos. O produto, batizado
de CommonPoint, nao sera' vendido como um programa independente, mas como
parte dos sistemas operacionais usados pelas tres empresas. A IBM pretende
incorporar o CommonPoint em seus sistemas operacionais para estacoes de
trabalho no proximo mes, o que tambem sera' feito pelas outras empresas
mais tarde. (Wall Street Journal, 05/06/95, B3)
 
SHOPPINGS CIBERNETICOS ESTAO `A MINGUA
	Esta' havendo uma grande quantidade de lancamentos comerciais na
World Wide Web, mas ate' agora os consumidores nao estao comprando. Uma
pesquisa realizada recentemente pela Dataquest mostrou que menos de 25%
dos usuarios da Internet pensariam em fazer compras on-line,
principalmente por acharem que nao ha' graca alguma em fazer isso. "Para
serem bem sucedidos junto aos consumidores, os aplicativos precisam
oferecer praticidade e prazer no ato da compra.", afirmou um analista da
Dataquest. (Investor's Business Daily, 06/06/95, A8)
 
TECNOLOGIA CDMA RECEBEU SINAL DE APROVACAO
	A Qualcomm esta' defendendo ativamente sua tecnologia CDMA, e
esta' prestes a assinar um contrato com a PCS PrimeCo, que devera'
utilizar sua tecnologia na rede de servicos de telecomunicacoes pessoais
PrimeCo. O CDMA (code division multiple access) ainda tera' que ser
aprovado para utilizacao em ambiente comercial, mas os defensores afirmam
que essa tecnologia ampliara' a capacidade dos sistemas analogicos atuais
em ate' dez vezes, atraves de uma maior reutilizacao de frequencia,
enquanto a tecnologia concorrente, TDMA (time division multiple access),
consegue apenas um terco dessa capacidade. Isso podera' reduzir os precos
das chamadas dos telefones celulares, igualando-os aos precos das chamadas
telefonicas normais. (Wall Street Journal, 05/06/95, A3)
 
AT&T PRETENDE LANCAR NOVOS SERVICOS PARA CONSUMIDORES 
	A AT&T levara' a concorrencia com outros servicos de longa
distancia para um outro nivel, oferecendo servicos de jogos em sua rede
ImagiNation Network, e o pagamento de contas on-line para seus clientes. A
empresa oferecera' tambem um novo telefone para escritorios domesticos,
que se ligara' a PCs e apresentara' uma lista com mensagens de correio de
voz, permitindo que o usuario responda uma chamada com apenas um clique do
mouse sobre um nome. O novo nivel de servicos permitira' `a gigante do
setor de servicos de longa distancia, lucrar com seu maior patrimonio --
sua rede global e sua unidade de servicos de comunicacoes para
consumidores, que envia contas para mais de 80 milhoes de consumidores,
todos os meses. "Eles estao buscando uma diferenciacao nas guerras pelo
mercado. E' uma maneira de a AT&T ir para alem de toda a discussao em
torno dos descontos nos precos, que nao difere tanto assim de uma
operadora para outra.", comentou um observador do setor. (Wall Street
Journal, 06/06/95, B7)
 
REFORMA NAS TELECOMUNICACOES
	Os observadores do setor de telecomunicacoes afirmam que o
Congresso norte-americano podera', finalmente, fazer a desregulamentacao
dos servicos de TV a cabo na proxima sessao, passando a permitir que as
empresas de TV a cabo e as de servicos de longa-distancia concorram no
mercado de telefonia local, e possibilitando que as empresas locais
oferecam servicos de longa distancia, assim que enfrentarem a concorrencia
em seus proprios mercados. O porta-voz do Congresso, Gingrich, e o lider
da maioria no Senado norte-americano, Dole, estao apoiando a legislacao, e
o presidente Bill Clinton nao devera' fazer nada para impedir. (Business
Week, 12/06/95, p.49)
 
VENDAS DO NETSCAPE
	Em vez de continuar a utilizar a Internet como canal de
distribuicao de seu software, a Netscape Communications fara' a venda da
nova versao de seu browser da WWW, batizado de Netscape Navigator Personal
Edition, atraves de pontos de venda. Vendido por aproximadamente 40
dolares, o software permitira' o acesso automatico a quatro provedores da
Internet: MCI, Netcom, Portal ou UUNet. (New York Times, 05/06/95, C6)
</prE>
