<title>Dia 13 de Junho de 1995</title>

<H2>Dia 13 de Junho de 1995</H2>
<pre>

SUBSIDIOS
	*Universidade de Stanford Recebeu Subsidio para Projeto de Ensino
por Solicitacao. Foi lancado na Stanford University um projeto de dois
anos de duracao, destinado a demonstrar o armazenamento digital e o envio,
mediante solicitacao, de aulas de formacao para profissionais tecnicos, no
trabalho, em casa, ou em viagens. O Asynchronous Distance Education
Project (ADEPT), mantido em parte por um subsidio de 500 mil dolares da
Alfred P. Sloan Foundation, testara' metodos de armazenamento digital de
video, audio, textos e imagens, e enviara' esses materiais atraves de
redes de alta velocidade, Internet, e de linhas de telefone comuns. Para
maiores informacoes, entre em contato com Dale Harris no telefone 415
725-0433, ou atraves do correio eletronico no endereco
harris@is1.stanford.edu. 
 
	*AT&T Teachers and Technology Institute. Foram selecionados
cinquenta e dois professores de todo o mundo para participarem do terceiro
evento anual AT&T Teachers and Technology Institute, um programa de 13
dias que dara' a professores de matematica e ciencias experiencias
praticas na supervia de informacoes. Os professores escolhidos passarao
uma parte do verao norte- americano nos laboratorios da AT&T e da Bell
trocando ideias com cientistas, matematicos e engenheiros, inclusive o
Premio Nobel Arno Penzias. Os professores sao selecionados primeiramente
pelas suas tecnicas inovadoras de ensino, pela filosofia de educacao e
pelo compromisso com a profissao e com os alunos. Para maiores informacoes
sobre o programa, entre em contato com Carlos A. Santos pelo telefone
908-221-7168. 
 
NOVIDADES NA TEIA
	*Pagina Pathways Orienta os Trabalhos de Melhoria nas Escolas. O
North Central Regional Educational Laboratory anunciou o Pathways to
School Improvement (http://www.ncrel.org/ncrel/sdrs/pathways.html), um
local da Teia destinado a ajudar os educadores na aplicacao das ultimas
pesquisas educacionais, como a tecnologia da educacao, ensino de
matematica e ciencias, alfabetizacao, lideranca escolar, participacao dos
pais, transicao da escola para o trabalho, entre outras coisas. 
 
PUBLICACOES
	* Multimedia Careers. Novo livro de Ziff-Davis, "Careers in
Multimedia" (profissoes da multimidia), explica a grande variedade de
profissoes ligadas `a multimidia, incluindo produtores, agentes, diretores
de criacao, projetistas de interfaces, projetistas de jogos, autores de
scripts, editores/moderadores, especialistas em conteudo, especialistas em
efeitos, programadores, entre outros. Para obter maiores informacoes,
entre em contato com ken@vivid.com. 
 
	*Diretorio de Publicacoes Eletronicas. A Association of Research
Libraries anunciou a publicacao da quinta edicao de um trabalho de
consulta (papel) sobre periodicos da Internet, do Directory of Electronic
Journals, boletins, e de listas de discussoes academicas. Preco: 62
dolares (normal), e 41 dolares (somente para as 119 bibliotecas que fazem
parte da ARL. Entre em contato com a ARL no telefone 202-296-2296. 
 
ANUNCIO DE EMPREGO
	*Diretor. A Catholic University of America esta' recebendo
candidatos a Diretor de Sistemas de Informacoes de Gerenciamento. Exige-se
formacao superior. Experiencia minima de tres anos em gerenciamento. Envie
carta, curriculo, pretensoes salariais e tres referencias profissionais
para: Monica Hensel, Employment Administrator, The Catholic University of
America, Washington, DC 20064. AA/EOE. Mulheres e minorias tambem devem se
candidatar. 
 
PARCERIAS
	*Sistema de Conectividade da Internet no Ensino Superior. Bolt
Beranek e Newman, Inc. (BBN), e a Corporation for Research and Educational
Networking (CREN), anunciaram em maio que pretendem formar uma parceria,
que devera' durar alguns anos, e que podera' possibilitar que cinco
milhoes de academicos e estudantes, e 50 milhoes de alunos das escolas e
universidades participantes em todos os E.U.A., se conectem `a Internet
atraves do acesso telefonico local, em todas as grandes regioes
metropolitanas. O acordo utilizara' a tecnologia Internet da BBN, que
empregara' o software desenvolvido para o CREN, pela MERIT. Todas as
instituicoes norte-americanas que forem membros da CREN poderao oferecer,
a seus alunos e professores, o acesso global e de baixo custo `a Internet,
inclusive a noticias universitarias, cursos e informacoes. Para obter
maiores informacoes, entre em contato com CREN, no endereco cren@cren.net
ou com a BBN, no endereco pthonis@bbn.com. 
 
CALENDARIO DE EVENTOS
	[Para obter uma lista completa de conferencias, seminarios,
oficinas e outros eventos, envie mensagem por correio eletronico para:
listserv@bitnic, com o comando GET EVENTS CALENDAR, ou va' ate' o servidor
gopher do Educom (educom.edu), ou o servidor da World Wide Web
(http://www.educom.edu)]
 
	* Fostering Motivation and Self-Development in Continuing Education
(Seminario para educadores de adultos no Mount Royal College). Dia 16 de
junho, em Calgary, AB, Canada'. Contatos: 403-240-6848 ou pelo endereco
ELovece@MTRoyal.ab.ca. 
 
	* ED-MEDIA 95 (World Conference on Educational Multimedia and
Hypermedia). De 17 a 21 de junho, Graz, Austria. Contatos:
http://www.iicm.tu-graz.ac.at/Cedmedia ou gopher: //aace.virginia.edu. 
 
	* INET'95. Honolulu, HI. De 27 a 30 de junho. Quinta conferencia
anual da Internet Society. Contatos: Internet Society no telefone
703-648-9888 ou por mensagem para inet95@isoc.org. 
 
	* Web Seminars'95. Dias 25 e 26 de julho. Dallas, Texas.
http://www.mecklerweb.com/webconf ou ftp: www.mecklerweb.com
PATH:/pub/conf/webconf.txt. 
 
	* 4th Annual Conference on Multimedia in Education and Industry.
Asheville, NC. De 3 a 5 de agosto. Contatos: envie fax para 803- 737-7440,
ou mensagem para kimbro@sbt.tec.sc.us. 
 
	* 11th Annual Conference on Distance Teaching and Learning. Madison,
Wisconsin. De 9 a 11 de agosto. Contatos: 1-800-462 0876; 608-262-2061;
http://epdwww.engr.wisc.edu/disted/distED.html. 
 
	* 1995 CAUSE/CNI Midwest Regional Conference, "Survival in the
Networked World." Evanston, Illinois. Dias 28 e 29 de agosto. Contatos:
303-939-0315 ou pelo correio eletronico no endereco
conf@cause.colorado.edu. gopher://cause-gopher.colorado.edu/.
http://cause-www.colorado.edu/

	* 1995 UNC/CAUSE/CNI Souteast Regional Conference, "Binding CAUSEs
for Unbounded Information.". De 11 a 14 de setembro, Greensboro, North
Carolina. Contatos: 303-939-0315 ou pelo correio eletronico no endereco
conf@cause.colorado.edu. gopher://cause-gopher.colorado.edu/. http://cause
www.colorado.edu/

	* Breaking the Boundaries of Time and Space: A Focus on Distance
Education and Training. De 28 a 30 de setembro. Contatos: 207-621-3171 ou
envie mensagem para kmoore@maine.maine.edu. 
 
	* Seminar on Academic Computing'95. "Tough Choices: Radical
Opportunities. De 4 a 9 de agosto. Snowmass Village, CO. Contatos:
http://www.princeton.edu/~sac ou birdd@ccmail.orst.edu. 
 
	* Technology and Distance Education: Sharing Experiences Around the
World. Sao Jose', Costa Rica. De 17 a 24 de outubro. Contatos:
rsandova@arenal.uned.ac.cr ou pujolsj@alpha.acast.nova.edu. 
 
	*EDUCOM'95. Portland, Oregon. De 31 de outubro a 3 de novembro.
Conf@educom.edu. 
 
EDUCOM 95 E NO FUTURO: CALENDARIO DE LONGO ALCANCE
	Para maiores informacoes sobre as proximas conferencias do Educom,
entre em contato com o Educom pelo telefone 202-872- 4200, ou envie
mensagem para conf@educom.edu

	*EDUCOM'95, de 31 de outubro a 3 de novembro, Portland, Oregon

	*EDUCOM'96, de 8 a 11 de outubro, Philadelphia, Pennsylvania

	*EDUCOM'97, de 28 a 31 de outubro, Minneapolis, Minnesota

	*EDUCOM'98, de 13 a 16 de outubro, Orlando, Florida

	*EDUCOM'99, de 26 a 29 de outubro, Long Beach, California

	*EDUCOM'2000, de 17 a 20 de outubro, Pittsburgh, Pennsylvania

	*EDUCOM'2001, de 30 de outubro a 2 de novembro, Indianapolis, Indiana. 
</pre>
