<title>Dia 15 de Maio de 1995</title>

<H2>Dia 15 de Maio de 1995</H2>
<pre>

TCI OFERECERA' ACESSO ON-LINE
	A empresa provedora de servicos por cabo Tele-Communicatios Inc.
se unira' a uma empresa de capital de risco para criar uma corporacao
chamada @home, que oferecera' acesso on-line a uma velocidade de dez
milhoes de bits por segundo -- aproximadamente mil vezes mais rapido do
que a velocidade encontrada mais comumente nos modems de PCs. O servico
podera' ser usado pelos clientes de TV a cabo mediante o pagamento de uma
taxa extra, e dara' acesso `a Internet e aos servicos on-line comerciais,
como America Online, CompuServe, etc. (Wall Street Journal 04/05/95 B7)
 
SETOR DE COMPUTADORES PRECISA DE PADRAO PARA VIDEODISCOS
	Um comite tecnico do setor de computadores, formado por
representantes da Apple, Compaq, Hewlett-Packard, IBM e Microsoft estao
pressionando os fabricantes concorrentes de videodiscos, para que entrem
em um acordo com relacao ao formato padrao para diversos recursos
especificos. Atualmente, parece que o formato da Toshiba esta' sendo
melhor aceito pelas empresas de produtos eletronicos de consumo e pelos
estudios de Hollywood, enquanto o formato da Sony/Phillips esta' sendo o
preferido pelas empresas de computadores. (New Yor Times 04/05/95 C5)
 
CRIAR LEGISLACOES PARA CONTROLAR NIVEL DE DECENCIA NAO E' A SOLUCAO
	Os defensores do livre arbitrio nao acreditam muito na emenda
sobre "decencia", proposta pelo senador norte-americano James Exon, cujo
objetivo e' controlar o conteudo das redes eletronicas de comunicacoes. O
diretor do The Freedom Forum First Amendment Center, da Vanderbilt
University, afirmou que tal legislacao e' igual a outros esforcos feitos
no passado para controlar as novas tecnologias de comunicacao. "Sempre que
aparece alguma novidade ha' regras e panico. Chegou o momento de todos nos
darmos dez passos atras e respirarmos fundo, antes de criarmos
regulamentos.". Os criticos observaram que o esforco tenta forcar os novos
tipos de comunicacoes a se enquadrarem em um conjunto de regulamentos mal
formulados. Trata-se de uma aplicacao altamente impropria de uma ideia
sobre a outra. Falamos de uma midia completamente diferente das
transmissoes ou do telefone, baseada em usuarios que tem o poder de
escolher os lugares que preferem visitar.", declarou o presidente da
Electronic Frontier Foundation. (Investor's Business Daily 03/04/95 A2)
 
PROJETO DE MONITORES PLANOS VAO POR AGUA ABAIXO
	O orgao do governo norte-americano Office of Technology Assessment
publicou um relatorio preliminar, onde diz que nao ha' razoes para
despejar quinhentos milhoes de dolares em uma parceria entre governo e
industria, para estimular o setor de producao de monitores de tela plana
nos Estados Unidos. O relatorio mais recente contradiz um relatorio do OTA
de 1990, que ofereceu apoio para tal projeto, e que criticou os oficiais
do Pentagono, por defenderem a ideia de que o projeto contribuiria para a
"importancia critica dos sensores avancados e para as tecnologias de
informacoes, para que atingissem um completo campo de batalhas de
ideias.". Alguns observadores estao encarando o recuo do OTA como uma
manobra politica para satisfazer seus novos comandantes republicanos.
(Wall Street Journal 03/05/95 A2)
 
ASSINATURA DIGITAL GANHA LEGITIMIDADE
	Uma lei aprovada recentemente em Utah reconhece legalmente as
assinaturas digitais, e os legisladores na California e em Washington
estao considerando os proximos processos. A lei de Utah baseia-se na
criptografia de chaves publicas, sistema atraves do qual pessoas fisicas e
juridicas registram suas chaves publicas junto a autoridades de registro,
que em seguida as utilizam para decodificar as mensagens criadas com as
chaves particulares, e verificar as identidades dos remetentes. Espera-se
que as empresas de seguranca de computadores, bancos e o servico postal
norte-americano venham a oferecer servicos de registro. (Information Week
08/05/95 p.24)
 
ORACLE ENTRA EM MAIS UM NEGOCIO INTERATIVO
	Ja' envolvido com TV interativa atraves de uma parceria com a
British Telecom e a Telecom Italia, a Oracle fornecera' o servidor de
midia para servicos de TV interativa, a serem fornecidos por uma joint
venture formada pela Bell Atlantic, Nynex e Pacific Telesis. (New York
Times 04/05/95 C8)
 
RENASCIMENTO DO COMMODORE
	A empresa alema Escom AG, que possui cerca de 1500 lojas de
computadores na Europa, pagou dez milhoes de dolares pelos direitos do
nome e da propriedade intelectual da Commodore Electronics Ltd., a empresa
que desenvolveu os computadores Commodore e Amiga e saiu do mercado no ano
passado. A Escom afirmou que pretende voltar a produzir a linha completa
do Amiga, e fazer com que a tecnologia do Amiga passe a ser compativel com
o MS-DOS. (Wall Street Journal 04/05/95 B7)
 
MBONE COBRIRA' CONFERENCIA AO VIVO
	As discussoes entre os pioneiros da Internet, Tim Berners-Lee e
Marc Andreessen, e outros representantes que estarao presentes na
conferencia DECUS deste ano, serao transmitidos ao vivo pela Internet
Mbone, entre os dias 8 e 11 de maio. Maiores informacoes em
http://www.decus.org/. 

FINANCIAMENTO PARA TRANSMISSOES PUBLICAS
	A National Public Radio e diversos outros grupos de transmissoes
publicas estao fazendo pressoes em prol da criacao de um financiamento,
para substituir os financiamentos que recebe atualmente do governo, alvos
de criticas dos legisladores republicanos norte-americanos. O
financiamento proposto seria sustentado por taxas pagas por empresas
comerciais de transmissao e companhias de telecomunicacoes. O senador
norte-americano Larry Pressler, presidente do Commerce, Science and
Transportation Committee, acha que a proposta foi mal formulada, e
declarou que as emissoras publicas deveriam empregar melhor os "tesouros
de fontes de renda que possuem". (New York Times 03/05/95 A9)
 
MICROSOFT ESTA' AMPLIANDO OS SERVICOS DE SUPORTE A USUARIOS
	A Microsoft esta' expandindo seus servicos de atendimento a
grandes empresas, colocando mais pessoal atendendo em tempo integral em
alguns pontos de atendimento. Um analista da Forrester Research, uma
empresa baseada em Cambridge, Massachusetts, afirmou que "Trata-se de uma
grande mudanca, exatamente o que a IBM comecou a fazer na decada de
1960.". (Wall Street Journal B7)
 
IBM E NCR SAEM VITORIOSOS EM JULGAMENTO DA RSI
	Um juri inocentou a IBM e a NCR Corp., derrubando as acusacoes de
um caixa de supermercado, que alegou estar com problemas de saude causados
pelos teclados dos computadores dessas empresas. "E' uma vitoria
importante, pois foi a terceira vez que se provou que os produtos IBM sao
seguros e bem projetados.", afirmou o advogado da empresa. (Investor's
Business Daily 03/05/95 A17)
 
PUBLICACOES ACADEMICAS ON-LINE
	Tres economistas formaram uma empresa cujo objetivo e' modificar a
maneira como as informacoes academicas sao distribuidas. A Social Science
Electronic Publishing produz um jornal eletronico na Internet, que permite
que os assinantes naveguem pelas abstracoes dos documentos academicos e
depois solicitem os que os interessarem. "Vamos mudar o cenario
academico.". As pessoas costumavam publicar para obterem a posse dos
materiais. Agora havera' menos lixo, pois as pessoas estarao escrevendo
para o consumo do publico. "As pessoas precisam concentrar a atencao em
bons assuntos.", afirmou um dos fundadores. (Business Week 08/05/95 p.28)
 
SERVICOS DE COMUNICACOES ENVIADOS POR SATELITES
	A Loral Corp. pretende lancar um sistema de comunicacoes baseado
em satelite, para oferecer servicos de comunicacoes digitais interativos
nos Estados Unidos. O servico CyberStar esta' programado para comecar a
funcionar em 1998, e fornecera' servicos de videoconferencia, computadores
pessoais interativos, ensino a distancia e tele-imagens medicas a
residencias e empresas. (Investor's Business Daily 03/05/95 A17)
 
OBRIGATORIEDADE DE COMPUTADORES NO CAMPUS GERA POLEMICA
	A pratica de exigir que os calouros tenham seus proprios
computadores esta' provocando discussoes em alguns campus, principalmente
nos casos em que nao esta' claro se todos os membros de faculdades dessas
instituicoes pretendem integrar tecnologia nos trabalhos do curso. "Se as
faculdades nao se convencerem, e nao houver um consenso, podera' haver
muito hardware desperdicado no campus.", observou um aluno da Forest
University. As escolas tambem estao entendendo que simplesmente obrigar a
posse de computadores nao resolvera' os problemas de suporte tecnico para
as milhares de maquinas, alem do fato de que muitos alunos estao
acostumados com maquinas de muito mais alta performance do que as
distribuidas no campus. "Parece que os vejo dizendo: 'Deem me uma entrada
de rede e outros recursos, e eu mesmo cuidarei do PC.'", afirmou o diretor
executivo do Educational Resources Center da Clarkson University.
(Chronicle of Higher Education 05/05/95 A37)
 
ENTREGA DE DOCUMENTOS DA XEROX
	O novo servico Document Direct, da Xerox, permite que os clientes
enviem documentos para uma central da Xerox Business Services em
disquetes, fitas, CD ROMs, copias impressas ou atraves do correio
eletronico, para que sejam entregues em qualquer um dos locais cobertos
pela rede global de comunicacoes da Xerox. O controle ponto-a-ponto da
Xerox tem capacidade para fornecer impressoes coloridas a laser, imagens
digitais e servicos de arquivamento, e entrega os documentos em qualquer
formato. (Investor's Business Daily 04/05/95 A6)
 
CNN NA COMPUSERVE
	Brevemente os assinantes da CompuServe poderao assistir `as
noticias nas telas de seus computadores, atraves do CompuServe Viewer, que
apresenta imagens estaticas de video e texto em tempo real. O projeto
sera' executado por uma joint venture com a Cable News Network.
(Broadcasting & Cable 01/05/95 p.34)
 
MAIS SOFTWARE NA REDE
	A venda de softwares na rede e' um negocio em expansao. A Software
On-Line possui uma pagina na Web com softwares que podem ser copiados por
download, diretamente para o seu PC. http://www.swol.com.
</pre>
