<title>Dia 16 de Maio de 1995</title>

<H2>Dia 16 de Maio de 1995</H2>
<pre>

PROJETO DE LEI SOBRE TELECOMUNICACOES
	O Congressional Budget Office decidiu considerar como "renda" (ou
seja, como um novo imposto), o dinheiro que o projeto de lei proposto pelo
senado norte-americano devera' tirar dos provedores de telecomunicacoes, para subsidiar servicos acessiveis aos us uarios de areas rurais e outras areas de alto custo. Essa interpretacao podera' custar o apoio de diversos senadores conservadores, que prometeram nao criar novos impostos. (Wall Street Journal 05/05/95 B6)

AUTORIZADO O BLOQUEIO DAS IDENTIFICACOES DE TELEFONES
	Contrariando uma decisao anterior, a FCC permitira' que as empresas
telefonicas oferecam servicos com bloqueio automatico da transmissao das
identificacoes dos telefones, pelas redes telefonicas interestaduais. "As
regras atuais permitem a adocao de um pa drao razoavel em ambito nacional,
que oferecera' aos consumidores uma maneira compativel de fazer com que as
chamadas para fora sejam particulares, independente de qual linha estiverem
usando, e para onde estiverem fazendo a chamada.", afirmou o diretor d e
controle de produtos de consumo da Pacific Bell. (Investor's Business Daily
05/05/95 A19)

AT&T E INTEL OFERECERAO SERVICOS INTERATIVOS
	A&T e Intel vao trabalhar juntas para oferecer equipamentos e
servicos, que permitirao a utilizacao de servicos interativos atraves de PCs, com velocidades mil vezes superiores `as dos modems telefonicos padrao. O vice-presidente da Intel declarou: "O PC e' obviamente a plataforma ideal para os servicos de dados multimidia nas residencias.". (New York Times 05/05/95 C3)

DILEMA DE PRECOS NA INTERNET
	Qualquer tentativa de controlar as informacoes que sao enviadas
atraves da Internet, para cobrar pelas mesmas, sera' tao cara que o custo
operacional da rede aumentara' ao ponto de os usuarios terem que pagar mais, de acordo com Tony Rutkowski, diretor ex ecutivo da Internet Society. Nao compensara' o trabalho de avaliar a utilizacao da capacidade da rede para cada usuario.". (Technology Review, maio/junho 95, p.24)

HP E AMD ESTAO PROJETANDO COMPUTADORES DE MAO
	A Hewlett-Packard utilizara' os componentes eletronicos de baixa
potencia desenvolvidos pela Advanced Micro Devices, para desenvolver uma nova geracao de computadores pessoais de mao. Segundo a HP, os novos produtos estarao disponiveis nos proximos dois o u tres anos. De acordo com a DataQuest, a HP e' o maior fabricante de computadores de mao, tendo dominado 27% do mercado mundial no ano passado. (Investor's Business Daily 05/05/95 A19)

NINTENDO ADIA LANCAMENTO DE SUA NOVA MAQUINA DE 64 BITS
	A maquina de ultima geracao da Nintendo, Ultra 64, nao ficara' pronta para a epoca do Natal, mas esse atraso podera' prejudicar os concorrentes tanto quanto a Nintendo, ja' que muitos compradores provavelmente deverao esperar ate' que as novas maquinas se jam lancadas, para poderem comparar com as demais. O sistema de jogos devera' ser vendido por 250 dolares, e oferecera' uma performance que ficara' proxima a das estacoes de trabalho de 20 mil dolares. (New York Times 05/06/95 p.27)

MODEMS PARA SISTEMAS DE CABO DAO ACESSO `A VIA EXPRESSA
	Chamando a atual geracao de PCs poderosos que estao funcionando com
modems telefonicos de "Ferraris em estradas de terra", o vice-presidente da
Motorola alardeou as virtudes do seu modem de cabo CyberSURFER, que a empresa pretende lancar comercialmente no proximo ano. "Estamos conversando com todos os principais operadores de cabo e dois operadores de RBOCs", afirmou. Ainda nao foi determinado como sera' feita a cobranca. Os operadores de cabos estao discutindo se deverao repassar altissimos custos para o s assinantes, atraves de taxas mensais de aluguel, ou se adotarao algum outro sistema. (Broadcasting & Cable 01/05/95 p.36)

PESQUISA ON-LINE, COMPRAS OFF-LINE
	Uma pesquisa feita pela O'Reilly & Associates revelou que 72% dos
usuarios da Internet utilizaram a rede para reunir informacoes sobre produtos antes de fazerem suas compras. No entanto, na hora de fazerem o pagamento, normalmente o fazem off-line atraves de meios mais convencionais. Os entrevistados afirmaram que costumam limitar suas compras on-line a itens como software e CDs de musica. (Communications Week 17/04/95 p.29)

WINDOWS 95 SERA' LANCADO DIA 24 DE AGOSTO
	A Microsoft, combatendo os boatos de que o Windows 95 podera' acabar se transformando em Windows 96, marcou para o dia 24 de agosto a data para o envio do tao aguardado Windows 95 `as lojas. (Information Week 08/05/95 p.16)

AUDIENCIAS SOBRE REGULAMENTACAO NO CANADA'
	As novas audiencias do CRTC sobre as tarifas telefonicas locais
analisarao se deverao elevar as tarifas locais e baixar as de longa
distancia; decidir como alocar os custos entre as operacoes locais e as de
longa distancia; comparar as tarifas locais cana denses e americanas; e
avaliar a Iniciativa Beacon -- as empresas da alianca Stentor pretendem
investir 8 bilhoes de dolares para construir uma infra-estrutura para a
transmissao de video, dados e voz. (Toronto Financial Post 06/05/95 p.9)

SERVICO DE TRANSMISSAO DIRETA POR SATELITE
	A Expressvu afirmou que lancara' seu servico de DTH (Direct-to-Home
Satellite), desafiando, se necessario, as exigencias para licenciamento do
governo canadense, para conseguir cumprir a data prevista para lancamento, em setembro. (Montreal Gazette 05/05/ 95 D1) -- A seria rixa entre os sistemas rivais contra o servico DTH chegou aos Estados Unidos, e a Direct TV entrou com uma peticao junto `a FCC solicitando que as empresas canadenses sejam impedidas de entrar no mercado de transmissao direta por satelit e dos Estados Unidos. (Toronto Globe & Mail 04/05/95 B1)

CRIADOR DO SATAN FOI CONTRATADO PELA SUN
	Dan Farmer, o especialista em seguranca de redes que foi demitido
pela Silicon Graphics, por ter distribuido gratuitamente tres copias do seu
software "SATAN", foi contratado pela Sun, empresa para a qual ele ja' havia trabalhado antes do periodo que pass ou na Silicon Graphics. (Wall Street Journal 05/05/95 B6)

PIRATARIA DE SOFTWARE
	As estimativas mundiais dos prejuizos causados pela pirataria
ultrapassaram os 15,2 bilhoes de dolares no ano passado. O problema e' mais
grave na Indonesia e no Kwait, onde aproximadamente 99% de todos os softwares sao comprados ilegalmente. (Toronto Fin ancial Post 06/05/95 p.8)

PROGRAMA TRACA EVOLUCAO SOCIAL
	Pesquisadores da Brookings Institution desenvolveram um programa de
computador que gera sociedades artificiais e traca suas evolucoes atraves do tempo. O programa Computerrarium utiliza o metodo "bottom up", no qual as estruturas elaboradas emergem a part ir da interacao coletiva de 1000
"individuos", seguindo algumas poucas regras bastantes simples. Cada
individuo possui um conjunto exclusivo de caracteristicas (atribuidas
aleatoriamente no inicio), tanto fixas como variaveis. O programa ainda esta'sendo desenvolvido, mas os dois pesquisadores ja' descobriram que seus povos digitais se comportam mais como seres humanos reais do que os consumidores descritos na maioria os livros de economia: "Se fizermos com que os agentes sejam menos parecidos com o Homo economicus e mais parecidos com o Homo sapiens -- ou seja, se relaxarmos as suposicoes mais rigorosas -- algumas suposicoes laissez-faire (da teoria economica padrao) nao funcionarao muito bem.". (Tampa Tribune 05/05/95 BayLife 3)
</pre>
