<title>Dia 16 de Julho de 1995</title>

<H2>Dia 16 de Julho de 1995</H2>
<pre>

AUDIENCIAS SOBRE O DEPARTAMENTO DE CIENCIAS
	O House Science Committee realizou uma audiencia, no dia 28 de
junho, para tratar de seus planos de introduzir uma legislacao que criara'
um Departamento de Ciencias. O presidente do comite, Robert Walker
(R-Pa.), propos a consolidacao das funcoes de pesquisa dos Departamentos
de Energia e Comercio, da National Science Foundation e da NASA. "Os
elementos e as bases que formarao esse departamento ja' existem dentro do
governo. Eles deverao ser integrados e tratados com maior eficiencia. Este
departamento tambem melhorara' a eficiencia com que o governo, a industria
e a academia interagirao no processo de construcao da base tecnologica e
cientifica de nossa nacao. Eu defendo que, como estamos `as portas do
seculo XXI, devemos examinar atentamente quais serao nossas necessidades
futuras, racionalizar e estruturar o governo adequadamente. Nossa economia
no seculo XXI sera' baseada em comercio, ciencia, comunicacoes e
conhecimento.", declarou Walker. (BNA Daily Environment Report, 29/06/95,
A9)
 
ANDERSEN CONSULTING VAI `AS COMPRAS
	O software BargainFinder, da Andersen Consulting, utiliza "agentes
inteligentes" para sair pela Teia fazendo comparacoes entre produtos e
servicos. Por exemplo, se voce estiver procurando um determinado CD
musical, o BargainFinder consultara' diversas lojas, shoppings, etc., e
retornara' com um relatorio sobre o que foi encontrado. A editora Esther
Dyson alerta que mesmo os agentes inteligentes nao sao capazes de eliminar
o problema do "lixo dentro do lixo": "A maioria das pessoas tem muita
dificuldade para dar instrucoes. Quero que seja possivel que, ao dizer a
um agente para conseguir ingressos para um show de hoje a noite, o
programa verifique se os mesmos ingressos serao mais baratos numa outra
apresentacao.". (Wall Street Journal, 30/06/95, B8)
 
DOLE DEFENDE A MICROSOFT
	Em resposta a um artigo do Wall Street Journal, que informou que o
Departamento de Justica norte-americano estava vasculhando todos os
documentos da Microsoft relacionados com "o futuro e a tecnologia dos
computadores", o lider da maioria do senado dos E.U.A., Bob Dole, declarou
que "se essa noticia for verdade, sera' um sinal de que o Departamento de
Justica esta' fora de controle... Uma empresa desenvolveu um produto novo,
que os consumidores querem. E agora o governo entrou no meio e esta'
tentando ditar os temos sobre como esse produto podera' ser comercializado
e vendido. Belisquem-me, mas pensei que ainda estava na America.". (New
York Times, 01/07/95, p.19)
 
GUIA DE 500 CANAIS DE TV
	Um guia de programacao interativa na tela, desenvolvido pela
StarSight Telecast, apresenta informacoes de programacao de uma semana em
uma tela de facil leitura, e permite que os usuarios passem para um
programa que ja' esteja sendo transmitido com o pressionar de um botao no
controle remoto. Os usuarios podem tambem obter informacoes basicas, tais
como resumos e duracoes dos programas, clicando sobre o nome do item. As
buscas de programacoes sao divididas em categorias, como esportes, cinema
ou entretenimento, e podem ser restringidas ainda mais, para apresentar
somente jogos de basquete, por exemplo. Mas a melhor parte e' que o
servico permite que os usuarios gravem os shows com o clicar de um botao,
em vez de ter que enfrentar o manual do aparelho de videocassete e tentar
descobrir como ajustar o relogio, etc. A Gemstar esta' desenvolvendo
alguns servicos parecidos, TV Guide On Screen, Prevue Networks e Video
Guide. (Business Week, 03/07/95, p.90)
 
CONTINUA A PROIBICAO DE TRANSMISSOES "INDECENTES"
	Um tribunal de apelacao norte americano defendeu as regras da FCC
que impedem que as emissoras de radio e TV transmitam programas
"indecentes" baseados em sexo entre as 6 da manha e as 10 da noite,
afirmando que o governo tem um "grande interesse" em proteger as criancas
de tais materiais, e dizendo que "e' estranho acreditar que a grande
maioria dos pais que querem proteger seus filhos de materiais indecentes
queiram fazer isso sem fazer restricoes significativas nas ondas
magneticas.". (New York Times, 01/07/95, p.7)
 
OS SUPER SERVIDORES DE CHEN
	Steve Chen, projetista dos supercomputadores Cray X/MP e Y/MP,
esta' empregando seu talento na computacao de clientes- servidores, e
esta' desenvolvendo um servidor de multiprocessamento baseado no Pentium,
destinado a desempenhar funcoes complexas de bancos de dados ou de
servidores de arquivos. Os produtos da Chen Systems sao modulares, e
variam em preco entre cerca de 75 mil e 191 mil dolares, dependendo da
configuracao. (Information Week, 03/07/95, p.72)
 
NOVELL VAI PASSEAR
	Brevemente, o software da Novell chamado NEST (Novell embedded
systems technology) podera' ser utilizado em automoveis, para aplicacoes
sem fio tais como o envio de informacoes via computador sobre o tempo, o
trafego e informacoes geograficas, diretamente ao motorista. (Wall Street
Journal, 30/06/95, A5A)
 
CRACKER PODERA' ENTRAR COM RECURSO
	O cracker de computadores Kevin Mitnick, que foi capturado em
fevereiro em uma cacada do FBI, feita pelo expert em softwares Tsutomu
Shimomura, do San Diego Supercomputer Center, recebeu permissao da
acusacao para entrar com um recurso, que podera' reduzir sua sentenca para
oito meses na prisao. Sem o recurso, ele teria que cumprir ate' 20 anos
para cada uma das acusacoes de utilizacao ilegal de linhas telefonicas e
sistemas de computadores. (Atlanta Journal-Constitution, 02/07/95, A5)
 
ZIMMERMANN E O TRABALHO DA POLICIA
	O criador do software de criptografia PGP ("Pretty Good Privacy"),
diante da sugestao de que o PGP e' ruim porque tem sido usado para
transmitir pornografia, respondeu: "Essas coisas me aborrecem muito.
Quando ouvi falar sobre o tarado por criancas, fiquei muito perturbado. A
proposito, condenaram o cara, apesar do PGP. Nao engulo essa nocao de que
o PGP impedira' o cumprimento da lei. Podem ter que trabalhar um pouquinho
mais em alguns casos, mas o bom e velho servico eficiente da policia ainda
esta' em forma. Esses crimes deixam pistas no mundo real.". (Internet
World, Agosto de 95, p. 78)
 
MURDOCH PERTO DE UM ACORDO COM A TV ITALIANA
	A News Corporation, de Rupert Murdoch, esta' prestes a concluir um
acordo para adquirir uma parte minoritaria, mas com poder de controle, de
tres canais de TV italianos, de propriedade da Fininvest, empresa de
televisao de Silvio Berlusconi, ex-primeiro ministro da Italia. (Financial
Times, 30/06/95, p.1)
 
CATO ON-LINE
	Para os defensores da teoria da liberdade, agora ha' um local na
Teia do Cato Institute -- http://www.cato.org/main/home.html -- com o
catalogo das publicacoes do instituto, artigos do Cato Policy Report e um
recente testemunho do congresso. (Cato Policy Report, maio/junho de 95, p.5)
 
MAIS FATOS SOBRE A INTERNET
	Voce sabia que: no primeiro trimestre de 1995, foram investidos 47
milhoes de dolares em capital de risco em empresas da Internet, cifra
superior `a verificada em todo o ano de 1994. Em maio, foram registrados
340 novos dominios na Internet em Manhattan, e 343 registrados em British
Columbia, no mesmo periodo. Vinte e oito por cento dos usuarios Internet
utilizam provedores de acesso locais. (The Internet Index, 29/07/95)
 
O LOCAL MAIS CARO DA TEIA
	A Playboy pretende cobrar muito alto pelos anuncios em seu local
da Teia, que alega receber 800.000 acessos por dia. A Advertising Age
informou que as taxas da Playboy serao de 50 mil dolares por trimestre
para anunciantes, e os que quiserem inserir links hipertexto com suas home
pages pagarao 30 mil dolares. (Investor's Business Daily, 30/06/95, A4)
</pre>
