<title>Dia 17 de Maio de 1995</title>

<H2>Dia 17 de Maio de 1995</H2>
<pre>

CIBERCASH NO EXTERIOR
	A Cibercash Inc. recebeu aprovacao do Departamento de Comercio
para exportar seu software de pagamento eletronico, apesar do fato de o
mesmo conter um componente de criptografia bastante robusto. A decisao foi
baseada no fato de que o software restringe a quantidade de dados que
podem ser entrados, tornando-o dificil de ser adaptado para utilizacoes
mais nefandas. "Nao se pode alterar o software sem que toda a coisa
desmorone", afirmou o vice-presidente de marketing da Cybercash. "Esta e'
a primeira vez que as agencias governamentais norte-americanas avaliam um
software que contem um sistema de criptografia com essa potencia, e o
liberam para exportacao". O software da empresa sera' usado para conectar
a Internet a redes de computadores de bancos, para fazer pagamentos e
autorizacoes eletronicas em tempo real. (Wall Street Journal 08/05/95 B10)
 
EMPRESAS DE TV A CABO SE DEDICAM `A TRANSMISSAO DE DADOS
	As empresas de TV a cabo estao correndo para competirem na oferta
de transmissaode dados de alta velocidade, e o vice-presidente da Intel,
Avram Miller, resumiu o fenomeno observando que "O mercado de PCs esta'
crescendo mais rapido do que o mercado de TVs. Oferecendo conexoes de
dados de alta velocidade aos computadores, o setor de TV a cabo podera'
transformar-se em um setor completamente novo. (New York Times 09/05/95
C10)
 
IBM COMPRARA' UNIDADE DE MANUTENCAO DE COMPUTADORES DA GE
	A IBM comprara' a Capital Systems Support Services, da General
Electric, e usara' seus tecnicos para instalar e reparar PCs, redes locais
e equipamentos de transmissao de dados. A manobra faz parte da estrategia
da IBM de reforcar sua receita atraves de servicos. (Investor's Business
Daily 08/05/95 A19)
 
NEW YORK TIMES SE UNE `A CENTURY NETWORK
	A New York Times Co. esta' se juntando a outros oito grandes
editores de jornais, em um negocio on-line que unira' seus servicos de
noticias em uma rede nacional. A New Century Network, ou Rede do Novo
Seculo, consolidara' os servicos on-line das nove empresas e as colocara'
na World Wide Web, permitindo que os leitores passem facilmente de um
servico a outro. Espera-se que a rede entre em operacao no final deste
ano. (Wall Street Journal 08/05/95 B8)
 
INTEL INVESTE NA WAVEPHORE
	A Intel pretende comprar ate' 250 mil acoes da WavePhore Inc., nos
proximos dois anos, e trabalhar com o fabricante de aparelhos sem fio para
desenvolver uma tecnologia que a Intel possa usar em dispositivos
decodificadores. Esses decodificadores receberao dados de computadores,
transmitidos embutidos no sinal de televisao, de modo que PCs e TVs
poderao usar os dados. (Investor's Business Daily 08/05/95 A19)
 
COMPAQ ESTA' DE OLHO NO SETOR DE MAINFRAMES
	Nao satisfeitos com sua posicao atual de primeiro lugar em vendas
de PCs, a Compaq Computer esta' avida por entrar no mercado de mainframes,
onde atualmente e' a quarta colocada, depois de IBM, HP e Digital. "Agora
e' mais importante ser a quarta empresa de computadores do que a primeira
em PCs.", afirmou o chefe de desenvolvimento empresarial da Compaq.
"Estamos tentando diminuir a imagem do PC, ate' certo ponto.". A
estrategia da empresa envolve a venda de "grupos" de servidores,
controlados por quatro processadores P6 de ultima geracao. Aparentemente,
a empresa esta' motivada pelo desejo de libertar-se das incertezas dos
projetos dos softwares servidores, passando para uma area onde o software
ja' foi testado e e' confiavel. (Wall Street Journal 08/05/95 B4)
 
NOVOS THINKPAD DA IBM
	A IBM desenvolveu dois novos computadores laptop ThinkPad, que
eliminam a necessidade dos paineis de projecao utilizados em apresentacoes
em grupo. As maquinas estao sendo cotadas na faixa media dos 6 mil
dolares. (Wall Street Journal 09/05/95 B7)
 
CONHECIMENTOS DOS VENDEDORES DE LOJAS DE COMPUTADORES
	Uma pesquisa feita pelo colunista de informatica do Houston
Chronicle, Dwight Silverman, sobre as lojas dos principais revendedores de
computadores, produziu resultados "variados, embora favoraveis no geral.
Na maioria dos casos, consegui obter as respostas que queria -- quando o
vendedor nao sabia, ele conseguia obter a resposta enquanto eu esperava.".
(Houston Chronicle 07/05/95 8E)
 
SISTEMA OPERACIONAL "COPLAN" DA APPLE
	O lancamento do sistema operacional de ultima geracao da Apple,
cujo nome codigo e' Copland, esta' programado para meados de 1996. O
Coplan sera' capaz de automatizar a classificacao das mensagens de correio
eletronico dos usuarios, e tera' uma interface de usuario flexivel, que
podera' ser ajustada de acordo com o nivel de conhecimento do usuario.
(Wall Street Journal 09/05/95 B7)

AT&T PRESSIONA JAPAO
	A AT&T esta' exigindo que o representante comercial dos Estados
Unidos, Mickey Kantor, pressione os japoneses pela abertura de uma
concorrencia para um novo sistema de telefonia movel no Japao, chamada
PHS, um mercado que valera' 600 milhoes de dolares ate' 1996.
(BusinessWeek 15/05/95 p.112)

CRITICAS FAVORAVEIS AO CD-ROM "A PASSION FOR ART"
	O CD-ROM "A Passion for Art" -- o primeiro produto da Corbis
Corporation, empresa fundada por Bill Gates, da Microsoft, que cria
versoes digitais de grandes pinturas -- recebeu comentarios favoraveis de
criticos de arte. O disco digital oferece uma turne por um museu de arte,
que permite que os visitantes simulem um passeio pelas 26 salas e obtenham
imagens em close das obras de arte presentes em todas as salas.
(Investor's Business Daily 09/05/95 A8)

EDITORACAO FEITA EM QUALQUER LUGAR, A QUALQUER HORA E POR QUALQUER PESSOA
	O consultor de tecnologia Richard Shaffer afirmou que a editoracao
eletronica baixou as barreiras de entrada `a editoracao, reduzindo os
custos de capital em equipamentos, mas deixou intactos os altissimos
custos de distribuicao de livros e revistas. "Por outro lado, a editoracao
em rede reduz os custos de distribuicao a quase nada. Isso podera' abrir o
negocio de editoracao a qualquer pessoa que possua um computador. (Forbes
22/05/95 p.248)

ALUNOS PROCESSAM FACULDADE POR CAUSA DE CURSO DE INFORMATICA
	Dois alunos venceram o processo que moveram contra a Pace
University, de Nova York, onde um instrutor de um curso de informatica
para iniciantes, deu como exercicio para ser feito em casa tarefas
consideradas como muito dificeis pelos alunos: calcular o preco de um
atomo de aluminio em uma sexta-feira, sabendo-se o preco do aluminio na
quarta-feira, a taxa de variacao dos precos do metal entre quarta-feira e
sexta-feira, a massa atomica do aluminio, o valor do numero de Avogadro
(6.02 X 10, elevados a vigesima terceira potencia), etc., etc.. Os alunos
moveram o caso contra a universidade, e pediram ao professor para
responder perguntas como: "Voce acha que foi uma boa questao para uma
turma de iniciantes? O juiz decidiu: "Os alunos sao consumidores. Nao ha'
nada de sagrado nas instituicoes de ensino.". (Wall Street Journal
09/05/95 A1)
</pre>
