<title>Dia 18 de Maio de 1995</title>

<H2>Dia 18 de Maio de 1995</H2>
<pre>

PUBLICACOES
	*Faculdades Competitivas. A edicao de 1995-96 do Peterson's
Competitive Colleges ja' esta' disponivel, com fatos sobre mais de 375
faculdades importantes, abordando assuntos como curriculos e cursos,
faculdades, organizacoes, esportes e outros. Foi dada uma enfase especial
 avaliacao de alunos, como pontos SAT/ACT e media de pontos das turmas
iniciantes, numero de National Merit Scholars, taxas de
aplicacao/aceitacao, taxas de atendimento de escolas graduadas e numero de
representantes de Fulbright, Marshall, e Rhodes. Disponivel nas lojas ou
atraves do servico de atendimento ao consumidor da Peterson, no numero
1-800-338-3282. 
 
	*Contratacao de Servicos de Nivel Superior. Em uma recente pesquisa
sobre custo e estrutura administrativas, orientada pela Oregon State
University, consultores de gerenciamento da Peat Marwick apontaram a
possibilidade de mais de 2 milhoes em reducoes de custos ou em aumento de
renda, que poderiam ser reorganizados pela Universidade, se algumas
funcoes fossem contratadas "de fora"; um cenario que esta' se repetindo em
muitas instituicoes de ensino superior nos Estados Unidos. Peterson's
Contract Services for Higher Education, um novo e abrangente catalogo,
destinado a informar as exigencias especificas das faculdades e
universidades, examina a subcontratacao em areas desde servicos de
computacao ate' arquitetura, e de servicos de biblioteconomia ate'
alimentacao. O catalogo traz mais de duas mil empresas, divididas em
dezesseis categorias principais, como financeira, juridica, academica,
administrativa, instalacoes e servicos de relacoes publicas. Entre em
contato com Peterson's Customer Service pelo telefone 1-800-338-3282. 
 
	*CD-ROM Online. Distribuido quinzenalmente, o CD-ROM Online oferece
as ultimas informacoes sobre CD-ROMs, com noticias de qualidade e
informacoes sobre o setor. Para obter a assinatura, gratuita, envie
mensagem de correio eletronico para CDRMag@nsimultimedia.com, com a
palavra "subscribe" no texto da mensagem. 

ANUNCIOS DE EMPREGOS
	*Vice-Reitor de Planejamento Academico e Recursos de Informacao. A
Universidade do Arizona esta' procurando um administrador experiente para
dirigir e coordenar seu planejamento academico e criar liderancas e
horizontes para os recursos de informacoes academicas e administrativas,
inclusive na Biblioteca da Universidade e no Centro de Computacao e
Tecnologia de Informacoes. O Vice Reitor atuara' como o principal
conselheiro politico do Reitor e do vice-presidente de assuntos
comerciais, e trabalhara' intimamente ligado aos vice-presidentes,
reitores, diretores e chefes de departamento, para desenvolver o
planejamento da universidade e os processos de avaliacao, e para
relacionar esses elementos mais intimamente com o orcamento. Os candidatos
deverao possuir amplo conhecimento sobre os principios de organizacao e
gerenciamento das funcoes academicas e comerciais, dentro de instituicoes
grandes e complexas de ensino superior. A avaliacao dos curriculos sera'
iniciada em 15 de junho. Envie carta de apresentacao, curriculo, e nomes,
enderecos e telefones de cinco pessoas para referencia (a quem poderao ser
solicitadas cartas de confirmacao), para o endereco: Vice Provost Search
Committee, Office of the Provost, Administration 512, The University of
Arizona, Tucson, AZ 85721. EEO/AA/ADA. 

ON-LINE
	*ASIA AGORA ON-LINE. "Asia Now", a serie semanal de noticias da
PBS, que abrange vinte e cinco paises na regiao do Pacifico Asiatico,
lancou sua pagina ASIA NOW ONLINE na World Wide Web. A pagina ASIA NOW
ONLINE oferece clips de video de noticias que foram veiculadas
recentemente no "Asia Now", recursos de ensino da regiao do Pacifico
Asiatico, a programacao das transmissoes do programa, copias de programas
recentes e anuncios sobre as proximas materias. Entre os recursos
disponiveis on-line atualmente, estao uma historia sobre os testes
nucleares norte-americanos em seres humanos nas ilhas do Pacifico, o papel
da danca na ilha de Bali e uma lingua antiga e pouco conhecida da China.
"Asia Now" e' uma producao conjunta de KHET/Honolulu, KCTS/Seattle e
NHK/Tokyo. Para encontrar ASIA NOW ONLINE va' ate'
http://www2.hawaii.edu/hptv/. 

	*DECUS ON THE MBONE. As apresentacoes enviadas pelos pioneiros da
Internet, pioneers Tim Berners-Lee e Marc Andreessen, juntamente com as
enviadas pelo vice-presidente da Digital Equipment Corporation, Enrico
Pesatori, pelo especialista em redes e seguranca, Dr. Bill Hancock, e pelo
principal criador do sistema operacional Linux, Linus Torvalds, serao
transmitidos ao vivo pela Internet entre os dias 8 e 11 de maio. Os
organizadores do DECUS '95/Washington, D.C., o primeiro evento do mercado
digital, anunciaram recentemente que essas sessoes selecionadas serao
transmitidas para o publico mundial atraves da Internet Mbone. Maiores
informacoes no DECUS Customer Service, pelo telefone 1-800-DECUS55 ou pela
World Wide Web, na URL http://www.decus.org/. 

	*Centro de Informacoes sobre a Internet Para o Ano 2000. Para
muitos sistemas de computadores e softwares, o ano 2000 trara' uma enorme
quantidade de problemas relacionados com muitos programas, que gravam o
ano com apenas os dois ultimos digitos. O padrao problematico custara'
bilhoes de dolares `a comunidade informata mundial, na forma de trabalho
de programacao. No ultimo dia primeiro de maio, Peter de Jager e The
Tenagra anunciaram a abertura do Year 2000 Information Center on the
Internet World-Wide Web. O centro de informacoes permite que os usuarios
obtenham as ultimas noticias e informacoes sobre a crise dos computadores
no ano 2000, e oferece um forum para discussoes sobre possiveis solucoes.
Mostrando um relogio, constantemente atualizado, com o numero de anos,
dias, horas, minutos e segundos que restam ate' o ano 2000, o Centro de
Informacoes tambem oferece acesso gratuito `as informacoes
disponibilizadas por fornecedores de servicos, que oferecem consultoria e
solucoes. O Year 2000 Information Center pode ser encontrado em
http://arganet.tenagra.com/year2000/. Tambem foi criada uma lista de
discussoes sobre o problema. Para assinar, envie mensagem de correio
eletronico para listmanager@hookup.net, com o texto SUBSCRIBE YEAR2000 no
corpo da mensagem. 

PREMIOS
	*EdNET95 Awards Program. Empresas e organizacoes sem fins
lucrativos que fizeram contribuicoes importantes para tecnologia da
educacao e para os mercados de telecomunicacoes, no ano passado, serao
premiados pelo programa EdNET95 Industry Awards, mantido pelo HELLER
REPORT on Educational Technology and Telecommunications Markets. Os
premios deste ano incluirao as categorias com e sem fins lucrativos.
Dentro de cada categoria, a EdnET95 Industry Awards Competition premiara'
duas organizacoes que tenham oferecido tecnologia de educacao, ou produtos
e servicos de telecomunicacoes de destaque, em aplicacoes para os mercados
de locais de trabalho, residencias, ou educacao. As indicacoes ja' estao
sendo feitas, e serao baseadas nas atividades realizadas no ano passado.
Para obter maiores informacoes, entre em contato com 305-443-8806 (sem
fins lucrativos), ou 708-441-2920/404-565-7581 (com fins lucrativos). 

NOVO CHEFE DE INFORMACOES
	Martin B. Solomon, um administrador de computadores da
Universidade da Carolina do Sul, preenchera' o cargo recem criado de
assistente especial do presidente de tecnologia de informacoes, da
Universidade de Utah, em junho. Ele se reportara' ao presidente, atuara'
como o principal oficial de informacoes da universidade, e sera' um membro
do gabinete do presidente. 

CORRECAO
	Na edicao de 26 de abril do Educom Update, foi publicado um numero
de telefone incorreto, como sendo o telefone para contato com a Apple
Education Series. O numero correto e' 1-800-800-APPL. 

CALENDARIO DE EVENTOS [(Para obter uma lista completa de conferencias,
seminarios, oficinas e outros eventos, envie mensagem por correio
eletronico para: listserv@bitnic, com o comando GET EVENTS CALENDAR, ou
va' ate' o servidor gopher do Educom (educom.edu), ou o servidor da World
Wide Web (http://www.educom.edu)]
 
	*The Internet and the Virtual Classroom. Ithaca, New York. Dia 12
de maio. Contatos: 607-257-0937 ou envie mensagem para sef2@cornell.edu. 
 
	*Transforming Classrooms Through Technology Conference. Penn State
Scanticon Conference Center Hotel. De 15 a 17 de maio.
http://ets.cac.psu.edu/conferences/transforming.html ou ligue para
814-863-5120. 
 
	*Managing Content and Technology: What's New, What's Working,
What's Not" (Encontro anual Society for Scholarly Publishing). Boston, MA.
De 17 a 19 de maio. Contatos: 303-422-3914 ou envie mensagem para
5686814@MCIMAIL.COM. 

	*Digital World 95. Los Angeles, CA. De 5 a 7 de junho. Contatos:
800-488-2883 ou http://www.sbexpos.com. 

	*Exploring the VideoClass Alternative. Raleigh, NC. De 8 a 10 de
junho. Contatos: Tom_Russell@ncsu.edu. 

	*Critical Conference on Technology in Education. Dia 10 de junho.
Nova York, NY. Contatos: gmg@BNK1.BNKST.EDU ou ligue para 212-875-4718. 
 
	*W.R.I.T.E.'95. Granville Island, Vancouver, British Columbia,
Canada'. De 14 a 17 de junho. http://www.cstudies.ubc.ca. ou envie
mensagem para write@cce.ubc.ca. 

	*NetMedia'95. City University, Londres, Inglaterra. Dia 15 de
junho. Contatos: m.s.wallace@city.ac.uk

	*ED-MEDIA 95 (World Conference on Educational Multimedia and
Hypermedia). De 17 a 21 de junho, Graz, Austria. Contatos:
http://www.iicm.tu graz.ac.at/Cedmedia ou gopher: //aace.virginia.edu. 
 
	*INET'95. Honolulu, HI. De 27 a 30 de junho. Quinta conferencia
anual da Internet Society. Contatos: Internet Society no telefone
703-648-9888 ou por mensagem para inet95@isoc.org. 

	*4th Annual Conference on Multimedia in Education and Industry.
Asheville, NC. ts De 3 a 5 de agosto. Contatos: envie fax para
803-737-7440 ou mensagem para kimbro@sbt.tec.sc.us. 

	*IL 95, The Edinburgh Conference. Edinburgo, Escocia, de 1 a 3 de
setembro. Contatos: 100256.1750@compuserve.com ou
johnb@barker.demon.co.uk. 
 
	*1995 ASTD Technical and Skills Training Conference and Exposition.
Philadelphia, PA. De 13 a 15 de setembro. Contatos: 703-683-8100. 
 
	*Breaking the Boundaries of Time and Space: A Focus on Distance
Education and Training. De 28 a 30 de setembro. Contatos: 207-621-3171 ou
envie mensagem para kmoore@maine.maine.edu. 

	*Seminar on Academic Computing'95. "Tough Choices: Radical
Opportunities. De 4 a 9 de agosto. Snowmass Village, CO. Contatos:
http://www.princeton.edu/~sac ou birdd@ccmail.orst.edu. 

	*Hypermedia'95. Bloomington, IN, de 5 a 6 de outubro. Contatos:
812-856-8205 (ramal 33035) ou mensagem para ekirkley@indiana.edu ou
http://cee.indiana.edu/folks/kirkley.html. 

	*Technology and Distance Education: Sharing Experiences Around the
World. Sao Jose', Costa Rica. De 17 a 24 de outubro. Contatos:
rsandova@arenal.uned.ac.cr ou pujolsj@alpha.acast.nova.edu. 

	*EDUCOM'95. Portland, Oregon. De 31 de outubro a 3 de novembro.
Conf@educom.edu. 
 
	*OZCHI'95 (annual conference of the Computer Human Interaction
Special Interest Group of the Ergonomics Society of Australia).
Wollongong, New South Wales, Australia, de 27 a 30 de novembro. Contatos:
ozchi95@uow.edu.au ou http://www.uow.edu.au/public/ozchi/ozchi.html. 

	*The Education of the New California Workforce. San Francisco, CA.
De 10 a 12 de dezembro. Contatos: 415-904-7755 ou envie mensagem de
correio eletronico para nolan@sfu.edu. 

EDUCOM 95 E NO FUTURO: CALENDA'RIO DE LONGO ALCANCE
	Para maiores informacoes sobre as proximas conferencias do Educom,
entre em contato com o Educom pelo telefone 202-872-4200, ou envie
mensagem para conf@educom.edu

	*EDUCOM'95, de 31 de outubro a 3 de novembro, Portland, Oregon

	*EDUCOM'96, de 8 a 11 de outubro, Philadelphia, Pennsylvania

	*EDUCOM'97, de 28 a 31 de outubro, Minneapolis, Minnesota

	*EDUCOM'98, de 13 a 16 de outubro, Orlando, Florida

	*EDUCOM'99, de 26 a 29 de outubro, Long Beach, California

	*EDUCOM'2000, de 17 a 20 de outubro, Pittsburgh, Pennsylvania

	*EDUCOM'2001, de 30 de outubro a 2 de novembro, Indianapolis, 
	Indiana
</pre>
