<title>Dia 18 de Julho de 1995, segunda parte</title>

<H2>Dia 18 de Julho de 1995, segunda parte</H2>
<pre>

SOFTWARE
	*Software para Escolha de Especializacao. Agora os estudantes podem
utilizar o hipertexto para analisar, na tela, qualquer uma das 400
especializacoes oferecidas no nivel colegial norte americano. College
Majors: A Complete Guide from Accounting to Zoology (Especializacoes: Guia
Completo, de Contabilidade a Zoologia), oferece descricoes resumidas de
todas as 400 especializacoes oferecidas atualmente, especializacoes
relacionadas e complementares, e possibilidades de carreiras. Peca em
disquetes de qualquer tamanho, para computadores PC e compativeis, por
24,95 dolares, mais 3 dolares de envio, `a Perfect Data, 8510 West
Pershing Ave., Peoria, AZ 85381-4855, ou ligue para 602-878-7703. 
 
GOVERNO
	*Conselho Governamental de Tecnologia da Informacao. Na California,
o Conselho Governamental de Tecnologia da Informacao publicou seu
relatorio para o governador Pete Wilson, sobre a utilizacao e as
limitacoes da tecnologia no governo e nas escolas publicas. O relatorio
foi publicado em uma conferencia de imprensa, no dia 23 de junho. Enquanto
isso, era lancada a nova home page da California na Internet
(http://www.ca.gov), onde o relatorio foi disponibilizado. O conselho
focalizou a maneira como a tecnologia da informacao pode ser usada com
maior eficiencia para: melhorar a utilizacao dessa tecnologia pelo
governo, de modo a melhorar a eficiencia, melhorar o acesso publico `as
informacoes e aos servicos do governo, e melhorar os sistemas de educacao
basica, pos-secundario e de toda a vida. 
 
BIBLIOTECAS
	*WebPack. A Ameritech Library Services lancou em junho o seu novo
produto, WebPack, na conferencia da American Library Association,
realizada em Chicago. O software servidor para bibliotecas permite que os
clientes e os funcionarios utilizem qualquer navegador na World Wide Web
como clientes publicos, para fazer buscas em todos os bancos de dados
Z39.500 complaint, inclusive na OPAC da biblioteca. Com a liberacao para
uso geral programada para ocorrer entre setembro e novembro, o software
permite que os usuarios consultem o conteudo da biblioteca no local, ou a
partir de locais remotos na Internet. Para obter maiores informacoes,
entre em contato com Barbara Brodley, no endereco eletronico
brodley@notis.com. 
 
CALENDARIO DE EVENTOS
	[Para obter uma lista completa de conferencias, seminarios,
oficinas e outros eventos, envie mensagem por correio eletronico para:
listserv@bitnic, com o comando GET EVENTS CALENDAR, ou va' ate' o servidor
gopher do Educom (educom.edu), ou o servidor da World Wide Web
(http://www.educom.edu)]
 
	*INET'95. Honolulu, HI. De 27 a 30 de junho. Quinta conferencia
anual da Internet Society. Contatos: Internet Society no telefone
703-648-9888 ou por mensagem para inet95@isoc.org. 
 
	*24th Annual ACUTA Conference. Orlando. De 16 a 20 de julho.
Contatos: 606-278-3338 ou no endereco eletronico e-mail
scampbell@acuta.org. 
 
	*Web Seminars'95. Dias 25 e 26 de julho. Dallas, Texas.
http://www.mecklerweb.com/webconf ou ftp: www.mecklerweb.com
PATH:/pub/conf/webconf.txt. 
 
	*4th Annual Conference on Multimedia in Education and Industry.
Asheville, NC. De 3 a 5 de agosto. Contatos: envie fax para 803- 737-7440,
ou mensagem para kimbro@sbt.tec.sc.us. 
 
	*10th Annual Conference on Computers and Philosophy.
Carnegie-Mellon University, Pittsburgh, PA. De 10 a 12 de agosto.
Contatos: http://www.1c1.cmu.edu/ ou rc2z+andrew.cmu.edu. 
 
	*11th Annual Conference on Distance Teaching and Learning. Madison,
Wisconsin. De 9 a 11 de agosto. Contatos: 1-800-462 0876; 608-262-2061;
http://epdwww.engr.wisc.edu/disted/distED.html. 
 
	*1995 CAUSE/CNI Midwest Regional Conference, "Survival in the
Networked World." Evanston, Illinois. Dias 28 e 29 de agosto. Contatos:
303-939-0315 ou pelo correio eletronico no endereco
conf@cause.colorado.edu. gopher://cause-gopher.colorado.edu/.
http://cause-www.colorado.edu/

	*1995 UNC/CAUSE/CNI Souteast Regional Conference, "Binding CAUSEs
for Unbounded Information.". De 11 a 14 de setembro, Greensboro, North
Carolina. Contatos: 303-939-0315 ou pelo correio eletronico no endereco
conf@cause.colorado.edu. gopher://cause-gopher.colorado.edu/.
http://cause- www.colorado.edu/

	* Breaking the Boundaries of Time and Space: A Focus on Distance
Education and Training. De 28 a 30 de setembro. Contatos: 207-621-3171 ou
envie mensagem para kmoore@maine.maine.edu. 
 
	*Seminar on Academic Computing'95. "Tough Choices: Radical
Opportunities. De 4 a 9 de agosto. Snowmass Village, CO. Contatos:
http://www.princeton.edu/~sac ou birdd@ccmail.orst.edu. 
 
	*Technology and Distance Education: Sharing Experiences Around the
World. Sao Jose', Costa Rica. De 17 a 24 de outubro. Contatos:
rsandova@arenal.uned.ac.cr ou pujolsj@alpha.acast.nova.edu. 
 
	*EDUCOM'95. Portland, Oregon. De 31 de outubro a 3 de novembro.
Conf@educom.edu. 
 
EDUCOM 95 E NO FUTURO: CALENDARIO DE LONGO ALCANCE
	Para maiores informacoes sobre as proximas conferencias do Educom,
entre em contato com o Educom pelo telefone 202-872- 4200, ou envie
mensagem para conf@educom.edu

	*EDUCOM'95, de 31 de outubro a 3 de novembro, Portland, Oregon

	*EDUCOM'96, de 8 a 11 de outubro, Philadelphia, Pennsylvania

	*EDUCOM'97, de 28 a 31 de outubro, Minneapolis, Minnesota

	*EDUCOM'98, de 13 a 16 de outubro, Orlando, Florida

	*EDUCOM'99, de 26 a 29 de outubro, Long Beach, California

	*EDUCOM'2000, de 17 a 20 de outubro, Pittsburgh, Pennsylvania

	*EDUCOM'2001, de 30 de outubro a 2 de novembro, Indianapolis,  Indiana.
</pre>
