<title>Dia 18 de Julho de 1995</title>

<H2>Dia 18 de Julho de 1995</H2>
<pre>

PLANO DE EMERGENCIA DA MICROSOFT
	A Microsoft ja' tem um plano de emergencia, para o caso de o
Departamento de Justica norte-americano resolver executar acoes
anti-truste contra a empresa, baseando-se nos planos do produtor de
software de incorporar o acesso `a Microsoft Network no seu sistema
operacional Windows 95. "Seriamos ingenuos se nao pensassemos em todas as
possibilidades.", comentou o vice- presidente da empresa, encarregado do
Windows 95. Ainda assim, a Microsoft nao pretende retirar voluntariamente
a conexao com a MSN, alegando que a nova pesquisa feita pela Dataquest
previu que a fatia do mercado ocupada pela MSN esta' crescendo mais
lentamente o que foi estimado por alguns. Segundo o cenario previsto pela
Dataquest, a Microsoft tera' sorte se conseguir equiparar-se ate' mesmo
com a America Online ate' o final do ano de 1996. A empresa ja' imprimiu
milhoes de caixas e manuais de instrucao, inclusive fazendo referencia `a
MSN, e refazer todas as embalagens e todos os livros podera' ser uma
tarefa bem mais pesada do que retirar o software. (Wall Street Journal,
03/07/95, A3)
 
TEIA TERA' RECURSO DE CLASSIFICACAO VOLUNTARIA
	Sera' adicionado ate' agosto um "campo de classificacao de
conteudo" na World Wide Web, permitindo que os navegadores (e seus pais)
saibam o tipo de conteudo enviado para um determinado local da rede. Tim
Berners-Lee, que projetou a WWW quando trabalhava no CERN, na Suica, e que
hoje em dia dirige a associacao industrial da WWW, localizada no MIT,
declarou: "A analogia que podemos fazer e' a mesma dos sistemas de
classificacao dos filmes de cinema e dos video- games. Inicialmente, a
nova tecnologia permitira' a utilizacao de sistemas de auto
classificacao.". (New York Times, 03/07/95, p.24)
 
ESTUDO SOBRE PORNOGRAFIA CIBERNETICA FOI CRITICADO
	O relatorio "Marketing Pornography on the Information
Superhighway", feito pelo pesquisador de ciencias da computacao Marty
Rimm, da Universidade de Carnegie-Mellon (publicado pelo Georgetown Law
Journal e reproduzido na materia de capa da revista Time do dia 3 de
julho, sobre pornografia cibernetica), esta' sendo atacado por criticos,
que o classificaram de sensacionalista: a professora de marketing de
Vanderbilt, Donna Hoffman, o chamou de "um horrivel exemplo de pesquisa
enganosa, e a forma como foi publicada mostra um claro exemplo de
manipulacao da midia.". As criticas de Hoffman contra o estudo de Rimm e
da materia de capa da Time podem ser vistas em
http://www2000.ogsm.vanderbilt.edu/. Por outro lado, diversos
especialistas em Direito defenderam o estudo, e a professora de Direito
Anne Wells Branscomb, da Universidade George Washington, caracterizou a
metodologia do estudo como "rigorosamente academica.". (New York Times,
03/07/95, p.24)
 
IMPRESSAO DIGITAL `A DISTANCIA
	A AT&T e outras seis empresas participarao de um servico chamado
Network Demand Printing, que permitira' que os usuarios preparem
documentos em um local, e os transmitam, atraves da rede da AT&T, para
serem impressos e encadernados em locais remotos. Entre os participantes
do projeto estao as empresas Agfa-Gavaert, Eastman Kodak, Indigo, Scitex,
Adobe e Quark; a AT&T tambem esta' participando de um projeto em separado,
com a Xerox. Outros grupos de impressores estao trabalhando em projetos
similares, utilizando a Internet para transmitir os documentos, mas o
consultor do setor de impressao Charles Pesko defendeu o metodo usado pela
AT&T, afirmando: "Trata-se de uma tecnologia de capacitacao, seguranca e
retorno. Isso nao sera' possivel na Internet.". (New York Times, 04/07/95,
p.30)
 
PROPRIEDADE CANIBAL DE MOORE
	Gordon Moore, um dos fundadores da Intel e criador da Lei de
Moore, acaba de desenvolver a Propriedade Canibal para explicar por que a
concorrencia no setor de computadores e' tao acirrada. "O objetivo dos
circuitos integrados e' absorver as funcoes que antes eram desempenhadas
por componentes eletronicos discretos, inserindo-os em um unico e novo
chip, e os distribuindo gratuitamente ou, pelo menos, com precos muito
inferiores aos que seriam cobrados pelas pecas individuais. Assim, a
tecnologia dos semicondutores devora tudo, e as pessoas que se opoem pelo
caminho sao pisoteadas. Nao consigo imaginar outra tecnologia ou outro
setor que se comporte dessa maneira.". (Fortune, 10/07/95, p.91)
 
DOCUMENTOS SOBRE OS MALES DO FUMO ON-LINE
	Uma batalha legal que durou um ano, entre a Universidade da
California, de Sao Francisco, e o gigante do tabaco Brown & Williamson,
terminou na ultima quinta-feira, quando o Supremo Tribunal da California
determinou que a universidade poderia enviar `a Internet os documentos que
provam o conhecimento, por parte da industria de tabaco, ha' mais de 30
anos, de que a nicotina vicia e provoca cancer. Os documentos, roubados
por um assistente de direito em 1989, foram entregues a um professor da
Universidade da California no ano passado, por alguem que se identificou
como "Sr. Guimba". http://www.library.ucsf.edu/tobacco. (St. Petersburg
Times, 03/07/95, A3)
 
TECNOLOGIA SEM FIO
	A Universidade da California de Santa Cruz completou com sucesso
um projeto piloto de nove meses de duracao, no qual testou a utilizacao da
tecnologia sem fio por professores e alunos. Quinze alunos receberam
acesso a uma rede "Ricochet", que utiliza ondas de radio para transmitir
dentro de uma area limitada do campus. Agora a universidade esta'
estudando a utilizacao da tecnologia Ricochet para interligar os
alojamentos de oito faculdades residenciais. A Metricom, empresa que
instalou a rede, forneceu aos alunos modems especiais sem fio, equipados
com uma antena de borracha de cinco centimetros, para a transmissao dos
sinais ate' os receptores, que foram montados em diversos locais dispostos
em intervalos regulares por todo o campus. A empresa tambem esta'
construindo redes nas universidades de Stanford, Oregon e Oregon State.
(Chronicle of Higher Education, 07/07/95, A15)
 
TIME WARNER GANHA MERCADO
	A Time Warner informou que capturou um terco do novo mercado de
telefonia celular, desde que comecou a oferecer o servico, em novembro
passado. "O retorno inicial sugere uma grande forca no fornecimento de
servicos de telecomunicacoes. Achamos que o retorno seria mais lento.",
declarou o presidente da Time Warner Telecommunications. Ele observou que
a experiencia de Rochester esta' sendo vista como a "placa de Petri" da
concorrencia entre as empresas de TV a cabo e as de telecomunicacoes, ja'
que os reguladores de Nova York sairam na frente dos outros estados, na
desregulamentacao das industrias do setor. (Wall Street Journal, 03/07/95,
B8)
 
RECEITA PARA PROBLEMAS DE SAUDE CAUSADOS POR TAREFAS REPETITIVAS
	Um novo livro, escrito pela pianista classica Stephanie Brown,
contem dicas para evitar os problemas de saude causados por tarefas
repetitivas, que se aplicam tanto aos teclados de pianos como aos de
computadores. O livro, cujo titulo original e' "The Hand Book", utiliza
uma linguagem simples e clara para descrever as posicoes corretas e
incorretas de se trabalhar com o teclado, dando nomes faceis de memorizar
`as posicoes incorretas, tais como posicoes "aranha" e "cobra". Brown
recomenda que deve- se deixar que os pulsos "flutuem" sobre o teclado, e
que as maos e os antebracos devem seguir uma linha natural, em vez de
ficarem muito proximos do corpo ou arqueados como asas de galinha. O livro
esta' disponivel na Ergonome (800) 222-6996. (St. Petersburg Times,
03/07/95, A8)
 
DESCULPAS DA COMPAQ
	O vice-presidente da Compaq pediu desculpas por ter dito aos
reporteres, ha' duas semanas, que o motivo pelo qual a empresa rival de
computadores Packard Bell nao teria ido a publico, seria o medo de que
seus principais gerentes iriam todos embora, e que a empresa ficaria sem
nada, alem de "algumas fabricas mexicanas e quatro engenheiros chineses".
A Packard Bell comentou que as afirmacoes foram racistas. (Atlanta
Journal- Constitution, 04/07/95, C3)
</pre>
