<title>Dia 19 de Junho de 1995, segunda parte</title>

<H2>Dia 19 de Junho de 1995, segunda parte</H2>
<pre>

IBM E LOTUS VAO MUDAR
	Como a natureza do dominio da Lotus pela IBM esta' deixando de ser
hostil e transformando-se em amigavel, e os acionistas da Lotus receberao
um pouco mais de dinheiro do que o que havia sido oferecido inicialmente,
Jim Manzi vai tentar manter sua posicao, comandando a Lotus como um
vice-presidente da IBM, e a Lotus tera' um grau incomum de independencia
dentro da IBM. Contudo, alguns analistas preveem que logo iniciara' uma
luta interna, para definir se o Lotus Notes devera' ser desenvolvido para
mainframes e minicomputadores. Um consultor do Gartner Group afirmou que
"agora a IBM e' proprietaria deles, os executivos da Lotus terao muitas
dificuldades para dizer `a IBM que 'seus mainframes e minicomputadores nao
sao dignos de nosso software'.". Mas Jim Manzi continua otimista: "Nao vou
enganar ninguem dizendo que nao estaremos em um lugar diferente. A Lotus
vai mudar. Mas esperamos que a IBM mudara' tambem. Se alguem comecar a
dizer 'nao e' assim que fazemos na Lotus' ou 'nao e' assim que fazemos
isso na IBM', entao estaremos todos perdendo uma oportunidade de descobrir
qual e' a melhor maneira de se fazer as coisas.". (New York Times,
13/06/95, C1, C5)
 
DEPARTAMENTO DE JUSTICA NORTE-AMERICANO NAO SE CANSA DA MICROSOFT
	Alem da analise recentemente reconhecida sobre se a incorporacao
do acesso `a Microsoft Network no Windows 95 constitui uma ameaca de
monopolio, agora o Departamento de Justica norte-americano esta'
examinando a pratica da empresa de exigir que os fabricantes de
computadores licenciados para o uso dos sistemas operacionais da
Microsoft, retirem as acusacoes contra a Microsoft, e outros licenciados,
de desrespeito de patentes. A justica emitiu intimacoes para fabricantes
de computadores na semana passada, mas o advogado geral da Microsoft
afirma que a clausula contratual e' uma pratica comercial normal, dizendo
que "nao vemos motivo algum para mudar" os termos ou as condicoes dos
contratos da empresa. A clausula em questao vem sendo utilizada nos
contratos de seus sistemas operacionais desde 1990. Ele declarou, ainda,
que os rivais da Microsoft estariam melhor servidos se utilizassem seus
tempos para desenvolverem produtos melhores, em vez de ficarem instigando
as acoes do governo. (Wall Street Journal, 12/06/95, B3)
 
FACULDADES ESTUDAM A UTILIZACAO DE CONEXOES EXTERNAS COM A INTERNET
	A crescente demanda de tempo on-line por alunos e professores
esta' ameacando sobrecarregar alguns colegios e universidades, e alguns
responderam passando suas atividades feitas em computadores para
provedores de acesso local `a Internet, para aliviar a carga. "Nossos
professores, funcionarios e alunos estao insistindo em surfar na Teia em
casa, e nao querem entender como os provedores Internet locais poderao
fazer o que nao podemos.", comentou um gerente de suporte a clientes de
Tulsa. Embora os campus estejam se preparando para atualizar suas
infra-estruturas de telecomunicacoes para acomodar o aumento de
utilizacao, eles temem que essas melhorias vao atrair ainda mais demanda.
Alem disso, os usuarios estao comecando a exigir interfaces de usuarios
graficas elegantes, em vez da digitacao tediosa necessaria para acessar de
casa. "Em nosso acesso discado regular, as pessoas discam, leem suas
mensagens, e desligam dentro de aproximadamente 20 a 30 minutos. Sabemos
que com a outra interface isto sera' bastante diferente. Estamos pensando
seriamente em usar terceiros para fornecerem meios de acesso de fora do
campus que sejam equivalentes `as conexoes nos campus.", declarou David
Smallen, diretor de servicos de tecnologia de informacoes e pesquisa
institucional do Hamilton College. (Chronicle of Higher Education,
16/06/95, A20)
 
SIM PARA OS PRECOS DA BELL ATLANTIC, NAO PARA OS PLANOS DA US WEST
	A FCC aprovou condicionalmente a estrutura de precos proposta pela
Bell Atlantic para servicos de video, abrindo o caminho para que as
empresas de telecomunicacoes prossigam com os testes dos servicos de video
em Dover Township, Nova Jersey, em setembro. A Bell Atlantic cobrara' dos
programadores, e nao dos consumidores, pelos servicos. Ao mesmo tempo, a
FCC sugeriu que a US West devera' retirar formalmente e reenviar seu
pedido de inicio de operacoes para oferecer servicos de video em cinco
cidades, alegando que o adiamento pedido pela US West teria resultado em
que alguns dados sobre seu mercado estariam desatualizados na epoca em que
a FCC fez a analise. Um porta- voz da US West afirmou que e' provavel que
a empresa seguira' a recomendacao da FCC. (Investor's Business Daily,
12/06/95, A8)
 
FACA VOCE MESMO OS CORTES NO ORCAMENTO DO GOVERNO
	Um novo jogo de simulacao disponivel gratuitamente na rede permite
que voce brinque com o orcamento federal norte americano e apresenta o que
cada alteracao faz ao superavit ou deficit projetado. A licao civica
eletronica esta' sendo distribuida pelo Center for Community Economic
Research, da U. C. Berkeley. http://garnet.berkeley.edu:3333/budget/budget.html (Business Week, 19/06/95, p.6)
 
OS POBRES DE INFORMACAO SAO OS POBRES DE CULTURA
	Uma pesquisa que durou quatro meses sobre a utilizacao da World
Wide Web, feita pela SRI International, revelou que quase 28% dos usuarios
da Teia pesquisados ganhavam menos de 20 mil dolares anualmente, levando o
SRI a concluir que e' a falta de cultura, e nao dinheiro, o traco comum
entre os nao beneficiados pela informacao. (Investor's Business Daily,
13/06/95, A8). Obviamente nao ficou claro se a SRI levou em consideracao
que uma boa parte desses 28% sao provavelmente estudantes, que
provavelmente nao terao rendas inferiores a 20 mil dolares para sempre. 
 
INTEL E ORACLE SE UNEM PARA FORNECER VIDEO INTERATIVO EM PCs
	Intel Corp. e Oracle Corp. juntaram suas forcas para desenvolver
uma tecnologia para distribuir video atraves de ISDN, em vez de esperarem
pela disponibilidade geral de redes atualizadas. A estrategia das empresas
e' maximizar os investimentos da Intel no software de video-conferencia
ProShare, e o desejo da Oracle e' expandir seus principais softwares de
bancos de dados, para incluir aplicativos multimidia. Atraves da
combinacao de suas forcas, esperam trazer a video-conferencia para o
mercado antes dos seus concorrentes, muitos dos quais estao aguardando as
redes atualizadas. (Wall Street Journal, 12/06/95, B3)
 
EMPRESAS CLAMAM POR NOVO CHIP PENTIUM
	O novo e mais moderno chip Pentium da Intel ja' esta' formando
filas de compradores na porta, avidos por investirem 935 dolares (para
ordens de mil unidades) no mais rapido chip de computador ja' produzido.
Digital Equipment Corp., AST Research Inc., Compaq Computer Corp. e outras
empresas, pretendem incorporar o processador de 133 megahertz em seus
computadores de ultima geracao e servidores de rede. (Investor's Business
Daily, 13/06/95, A7)
 
CUSTOS DE HARDWARE CONTINUAM EM QUEDA LIVRE
	Gracas a uma enorme quantidade de lancamentos de novos produtos,
programados para o final de agosto, os custos de hardware de computadores
continuam em sua espiral descendente. "Houve um grande pressao em todo o
setor, o que facilitara' muito a compra das novas tecnologias de hardware.
O comportamento dos precos parece estar melhorando em um ritmo recorde.",
afirmou um gerente da Walt Disney Pictures. Os computadores multimidia de
mesa, com o novo chip Pentium de 133 megaherts da Intel, deverao estar
disponiveis por precos entre 2.500 e 3.000 dolares, o Power Macintosh
9500, da Apple, devera' custar menos de 5 mil dolares. E as maquinas mais
sofisticadas, a segunda geracao de mainframes baseada em CMOS, da IBM,
sera' uma pechincha, com precos a partir de cerca de 500 mil dolares por
um uniprocessador. Ha' apenas quatro anos, o preco total de um mainframe
da IBM era de quase 3 milhoes de dolares. (Information Week, 19/06/95,
p.24)
 
"INTERROMPEMOS SEU JANTAR PARA DAR-LHE UM PREMIO!"
	A Federal Communications Commission pretende elaborar regulamentos
para acabar com a pratica do "slamming" -- uma tecnica de vendas utilizada
por algumas empresas telefonicas de longa distancia para levar os
consumidores para seus servicos sem que eles saibam disso. Os consumidores
que foram vitimas dessa tecnica descobriram que, ao assinarem formularios
de concursos ou concordarem com donativos para instituicoes de caridade,
eles trocaram involuntariamente de operadora telefonica. (Atlanta
Journal-Constitution, 13/06/95, F3)
 
MAS O QUE SIGNIFICA ISSO? -- UMA PESQUISA DO EDUPAGE
	Como os leitores do Edupage possuem um nivel alto de cultura,
cidadaos inteligentes da Rede, estamos ansiosos para saber sua opiniao
sobre a tecnologia moderna. Como voce sabe, diversos livros publicados
recentemente (por autores como Neil Postman, Jeremy Rifkin, Cliff Stoll e
David Gelerntner) fizeram duras criticas a diversos aspectos da tecnologia
de informacoes. Postman ve a tecnologia como um "poderoso inimigo"; Rifkin
preve desemprego em massa devido `a informatizacao; Stoll e Gelerntner
sugerem que a era da informacao esta' provocando analfabetismo,
incivilidade e alienacao social. Entao, qual e' a SUA opiniao sobre essas
questoes? Por favor, diga-nos como a tecnologia da informacao afetou sua
personalidade, enviando sua opiniao sobre a seguinte frase: "Minha vida
quotidiana pessoal tornou-se consideravelmente mais satisfatoria devido `a
tecnologia da informacao". Envie sua mensagem (com ou sem comentarios)
para um dos enderecos a seguir:
	A. Concordo plenamente. Envie mensagem para A@educom.edu
    	B. Concordo na maioria dos casos. Envie mensagem para
	   B@educom.edu
    	C. Discordo na maioria dos casos. Envie mensagem para
	   C@educom.edu
    	D. Discordo totalmente. Envie mensagem para D@educom.edu 
Muito obrigado por ajudar-nos nesta pesquisa. Estamos esperando por 
seus comentarios e/ou voto! 
</pre>
