<title>Dia 19 de Junho de 1995</title>

<H2>Dia 19 de Junho de 1995</H2>
<pre>

INTERACTIVE NETWORK DESATIVADA
	A Interactive Network esta' chegando `a conclusao que a televisao
interativa ainda nao esta' pronta para o horario nobre, e tomou a dificil
decisao de suspender os testes do jogo interativo e demitir 80% dos seus
funcionarios, enquanto espera por uma injecao de dinheiro. A empresa
estava oferecendo aos clientes de mercados experimentais a chance de
participar de alguns shows como "Jeopardy!" e "Wheel of Fortune", mas a
tentativa, sem grandes atrativos, nao conseguiu atrair grande interesse
para seus aparelhos domesticos interativos. Os criticos afirmam que o
hardware da Interactive Network e' primitivo e caro demais para gerar uma
base ampla de suporte, e que o software e' avancado demais para a media do
usuario domestico. A infra-estrutura domestica ainda nao esta' preparada
para aceitar a programacao interativa.", afirmou um analista do setor. Um
outro analista avisou que o mercado de televisao interativa sera' uma area
onde devera' ser particularmente dificil obter sucesso: "Ha' pelo menos 20
empresas tentando vencer os obstaculos da area interativa. Quando isso
acontecer, a metade deles, ou quem sabe 90% dessas empresas, ja' nao
existirao mais.". (Wall Street Journal, 07/06/95, B7)
 
O FUTURO DE ALGUMAS EMPRESAS
	Alguns analistas afirmam que a explicacao para a tomada do
controle da Lotus Development Corporation pela IBM, e' a entrada do setor
de software no estagio da "computacao empresarial". Um gerente da Alliance
Technology afirmou: "Agora tornou-se necessario fazer as vendas em um
nivel mais alto das empresas. E' necessario direcionar a distribuicao, as
vendas e os servicos em ambito mundial, e uma variedade de produtos mais
rica e especializada. Se nem mesmo a IBM pode controlar tudo isso sozinha,
quem podera? (Investor's Business Daily, 07/06/95, A5)
 
COMUNICACOES ENTRE IBM E LOTUS
	Trecho da carta que Lou Gerstner, da IBM, enviou na ultima
segunda-feira ao presidente da Lotus, Jim Manzi: "Caro Jim, ha' algum
tempo a IBM esteve interessada em fazer uma combinacao comercial com a
Lotus. Como voce nao tem mostrado boa vontade em cooperar... anunciaremos
esta manha nossa intencao de comprar todas as acoes ordinarias
pendentes.". (Financial Times, 06/06/95, p.17) -- Manzi que, segundo
amigos, esta' emocionalmente arrasado diante da tentativa da IBM, ligou
para Gerstner na terca-feira passada, para marcar uma reuniao e chegar a
um acordo mais claro sobre o que a proposta realmente significava para o
futuro da Lotus. (New York Times, 08/06/95, C1)
 
VIOLACOES DE DIREITOS AUTORAIS
	A Periodical Writers' Association of Canada, entidade canadense
formada por autores de periodicos, anunciou que uma investigacao revelou
centenas de casos em que empresas comerciais de bancos de dados venderam
artigos, sem dividir os lucros com seus autores. As empresas de bancos de
dados cobram pelo acesso a artigos retirados de revistas, jornais e
periodicos, mas essas publicacoes normalmente pagam aos autores autonomos
pelo direito de apenas uma unica publicacao. (Toronto Globe & Mail,
08/06/95, C1)
 
VALE DO SILICIO PREOCUPA-SE COM A REFORMA NAS LEIS DE IMIGRACAO
	O setor de alta tecnologia nao esta' interessado na reforma nas
leis de imigracao -- as empresas desse setor dependem do talento
estrangeiro para preencher as vagas para as quais os cidadaos
norte-americanos nativos nao estao qualificados. "Nossa preocupacao e' que
estamos procurando por um tipo especifico de candidato, e de tempos em
tempos ha' uma escassez desses profissionais no mercado de trabalho norte
americano. Precisamos ter a possibilidade de contratar estrangeiros.",
afirmou um porta-voz da Intel. Os asiaticos compoem hoje 25% da forca de
trabalho do Vale do Silicio, e o medo -- alem da escassez de mao de obra
-- e' que os estudantes estrangeiros "venham para ca, adquiram
qualificacao e voltem para seus paises para competir contra nos.". (Wall
Street Journal, 07/06/95, B1)
 
VETERANOS DA INTERNET FOGEM DA USENET
	Os veteranos da Internet "estao sendo expulsos" da Rede, `a medida
que os novatos estao invadindo os newsgroups, que agora estao
"completamente tomados por pessoas que nao fazem a minima ideia do que se
trata a rede, e que mandam perguntas somente porque podem, e nao porque
tenham alguma coisa para oferecer.", afirmou o presidente da RSA Security,
que utiliza a Internet ha' 20 anos. Antigamente, a Rede "era uma populacao
solida e uniforme, onde os costumes eram reforcados por uma cultura e as
pessoas eram relativamente gentis.", afirmou um consultor tecnico. Agora,
a estrategia dos usuarios veteranos e' formar locais de encontros
eletronicos particulares, como um para o qual as pessoas sao convidadas
individualmente, criado por um professor da University of Pennsylvania,
sobre politica no espaco cibernetico. Outros veteranos contratam outras
pessoas para ficarem pesquisando as enormes quantidades de mensagens, e
passarem apenas as que realmente tem alguma utilidade. (Wall Street
Journal, 07/06/95, B1)
 
PROS E CONTRAS DO DINHEIRO ELETRONICO
	Dinheiro eletronico -- talvez a "maior revolucao ja' promovida
desde que o ouro substituiu as conchas marinhas -- alterara' para sempre
as transacoes comerciais, oferecendo aos consumidores maior privacidade do
que os cartoes de credito comuns, e eliminando os custos bancarios
associados `a manipulacao de cheques e registros em papel. O lado ruim e'
que a proliferacao dos sistemas concorrentes de dinheiro eletronico
podera' destruir as bases do sistema bancario, substituindo-o por "uma
Babel confusa e ineficiente de sistemas computadorizados" que estarao
sujeitos a falhas tecnologicas como quedas de sistema e vulnerabilidades
de redes. Pior ainda, a lavagem de dinheiro e a sonegacao de impostos
poderao se tornar muito mais faceis, e os falsificadores poderao criar
suas proprias empresas de dinheiro eletronico. "O dinheiro eletronico e'
uma ameaca para todos os governos do planeta que queiram controlar seu
dinheiro.", afirmou um executivo pioneiro no setor de dinheiro eletronico.
(Business Week, 12/06/95, p.66)
 
MUSICA NA AMERICA ONLINE
	A America Online abriu uma nova area chamada MusicSpace, que
oferece aos usuarios trechos de novas gravacoes e videos, alem de
informacoes sobre os artistas. "A Music e' nossa area mais popular.",
afirmou um porta-voz da America Online. "Queriamos trazer todo esse
conteudo, para que tivessemos um local apropriado para ir.". (Investor's
Business Daily, 08/06/95)
 
DESNECESSIDADE DOCUMENTADA
	Como o maior patrimonio de uma empresa de software sao seus
engenheiros, vendedores e gerentes, o maior risco do controle hostil da
IBM sobre a Lotus Corporation e' que os programadores, que desenvolveram o
Lotus Notes, poderao abandonar a empresa. Contudo, o fundador da Lotus,
Mitch Kapon, afirmou que o risco da IBM e' reduzido, devido ao fato de que
o desenvolvimento do Notes foi bem documentado. "Estranhamente, isso
podera' tornar as pessoas mais dispensaveis.". (New York Times, 07/06/95, C4)
</prE>
