<title>Dia 19 de Julho de 1995</title>

<H2>Dia 19 de Julho de 1995</H2>
<prE>

PIORA AINDA MAIS A ESCASSES DE CHIPS
	O fato de que a demanda de chips de computadores esta' superando a
oferta nao e' novo -- isto esta' acontecendo desde 1992 -- mas agora ha'
diversos outros fatores exacerbando essa situacao. A surpresa da grande
popularidade conquistada pelas maquinas multimidia de alto desempenho, a
interrupcao da producao devido `as conversoes das linhas de fabricacao de
memorias e modulos de 16 Mbits, e as atualizacoes necessarias para rodar o
Windows 95, tudo isso exerceu uma grande pressao sobre um mercado ja'
bastante sobrecarregado. Realmente, o advento do Windows 95 e a
popularidade do chip Pentium dobrarao a demanda de chips de DRAM (dynamic
random access memory, ou memoria de acesso aleatorio dinamico), enquanto a
capacidade de producao crescera' apenas 50 por cento nos proximos anos.
"Os consumidores estao querendo mais memoria do que poderao conseguir ate'
o final de 1995.", afirmou o gerente de marketing da Micron Technology,
Inc. (Information Week, 10/07/95, p.14)
 
MANOBRA PARA DEFENDER A INTERNET
	Os membros do congresso norte-americano Christopher Cox (R- Calif)
e Ron Wyden (D-Ore) lancaram um projeto de lei na semana passada, que
podera' impedir que a FCC controle o conteudo do que vai pela Internet, e
em vez disso dara' incentivos para que o setor privado policie a
indecencia on-line. (Multichannel News, 03/07/95)
 
E CONTINUA A DISCUSSAO SOBRE O RELATORIO CONTRA
A PORNOGRAFIA CIBERNETICA
	Continua a controversia gerada pelo relatorio "Mercado de
Pornografia na Super Via de Informacoes", publicado pelo pesquisador Marty
Rimm, da Universidade Carnegie Mellon. No Edupage de 07/07/95 citamos uma
pagina da Teia que contem as criticas da professora Donna Hoffman contra o
relatorio e uma materia da revista Time, que cobriu o relatorio. Agora,
Mr. Rimm deu sua resposta, que pode ser encontrada no URL
http://trfn.pgh.pa.us/guest/mrstudy.html. 

AMERITECH CONQUISTA FRANCHISING DE TV A CABO
	A Ameritech tornou-se a primeira empresa Bell a ser contemplada
com um franchising de TV a cabo em sua propria area de atuacao. Dessa
maneira, a Ameritech evitou o processo de aplicacao da Secao 214 da FCC,
para servicos de discagem por tom para video. Os planos de RBOS continuam
flexiveis: "Ha' um potencial para nos agirmos como operadores de rede de
discagem por tom para video em algumas comunidades, e como operadores de
TV a cabo em outras.", afirmou um porta-voz da Ameritech. A empresa
comecara' a construir uma nova rede de video, independente de sua rede
telefonica, ja' na proxima semana, e pretende comecar a oferecer servicos
de TV a cabo no inicio do proximo ano. (Broadcasting & Cable, 03/07/95,
p.6)
 
SERVICOS DE SUPORTE A CLIENTES ENTRAM EM COLAPSO
	Com milhoes de compradores novatos aquecendo as vendas de PCs, as
empresas estao enfrentando grandes dificuldades para atender a consequente
demanda de suporte a clientes. Uma pesquisa realizada pela revista PC
Magazine, entre 8 mil leitores, deu `as empresas Compaq, IBM e Hewlett
Packard o nivel "A" em atendimento, enquanto as empresas Zenith, CompuAdd
e Unisys receberam um "D". A pesquisa revelou que 28 por cento dos
entrevistados haviam solicitado reparos ou suporte tecnico durante o
primeiro ano de utilizacao do PC. Enquanto isso, uma pesquisa realizada
pela Hewlett Packard sobre as operacoes de suporte ao cliente de cinco
grandes empresas, revelou que o tempo medio de espera por uma resposta da
Packard Bell era de 58 minutos, apesar do fato de a empresa ter dobrado
seu pessoal de suporte tecnico para 1.600 pessoas, ha' dois anos. (Wall
Street Journal, 06/07/95, B1)
 
PRODIGY LANCA SERVICO SOMENTE PARA ADULTOS
	A Prodigy, que sempre alardeou ser um servico on-line "familiar",
lancou sem muita propaganda um servico somente para adultos, chamado de
Pseudo. Embora a Prodigy continue filtrando profanidades, etc., em outras
areas, a unica censura a ser feita no Pseudo sera' contra a pornografia
infantil. A Pseudo tambem tera' areas de cultura e entretenimento
direcionadas para pessoas com idades entre 18 e 30 anos. O acesso ao
Pseudo pode ser bloqueado para proteger os usuarios mais jovens. (Tampa
Tribune, 06/07/95, B&F1)
 
MUITO TRABALHO E NENHUMA DIVERSAO NA INTERNET
CHINESA
	A agencia chinesa de noticias Xinhua News lancou uma nova empresa,
a China Internet Corp., para servir como intermediaria para as empresas
chinesas que estiverem interessadas em informacoes e contatos
empresariais. A empresa pretende traduzir informacoes empresariais
selecionadas e envia-las diretamente `as empresas assinantes. Alem disso,
as empresas estrangeiras poderao anunciar seus produtos e receber
informacoes sobre os mercados chineses. "Nossos clientes nao terao acesso
direto `as informacoes fora da China. O governo nao precisara'
preocupar-se conosco.", declarou o presidente da China Internet. A empresa
esta' prevendo a entrada de 200 mil assinantes no periodo de um ano, e de
mais de um milhao ate' 1999. (Investor's Business Daily, 05/07/95, A15)
 
SANTA COMPUTACAO
	Um cientista do Jet Propulsion Laboratories, na NASA, acha que
Santo Agostinho ja' devia estar sabendo de alguma coisa a mais, quando
descreveu Deus nos termos da Santissima Trindade (no ano de 400 d.C.,
aproximadamente), e acredita que o conceito poderia ser interpretado como
sendo a computacao, em termos de multiprocessamento e tarefas
compartilhadas. A nocao de um computador como uma coisa e diversas coisas
ao mesmo tempo podera' dar margem a varios projetos diferentes de
computadores. "Deve haver algo mais do que o que foi percebido.", afirmou
o cientista. (Business Week, 10/07/95, p.8)
 
NEC COMPRARA' 20% DA PACKARD BELL
	A japonesa Nec Corp. comprara' 20% das acoes da Packard Bell, por
170 milhoes de dolares. A transacao dara' `a Packard Bell o dinheiro de
que necessita para conquistar novos mercados empresariais, e
possibilitara' a entrada da NEC nos mercados dos E.U.A.. Enquanto isso, a
empresa francesa Groupe Bull, tambem proprietaria de 20 por cento da
Packard Bell, pretende aumentar seu investimento para evitar a diluicao de
sua participacao. (Investor's Business Daily, 06/07/95, A5)
 
SOFTWARES VERSUS LIVROS NAS SALAS DE AULA
	Embora tenham surgido previsoes terriveis sobre a morte dos
editores tradicionais de livros didaticos, isso nao devera' acontecer tao
cedo. Nos 22 estados norte-americanos onde a burocracia educacional
comanda as compras de livros, estao previstas compras para os proximos
cinco anos, que totalizam 6 bilhoes de dolares -- resultado do adiamento
das compras dos ultimos anos. Esse novo gasto devera' se traduzir em um
crescimento de 10 por cento, ou mais, ate' 1998, para os editores de
livros escolares. Enquanto isso, o investimento para fornecer o
equipamento e o treinamento necessarios para oferecer materiais de ensino
baseados em computadores continua sendo o principal obstaculo para a
maioria das escolas -- a Milken Family Foundation estima que custaria 31,5
bilhoes de dolares para interligar as escolas dos E.U.A., colocar de
quatro a seis computadores em cada sala de aula, comprar softwares e
treinar os professores. (Forbes, 17/07/95, p.62)
 
EXAME NACIONAL PARA O NIVEL SECUNDARIO NOS
ESTADOS UNIDOS
	A American Federation of Teachers, o maior sindicato nacional de
professores dos Estados Unidos, quer que o governo federal norte-americano
determine um curriculo padrao e um exame nacional para os alunos do nivel
secundario, como ja' e' feito em paises como Franca, Alemanha e Escocia. O
sub secretario de educacao dos E.U.A., Mike Smith, e o secretario do
trabalho Robert B. Reich, acreditam que o papel do governo federal devera'
ficar restrito `a orientacao educacional. Milton Goldberg, presidente da
National Alliance of Business, concorda com a recomendacao da AFT:
"Precisamos ter materias academicas interessantes e em sintonia com os
padroes mundiais de educacao, e precisamos ter um sistema para avaliar o
sucesso.". (New York Times, 06/07/95, A8)
 
BIBLIOTECA PUBLICA NA INTERNET
	A School of Library and Information Science da Universidade de
Michigan montou a Internet Public Library, uma biblioteca publica na World
Wide Web. O local, http://ipl.sils.umich.edu/, oferece o auxilio de
consulta de sempre, e ate' mesmo um horario de historias infantis.
"Gostariamos de ser um modelo para as bibliotecas tradicionais, e
mostrar-lhes como podem usar suas proprias bibliotecas para oferecer
informacoes na Internet.", afirmou o diretor da IPL. (Chronicle of Higher
Education, 07/07/95, A16)
</pre>
