<title>Dia 19 de Julho de 1995, segunda parte</title>

<H2>Dia 19 de Julho de 1995, segunda parte</H2>
<pre>

ALIANCA ENTRE CHEMICAL BANK E MICROSOFT
	O Chemical Bank tornou-se o setimo grande banco a fazer uma
alianca com a Microsoft, para oferecer servicos bancarios em casa para
seus clientes, que usarao a rede particular de computadores da Chemical, e
o proprio software do banco ou o Money for Windows 95, da Microsoft. (New
York Times, 07/07/95, C4)
 
EXPANSAO ANTI-TRUSTE
	A Divisao Anti-Truste do Departamento de Justica norte- americano
vem examinando, de maneira constante e minuciosa, os setores de
computadores e telecomunicacoes durante os dois ultimos anos, e pode haver
uma boa razao para toda essa atividade recente. Nos dois ultimos anos, a
renda desses setores cresceu 26 por cento (63,9 milhoes de dolares em
1993, e 80,7 milhoes de dolares em 1995) e houve um aumento de pessoal de
42 por cento (587 FTEs e "reembolsos" em 1993 e 834 em 1995). E devera'
haver ainda mais investigacoes futuramente -- a Divisao solicitou aumento
de recursos para fiscalizacao para o ano de 1996, da ordem de 91,3 milhoes
de dolares -- um aumento de 13 por cento. (Telecommunicatins Policy
Review, 02/07/95, p.1)
 
BELL ATLANTIC TESTA SOFTWARE CONTRA FRAUDE DE CELULARES
	A Bell Atlantic testara' um software projetado para impedir as
fraudes de telefones celulares feitas atraves do uso de telefones falsos
ou clonados. O sistema anti-fraude PreTect utiliza uma tecnologia de
identificacao por ondas de radio, para comparar o padrao exclusivo das
frequencias dos telefones com os dados de validacao dos clientes, e
interromper a chamada automaticamente, caso os dois sinais nao combinem. O
softwares esta' sendo produzido pela Cellular Technical Services Co..
(Investor's Business Daily, 07/07/95, A5)
 
REGULAMENTACAO DA INTERNET
	Logo apos a lei de Decencia nas Comunicacoes ter sido votada no
congresso norte-americano, o parlamento canadense aprovou, por
unanimidade, uma resolucao que encarrega os legisladores de apertarem o
cerco contra a pregacao de violencia on-line. O Simon Weisenthal Centre,
de Toronto, enviou um relatorio contundente ao regulador federal CRTC,
pedindo a regulamentacao rigorosa da Internet. (Montreal Gazette,
07/07/95, B3)
 
LEMBRANCAS DE ENJOOS CIBERNETICOS
	Estao surgindo reclamacoes sobre "lembrancas" sobre enjoos
ciberneticos, parecidos com as do LSD, e agora os pesquisadores ja' tem
uma pista do que causa esses sintomas. O enjoo dos simuladores ocorre
quando a realidade virtual cria ilusoes audiovisuais de movimento, mas nao
produz os sinais fisicos relacionados, como a inercia, que o cerebro
espera encontrar. Para resolver esse conflito, o cerebro abre novos
caminhos neuroniais, que podem resultar em lembrancas das sensacoes, horas
ou dias apos o fim da simulacao. "Trata-se de um fenomeno completamente
novo. Podera' trazer novos tipos de disturbios emocionais e doencas
mentais.", afirmou o psicologo da McGill University, que alertou: "Poderao
surgir enormes processos judiciais.". (Business Week, 10/07/95, p.110)
 
APPLE ATACA MERCADOS QUE ESTAO EM EXPANSAO
	O presidente da Apple, Michael Spindler, quer focalizar as
atividades da empresa nos "segmentos do mercado que estao apresentando um
grande crescimento", como os de publicacao e multimidia, educacionais,
comerciais, de entretenimento e domesticos. "Nao queremos ficar vendendo
Macs somente para fazer trabalhos em escritorios.", afirmou. Spindler
rejeita a ideia de transformar o Mac em uma maquina mais generica:
"Computadores nao sao fraldas descartaveis, sabao ou soda. Precisamos
produzir computadores que entendam melhor seus usuarios. (Information Week
, 10/07/95, p.32)
 
DELRINA PLANEJA FUSAO
	A empresa Delrina, sediada em Toronto, e lider mundial em
softwares de fax, com o WinFax, entrou em negociacoes sobre uma fusao com
a Symantec, sediada na California. (Toronto Financial Post, 06/07/95, p.1)
 
DEFINIDA A DATA PARA O LANCAMENTO DA TV CANADENSE POR SATELITE
	O governo canadense definiu as regras basicas para a primeira
concorrencia verdadeira com as empresas de TV a cabo, permitindo que a
Expressvu comece a oferecer seus servicos de transmissao direta de TV por
satelite, a partir do dia primeiro de setembro. Os reguladores federais
receberam ordens para agilizarem as inscricoes de pedidos de licenca de
outras empresas, para serem aprovadas no dia primeiro de novembro.
(Toronto Globe & Mail, 08/07/95, A1)
 
EMPRESAS DE SOFTWARE NORTE-AMERICANAS CONTRA PROPOSTA JAPONESA
	As empresas de software norte-americanas responderam negativamente
`a ideia de um grupo japones de padroes, que propos que as empresas
submetessem voluntariamente seus produtos a uma avaliacao de qualidade,
baseada no cumprimento do padrao ISO 9000, desenvolvido pela Organizacao
Internacional de Padroes, em Geneva. Um executivo da organizacao
industrial norte-americana afirmou que o processo de certificacao
aumentaria o tempo necessario para o desenvolvimento e a disponibilizacao
de produtos de software no mercado. (Atlanta Journal-Constitution,
08/07/95, C4)

AUMENTA O CONSUMO NA WEB, MAS NAVEGACAO AINDA PREDOMINA
	Uma pesquisa realizada recentemente, sobre as preferencias de
consumo e os costumes dos usuarios da Web, revelou que o consumo per
capita na Web subiu 35 por cento, em relacao ao que foi verificado seis
meses atras. Contudo, embora os locais da Web que oferecem "informacoes
comerciais sobre produtos e servicos" sejam os mais visitados, as compras
ficaram para tras como principal motivo para utilizar a Web. Para quem
compra, as categorias mais populares foram software, hardware, livros,
musica e viagens. Os itens menos procurados foram vestuario e servicos
juridicos. Os detalhes dessa pesquisa podem ser obtidos no local da HERMES
na Web, www.umich.edu/~sgupta/hermes/, ou atraves de mensagem eletronica
para sgupta@umich.edu, com o subject "HERMES Info". 

POPULARIDADE DE CARTOES DE COMPRAS
	Os consumidores de Quebec tem mais oportunidades para utilizar
cartoes de compras para fazer compras no varejo, porque cerca de 72 por
cento das empresas daquela provincia canadense oferecem o servico,
comparado com apenas 28 por cento verificados nas demais areas do pais. Um
estudo feito pela Canadian Federation of Independent Business revelou que
99 por cento dos comerciantes e 87 por cento dos consumidores estao
satisfeitos com o servico. (Toronto Globe & Mail, 06/07/95, B10)
 
COMMODITIES ON-LINE
	O Chicago Board of Trade estara' disponivel on-line, oferecendo
servicos como acoes com precos anteriores e precos de final de dia na
Internet. O local tambem apresentara' noticias e a previsao do tempo,
comentarios sobre o mercado e informacoes e graficos com historicos de
precos, enviados por diversos fornecedores. "Estamos oferecendo o recurso
ou o veiculo de informacoes para os fornecedores.", declarou um porta-voz
da CBOT. Os usuarios pagarao uma taxa, ainda nao definida, para ter acesso
aos servicos, e a renda sera' dividida entre a CBOT e os fornecedores.
(Investor's Business Daily, 06/07/95, A17)
 
PROGNOSTICOS PARA O MERCADO DE PCs
	O presidente da Gateway 2000 esta' otimista em relacao `a
convergencia: "Esta' claro que a consolidacao tem sido construida nos
ultimos anos, e vai continuar. A proxima fase sera' direcionada pela
convergencia do setor de consumo de eletronica e comunicacoes. Ainda ha'
muitas duvidas. Como se sairao as empresas eletronicas no mundo dos PCs? A
Dell ainda e' a lider mundial em vendas diretas, mas consideramos todos
como concorrentes. A Packard Bell tem sido muito bem sucedida com seu
canal, mas sera' que esta' conseguindo resultados financeiros de alto
nivel? A Hewlett-Packard deveria impor `a Compaq uma grande concorrencia,
nas areas empresarial e de consumo. E a IBM e' a eterna favorita. Sera'
que conseguirao igualar suas forcas basicas e focalizar alguma coisa? Nao
sei qual sera' o fim disso tudo. Mas sei que nenhum dos principais
participantes sabera' como fazer vendas diretas sem enfraquecer seus
revendedores, de modo que estou confiante que poderemos continuar fazendo
nosso trabalho.". (Investor's Business Daily, 06/07/95, A8)
 
LIGACAO DIRETA ENTRE MCI, SPRINT E ANS
	MCI, Sprint e ANS, uma unidade da America Online, concordaram em
interligar suas redes e permitir a troca direta de trafego entre os
usuarios das tres redes, que juntas controlam aproximadamente 80 por cento
do trafego total da Internet em suas redes centrais. (Financial Times,
04/07/95, p.19)
 
CONTEUDO CANADENSE SOB PRESSAO
	Alguns dos canais canadenses especializados deverao rever seus
planos comerciais, ja' que os niveis de audiencia estao inferiores aos
esperados 90 por cento de penetracao no mercado. Nos mercados mais fortes,
de Toronto e Vancouver, somente 52 por cento dos assinantes solicitaram os
canais, enquanto a media nacional esta' estimada em apenas 60 por cento,
reduzindo as rendas de propaganda e de cabo desses canais. (Toronto Globe
& Mail, 06/07/95, A1)
 
MAIS DISCUSSAO SOBRE PORNOGRAFIA CIBERNETICA
	A controversia criada em torno do relatorio "Comercio de
Pornografia na Supervia de Informacoes", publicado pelo pesquisador Martin
Rimm, da Carnegie Mellon University, continua acalorada na Internet, entre
dois locais rivais na Web. Se voce quiser acompanhar de perto essas
discussoes, va' ate' http://trfn.pgh.pa.us/guest/mrstudy.html e
http://www2000.ogsm.vanderbilt.edu/cyberporn.debate.cgi. 

NAB PROTESTA CONTRA COBRANCAS DO GOVERNO NORTE-AMERICANO
	A National Association of Broadcasters acha que o governo deveria
se preocupar em privatizar suas proprias emissoras antes de fazer as
emissoras pagarem pelas frequencias que utilizam. "O governo federal
controla uma parcela enorme -- 86 por cento -- do total de 300 mil
megahertz existentes no espectro, e quase dois quintos do espectro abaixo
dos 30 mil Mhz. A privatizacao, atraves de leiloes, de menos de 1 por
cento desse espectro, em grande parte subutilizado, poderia gerar bilhoes
de dolares, que poderiam reduzir o deficit -- sem ter que exigir que os
consumidores paguem impostos ou prejudicar um setor em um mercado
competitivo.", declarou a NAB. (Broadcasting & Cable, 03/07/95, p.31)
 
PESQUISA NA INTERNET
	A edicao de primeiro de julho da revista The Economist traz uma
materia sobre o desenvolvimento e o estado atual da Internet, a que chama
de "a supervia acidentada". Veja tambem no URL:
http://www.economist.com. (The Economist, 01-07/07/95, p.50)
</pre>
