<title>Dia 20 de Julho de 1995</title>

<H2>Dia 20 de Julho de 1995</H2>
<pre>

PACKARD BELL EM ACAO
	Indo de encontro a um futuro onde os PCs terao um papel
fundamental na coordenacao de outros aparelhos eletronicos, a nova linha
de PCs da Packard Bell oferece um modelo ultra fino, que lembra um
toca-discos CD, e um sistema com formato de diamante, que se ajusta no
canto da parede, como se fosse uma peca de mobilia. A empresa tambem esta'
lancando um controle remoto que pode ser usado para funcoes como abertura
de arquivos e execucao de programas. (Atlanta Journal-Constitution,
11/07/95) -- Enquanto isso, os planos recem anunciados pela Packard Bell
de juntar-se `a NEC, poderao significar o lancamento de uma nova linha de
computadores lap-top, ate' o ano que vem. A linha de lap-tops Versa da NEC
esta' atualmente em terceiro lugar no mercado norte-americano. (Investor's
Business Daily, 11/07/95, A9)
 
HDTV FORA DO HORARIO NOBRE?
	Foi uma grande ideia para os defensores serios da TV nos ultimos
dez anos, mas a televisao de alta definicao pode ser uma ideia cujo tempo
ja' passou. O que acontece e' que, tornando-se digitais, e nao passando a
ter alta definicao, as emissoras podem enviar quatro ou cinco programas de
qualidade comum atraves de um so' canal -- uma enorme tentacao quando se
considera a possibilidade de oferecer diversos canais pagos e um
"gratuito", utilizando as mesmas ondas magneticas que seriam necessarias
para transmitir um so' canal de HDTV. "Estou prevendo que as emissoras de
televisao terao um botao para trocar de canais e um botao identificado
basicamente como 'imagens otimas' de um lado e 'imagens horriveis' do
outro.", afirmou o diretor executivo do Advanced Television Systems
Committee. (New York Times, 11/07/95, C1)
 
IBM DE OLHO NOS CONSUMIDORES
	A IBM esta' criando uma nova divisao de produtos para o
consumidor, voltando sua atencao para o crescente numero de compradores
domesticos. "O mercado de consumo tem um grande potencial de crescimento",
comentou um porta-voz da empresa. Acompanhando a alteracao organizacional,
a Big Blue reestruturou sua configuracao de fabricacao, de modo que agora
utiliza mais pecas comuns, e pode alterar a producao rapidamente para
atender `as alteracoes na demanda. A empresa calcula que deixou de ganhar
aproximadamente 100 milhoes de dolares em vendas em 1994, por ter
subestimado a popularidade de sua maquina domestica Aptiva. (Investor's
Business Daily, 10/07/95, A10)
 
PLANO DE CUSTEIO DE ENSINO PODE ESTAR DESRESPEITANDO PATENTES
	O College Savings Bank, de Princeton, Nova Jersey, levou o estado
da Florida ao tribunal por ter desrespeitado a patente de seu metodo de
investimentos para programas de ensino pre- pago. O plano do College
Savings relaciona os juros dos certificados de depositos aos aumentos
esperados nos custos de ensino. O estado da Florida, assim como outros
sete estados, opera o seu proprio plano de ensino pre-pago, e afirmou que
o programa de investimento foi desenvolvido por um comite de legisladores
e oficiais do departamento estadual de educacao, que nao sabiam da
existencia do College Savings. Florida e outros estados norte-americanos
estao questionando a validade da patente do College Savings. "E' como
patentear uma formula matematica. E' muito estranho que isso seja
possivel.", afirmou o diretor da agencia estadual que opera o plano do
estado de Ohio. Um professor de direito da Universidade de Houston
acrescentou: "Nao esta' claro para mim como uma entidade publica, que
tenta projetar as taxas de ensino do seu proprio estado, pode estar
desrespeitando a lei com uma formula que tenta projetar as taxas das
instituicoes privadas nacionalmente.". (Wall Street Journal, 10/07/95, B3)
 
A CONQUISTA DA GERACAO ON-LINE
	Enquanto os profissionais de marketing estao indo em massa para a
Internet, esperando chamar a atencao dos estudantes da Geracao X, uma
analise feita pelo Hanigan Consulting Group, em Nova York, indica que essa
pode ser uma estrategia errada. Embora seja verdade que 98% dos alunos nao
formados tem acesso `a Internet e metade deles a utilizem todos os dias,
71% a utilizam somente para enviar e receber mensagens, ignorando
completamente a Web. Somente 0,3% dos alunos ja' compraram alguma coisa
atraves da Internet, e os planos de permanecer na rede depois de formados
nao sao concretos -- apenas um terco dos nao formados pretendem assinar
algum servico on-line depois de formados. (Investor's Business Daily,
11/07/95, A8)
 
NOVOS PADROES PARA MEDIR A WEB
	A Magazine Publishers of America's Internet Advertising
Measurement Task Force (forca tarefa para avaliacao da Internet, dos
editores de revistas da America) propos padroes para medir as audiencias
dos locais da Web. A forca tarefa observa que, embora tenham surgido
diversas empresas particulares nos ultimos meses, para vender servicos de
medicao da audiencia, os medidores mais apropriados sao os proprios donos
dos locais da Web, com terceiros fazendo apenas servicos de auditoria e
validacao. (Wall Street Journal, 11/07/95, B14)

VICIADOS EM COMPUTADORES
	O diretor do centro de reabilitacao, para onde foi levado o
cracker Kevin Mitnick apos sua liberacao da prisao federal em 1989, disse
o seguinte `a escritora Katie Hafner: "O parente mais proximo da aflicao
de Kevin e' o vicio do jogo. Nao se trata de dinheiro ou de vencer, mas de
acao. Muitas pessoas que trabalham com computadores tem um vicio parecido,
mas conseguem conduzir seus vicios de uma maneira socialmente aceitavel.".
(Esquire, agosto de 95, p. 80)
 
HOSPITAIS PRECISAM DE MELHORES SISTEMAS DE INFORMACAO
	Um estudo conduzido pela Universidade de Harvard, publicado no
Journal of the American Medical Association, afirma que 6,5% dos pacientes
dos hospitais sofrem por erros com medicamentos, e pediram a adocao
urgente de sistemas de pedidos de medicamentos computadorizados, para
orientar os medicos na selecao das melhores drogas e das dosagens mais
apropriadas. A maioria dos erros ocorrem quando o pedido de medicamento e'
emitido pela primeira vez, embora poucos hospitais tenham registros
eletronicos completos dos pacientes ou alertas automaticos para auxiliar
nas tomadas de decisoes, e a maioria dos sistemas de informacoes dos
hospitais se concentrem em sistemas de contabilidade, e nao de apoio
medico. (Computerworld, 10/07/95, p.1)
 
WANG AFIRMA QUE TECNOLOGIA E' INVESTIMENTO... NAO DESPERDICE
	Charles Wang, presidente da Computer Associates, o segundo maior
fornecedor independente de softwares do mundo, afirmou que as empresas
norte-americanas perderam mais de um trilhao de dolares na ultima decada,
com hardware e software desnecessarios. "Tecnologia e' investimento. Nao
se joga investimentos fora. Deve-se faze-los trabalhar!" (Newsweek,
17/07/95, p.39)
 
DE MAINFRAMES A SUPER-SERVIDORES
	Microsoft e Proginet Corp. desenvolveram um novo software, chamado
de Fusion File Transfer Management System, que permite que os PCs
interajam com computadores mainframe, o que, na pratica, transforma o
mainframe em uma especie de super-servidor. Utilizando esse software, os
PCs poderao acessar bancos de dados de mainframes, utiliza-los em
aplicativos do Windows, e transmitir as informacoes de volta ao mainframe.
Embora esse tipo de interacao ja' fosse possivel antes, o software Fusion
faz isso de uma maneira rapida e uniforme, permitindo que os PCs
transmitam e recebam blocos enormes de dados. (Information Week, 17/07/95,
p.20)
 
ESTACOES DE TRABALHO 3D DA SILICON GRAPHICS
	A Silicon Graphics Inc. oferecera' uma linha de estacoes de
trabalho de imagens tridimensionais, com desempenho cinco vezes melhor do
que os sistemas atuais. Batizadas de sistemas Indigo 2 Impact, as estacoes
de trabalho custarao algo entre 35 mil e 60 mil dolares. (New York Times,
10/07/95, C8)
 
CIRCULO DO CD-ROM
	Aproveitando o modelo do circulo do livro, a Columbia House esta'
oferecendo uma versao de alta tecnologia -- o clube CD-ROM Direct. Esta e'
uma das estrategias de marketing que nunca serao colocadas on-line --
seria facil demais recusar o recebimento e evitar as despesas decorrentes,
que e' o que alimenta esse tipo de estrategia de vendas. (St. Petersburg
Times, 10/07/95, p.14)
 
INTERNET ESTILO CHINES: SEM SEXO, POLITICA OU BATE-PAPO
	O presidente da China Internet Corporation (CIC), sediada em Hong
Kong, uma subsidiaria da agencia de noticias chinesa Xinhua, declarou o
seguinte: "Todos sabem que a Internet contem muita informacao. Por
enquanto, a maior parte dessas informacoes nao esta' relacionada com
negocios. Sao grupos de discussoes culturais e academicas, pornografia e
politica. Eliminando-se esses elementos nao relacionados com comercio,
fazemos uma melhor utilizacao dos recursos a um menor custo.". (Financial
Times, 10/07/95, p.9)
</prE>
