<title>Dia 21 de Julho de 1995</title>

<H2>Dia 21 de Julho de 1995</H2>
<pre>

SERVICOS ON-LINE -- BUSCA DESESPERADA POR UMA IDENTIDADE
	`A medida que as tres grandes empresas de servicos on-line estao se
tornando cada vez mais parecidas, e os precos vao se estabilizando, elas
estao passando a buscar novas maneiras de diferenciar seus servicos.
"Todas essas empresas terao que aparecer com alguma coisa diferente, que
as destaque o bastante para mante-las `a frente no seculo XXI.", afirmou o
diretor executivo da Interactive Services Association. Atualmente, o
servico da Prodigy esta' sendo visto como mais voltado para a familia, a
America Online atrai mais o publico jovem e bem informado, e a CompuServe
atende os experts veteranos em computadores. Mas todos esses servicos
estao trabalhando duro para alterar essas imagens -- e apelando para o
mercado de massa dos usuarios em potencial dos servicos on-line, em vez de
ficarem restritos a um unico nicho, esperando algum resultado. (Wall
Street Journal, 12/07/95, B1)
 
ATRASO DO WINDOWS 95
	O presidente da Compaq, Eckard Pfeiffer, declarou que, como a
Microsoft nao disponibilizara' o Windows 95 ate' o final de julho, sua
empresa nao instalara' o novo sistema operacional em todos os seus
computadores, a tempo de cumprir o prazo final da Microsoft, marcado para
24 de agosto. "Nao vamos tomar atalhos. Vamos testa-lo para ver se ele faz
o que se espera que faca.". Contudo, a Compaq fornecera' o software aos
clientes que o solicitarem. O atraso podera' reduzir as vendas do tao
esperado software. "Eles ainda terao bons resultados, mas nao serao tao
bons como poderiam ser.", afirmou um analista da Dataquest, lembrando que
a data original para a distribuicao do software aos fabricantes era 7 de
julho. (Investor's Business Daily, 12/07/95, A5)
 
INTELIGENCIA ARTIFICIAL ESTA VIVA E PASSA BEM
	Uma pesquisa realizada recentemente pelo Departamento de Comercio
dos Estados Unidos indicou que mais de 70 por cento, entre as 500 maiores
empresas norte-americanas, estao utilizando alguma forma de inteligencia
artificial em suas operacoes. Embora as vendas de softwares de
Inteligencia Artificial provavelmente tenham superado um bilhao de dolares
no ano passado, trata-se de uma grande forca no mercado de softwares, que
normalmente passa por despercebida. "Sempre que alguma coisa funciona,
deixa de ser chamada de Inteligencia Artificial. Em vez disso, passa ser
chamada de qualquer outra coisa, como gerenciamento de bancos de dados ou
reconhecimento de voz.", declarou o chefe de servicos de tecnologia da
informacao do Ernst & Young. (Business Week, 17/07/95, p.68)
 
TENDENCIAS DA REDE
	O Dallas Morning News informou que uma pesquisa realizada
recentemente pelo Georgia Institute of Technology, sobre as tendencias
demograficas da Internet, revelou que quase um terco dos usuarios da World
Wide Web estao surfando ha' menos de seis meses. Menos de 25 por cento
desses usuarios sao veteranos, com quatro anos de rede, ou mais. O afluxo
de novatos esta' sendo atribuido, principalmente, `a nova disponibilidade
de acesso atraves da Prodigy, CompuServe e America Online. A pesquisa pode
ser encontrada no URL
http://www.cc.gatech.edu/gvu/user-surveys/survey-04-1995. Uma outra
pesquisa sobre mulheres, feita pela Interactive Publishing Alert, revelou
que elas querem ter acesso a conexoes descomplicadas, muita enfase nas
politicas contra casos de molestamento e cobranca simplificada. As
mulheres tendem mais a se conectar, pegar o que precisam, e logo em
seguida desfazerem a conexao, ao contrario dos homens, que costumam surfar
por muitas horas. http://www.netcreations.com/ipa/. (Tampa Tribune,
13/07/95, Baylife 1)
 
A FORMACAO DE NEWT GINGRICH
	Em uma entrevista `a revista Wired, o porta-voz do congresso
norte-americano, Newt Gingrich, explicou como aprendeu sobre tecnologia.
"Por volta de 1965, um senador do estado da Georgia afirmou que eu
realmente precisava ter uma nocao melhor sobre computadores -- a
tecnologia do futuro. Entao fui para a Georgia Tech e encontrei um
camarada chamado Pete Jensen, um professor do Rich Computer Center. Ele
comecou a dar-me livros para que eu lesse. Em algum ponto entre
'Bibliotecas do Futuro' e Peter Drucker, ja' tinha uma nocao geral sobre o
funcionamento dos sistemas binarios, sobre a logica dos computadores e
suas limitacoes.". Suas leituras incluiram "O Surgimento da Sociedade
Pos-Industrial", de Daniel Bell, e um livro financiado pela NASA, chamado
"As Estradas para a Era Espacial" (que tentou dar algum sentido a
desenvolvimentos historicos paralelos), "A Era das Descontinuidades", "A
Terceira Onda" e "O Choque do Futuro", de Toffler. (Wired, agosto de 95,
p.107)

CYBERCASH E CHECKFREE JUNTAS
	CyberCash Inc. e Checkfree Corp. trabalharao juntas para
desenvolver um sistema de seguranca para transacoes financeiras on-line. O
Checkfree ja' esta' sendo utilizado por cerca de 250 mil clientes, que
pagam suas contas atraves do software Quicken, da Intuit. Entre os planos
para o futuro esta' a integracao da tecnologia da CyberCash em algo
chamado Checkfree Wallet, o que permitira' que os proprietarios facam
pequenas transacoes financeiras, alem de pagamentos de cartoes de credito,
cartoes de debitos e cheques. "O Checkfree da' muita credibilidade `a
Cybercash", afirmou um analista da Link Resources. (Wall Street Journal,
13/07/95, B7)
 
FIM DO MONOPOLIO DA BELL
	O CRTC iniciou um estudo, que devera' durar um ano, sobre como
atrair outras empresas para concorrer com a Bell Canada. O estudo
determinara' como devera' ser iniciada a concorrencia entre as empresas
telefonicas locais, quanto os concorrentes deverao pagar para ter acesso
`as redes da Bell, e como garantir que nao havera' comportamentos anti
competitivos. (Toronto Star, 12/07/95, A1)
 
AS COISAS ESTAO MELHORANDO PARA OS VENDEDORES DE COMPUTADORES
	Um novo relatorio emitido pelo NTIA informou que, ha' vinte anos,
havia 50 mil computadores em todo o mundo. Hoje, sao vendidos mais de 50
mil computadores a cada dez horas. ("Connecting the Nation: Classrooms,
Libraries and Health Care Organizations in the Information Age," Emilio
Gonzalez, NTIA, junho de 95 p.4)
 
FAMOSAS PRIMEIRAS PALAVRAS?
	O pioneiro da Internet, Vint Cerf, nao consegue lembrar-se das
primeiras palavras que transmitiu pela Internet. "Eu gostaria de poder
lembrar, mas e' provavel que tenha sido qualquer coisa parecida com "Isto
e' um teste". Na maioria dos casos, engenheiros nao sao poetas.".
(Information Week, 17/07/95, p.30)
 
AMERICAN PROSPECT, AGORA NA WEB
	A revista liberal norte-americana The American Prospect, publicada
trimestralmente, abriu seu proprio local na Web. A revista contem artigos
sobre politica, economia e tendencias sociais. Entre seus colaboradores
fixos estao Christopher Jencks, Lester C. Thurow, William Julius Wilson,
Shoshana Zuboff, John Kenneth Galbraith e Arthur M. Schlesinger Jr. O
editor da revista afirmou que o local sera' "mais do que uma vitrine
convidando `a assinatura do periodico impresso. Estamos tentando
transformar a pagina em algo que seja interessante por seu proprio merito
e anuncie as possibilidades da nova midia.".
(http://epn.org/prospect.html)

SERVICO INTERATIVO MULTIMIDIA NO JAPAO
	Cinco empresas japonesas estao se reunindo para fornecer o que
estao chamando de o primeiro servico de informacoes comerciais por
encomenda do mundo, utilizando redes oticas ISDN de banda larga de alta
velocidade. A Fujitsu fara' a integracao do projeto, com parceiros nos
setores de jornalismo, viagens e transmissao. (Financial Times, 13/07/95)
 
CONTROLE DA INDECENCIA E' UMA AREA EXTENSA, OBSCURA E CINZENTA
	Enquanto os politicos se movimentam para censurar sexo e
violencia, na TV e on-line, a tarefa de determinar o que nao e'
permissivel sera' uma grande dor-de-cabeca para emissoras e provedores de
servicos on-line. O conselheiro geral da National Association of
Broadcasters declarou que cansou de tentar escrever regras para as
estacoes de radio e televisao, tendo em vista a imprevisibilidade das
decisoes da FCC, em relacao aos materiais condenaveis. "Esta' certo apenas
uma pessoa determinar quais serao os gostos e preferencias dos habitantes
dos Estados Unidos?", questionou, referindo-se ao procurador de midia de
massa da Comissao. O senador norte-americano John Kerry observou que o
chip V podera' acabar bloqueando filmes sobre o Vietnam e a Segunda Guerra
Mundial. Os servicos on-line America Online e Prodigy avisaram a seus
assinantes para nao tentarem mascarar linguagens condenaveis colocando-as
entre asteriscos, e a SurfWatch Software, empresa que comercializa um
software que bloqueia materiais condenaveis encontrados on- line, esta'
utilizando uma comissao julgadora, formada por professores e pais, para
determinar em que situacoes certas palavras poderao ser consideradas
inadequadas. Um forum de discussao sobre suicidios entre adolescentes
recebeu a permissao para continuar mencionando referencias a materiais
graficos eroticos, enquanto a utilizacao desnecessaria desse tipo de
material em outras areas foi bloqueada. (Wall Street Journal, 13/07/95, B6)
</pre>
