<title>Dia 22 de Maio de 1995</title>

<H2>Dia 22 de Maio de 1995</H2>
<prE>

FALAR LIVREMENTE NA INTERNET? OU GRITAR "FOGO!" EM UMA SALA LOTADA?
	Um subcomite do senado norte-americano esta' estudando se a
Internet devera' ser restringida de alguma maneira, para ser combatida a
utilizacao da Rede para a transmissao de materiais com conteudo de
preconceito e odio, instrucoes sobre como fabricar bombas e outras
informacoes que poderiam ser utilizadas por terroristas. A senadora
democrata Diane Feinstein, da California, declarou: "Sou mae e avo', e nao
quero que minhas criancas tenham acesso a esse tipo de coisa. Estou tendo
muito trabalho para usar os direitos da Primeira Emenda, para ficarem
ensinando aos outros como sair por ai' matando e comunicar isso ao mundo
inteiro". Defendendo um ponto de vista contrario, Jerry Berman, diretor
executivo para Democracia e Tecnologia, afirmou que a melhor maneira de
combater os discursos ofensivos e' atraves da ampliacao do debate, com
maior liberdade de expressao, e contestou a ideia de que os discursos
incitantes na Internet sejam o mesmo que gritar "Fogo!" em uma sala lotada
(o famoso teste constitucional, utilizado na Suprema Corte por Oliver
Wendell Holmes, para demonstrar os limites da liberdade de expressao).
(New York Times 12/05/95 A14)

AVISO DA FCC AOS ESTADOS
	Baseando sua decisao na iminencia da concorrencia dos servicos de
comunicacoes pessoais (PCS), a FCC determinou que o estado da California,
de Nova York e outros cinco estados, nao deverao mais regulamentar as
tarifas de telefones celulares. (Wall Street Journal 12/05/95 B2)

PEQUENAS EMPRESAS NORTE-AMERICANAS AINDA NAO ENTRARAM TOTALMENTE NA ERA DA INFORMACAO
	De acordo com uma pesquisa feita entre pequenas empresas (com
menos de 100 empregados) pela National Federation of Independent
Businesses, menos de 50% dessas empresas possuem modems, 30% nao possuem
maquinas de fax, menos de 10% utilizam correio de voz e menos de 20%
utilizam bips. Nos Estados Unidos, as pequenas empresas somam 98% de todas
as empresas. (Information Week 15/05/95 p.163)

DESFAZENDO OS GRAMPOS ELETRONICOS
	Os programadores de computadores da West Coast estao utilizando a
Internet para distribuir um programa gratuito chamado Nautilus, que torna
os grampos eletronicos inuteis. Um oficial do FBI afirmou: "O programa
certamente sera' benefico para muitos cidadaos e muitos outros usuarios.
Suspeito que tambem sera' benefico, infelizmente, para criminosos. Eu
gostaria que as pessoas extremamente empreendedoras e inteligentes que
temos nesse pais encontrassem solucoes que protegessem nao somente as
comunicacoes dos cidadaos... mas que tambem permitissem que os objetivos
das leis fossem mantidos.". Os desenvolvedores do Nautilus configuraram o
sistema de tal maneira que o programa nao podera' ser copiado por pessoas
localizadas fora dos Estados Unidos, pois "pretendem respeitar as leis que
regulam a liberacao de criptografia.". (San Jose Mercury News 10/05/95 A1)

BIBLIOTECARIOS PLANEJAM BIBLIOTECA VIRTUAL
	Um grupo de 16 signatarios concordaram em trabalhar em conjunto e
coordenar seus esforcos, para construir uma biblioteca digital amplamente
acessivel. Entre os assinantes do "America's Heritage: Mission and Goals
for a National Digital Library Federation", estao a Commission on
Preservation and Access, a Biblioteca do Congresso Norte Americano, os
Arquivos Nacionais, a Biblioteca Publica de Nova Yorque e outras doze
universidades. Os recursos financeiros iniciais virao de instituicoes
participantes, de acordo com o vice-presidente de tecnologia da comissao
de preservacao, Stuart Lynn. "Essas coisas serao atividades sem um
controle centralizado. Elas trarao -- dos Estados Unidos e de outros
lugares -- materiais digitalizados que serao disponibilizados para
estudantes, professores e cidadaos no mundo inteiro, e isso documentara' a
construcao e a dinamica, da heranca e das culturas da America do Norte.
(Chronicle of Higher Education 12/05/95 A28)

SERVICO TELEFONICO DA TIME WARNER
	A Time Warner Cable Company, segunda maior operadora de TV a cabo
nos Estados Unidos, oferecera' servicos telefonicos locais na area de
Tampa, na Florida, competindo com a empresa telefonica GTE. Embora ambas
as empresas oferecerao tanto servicos telefonicos como de TV, a Time
Warner podera' levar vantagem na competicao, pois a GTE esta'
regulamentada como uma empresa telefonica, e deve manter os servicos
telefonicos separados dos de TV, e ainda manter os precos dos servicos
telefonicos congelados por tres anos, enquanto a Time Warner (repetindo as
palavras de um lobista da GTE) "podera' desenvolver uma estrutura de
precos bem de acordo com a vontade deles.". (Tampa Tribune 12/05/95 p.13)

MAIS MULHERES NA REDE
	Os medidores on-line estao se alterando, de acordo com a empresa
de pesquisas Matrix Information and Directory Services. Um estudo liberado
no sabado passado revelou que o desequilibrio entre os sexos na Internet,
que acreditava-se ser de nove homens para cada mulher, hoje em dia esta'
em pouco mais de dois homens para cada mulher. (Tampa Tribune 12/05/95
B&F8)

MURDOCH PRETENDE FIRMAR SUA PRESENCA NA TV ITALIANA
	A News Corporation de Rupert Murdoch nao para. Sua ultima manobra
(logo apos o anuncio de sua parceria com a MCI) foi uma oferta de 2,8
bilhoes de dolares para adquirir 51% das acoes da gigante de midia
italiana Fininvest, que opera tres canais nacionais de TV e uma empresa de
propaganda. (New York Times 13/05/95 p.17)

FRANCE TELECOM QUER PRIVATIZACAO
	A France Telecom, empresa telefonica de propriedade do governo
frances, espera que o periodo de lua-de-mel do presidente frances Jacques
Chirac criara' um clima propicio, que permitira' sua privatizacao, apesar
da oposicao dos empregados da Telecom, que perderiam seus status de
funcionarios publicos. A empresa afirma que a privatizacao e' necessaria
para permitir que ela seja mais competitiva no mercado global, e para
completar seus acordos comerciais com a Deutsche Telekom e a Sprint. (Wall
Street Journal 12/05/95 A9B)

SONY JOGA DURO AO FIXAR PRECOS DE VIDEO-GAMES
	O novo aparelho de video-game de 32 bits da Sony estara'
disponivel nos Estados Unidos no final do ano, por 299 dolares, abaixo das
previsoes dos analistas do setor. "A 200 dolares, vamos conquistar uma
grande parcela do mercado.", previu um executivo da Sony. A Nintendo
anunciou recentemente que esta' atrasando o lancamento de sua maquina de
games de 64 bits, Ultra, ate' marco do ano que vem. (Wall Street Journal
12/05/95 B3)

UTILITARIO ELETRICO PODERA' CONTROLAR TELEFONE E TV
	A Teco Energy, de Tampa, Florida, desenvolveu um computador
dedicado, com o tamanho de uma caixa de sapatos, capaz de controlar os
sinais de potencia e de dados que passam pela fiacao da casa, e que
podera' permitir que empresas de energia eletrica funcionem como
controladoras, coordenando todos os servicos de TV, telefone e energia
eletrica para a casa. Um executivo da Teco afirmou: "A pessoa que
controlar a passagem de comunicacao para dentro da casa tera' grande
facilidade para participar das novas tecnologias.". (Forbes 22/05/95
p.250)

THRILLER EM CD-ROM
	William Colby e Oleg Kalugin -- ex-funcionarios da CIA e da KGB --
estao trabalhando juntos em um filme policial eletronico chamado "O Grande
Jogo". O jogador assume o papel do espiao e passa por um emaranhado de
opcoes que trazem espioes do mundo real. "E' um filme de Tome Clancy com a
complexidade de um romance de John LeCarre,", afirmou um porta-voz da
Actvision, que esta' financiando o produto. "O Grande Jogo" devera' estar
nas prateleiras em dezembro proximo. (USA Today 12/05/95 A1)

TV A CABO NAO E' MAIS A MESMA COISA
	Bud Hostetter, presidente da Continental Cablevision, a terceira
maior empresa de TV a cabo dos Estados Unidos, nao se considera mais no
ramo de TV a cabo: "Se encararmos nosso negocio dessa maneira, vamos
perder... Acho que somos uma compiladora e distribuidora de servicos de
informacoes de banda larga. Acho que precisamos pensar em duas vias,
comutada e digital. Assumindo que temos menos problemas de capital do que
antes, acho que tambem precisamos ir de encontro ao mercado do software,
que nao serao apenas servicos de noticias, informacao e entretenimento.
Envolverao tambem servicos de informatica, onde somos nao somente
proprietarios de software como tambem o sistema de distribuicao.".
(Broadcasting & Cable 08/05/95 p.32)
 
TRES DIGITADORES NOVA-IORQUINOS ACUSADOS DE FRAUDE
	Tres digitadores de dados na cidade de Nova York foram acusados de
terem manipulado o sistema computadorizado de controle de tesouro da
cidade, preparando 2,2 milhoes de dolares em cheques fraudulentos para
receptadores, que tambem participaram da trama. "Foi muito facil para o
funcionario que fazia a entrada de dados fazer isso, pois nao havia
absolutamente nenhum controle ou verificacao dos cheques no sistema
computadorizado.", afirmou um administrador da cidade. (New York Times
12/05/95 A20)
</pre>
