<title>Dia 23 de Maio de 1995</title>

<H2>Dia 23 de Maio de 1995</H2>
<pre>

AT&T E TIME WARNER JUNTAM-SE PARA OFERECER SERVICOS TELEFONICOS
	A AT&T esta' negociando com a Time Warner para oferecer servicos
telefonicos de longa distancia atraves de linhas de TV a cabo. Utilizando
a extensa rede de cabos da Time Warner, a AT&T podera' evitar as tarifas
de acesso, cobradas pelas empresas regionais da Bell, para realizar a
conexao local. Alguns observadores do setor estao interpretando a manobra
da AT&T como uma tentativa de reconstruir seu imperio, fornecendo varios
servicos ao mesmo tempo. "Parece que estao procurando criar circunstancias
que, de alguma maneira, favorecam a recriacao de seus negocios.", comentou
um cientista da Rutgers University. (Investor's Business Daily 17/05/95
A8) -- Enquanto isso, a AT&T esta' vendendo sua parte da fabricante de
video games, 3D0. A AT&T foi uma das investidoras originais da empresa,
mas um dos seus executivos explicou a venda, dizendo que a AT&T estava
considerando sua participacao na 3DO "um investimento, e nao uma alianca
estrategica". (New York Times 18/05/95 C2) -- E a Time Warner esta'
vendendo 15 sistemas de TV a cabo por 263,7 milhoes de dolares (Wall
Street Journal 18/05/95 B7)
 
SUBSIDIOS PARA A C-SPAN
	Ao ser perguntado se a C-SPAN recebe algum subsidio do governo,
Brian Lamb, presidente da empresa, respondeu: "Nao. Nao queremos e nao
vamos receber.". Lamb continua explicando que "minha opiniao, e certamente
a de outras pessoas da empresa, e' que o dinheiro do contribuinte e a
midia nao se dao bem -- que e' melhor para a sociedade quando o governo e
midia nao estao trabalhando juntos. Quando se recebe dinheiro de uma
fonte, essa fonte tera' alguns interesses, e eu nao me sentiria `a vontade
para aceitar qualquer quantia do dinheiro do governo, ou dos
contribuintes. (Educom Review, maio/junho 95, p.24)
 
FACULDADES VIRTUAIS OFERECEM ENSINO ON-LINE
	As oportunidades de acesso ao ensino on-line, no nivel pos
secundario, estao crescendo rapidamente -- ha' mais de setenta faculdades
e universidades que oferecem cursos on-line listados no Educational Form
do CompuServe. Quatro organizacoes que estao trabalhando em favor das
redes de computadores e modems sao a Electronic University Network
(EUNSteve@aol.com), a Virtual Online University
(billp@showme.missouri.edu), a Globewide Network Academy (joe@mit.edu), e
os Interactive Education Services do America Online's (IESCoord@aol.com).
(Investor's Business Daily 18/05/95 A1)
 
O QUE HA' EM UM NOME?
	As empresas que estabeleceram nomes de dominios na Internet tambem
devem estar fazendo a mesma pergunta. A lei que trata da propriedade de
nomes de dominios na Internet nao e' clara, e as questoes estao ficando
ainda mais confusas com questao da jurisdicao -- sendo a Internet uma
entidade global, e' bastante problematico estabelecer quem tem a
autoridade para regulamentar. (National Law Journal 08/05/95 C37)
 
PECAS USADAS CITADAS EM PROCESSO LEGAL
	Quatorze querelantes -- que compraram computadores da Packard Bell
para uso domestico, e estao processando a empresa por praticas desleais,
por ter utilizado algumas pecas usadas em computadores vendidos como
"novos" -- pediram ao tribunal para dar a seus processos o status de "acao
de classe". "Os processos nao tem qualquer merito.", afirmou uma porta-voz
da Packard Bell. A Compaq Computer entrou com um processo como este em
abril passado, acusando a Packard Bell de pratica de propaganda enganosa.
A Packard Bell declarou que a reutilizacao de componentes retirados de
computadores que foram devolvidos e' uma "pratica das industrias em
geral", e nas ultimas semanas a FTC questionou diversos fabricantes de
computadores, sobre essa pratica. (Information Week s22/05/95, p.25)
 
MICROSOFT UNE-SE `A NBC PARA CRIAR NEGOCIOS NA REDE
	A Microsoft contratou a NBC para fornecer informacoes para sua
Microsoft Network. As duas empresas tambem pretendem desenvolver produtos
a serem distribuidos via CD-ROM e TV por transmissao pelo metodo
tradicional e por cabo. Em troca de um acordo de precos favoraveis, a NBC
concordou em cancelar seu negocio on-line com a America Online a partir do
dia 30 de setembro, e suas redes de cabos, CNBC e America's Talking,
deixarao a Prodigy no final deste ano. (Investor's Business Daily 17/05/95
A8)

PESQUISA DE MERCADO ON-LINE
	Nielsen Media Research, Yankelovich Partners e ASI Market Research
formaram uma alianca chamada "ANYwhere Online" para fornecer servicos de
pesquisas sobre o nivel de sucesso que os negocios de marketing estao
conseguindo on-line. "Trata-se, na verdade, de uma nova midia. Surgirao
muitas duvidas sobre como utiliza-la.", comentou o presidente da Nielsen,
que adiantou que a empresa anunciara', daqui a um mes, uma nova maneira de
conseguir mais do que somente a contagem do numero de acessos, e que fara'
medicoes mais confiaveis sobre o publico frequentador. (Wall Street
Journal 17/05/95 B7)
 
CANAIS DA DISCOVERY VAO PARA A TEIA
	A Discovery Communications esta' revendo seus planos de lancar
quatro canais, com estreias marcadas para este ano. Em vez disso, esta'
considerando a ideia de transforma-los em servicos "afiliados" que poderao
ser oferecidos atraves da Internet. "O paradigma do canal desapareceu.",
comentou o presidente da Discovery. Os servicos sao: Quark (ciencia), Time
Traveler (historia), Animal Planet (animais) e Living (estilo de vida). A
Discovery pretende lancar sua pagina na Teia em meados de julho.
(Broadcasting & Cable 15/05/95, p.18 & 47)
 
TURNER FECHA NEGOCIO DE CABOS COM A INDIA
	O servico internacional de noticias da Turner Broadcasting, CNNI,
sera' o primeiro canal norte-americano de TV a cabo a oferecer programacao
para o subcontinente indiano, que inclui o Paquistao e Bangladesh. A CNNI
sera' a unica emissora nao indiana no satelite Insat 2B, controlado pela
emissora estatal indiana Doordarshan. (Atlanta Journal-Constitution
17/05/95 E1)
 
TAIWAN SERA' LIDER NA PRODUCAO DE CHIPS
	Com o investimento de 10 bilhoes de dolares que as empresas do
pais pretendem fazer para aumentar a capacidade de producao de circuitos
integrados, Taiwan devera' tornar-se o lider nesse setor. Taiwan e Coreia
do Sul estao se beneficiando da valorizacao do ien japones, que incentivou
os fabricantes japoneses a comprarem chips de paises que apresentam custos
internos de producao mais baixos. (Financial Times 15/05/95, p.4)
 
EDUCADORES CANADENSES BUSCAM ACORDO NA INTERNET
	Uma coalizao de educadores afirmou que as empresas telefonicas
precisam que as leis permitam uma maior liberdade para fixar os precos dos
servicos, para que o acesso `a Internet continue sendo financeiramente
possivel para as escolas. A Canadian Education Network Coalition alega que
a iniciativa da SchoolNet de ligar todas as escolas `a Internet estara'
correndo risco, caso as operadoras de telecomunicacoes nao tenham
permissao para oferecer condicoes especiais para as escolas. (Toronto
Globe & Mail 17/05/95 B21)
 
CENTESIMA SEXAGESIMA FORMATURA DA WHEATON NA TEIA
	A centesima sexagesima cerimonia de colacao de grau da Wheaton
deixara' um marco na historia das faculdades, enviando destaques da
cerimonia para a World Wide Web. Logo apos a cerimonia do dia 20 de maio,
estarao disponiveis on-line fotografias da cerimonia, uma copia completa
do discurso da governadora de New Jersey, Christine Todd Whitman, mencoes
honrosas, lista de honra da classe de 1995, entre outras coisas. Os
visitantes da Teia estao convidados a deixar uma mensagem de parabens em
um "cartao de congratulacoes", que sera' enviado aos formados.
http://www.wheatonma.edu.
 
DUZENTOS CANAIS JA' E' DEMAIS
	Uma pesquisa feita pela Opinion Search mostrou que os canadenses
acham que nao tem tempo nem vontade de receber duzentos canais de TV.
Mesmo que nao tivessem que pagar um centavo a mais pela conta de TV a cabo
para isso, apenas um em cada cinco pessoas assinaria o servico. (Ottawa
Citizen 18/05/95 D10)
 
E AGORA, UM HOMEM QUE DISPENSA MAIORES APRESENTACOES
	Hodding Carter III deu ao presidente da FCC, Reed Hundt, a
seguinte apresentacao em uma reuniao realizada recentemente: "Reed
conquistou seu emprego da maneira mais dificil. Frequentou a escola
preparatoria com o vice-presidente, a escola de direito com o presidente,
e o talento natural surgiu a partir desse ponto.". (Computerworld
08/05/95, p.128)
 
CASA BRANCA ATRAI DOIS MILHOES DE TURISTAS CIBERNETICOS
	A pagina da Casa Branca na World Wide Web contabilizou dois
milhoes de visitantes no dia 17 de maio, com mais de 12.500 visitantes
diarios. Entre os visitantes cuja nacionalidade pode ser determinada,
cerca de dois tercos eram dos Estados Unidos, e a maior parte do trafego
estrangeiro foi gerada pelo Japao, Canada', Alemanha, Suecia e Dinamarca.
(Miami Herald 17/05/95 C1)
</pre>
