<title>Dia 24 de Julho de 1995</title>

<H2>Dia 24 de Julho de 1995</H2>
<pre>

NEGOCIO DA COMPUTER ASSOCIATES COM A LEGEND ENFRENTA OBSTACULOS
	O Departamento de Justica norte-americano devera' iniciar um
processo judicial para bloquear a aquisicao da Legend Corp. pela Computer
Associates, devido `a relutancia desta empresa em desfazer-se de diversas
holdings, em pelo menos meia duzia de mercados de software. "Esta' se
tornando uma questao de o que a Computer Associates esta' disposta a
dispensar. Nao acredito que o governo ceda sem que seja feito algum
processo que inclua algumas desistencias de mercado. E' uma questao de
saber se assim ainda havera' algum interesse comercial (da Computer
Associates), tendo em vista as holdings de que terao que desistir, afirmou
um advogado anti-truste do Departamento de Justica. (Investor's Business
Daily, 14/07/95, A13)
 
INTUIT CONTINUA COM SUAS OPERACOES
	Quando parecia que ia se casar com a Microsoft, ha' apenas algumas
semanas (e foi deixada no altar por causa das objecoes anti-truste do
Departamento de Justica dos Estados Unidos), a Intuit continua levando sua
vida, assinando contratos com cerca de dezenove empresas, que utilizarao
seus produtos para servicos bancarios on-line, inclusive com nomes de peso
como o Chase Manhatan e a American Express. Os servicos da Intuit,
baseados no Quicken, deverao comecar em outubro. (New York Times,
15/07/95, p.19)
 
DECISAO DA FCC FACILITA O CAMINHO PARA OS SERVICOS SEM FIO
	A FCC decidiu dividir uma porcao do espectro desejado pelos que
defendem o servico de distribuicao multiponto (LMDS) e das empresas que
pretendem fornecer servicos de comunicacoes atraves de satelites de baixa
orbita. O espectro na faixa de 28 GHz esta' sendo dividido, 850 MHz para o
LMDS (cabo sem fio) e 750 MHz para projetos tais como o servico Spaceway,
da Hughes, que oferece comunicacoes sem fio atraves de pequenos aparelhos
portateis. Projetos como a associacao de Bill Gates com Craig McCaw, que
oferecerao servicos similares, receberam 500 MHz. (Wall Street Journal,
14/07/95, B3)
 
PACKARD BELL CRIA FUNDO DE REPAROS
	Embora nao admita ter feito nada de errado, a Packard Bell
definira' um fundo de 1 milhao de dolares para reparos, e para estender
contratos de reparos em maquinas que a empresa havia vendido como novas,
mas que, segundo acusacoes, teriam recebido alguns componentes usados.
(Atlanta Journal- Constitution, 15/07/95, B3)
 
SISTEMA DE VOZ SEM FIO
	A Northern Telecom desenvolveu um novo sistema digital de voz,
para ser usado no ambito do campus, que permite que os funcionarios que
estiverem longe de suas mesas recebam chamadas em fones portateis, que
podem levar para onde forem. O Companion Wireless Communications System
for Business utiliza estacoes base de transmissao e recebimento, colocadas
nas paredes e nos tetos do predio e nas redondezas. "O sistema pode cobrir
locais de ate' um milhao de metros quadrados", afirmou um diretor de
marketing da Northern Telecom. Espera-se que, quando os servicos e
comunicacao pessoal estiverem bastante difundidos, os fornecedores
produzam fones dual-mode que possam operar com o Companion dentro do
predio, e passar para o sistema PCS de longo alcance quando o trabalhador
deixar o escritorio. (Information Week, 17/07/95, p.75)
 
CARNEGIE MELLON REVE O ESTUDO SOBRE PORNOGRAFIA
	A Carnegie Mellon University nomeou um comite formado por tres
professores para apurar se foram seguidas as regras eticas e academicas de
captacao de dados, no projeto patrocinado pela CMU que resultou no
relatorio, publicado recentemente, "Marketing Pornography on the
Information Superhighway" (comercio de pornografia na supervia de
informacoes). Desde que foi publicado no periodico Georgetown Law Journal
e divulgado em uma materia de capa da revista Time, o relatorio tem
recebido ataques pesados de inumeros criticos, inclusive alguns da propria
CMU. O comite recem nomeado da CMU analisara' a metodologia de captacao de
dados do grupo de estudos, o que incluiu a captura secreta de registros de
utilizacao de computadores dos diretorios particulares de tres mil pessoas
daquela universidade. Marty Rimm, o principal investigador do projeto,
disse que gostou muito da decisao da revisao a ser feita pelo comite: "Um
dos objetivos do estudo foi levantar as questoes sobre privacidade pelas
quais estamos sendo atacados.". Uma nova edicao da revista Time publicara'
uma materia explicando sua participacao na controversia. (New York Times,
16/07/95, p.11)

BOATOS SOBRE VIRUS NA AMERICA ONLINE SAO FALSOS
	O Computer Incident Advisory Capability, um grupo de seguranca de
computadores do U.S. Engergy Department, nos Estados Unidos, classificou
como falsos os recentes boatos que circularam pela Internet, de que uma
nova versao do software da America Online teria um virus embutido.
(Atlanta Journal-Constitution, 16/07/95, B1)
 
CRESCIMENTO DE SERVICOS ON-LINE COMERCIAIS
	Uma pesquisa feita pelo Information & Interactive Services Report
indicou que o numero de assinantes dos servicos comerciais de informacao
on-line teve um crescimento de 17% nos ultimos tres meses, somando um
total de oito a doze milhoes de pessoas, sendo que tres milhoes pertencem
`a America Online, 3,2 milhoes pertencem `a Compuserve e 1,6 milhoes
pertencem `a Prodigy. (Atlanta Journal-Constitution, 14/07/95, H3)
 
MERCADO DE TELEFONIA MOVEL
	Motorola, Ericson e Nokia respondem, juntas, por cerca de 70 por
cento do mercado total mundial de aparelhos de telefones moveis, um
dominio que a Dataquest Research afirma ser devido ao fato de que esses
fornecedores tinham os recursos de fabricacao para atender a demanda
explosiva da comunicacao movel nos ultimos tres anos, e o fato de que eles
tem uma melhor distribuicao mundial do que os outros concorrentes, como a
Alcatel e a Siemens. (Financial Times, 14/07/95, p.16)
 
AUDIO ON-LINE A UM CLIQUE DO MOUSE
	O software RealAudio Player, da Progressive Networks, permite que
voce ouca trechos de sons on-line, com a mesma facilidade com que troca de
estacoes em um radio. O software elimina o processo de download de
arquivos enormes para que sejam reproduzidos no seu PC -- em vez disso,
voce pode clicar sobre uma palavra ou icone na tela, e ouvir o som quase
instantaneamente. O software funciona com praticamente qualquer PC
multimidia, e a versao para Mac devera' ser lancada em breve. (Popular
Science, agosto de 95, p.32)
 
SINAIS MISTURADOS NA TV INTERATIVA
	Um novo estudo feito pela Simba Information, Inc., revelou que 1,8
milhoes de residencias norte-americanas "terao infra-estrutura para
televisao interativa ate' o final de 1996.". Mas o verdadeiro numero de
assinantes sera' muito menor -- 32.400. O relatorio preve tarifas de cerca
de 10 dolares mensais, alem das tarifas atuais relacionadas com TV, por
servicos como guias eletronicos de programas, video por solicitacao, video
games, acesso a modem de cabo e home shopping. Enquanto isso, a EDS
Management Consulting estima que ainda levara' quatro ou cinco anos, ate'
que a tecnologia necessaria para fornecer todos esses servicos se torne
economicamente viavel. (Broadcasting & Cable, 10/07/95, p.37)
 
BILL GATES SE ENCONTRARA' COM PRIMEIRO MINISTRO CANADENSE
	A Microsoft contratou a empresa de relacoes publicas Hill &
Knowlton para conseguir uma reuniao entre o magnata Bill Gates e o
primeiro ministro do Canada', Jean Chretien, coincidindo com o lancamento
do Windows 95. Os dois deverao discutir questoes politicas relacionadas
com o numero crescente de redes de computadores, como pirataria, censura e
seguranca, e e' provavel que Gates consiga fazer com que o processador de
textos padrao do governo federal seja o software Word, da Microsoft.
(Ottawa Citizen, 15/07/95, A5)
 
ARMADILHA PEDOFILA
	Um investigador particular, aborrecido com a quantidade de
material relacionado com sexo disponivel na Rede, utilizou a Prodigy para
conduzir uma operacao "armadilha", acompanhada por agentes do FBI, para
capturar um homem de 45 anos de idade, de Nevada, que agora esta' sendo
acusado de ter utilizado as linhas estaduais para ter sexo com uma menor.
Na armadilha, o investigador particular inscreveu-se em sessoes de
"bate-papo" da Prodigy e fingiu ser uma garota de 14 anos, com o nome
Jessica, e enviou mensagens com conteudos tais como "Caras jovens nao me
interessam.". O homem trocou mais de duzentas mensagens com "Jessica" e
enviou `a sua caixa postal do correio, fotografias suas, nu, alem de
quatro disquetes com imagens de pornografia infantil. Combinaram um
encontro em um hotel de Milwaukee, onde ele foi preso por agentes
federais, assim que apareceu. (New York Times, 14/07/95, A12)

</pre>
