<title>Dia 27 de Julho de 1995</title>

<H2>Dia 27 de Julho de 1995</H2>

<pre>

EMPRESAS DE LONGA DISTANCIA COMBATEM PROJETO DE LEI SOBRE COMUNICACOES
	O projeto de lei que foi aprovado pelo House Commerce Committee
foi modificado por Newt Gingrich, Dick Armey e outros republicanos
norte-americanos, de modo que passasse a ser menos restritivo, e
permitisse `as empresas telefonicas locais entrar no mercado de longa
distancia, sem que antes fossem obrigados a comprovar que realmente sofrem
concorrencia em seus mercados locais. As operadoras de longa distancia nao
ficaram satisfeitas com as alteracoes, e uma coalizao liderada pelas
empresas AT&T, MCI e Sprint iniciaram uma forte campanha de relacoes
publicas e de lobby, para forcar a alteracao da legislacao. (New York
Times, 20/07/95, C2)
 
DE VOLTA `A LICENCA DE 1956
	O Departamento de Justica norte-americano afirmou que o decreto de
autorizacao de 1956, que restringia algumas praticas de concorrencia da
IBM, "nao tem mais utilidade ao interesse publico em relacao `a
concorrencia de mercado", e quer que um tribunal distrital de Nova York
retire o decreto, passando a permitir que os servicos de computadores da
IBM voltem a unir-se `a empresa, em vez de continuarem sendo uma
subsidiaria. Alem disso, o braco de servicos da IBM podera' comercializar
PCs e estacoes de trabalho, livres das restricoes do decreto. Contudo, o
Departamento de Justica ainda esta' analisando a questao, para decidir se
o decreto devera' continuar sendo aplicado aos computadores de grande e
medio porte da IBM. (Wall Street Journal). 
 
PRODUTORES DE SOFTWARE NAO GOSTARAM DA NOVA POLITICA JAPONESA
	Os produtores de software estao preocupados com a nova politica do
Japao, que exige que os softwares que entrarem no pais sejam autorizados
por um orgao de aprovacao daquele pais, temendo dar a esse orgao o acesso
inedito aos segredos dos softwares norte-americanos. "As pessoas estao
preocupadas com o fato de os auditores japoneses terem acesso ao processo
de desenvolvimento de seus programas.", afirmou o vice-presidente da
Motorola. Os softwares norte-americanos foram responsaveis por 32 por
cento das vendas de software no Japao, no ano passado. (Business Week,
24/07/95, p.49)
 
EMPRESAS DE SERVICOS ON-LINE QUEREM A MICROSOFT NETWORK FORA DA JANELA
	Os presidentes da CompuServe, Prodigy e America Online pediram ao
congresso dos E.U.A. para apoiar as investigacoes do Departamento de
Justica sobre os planos da Microsoft de incorporar o acesso `a Microsoft
Network em seu programa Windows 95. Acreditamos tratar-se de uma questao
de concorrencia muito mais ampla.", afirmou o presidente da American
Online, Steve Case. Os executivos alegaram que a dominancia da Microsoft
no mercado de sistemas operacionais lhe da' uma vantagem desleal no
mercado de aplicativos. (Investor's Business Daily, 20/07/95, A5)
 
REGISTROS DA WEB PODEM COMPROMETER PRIVACIDADE
	Os registros de transacoes, que conterao tudo o que estiver `a
direita do "@" dos enderecos de mensagens eletronicas, poderao comprometer
a privacidade dos surfistas da Web, de acordo com os defensores do direito
`a privacidade. As listas sao necessarias para que os administradores que
as controlam tenham como detectar sinais de brechas na seguranca, mas os
registros podem ser utilizados indevidamente, e os especialistas estao
pedindo a criacao novas regras de etica, para proibir a distribuicao
dessas listas para outras pessoas. Eles destacaram que, embora nao existam
leis federais que protejam os registros das bibliotecas, quase todos os
estados restringem a disseminacao indiscriminada dessas informacoes. A
professora de gerenciamento da Vanderbilt, Donna Hoffman, disse que e'
provavelmente muito cedo para preocupar-se agora: "Na maioria dos casos,
nao ha' grandes questoes relacionadas `a privacidade nos registros da Web.
No momento, ha' muito mais informacoes sobre as pessoas, mantidas por
bancos de dados de cartoes de credito, do que o que ha' atualmente no
espaco cibernetico. Mas as pessoas precisam reconhecer essas questoes, e
entao poderemos comecar a trabalhar com elas.". (Chronicle of Higher
Education, 21/07/95, A17)
 
NIELSEN E COMMERCENET FAZEM PESQUISA CONJUNTA SOBRE A INTERNET
	A Nielsen Media Research vai trabalhar com a CommerceNet em uma
pesquisa minuciosa, que documentara' as caracteristicas demograficas dos
usuarios da Internet, dos usuarios de servicos on-line comerciais e das
pessoas que nao estao on-line. Os resultados estarao disponiveis ate'
novembro. (Broadcasting & Cable, 17/07/95, p.44)
 
VALIDO POR 5 MIL ANOS
	Pesquisadores do Los Alamos National Laboratory, nos Estados
Unidos, desenvolveram uma tecnica de armazenamento de dados que emprega um
feixe de ions para gravar dados em um espaco equivalente a 500 atomos, e
que retem a informacao por ate' 5 mil anos. A tecnica foi utilizada para
armazenar o equivalente a 12 mil disquetes (ou 180 CD-ROMs) em um pino de
aco inoxidavel com uma polegada de comprimento. (Information Week,
24/07/95, p.12)

APPLE AFIRMA QUE POWERPC SUPERA O PENTIUM EM DESEMPENHO
	Segundo a Apple Computer, um estudo feito pela Competitive
Assessment Services mostrou que um Power Macintosh 9500, com o chip
PowerPC 904, e com velocidade de 120 Megahertz, superou em desempenho um
Pentium de 50 Megahertz em 51 por cento. O PowerMac foi ainda mais rapido
ao executar programas de imagens, editoracao, programas cientificos e de
engenharia. Os resultados foram repetidos em testes parecidos, publicados
recentemente pela PCWeek. (Investor's Business Daily, 20/07/95, A6)
 
CONGRESSO NORTE-AMERICANO CORTA RECURSOS DE PROGRAMA DE TECNOLOGIA
	O House Appropriations Committee aprovou um orcamento do
Ministerio do Comercio dos Estados Unidos, no valor de 3,4 bilhoes de
dolares, que nao inclui fundos adicionais para o Programa de Tecnologia
Avancada norte-americano. O projeto de lei cortou quase 1,2 milhoes de
dolares do orcamento do Ministerio do Comercio do presidente. (Wall Street
Journal, 20/07/95, A14)
 
COMPATIBILIDADE DE VIDEODISCOS SONY E TOSHIBA
	Ansiosos para evitar uma guerra de formatos que confundiria os
consumidores, as empresas Sony e Toshiba estao procurando uma saida para
chegarem a um acordo sobre o formato para os videodiscos que chegarao ao
mercado no proximo ano. A Sony insiste nos discos de lado simples,
enquanto a Toshiba continua insistindo nos discos duplos. Assim, o novo
presidente da Sony propos o desenvolvimento de maquinas leitoras que
possam ler ambos os formatos de discos. (New York Times, 19/07/95, C2)
 
ACESSO CANADENSE `A INTERNET
	A NSTN Inc., sediada em Nova Scotia, e a i*internet Inc., sediada
no Canada', se fundirao para criar o que estao chamando de a maior
operadora de trafego da Internet. (Toronto Globe & Mail, 19/07/95, B10)
 
BELLSOUTH PRETENDE LANCAR SISTEMA COMERCIAL DE TV A CABO
	A BellSouth esta' planejando o lancamento de seu primeiro sistema
comercial de TV a cabo, para atender a 7 mil residencias, em uma nova
comunidade residencial que esta' se formando na Ilha de Daniel, na
Carolina do Sul. A BellSouth vendera' servicos telefonicos e de TV para os
residentes da ilha. (Atlanta Journal- Constitution, 20/07/95, F1)
 
TRANSMISSOES EDUCATIVAS CANADENSES
	A primeira experiencia canadense em transmissao educativa
particular esta' em compasso de espera, enquanto aguarda a aprovacao do
governo federal. Em novembro passado, o governo de Alberta vendeu servico
de transmissao da provincia, o Access Network, para um consorcio de
empresas de Toronto. (Toronto Globe & Mail, 19/07/95, A10)
 
TIMES MIRROR FECHA SUA UNIDADE MULTIMIDIA
	Na sequencia de cortes que incluiu o fechamento do tabloide New
York Newsday, a Times Mirror Company tambem fechara' sua unidade
multimidia, cujo objetivo era fornecer diversos tipos de produtos em CDs e
on-line. O novo presidente quer que a empresa volte `a sua atividade
"central" - que sao os jornais e as revistas. (New York Times, 20/07/95,
C5)

TROCANDO SOFTWARE POR EQUIPAMENTO
	O presidente da Sun, Scott McNealy, esta' considerando a
utilizacao do programa HotJava, da Sun, para distribuir software gratuito
pela Internet. O software gratuito seria desenvolvido em universidades, em
troca de doacoes de equipamentos. McNealy imagina centenas de "estudantes
de 20 anos de idade em laboratorios de informatica, trabalhando a noite
toda e bebendo refrigerante e salgadinhos, altamente motivados para
criarem um processador de textos melhor do que o Word e disponibiliza-lo
gratuitamente". ( Financial Times, 17/07/95, p.9)

</prE>
