<title>Dia 29 de Maio de 1995</title>

<H2>Dia 29 de Maio de 1995</H2>
<pre>

PUBLICACOES
	*Gerenciamento e Economia. "Reinventing the University: Managing
and Financing Institutions of Higher Education", um novo livro de Coopers
& Lybrand, que destaca a necessidade dos colegios e faculdades
norte-americanos focalizarem novos pontos de vista sobre gerenciamento e
economia, se quiserem manter suas posicoes no mundo, no proximo milenio.
Para maiores informacoes, entre em contato com Sandra Johnson no telefone
617-478-5286. 
 
ON-LINE
	*A centesima sexagesima cerimonia de colacao de grau da Wheaton
deixara' um marco na historia das faculdades, ja' que sera' a primeira
disponivel na Internet. Logo apos a cerimonia do dia 20 de maio, estarao
disponiveis on-line fotografias da cerimonia, uma copia completa do
discurso da governadora de New Jersey, Christine Todd Whitman, mencoes
honrosas, lista de honra da classe de 1995, entre outras coisas. No
espirito interativo da Internet, os visitantes da Teia estao convidados a
deixar uma mensagem de parabens em um "cartao de congratulacoes", que
sera' enviado aos formados. Todos os usuarios da Internet estao convidados
a juntarem-se `a diversao, apontando seus browsers para
http://www.wheatonma.edu.
 
	*PROJETO CAADE. O CAADE, Consortium for the Advancement of
Affordable Distance Education (consorcio para o avanco do ensino acessivel
`a distancia), propos o desenvolvimento e a demonstracao de uma
infraestrutura eletronica de alta-performance, que possa integrar o envio
em massa de materiais educativos via satelite, com opcoes inovadoras de
baixo custo para o controle de materiais multimidia dentro das escolas
equipadas com computadores ligados `a Internet. Para obter uma descricao
completa do projeto e seus objetivos, entre em contato com Takeshi Utsumi,
no telefone 718-939-0928 ou envie mensagem para o endereco
utsumi@columbia.edu. 
 
	*SyllabusWeb. Syllabus Press, editores da revista Syllabus e
produtores da conferencia anual de tecnologia Syllabus, anunciaram a
abertura da SyllabusWeb, uma pagina na World Wide Web que aborda as
tecnologias que interessam a educadores de colegios e universidades. A
SyllabusWeb contem noticias, estudos de caso, analises de produtos e
anuncios, e apresenta artigos sobre tecnologia escritos por educadores e
especialistas em tecnologia da educacao. http://www.syllabus.com. 
 
MULTIMIDIA
	*Versoes para Bibliotecas de Titulos Populares de CD-ROM. O Bureau
of Electronic Publishing anunciou em maio que seus quatro titulos de
CD-ROM, premiados e campeoes de venda, foram lancados em pacotes especiais
para escolas e bibliotecas publicas. Agora os titulos Great Literature
Plus, Monarch Notes, Multimedia World History e Multimedia US History
estao disponiveis com licencas para utilizacao de 10 ou mais usuarios, e
para dois a nove usuarios em rede, com copias para emprestimo gratuito a
precos reduzidos. Agora as bibliotecas poderao permitir que muitos
usuarios facam suas pesquisas em colecoes inteiras da biblioteca, ao mesmo
tempo, podendo buscar assuntos e interesses especificos, e automatizar
suas buscas. Atualmente a plataforma utilizada para os quatro titulos e' o
Windows, e as versoes para Macintosh serao lancadas em setembro. Para
obter maiores informacoes ou fazer encomendas, ligue para 1-800-828-4766. 
 
	*Bard e IBM Unem-se para Formar Laboratorio de Criacoes Multimidia.
O Bard College uniu-se `a IBM para estabelecer um laboratorio de criacoes
multimidia de ultima geracao. O novo laboratorio multimidia ja' entrara'
em funcionamento para as aulas de fim de ano. O projeto faz parte do plano
que esta' sendo executado pela Bard, de criar uma infraestrutura com redes
de cabos de fibras oticas, interligando as fontes de informacoes dentro da
faculdade. Espera-se que esta seja a primeira implementacao de uma
arquitetura de rede com Modo Assincrono de Transferencia (ATM) de
qualidade, para servir a um laboratorio e a aulas de multimidia, em uma
faculdade liberal de artes norte-americana. A tecnologia ATM permitira'
que os alunos da Bard tenham acesso a video, audio e outras imagens de
maneira rapida e facil, para incluir em pesquisas e projetos. Para obter
maiores informacoes, entre em contato com Bonnie Gilman, na Barn, pelo
telefone 914-758-7494, ou acesse os boletins da IBM em http://www.ibm.com. 
 
EDUCACAO CIENTIFICA
	*NSF Funda Novo Instituto. A National Science Foundation (NSF)
anunciou que estabelecera' o novo Institute for Science Education, na
Universidade de Wisconsin, Madison. O ISE, programado para ser inaugurado
em primeiro de junho de 1995, sera' mantido por uma quantia estimada de 2
milhoes de dolares anuais, durante cinco anos, atraves de um acordo de
cooperacao concedido pelo corpo de diretores e de recursos humanos da NSF.
O instituto conduzira' pesquisas sobre o ensino de matematica, engenharia,
ciencias e tecnologia. Para obter maiores informacoes, entre em contato
com Njuguna Kabugi no telefone 703-306-1070. 
 
PESQUISA
	*Pesquisas Sobre Bibliotecas. Um comite da Association of College
and Research Libraries identificou os seguintes pontos prioritarios para
pesquisas a serem realizadas por estudantes e formados: instrucao
bibliografica para alunos do campus estendido, utilizacao de novas
tecnologias para aumentar o suporte aos alunos distantes, percepcao dos
administradores do campus em relacao ao valor dos servicos da biblioteca
do campus, criacao de servicos de bibliotecas para o campus estendido e
fornecimento de servicos de bibliotecas para estudantes independentes que
nao podem utilizar a biblioteca academica pessoalmente. Para maiores
informacoes, entre em contato com libext@uvvm.uvic.ca. 
 
ANUNCIO DE EMPREGO
	*Ensino de Ingles como Segundo Idioma. Ha' tres vagas para lecionar
ingles como segundo idioma na Wuhan Technical University of Surveying and
Mapping, em Wuhan, China. Exige-se diploma MA, MEd ou de professor em
algum assunto relevante. Contrato de um ano para lecionar entre 16 e 18
horas semanais, para adultos. Envie carta, candidatando-se para o proximo
ano letivo, para Mr. Xiaoqin Hu, External Relations Coordinator, Wuhan
Technical University of Surveying and Mapping (WTUSM), 39 Luoyu Road,
Wuhan 430070, China; telefone 86-27 7877253 ramal 843; fax: 86-27-7884185.
Para maiores informacoes, entre em contato com Yan Lue no endereco
lue@st1.autometric.com. 
 
CALENDARIO DE EVENTOS [Para obter uma lista completa de conferencias,
seminarios, oficinas e outros eventos, envie mensagem por correio
eletronico para: listserv@bitnic, com o comando GET EVENTS CALENDAR, ou
va' ate' o servidor gopher do Educom (educom.edu), ou o servidor da World
Wide Web (http://www.educom.edu)]
 
	*Exploring the VideoClass Alternative. Raleigh, NC. De 8 a 10 de
junho. Contatos: Tom_Russell@ncsu.edu. 
 
	*Critical Conference on Technology in Education. Dia 10 de junho.
Nova York, NY. Contatos: gmg@BNK1.BNKST.EDU, ou ligue para 212-875-4718. 
 
	*ITCA'95 -- Beyond Convergence: Applications for an Interactive
Age. Washington, DC. De 13 a 16 de junho. Contatos: 1-800-891-8633; fax
por solicitacao: 703-506-3283. 
 
	*W.R.I.T.E.'95. Granville Island, Vancouver, British Columbia,
Canada'. De 14 a 17 de junho. http://www.cstudies.ubc.ca., ou envie
mensagem para write@cce.ubc.ca. 
 
	*NetMedia'95. City University, Londres, Inglaterra. Dia 15 de
junho. Contatos: m.s.wallace@city.ac.uk

	*ED-MEDIA 95 (World Conference on Educational Multimedia and
Hypermedia). De 17 a 21 de junho, Graz, Austria. Contatos:
http://www.iicm.tu graz.ac.at/Cedmedia, ou gopher: //aace.virginia.edu. 
 
	*INET'95. Honolulu, HI. De 27 a 30 de junho. Quinta conferencia
anual da Internet Society. Contatos: Internet Society no telefone
703-648-9888, ou por mensagem para inet95@isoc.org. 
 
	*Web Seminars'95. Dias 25 e 26 de julho. Dallas, Texas.
http://www.mecklerweb.com/webconf, ou ftp: www.mecklerweb.com
PATH:/pub/conf/webconf.txt. 
 
	*4th Annual Conference on Multimedia in Education and Industry.
Asheville, NC. De 3 a 5 de agosto. Contatos: envie fax para 803-737-7440,
ou mensagem para kimbro@sbt.tec.sc.us. 
 
	*11th Annual Conference on Distance Teaching and Learning. Madison,
Wisconsin. De 9 a 11 de agosto. Contatos: 1-800-462-0876; 608-262-2061;
http://epdwww.engr.wisc.edu/disted/distED.html. 
 
	*IL 95, The Edinburgh Conference. Edinburgo, Escocia. De 1 a 3 de
setembro. Contatos: 100256.1750@compuserve.com, ou
johnb@barker.demon.co.uk

	*Breaking the Boundaries of Time and Space: A Focus on Distance
Education and Training. De 28 a 30 de setembro. Contatos: 207-621-3171, ou
envie mensagem para kmoore@maine.maine.edu. 
 
	*Seminar on Academic Computing'95. "Tough Choices: Radical
Opportunities. De 4 a 9 de agosto. Snowmass Village, CO. Contatos:
http://www.princeton.edu/~sac, ou birdd@ccmail.orst.edu. 
 
	*Hypermedia'95. Bloomington, IN. De 5 a 6 de outubro. Contatos:
812-856-8205 (ramal 33035), ou mensagem para ekirkley@indiana.edu, ou
http://cee.indiana.edu/folks/kirkley.html. 
 
	*Technology and Distance Education: Sharing Experiences Around the
World. Sao Jose', Costa Rica. De 17 a 24 de outubro. Contatos:
rsandova@arenal.uned.ac.cr, ou pujolsj@alpha.acast.nova.edu. 
 
	*EDUCOM'95. Portland, Oregon. De 31 de outubro a 3 de novembro.
Conf@educom.edu. 
 
	*OZCHI'95 (annual conference of the Computer Human Interaction
Special Interest Group of the Ergonomics Society of Australia).
Wollongong, New South Wales, Australia. De 27 a 30 de novembro. Contatos:
ozchi95@uow.edu.au, ou http://www.uow.edu.au/public/ozchi/ozchi.html. 
 
EDUCOM 95 E NO FUTURO: CALENDA'RIO DE LONGO ALCANCE
	Para maiores informacoes sobre as proximas conferencias do Educom,
entre em contato com o Educom pelo telefone 202-872-4200, ou envie
mensagem para conf@educom.edu

	*EDUCOM'95, de 31 de outubro a 3 de novembro, Portland, Oregon

	*EDUCOM'96, de 8 a 11 de outubro, Philadelphia, Pennsylvania

	*EDUCOM'97, de 28 a 31 de outubro, Minneapolis, Minnesota

	*EDUCOM'98, de 13 a 16 de outubro, Orlando, Florida

	*EDUCOM'99, de 26 a 29 de outubro, Long Beach, California

	*EDUCOM'2000, de 17 a 20 de outubro, Pittsburgh, Pennsylvania

	*EDUCOM'2001, de 30 de outubro a 2 de novembro, Indianapolis, Indiana.
</prE>
