<title>Dia 29 de Maio de 1995, segunda parte</title>

<H2>Dia 29 de Maio de 1995, segunda parte</H2>
<pre>

GOVERNADOR DE WASHINGTON VETA PROJETO DE LEI DE "DECENCIA" ELETRONICA
	O governador de Washington, Mike Lowry, vetou um projeto de lei
que iria exigir que os operadores das redes dos campus, entre outros,
policiassem o conteudo dos materiais que passassem pelas redes, para ter
certeza de que estariam livres de materiais obscenos. Ele observou que a
medida poderia ter imposto uma carga significativa sobre um "grande
segmento de programas e negocios legitimos.". O senado estadual pretende
tentar derrubar o veto, e ja' foi enviada uma nova versao modificada do
projeto de lei. A nova versao isenta os materiais educativos e
relacionados com a assistencia de saude, mas continua entregando aos
provedores de servicos on-line a responsabilidade pelas informacoes que
passam pelas suas redes. (Chronicle of Higher Education, 26/05/95, A19)
 
QUAL O PRECO DA BELLCORE?
	A Bellcore esta' `a venda, mas as empresas Bell estao tendo
grandes dificuldades para decidir quanto cobrar. "A empresa nao tem uma
orientacao comercial, tem sido operada como instituicao sem fins
lucrativos, e nunca teve que prestar contas a ninguem especificamente.
Agora transformou-se em um bicho-de-sete-cabecas.", comentou um analista
da Wall Street. De qualquer maneira, os empregados da Bellcore estao
ansiosos para livrarem-se do controle do decreto anti-truste. "Ja' e' hora
de podermos comecar a ganhar com o que sabemos e com o que temos.",
afirmou um engenheiro da Bellcore. O processo de venda da organizacao de
pesquisas promete ser particularmente imprevisivel, ja' que as empresas
Bell nao querem prejudicar suas proprias posicoes, vendendo para um
concorrente direto, como a AT&T. (Wall Street Journal, 22/05/95 B1)
 
ALERTA SOBRE HOT JAVA
	Os ceticos estao avisando que o novo programa Hot Java, da Sun
Microsystems, pode conter alguns riscos de seguranca: "E' bacana poder
assistir a um pequeno personagem de desenho animado.", comentou o
presidente de uma empresa de pesquisas. "Mas aquele pequeno personagem
pode acabar com seu disco rigido.". O problema em potencial vem do modo de
funcionamento do Hot Java; as sequencias animadas -- chamadas de "applets"
pelo fato de serem essencialmente mini softwares -- sao recebidas e
executadas imediatamente pelo computador que estiver fazendo o download,
antes que qualquer programa anti virus tenha tempo para fazer qualquer
verificacao. "Com o Hot Java, voce esta' utilizando a CPU do computador, e
nao a rede telefonica, para fazer a animacao.", afirmou um porta-voz da
Sun. O medo e' que algum hacker malefico possa invadir o banco de dados da
Teia, substituir o mini programa por um virus, e infectar o computador de
quem estiver fazendo o download. A Sun combateu as criticas, alegando que
ha' esquemas suficientes de seguranca no Hot Java, inclusive um programa
que impede que os mini programas interfiram em outros dados armazenados em
disco. (Investor's Business Daily, 23/05/95, A8) -- O software pode ser
copiado por download de http://java.sun.com/, mas atualmente so' pode
ser executado no sistema operacional Solaris, da Sun. As versoes para
Windows NT, Windows 95 e MacOS estarao disponiveis no meio do ano.
(Information Week, 29/05/95, p.32)
 
ONDA DE CRIMES DE ALTA TECNOLOGIA
	Na semana passada, homens armados, trajando casacos esporte e
gravatas, pegaram em emboscada os trabalhadores de uma empresa de
componentes de computadores de Irvine, California, e fugiram com 12
milhoes de dolares em chips de memoria. (Investor's Business Daily,
23/05/95, A8) -- Chips de computadores, valendo muito mais do que seus
pesos em ouro, sao uma mercadoria quentissima no mercado negro. A policia
de San Jose, California, estima que as empresas do Vale do Silicio perdem
semanalmente cerca de um milhao de dolares em roubos, e a American
Electronics Association calculou perdas de 40 milhoes de dolares em 1993,
somente em roubos de chips. "O que faz dos chips uma mercadoria tao
atraente para o roubo e' o fato de serem dificeis de ser detectados. Podem
passar do ladrao para um intermediario e em seguida para um distribuidor,
sem que ninguem saiba que sao roubados.", afirmou um agente especial do
FBI, encarregado dos crimes de alta tecnologia. O CIO esta' preocupado com
o fato de que o trafico de componentes roubados podera' significar que os
computadores poderao acabar recebendo produtos inferiores. "Ouve-se dizer
por ai' que ha' pessoas revolvendo depositos de refugo, `a procura de
pecas, que foram descartadas pelos fabricantes por nao estarem dentro das
especificacoes. Agora, quando algum aplicativo nao estiver funcionando
direito, vamos ficar imaginando se sera' essa a causa", comentou o vice
presidente da IS, uma grande cadeia de lojas. (Information Week, 29/05/95,
p.15)
 
BIBLIOTECARIOS DE OLHO NO FUTURO DIGITAL
	Na era digital, as bibliotecas se transformarao em navegadores do
conhecimento, guiando os clientes on-line ate' `as informacoes de que
necessitam -- o unico problema e' que custara' bilhoes de dolares para
colocar os materiais e os recursos on-line, e o dinheiro tem que vir de
algum lugar. A American Library Association e a Libraries for the Future
estao brigando por um fatia do bolo, estimado em cinco bilhoes de dolares,
que os leiloes da FCC vao produzir, alem de uma fatia dos 300 milhoes de
dolares anuais em excessos de fundos, gerados pelas companhias telefonicas
atraves da cobranca das conexoes de ligacoes de longa distancia. "Nao
queremos dividir os impostos, mas os lucros gerados pela Via Expressa de
Informacoes.", afirmou o presidente eleito da ALA. (Business Week,
29/05/95, p.90)
 
AMERICA ONLINE VAI COMPRAR PRODUTORES DE SOFTWARE
	A America Online vai adquirir a produtora de CD-ROMs Medior Inc.
por 30 milhoes de dolares, alem da produtora da Internet WAIS Inc., por
cerca de 15 milhoes de dolares. As aquisicoes refletem a estrategia da
America Online de aumentar sua capacidade de fornecer material para sua
rede, e significam "mais um passo para estabelecer a America Online como a
alternativa evidente `a Microsoft.", declarou o presidente da AOL. A
America Online devera' anunciar mais aliancas com produtores de CD-ROM,
como Broderbund Software, Novell, e a divisao de entretenimento interativo
da Virgin Group. (Wall Street Journal, 22/05/95, B5)

AT&T E APPLE SE UNEM EM ALIANCA DE VIDEO-CONFERENCIA
	A AT&T e a Apple Computer formaram uma alianca para facilitar, e
tornar mais estavel, a video-conferencia de mesa para os usuarios do
Macintosh, unindo o software QuickTime Conferencing, da Apple, com a rede
WorldWorx, da AT&T. (Investor's Business Daily, 23/05/95, A9)
 
MGM ANUNCIA DIVISAO MULTIMIDIA
	A Metro-Goldwyn-Mayer esta' estabelecendo uma divisao interativa,
e esta' antecipando a producao de seis a dez titulos em CD-ROM por ano. Os
novos produtos serao parcialmente baseados nos lancamentos do estudio para
cinema e TV, e tambem apresentarao ideias originais. (Wall Street Journal,
23/05/95, B7)
 
REDE DE COMPRAS DOMESTICAS
	A HSN Interactive opera seu Global Plaza na America Online, e no
final deste ano lancara' o Masterworks, um centro comercial de livros
finos e best sellers, alem de obras de arte, musica, joalheria, entre
outros. A HSN Interactive tambem pretende fornecer material para a
Microsoft Network, e dividira' com a empresa de software sua experiencia
em aplicativos de compras domesticas para a televisao interativa.
(Broadcasting & Cable, 22/05/95, p.42)
 
MCI ENTRA NO MERCADO CELULAR
	A MCI Communications vai pagar 190 milhoes de dolares pela
aquisicao da Nationwide Cellular Service, o maior revendedor de servicos
de telefonia celular dos Estados Unidos. (New York Times, 23/05/95, C3)
 
BRITISH TELECOM DE OLHO NA EUROPA
	A British Telecom espera que seu investimento multibilionario, em
aliancas com operadoras de telecomunicacoes no continente, permitam que a
BT se torne a mais forte organizacao de telecomunicacoes da Europa. O
diretor da BT declarou: "Acreditamos que a Europa estara' aberta `a
concorrencia nos proximos tres anos... Teremos a lideranca, e levara'
muito tempo ate' que os outros nos alcancem.". (Financial Times, 22/05/95,
p.15)
 
STUDIO MULTIMIDIA DA APPLE PARA A EMI
	A Apple vai construir e operar um estudio de gravacao multimidia
nos estudios da EMI, na Abbey Road, Londres, para permitir que os artistas
produzam CDs e CD ROMs interativos. (New York Times, 23/05/95, C3)
 
ETICA EM INFORMATICA
	De acordo com uma pesquisa da Computerworld, dos 255 profissionais
de sistemas de informacoes de empresas norte-americanas, 53% fizeram
copias nao autorizadas de softwares comerciais (com o motivo tipico de
"experimentar antes de comprar"). Outra descoberta da pesquisa: 39%
disseram que acham correto copiar software licenciado, da maquina de casa
para o laptop; 27% disseram ser correto copiar software comercial para
experimenta-lo; e 16% disseram que acham correto copiar de BBS, por
download, softwares protegidos por direitos autorais. (Computerworld,
22/05/95, p.1)
</prE>
