<title>Dia 30 de Maio de 1995</title>

<H2>Dia 30 de Maio de 1995</H2>
<pre>

MICROSOFT ABANDONOU SUA BUSCA PELA INTUIT
	Enfrentando o desafio imposto pelo Departamento de Justica
norte-americano, que possivelmente iria redundar em uma longa batalha
judicial, a Microsoft abandonou sua tentativa de aquisicao da Intuit, por
dois bilhoes de dolares. O programa Quicken, da Intuit, responde por 81%
de todo o mercado de softwares de controle de financas pessoais, e agora a
empresa provavelmente fara' aliancas com empresas de prestacao de servicos
financeiros, outras empresas de softwares e servicos on line, enquanto que
a Microsoft provavelmente incorporara' seu proprio programa, Money, no
sistema operacional Windows 95, ligando-o `a nova Microsoft Network. (New
York Times, 21/05/95, A1)
 
BELLSOUTH REDUZ SUA FORCA DE TRABALHO
	Pressionada pela crescente concorrencia no mercado local de
telefones, a BellSouth cortara' ate' onze mil empregos, alem dos mais de
dezenove mil que ja' estavam marcados para serem extintos ate' o final
deste ano. (Atlanta Journal-Constitution, 19/05/95, A1)
 
PROGRAMACAO NOVA NA INTERNET
	Os produtos mais recentes da Sun Microsystems tem como finalidade
tornar a Rede mais divertida e mais segura para o uso empresarial. Hot
Java destina-se `a criacao de um design mais arrojado para as paginas da
Teia, transformando as paginas estaticas em imagens em movimento. "E' a
diferenca entre a TV em preto e branco e a TV a cores", afirmou o
principal executivo tecnico da Sun. "Voce vera' a diferenca, pois tudo
ganhara' mais vida", comentou um editor de boletins do setor. O Sunscreen
permite que as empresas construam redes globais para o compartilhamento de
dados, pegando carona na Internet, transformando a rede publica em uma
rede particular virtual, com os devidos bloqueios e outras medidas de
seguranca. (Wall Street Journal, 19/05/95, B4)
 
PIRATARIA DE SOFTWARE AINDA PREOCUPA
	Uma pesquisa feita entre 54 paises no ano passado revelou que a
pirataria de software aumentou para 14,9 bilhoes de dolares, bem acima dos
12,8 bilhoes de 1993. Os Estados Unidos mantiveram a menor taxa de
pirataria, 35%, mas mesmo assim e' uma fonte de preocupacao. Na Europa, a
taxa e' de 58%, e de 68% na Asia. Na Indonesia, Tailandia e Nicaragua, 98%
dos softwares em uso sao obtidos ilegalmente. (Investor's Business Daily,
19/05/95, A4)
 
DIFICULTANDO A PIRATARIA
	A Microsoft esta' testando uma medida anti-pirataria na
Inglaterra, batizada de LegalWare. O produto consiste de discos e um
livro, cujo objetivo e' ajudar as empresas a entenderem as implicacoes da
pirataria de software, e fazerem auditorias em seus proprios sistemas.
Outra tatica esta' incorporada nas versoes beta do Windows 95 -- uma
pequena rotina virotica chamada Registration Wizard. O software reune
informacoes sobre todos os sistemas ligados em uma rede, e monitora quais
os softwares que estao sendo executados e em que maquinas. Em seguida, o
programa compila uma lista com os programas da Microsoft e de
concorrentes, presentes em cada maquina, que e' enviada `a empresa quando
o usuario se inscreve na Microsoft Network. Os clientes terao que
desabilitar o programa, caso nao concordem com a coleta de informacoes.
(Information Week, 22/05/95, p.88)
 
APPLE QUER UMA FATIA MAIOR DO BOLO GLOBAL
	A Apple Computer esta' dedicando seus esforcos de marketing ao
aumento das vendas em cinco paises -- Brasil, Mexico, India, Coreia do Sul
e China. Embora apenas 3% das vendas anuais de PCs no Brasil sejam de
maquinas Macintosh, a Apple espera aumentar essa porcentagem em 80% em um
ano, para conseguir uma participacao de 10% do mercado ate' 1998. Faz
parte da estrategia estabelecer uma subsidiaria brasileira. "A America do
Sul e' um mercado onde, francamente, o caminho para a entrada no mercado
de um pais e' atraves da abertura de uma empresa nesse pais.", afirmou o
presidente norte-americano da Apple. Cinquenta e quatro por cento da renda
da Apple no segundo trimestre vieram de vendas externas, e essa
porcentagem devera' aumentar, `a medida que a empresa criar
infra-estruturas empresariais na China e na India. (Miami Herald,
19/05/95, C3)
 
DOWNLOADS PORNOGRAFICOS
	Um homem foi preso em Los Angeles pela posse de oitenta imagens
computadorizadas de pornografia infantil, inclusive gravuras descrevendo
atividade sexual. Um porta-voz do grupo de defesa da liberdade de
expressao afirmou: "Isso causara' barulho na Internet... o salto de
materiais nao protegidos, como pornografia infantil, ate' os materiais
questionaveis, mas protegidos, nao e' muito grande, e nao tenho tanta
certeza de que o usuario medio da Internet realmente tem consciencia
quando encontra esses materiais na rede.". O promotor afirmou:
"Certamente, se voce vir alguma coisa aparecer no monitor do seu
computador, voce nao tera' posse sobre o material. Mas se voce se der ao
trabalho de fazer o download, entao o material sera' seu. Nao seria muito
diferente de um suspeito que tivesse essas fotografias armazenadas no
armario. O computador e' apenas mais uma area de armazenamento. (New York
Times, 19/05/95, A8)

O QUE HA' NA WIRED?
	A revista Wired esta' recebendo muita atencao esta semana, e
apareceu na revista The New York Times Magazine e na nova edicao do Educom
Review. (New York Times Magazine 21/05/95, p.38; Educom Review, Maio/Junho
'95, p.12)
 
POLITICA PUBLICA
	David Gelerntner, o cientista de Yale que foi atacado pelo
Unabomber, disse estar preocupado com os "construtores obsessivos de
software", que estao construindo a via expressa de informacoes, pois
construir software e' a diversao deles. Minha diversao e' ler Keats, e nao
acredito que leiam Keats. Acho que as escolas de hoje em dia estao tao
fracas que as pessoas se formam na escola e na faculdade sem nunca terem
ouvido falar de Keats, e acho que essas sao as pessoas erradas para a
construcao de trabalhos publicos.". Depois de ter apresentado seu apoio `a
posicao do governo de Bill Clinton com relacao ao chip Clipper, Gelerntner
recebeu mensagens de correio eletronico cheias de "declaracoes sobre
McCarthy, por exemplo, ou sobre Nixon, ou sobre a natureza do sistema
politico dos Estados Unidos, completamente ingenuas. Essas pessoas nunca
leram dez paginas sequer sobre o que realmente foi a era McCarthy!".
Gelerntner declarou que esta' preocupado com a possibilidade de um dia ver
hackers tomando conta da politica publica, "nao porque sejam ruins, mas
porque nao sao educados.". (New York Times Magazine, 21/05/95, p.50)
 
OPINIAO DA INTEL SOBRE VIDEO-CONFERENCIA
	Embora a Intel apoie o padrao de compressao/descompressao de dados
H320, para a tecnologia de video-conferencia, a empresa esta' prevendo um
futuro no qual serao necessarios chips cada vez mais velozes. Um executivo
da Intel afirmou: "Nao temos medo de dizer que a video-conferencia sera'
uma aplicacao que aumentara' a demanda de microprocessadores de alta
performance, ate' a proxima decada. Como somos lideres em
microprocessadores, isso e' bom para nos.". (Financial Times, 16/05/95,
p.14)
 
CONVERGENCIA RECEBE SINAL VERDE
	O orgao canadense regulador das telecomunicacoes, CRTC, quer que o
Canada' de subsidios financeiros adicionais para as empresas telefonicas,
que estao aguardando suas entradas no mercado de fornecimento de video, e
para produtores de programas com conteudo canadense. (Toronto Globe &
Mail, 20/05/95, A1)
 
ESTRATEGIA ITALIANA DA BELL ATLANTIC
	A Bell Atlantic vai desfazer sua alianca com a empresa estatal
italiana de telecomunicacoes Step S.p.A., pelo fato de a Step ter formado
uma empresa chamada Infostrada para poder oferecer servicos de dados para
empresas. (New York Times, 20/05/95, p.21)
 
GUERRA NO MERCADO DE ENTRETENIMENTO
	Seguindo uma linha dura, apesar das ameacas de uma guerra
comercial por parte dos Estados Unidos, Ottawa afirmou que nao revera' a
decisao do CRTC de excluir a Country Music Television dos sistemas de cabo
do Canada'. (Toronto Star, 19/05/95, E3)
 
HOMSOM TEM A INFORMACAO COMO OBJETIVO PRINCIPAL
	A Thomson Corp, empresa proprietaria de mais de 140 jornais
diarios e 42 semanarios na America do Norte, adicionou mais um bilhao de
dolares em aquisicoes, desde o comeco deste ano, na sua busca pelo titulo
de maior empresa de informacoes do mundo, que pretende conquistar ate' o
inicio do proximo seculo. (Toronto Globe & Mail, 19/05/95, B4)
 
IBM CORTA PAGAMENTO DE SECRETARIA
	Como parte de sua estrategia de cortes de custos, a IBM cortara'
36% dos salarios de cerca de 120 secretarias executivas, algumas das quais
estao faturando 130 mil dolares por ano. (New York Times, 20/05/95, p.20)
</pre>
