<title>Abinfo Eletronico Nro 01 - Julho/95</title>
<body>

<CENTER>
<H1>Abinfo Eletr&ocirc;nico #01</H1>
<H3>Agosto de 1995</H3>
<H2>Associa&ccedil;&atilde;o dos Bachar&eacute;is em Inform&aacute;tica do RS</H2>
<H2>(ABINFO-RS)</H2>
</CENTER>

<HR SIZE=10>

<PRE>
        <IMG SRC=yellowba.jpg> <A HREF=editoria.htm>Editorial</A>                              <IMG SRC=yellowba.jpg> <A HREF=cartas.htm>Cartas</A><BR>
        <IMG SRC=yellowba.jpg> <A HREF=assoc.htm>ABINFO-RS</A>                              <IMG SRC=yellowba.jpg> <A HREF=profissa.htm>Profiss&atilde;o</A><BR>
        <IMG SRC=yellowba.jpg> <A HREF=artigos.htm>Artigos</A>                                <IMG SRC=yellowba.jpg> <A HREF=faq.htm>FAQ</A><BR>
        <IMG SRC=yellowba.jpg> <A HREF=edupage.htm>Edupage</A>

</PRE>
<a href=debem.htm><IMG SRC=debem.jpg></a> <a href=digital.htm><IMG SRC=digital.jpg></a>

<HR SIZE=10>

<B>Este jornal pode ser distribu&iacute;do livremente, tendo sua venda proibida.</B><P>
Envie suas <A HREF=sugestao.htm>sugest&otilde;es</A> sobre o jornal para a ABINFO-RS.
</body>
