<head>
<title>Codigo de Etica e Conduta Profissional da ACM</title>
</head>

<body>

<center>
<h2>C&oacute;digo de &Eacute;tica e Conduta Profissional da ACM</h2><p>
</center>

<hr size=7>
<p>

<b>INTRODU&Ccedil;&Atilde;O:</b><p>

       O compromisso para a conduta profissional &eacute; esperado de todos os
membros (votantes, associados e estudantes) da ACM. Este c&oacute;digo
identifica v&aacute;rias quest&otilde;es que os profissionais podem enfrentar,
e prev&ecirc; pautas para lidar com as mesmas. A se&ccedil;&atilde;o 1
apresenta considera&ccedil;&otilde;es &eacute;ticas fundamentais, enquanto que
a se&ccedil;&atilde;o 2 apresenta considera&ccedil;&otilde;es adicionais de
conduta profissional. As afirma&ccedil;&otilde;es na se&ccedil;&atilde;o 3
dizem respeito mais especificamente para indiv&iacute;duos que possuem um papel
de lideran&ccedil;a, seja em estabelecimentos comerciais ou em
organiza&ccedil;&otilde;es profissionais como por exemplo a ACM. Pautas
encorajadoras de acordo com este c&oacute;digo s&atilde;o dadas na
se&ccedil;&atilde;o 4.<p>

1 - CONSIDERA&Ccedil;&Otilde;ES &Eacute;TICAS FUNDAMENTAIS<p>

Como um membro da ACM eu devo:<p>

1.1- Contribuir para a sociedade e bem-estar do ser humano.<p>

O maior valor da computa&ccedil;&atilde;o &eacute; o seu potencial de melhorar
o bem-estar do indiv&iacute;duo e da sociedade como um todo. Assim,
profissionais da computa&ccedil;&atilde;o devem estar comprometidos a
desenvolver, expandir e usar a sua ci&ecirc;ncia para o benef&iacute;cio da
humanidade, minimizando as conseq&uuml;&ecirc;ncias negativas dos sistemas de
computa&ccedil;&atilde;o, incluindo amea&ccedil;as &agrave; sa&uacute;de e
seguran&ccedil;a. Um profissional da computa&ccedil;&atilde;o que projeta e
desenvolve sistemas deve estar alerta e alertar os outros para qualquer dano ao
ambiente local ou global.<p>

1.2- Evitar de prejudicar outros.<p>

Este princ&iacute;pio pro&iacute;be o uso da tecnologia se esta resultar em
dano a: usu&aacute;rios, estado, empregados, empregadores. A&ccedil;&otilde;es
nocivas incluem destrui&ccedil;&atilde;o ou modifica&ccedil;&atilde;o
intencional de arquivos e programas que  conduzam a s&eacute;ria perda de
recursos ou gasto desnecess&aacute;rio de recursos humanos como o tempo e
esfor&ccedil;o requeridos para eliminar "virus" de sistemas. Para minimizar a
possibilidade de prejudicar outros indiretamente, os profissionais da
computa&ccedil;&atilde;o devem minimizar problemas operacionais usando
padr&otilde;es para projetar e testar sistemas.<p>

1.3- Ser honesto e digno de confian&ccedil;a.<p>

O profissional honesto n&atilde;o deve fazer declara&ccedil;&otilde;es falsas
ou queixas depreciativas sobre um sistema ou projeto de sistema. Um
profissional da computa&ccedil;&atilde;o deve ser honesto a respeito de suas
pr&oacute;prias qualifica&ccedil;&otilde;es e sobre quaisquer
circunst&acirc;ncias que possam levar a conflitos de interesses. <p>

1.4- Ser imparcial e realizar a&ccedil;&otilde;es sem discrimina&ccedil;&atilde;o.<p>

Os valores de igualdade, toler&acirc;ncia, respeito pelos outros, e os
princ&iacute;pios de justi&ccedil;a igualit&aacute;ria governam este
&iacute;tem. Discrimina&ccedil;&otilde;es na base de qualquer
caracter&iacute;stica social como ra&ccedil;a, sexo, religi&atilde;o, idade,
invalidez ou origem &eacute; uma expl&iacute;cita viola&ccedil;&atilde;o da
constitui&ccedil;&atilde;o da ACM e n&atilde;o ser&aacute; tolerada. Em uma
sociedade justa, todos os indiv&iacute;duos devem ter igualdade de
oportunidades e de benef&iacute;cios do uso de recursos computacionais, a
despeito de suas caracter&iacute;sticas.<p>

1.5- Honrar direitos de propriedade incluido copyrights e patentes.<p>

Viola&ccedil;&atilde;o de copyrights, patentes, acordos de  licenciamento
&eacute; proibida por lei na maioria das circunst&acirc;ncias. Mesmo n&atilde;o
havendo prote&ccedil;&atilde;o, estas viola&ccedil;&otilde;es s&atilde;o
contr&aacute;rias ao comportamento profissional.<p>

1.6- Conceder cr&eacute;ditos apropriados para propriedades intelectuais.<p>

Profissionais da computa&ccedil;&atilde;o s&atilde;o obrigados a proteger a
integridade da propriedade intelectual. Especificamente, n&atilde;o &eacute;
permitido usar id&eacute;ias de outros ou obter cr&eacute;ditos por trabalho de
outros, mesmo em casos onde o trabalho n&atilde;o est&aacute; explicitamente
protegido por qualquer meio, incluindo copyright e patente. <p>

1.7- Acessar recursos computacionais e de comunica&ccedil;&atilde;o somente
quando autorizado.<p>

Indiv&iacute;duos e organiza&ccedil;&otilde;es t&ecirc;m o direito de
restringir o acesso aos seus sistemas, desde que nao viole o &iacute;tem 1.4.
Ningu&eacute;m deve entrar ou usar sistemas, softwares ou arquivos de outros
sem permiss&atilde;o. Sempre deve ser obtida a aprova&ccedil;&atilde;o antes de
usar recursos, incluindo canais de comunica&ccedil;&atilde;o, arquivos,
perif&eacute;ricos e tempo de m&aacute;quina. <p>

1.8- Respeitar a privacidade de outros.<p>

&Eacute; responsabilidade dos profissionais manter a privacidade e integridade
de dados de indiv&iacute;duos. Isto inclui tomar precau&ccedil;&otilde;es para
assegurar a precis&atilde;o dos dados, como tamb&eacute;m proteg&ecirc;-los de
acesso acidental a indiv&iacute;duos n&atilde;o autorizados. Devem ser
planejados procedimentos para permitir aos indiv&iacute;duos rever seus
registros e corrigir imprecis&otilde;es. Este imperativo implica que somente a
quantidade necess&aacute;ria de informa&ccedil;&otilde;es pessoais deve ser
armazenada em um sistema, que o per&iacute;odo de reten&ccedil;&atilde;o e
elimina&ccedil;&atilde;o para estas informa&ccedil;&otilde;es devem ser
claramente definidas e cumpridas e que informa&ccedil;&otilde;es pessoais
obtidas para um prop&oacute;sito espec&iacute;fico n&atilde;o podem ser usada
para outros fins sem o consentimento do indiv&iacute;duo.<p>

1.9- Honrar a confidencialidade.<p>

O princ&iacute;pio da honestidade se estende a quest&otilde;es de
confidencialidade de informa&ccedil;&otilde;es sempre que algu&eacute;m faz uma
promessa expl&iacute;cita de honrar a confidencialidade ou, implicitamente,
quando informa&ccedil;&otilde;es privadas n&atilde;o diretamente relacionadas
&agrave;s obriga&ccedil;&otilde;es de algu&eacute;m se tornam
dispon&iacute;veis.<p>


2 - CONSIDERA&Ccedil;&Otilde;ES ADICIONAIS DE CONDUTA PROFISSIONAL<p>

Como um profissional de computa&ccedil;&atilde;o pertencente &agrave; ACM eu
devo:<p>

2.1- Esfor&ccedil;ar-me para concluir com a mais alta qualidade todos os
processos e produtos do trabalho profissional.<p>
<p>
O profissional da computa&ccedil;&atilde;o deve se esfor&ccedil;ar para
alcan&ccedil;ar qualidade e conhecer as s&eacute;rias conseq&uuml;&ecirc;ncias
negativas que podem resultar de um sistema de baixa qualidade.<p>
<p>
<p>
2.2- Adquirir e manter compet&ecirc;ncia profissional.<p>
<p>
Um profissional deve participar na determina&ccedil;&atilde;o de padr&otilde;es
para n&iacute;veis apropriados de compet&ecirc;ncia, e se esfor&ccedil;ar para
atingir estes padr&otilde;es. A aquisi&ccedil;&atilde;o de conhecimentos
t&eacute;cnicos e compet&ecirc;ncia pode ser feita de v&aacute;rias maneiras:
atrav&eacute;s do estudo independente; participando de semin&aacute;rios,
confer&ecirc;ncias ou cursos; e se envolver em organiza&ccedil;&otilde;es
profissionais.<p>
<p>
<p>
2.3- Conhecer e respeitar leis existentes ligadas ao trabalho profissional.<p>
<p>
Membros da ACM devem obedecer leis locais, estaduais, nacionais e
internacionais, a menos que exista uma base &eacute;tica para n&atilde;o
faz&ecirc;-lo* Pol&iacute;ticas e procedimentos de organiza&ccedil;&otilde;es
onde o membro t&ecirc;m participa&ccedil;&atilde;o tamb&eacute;m devem ser
obedecidas. Se algu&eacute;m decidir violar uma lei ou regra porque esta
&eacute; vista como anti-&eacute;tica, ou por qualquer outra raz&atilde;o, ele
deve aceitar na totalidade a responsabilidade e conseq&uuml;&ecirc;ncias desta
a&ccedil;&atilde;o.<p>
<p>
<p>
2.4- Aceitar e providenciar reciclagem profissional adequada.<p>
<p>
A qualidade do trabalho profissional, especialmente na &aacute;rea da
computa&ccedil;&atilde;o depende da revis&atilde;o e cr&iacute;tica
profissional. Sempre que apropriado, membros devem revisar o seu trabalho assim
como o trabalho de outros.<p>
<p>
<p>
2.5- Conceder estimativa compreensiva e cuidadosa de sistemas computacionais e
seus impactos, com especial &ecirc;nfase nos possiveis risco.<p>
<p>
Profissionais da computa&ccedil;&atilde;o est&atilde;o em uma
posi&ccedil;&atilde;o de confian&ccedil;a especial, e assim t&ecirc;m
responsabilidade especial em prov&ecirc;r resultados objetivos e
confi&aacute;veis para empregadores, clientes, usu&aacute;rios e
p&uacute;blico. Quando fornecendo resultados, o profissional deve tamb&eacute;m
identificar qualquer conflito de interesse relevante, como colocado no
&iacute;tem 1.3.<p>
   <p>
<p>
2.6- Honrar contratos e responsabilidades especificadas.<p>
<p>
Para um profissional da computa&ccedil;&atilde;o, isso inclui assegurar que os
elementos do sistema funcionam como o pretendido. Tamb&eacute;m, quando
contratando para trabalho outra parte, ele tem a obriga&ccedil;&atilde;o de
manter essa parte devidamente informada sobre o andamento do trabalho. O
principal ponto aqui &eacute; a obriga&ccedil;&atilde;o de aceitar
responsabilidade pessoal pelo trabalho profissional. Em algumas ocasi&otilde;es
outros princ&iacute;pios &eacute;ticos podem ter maior prioridade.<p>
<p>
<p>
2.7- Aperfei&ccedil;oar o entendimento p&uacute;blico de
computa&ccedil;&atilde;o e suas conseq&uuml;encias.<p>
<p>
Profissionais da computa&ccedil;&atilde;o t&ecirc;m a responsabilidade de
repartir conhecimento t&eacute;cnico com o p&uacute;blico atrav&eacute;s do
encorajamento ao entendimento da computa&ccedil;&atilde;o, incluindo os
impactos de sistemas e suas limita&ccedil;&otilde;es. Este imperativo implica
na obriga&ccedil;&atilde;o de contrariar qualquer vis&atilde;o falsa
relacionada &agrave; computa&ccedil;&atilde;o.<p>
<p>
<p>
<p>
3 - CONSIDERA&Ccedil;&Otilde;ES RELATIVAS &Agrave; LIDERAN&Ccedil;A<p>

Como um membro da ACM e um l&iacute;der organizacional, eu devo:<p>
   <p>
3.1- Articular responsabilidades sociais de membros de uma unidade
organizacional e encorajar aceita&ccedil;&atilde;o plena destas
responsabilidades.<p>
<p>
Procedimentos organizacionais e atitudes orientadas no sentido de melhorar a
qualidade e o bem-estar da sociedade reduzir&aacute; malef&iacute;cios ao
p&uacute;blico, dessa forma servindo a interesses p&uacute;blicos e preenchendo
responsabilidade social. Assim, l&iacute;deres organizacionais devem encorajar
participa&ccedil;&atilde;o total em encontrar responsabilidades sociais assim
como qualidade de desempenho.<p>
<p>
<p>
3.2- Gerenciar pessoas e recursos para planejar e construir sistemas de
informa&ccedil;&atilde;o que aumente a qualidade da vida profissional.<p>
<p>
Quando implementando um sistema computacional, as organiza&ccedil;&otilde;es
devem levar em considera&ccedil;&atilde;o o desenvolvimento pessoal e
profissional, seguran&ccedil;a f&iacute;sica e dignidade humana de todos os
empregados. Padroes ergon&ocirc;micos apropriados devem ser considerados no
projeto do sistema e no local de trabalho.<p>
<p>
<p>
3.3- Ter conhecimento e dar suporte apropriado e uso autorizado de uma
organiza&ccedil;&atilde;o computacional e recursos de
comunica&ccedil;&atilde;o.<p>
<p>
Como sistema de computa&ccedil;&atilde;o podem se tornar tanto instrumentos nocivos como de benef&iacute;cios em uma
organiza&ccedil;&atilde;o, a lideran&ccedil;a tem a responsabilidade de definir
claramente os usos apropriados e inapropriados de recursos computacionais.<p>
<p>
<p>
3.4- Garantir que usu&aacute;rios e outros que passam a ser afetados por um
sistema tenham suas necessidades claramente articuladas durante a
tributa&ccedil;&atilde;o e planejamento de requisitos, depois o sistema
precisar&aacute; ser validado para satisfazer os requisitos.<p>
<p>
Usu&aacute;rios normais do sistema, usu&aacute;rios potenciais e outras pessoas
cujas vidas podem sofrer o impacto de um sistema devem ter suas necessidades
avaliadas e incorporadas como requerimentos. A valida&ccedil;&atilde;o de um
sistema deve assegurar cumprimento desses requerimentos.<p>
<p>
<p>
3.5- Articular e dar suporte a mecanismos de prote&ccedil;&atilde;o &agrave;
dignidade de usu&aacute;rios e outros afetados por um sistema computacional.<p>
<p>
Projetar ou desenvolver sistemas que deliberadamente ou inadvertidamente
degradam indiv&iacute;duos ou grupos &eacute; eticamente inaceit&aacute;vel.
Profissionais que est&atilde;o em posi&ccedil;&atilde;o de tomar
decis&otilde;es devem verificar que sistemas s&atilde;o projetados e
implementados para proteger a privacidade pessoal e aumentar a dignidade
pessoal.<p>
<p>
<p>
3.6- Criar oportunidades para membros da organiza&ccedil;&atilde;o aprender os
princ&iacute;pios e limita&ccedil;&otilde;es de sistemas de computadores.<p>
<p>
Oportunidades educacionais s&atilde;o essenciais para facilitar a
participa&ccedil;&atilde;o de todos os membros da organiza&ccedil;&atilde;o.
Oportunidades devem ser dispon&iacute;veis para todos os membros para
auxili&aacute;-los a melhorar seus conhecimentos e habilidades em
computa&ccedil;&atilde;o, incluindo cursos que familiarizam os membros com as
conseq&uuml;&ecirc;ncias e limita&ccedil;&otilde;es de tipos particulares de
sistemas.<p>
<p>
<p>
4 - CONCORD&Acirc;NCIA COM O C&Oacute;DIGO<p>
<p>
Como um membro da ACM, eu devo:<p>
<p>
4.1- Apoiar e promover os princ&iacute;pios deste c&oacute;digo.<p>
<p>
O futuro da computa&ccedil;&atilde;o profissional depende tanto da
excel&ecirc;ncia t&eacute;cnica quanto &eacute;tica. &Eacute; importante para o
indiv&iacute;duo que trabalha na computa&ccedil;&atilde;o aderir a esses
princ&iacute;pios &eacute;ticos e encorajar ativamente outros a
faz&ecirc;-lo.<p>
<p>
4.2- Comprometer-se a realizar a&ccedil;&otilde;es apropriadas se o
c&oacute;digo for violado.<p>
<p>
Ao suspeitar que h&aacute; uma viola&ccedil;&atilde;o a este c&oacute;digo,
deve-se come&ccedil;ar colhendo evid&ecirc;ncias para determinar se a suspeita
pode ser provada. Se afirmativo, de que grau de severidade foi a
viola&ccedil;&atilde;o? O indiv&iacute;duo pode desejar consultar outros
membros da ACM nessa investiga&ccedil;&atilde;o. Se for conclu&iacute;do que
realmente houve uma viola&ccedil;&atilde;o, &eacute; justo e conveniente trazer
essa quest&atilde;o &agrave; aten&ccedil;&atilde;o do violador. Se o problema
n&atilde;o puder ser resolvido de outra forma, ele deve se submeter ao acordado
pelas pol&iacute;ticas e procedimentos da ACM.<p>
<p>
<p>
4.3- Tratar viola&ccedil;&otilde;es deste c&oacute;digo como incoerentes com a
condi&ccedil;&atilde;o de membros da ACM.<p>
<p>
A ader&ecirc;ncia de profissionais a um c&oacute;digo de &eacute;tica &eacute;
uma quest&atilde;o volunt&aacute;ria. Se um membro n&atilde;o aceitar ou
n&atilde;o seguir este c&oacute;digo, isso deve ser entendido que a
vincula&ccedil;&atilde;o &agrave; ACM deve ser terminada.<p>

</body>
