<head>
<title>O Bem Imposs&iacute;vel ou O Mal Necess&aacute;rio?</title>
</head>

<body>

<center>
<h2>O Bem Imposs&iacute;vel ou O Mal Necess&aacute;rio?</h2><p>
</center>
Por <b>Alexandre Rocha</b><p>

<I>Publicado originalmente no livro <b>&Eacute;tica em processamento de dados</b>,
da cole&ccedil;&atilde;o "Ensaios T&eacute;cnicos nro 1", pelo SERPRO.
Bras&iacute;lia, janeiro de 1981.</i><p>

<hr size=7>
<br>

<b>&Eacute;TICA</b><p>

Substantivo feminino, que designa o estudo dos ju&iacute;zos de aprecia&ccedil;&atilde;o que se referem a conduta humana suscet&iacute;vel de qualifica&ccedil;&atilde;o do ponto de vista do Bem e o Mal, seja relativamente
a determinada sociedade seja de modo absoluto.<p>

<b>PROCESSAMENTO DE DADOS</b><p>

Substantivo masculino, que define sistemas que englobam a prepara&ccedil;&atilde;o e o aproveitamento de dados ou de elementos b&aacute;sicos de informa&ccedil;&atilde;o de acordo com regras precisas e que se utiliza, em geral, de equipamentos eletr&ocirc;nicos, os quais reduzem ao m&iacute;nimo a interven&ccedil;&atilde;o humana.<p>

<b>INTRODU&Ccedil;&Atilde;O</b><p>

Com o aux&iacute;lio dos verbetes definidos por Aur&eacute;lio Buarque de Holanda em seu novo Dicion&aacute;rio, persigo a chance de estabelecer e correlacionar par&acirc;metros inerentes a um campo de conhecimento preciso,
pleno de esquemas s&oacute;lidos, l&oacute;gicos, bem definidos - mas par&acirc;metros concernentes a integridade, honestidade e lisura seja nas atividades-meio ou atividades-fim - a pontos de defini&ccedil;&atilde;o do Bem
e do Mal envolvidos com o paradoxal recurso que &eacute; ao mesmo tempo o esteio principal da &aacute;rea de processamento de dados e o seu elemento mais fr&aacute;gil - O HOMEM.<p>

<b>O PRINC&Iacute;PIO</b><p>

	Desde os prim&oacute;rdios da Era da Computa&ccedil;&atilde;o, os
t&eacute;cnicos envolvidos anteviam os riscos, os descaminhos e o
contr  desenvolvimento que caminhavam de m&atilde;os dadas com as
inven&ccedil;&otilde;es mais formid&aacute;veis. O avi&atilde;o tornou-se
desassossego dos seus criadores, quando come&ccedil;ou a ser usado como arma.<p>

	Charles Babbage, o grande precursor j&aacute; admitia que o uso da
m&aacute;quina nem sempre seria dirigida para fins pac&iacute;ficos ou para
enriquecer o bem-estar dos homens.<p>

	Assim como Lucien Levy-Bruhl, que defendia no come&ccedil;o do s&eacute;culo a
tese da impossibilidade da moral te&oacute;rica (meta moral), os cientistas que
desenvolveram o ENIAC (1939) ou o BINAC (1942) preconizam a necessidade de, num
campo do conhecimento t&atilde;o extenso e expans&iacute;vel, se eleger pontos
de norteamento e dire&ccedil;&atilde;o do que deveria ou n&atilde;o ser feito,
at&eacute; onde se poderia ir, isto &eacute;, o estabelecimento de uma linha
&eacute;tica palp&aacute;vel - com par&acirc;metros formais e uma vis&atilde;o
material.<p>

	Enquanto a confraria manteve-se limitada &agrave; comunidade eminentemente
cient&iacute;fica, onde a ess&ecirc;ncia e a finalidade do conhecimento do novo
contexto, do seu consenso e da sua utilidade se confundiam, foi poss&iacute;vel
pela pr&oacute;pria similaridade (confundem-se tamb&eacute;m a ess&ecirc;ncia e
a raz&atilde;o de ser da &eacute;tica) estabelecer e principalmente manter um
conjunto de regras de conduta considerada como v&aacute;lidas. Neste momento -
tal conjunto atendia a um grupo ou comunidade determinada.<p>

	Em princ&iacute;pios da d&eacute;cada de 50 por&eacute;m, iniciou-se a
comercializa&ccedil;&atilde;o em escala industrial de equipamentos, tendo o
UNIVAC assumido a dianteira. Com a expans&atilde;o do alcance e do uso, com a
apari&ccedil;&atilde;o e crescimento do mercado, as filosofias envolvidas
necessariamente se elasteceram e a Moral envolvida sofreu tamb&eacute;m suas
primeiras deforma&ccedil;&otilde;es, por conta da elasticidade solicitada.<p>


<b>O ESP&Iacute;RITO A SERVI&Ccedil;O DO BEM, MAS DISPON&Iacute;VEL PARA O MAL</b><p>

<i>Se as teorias morais s&atilde;o pouco satisfat&oacute;rias, &eacute; porque
elas t&ecirc;m constantemente pervertido ou paralisado a a&ccedil;&atilde;o, a
qual pretendiam regular e assegurar</i> - Pradines.<p>

	Os espetaculares avan&ccedil;os tecnol&oacute;gicos contribu&iacute;ram para
que no metier de Processamento de Dados, as divis&otilde;es da &eacute;tica
material sofressem particulares press&otilde;es que obrigaram indiv&iacute;duo
a indiv&iacute;duo ou coletivamente, os ocupantes dessa esfera profissional a
estender ou ampliar (esticar ou espichar) as fun&ccedil;&otilde;es
dial&eacute;ticas da &eacute;tica dos bens (ou dos fins) e a &eacute;tica dos
valores de modo a atender exig&ecirc;ncias que passo a passo se superam.<p>

	E se as press&otilde;es evidenciadas pelos pr&oacute;prios pedidos do Sistema
Social ou Pol&iacute;ticos, somadas aos interesses pessoais ou coletivos em
jogo, for&ccedil;am e atingem com viol&ecirc;ncia a primeira e mais antiga das
divis&otilde;es da &eacute;tica material (a dos bens, ou fins) fazendo-a
depender de bens existentes, ou de fins ideias - objeto das
aspira&ccedil;&otilde;es dos Homens, seus efeitos sobre a &eacute;tica dos
valores, mais recente, cuja forma mais profunda e independente diz melhor a
respeito do Homem Contempor&acirc;neo que convive com a Inform&aacute;tica,
s&atilde;o assustadores.<p>

Segundo Durkheim, cada consci&ecirc;ncia v&ecirc; as regras morais sob uma luz
particular.<p>

	A partir de tal premissa, justifica-se todos os usos em fun&ccedil;&atilde;o
da substitui&ccedil;&atilde;o de conjuntos de regras, ou padr&otilde;es
coletivos por esquemas individuais de condu&ccedil;&atilde;o moral. &Eacute; a
evid&ecirc;ncia do constante e perene confronto entre os valores morais do
indiv&iacute;duo e seu interesse em sobrepujar e superar a sociedade que o
envolve.<p>

	Com a evolu&ccedil;&atilde;o dos costumes e a prolifera&ccedil;&atilde;o dos
meios e recursos da Computa&ccedil;&atilde;o, a concentra&ccedil;&atilde;o de
informa&ccedil;&otilde;es em instrumentos de armazenagem de grande capacidade
ocorre em todas as &aacute;reas da atividade humana. O acesso a tais arquivos,
manuseio e a utiliza&ccedil;&atilde;o de dados tratados possibilita a
realiza&ccedil;&atilde;o de empreendimentos antes impratic&aacute;veis, o que
representa para o Homem a elimina&ccedil;&atilde;o de limites, no tocante ao
uso do seu pr&oacute;prio conhecimento para construir o Bem.<p>
<p>
	Por&eacute;m, segundo Levy-Bruhl, n&atilde;o existe uma natureza humana
id&ecirc;ntica e harmoniosa qu comprove a exist&ecirc;ncia das metamorais, isto
&eacute;, morais te&oacute;ricas (tradicionais ou n&atilde;o) que anseiam por
conhecer e prescrever simultaneamente. E ent&atilde;o confundem ju&iacute;zos
de realidade com ju&iacute;zos de valor, fun&ccedil;&otilde;es te&oacute;ricas
com fun&ccedil;&otilde;es normativas. &Eacute; necess&aacute;rio escapar deste
vicioso c&iacute;rculo, abandonando o terreno das metamorais e ingressando na
&aacute;rea da ci&ecirc;ncia dos costumes e da sociologia da moral.<p>
<p>
	O privil&eacute;gio da manipula&ccedil;&atilde;o e do acesso (e &agrave;s
vezes nem isso), tal que o poder corrompe o mais renitente esp&iacute;rito, a
mais s&oacute;lida consci&ecirc;ncia. E o Esp&eacute;cime Moderno convenceu-se
de que &eacute; merecedor de uma verdadeira relativa, (maior, mais forte,
melhor) que se adeque &agrave; sua realidade.A no&ccedil;&atilde;o de que
pertence a uma Confraria, de seres que partilham de um conhecimento especial e
que por isso s&atilde;o especiais, leva o iniciado em Processamento de Dados a
substituir sua vis&atilde;o l&uacute;cida e normal por imagens bem particulares
de um mundo privado, cuja irrealidade progressivamente se adensa e se
fortalece. Utilizando os recursos computacionais, meteriais ou n&atilde;o, o
Homem envolvido estabelece em torno de si e dos seus poucos semelhantes a
altura (os outros iniciados) uma &aacute;urea de supervaloriza&ccedil;&atilde;o
e distanciamento profissional e junto com ele nasce, g&ecirc;mea do seu novo
sentido orientador - uma &eacute;tica pr&oacute;pria - que como qualquer outra
ser&aacute; seguida ou transgredida.<p>
<p>
	Assim &eacute; que haver&aacute; um Analista, que conscientemente
projetar&aacute; uma aplica&ccedil;&atilde;o, usando tal complexidade na sua
forma&ccedil;&atilde;o, que o seu conte&uacute;do estar&aacute; protegido do
f&aacute;cil entendimento.<p>
<p>
	Haver&aacute; um programador que incluir&aacute; em seu programa, rotinas
absolutamente in&uacute;teis, que pela sua complexidade impedir&atilde;o
qualquer esfor&ccedil;o de compreens&atilde;o e acesso, garantindo o
m&eacute;rito (?) da realiza&ccedil;&atilde;o, sem discuss&atilde;o ou risco.<p>
<p>
	Haver&aacute; um T&eacute;cnico (de qualquer n&iacute;vel) que
negociar&aacute; ou utilizar&aacute; em proveito pr&oacute;prio
informa&ccedil;&otilde;es confidenciais, extra&iacute;das do seu ambiente de
trabalho.<p>
<p>
	Haver&aacute; um empres&aacute;rio que manipular&aacute; os dados.<p>
<p>
	E finalmente haver&aacute; o uso e o abuso do util&iacute;ssimo mecanismo de
defesa contido na frase: "a culpa &eacute; do computador".<p>
<p>
	Em cada um desses casos, o indiv&iacute;duo ou a comunidade cria para si, de
modo elaborado ou intuitivo, escalas de valores e tabelas de refer&ecirc;ncia
que certamente justificar&atilde;o seus atos. E se contra fatos n&atilde;o
h&aacute; argumentos, com rela&ccedil;&atilde;o a a&ccedil;&otilde;es
intelectuais as discuss&otilde;es poder&atilde;o se alongar indefinidamente.<p>
<p>
	Assim constata-se que n&atilde;o h&aacute; moral vigente que n&atilde;o aspire
a ser absoluta, embora a moral em uso s&oacute; tenha vig&ecirc;ncia enquanto
se acreditenela de modo absoluto.<p>
<p>
<p>
<b>N&Atilde;O H&Aacute; MAL QUE SEMPRE DURE, NEM BEM QUE N&Atilde;O SE ACABE</b><p>
<p>
	De modo geral, a quest&atilde;o liga-se a outras de alcance mais amplo, que
p&otilde;e em d&uacute;vida a origem do vigor obrigat&oacute;rio das normas. A
fam&iacute;lia de orienta&ccedil;&otilde;es parte-se em duas
subfam&iacute;lias: a primeira procura a raz&atilde;o b&aacute;sica da
ordena&ccedil;&atilde;o em origens externas (fora do Homem - heter&ocirc;noma)
sem senso religioso, sua consci&ecirc;ncia de cidad&atilde;o ou seu respeito
&agrave; comunidade; a segunda admite a a&ccedil;&atilde;o ou o acontecimento
moral como aut&ocirc;nomo, se depender de nenhum comando coativo, uma vez que
se assim desse, n&atilde;o seria moral.<p>
<p>
	Apesar das correntes conciliadoras, que aceitam a autonomia do ato moral
criando uma n&iacute;tida distin&ccedil;&atilde;o do problema da origem da
regra moral, certos autores consideraam a &eacute;tica uma ci&ecirc;ncia
aut&ocirc;noma pura, uma vez que a sua abrang&ecirc;ncia, que &eacute; a dos
valores, constitui um dom&iacute;nio em si, em cuja ess&ecirc;ncia est&aacute;
assentada a sua for&ccedil;a obrigat&oacute;ria. Desse fato &eacute; que,
acredita-se surge o argumento que supera o confronto entre a heteronomia (de
comando vindo de fora, uma vontade estranha) e o comando vindo de dentro, a
vontade pr&oacute;pria.<p>
<p>
	Como foi antes ventilado, as a&ccedil;&otilde;es, procedimento, os
par&acirc;metros de comportamento individual ou coletivo ser&aacute; t&atilde;o
fiel &agrave;s regras da conduta correta quanto o instituam os valores do Homem
como indiv&iacute;duo ou como c&eacute;lula participante da comunidade.<p>
<p>
	Quanto maior o dom&iacute;nio de uma &aacute;rea atividades, tanto mais
f&aacute;cil ser&aacute; incorrer em procedimentos falhos, a&ccedil;&otilde;es
danosas ou comportamentos inadequados. E no campo de aplica&ccedil;&atilde;o de
Processamento de Dados, de vastos e amplos horizontes, tais riscos s&atilde;o
proporcionalmente ilimitados.<p>
<p>
	O ser humano tem &agrave; sua disposi&ccedil;&atilde;o, na enorme gama de
atividades relacionados &agrave; inform&aacute;tica, uma quantidade
incomensur&aacute;vel de alternativas para tirar proveito pr&oacute;prio em
detrimento do preju&iacute;zo que possa trazer ou causar para a comunidade que
utilize direta ou indiretamente os benef&iacute;cios e vantagens
concernentes.<p>
<p>
	A atitude integra, decente e consequente, na forma de uma premissa pessoal ou
coletiva na atividades correlatas a Processamento de Dados, necessariamente
ser&aacute; um reflexo de um processamento cultural que se adeque a nova
realidade que acompanha e caracteriza a Era da Cibern&eacute;tica e onde as
escalas de valores s&atilde;o inerentes a um pensamento din&acirc;mico e
coerente com o alcance do Processamento de Dados, onde os bens ou os fins
signifiquem mais que aspira&ccedil;&otilde;es atingidas ou a atingir.<p>
<p>
	S&oacute; um esfor&ccedil;o conjunto dos meios acad&ecirc;micos e
profissionais poder&aacute; instituir uma escala normativa de conceitos que
conven&ccedil;a e conscientize aqueles que lidam com toda a ampla rede de
alternativas, daquilo que &eacute; certo e daquilo que &eacute; errado. Uma
iniciativa que evidencie para o Ser Humano envolvido que o valor das suas
a&ccedil;&otilde;es e dos seus prop&oacute;sitos reverter&atilde;o muito mais
para si mesmo, que para os outros.<p>
<p>
	A transposi&ccedil;&otilde; de uma cultura externa para um modelo ideal de
comportamento/procedimento, associado a cada passo do aprendizado, far&aacute;
daquele que &eacute; portador de conhecimentos especiais, n&atilde;o um
convencido ou um prepotente que se sente especial, mas sim um portador de uma
no&ccedil;&atilde;o muito precisa de como viver o seu papel como elemento
isolado ou como participante, da melhor maneira, na sua vida profissiona.<p>
<p>
<hr size=5>

<b>BIBLIOGRAFIA</b><p>

LEVY-BRUHL, Lucien - <b>A Moral e a ci&ecirc;ncia dos costumes</b>, Paris, 1903, 300p.<p>

PRADINES, Maurice - <b>A &Eacute;TICA</b>, Viena, 1930, 256p.<p>

HORE, Richard - <b>A linguagem da moral</b>, Oxford, 1925, 180p.<p>

SANCHEZ VAZQUEZ, A. - <b>&Eacute;tica</b>, Ed. M&eacute;xico, 1969, 280p.<p>

</body>
