<title>Cartas</title>
<body>

<center>
<img src=mailbox.jpg>
<h1>Cartas</h1>
</center>

<HR SIZE=10>
<BR>

<B>
Editores do AE:<P>

Escrevo para dar meus parab&eacute;ns a respeito do Jornal Eletr&ocirc;nico (AE), fiquei realmente impressionado e muito feliz, vendo que nosso representante realmente evoluiu muito de algum tempo para c&aacute;. Continuem assim!<P>

Tenho algumas sugest&otilde;es para o AE, l&aacute; vai:
<UL>
  <LI> Colocar uma se&ccedil;&atilde;o de cartas (ou mails);
  <LI> Retirar a se&ccedil;&atilde;o de navega&ccedil;&atilde;o (ela j&aacute; vem no windows)
</UL>
Quanto ao Artigo <I>Se C++ &eacute; a resposta, qual &eacute; pergunta?</I> - Abinfo 0, gostaria de dizer que sou usu&aacute;rio do MS C++ rodando em Chicago e estou muito feliz com esta linguagem, n&atilde;o acreditando que um dia poder&aacute; ser substitu&iacute;da por outra, mas acho que o que ser&aacute; sempre melhorado s&atilde;o os ambientes de programa&ccedil;&atilde;o.<P>

Um grande abra&ccedil;o,

<UL>
   Alexandre Balestrin Correa<BR>
   Bacharel Inform&aacute;tica - PUC<BR>
   Elipse Software<BR>
   e-mail: elipse@inf.ufrgs.br<BR>
</UL> 
</B>

<P><P>

<I>
Alexandre,<P>

Obrigado pelos parab&eacute;ns. A diretoria tem consci&ecirc;ncia que a ABINFO-RS poderia estar melhor, mas estamos fazendo o que est&aacute; ao nosso alcance. N&oacute;s esperamos que este jornal sirva de meio de debate/divulga&ccedil;&atilde;o das id&eacute;ias dos associados sobre os diversos temas, tais como regulamenta&ccedil;&atilde;o/&eacute;tica/etc. <P>

Quanto &agrave;s tuas sugest&otilde;es, agradecemos muito. Sobre a se&ccedil;&atilde;o de cartas, n&oacute;s j&aacute; t&iacute;nhamos id&eacute;ia de fazer ela, o &uacute;nico motivo de ela n&atilde;o ter aparecido &eacute; que o jornal que saiu era a primeira edi&ccedil;&atilde;o. Esperamos que os associados mandem 
correspond&ecirc;ncias (podemos dizer que a sua carta ser&aacute; a primeira a ser publicada no nro. 01).<P> 

Al&eacute;m de uma se&ccedil;&atilde;o de cartas gen&eacute;ricas, n&oacute;s esperamos colocar uma se&ccedil;&atilde;o de correspond&ecirc;ncias/opini&otilde;es dos associados nos seguintes t&oacute;picos:

<UL>
  <LI>   regulamenta&ccedil;&atilde;o <br>
  <LI>  &eacute;tica
</UL>

Esperamos contar com as tuas id&eacute;ias e opini&otilde;es sobre os diversos assuntos.<P>

</I>

<HR SIZE=4>
<BR>
<B>
Ola colega :):):)<P>

Em primeiro lugar, quero parabenizar a Diretoria e os demais colegas da ABINFO-RS respons&aacute;veis pela concep&ccedil;&atilde;o do AE (Abinfo Eletr&ocirc;nico). Adorei a id&eacute;ia e estou divulgando a todos os interessados, pois aqui na UNISC (Universidade de Santa Cruz do Sul) o curso de Ci&ecirc;ncia da Computa&ccedil;&atilde;o foi h&aacute; pouco tempo implantado. A primeira turma est&aacute; no quarto semestre.<P>

 Bom, antes de receber o AE, eu j&aacute; estava preocupada que h&aacute; tempos n&atilde;o recebia mais nada da ABINFO-RS... Inclusive, a minha d&uacute;vida &eacute; em rela&ccedil;&atilde;o a contribui&ccedil;&atilde;o social, sobre a qual eu n&atilde;o recebi nenhuma informa&ccedil;&atilde;o a respeito do pagamento deste semestre. Gostaria que me enviassem a "cobran&ccedil;a"...<P>

 Coloco-me a sua disposi&ccedil;&atilde;o para qualquer contato com a UNISC que possa ser &uacute;til para a ABINFO-RS e para os demais colegas.<P>

 Agrade&ccedil;o desde j&aacute; pela aten&ccedil;&atilde;o.<P>

Priscila Alice Unfer<br>
Analista de Sistemas - UNISC<br>
e-mail priscila@unisc.br<br>
</B>
<P><P>
<I>
   Agradecemos os elogios relativos ao Abinfo Eletr&ocirc;nico. Em rela&ccedil;&atilde;o &agrave; demora no envio de not&iacute;cias da Associa&ccedil;&atilde;o, pedimos desculpas, &eacute; que est&aacute;vamos finalizando o jornal e decidimos n&atilde;o enviar correspond&ecirc;ncias antes do envio deste.<P>

Agradecemos sua preocupa&ccedil;&atilde;o relativa ao pagamento da semestralidade, pois &eacute; com ela que a Associa&ccedil;&atilde;o disp&otilde;e para sobreviver.
</I>

<HR SIZE=4>
<BR>

Bem pessoal, por esta edi&ccedil;&atilde;o &eacute; s&oacute;. Esperamos que na pr&oacute;xima tenhamos mais cartas a serem publicadas.

</body>
