<head>
<title>O Direito de Defesa da Sociedade Face A Informacao como Instrumento do Poder</title>
</head>

<body>

<center>
<h2>O Direito de Defesa da Sociedade Face &Agrave; Informa&ccedil;&atilde;o como Instrumento do Poder</b><p>
</center>

Por <b>Jos&eacute; de Tharso</b><p>

<i>Publicado originalmente no livro <b>&Eacute;tica em processamento de dados</b>,
da cole&ccedil;&atilde;o "Ensaios T&eacute;cnicos nro 1", pelo
SERPRO. Bras&iacute;lia, janeiro de 1981.</i><p>

<hr size=7>

<br>

A SOCIEDADE E O PODER<p>
<p>
A moderniza&ccedil;&atilde;o e a aspira&ccedil;&atilde;o de modernizar-se
s&atilde;o provavelmente as caracter&iacute;sticas mais marcantes e
disseminadas no cen&aacute;rio internacional.<p>
<p>
	E no grande fosso que separa as na&ccedil;&otilde;es modernas das que
l&aacute; querem chegar, a informa&ccedil;&atilde;o - sua coleta, registro,
tratamento e utiliza&ccedil;&atilde;o - &eacute; o caminho que as primeiras
bloqueiam e as demais buscam romper. E ap&oacute;s a Revolu&ccedil;&atilde;o
Industrial, vivemos a Revolu&ccedil;&atilde;o da Informa&ccedil;&atilde;o e
quem a dominar, ter&aacute; o Poder. Assim, todos os que somos conscientes de
uma parcela de responsabilidade social, por pequena que seja, nos acautelamos
para que George Orwell n&atilde;o venha a ser o profeta de nossa
robotiza&ccedil;&atilde;o.<p>
<p>
	Na eterna pol&ecirc;mica entre Seguran&ccedil;a Nacional e Direitos Humanos, o
processamento de dados e o tratamento da informa&ccedil;&atilde;o podem ser
usados, subjetivamente, para assegurar o primeiro, ignorando o segundo.<p>
<p>
	Como a soberania nacional &eacute; absoluta e n&atilde;o pode ser limitada sem
a vontade de seus membros, conceito que n&atilde;o perdeu a sua validade desde
que Rui Barbosa o pronunciou em Haia nos idos de 1907, &eacute; fundamental que
as atividades que s&atilde;o inerentes &agrave; &aacute;rea de
Inform&aacute;tica, assegurem a preval&ecirc;ncia dos Direitos Humanos e que de
tal respeito resulta uma efetiva Seguran&ccedil;a Nacional, antes mesmo que se
venha a regulamentar o que seja o profissional de processamento de dados e de
tratamento da informa&ccedil;&atilde;o, salvaquardando a Sociedade de grupos
inconsequentes, sejam eles de meros profissionais ou de solenes ocupantes de
postos administrativos.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo I<p>
<b>PRINC&Iacute;PIOS FUNDAMENTAIS</b><p>
</center>

Art. 1<p>
	Este conjunto de preceitos &eacute;ticos precede a
regulamenta&ccedil;&atilde;o legal do que seja o profissional de processamento
de dados e de tratamento da informa&ccedil;&atilde;o, no desejo e
prop&oacute;sito declarado de que o diploma que venha a dar corpo a uma classe
espec&iacute;fica de t&eacute;cnicos e cientistas altamente qualificados, se
abstenha de conferir poderes que, direta ou indiretamente, posam ferir o
direito inarred&aacute;vel e soberano da Sociedade se proteger face aos poderes
decorrentes da tecnologia da informa&ccedil;&atilde;o, pois somente a ela - a
Sociedade - cabe definir como tais tais poderes se exercer&atilde;o. Busca
prevenir, de igual modo, a possibilidade de tal grupo de profissionais vir a
ser constrangida com pr&aacute;ticas abusivas, ipostas sob o imp&eacute;rio da
pura e simples necessidade de sobreviv&ecirc;ncia individual em um mundo cada
vez mais competitivo.<p>
<p>
Art. 2<p>
	Consideram-se profissionais de processamento de dados e de tratamento da
informa&ccedil;&atilde;o, nesta fase de indefini&ccedil;&atilde;o legal, todas
as categorias profissionais que interagem no processo de tratamento da
informa&ccedil;&atilde;o por processos eletr&ocirc;nicos, desde o simples
levantamento de dados de campo, at&eacute; a sua apresenta&ccedil;&atilde;o sob
a forma de relat&oacute;rios, agregados ou n&atilde;o, culminando com o
armazenamento da informa&ccedil;&atilde;o e a sua difus&atilde;o, os quais, no
decurso deste trabalho ser&atilde;o simplesmente denominados PPD.<p>
<p>
Art. 3<p>
	As atividades de processamento de dados, em todas as suas fases, tem por
finalidade primeira a agiliza&ccedil;&atilde;o do processo administrativo, seja
no campo das id&eacute;ias, seja no dos atos e fatos gestoriais, dentro da
perspectiva human&iacute;stica de aperfei&ccedil;oamento da Sociedade, da
melhoria de seus padr&otilde;es de vida, sempre subordinados &agrave;
Declara&ccedil;&atilde;o Universal dos Direitos Humanos.<p>
<p>
Art. 4<p>
	A &Eacute;tica em Processamento de Dados, implicar&aacute; em preceitos a
serem observados pelos PPD, porquanto uma atividade e a consequ&ecirc;ncia do
desempenho dos profissionais que lhe d&atilde;o vida e ess&ecirc;ncia,
inexistindo atividade boa ou m&aacute;, mas sim, bons ou maus profissionais.<p>
<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo II<p>
<b>RESPONSABILIDADES GERAIS DOS PROFISSIONAIS EM PD E TI</b><p>
</center>

Art. 5<p>
	As responsabilidades inerentes &agrave;s atividades de processamento de dados
e tratamento da informa&ccedil;&atilde;o, s&atilde;o decorr&ecirc;ncia natural
das responsabilidades funcionais dos profissionais que estiverem interagindo no
processo, os quais responder&atilde;o civil e penalmente pelos atos
profissionais danosos a terceiros, pessoas f&iacute;sicas ou jur&iacute;dicas,
a quem tenham dado causa ou concorrido, por imper&iacute;cia,
imprud&ecirc;ncia, neglig&ecirc;ncia ou infra&ccedil;&otilde;es &eacute;ticas,
para situa&ccedil;&otilde;es desvantajosas.<p>
<p>
Art. 6<p>
	S&atilde;o pressupostos fundamentais da atividade dos PPD:<p>
a.	Obten&ccedil;&atilde;o da efici&ecirc;ncia m&aacute;xima em seus
servi&ccedil;os, segundo procedimentos t&eacute;cnicos compat&iacute;veis com
os meios e equipamentos dispon&iacute;veis;<p>
b.	N&atilde;o assumir servi&ccedil;os e encargos que estejam al&eacute;m da
capacidade t&eacute;cnica dos profissionais envolvidos ou do equipamento
dispon&iacute;vel;<p>
c.	Na presun&ccedil;&atilde;o de qualquer altera&ccedil;&atilde;o na
sequ&ecirc;ncia do processo, em qualquer de suas fases, &eacute; dever
primordial que o fato seja dado ao conhecimento de todos os t&eacute;cnicos
envolvidos no mesmo, segundo o respectivo n&iacute;vel de
participa&ccedil;&atilde;o e tal omiss&atilde;o isentar&aacute; o desinformado
em detrimento da agrava&ccedil;&atilde;o da responsabilidade do superior
t&eacute;cnico omisso.<p>
<p>
Art. 7<p>
	S&atilde;o deveres inerentes do PPD:<p>
a.	Exercer suas atividades com dignidade e consci&ecirc;ncia, observando as
normas prescritas neste C&oacute;digo e na legisla&ccedil;&atilde;o vigente;<p>
b.	S&oacute; utilizar-se de t&iacute;tulos que efetivamente possua;<p>
c.	S&oacute; atuar em &aacute;rea para qual esteja realmente habilitado;<p>
d.	Utilizar todos os conhecimentos t&eacute;cnicos ou cient&iacute;ficos seus
ou ao seu alcance, em benef&iacute;cio do seu trabalho.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo III <p>
<b>DO SIGILO NA ATIVIDADE</b><p>
</center>

Art. 8<p>
As atividades de processamento de dados e de tratamento da
informa&ccedil;&atilde;o s&atilde;o, por defini&ccedil;&atilde;o, sigilosas,
imperativo da &eacute;tica profissional, protegendo o cliente, pessoa
f&iacute;sica ou jur&iacute;dica, sob todos os aspectos.<p>
<p>
Art. 9<p>
	Somente o pr&oacute;prio cliente pode ter acesso &agrave;s
informa&ccedil;&otilde;es totais pertinentes ao servi&ccedil;o contratado e
mesmo entre os integrantes da equipe de trabalho, o tr&acirc;nsito de
informa&ccedil;&otilde;es deve ser restrito ao indispens&aacute;vel para a
opera&ccedil;&atilde;o do sistema.<p>
<p>
Art. 10<p>
	A privacidade das pessoas f&iacute;sicas &eacute; ponto b&aacute;sico dos
princ&iacute;pios &eacute;ticos e o superior t&eacute;cnico de equipe de
trabalho &eacute; o principal respons&aacute;vel pela ado&ccedil;&atilde;o das
medidas de prote&ccedil;&atilde;o pertinentes e, em caso de
viola&ccedil;&atilde;o do sigilo por um dos membros de sua equipe, sua
omiss&atilde;o ou mesmo demora em adotar as medidas de prote&ccedil;&atilde;o
ao cliente, incluindo-se aqui a sua imediata informa&ccedil;&atilde;o, o
qualifica como conivente.<p>
<p>
&amp; &uacute;nico<p>
	No caso das institui&ccedil;&otilde;es empregadoras que possuam esquemas de
seguran&ccedil;a industrial voltadas para a manuten&ccedil;&atilde;o do sigilo,
a responsabilidade do superior t&eacute;cnico da equipe de trabalho definida no
caput do Art. precedente n&atilde;o se reduz.<p>
<p>
Art. 11<p>
	A quebra de sigilo s&oacute; &eacute; admiss&iacute;vel quando se tratar de
cometimento de fato delituoso, previsto em Lei, ao qual o PPD esteja sendo
induzido a cometer, direta ou indiretamente, pelo cliente, preposto deste,
institui&ccedil;&atilde;o empregadora ou qualquer pessoa e deve ser dirigida,
formalmente, ao superior imediato, ao qual se transfere toda e qualquer
responsabilidade por consequ&ecirc;ncias futuras, imediatas ou remotas.<p>
<p>
&amp; &uacute;nico<p>
	A nenhum PPD &eacute; permitido deixar de comunicar formalmente qualquer
infra&ccedil;&atilde;o legal antes da sua consuma&ccedil;&atilde;o, pois se o
fizer depois, ser&aacute; conivente, dentro do princ&iacute;pio de que a
ignor&acirc;ncia do delito (ou de sua pr&aacute;tica) n&atilde;o anula o delito
em si, bem como n&atilde;o pode se recusar a receber den&uacute;ncia de tal
natureza, nem retardar o recebimento, implicando em falta id&ecirc;ntica
&agrave; acima.<p>


<hr size=5>
<br>

<center>
Cap&iacute;tulo IV<p>
<b>RESPONSABILIDADES COM AS INSTITUI&Ccedil;&Otilde;ES EMPREGADORAS</b><p>
</center>

Art. 12<p>
	O trabalho individual ou em equipe n&atilde;o reduz a responsabilidade de cada
um dos PPD pelos seus atos ou fun&ccedil;&otilde;es, dentro do que preceitua
este C&oacute;digo.<p>
<p>
Art. 13<p>
	Ao ingressar numa institui&ccedil;&atilde;o empregadora, estatal ou privada, o
profissional deve considerar a filosofia e os padr&otilde;es operacionais da
mesma, tornando-se interdito o contrato de trabalho, sempre que as normas e os
costumes ali vigentes, contrariem sua consci&ecirc;ncia profissional, bem como
os princ&iacute;pios e regras deste C&oacute;digo.<p>
<p>
Art. 14<p>
	&Eacute; vedado ao PPD desviar, para atendimento particular pr&oacute;prio,
com finalidade lucrativa, clientes que tenha atendido em virtude de sua
fun&ccedil;&atilde;o em institui&ccedil;&atilde;o empregadora especializada,
sem o seu pr&eacute;vio desligamento da mesma e da competente
comunica&ccedil;&atilde;o formal do cliente desta sua op&ccedil;&atilde;o.<p>
<p>
Art. 15<p>
	O PPD &agrave; conta de uma institui&ccedil;&atilde;o empregadora n&atilde;o
pode criticar a mesma junto a terceiros, inclusive junto a seus clientes, sendo
dever indeclin&aacute;vel, no caso de qualquer anormalidade, encaminhar suas
cr&iacute;ticas ao seu superior t&eacute;cnico imediato e, em caso de qualquer
retardamento de provid&ecirc;ncias  corretivas deste, ao superior
t&eacute;cnico subsequente, de modo a salvaguardar o interesse do cliente no
mais curto prazo de tempo dispon&iacute;vel.<p>
<p>
&amp; &uacute;nico<p>
	Sempre que entender conveniente, cabe ao PPD alertar formalmente a sua
institui&ccedil;&atilde;o empregadora de que n&atilde;o deve assumir
determinado servi&ccedil;o, em raz&atilde;o de restri&ccedil;&otilde;es
t&eacute;cnicas ou operacionais e a sua omiss&atilde;o ser&aacute; considerada
legalmente como contr&aacute;ria aos interesses de ambas as partes,
sujeitando-o &agrave;s a&ccedil;&otilde;es cab&iacute;veis, por
a&ccedil;&atilde;o isolada ou conjunta das partes.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo V<p>
<b>RESPONSABILIDADES PARA COM O CLIENTE</b><p>
</center>

Art. 16<p>
	Define-se como cliente a pessoa f&iacute;sica ou jur&iacute;dica a qual
ser&atilde;o prestados os servi&ccedil;os profissionais de processamento de
dados e tratamento de informa&ccedil;&otilde;es.<p>
<p>
Art. 17<p>
	O objetivo principal da atividade de processamento de dados e de tratamento da
informa&ccedil;&atilde;o &eacute; o cliente, em benef&iacute;cios do qual todos
os profissionais envolvidos na presta&ccedil;&atilde;o dos servi&ccedil;os,
devem agir com o m&aacute;ximo de zelo, a exata isen&ccedil;&atilde;o
profissional e o melhor de sua capacita&ccedil;&atilde;o t&eacute;cnica.<p>
<p>
Art. 18<p>
	O cliente tem o direito de conhecer todos os prop&oacute;sitos e objetivos dos
servi&ccedil;os que lhe ser&atilde;o prestados, bem como da possibilidade de
qualquer risco operacional para seus interesses pessoais ou empresariais, que
possam decidir conscientemente sobre a contrata&ccedil;&atilde;o ou n&atilde;o
da proposta que lhe ser&aacute; formulada.<p>
<p>
Art. 19<p>
	S&atilde;o deveres priorit&aacute;rios para com o cliente:<p>
<p>
a.	Ser informado de todas as fases do trabalho, dos respectivos cronogramas,
definindo-se bem as suas responsabilidades como contratante e os compromissos
dos prestadores dos servi&ccedil;os, refor&ccedil;ando o n&iacute;vel de
conhecimento de causa do cliente que mais adequadamente lhe instrumente a
decis&atilde;o de aceitar ou recusar o que lhe for proposto;<p>
<p>
b.	No caso dos trabalhos vierem a ser executados por uma equipe, o cliente deve
ser informado sobre a qualifica&ccedil;&atilde;o profissional dos demais
membros do grupo, seus pap&eacute;is e n&iacute;veis de responsabilidade;<p>
<p>
c.	No caso de substitui&ccedil;&atilde;o de profissionais, individualmente ou
dentro de uma equipe que j&aacute; esteja em servi&ccedil;o, cabe ao
substitu&iacute;do transmitir ao substituto todas as informa&ccedil;&otilde;es
pertinentes ao servi&ccedil;o, possibilitando o prosseguimento do mesmo, sem
solu&ccedil;&atilde;o da continuidade, do que ser&aacute; dado conhecimento
formal ao cliente, ao qual se reconhece o direito de aceitar o fato ou de
interromper o contrato, caso tal hip&oacute;tese n&atilde;o tenha sido
expressamente admitida no contrato original da presta&ccedil;&atilde;o de
servi&ccedil;o;<p>
<p>
d.	O cliente deve ser esclarecido formalmente quanto aos poss&iacute;veis
preju&iacute;zos decorrentes da altera&ccedil;&atilde;o ou
interrup&ccedil;&atilde;o dos fluxos previamente estabelecidos para os
servi&ccedil;os contratados, ficando o PPD isento de qualquer responsabilidade
no caso do cliente n&atilde;o adotar as medidas de corre&ccedil;&atilde;o ou
oferecer alternativas que possam ser colocadas em execu&ccedil;&atilde;o em
tempo h&aacute;bil;<p>
<p>
e.	Os PPD devem manter o relacionamento com o cliente no estrito limite das
conveni&ecirc;ncias profissionais, de acordo com os padr&otilde;es
&eacute;ticos deste C&oacute;digo.<p>
<p>
Art. 20<p>
	&Eacute; vedado ao PPD:<p>
<p>
a.	Sofisticar ou prolongar, desnecessariamente, o atendimento profissional
previsto e cab&iacute;vel, mesmo que isto n&atilde;o corresponda a nenhum
aumento nos pagamentos devidos por parte do cliente;<p>
<p>
b.	Pleitear do cliente comiss&otilde;es, doa&ccedil;&otilde;es ou qualquer
outro tipo de vantagem ou tratamento especial, n&atilde;o previsto no documento
contratual inicial ou em adendo ao mesmo;<p>
<p>
c.	Alterar ou interromper a assist&ecirc;ncia ao cliente, salvo por motivo
relevante e com a devida anu&ecirc;ncia do seu superior t&eacute;cnico
imediato, ao qual ser&atilde;o relatadas as raz&otilde;es de tal atitude;<p>
<p>
d.	Propor servi&ccedil;os sem o exato e detalhado conhecimento das reais
necessidades do cliente, ou mesmo valer-se de informa&ccedil;&otilde;es de
terceiros n&atilde;o credenciados formalmente pelo cliente, em qualquer das
fases dos servi&ccedil;os;<p>
<p>
e.	Executar qualquer servi&ccedil;o que seja proibido legalmente e em caso de
insist&ecirc;ncia por parte do cliente n&atilde;o levar o fato ao conhecimento
do seu superior t&eacute;cnico imediato o fato passa a ser considerado como
omiss&atilde;o culposa;<p>
<p>
f.	Manipular informa&ccedil;&otilde;es de modo a induzir o cliente a
decis&otilde;es erradass, o que se agrava quando tais decis&otilde;es
implicarem em prolongar desnecessariamente a presta&ccedil;&atilde;o dos
servi&ccedil;os inicialmente contratados ou ainda implicarem em contratar novos
servi&ccedil;os, igualmente desnecess&aacute;rios, com o mesmo prestador de
servi&ccedil;os ou com outro;<p>
<p>
g.	Tirar proveito pessoal ou favorecer tal a terceiros, em detrimento dos
interesses do cliente, pelo acesso e manuseio de informa&ccedil;&otilde;es,
mesmo que n&atilde;o diretamente relacionadas com os servi&ccedil;os
prestados;<p>
<p>
h.	Desviar, para empresa de sua propriedade ou onde tenha qualquer interesse,
cliente que tenha sido atendido em virtude de suas fun&ccedil;&otilde;es em
institui&ccedil;&atilde;o empregadora da qual tenha sido ou seja empregado.<p>
<p>
Art. 21<p>
	O PPD n&atilde;o &eacute; obrigado a assumir um servi&ccedil;o que lhe
contrarie a consci&ecirc;ncia &eacute;tica e n&atilde;o pode sofrer qualquer
repres&aacute;lia por tal decis&atilde;o, desde que formalize fundamentalmente
sua recusa, com base neste C&oacute;digo ou na legisla&ccedil;&atilde;o
vigente.<p>
<p>
&amp; &uacute;nico<p>
	De tal recusa, sempre caber&aacute; recurso judicial e se do mesmo resultar
prova inconteste e cabal de leviandade do PPD, o mesmo ter&aacute; cometido
falta &eacute;tica de suma gravidade.<p>
<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo VI<p>
<b>RELA&Ccedil;&Otilde;ES COM OS COLEGAS</b><p>
</center>

Art. 22<p>
	O PPD deve ter para com seus colegas a considera&ccedil;&atilde;o e o
apre&ccedil;o e a solidariedade que reflitam a harmonia da classe e lhe
aumentem o conceito p&uacute;blico e quando investido em fun&ccedil;&atilde;o
de dire&ccedil;&atilde;o ou chefia, sem alterar tal relacionamento, n&atilde;o
ser&aacute; l&iacute;cito deixar de exigir a fiel observ&acirc;ncia aos
preceitos &eacute;ticos contidos neste C&oacute;digo por todos os seus colegas
de profiss&atilde;o.<p>
<p>
&amp; 1<p>
	Tal preceito n&atilde;o pode, sob nenhuma hip&oacute;tese, servir como
justificativa para ato il&iacute;cito, mesmo que em coniv&ecirc;ncia por
simples omiss&atilde;o.<p>
<p>
&amp; 2<p>
	Todo PPD deve ter respeitado por seus colegas o seu poder decis&oacute;rio,
quanto &agrave; sua postura em decis&otilde;es individuais ou coletivas, sem
que lhe sejam aplicadas qualquer forma de repres&aacute;lia ou press&atilde;o
por discordar da maioria, baseado no princ&iacute;pio da livre
manifesta&ccedil;&atilde;o de opini&otilde;es e no livre exerc&iacute;cio de
atitudes.<p>
<p>
Art. 23<p>
	O PPD s&oacute; atender&aacute; cliente sob cuidados profissionais de outro
colega, de forma p&uacute;blica e not&oacute;ria, a pedido formal do
pr&oacute;prio cliente e com conhecimento do primeiro prestados de
servi&ccedil;os, exceto se o servi&ccedil;o houver sido interrompido ou em caso
de comprovada inefici&ecirc;ncia do mesmo, comprovada pericialmente.<p>
<p>
&amp; &uacute;nico<p>
	O desconhecimento da exist&ecirc;ncia de um prestador de servi&ccedil;os
j&aacute; em exerc&iacute;cio poder&aacute; ser alegado, mas cessar&aacute; no
momento em que o PPD inicialmente contratado, cientificar o novo PPD,
formalmente.<p>
<p>
Art. 24<p>
	&Eacute; vedado a presta&ccedil;&atilde;o de servi&ccedil;os paralelos pelos
PPD, a um cliente j&aacute; atendido por um colega, mesmo a t&iacute;tulo de
"colabora&ccedil;&atilde;o gratuita".<p>
<p>
Art. 25<p>
	A participa&ccedil;&atilde;o em atividade ilegal com outros colegas n&atilde;o
pode ser invocada como solidariedade, nem receber o benepl&aacute;cito de
ignor&acirc;ncia por for&ccedil;a de boa f&eacute;.<p>
<p>
Art. 26<p>
	Quando solicitado a cooperar com outro profissional seu colega no atendimento
a um cliente, deve considerar o citado sempre como aos cuidados do primeiro e o
seu apoio se dar&aacute; ao prestador de servi&ccedil;os inicial e n&atilde;o
ao cliente.<p>
<p>
Art. 27<p>
	Constitui grave falta &eacute;tica, procurar um PPD conseguir para si emprego,
cargo ou fun&ccedil;&atilde;o que esteja sendo exercida por colega, exceto em
recrutamento aberto, em disputa por meio de concurso de provas e
t&iacute;tulos, p&uacute;blico ou privado ou em reinvindica&ccedil;&atilde;o
apresentada formalmente ao empregador, justificada tecnicamente.<p>
<p>
Art. 28<p>
	A cr&iacute;tica a colega, se necess&aacute;ria e imprescind&iacute;vel,
dever&aacute; ser sempre objetiva, construtiva, comprov&aacute;vel e de inteira
responsabilidade de seu autor.<p>
<p>
&amp; &uacute;nico<p>
	Deve o PPD assumir sempre a responsabilidade de atos atos pr&oacute;prios,
constituindo pr&aacute;tica desonesta atribuir indevidamente seus malogros a
terceiros ou a circunst&acirc;ncias ocasionais, do mesmo modo que se apropriar
de sucessos alcan&ccedil;ados por colegas.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo VII<p>
<b>RELA&Ccedil;&Otilde;ES COM OUTROS PROFISSIONAIS</b><p>
</center>

Art. 29<p>
	O PPD procurar&aacute; manter bom relacionamento com outros profissionais de
outras &aacute;reas, empenhando-se em:<p>
<p>
a.	N&atilde;o extrapolar os limites de sua &aacute;rea de
atua&ccedil;&atilde;o;<p>
<p>
b.	N&atilde;o aceitar &aacute; invas&atilde;o de seu campo de trabalho, dentro
dos padr&otilde;es de urbanidade e cortesia;<p>
<p>
c.	Encaminhar aos demais campos de especializa&ccedil;&atilde;o profissional
qualificados para cada situa&ccedil;&atilde;o qua n&atilde;o se enquadre em sua
&aacute;rea de compet&ecirc;ncia;<p>
<p>
d.	Manter elevados os padr&otilde;es de sua conduta profissional e o conceito
de sua categoria.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo VIII<p>
RELA&Ccedil;&Otilde;ES COM ASSOCIA&Ccedil;&Otilde;ES DE CLASSE<p>
</center>

Art. 30<p>
	O PPD deve prestigiar as associa&ccedil;&otilde;es profissionais e
cient&iacute;ficas, que tenham por finalidade;<p>
<p>
a.	A defesa da dignidade e dos direitos profissionais;<p>
<p>
b.	A difus&atilde;o e o aprimoramento do processamento de dados e do tratamento
da informa&ccedil;&atilde;o, como ci&ecirc;ncia e como profiss&atilde;o;<p>
<p>
c.	A harmonia e a coes&atilde;o da categoria profissional.<p>
<p>
&amp; &uacute;nico<p>
	O PPD, em fun&ccedil;&atilde;o da grande responsabilidade que a Sociedade lhe
confia, deve se abster de participar em entidades que tenham atividades
centradas em sectarismo, de qualquer forma e sob qualquer pretexto e que,
igualmente tenham posturas preconceituosas ou mesmo se proponham a
manipula&ccedil;&atilde;o da Sociedade.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo IX<p>
RELA&Ccedil;&Otilde;ES COM A JUSTI&Ccedil;A<p>
</center>

Art. 31<p>
	O PPD, no exerc&iacute;cio legal de suas fun&ccedil;&otilde;es e dentro de
suas responsabilidades de t&eacute;cnico especializado, pode ser nomeado como
perito para esclarecer a Justi&ccedil;a em mat&eacute;ria de sua
compet&ecirc;ncia.<p>
<p>
&amp; &uacute;nico<p>
	Sempre que o PPD entender que a mat&eacute;ria sob seu exame escapa a sua
compet&ecirc;ncia, ou se sentir impedido por outras raz&otilde;es de ordem
pessoal, deve excusar-se de funcionar em per&iacute;cia, bem como de indicar um
prov&aacute;vel substituto, oferecendo a formal e devida
cientifica&ccedil;&atilde;o &agrave; autoridade competente no prazo mais curto
poss&iacute;vel.<p>
<p>
Art. 32<p>
	O servi&ccedil;o prestado &agrave; Justi&ccedil;a deve s&ecirc;-lo feito de
forma impessoal e imparcial, em que pese o envolvimento poss&iacute;vel de
colegas como partes na quest&atilde;o.<p>
<p>
Art. 33<p>
	Como perito, o PPD deve se limitar &agrave; exposi&ccedil;&atilde;o do que
tiver conhecimento atrav&eacute;s de exames e observa&ccedil;&otilde;es diretas
e de depoimentos fidedignos, n&atilde;o ultrapassando nos seus laudos a esfera
de suas atribui&ccedil;&otilde;es.<p>
<p>
Art. 34<p>
	&Eacute; vedado ao PPD:<p>
<p>
a.	Ser perito de cliente seu ou de sua empresa;<p>
<p>
b.	Funcionar em per&iacute;cia em que sejam parte parentes seus at&eacute;
segundo grau, ou afim, amigo ou inimigo;<p>
<p>
c.	Pleitear, por qualquer meio e sob qualquer pretexto, ser nomeado perito;<p>
<p>
d.	Mesmo que a condi&ccedil;&atilde;o de perito levante o interdito de sigilo,
lhe &eacute; expressamente vedado descer a detalhes t&eacute;cnicos que ponham
em risco a privacidade de quem quer que seja, informa&ccedil;&atilde;o que
s&oacute; poder&aacute; ser repassada a autoridade de que o designou para tal
cometimento.<p>
<p>
Art. 35<p>
	Sempre que for obstado no desempenho de suas fun&ccedil;&otilde;es como
perito, o PPD dever&aacute; levar o fato ao conhecimento imediato da autoridade
que o nomeou e aguardar a solu&ccedil;&atilde;o em absoluto recesso, sob pena
de ser tido como conivente por omiss&atilde;o.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo X<p>
<b>DOS INVENTOS, PUBLICA&Ccedil;&Otilde;ES DE TRABALHOS T&Eacute;CNICOS E CIENT&Iacute;FICOS</b><p>
</center>

Art. 36<p>
	Os inventos do PPD ocorridos na vig&ecirc;ncia de contrato de trabalho
ser&atilde;o tratados nos termos dos Artigos 40 a 43 da Lei n
5.772 de 21 de dezembro de 1971, que disp&otilde;e sobre o C&oacute;digo de
Propriedade Industrial.<p>
<p>
Art. 37<p>
	Aos PPD que estejam vinculados a institui&ccedil;&otilde;es empregadoras,
ser&aacute; assegurada a realiza&ccedil;&atilde;o de cursos de
aperfei&ccedil;oamento, de acordo com a pol&iacute;tica de desenvolvimento de
recursos humanos da mesma.<p>
<p>
Art. 38<p>
	Nas publica&ccedil;&otilde;es de trabalhos t&eacute;cnicos, dever&aacute; ser
observado pelos PPD:<p>
<p>
a.	O sigilo referente aos trabalhos executados para terceiros;<p>
<p>
b.	A propriedade dos sistemas, manuais e outros documentos elaborados por
for&ccedil;a de contrato de trabalho, e propriedade da
institui&ccedil;&atilde;o empregadora ou do cliente, salvo se isto estiver
ressalvado no respectivo contrato de trabalho original;<p>
<p>
c.	Em nenhuma hip&oacute;tese &eacute; v&aacute;lido levantar a privacidade do
cliente, pessoa f&iacute;sica ou jur&iacute;dica, mesmo na
cita&ccedil;&atilde;o de casos hist&oacute;ricos, quando qualquer
informa&ccedil;&atilde;o que leve a identifica&ccedil;&atilde;o do cliente ou
ex-cliente, ser&aacute; considerada infra&ccedil;&atilde;o &eacute;tica grave,
exceto se expressamente autorizado pelo cliente;<p>
<p>
d.	Citar as fontes consultadas, deixando bem claro seus autores.<p>
<p>
&amp; &uacute;nico<p>
	A publica&ccedil;&atilde;o de trabalhos t&eacute;cnicos ser&aacute; protegida
de uso por terceiros na forma da legisla&ccedil;&atilde;o pertinente, o
C&oacute;digo de Propriedade Industrial.<p>
<p>
Art. 39<p>
	Na publica&ccedil;&atilde;o de trabalhos cient&iacute;ficos, dever&aacute; ser
observado pelos PPD:<p>
<p>
a.	Citar as fontes consultadas, deixando bem claro seus autores;<p>
<p>
b.	Basear suas conclus&otilde;es em fatos concretos;<p>
<p>
c.	Mencionar as contribui&ccedil;&otilde;es de car&aacute;ter profissional
prestadas por assistentes e colaboradores;<p>
<p>
d.	Obter autoriza&ccedil;&atilde;o expressa do autor e a ele fazer
refer&ecirc;ncia, quando utilizar fontes particulares ainda n&atilde;o
publicadas;<p>
<p>
e.	Impedir que sejam entendidos como seus, trabalhos de outros autores;<p>
<p>
f.	As cr&iacute;ticas que, porventura venham a ser feitas a outros trabalhos,
devem se restringir a tratamento absolutamente impessoal;<p>
<p>
g.	Em se tratando de trabalho de mais de um autor, todos os participantes
dever&atilde;o ser citados no cr&eacute;dito do trabalho;<p>
<p>
h.	Em nenhum caso se admitir&aacute; a um PPD a utiliza&ccedil;&atilde;o de
posi&ccedil;&atilde;o hier&aacute;rquica funcional para a
utiliza&ccedil;&atilde;o e publica&ccedil;&atilde;o de trabalhos de
t&eacute;cnicos que lhe sejam subordinados.<p>
<p>
&amp; &uacute;nico<p>
	A divulga&ccedil;&atilde;o de trabalhos t&eacute;cnicos ou cient&iacute;ficos
que venham a ser considerados e reconhecidos comprovadamente como fraudulentos,
&eacute; falta &eacute;tica grave.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo XI<p>
<b>HONOR&Aacute;RIOS PROFISSIONAIS</b><p>
</center>
<p>
Art. 40<p>
	Por honor&aacute;rios profissionais ou sal&aacute;rios, entenda-se todo e
qualquer valor ou benef&iacute;cio que seja formalmente admitido entre as
partes como contrapartida pelos servi&ccedil;os prestados nas &aacute;reas de
processamento de dados e tratamento de informa&ccedil;&atilde;o, em qualquer de
seus est&aacute;gios, os quais devem ser fixados com dignidade.<p>
<p>
&amp; 1<p>
	N&atilde;o &eacute; l&iacute;cito a presta&ccedil;&atilde;o de servi&ccedil;os
por PPD sem que o mesmo seja remunerado;<p>
<p>
&amp; 2<p>
	N&atilde;o &eacute; l&iacute;cito receber comiss&otilde;es, vantagens ou
qualquer tipo de remunera&ccedil;&atilde;o que n&atilde;o correspondam a
servi&ccedil;os prestados efetiva ou licitamente e que n&atilde;o constem de
contrato previamente estabelecido entre as partes.<p>
<p>
Art. 41<p>
	&Eacute; l&iacute;cito ao PPD procurar haver judicialmente seus
honor&aacute;rios profissionais ou sal&aacute;rios, mas no decurso da lide,
deve manter inviol&aacute;vel os preceitos da &eacute;tica n&atilde;o quebrando
o sigilo profissional em nenhuma oportunidade, antes, durante e depois do
recurso e aguardando que o perito nomeado para o arbitramento proceda &agrave;s
verifica&ccedil;&otilde;es necess&aacute;rias.<p>
<p>
Art. 42<p>
	Ao PPD nomeado perito, &eacute; l&iacute;cito requerer arbitramento de
honor&aacute;rios profissionais pela autoridade competente, n&atilde;o lh sendo
permitido por&eacute;m, contratar pagamento com nenhuma das partes
interessadas.<p>

<hr size=5>
<br>

<center>
Cap&iacute;tulo XII<p>
<b>DISPOSI&Ccedil;&Otilde;ES GERAIS</b><p>
</center>
<p>

Art. 43<p>
	As infra&ccedil;&otilde;es a este C&oacute;digo de &Eacute;tica da Atividade
de Processamento de Dados e de Tratamento da Informa&ccedil;&atilde;o,
poder&atilde;o acarretar penalidades v&aacute;rias, desde a simples
advert&ecirc;ncia da ou pela institui&ccedil;&atilde;o empregadora as
associa&ccedil;&otilde;es de classe; at&eacute; o encaminhamento a
Justi&ccedil;a por iniciativa da parte prejudicada.<p>
<p>
&amp; &uacute;nico<p>
	Dada a inexist&ecirc;ncia de um org&atilde;o de fiscaliza&ccedil;&atilde;o do
exerc&iacute;cio de atividade profissional de PPD, por falta de
regulamenta&ccedil;&atilde;o profissional se reconhece a parte considerada
vencedora em causa transitada em julgado o dever de divulgar por qualquer meio
de comunica&ccedil;&atilde;o e &agrave;s suas expensas, o resultado do
julgamento, como forma de punir os infratores.<p>
<p>
Art. 44<p>
	Este C&oacute;digo obriga a todos os PPD e passa a fazer parte integrante dos
contratos de trabalho entre os mesmos, as empresas empregadores de tais
t&eacute;cnicos e os contratos de presta&ccedil;&atilde;o de servi&ccedil;os
com os clientes.<p>

<hr size=5>
<br>

<center>
<b>BIBLIOGRAFIA</b><p>
</center><p>

1. BARBOSA, Rui. <b>A confer&ecirc;ncia de Haia</b>. Discurso em Paris a 31 de
outubro de 1907. Rio de Janeiro, casa de Rui Barbosa, 1962, P.18.<p>
<p>
2. BJORK, Gordam C. <b>A empresa privada e o interesse p&uacute;blico</b>. Rio
de Janeiro, Zahar Editores, 1971, P. 302.<p>
<p>
3. CLOS, Max &amp; Yves. <b>A revanche dos dois vencidos</b>. Rio de Janeiro.
Forum Editora e Biblioteca do Ex&eacute;rcito Editora, 1972, P.296.<p>
4. COMBLIN, Joseph. <b>A ideologia da seguran&ccedil;a nacional</b>. Rio de
Janeiro, Editora Civiliza&ccedil;&atilde;o Brasileira SA, 1978, P.251.<p>
<p>
5. COSTA, Rubens Vaz da. <b>Ensaios de desenvolvimento e futurologia</b>.
Gr&aacute;fica Portinho Cavalcanti Ltda, 1973, P.42.<p>
<p>
6. DALE, Ernest &amp; MICHELON, L.C. <b>Ger&ecirc;ncia empresarial</b>. Rio de
Janeiro, Blcoh Editores SA, 1969, P.293.<p>
<p>
7. DRUCKER, Peter et all. <b>Forma&ccedil;&atilde;o de dirigentes</b>. Rio de
Janeiro, Editora Express&atilde;o e Cultura, 1971, P.406.<p>
<p>
8. EISENSTADT, S.N. <b>Moderniza&ccedil;&atilde;o: protesto e
mudan&ccedil;a</b>. Rio de Janeiro, Zahar Editores, 1969, P.224.<p>
<p>
9. MANAGEMENT CENTER DO BRASIL. <b>Modernas t&eacute;cnicas de planejamento e
controle de produ&ccedil;&atilde;o</b>. S&atilde;o Paulo, Centro Brasileiro de
Administra&ccedil;&atilde;o, 1965, P.468.<p>
<p>
10. MATTOS, Carlos Meira. <b>A geopol&iacute;tica e as proje&ccedil;&otilde;es
de poder</b>. Rio de Janeiro. Livraria Jos&eacute; Olympio Editora, 1977,
P.147.<p>
<p>
11. MESQUITA, Luciano. <b>A estrat&eacute;gia da sociedade
democr&aacute;tica</b>. Distrito Federal, Centro Gr&aacute;fico do Senado
Federal, 1975, P.34.<p>
<p>
12. PEIXOTO, Jo&atilde;o B. <b>O grande desafio</b>. Rio de Janeiro, Biblioteca
do Ex&eacute;rcito Editora, 1978, P.179.<p>
<p>
13. TOFFLER, Alvin. <b>Aprendendo para o futuro</b>. Rio de Janeiro. Editora
Artenova SA, 1977, P.407.<p>
<p>
14. TOFFLER, Alvin. <b>O choque do futuro</b>. Rio de Janeiro. Editora Artenova
SA, 1972, P.407.<p>
<p>
15. WIEGERINCK, J.A. <b>Rui Barbosa e soberania</b>. Separata de
"Confer&ecirc;ncias". Rio de Janeiro, casa de Rui Barbosa, 1958. P.19.<p>
<p>
<p>
Artigos de Peri&oacute;dicos.<p>
<p>
1. TELES, Jos&eacute; Dion de Melo. A inform&aacute;tica nacional e como a
sociedade poder&aacute; ser servida. <b>Gazeta Mercantil</b>. S&atilde;o Paulo,
5 Dez 1969.<p>
<p>
2. TELES, Jos&eacute; Dion de Melo. Processamento de dados, um instrumento que
pode ser menos caro. <b>O congressista</b> (Associa&ccedil;&atilde;o Paulista
de munic&iacute;pios), S&atilde;o Paulo, 22 Abr 1980.<p>
<p>
3. TELES, Jos&eacute; Dion de Melo. A responsabilidade social da
inform&aacute;tica. <b>Gazeta Mercantil</b>. S&atilde;o Paulo, 6 Dez 1979.<p>
<p>
4. TELES, Jos&eacute; Dion de Melo. A s&iacute;ndrome dos acomodados. <b>Jornal
do Brasil</b>, Rio de Janeiro, 10 Mar 1980.<p>
<p>
5. CONSELHO REGIONAL DE MEDICINA DO ESTADO DO RIO DE JANEIRO. C&oacute;digo de
&eacute;tica m&eacute;dica. Rio de Janeiro, 1979.<p>
<p>
6. CONSELHO FEDERAL DE PSICOLOGIA. C&oacute;digo de &eacute;tica profissional
dos psic&oacute;logos. Distrito Federal, 1979.<p>
<p>
7. BRASIL, LEIS, DECRETOS. Lei n 5.772, de 21 Dez 1971,
Cole&ccedil;&atilde;o das Leis, Volume VII. Departamento de Imprensa Nacional,
1972, P.190.<p>
<p>
8. BRASIL, LEIS, DECRETOS. Lei n 5.988, de 14 Dez 1973,
Cole&ccedil;&atilde;o das Leis, Volume VII. Departamento de Imprensa Nacional,
1974, P.115.<p>

</body>
