<title>Editorial</title>

<body>

<center>
<H1>Editorial</H2>
</center>

<HR SIZE = 10>
<p>
Caro Associado,<p>
<p>
Este &eacute; o novo formato do <B>Abinfo Eletr&ocirc;nico</B> (AE), que voc&ecirc; ver&aacute; tamb&eacute;m nas pr&oacute;ximas edi&ccedil;&otilde;es do AE. Estamos utilizando agora o formato HTML (<B>H</B>yper<B>T</B>ext <B>M</B>arkup <B>L</B>anguage), conhecido em sistemas de navega&ccedil;&atilde;o para o WWW, tal como o NETSCAPE, este ambiente que aparece em seu v&iacute;deo. Para maiores informa&ccedil;&otilde;es sobre o HTML e WWW, leia o artigo <A HREF="www.htm">Uma revolu&ccedil;&atilde;o chamada World Wide Web</A>, e, para quem quiser se aprofundar (e bastante) no assunto, sugerimos a leitura do <A HREF="faq.htm">FAQ</A> desta edi&ccedil;&atilde;o. Esperamos sua <A HREF="sugestao.htm">sugest&atilde;o</A> sobre este novo formato do nosso jornal.<p>
<p>
No m&ecirc;s de abril lan&ccedil;&aacute;vamos o n&uacute;mero 0 - experimental - do AE. Dentro do que esper&aacute;vamos, foi um sucesso. Causou o impacto esperado, ao menos para as pessoas que nos procuravam pessoalmente para parabenizar o lan&ccedil;amento.
Diante dessa boa recep&ccedil;&atilde;o, resolvemos ir al&eacute;m e colocar o jornal num formato de mais f&aacute;cil edi&ccedil;&atilde;o e que pudesse atender diversas plataformas de software e hardware. Por isso estamos agora no n&uacute;mero 1 do AE, e pretendemos que 
assim continue, evoluindo sempre, seguindo nossa meta de qualificar o profissional em Inform&aacute;tica.<p>
<p>
Nesta edi&ccedil;&atilde;o, podemos destacar o impasse surgido pela aus&ecirc;ncia de uma
chapa sequer para candidatar-se &agrave; diretoria da ABINFO-RS. Como o estatuto pro&iacute;be a reelei&ccedil;&atilde;o da atual diretoria, estamos com um problema: <i> nossa Associa&ccedil;&atilde;o corre o risco de parar </i> at&eacute; que algu&eacute;m se
mobilize para comand&aacute;-la. Infelizmente a diretoria atual fez o que p&ocirc;de para chamar a aten&ccedil;&atilde;o a esse problema. Agora &eacute; a sua vez de fazer
algo pela ABINFO. A data de inscri&ccedil;&atilde;o das chapas foi prorrogada, leia 
o item <A HREF="eleicoes.htm">Elei&ccedil;&otilde;es</A>.<p>
<p>
Ressaltamos, ainda, os novos acontecimentos acerca da problem&aacute;tica da
regulamenta&ccedil;&atilde;o da profiss&atilde;o, com o ingresso na justi&ccedil;a de uma analista de sistema contra o CFA. Para maiores detalhes, leia <A HREF="procrep.htm">Novo Cap&iacute;tulo sobre a Regulamenta&ccedil;&atilde;o</A>.<p>
<p>
Esperamos, por fim, que voc&ecirc; tenha uma boa leitura, atualizando-se e, ao mesmo tempo, parando para pensar em sua situa&ccedil;&atilde;o profissional. N&oacute;s estamos aqui para auxili&aacute;-lo em tudo isso. At&eacute; o pr&oacute;ximo!

</body>

   