<title>EDUPAGE</Title>


<CENTER>
<IMG SRC=edupage.jpg>
<H1>EDUPAGE</H1>
</CENTER>

<B>EDUPAGE</B> &eacute; um boletim tri-semanal de not&iacute;cias sobre tecnologia da informa&ccedil;&atilde;o e &eacute; um servi&ccedil;o oferecido pela <B>EDUCOM</B> - um cons&oacute;rcio formado por importantes faculdades e universidades, que buscam transformar a educa&ccedil;&atilde;o atrav&eacute;s do uso da tecnologia da informa&ccedil;&atilde;o. A tradu&ccedil;&atilde;o e distribui&ccedil;&atilde;o deste boletim em portugu&ecirc;s s&atilde;o servi&ccedil;os prestados pela <B>RNP</B>, um projeto do <B>CNPq</B>.<P>

<B>EDUCOM</B> - <I>Transformando a Educa&ccedil;&atilde;o Atrav&eacute;s da Tecnologia da Informa&ccedil;&atilde;o</I><P>

<HR size=6>
<P>
&Iacute;ndice de not&iacute;cias presentes nos boletins distribu&iacute;dos pelo <B>CNPq</B> nos meses de Maio, Junho e Julho de 1995.

<Ul>
   <A HREF=110595.htm>Dia 11 de Maio de 1995</A>
   <UL>
      Novo Superintendente da Prodigy Era da MTV<br>
      California Podera' Abrir Mercados Telefonicos Locais<br>
      Sony Recruta Aliados na Guerra do Video Disco<br>
      Bell Atlantic Quer Adiar Sistema de Video<br>
      Pergunte ao Programa<br>
      Efeitos do Atentado em Oklahoma<br>
      Deutsche Telekom Ataca Projeto de Desregulamentacao<br>
      HP Anuncia Defeito em Chip em Alguns Sistemas<br>
      Consumidores Dispostos a Gastarem Mais em PCs<br>
      Uso Indevido da Internet no Ambiente de Trabalho<br>
      Repositorio Multimidia<br>
      Modem para Conferencia de Mesa<br>
      Novo CD Promove Via Expressa de Informacoes<br>
      Dois Novos Chips Pentium<br>
      Registros de Candidatos a Empregos no Canada'<br>
      Uso Radical da Internet<P>
   </UL>
   <A HREF=110595b.htm>Dia 11 de Maio de 1995, segunda parte</A>
   <UL>
      Empresas Bell Podem Oferecer Servicos de Longa Distancia Sem Fio<br>
      Presos Executivos Finlandeses por Pirataria de Software<br>
      Oportunidade para Banqueiros<br>
      Big Blue Estacionada nos Grandes Sistemas<br>
      Sera' que Da' Tempo de Ligar para a Urgencia?<br>
      Criticas ao Espaco Cibernetico<br>
      Distribuicao de Software pelo Telefone<br>
      Investimentos em Tecnologia de Educacao<br>
      Jones Planeja "Faculdade de Economia no Espaco Cibernetico"<br>
      Decisao sobre Video da Bell Atlantic Depende de Tecnologia<br>
      Selo de Aprovacao da PBS<br>
      SNET Planeja Servico de TV Interativa<br>
      Microsoft Aumentara' o Suporte para o Windows 95<br>
      Tecnologia de Foguetes para Leigos<P>
   </UL>
   <A HREF=110595c.htm>Dia 11 de Maio de 1995, terceira parte</A>
   <UL>
      Juiz Greene Da' o Sinal Verde para Acordo Sobre Celulares de Longa Distancia<BR>
      Virando Mais uma Pagina na Simon & Schuster<BR>
      CD-ROMs Regravaveis<BR>
      Revista Conde Nast Traveler Ganha uma Pagina na Teia<BR>
      Novo Chip da Silicon Graphics<BR>
      Cartoes na Internet<BR>
      Telecommuters Sao Mais Produtivos<BR>
      Radio Internet<BR>
      Novas Leis Canadenses para Limitar a Internet<BR>
      Sistema para Conter Fraudes de Telefones<BR>
      Processo por Pornografia Infantil via Internet<BR>
      Editores de CD-ROMs Iniciam Batalha na Teia<BR>
      Passeio Gratis na Via Expressa de Informacoes<BR>
      Parceria de Computadores e Bibliotecas<P>
   </UL>
   <A HREF=150595.htm>Dia 15 de Maio de 1995</A>
   <UL>
      TCI Oferecera' Acesso On-Line<BR>
      Setor de Computadores Precisa de Padrao para Videodisco<BR>
      Criar Legislacoes para Controlar Nivel de Decencia Nao e' a Solucao<BR>
      Projeto de Monitores Planos Vao por Agua Abaixo<BR>
      Assinatura Digital Ganha Legitimidade<BR>
      Oracle Entra em mais um Negocio Interativo<BR>
      Renascimento do Commodore<BR>
      Mbone Cobrira' Conferencia Ao Vivo<BR>
      Financiamento para Transmissoes Publicas<BR>
      Microsoft Esta' Ampliando os Servicos de Suporte a Usuarios<BR>
      IBM e NCR Saem Vitoriosos em Julgamento da RSI<BR>
      Publicacoes Academicas On-Line<BR>
      Servicos de Comunicacoes Enviados por Satelites<BR>
      Obrigatoriedade de Computadores no Campus Gera Polemica<BR>
      Entrega de Documentos da Xerox<BR>
      CNN na CompuServe<BR>
      Mais Software na Rede<P>
   </UL>
   <A HREF=160595.htm>Dia 16 de Maio de 1995</A>
   <UL>
      Projeto de Lei Sobre Telecomunicacoes<BR>
      Autorizado o Bloqueio das Identificacoes de Telefones<BR>
      AT&T e Intel Oferecerao Servicos Interativos<BR>
      Dilema de Precos na Internet<BR>
      HP e AMD Estao Projetando Computadores de Mao<BR>
      Nintendo Adia Lancamento de sua Nova Maquina de 64 Bits<BR>
      Modems para Sistemas de Cabo Dao Acesso `a Via Expressa<BR>
      Pesquisa On-Line, Compras Off-Line<BR>
      Windows 95 Sera' Lancado Dia 24 de Agosto<BR>
      Audiencias Sobre Regulamentacao no Canada'<BR>
      Servicos de Transmissao Direta por Satelite<BR>
      Criador do SATAN foi Contratado pela Sun<BR>
      Pirataria de Software<BR>
      Programa Traca Evolucao Social<P>
   </UL>
   <A HREF=170595.htm>Dia 17 de Maio de 1995</A>
   <UL>
      Cibercash No Exterior<BR>
      Empresas de TV a Cabo se Dedicam `a Transmissao de Dados<BR>
      IBM Comprara' Unidade de Manutencao de Computadores da GE<BR>
      New York Times Se Une `a Century Network<BR>
      Intel Investe na WavePhore<BR>
      Compaq Esta' de Olho no Setor de Mainframes<BR>
      Novos ThinkPad da IBM<BR>
      Conhecimentos dos Vendedores de Lojas de Computadores<BR>
      Sistema Operacional "Coplan" da Apple<BR>
      AT&T Pressiona Japao<BR>
      Criticas Favoraveis ao CD-ROM "A Passion for Art"<BR>
      Editoracao Feita em Qualquer Lugar, a Qualquer Hora e Por Qualquer Pessoa<BR>
      Alunos Processam Faculdade por Causa de Curso de Informatica<P>
   </UL>
   <A HREF=180595.htm>Dia 18 de Maio de 1995</A>
   <UL>
      Publicacoes<BR>
      Anuncios de Empregos<BR>
      On-line<BR>
      Premios<BR>
      Novo Chefe de Informacoes<BR>
      Correcao<BR>
      Calendarios de Eventos<BR>
      EDUCOM 95 e no Futuro<P>
   </UL>
   <A HREF=220595.htm>Dia 22 de Maio de 1995</A>
   <UL>
      Falar Livremente na Internet? Ou Gritar "FOGO!" em uma Sala Lotada?<BR>
      Aviso da FCC aos Estados<BR>
      Pequenas Empresas Norte-Americanas Ainda Nao Entraram Totalmente na Era da Informacao<BR>
      Desfazendo os Grampos Eletronicos<BR>
      Bibliotecarios Planejam Biblioteca Virtual<BR>
      Servico Telefonico da Time Warner<BR>
      Mais Mulheres na Rede<BR>
      Murdoch Pretende Firmar sua Presenca na TV Italiana<BR>
      France Telecom Quer Privatizacao<BR>
      Sony Joga Duro ao Fixar Precos de Video-Games<BR>
      Utilitario Eletrico Podera' Controlar Telefone e TV<BR>
      Thriller em CD-ROM<BR>
      TV a Cabo Nao e' Mais a Mesma Coisa<BR>
      Tres Digitadores Nova-Iorquinos Acusados de Fraude<P>
   </UL>
   <A HREF=230595.htm>Dia 23 de Maio de 1995</A>
   <UL>
      AT&T e Time Warner Juntam-se para Oferecer Servicos Telefonicos<BR>
      Subsidios para a C-SPAN<BR>
      Faculdades Virtuais Oferecem Ensino On-Line<BR>
      O Que Ha' em um Nome?<BR>
      Pecas Usadas Citadas em Processo Legal<BR>
      Microsoft Une-se `a NBC para Criar Negocios na Rede<BR>
      Pesquisa de Mercado On-Line<BR>
      Canais da Discovery Vao para a Teia<BR>
      Turner Fecha Negocio de Cabos com a India<BR>
      Taiwan Sera' Lider na Producao de Chips<BR>
      Educadores Canadenses Buscam Acordo na Internet<BR>
      Centesima Sexagesima Formatura da Wheaton na Teia<BR>
      Duzentos Canais ja' e' Demais<BR>
      E Agora, um Homem que Dispensa Maiores Apresentacoes<BR>
      Casa Branca Atrai Milhoes de Turistas Ciberneticos<P>
   </UL>
   <A HREF=290595.htm>Dia 29 de Maio de 1995</A>
   <UL>
      Publicacoes<BR>
      On-line<BR>
      Multimidia<BR>
      Educacao Cientifica<BR>
      Pesquisa<BR>
      Anuncio de Emprego<BR>
      Calendario de Eventos<BR>
      EDUCOM 95 e no Futuro<P>
   </UL>
   <A HREF=290595b.htm>Dia 29 de Maio de 1995, segunda parte</A>
   <UL>
      Governador de Washington Veta Projeto de Lei de "Decencia" Eletronica<BR>
      Qual o Preco da BellCore?<BR>
      Alerta Sobre Hot Java<BR>
      Onda de Crimes de Alta Tecnologia<BR>
      Bibliotecarios de Olho no Futuro Digital<BR>
      America Online Vai Comprar Produtores de Software<BR>
      AT&T e Apple Se Unem em Alianca de Video-Conferencia<BR>
      MGM Anuncia Divisao Multimidia<BR>
      Rede de Compras Domesticas<BR>
      MCI Entra no Mercado Celular<BR>
      British Telecom de Olho na Europa<BR>
      Studio Multimidia da Apple Para a EMI<BR>
      Etica em Informatica<P>
   </UL>
   <A HREF=300595.htm>Dia 30 de Maio de 1995</A>
   <UL>
      Microsoft Abandonou Sua Busca pela Intuit<BR>
      BellSouth Reduz Sua Forca de Trabalho<BR>
      Programacao Nova na Internet<BR>
      Pirataria de Software Ainda Preocupa<BR>
      Dificultando a Pirataria<BR>
      Apple Quer uma Fatia Maior do Bolo Global<BR>
      Downloads Pornograficos<BR>
      O Que Ha' na Wired?<BR>
      Politica Publica<BR>
      Opiniao da Intel Sobre Video-Conferencia<BR>
      Convergencia Recebe Sinal Verde<BR>
      Estrategia Italiana da Bell Atlantic<BR>
      Guerra no Mercado de Entretenimento<BR>
      Thomsom Tem a Informacao como Objetivo Principal<BR>
      IBM Corta Pagamento de Secretaria<P>
   </UL>
   <A HREF=020695.htm>Dia 02 de Junho de 1995</A>
   <UL>
      Batalha Sobre Parodia na Web<BR>
      Leis Sobre Difamacao Classificam a Prodigy como Editora<BR>
      Odio e Obscenidades na Internet<BR>
      Experiencias Proximas da Morte nas Redes Neurais<BR>
      Oferta de Investimento em Empresa Belga de Comunicacoes<BR>
      Companhia Telefonica Processada por Atividade Criminosa<BR>
      Extensao Mental Torna-se Global<BR>
      Combinacao de Telefone, Fax e Copiadora para Uso Domestico<BR>
      NEC e AT&T Unem-se para Produzir Chips Minusculos<BR>
      Estacao Terrestre do Tamanho de um LapTop<BR>
      Pratos Inuteis<BR>
      Proxima Edicao do Educom Review<P>
   </UL>
   <A HREF=020695b.htm>Dia 02 de Junho de 1995, segunda parte</A>
   <UL>
      Planos de Leiloes de Canais de Transmissao Podem Ser Acelerados<BR>
      Citybank Reduz Tarifas de Transacoes Eletronicas<BR>
      Newsweek Lanca Revista Sobre Cultura Cibernetica<BR>
      Objecoes Contra os Planos da Sprint para a Europa<BR>
      Bell Atlantic Opta pela Tecnologia Comutada de Video<BR>
      Nova Onda em Tecnologia de Compressao<BR>
      Telas de Cristal Liquido Mais Brilhantes<BR>
      Programa da NBC Sobre Bill Gates<BR>
      Bloomberg Afirma que NTT e' Desleal<BR>
      Software para Fax Super Rapido<BR>
      Pagamento de Royalties por Trabalhos Vendidos na Rede<BR>
      Predominancia do Ingles na Via Expressa de Informacoes<BR>
      Servidor IBM com Dupla Tarefa<BR>
      Roubo Eletronico de Segredos Comerciais<BR>
      Virus Terrivel `a Solta<P>
   </UL>
   <A HREF=070695.htm>Dia 07 de Junho de 1995</A>
   <UL>
      Dobre Sua RAM<BR>
      Quem Esta' Ganhando Dinheiro na Internet?<BR>
      Apple Quer Faixa de Transmissao<BR>
      Compuserve Agressiva na Europa<BR>
      Chips Mais Rapidos para Notebooks<BR>
      US West Adia Planos de Construcao de Rede<BR>
      Baixa Porcentagem de Erro nas Declaracoes Eletronicas de Renda<BR>
      Organizacao de Pesquisas Defende o Fim da FCC<BR>
      Pot-Pourri On-Line<BR>
      Seguranca na Internet -- Contradicao ou Fato?<BR>
      Crimes Informatas Avancam pelo Mundo<BR>
      Utilizacao Civil do Sistema Global de Localizacao<BR>
      Hipertexto e Espaguete<P>
   </UL>
   <A HREF=090695.htm>Dia 09 de Junho de 1995</A>
   <UL>
      Edupage Ganha Versao em Frances<BR>
      America Online Pretende Lancar Servico Exclusivo de Acesso `a Internet<BR>
      Vocaltec Atualizou o Software Telefonico da Internet<BR>
      Orgao de Patentes Propoe Novas Regras para Softwares<BR>
      Incorporar ou Nao Incorporar a Microsoft Network?<BR>
      Microsoft Devera' Testar Software para Campus Virtual<BR>
      Fraude Eletronica Global<BR>
      Sprint Processa Empresas Telefonicas<BR>
      Atores Contra Satelites<BR>
      Hipertexto Sim, Literatura Nao<BR>
      A Multimidia e' uma Area Totalmente Diferente<P>
   </UL>
   <A HREF=130695.htm>Dia 13 de Junho de 1995</A>
   <UL>
      Premios<BR>
      Novidades na Teia<BR>
      Publicacoes<BR>
      Anuncios de Empregos<BR>
      Parcerias<BR>
      Calendario de Eventos<BR>
      EDUCOM 95 e no Futuro<P>
   </UL>
   <A HREF=130695b.htm>Dia 13 de Junho de 1995, segunda parte</A>
   <UL>
      Noticia Triste para a Lotus?<BR>
      Mundo Virtual para Criancas Doentes<BR>
      Mais Patentes, Mais Advogados?<BR>
      Taligent Lanca Software para Montagem de Aplicativos<BR>
      Shoppings Ciberneticos Estao `A Mingua<BR>
      Tecnologia CDMA Recebeu Sinal de Aprovacao<BR>
      AT&T Pretende Lancar Novos Servicos para Consumidores<BR>
      Reformas nas Telecomunicacoes<BR>
      Vendas do Netscape<P>
   </UL>
   <A HREF=190695.htm>Dia 19 de Junho de 1995</A>
   <UL>
      Interactive Network Desativada<BR>
      O Futuro de Algumas Empresas<BR>
      Comunicacoes Entre IBM e Lotus<BR>
      Violacoes de Direitos Autorais<BR>
      Vale do Silicio Preocupa-se com a Reforma nas Leis de Imigracao<BR>
      Veteranos da Internet Fogem da Usenet<BR>
      Pros e Contras do Dinheiro Eletronico<BR>
      Musica na America Online<BR>
      Desnecessidade Documentada<P>
   </UL>
   <A HREF=190695b.htm>Dia 19 de Junho de 1995, segunda parte</A>
   <UL>
      IBM e Lotus Vao Mudar<BR>
      Departamento de Justica Norte-Americano Nao se Cansa da Microsoft<BR>
      Faculdades Estudam a Utilizacao de Conexoes Externas com a Internet<BR>
      Sim para os Precos da Bell Atlantic, Nao para os Planos da US West<BR>
      Faca Voce Mesmo os Cortes no Orcamento do Governo<BR>
      Pobres de Informacoes sao Pobres de Cultura<BR>
      Intel e Oracle se Unem para Fornecer Video Interativo em PCs<BR>
      Empresas Clamam por Novo Pentium<BR>
      Custos de Hardware Continuam em Queda Livre<BR>
      "Interrompemos Seu Jantar para Dar-lhe um Premio!"<BR>
      Mas o Que Significa Isso? -- Uma Pesquisa do Edupage<P>
   </UL>
   <A HREF=030795.htm>Dia 03 de Julho de 1995</A>
   <UL>
      IBM Dara' Suporte ao OS do Mac "Se os Clientes Quiserem"<BR>
      Editores Encaram a Teia com Cautela<BR>
      Com Medo da Internet<BR>
      Diminuindo o Nivel da Rede<BR>
      Receita para Cuidar de PCs<BR>
      Europeus Nao se Empolgam com a TV Interativa<BR>
      Ministro Alemao a Favor do Futuro<BR>
      Educacao no Lar Lidera as Vendas de Softwares<BR>
      On-Line da Alamo<BR>
      Rede Gratuita em Montreal<BR>
      Reuniao dos Sete Mais Ricos<BR>
      Microsoft e Softbank Pretendem Desenvolver Jogos<BR>
      Parlamento na Internet<BR>
      A Bola de Cristal de Eckhard Pfeiffer<P>
   </UL>
   <A HREF=040795.htm>Dia 04 de Julho de 1995</A>
   <UL>
      Gingrich e' Contra o Projeto de Lei Sobre Obscenidade na Rede<BR>
      Numeros Confiaveis na Teia<BR>
      Cientistas Lideram as Publicacoes Eletronicas<BR>
      Projeto de Lei Atinge Gastos do Governo com Tecnologia<BR>
      Computador Flexivel<BR>
      Departamento de Justica de Olho da Rede da Microsoft<BR>
      Cidade de Bits<BR>
      Microsoft Nao Dara' Informacoes Sobre Clientes<BR>
      Jornais Enfrentam Concorrencia Acirrada dos Classificados OnLine<BR>
      Correios Utilizam Criptografia<BR>
      Pesquisa Sobre Usuarios da WWW<BR>
      Retirada Acusacao Sobre Caso de Sexo e Sadismo Contra Estudante<P>
   </UL>
   <A HREF=040795b.htm>Dia 04 de Julho de 1995, segunda parte</A>
   <UL>
      Dando Credito `a Internet<BR>
      Packard Bell Promete Honestidade Total<BR>
      Beijing Pretende "Gerenciar" a Internet<BR>
      Connecticut Sera' o Proximo Campo de Batalha Entre Empresas de TV a Cabo e 		  					Telefones<BR>
      Agentes Anti-Truste de Olho na Alta Tecnologia<BR>
      Empregos `a Vontade e Falta de Mao de Obra<BR>
      Nao Subestime o Telefone<BR>
      Estrategia de Ciencia & Tecnologia do Canada' foi Adiada<BR>
      Jogos `a Distancia<BR>
      FCC Podera' Eliminar as Preferencias das Minorias nos Leiloes<BR>
      MTV Codifica Seu Sinal na Europa<BR>
      Felizes na Rede<P>
   </UL>
   <A HREF=110795.htm>Dia 11 de Julho de 1995</A>
   <UL>
      Microsoft Alega Estar Sendo "Importunada" pelo Departamento de Justica<BR>
      Britannica On-Line com a Time<BR>
      Tribunal Superior Revera' Sentenca Sobre Programacao de Video<BR>
      Punicao Severa por Crimes de Alta Tecnologia<BR>
      Compaq e Intel Pedem uma Tregua<BR>
      Saia da Frente, Bob<BR>
      Digital, Sim. Interativa, Talvez.<BR>
      Larry Ellison Luta Contra Burocracia<BR>
      Mensagens Eletronicas Aceitas Como Prova de Discriminacao Sexual<BR>
      Gra-Bretanha Dividida em Relacao ao Canal Pornografico Sueco<P>
   </UL>
   <A HREF=110795b.htm>Dia 11 de Julho de 1995, segunda parte</A>
   <UL>
   	Cortes Severos nos Recursos da NTIA<BR>
   	Interior Conectado<BR>
   	Talvez Seja o Dever de Casa<BR>
   	Codigo de Censura da Australia para a Internet<BR>
   	Comercio Varejista Demora a Entrar nos Negocios On-Line<BR>
   	Paineis de Display de Plasma<BR>
   	As Meninas e os Games<BR>
   	Novos Comutadores ATM<BR>
   	Bate-Papo Sobre Ficcao Cientifica<BR>
   	Explorando a Tecnologia<BR>
   	Cuidando da Saude no Ceu<BR>
   	Coma Cereais e Faca uma Ligacao Telefonica<P>
   </UL>
   <A HREF=160795.htm>Dia 16 de Julho de 1995</A>
   <UL>
      Audiencias Sobre o Departamento de Ciencias<BR>
      Andersen Consulting Vai `as Compras<BR>
      Dole Defende a Microsoft<BR>
      Guia de 500 Canais de TV<BR>
      Continua a Proibicao de Transmissoes "Indecentes"<BR>
      Os Super Servidores de Chen<BR>
      Novell Vai Passear<BR>
      Cracker Podera' Entrar Com Recurso<BR>
      Zimmermann e o Trabalho da Policia<BR>
      Murdoch Perto de um Acordo com a TV Italiana<BR>
      Cato On-Line<BR>
      Mais Fatos Sobre a Internet<BR>
      O Local Mais Caro da Teia<P>
   </UL>
   <A HREF=180795.htm>Dia 18 de Julho de 1995</A>
   <UL>
      Plano de Emergencia da Microsoft<BR>
      Teia Tera' Recurso de Classificacao Voluntaria<BR>
      Estudo Sobre Pornografia Cibernetica Foi Criticado<BR>
      Impressao Digital `a Distancia<BR>
      Propriedade Canibal de Moore<BR>
      Documentos Sobre os Males do Fumo On-Line<BR>
      Tecnologia Sem Fio<BR>
      Time Warner Ganha Mercado<BR>
      Receita para Problemas de Saude Causados por Tarefas Repetitivas<BR>
      Desculpas da Compaq<P>
   </UL>
   <A HREF=180795b.htm>Dia 18 de Julho de 1995, segunda parte</A>
   <UL>
      Software<BR>
      Governo<BR>
      Bibliotecas<BR>
      Calendario de Eventos<BR>
      EDUCOM 95 e no Futuro<P>
   </UL>
   <A HREF=190795.htm>Dia 19 de Julho de 1995</A>
   <UL>
      Piora Ainda Mais a Escasses de Chips<BR>
      Manobra para Defender a Internet<BR>
      E Continua a Discussao Sobre o Relatorio Contra a Pornografia Cibernetica<BR>
      Ameritech Conquista Franchising de TV a Cabo<BR>
      Servicos de Suporte a Clientes Entram em Colapso<BR>
      Prodigy Lanca Servico Somente para Adultos<BR>
      Muito Trabalho e Nenhuma Diversao na Internet Chinesa<BR>
      Santa Computacao<BR>
      NEC Comprara' 20% da Packard Bell<BR>
      Softwares Versus Livros nas Salas de Aula<BR>
      Exame Nacional para o Nivel Secundario nos Estados Unidos<BR>
      Biblioteca Publica na Internet<P>
   </UL>
   <A HREF=190795b.htm>Dia 19 de Julho de 1995, segunda parte</A>
   <UL>
      Alianca Entre Chemical Bank e Microsoft<BR>
      Expansao Anti-Truste<BR>
      Bell Atlantic Testa Software Contra Fraude de Celulares<BR>
      Regulamentacao da Internet<BR>
      Lembrancas de Enjoos Ciberneticos<BR>
      Apple Ataca Mercados que Estao em Expansao<BR>
      Delrina Planeja Fusao<BR>
      Definida a Data para o Lancamento da TV Canadense por Satelite<BR>
      Empresas de Software Norte-Americanas Contra Proposta Japonesa<BR>
      Aumenta o Consumo da Web, mas Navegacao Ainda Predomina<BR>
      Popularidade de Cartoes de Compras<BR>
      Commodities On-Line<BR>
      Prognosticos para o Mercado de PCs<BR>
      Ligacao Direta Entre MCI, Sprint e ANS<BR>
      Conteudo Canadense Sob Pressao<BR>
      Mais Discussao Sobre Pornografia Cibernetica<BR>
      NAB Protesta Cobrancas do Governo Norte-Americano<BR>
      Pesquisa na Internet<P>
   </UL>
   <A HREF=200795.htm>Dia 20 de Julho de 1995</A>
   <UL>
      Packard Bell em Acao<BR>
      HDTV Fora do Horario Nobre?<BR>
      IBM de Olho nos Consumidores<BR>
      Plano de Custeio de Ensino Pode Estar Desrespeitando Patentes<BR>
      A Conquista da Geracao On-Line<BR>
      Novos Padroes para Medir a Web<BR>
      Viciados em Computadores<BR>
      Hospitais Precisam de Melhores Sistemas de Informacoes<BR>
      Wang Afirma que Tecnologia e' Investimento... Nao Desperdice<BR>
      De Mainframes a Super Servidores<BR>
      Estacoes de Trabalho 3D da Silicon Graphics<BR>
      Clube do CD-ROM do Mes<BR>
      Internet Estilo Chines: Sem Sexo, Politica ou Bate-Papo<P>
   </UL>
   <A HREF=210795.htm>Dia 21 de Julho de 1995</A>
   <UL>
      Servicos On-Line -- Busca Desesperada por uma Identidade<BR>
      Atraso do Windows 95<BR>
      Inteligencia Artificial Esta' Viva e Passa Bem<BR>
      Tendencias da Rede<BR>
      A Formacao de Newt Gingrich<BR>
      Cybercash e Checkfree Juntas<BR>
      Fim do Monopolio da Bell<BR>
      As Coisas Estao Melhorando para os Vendedores de Computadores<BR>
      Famosas Primeiras Palavras?<BR>
      American Prospect, Agora na Web<BR>
      Servico Interativo Multimidia no Japao<BR>
      Controle da Indecencia e' uma Area Extensa, Obscura e Cinzenta<P>
   </UL>
   <A HREF=240795.htm>Dia 24 de Julho de 1995</A>
   <UL>
      Negocio da Computer Associates com a Legend Enfrenta Obstaculos<BR>
      Intuit Continua com suas Operacoes<BR>
      Decisao da FCC Facilita o Caminho para os Servicos Sem Fio<BR>
      Packard Bell Cria Fundo de Reparos<BR>
      Sistema de Voz sem Fio<BR>
      Carnegie Mellon Reve o Estudo Sobre Pornografia<BR>
      Boatos sobre Virus na America Online sao Falsos<BR>
      Crescimento de Servicos On-Line Comerciais<BR>
      Mercado de Telefonia Movel<BR>
      Audio On-Line a um Clique do Mouse<BR>
      Sinais Misturados na TV Interativa<BR>
      Bill Gates se Encontrara' com Primeiro Ministro Canadense<BR>
      Armadilha Pedofila<P>
   </UL>
   <A HREF=270795.htm>Dia 27 de Julho de 1995</A>
   <UL>
      Empresas de Longa Distancia Combatem Projeto de Lei Sobre Comunicacoes<BR>
      De Volta `a Licenca de 1956<BR>
      Produtores de Software Nao Gostaram da Nova Politica Japonesa<BR>
      Empresas de Servicos On-Line Querem a Microsoft Network Fora da Janela<BR>
      Registros da Web Podem Comprometer Privacidade<BR>
      Nielsen e Commercenet Fazem Pesquisa Conjunta Sobre a Internet<BR>
      Valido por 5 Mil Anos<BR>
      Apple Afirma que PowerPC Supera o Desempenho do Pentium<BR>
      Congresso Norte-Americano Corta Recursos de Programa de Tecnologia<BR>
      Compatibilidade de Videodiscos Sony e Toshiba<BR>
      Acesso Canadense `a Internet<BR>
      BellSouth Pretende Lancar Sistema Comercial de TV a Cabo<BR>
      Transmissoes Educativas Canadenses<BR>
      Times Mirror Fecha Sua Unidade Multimidia<BR>
      Trocando Software Por Equipamento<P>
   </UL>
</UL>

</BODY>
