<title>Eleicoes</title>
<body>

<center>
<IMG SRC=eleicoes.gif>
<h1>Elei&ccedil;&otilde;es na ABINFO-RS</h1>
</center>

<IMG SRC=bomba.gif>
<P>


Neste ano, como prev&ecirc; nosso Estatuto, deve ocorrer elei&ccedil;&atilde;o para Diretoria e Conselho Fiscal da Associa&ccedil;&atilde;o. O cronograma das elei&ccedil;&otilde;es divulgado na edi&ccedil;&atilde;o 0 deste jornal est&aacute; vencido, pois ainda <b>n&atilde;o houve</b> inscri&ccedil;&atilde;o de sequer uma chapa. Isso deve-se &agrave; pouca participa&ccedil;&atilde;o dos associados. Por isso, os prazos est&atilde;o em aberto.<P>

<b>Pedimos aos associados efetivos que participem, pois sem a participa&ccedil;&atilde;o de todos a Associa&ccedil;&atilde;o fecha as portas.</b><P>

Abaixo, segue o texto de convoca&ccedil;&atilde;o da elei&ccedil;&atilde;o.<p>

<hr>

Para a Diretoria ocorrer&aacute; a inscri&ccedil;&atilde;o de chapas, preenchendo todos os <u>cargos</u>, mais tr&ecirc;s suplentes. Para o Conselho Fiscal, a inscri&ccedil;&atilde;o &eacute; individual, ou seja, o associado inscreve-se  para concorrer, e os cinco mais votados s&atilde;o eleitos. As chapas que concorrer&atilde;o &agrave; Diretoria s&atilde;o convocadas desde j&aacute; a tamb&eacute;m incentivarem a inscri&ccedil;&atilde;o de pelo menos cinco candidatos ao Conselho Fiscal. Lembramos que os candidatos devem ser, necessariamente, s&oacute;cios efetivos com as contribui&ccedil;&otilde;es sociais em dia. <p>

Todo o controle relativo &agrave;s elei&ccedil;&otilde;es, como inscri&ccedil;&atilde;o de candidaturas, impugna&ccedil;&otilde;es, apura&ccedil;&atilde;o e divulga&ccedil;&atilde;o dos eleitos, &eacute; de
responsabilidade da Comiss&atilde;o Eleitoral, composta por tr&ecirc;s associados efetivos designados pela Diretoria atual. A nominata da Comiss&atilde;o &eacute; a seguinte:<p>

<DL>
  <DD>Bernardo Copstein<P>
  <DD>Renier Edward Souza<P>
  <DD>Val&eacute;ria Jungblut<p>
</DL>

<hr>

<b><i>Todos s&atilde;o convidados a participarem da elei&ccedil;&atilde;o, seja atrav&eacute;s de organiza&ccedil;&atilde;o de candidaturas tanto quanto o apoio &agrave;s mesmas.</i></b><p>

</body>
