<title>FAQ</title>
<body>

<center>
<img src=faq.gif>
<h1>FAQ</h1>
</center>

<HR SIZE=10>
<BR>

FAQ &eacute; uma sigla em ingl&ecirc;s que significa <i>perguntas frequentemente feitas</i>, ou seja, &eacute; um texto contendo as perguntas mais inquiridas sobre determinado assunto. Esse assunto &eacute; alvo de um dos grupos de discuss&atilde;o da Internet, ao qual seus usu&aacute;rios t&ecirc;m acesso uma vez feita a assinatura.<p>

Assim, o <B>Abinfo Eletr&ocirc;nico</B> possui esta se&ccedil;&atilde;o onde traremos a cada edi&ccedil;&atilde;o um assunto diferente para sua informa&ccedil;&atilde;o. Nesta edi&ccedil;&atilde;o, o tema abordado &eacute; <a href=index.htm>WWW</a>. Para as pr&oacute;ximas edi&ccedil;&otilde;es, esperamos sua colabora&ccedil;&atilde;o com sugest&otilde;es de novos assuntos. 
</body>
