<head>
<title>PROCEDIMENTOS PARA ASSOCIAR-SE A ABINFO</title>
</head>

<body>

<center>
<h2>PROCEDIMENTOS PARA ASSOCIAR-SE A ABINFO</h2>
</center>

<hr size=6>


	Caso voce ainda nao seja associado e deseja participar da Associacao dos Bachareis em Informatica do Rio Grande do Sul, voce deve remeter esta ficha preenchida com seus dados para o endereco abaixo.<p>

	-> Se voce e um profissional ja graduado, envie junto com a ficha cadastral preenchida, a copia do diploma ou historico de graduacao.<p>

	-> Se voce e academico em algum curso ligado a area de informatica, envie o seu ultimo comprovante de matricula, tambem anexado a ficha cadastral.<p>

	Alem disso, a associacao cobra uma semestralidade de seus associados com os seguintes valores ja atualizados :<p>

<DL>
  <DD>Associado efetivo (ja graduado) - 13 Reais por semestre
  <DD>Associado academico (estudante) - 6,50 Reais por semestre
</DL>

	Este valor devera ser pago em cheque nominal a "Associacao dos Bachareis em Informatica do RS" e remetido junto aos documentos citados anteriormente. <p>

	Apos o recebimento destes documentos e do valor relativo a semestralidade, a Associacao enviara a voce o recibo de pagamento, a carteira de associado e trimestralmente uma copia do jornal da ABINFO-RS.<p>

<DL>
  <DT>Endereco ABINFO-RS<p>
  <DD>Caixa Postal 18017
  <DD>Porto Alegre - RS
  <DD>CEP 90410-007
</DL>

<p>
<img src=tesoura.gif>
<p>

<pre>

<center>
<h2>FICHA CADASTRAL</h2>
</center>

Nome:
Endereco:                                                     
Bairro:                                   Cidade:                            
CEP:                  Estado:             Telefone: (    )     -

Estado Civil: 
Sexo:       ( ) Masc.
            ( ) Fem.

Data Nascimento:
Naturalidade:                          
Nacionalidade:

Filiacao: Pai -
          Mae -

Cart. Identidade:                        
CIC/CPF:

Associado:   ( ) Efetivo    
             ( ) Academico
Curso:                                    Conclusao:        (previsao)
Instituicao:


Areas de Interesse:
   ( ) Inteligencia Artificial     ( ) Redes de Computadores
   ( ) Linguagens de Programacao   ( ) Computacao Grafica
   ( ) Banco de Dados              ( ) Sistemas Operacionais
   ( ) Analise de Sistemas         ( ) Multimidia
   ( ) Microeletronica
   ( ) Outros: _____________________________________________


Autoriza a utilizacao de seus dados por outra entidade?  ( )sim ( ) nao



    _________________, ___ de __________ de 199__.
 


				_________________________________________
						Assinatura

</pre>

</body>
