<head>
<title>Juncao dos projetos Nro 2944 e Nro 2956</title>
</head>

<body>

<center>
<h2>Jun&ccedil;&atilde;o dos projetos<br>Nro 2944 e Nro 2956</h2>
PROJETO DE LEI Nro 2944, DE 1992<p>
</center>

<hr size=7>

<br>

Regulamenta a profiss&atilde;o de programador de computador e d&aacute; outras provid&ecirc;ncias.<p>

Autor: Deputado AVENIR ROSA<p>

Relatora: Deputada IRMA PASSONI<p>

<b>1. RELAT&Oacute;RIO</b><p>

O Projeto de Lei nro 2944, de 1992, de autoria do ilustre Deputado AVENIR ROSA, objetiva regulamentar a profiss&atilde;o de programador de computadores e dar diretrizes para a cria&ccedil;&atilde;o do Conselho Federal de Profissionais em Programa&ccedil;&atilde;o de Computadores.<p>

Distribu&iacute;do inicialmente a Comiss&atilde;o de Trabalho, Administra&ccedil;&atilde;o e Servi&ccedil;o P&uacute;blico, a ele foram apresentadas quatro emendas pelo Relator designado, nobre Deputado Edison
Fid&eacute;lis.<p>

Em 10 de outubro de 1992, requeri ao Exmo. Presidente da C&acirc;mara dos
Deputados que a proposi&ccedil;&atilde;o tramitasse tamb&eacute;m na
Comiss&atilde;o de Ci&ecirc;ncia e Tecnologia, Comunica&ccedil;&atilde;o e
Inform&aacute;tica.<p>

Deferido o requerimento, efetuou-se novo despacho para que esta
Comiss&atilde;o fosse ouvida antes da Comiss&atilde;o de Trabalho,
Administra&ccedil;&atilde;o e Servi&ccedil;o P&uacute;blico.<p>

Aberto prazo regimental, n&atilde;o foram apresentadas emendas ao Projeto.<p>

Como relatora designada, cabe-me apreciar o m&eacute;rito da Proposi&ccedil;&atilde;o em apre&ccedil;o, nos termos do inciso II do artigo 32
do Regimento Interno.<p>


<b>II.	VOTO DA RELATORA</b><p>

Entendemos como absolutamente pertinente a iniciativa do nobre Deputado AVENIR
ROSA. Apesar da import&acirc;ncia da inform&aacute;tica, e do fato dela permear
largo segmento do setor produtivo, n&atilde;o encontramos
legisla&ccedil;&atilde;o que regulamente as atividades do profissional da
&aacute;rea, definindo suas necessidades de capacita&ccedil;&atilde;o, seus
direitos e responsabilidades.<p>

A inform&aacute;tica deixou de ser aplicada apenas a problemas
cient&iacute;ficos ou a atividades comerciais e administrativas. Hoje, por
exemplo, s&atilde;o operados com o aux&iacute;lio de computadores, entre
outros, diversos tipos de equipamentos para tratamento m&eacute;dico, centrais
nucleares, aeronaves ou centrais de comuta&ccedil;&atilde;o telef&ocirc;nica.
Algum erro em programas de computador, nesses casos, poder&aacute; redundar em
preju&iacute;zos financeiros, em danos ao meio ambiente ou, at&eacute; mesmo,
em perda de vidas humanas.<p>

Diversos casos tem sido episodicamente relatados pela m&iacute;dia. Nos anos
80, por exemplo, um equipamento de radioterapia de fabrica&ccedil;&atilde;o
canadense submeteu pacientes a overdoses de radia&ccedil;&atilde;o, matando um
deles, devido a falha de software. Em junho de 91, um engarrafamento nas
liga&ccedil;&otilde;es interurbanas entre as cidades norte-americanas de Los
Angeles, Washington e Pittsburgh deixou inoperante 10 milh&otilde;es de
telefones. O problema foi provocado por tr&ecirc;s linhas de c&oacute;digo
erradas (Business Week, 2/12/91, p&aacute;gs. 54 e 55).<p>

N&atilde;o &eacute; de admirar, pois, que haja uma crescente
preocupa&ccedil;&atilde;o, por parte de usu&aacute;rios, com a responsabilidade
t&eacute;cnica dos profissionais de inform&aacute;tica e com maiores garantias
quanto a seguran&ccedil;a e a confiabilidade dos programas de computador. A
regulamenta&ccedil;&atilde;o profissional responde a tais anseios. O assunto
vem sendo debatido seriamente nos pa&iacute;ses mais desenvolvidos e
not&iacute;cia de ve&iacute;culo de comunica&ccedil;&atilde;o especializado na
&aacute;rea informava, h&aacute; alguns meses, que pelo menos seis estados
norte-americanos est&atilde;o avaliando projetos de lei que requerem o registro
de profissionais de inform&aacute;tica (Computerworld nro 609,
p&aacute;g. 24).<p>

Tal discuss&atilde;o n&atilde;o &eacute; nova nesta casa. O Projeto de Lei
n 5.356, de 1981, de iniciativa do Deputado Victor Faccioni,
aprovado pela C&acirc;mara dos Deputados em 1983 e em tramita&ccedil;&atilde;o
no Senado Federal, tamb&eacute;m se prop&otilde;e a regulamentar a
mat&eacute;ria. Tal fato demonstra o amadurecimento do assunto em nosso
pa&iacute;s.<p>

Tamb&eacute;m na C&acirc;mara dois outros projetos que regulamentam
profiss&otilde;es de inform&aacute;tica: o de n&uacute;mero 2.956, concernente
a analistas de sistemas, e o de nro 3.043, de 1992, concernente a
t&eacute;cnicos de teleprocessamento. No nosso entender, deve haver
tramita&ccedil;&atilde;o conjunta deste Projeto de Lei - de nro 2.944/92 - e do 2.956/92, que regulamenta a profiss&atilde;o de analista de sistemas, provid&ecirc;ncia j&aacute; requerida ao Presidente desta Casa.<p>

As tarefas desses dois tipos de profissionais - analistas e programadores - se
complementam, trabalhando ambos no desenvolvimento de sistemas de
inform&aacute;tica. S&atilde;o eles respons&aacute;veis pelo que conhecemos
genericamente como "software", que controla desde contas-corrente
banc&aacute;rias at&eacute; impostos, desde sistemas de navega&ccedil;&atilde;o
de avi&otilde;es at&eacute; marcapassos card&iacute;acos.H&aacute; que se
exigir desses t&eacute;cnicos um preparo e uma responsabilidade que a
regulamenta&ccedil;&atilde;o da profiss&atilde;o assegura. &Eacute; importante
observar, tamb&eacute;m, que a forma&ccedil;&atilde;o de ambos &eacute;
assemelhado, demandando o dom&iacute;nio das mesmas t&eacute;cnicas, embora em
n&iacute;veis de conhecimento diferenciados.<p>

Quanto ao projeto em apre&ccedil;o, as atribui&ccedil;&otilde;es definidas no
seu art. 2 extrapolam o que se espera de um programador, a quem
usualmente se atribuem apenas as responsabilidades constantes da alinea f. As
atividades definidas na alinea c do mesmo artigo n&atilde;o s&atilde;o
exercidas apenas pelos profissionais de inform&aacute;tica, mas tamb&eacute;m
por t&eacute;cnicos de Organiza&ccedil;&atilde;o e M&eacute;todos, n&atilde;o
nos parecendo adequada a sua inclus&atilde;o neste projeto. As demais
atribui&ccedil;&otilde;es referem-se a atividades t&iacute;picas do analista de
sistemas, embora exercidas com o aux&iacute;lio t&eacute;cnico do programador
de computadores.<p>

As emendas apresentadas pelo nobre Deputado &Eacute;DISON FID&Eacute;LIS
n&atilde;o ser&atilde;o por mim apreciadas, por tratarem de aspectos que fogem
da al&ccedil;ada desta Comiss&atilde;o, conforme definido no inciso II do art.
32 do Regimento Interno da C&acirc;mara dos Deputados. A t&iacute;tulo de
coment&aacute;rio, por&eacute;m, discordamos da emenda nro 3 do
ilustre colega, que reduz a jornada de trabalho de oito para seis horas, pois
n&atilde;o vemos particular caracter&iacute;stica na atividade profissional que
justifique um menor periodo di&aacute;rio de trabalho.<p>

Poderiamos manter a proposta, do ilustre autor do Projeto, de regulamentar
apenas a profiss&atilde;o de programador, com a cria&ccedil;&atilde;o dos
respectivos Conselhos - Federal e Regionais. Entretanto, em face dos argumentos
j&aacute; expostos, optamos por propor um substitutivo que englobe a
regulamenta&ccedil;&atilde;o de ambos os profissionais que criam "software" -
programador de computador e analista de sistemas - com a consequente
cria&ccedil;&atilde;o de entidades comuns a ambas as profiss&otilde;es.<p>

Votamos, pois, pela aprova&ccedil;&atilde;o do Projeto, na forma do
substitutivo que ora apresentamos.<p>

Sala da Comiss&atilde;o, em     de        de 1994.<p>

Deputada IRMA PASSONI.<p>

<hr size=7>

<br>

<center>
<b>SUBSTITUTIVO AO PROJETO DE LEI NRO 2944, DE 1992</b><p>
</center>

Regulamenta as profiss&otilde;es de Programador de Computadores e Analistas
de Sistemas de Inform&aacute;tica e d&aacute; outras provid&ecirc;ncias.<p>

O Congresso Nacional decreta:<p>

<b>Art. 1</b>. As profiss&otilde;es de Analista de Sistemas de
Inform&aacute;tica e Programador de Computadores s&atilde;o regulamentadas pela
presente lei.<p>

<b>Art. 2</b>. A denomina&ccedil;&atilde;o de Analista de
Sistemas de Inform&aacute;tica &eacute; privativa:<p>

a) dos diplomados em curso de n&iacute;vel superior em An&aacute;lise de
Sistemas, Inform&aacute;tica, Computa&ccedil;&atilde;o ou Processamento de
Dados, por estabelecimentos de ensino oficialmente reconhecidos;<p>

b) de quantos que, na data de entrada em vigor desta lei, tenham exercido,
comprovadamente, no curso de no m&iacute;nimo 2 (dois) anos, as
fun&ccedil;&otilde;es de Analista de Sistemas e que requeiram o respectivo
registro aos Conselhos Regionais de An&aacute;lise de Sistemas e
Programa&ccedil;&atilde;o.<p>

<b>Par&aacute;grafo &uacute;nico</b>. Os Analistas de Sistemas de
Inform&aacute;tica, diplomados por entidades estrangeiras, poder&atilde;o
exercer a profiss&atilde;o, ap&oacute;s revalidarem seus certificados, na forma
da lei.<p>

<b>Art. 3</b>. A denomina&ccedil;&atilde;o de Programador de Computadores &eacute; privativa:<p>

a) dos portadores de diploma de segundo grau ou equivalente, diplomados em
curso de programadores de Computador Eletr&ocirc;nico reconhecidos pelo
Conselho Federal da An&aacute;lise de Sistemas e Programa&ccedil;&atilde;o -
CFASP.<p>

b) de todos aqueles que, at&eacute; a data de entrada em vigor desta lei,
tenham exercido, comprovadamente, no curso de no m&iacute;nimo 2 (dois) anos,
as fun&ccedil;&otilde;es de Programador de Computadores e que requeiram o
respectivo registro aos Conselhos Regionais de An&aacute;lise de Sistemas e
Programa&ccedil;&atilde;o.<p>

<b>Art. 4</b>. Consideram-se atividades privativas dos
profissionais de que trata a presente lei:<p>

a) estudos, projetos an&aacute;lises, per&iacute;cias,
avalia&ccedil;&otilde;es, auditorias, pareceres, pesquisa, consultoria, laudos,
arbitramentos e relat&oacute;rios t&eacute;cnicos relativos ao processamento
eletr&ocirc;nico de dados;<p>

b) planejamento de or&ccedil;amentos e defini&ccedil;&otilde;es operacionais e
funcionais de projetos e sistemas para processamento eletr&ocirc;nico de
dados;<p>

c) elabora&ccedil;&atilde;o de or&ccedil;amentos e defini&ccedil;&otilde;es
operacionais e funcionais de projetos e sistemas para processamento
eletr&ocirc;nico de dados;<p>

d) acompanhamento, fiscaliza&ccedil;&atilde;o e controle de projetos ou
sistemas de processamento eletr&ocirc;nico de dados, em
produ&ccedil;&atilde;o;<p>

e) gerenciamento de arquivos utilizados em processamento eletr&ocirc;nico de
dados;<p>

f) defini&ccedil;&atilde;o, estrutura&ccedil;&atilde;o, teste e
simula&ccedil;&atilde;o de programas e sistemas;<p>

g) elabora&ccedil;&atilde;o e codifica&ccedil;&atilde;o de programas;<p>

h) estudos de viabilidade t&eacute;cnica e financeira para
implanta&ccedil;&atilde;o de projetos e sistemas, assim como m&aacute;quinas e
aparelhos envolvidos em processamento eletr&ocirc;nico de dados;<p>

i) pesquisa de novas aplica&ccedil;&otilde;es e otimiza&ccedil;&otilde;es
operacionais.<p>

<b>&amp; 1</b> O exerc&iacute;cio das atividades
enunciadas nas alineas a, b, c, d, e, f, h, i &eacute; exclusivo do Analista de
Sistemas de Inform&aacute;tica;<p>

<b>&amp; 2</b> O exerc&iacute;cio da atividade enunciada
na alinea g e mais a presta&ccedil;&atilde;o de aux&iacute;lio t&eacute;cnico
ao Analista de Sistemas de Inform&aacute;tica nas atividades enunciadas nas
alineas a, b, e, f, h s&atilde;o exclusivos do Programador de Computadores.<p>

<b>Art. 5</b>. Os sal&aacute;rios m&iacute;nimos profissionais
do Analista de Sistemas de Inform&aacute;tica e do Programador de Computadores
corresponder&atilde;o, respectivamente, a 10 (dez) e 8 (oito) vezes o
sal&aacute;rio m&iacute;nimo fixado em lei, nacionalmente unificado.<p>

<b>Art. 6</b>. A jornada de trabalho do Analista de Sistemas
de Inform&aacute;tica e do Programador de Computadores n&atilde;o ser&aacute;
superior a 44 (quarenta e quatro) horas semanais, facultada a
compensa&ccedil;&atilde;o de hor&aacute;rios e a redu&ccedil;&atilde;o da
jornada, mediante acordo ou conven&ccedil;&atilde;o coletiva de trabalho.<p>

<b>Art. 7</b>. A remunera&ccedil;&atilde;o adicional por
hora-extra ser&aacute; no m&iacute;nimo de 50% (cinquenta por cento) superior
&agrave; normal, nas duas primeiras horas ap&oacute;s a jornada de trabalho
normal.<p>

<b>&amp; 1</b>. Na hip&oacute;tese de ocorrer trabalho
em dia de descanso, s&aacute;bados, domingos e feriados regionais ou federais,
a remunera&ccedil;&atilde;o adicional correspondente ser&aacute; de 200%
(duzentos por cento).<p>

<b>&amp; 2</b>. Em nenhuma hip&oacute;tese o profissional ser&aacute; obrigado a prorrogar a jornada de trabalho al&eacute;m de duas horas, mas, caso venha a prestar servi&ccedil;os ap&oacute;s a prorroga&ccedil;&atilde;o admitida, a remunera&ccedil;&atilde;o das horas excedentes ser&aacute; fixada por acordo ou conven&ccedil;&atilde;o coletiva de trabalho.<p>

<b>&amp; 3</b>. Para os casos de trabalho noturno, a
remunera&ccedil;&atilde;o ser&aacute; de no m&iacute;nimo 30% (trinta por
cento) superior &agrave; do diurno.<p>

<b>Art. 8</b>. Ser&aacute; concedido adicional de
insalubridade &agrave; raz&atilde;o de 20% (vinte por cento) do sal&aacute;rio
profissional correspondente nos seguintes casos:<p>

a) utiliza&ccedil;&atilde;o de terminais de v&iacute;deo;<p>

b) trabalho em ambiente com n&iacute;vel de ru&iacute;do superior a 70
(setenta) decib&eacute;is;<p>

c) trabalho em ambiente com temperatura inferior a 18 (dezoito) graus
cent&iacute;grados.<p>

<b>Art. 9</b>. O est&aacute;gio na &aacute;rea de
desenvolvimento de sistemas de inform&aacute;tica s&oacute; ser&atilde;o
permitidos no per&iacute;odo de forma&ccedil;&atilde;o profissional, n&atilde;o
podendo ultrapassar o limite de 6 (seis) meses.<p>

<b>&amp; 1</b>. O n&uacute;mero de estagi&aacute;rios
n&atilde;o pode exceder a 10% (dez por cento) completavel ao n&uacute;mero
superior, em rela&ccedil;&atilde;o aos profissionais de cada setor da
empresa.<p>

<b>&amp; 2</b>. A jornada m&aacute;xima semanal dos estagi&aacute;rios &eacute; de 20 (vinte) horas semanais, e a remunera&ccedil;&atilde;o m&iacute;nima &eacute; de 25% (vinte e cinco por cento) da remunera&ccedil;&atilde;o prevista no art. 5 desta lei.<p>

<b>Art. 10</b>. AO respons&aacute;vel pelo plano, projeto,
sistema ou programa, ou a prepostos, &eacute; assegurado o direito de
acompanhar a sua execu&ccedil;&atilde;o e implanta&ccedil;&atilde;o, de modo a
garantir a sua realiza&ccedil;&atilde;o de acordo com as
condi&ccedil;&otilde;es, expecifica&ccedil;&otilde;es e detalhes
t&eacute;cnicos estabelecidos.<p>

<b>Art. 11</b>. A aplica&ccedil;&atilde;o do que disp&otilde;es esta lei, a verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o do exerc&iacute;cio e atividades da profiss&atilde;o nela regulada ser&atilde;o exercidas por um Conselho Federal de An&aacute;lise de Sistemas e Programa&ccedil;&atilde;o - CFASP, e Conselhos Regionais de An&aacute;lise de Sistemas e Programa&ccedil;&atilde;o, organizados de forma a lhes assegurar unidade de a&ccedil;&atilde;o.<p>

<b>Par&aacute;grafo &uacute;nico</b>. A sede do CFASP ser&aacute; localizado
no Distrito Federal.<p>

<b>Art. 12</b>. O CFASP promover&aacute; a instala&ccedil;&atilde;o, nos Estados e Distrito Federal, dos Conselhos Regionais necess&aacute;rios &agrave; execu&ccedil;&atilde;o desta lei, podendo a a&ccedil;&atilde;o de qualquer deles estender-se a mais de um Estado.<p> 

<b>&amp; 1</b>. Cada Unidade da Federa&ccedil;&atilde;os&oacute; poder&aacute; estar sob jurisdi&ccedil;&atilde;o de um Conselho Regional.<p>

<b>&amp; 2</b>. A sede dos Conselhos Regionais ser&aacute; no Distrito Federal ou em capital de Estado.<p>

<b>Art. 13</b>. As atribui&ccedil;&otilde;es e a fixa&ccedil;&atilde;o da composi&ccedil;&atilde;o e organiza&ccedil;&atilde;o do Conselho Federal e dos Conselhos Regionais ser&atilde;o estabelecidas em regulamento do Poder Legislativo.<p>

<b>Art. 14</b>. Os profissionais habilitados na forma estabelecida nesta Lei s&oacute; poder&atilde;o exercer a profiss&atilde;o ap&oacute;s o registro no Conselho Regional sob cuja jurisdi&ccedil;&atilde;o se achar o local de sua atividade.<p>

<b>Art. 15</b>. Os diplomados por cursos e escolas de ensino de Programa&ccedil;&atilde;o de Computadores e por escolas de ensino superior
de inform&aacute;tica, oficiais ou reconhecidas, cujos certificados n&atilde;o
tenham sido registrados mas estejam em processamento na reparti&ccedil;&atilde;o competente, poder&atilde;o exercer as respectivas profiss&otilde;es mediante registro provis&oacute;rio no Conselho Regional.<p>

<b>Art. 16</b>. Aos estudantes de cursos e escolas de forma&ccedil;&atilde;o de Analista de Sistemas de Inform&aacute;tica e de Programadores de Computadores, oficiais ou reconhecidas, ser&aacute; concedido o registro tempor&aacute;rio no Conselho Regional para a realiza&ccedil;&atilde;o de est&aacute;gio de forma&ccedil;&atilde;o profissional.<p>

<b>Art. 17</b>. Se o profissional, firma ou organiza&ccedil;&atilde;o, registrado em qualquer Conselho Regional, exercer atividades em outra regi&atilde;o, ficar&aacute; obrigado a visar, nela, o seu registro.<p>

<b>Art. 19</b>. Toda e qualquer firma ou organiza&ccedil;&atilde;o que, embora n&atilde;o enquadrada no artigo anterior, tenha alguma se&ccedil;&atilde;o ligada ao exerc&iacute;cio profissional regulado na forma estabelecida nesta lei, &eacute; obrigada a requerer o seu registro e a anota&ccedil;&atilde;o dos profissionais, legalmente habilitados, dele encarregados.<p>

<b>Art. 20</b>. As firmas e entidades mencionadas nos artigos
acima s&atilde;o obrigadas a fornecer aos Conselhos Regionais todos os
elementos necess&aacute;rios &agrave; verifica&ccedil;&atilde;o e
fiscaliza&ccedil;&atilde;o da presente Lei.<p>

<b>Art. 21</b>. As pessoas n&atilde;o habilitadas que
exercerem a profiss&atilde;o regulada nesta lei est&atilde;o sujeitos &agrave;s
penalidades previstas na Lei de Contraven&ccedil;&otilde;es Penais.<p>

<b>Art. 22</b>. Os Conselhos Federal e Regionais de
An&aacute;lise de Sistemas e Programa&ccedil;&atilde;o, autarquias dotadas de
personalidade jur&iacute;dica de direito p&uacute;blico, constituiem
servi&ccedil;o p&uacute;blico federal, gozando o seu patrim&ocirc;nio, rendas e
servi&ccedil;os de imunidade tribut&aacute;ria, nos termos do inciso VI, a, do
art. 150 da Constitui&ccedil;&atilde;o Federal, al&eacute;m de franquia postal
e telegr&aacute;fica.<p>

<b>Art. 23</b>. O Poder Executivo expedir&aacute; regulamento
a presente lei, no prazo de 60 (sessenta) dias contado de sua
publica&ccedil;&atilde;o.<p>

<b>Art. 24</b>. Esta lei entra em vigor na data da sua
publica&ccedil;&atilde;o.<p>

<b>Art. 25</b>. Revogam-se as disposi&ccedil;&otilde;es em
contr&aacute;rio.<p>

</body>
