<title>Homepage Rafael Vilarino Kuhn</title>

<h1>Homepage Rafael Vilarino Kuhn</h1>

<img src=kuhn.gif>

<h2>Fun&ccedil;&atilde;o:</h2> Aluno de Mestrado do CPGCC

<h2>Projeto:</h2> Hiperdocumentos Ativos

<h2>Orientador:</h2> Prof. Jos&eacute; Valdeni de Lima

<h2>Outras Fun&ccedil;&otilde;es:</h2>
Administra&ccedil;&atilde;o do Servidor WWW do Instituto de Inform&aacute;tica

<h2>&Aacute;reas de Interesse:</h2>
<ul>
<li>Integra&ccedil;&atilde;o WWW<->Bancos de dados
<li>Ger&ecirc;ncia de Hiperdocumentos
</ul>

<hr>





