<title>Um Painel Atual sobre a Questao da Regulamentacao Profissional</title>

<head>
</head>

<body>

<center>
<h2>Um Painel Atual sobre a Quest&atilde;o da Regulamenta&ccedil;&atilde;o Profissional</h2><p>
</center>


Por <b>Roque Luiz Machado Daudt</b> e <b>Gilberto Carlos Walker</b><p>

<hr size=7>

      A maioria das pessoas tende a encarar a regulamenta&ccedil;&atilde;o do
exerc&iacute;cio profissional na Inform&aacute;tica como uma quest&atilde;o que
ficou irresolvida no passado, e que n&atilde;o apresenta desdobramentos nos
&uacute;ltimos anos. Esta vis&atilde;o, por&eacute;m, &eacute; equivocada.
Diversos grupos tem atuado intensamente no sentido de dar ao assunto um
encaminhamento particular, associado, obviamente, aos seus pr&oacute;prios
interesses. O ritmo com que estes desdobramentos v&ecirc;m acontecendo
tamb&eacute;m tem se acelerado bastante, e o ano de 1994 dever&aacute; ser
marcado por vigorosos movimentos em torno do assunto.<p>
      Assim, &eacute; importante que os profissionais graduados e os estudantes
da &aacute;rea procurem inteirar-se sobre a quest&atilde;o e que participem
desta relevante discuss&atilde;o, sob pena de ficarem a margem de um processo
cuja evolu&ccedil;&atilde;o resultar&aacute; em inequ&iacute;vocas
conseq&uuml;&ecirc;ncias sobre o aparato legal que rege a nossa
profiss&atilde;o e sobre a composi&ccedil;&atilde;o do mercado de trabalho.<p>
<p>
<b>O que est&aacute; em quest&atilde;o ?</b><p>
<p>
      Cada grupo tem uma abordagem diferente do assunto. Para alguns, trata-se
de uma luta pela "propriedade legal" da categoria dos profissionais de
Inform&aacute;tica, situa&ccedil;&atilde;o geradora de maior poder
econ&ocirc;mico e pol&iacute;tico. Para outros, trata-se de mais uma
inst&acirc;ncia da luta pela evolu&ccedil;&atilde;o das rela&ccedil;&otilde;es
entre o Capital e o Trabalho. Existe quem veja aqui um processo que pode afetar
o desenvolvimento da Inform&aacute;tica como ci&ecirc;ncia. H&aacute; quem
enxergue na quest&atilde;o uma oportunidade para caminhar-se em
dire&ccedil;&atilde;o a uma maior uniformidade de forma&ccedil;&atilde;o
oferecida pelas diversas universidades. E, finalmente, h&aacute; quem atente
&agrave; import&acirc;ncia da exist&ecirc;ncia dos profissionais como uma
categoria legalmente constitu&iacute;da.<p>
      Quanto &agrave;s a&ccedil;&otilde;es em torno da
regulamenta&ccedil;&atilde;o, observa-se que estas tem se dado tanto na esfera
do Legislativo Nacional, onde tramitam 4 propostas de
regulamenta&ccedil;&atilde;o de profiss&otilde;es da &aacute;rea, como fora
deste, em articula&ccedil;&otilde;es locais.<p>
<p>
<a href="pl5356.htm"><b> O Projeto Nro 1</b></a><p>
<p>
      O mais antigo dos projetos de lei que est&atilde;o sendo examinados pelo
Congresso Nacional &eacute; o de nro 5356, apresentado em 1981, pelo Dep. Federal pelo RS, Sr. Victor Faccioni. Este projeto foi, na verdade, elaborado pelos grupos ligados ao trabalho no setor, reunidos, na &eacute;poca, principalmente em torno das Associa&ccedil;&otilde;es de Profissionais de Processamento de Dados - APPDs.<p>
      O texto &eacute; bastante extenso, e seu conte&uacute;do bastante
abrangente. Prop&otilde;e a cria&ccedil;&atilde;o de seis profiss&otilde;es :<p>
        1) Analista de Sistemas em Processamento de Dados;<p>
        2) Programador de Computadores Eletr&ocirc;nicos;<p>
        3) Operador de Equipamento de Processamento de Dados;<p>
        4) Digitador de Dados;<p>
        5) Preparador de Dados em Processamento Eletr&ocirc;nico de Dados;<p>
        6) Controlador de Qualidade em Processamento de Dados.<p>
      Considera habilitados para a profiss&atilde;o de Analista de Sistemas os
diplomados em cursos de n&iacute;vel superior, ou em cursos de
p&oacute;s-gradua&ccedil;&atilde;o, em An&aacute;lise de Sistemas,
Inform&aacute;tica, Computa&ccedil;&atilde;o ou Processamento de Dados e
aqueles que possu&iacute;rem, at&eacute; a data de entrada em vigor da lei, o
m&iacute;nimo de um ano de exerc&iacute;cio das fun&ccedil;&otilde;es
associadas &agrave; profiss&atilde;o.<p>
      Cria o Conselho Federal de Profissionais em Processamento
Eletr&ocirc;nico de Dados (CFPPD) e autoriza a cria&ccedil;&atilde;o dos
respectivos Conselhos Regionais.<p>
      Designa para Programadores de Computadores os portadores de diploma de
segundo grau ou equivalente, expedidos por cursos de Programa&ccedil;&atilde;o
reconhecidos pelo CFPPD. Igualmente, considera a comprova&ccedil;&atilde;o de
ao menos um ano de exerc&iacute;cio profissional como crit&eacute;rio
alternativo.<p>
      Para as demais profiss&otilde;es, exige que se exer&ccedil;a as
atividades associadas &agrave; profiss&atilde;o e que se possua certificado de
curso espec&iacute;fico reconhecido pelo CFPPD.<p>
      Seguindo o modelo tradicional da regulamenta&ccedil;&otilde;es legais, o
texto, enumera as atividades de cada profiss&atilde;o e declara-as privativas
dos profissionais a elas habilitados nos termos da lei.<p>
      Contempla, tamb&eacute;m, aspectos relacionados ao trabalho na
&aacute;rea. Para o Analista de Sistemas, prev&ecirc; Sal&aacute;rio
M&iacute;nimo Profissional de dez sal&aacute;rios m&iacute;nimos (SM); oito SM
para os Programadores; seis SM para o Operador e o Preparador; quatro SM para o
Digitador e o Controlador. Estabelece, para cada Profiss&atilde;o a jornada
m&aacute;xima de trabalho, a remunera&ccedil;&atilde;o adicional por hora
extra, trabalho noturno e insalubridade. para efeitos de aposentadoria, acorda
que cada ano de servi&ccedil;o ser&aacute; contado como um ano e um quarto.
Disp&otilde;e tamb&eacute;m sobre o est&aacute;gio e a loca&ccedil;&atilde;o de
m&atilde;o-de-obra.<p>
      Este projeto sofreu forte oposi&ccedil;&atilde;o por parte da patronal do
setor, sendo citadas com destaque a atua&ccedil;&atilde;o da FEBRABAN (patronal
banc&aacute;ria) e da SUCESU, entidade que re&uacute;ne, principalmente,
empresas da &aacute;rea. Estes grupos, articulados com os demais opositores da
proposta, tiveram sucesso em obstruir a tramita&ccedil;&atilde;o do projeto,
que sempre aconteceu em ritmo let&aacute;rgico. Atualmente, o texto encontra-se
na Comiss&atilde;o de Constitui&ccedil;&atilde;o, Justi&ccedil;a e Cidadania
(CCJ) do Senado Federal desde 25 de mar&ccedil;o de 1991, aguardando parecer.<p>
      Em termos gerais, &eacute; uma proposta defasada no tempo, sendo que, em
outubro de 1992 o "Movimento Pr&oacute;-Regulamenta&ccedil;&atilde;o das
Profiss&otilde;es em Inform&aacute;tica" (MOREI) do Paran&aacute; encaminhou 55
emendas atrav&eacute;s do Dep. Federal Ed&eacute;sio Passos. Por&eacute;m,
estas emendas n&atilde;o alteram as caracter&iacute;sticas b&aacute;sicas do
Projeto.<p>
<p>
<b>Propostas de Roraima</b><p>
<p>
      O Dep. Federal pelo PDC-RR, Sr. Avenir Rosa, apresentou, em 1992,
tr&ecirc;s projetos de lei que deliberam sobre a regulamenta&ccedil;&atilde;o
de profiss&otilde;es da &aacute;rea.<p>
      Os tr&ecirc;s textos, apesar de bem mais enxutos, apresentam estrutura
semelhante ao 5356, no sentido de que :<p>
        a) s&atilde;o considerados 2 crit&eacute;rios para o exerc&iacute;cio
profissional - a habilita&ccedil;&atilde;o fornecida por
institui&ccedil;&atilde;o reconhecida ou tempo m&iacute;nimo de
experi&ecirc;ncia;<p>
        b) estabelecem reserva de mercado para os profissionais habilitados nos
termos da lei;<p>
        c) deliberam sobre o trabalho na &aacute;rea;<p>
        d) criam os Conselhos Federais como tutores do exerc&iacute;cio
profissional.<p>

<a href="pl2956.htm">O projeto de lei 2956</a> trata da Regulamenta&ccedil;&atilde;o da profiss&atilde;o de Analista de
Sistemas em Processamento Eletr&ocirc;nico de Dados. Nesta proposta, o
Sal&aacute;rio Profissional mantem-se em 10 SM, o tempo m&iacute;nimo de
experi&ecirc;ncia sobe para 2 anos e o Conselho Profissional chama-se Conselho
Federal de An&aacute;lise de Sistemas - CFAS.<p>

<a href="pl2944.htm">O projeto de lei 2944</a> regulamenta a profiss&atilde;o de Programador de Computador. Os pr&eacute;-requisitos para o exerc&iacute;cio da profiss&atilde;o s&atilde;o os mesmos expressos no 5356. As cl&aacute;usulas sociais, no geral, t&eacute;m o mesmo conte&uacute;do. O Conselho Profissional &eacute; diferenciado da An&aacute;lise de Sistemas, denominando-se Conselho Federal de Profissionais em Programa&ccedil;&atilde;o de Computadores - CFPC.<p>

<a href="pl3043.htm">O projeto de lei 3043</a>
regulamenta a profiss&atilde;o de T&eacute;cnico em Teleprocessamento na
&aacute;rea de Inform&aacute;tica. Para o exerc&iacute;cio da profiss&atilde;o
&eacute; necess&aacute;rio portar certificado oficialmente reconhecido ou
possuir 2 anos de experi&ecirc;ncia. O Sal&aacute;rio M&iacute;nimo
profissional corresponde a 4 SM. Cria-se o Conselho Federal de T&eacute;cnicos
em Teleprocessamento - CFTT, as cl&aacute;usulas sociais s&atilde;o
an&aacute;logas aos outros projetos do Sr. Avenir Rosa.<p>

A semelhan&ccedil;a entre os 3 projetos
e aquele do Sr. Victor Faccioni e a exclus&atilde;o de profiss&otilde;es em
franco desaparecimento como Digita&ccedil;&atilde;o, Opera&ccedil;&atilde;o,
Prepara&ccedil;&atilde;o e Controle de Qualidade em PD, parece indicar uma
tentativa de se modernizar a proposta original e de se utilizar a sua
fragmenta&ccedil;&atilde;o como uma nova estrat&eacute;gia de
tramita&ccedil;&atilde;o no Congresso Nacional. Se assim o &eacute;, esta
estrat&eacute;gia tende a ter vida curta, pois foi deferido na C&acirc;mara dos
Deputados parecer sugerindo a <a href=juncaopl.htm>jun&ccedil;&atilde;o dos projetos 2956 e 2944</a>

O conte&uacute;do dos textos, no entanto, tem sido bem recebido, e a
tramita&ccedil;&atilde;o destes tem tido encaminhamento razoavelmente
r&aacute;pido. &Eacute; imposs&iacute;vel, por&eacute;m, prever o destino final
das propostas. Como qualquer projeto, est&aacute; sujeito a frequentes e
inesperadas solicita&ccedil;&otilde;es de vistas ou an&aacute;lises por parte
dos integrantes da Casa e de suas Comiss&otilde;es, ou seja, o efetivo
encaminhamento dado aos projetos &eacute; em fun&ccedil;&atilde;o da
press&atilde;o pol&iacute;tica percebida pelo Legislativo Nacional.<p>
<p>
<b> A tentativa da Administra&ccedil;&atilde;o</b><p>

      Enquanto tramitam os projetos de lei no Congresso, alguns grupos
v&atilde;o utilizando diferentes estrat&eacute;gias, especialmente aquelas que
permitam a&ccedil;&otilde;es &agrave; margem a discuss&atilde;o que acontece no
Legislativo Nacional.<p>
      A estrat&eacute;gia menos sutil foi, certamente, a desenvolvida pelo
Conselho Federal da Administra&ccedil;&atilde;o (CFA). Observando o grande
n&uacute;mero de profissionais de Inform&aacute;tica "orf&atilde;os" de um
Conselho Profissional, e aproveitando-se do vazio legal existente, o CFA
editou, em 20 de agosto de 1992, a <a href=rn125.htm>Resolu&ccedil;&atilde;o Normativa (RN) nro
125</a>, que obriga os profissionais graduados a registrarem-se nos Conselhos
Regionais de Administra&ccedil;&atilde;o (CRAs) para poderem exercer atividades
na &aacute;rea. O suporte te&oacute;rico a esta medida, expresso na RN,
&eacute; que o CFA entende que os profissionais de Inform&aacute;tica exercem
atividades "conexas &agrave;s privativas do profissional de
Administra&ccedil;&atilde;o". Assim, a RN 125 cria um Registro Especial para os
profissionais de Inform&aacute;tica, tendo o cuidado de observar que, apesar de
deverem ingressar nos CRAs, "a forma&ccedil;&atilde;o do profissional nos
cursos relacionados (de Inform&aacute;tica) n&atilde;o o torna habilitado, de
qualquer forma, para o exerc&iacute;cio pleno das atividades que por lei
espec&iacute;fica s&atilde;o privativas do administrador, sendo sua
atua&ccedil;&atilde;o restrita &agrave; &aacute;rea de Inform&aacute;tica".<p>
      A atitude do CFA levantou protestos na comunidade de Inform&aacute;tica.
A Comiss&atilde;o pr&oacute;-ABINFO, extinto movimento que ent&atilde;o
coordenava os esfor&ccedil;os pela cria&ccedil;&atilde;o de uma entidade que
congregasse os profissionais graduados e estudantes da &aacute;rea, divulgou
manifesto repudiando a RN CFA 125. A Sociedade Brasileira de
Computa&ccedil;&atilde;o (SBC), entidade representativa da comunidade
acad&ecirc;mica atuante na &aacute;rea, enviou of&iacute;cio ao CFA, observando
a pouca sustenta&ccedil;&atilde;o dos argumentos expostos na
Resolu&ccedil;&atilde;o, e a sua contrariedade com a situa&ccedil;&atilde;o de
constrangimento legal gerada. Foi elaborado, tamb&eacute;m, a n&iacute;vel
nacional abaixo-assinado onde expressivo n&uacute;mero de estudantes e
profissionais demonstraram claro desacordo com este tipo de
solu&ccedil;&atilde;o.<p>
      Este cen&aacute;rio de amplo rep&uacute;dio &agrave; RN CFA 125,
n&atilde;o impediu, por&eacute;m, que representantes dos CRAs percorressem
algumas faculdades de Inform&aacute;tica, "convidando" os formandos a
ingressarem no Conselho de Administra&ccedil;&atilde;o. Na pr&aacute;tica, esta
Resolu&ccedil;&atilde;o n&atilde;o "colou". Nem os profissionais tem sentido-se
atra&iacute;dos a ingressarem de forma compuls&oacute;ria nos CRAs, nem o
mercado de trabalho - exceto esparsas exce&ccedil;&otilde;es - tem exigido esta
atitude. O CFA, por seu lado, n&atilde;o tem feito quest&atilde;o de divulgar o
teor exato da Resolu&ccedil;&atilde;o junto a comunidade de Inform&aacute;tica
e tamb&eacute;m n&atilde;o tem feito quest&atilde;o de ir aos tribunais exigir
o seu cumprimento.<p>
<p>
<b>Computa&ccedil;&atilde;o &eacute; Engenharia ?</b><p>
<p>
      Outra categoria que est&aacute; atenta &agrave; Inform&aacute;tica
&eacute; a dos engenheiros. Se olharmos o Manual de Procedimentos de
Anota&ccedil;&atilde;o de Responsabilidade T&eacute;cnica (ART), publicado pelo
Conselho Regional de Engenharia, Arquitetura e Agronomia (CREA) do Rio Grande
do Sul em outubro de 1990, vemos quais atividades t&eacute;cnicas em
Processamento de Dados o profissional credenciado ao CREA-RS pode executar :
equipamento, sistema, programa (software), circuito (hardware), rede
el&eacute;trica para inform&aacute;tica, climatiza&ccedil;&atilde;o e
servi&ccedil;os afins e correlatos em processamento de dados. Ora, o terceiro
item explicitamente nos mostra que este profissional &eacute; habilitado pelo
seu Conselho Profissional a trabalhar em Inform&aacute;tica, sendo que, o
&uacute;ltimo item deixa o campo totalmente aberto a atua&ccedil;&atilde;o
deste mesmo profissional.<p>
      No jornal do CREA-RS de dezembro de 1992 foi publicado uma nota com a
seguinte chamada : "As atribui&ccedil;&otilde;es do Engenheiro de
Computa&ccedil;&atilde;o". A mat&eacute;ria relatava que as
atribui&ccedil;&otilde;es deste novo profissional estava (est&aacute; ?) sendo
elaborado, tendo havido uma reuni&atilde;o anterior a esta data em
Bras&iacute;lia para tratar deste tema, com a participa&ccedil;&atilde;o de
representantes do Instituto Tecnol&oacute;gico da Aeron&aacute;utica (ITA),
Instituto Militar de Engenharia (IME) e C&acirc;mara de Engenharia
El&eacute;trica do CREA-Paran&aacute;. Nesta reuni&atilde;o foi discutido o
Projeto de Resolu&ccedil;&atilde;o Provis&oacute;rio que regulamenta as
atribui&ccedil;&otilde;es de engenheiros de Computa&ccedil;&atilde;o. A extinta
comiss&atilde;o pr&oacute;-ABINFO buscou na &eacute;poca
informa&ccedil;&otilde;es mais detalhadas sobre os resultados desta
reuni&atilde;o, via o CREA-RS. Nada foi conseguido. <p>
      Dando continuidade aos trabalhos visando a regulamenta&ccedil;&atilde;o
do engenheiro da Computa&ccedil;&atilde;o, foi realizada nos dias 19,20 e 21 de
maio de 1993 na Escola Polit&eacute;cnica da Universidade de S&atilde;o Paulo a
primeira reuni&atilde;o setorial de Engenharia de Computa&ccedil;&atilde;o.
Nesta reuni&atilde;o a comiss&atilde;o encarregada da &aacute;rea de Engenharia
de Computa&ccedil;&atilde;o efetuou uma revis&atilde;o da parte da
resolu&ccedil;&atilde;o 48/76 do Conselho Federal de Educa&ccedil;&atilde;o
(CFE) que disp&otilde;e sobre o curr&iacute;culo m&iacute;nimo para Engenheiros
Eletricistas, com vistas a elabora&ccedil;&atilde;o de uma proposta similar
para a &aacute;rea de Engenharia de Computa&ccedil;&atilde;o.<p>
      Al&eacute;m disso, nesta reuni&atilde;o a comiss&atilde;o elaborou o
perfil desejado  para o engenheiro da Computa&ccedil;&atilde;o, tendo como
resultado final o seguinte : "O Engenheiro da Computa&ccedil;&atilde;o &eacute;
um profissional com forma&ccedil;&atilde;o plena de Engenharia, preparado em
assuntos de Computa&ccedil;&atilde;o para especificar, conceber, desenvolver,
implementar, adaptar, produzir, industrializar, instalar e manter sistemas
computacionais, bem como perfazer a integra&ccedil;&atilde;o dos recursos
f&iacute;sicos e l&oacute;gicos necess&aacute;rios para o atendimento das
necessidades informacionais, computacionais e de automa&ccedil;&atilde;o em
geral".<p>

E finalmente, em 21 de dezembro de 1993, o CONFEA editou a <a href=rn380.htm>Resolu&ccedil;&atilde;o nro 380</a>. Esta
resolu&ccedil;&atilde;o discrimina as atribui&ccedil;&otilde;es
provis&oacute;rias dos Engenheiros de Computa&ccedil;&atilde;o ou Engenheiro
Eletricista com &ecirc;nfase em Computa&ccedil;&atilde;o. Ela determina no seu
artigo 1_ as atribui&ccedil;&otilde;es deste profissional : "Compete ao
Engenheiro de Computa&ccedil;&atilde;o ou Engenheiro Eletricista com
&ecirc;nfase em Computa&ccedil;&atilde;o o desempenho das atividades do art. 9_
da Resolu&ccedil;&atilde;o 218/73, acrescidas de an&aacute;lise de sistemas
computacionais, seus servi&ccedil;os afins e correlatos."<p>
      Qual o problema na investida do CONFEA em definir a
habilita&ccedil;&atilde;o do engenheiro de computa&ccedil;&atilde;o ? Ora,
al&eacute;m de reservar para si uma parcela substancial do mercado de trabalho
na &aacute;rea, esta denomina&ccedil;&atilde;o acarretar&aacute; para a
sociedade uma falsa interpreta&ccedil;&atilde;o da exist&ecirc;ncia de um curso
de maior qualidade em rela&ccedil;&atilde;o aos demais. O fato &eacute; que
muitas universidades est&atilde;o trocando seus cursos de Bacharelado em
Inform&aacute;tica ou Ci&ecirc;ncias da Computa&ccedil;&atilde;o para
Engenharia de Computa&ccedil;&atilde;o.<p>
<p>
<b>A SBC e a quest&atilde;o da regulamenta&ccedil;&atilde;o</b><p>
<p>
      A SBC tem acompanhado a quest&atilde;o da regulamenta&ccedil;&atilde;o
profissional da Inform&aacute;tica. Historicamente, a entidade tem sido contra
qualquer tipo de regulamenta&ccedil;&atilde;o, e tem atuado ativamente neste
sentido. De um modo geral, seus argumentos referenciam a juventude do setor e a
r&aacute;pida evolu&ccedil;&atilde;o do conhecimento na &aacute;rea, elementos
que inviabilizariam a fixa&ccedil;&atilde;o de habilita&ccedil;&otilde;es
profissionais e que implicam na necessidade de se preservar a liberdade das
universidades em realizar "experi&ecirc;ncias criativas" em seus
curr&iacute;culos de Inform&aacute;tica. Esta liberdade, no entender da SBC,
seria amea&ccedil;ada por uma poss&iacute;vel regulamenta&ccedil;&atilde;o da
&aacute;rea. Partindo destes pressupostos, a SBC vinha desenvolvendo
a&ccedil;&otilde;es de oposi&ccedil;&atilde;o a qualquer forma de
regulamenta&ccedil;&atilde;o.<p>
      No Congresso em Florian&oacute;polis, em 1993, a SBC deu uma importante
virada em suas posi&ccedil;&otilde;es, reconhecendo, pela primeira vez, que o
atual estado de completa desregulamenta&ccedil;&atilde;o &eacute; prejudicial
aos egressos de seus cursos, e que abre espa&ccedil;o &agrave; frequentes
tentativas de apropria&ccedil;&atilde;o da &aacute;rea por parte de terceiros.
Como conseq&uuml;&ecirc;ncia desta nova interpreta&ccedil;&atilde;o, e
colocando-se em desacordo com as propostas em tramita&ccedil;&atilde;o no
Congresso Nacional, a SBC aprovou mo&ccedil;&atilde;o no sentido de elaborar um
novo projeto e submet&ecirc;-lo ao Congresso.<p>

Deste ent&atilde;o um grupo interno na SBC trabalhou na elabora&ccedil;&atilde;o deste <a href=psbc.htm>projeto</a>

A vers&atilde;o final do projeto foi divulgada via lista SBC-EP, da Rede
Nacional de Pesquisa. Ao analisar o projeto observa-se que a proposta da SBC
:<p>
        1) N&atilde;o cria uma profiss&atilde;o regulamentada, mas o Conselho
Federal de Computa&ccedil;&atilde;o e Inform&aacute;tica (CFCI),
inst&acirc;ncia competente para deliberar sobre profiss&otilde;es da
&aacute;rea;<p>
        2) ao n&atilde;o criar uma profiss&atilde;o, ou mais, n&atilde;o define
nem a forma&ccedil;&atilde;o nem a habilita&ccedil;&atilde;o dos profissionais,
deixando estas tarefas para o CFCI;<p>
        3) n&atilde;o torna o exerc&iacute;cio profissional na &aacute;rea
privativo dos profissionais registrados no CFCI;<p>
        4) n&atilde;o contempla cl&aacute;usulas s&oacute;cio-econ&oacute;micas
como Sal&aacute;rio M&iacute;nimo Profissional, jornada de trabalho
m&aacute;xima, etc;<p>
        5) define como crit&eacute;rio de ingresso no CFCI um teste ao qual
qualquer pessoa, independente de sua forma&ccedil;&atilde;o, possa se
submeter;<p>
        6) coloca a cria&ccedil;&atilde;o e atua&ccedil;&atilde;o do CFCI sob
tutela da SBC.<p>
      Em suma, &eacute; uma proposta alternativa, com muitos pontos
pol&ecirc;micos. Em especial, &eacute; pol&ecirc;mica ao submeter tanto os
graduados na &aacute;rea como os n&atilde;o graduados ao mesmo crit&eacute;rio
seletivo de ingresso no Conselho Profissional.<p>
      Ao mesmo tempo que elaborava o seu projeto, a SBC n&atilde;o descuidou
das a&ccedil;&otilde;es dos demais grupos envolvidos na quest&atilde;o.
Al&eacute;m de posicionar-se contr&aacute;ria &agrave;s atitudes do CFA, a SBC
posiciona-se oficialmente contra a regulamenta&ccedil;&atilde;o do curso de
Engenharia de Computa&ccedil;&atilde;o e contra os projetos que circulam no
Congresso, tendo j&aacute; enviado of&iacute;cio ao Dep. Roberto Freire,
ent&atilde;o l&iacute;der do governo no Congresso, solicitando os
esfor&ccedil;os do Executivo Nacional no sentido de impedir a
tramita&ccedil;&atilde;o do projeto 2956.<p>
<p>
<b>A atua&ccedil;&atilde;o da ABINFO-RS</b><p>
<p>
      A ABINFO-RS tem procurado criar entre os profissionais e estudantes uma
mobiliza&ccedil;&atilde;o sobre a quest&atilde;o. Para tanto, tem proferido
palestras e, sempre que convidada, tem participado de eventos onde o assunto
seja discutido.<p>
      Al&eacute;m disso, a associa&ccedil;&atilde;o encaminhou internamente
processo de encaminhamento da regulamenta&ccedil;&atilde;o profissional, tendo
como resultado uma proposta com as seguintes caracter&iacute;sticas :<p>
      - cria um Conselho Profissional (CP), composto pelos egressos dos cursos
de gradua&ccedil;&atilde;o da are&aacute;, com o objetivo de orientar a
atividade de seus membros, zelar pelo seu direito de disputar todos os nichos
de mercado de trabalho em condi&ccedil;&otilde;es de igualdade, bem como
orientar a sociedade em rela&ccedil;&atilde;o &agrave; quest&otilde;es
relativas ao exerc&iacute;cio profissional na Inform&aacute;tica e
proteg&ecirc;-la dos maus profissionais;<p>
      - o CP estabelece suporte legal &agrave; atividade dos profissionais
oriundos dos cursos de n&iacute;vel superior na &aacute;rea;<p>
      - n&atilde;o estabelece qualquer reserva de mercado para os profissionais
graduados;<p>
      - n&atilde;o delibera sobre o trabalho no setor.<p>
      Assim, &eacute; uma proposta moderna e exeq&uuml;&iacute;vel que, ao
mesmo tempo em que garante o direito dos graduados, n&atilde;o cerceia direitos
j&aacute; adquiridos, al&eacute;m de gerar instrumentos para a
qualifica&ccedil;&atilde;o do exerc&iacute;cio profissional.<p>
<p>
<b>Conclus&otilde;es</b><p>
<p>
      A regulamenta&ccedil;&atilde;o profissional &eacute; um tema vivo e
pol&ecirc;mico, cujo encaminhamento depende menos da for&ccedil;a dos
argumentos contrapostos do que da capacidade organizacional dos grupos
envolvidos na quest&atilde;o. Assim, o seu entendimento passa necessariamente
pela identifica&ccedil;&atilde;o dos atores, de seus interesses e da
l&oacute;gica de seus movimentos.<p>
      A pergunta "por que a Inform&aacute;tica ainda n&atilde;o foi
regulamentada ?"  tem ficado sem resposta por muito tempo, aparecendo como uma
circunst&acirc;ncia inexplic&aacute;vel gerada por for&ccedil;as misteriosas.
Espera-se que este artigo tenha contribu&iacute;do para apresentar a
quest&atilde;o como um processo compreens&iacute;vel de vontades
pol&iacute;ticas humanas em a&ccedil;&atilde;o, e que tenha fornecido algumas
chaves para o desvendamento do est&aacute;gio atual do tema e dos
poss&iacute;veis desdobramentos.<p>

</body>
