<head>
<title>Projeto nro 2956 do Deputado Avenir Rosa</title>
</head>

<body>

<center>
<h2>Projeto Nro 2956</h2>
Projeto de Lei sobre Regulamenta&ccedil;&atilde;o da Profiss&atilde;o de
Analista de Sistemas e Cria&ccedil;&atilde;o do Conselho Federal de Analista de Sistemas <p>
(Projeto de Lei no. 2.956, de 1992, do Sr. Dep. Avenir Rosa - PDC-RR) <p>
</center>

<hr size=6>

<b>Justifica&ccedil;&atilde;o </b><p>
Esta iniciativa objetiva valorizar o Analista de Sistemas que, embora em
n&uacute;mero elevado, e representando parcela important&iacute;ssima da economia nacional, at&eacute; o momento n&atilde;o teve regulamentada sua atividade laborativa.<p>

Inconceb&iacute;vel se nos afigura o descaso do Poder P&uacute;blico, em plena
"era da inform&aacute;tica", com respeito &agrave; regulamenta&ccedil;&atilde;o ora proposta, mormente se considerarmos a exist&ecirc;ncia de milhares de diplomados na &aacute;rea, por escolas n&atilde;o reconhecidas oficialmente, apesar de sua capacita&ccedil;&atilde;o e alto n&iacute;vel de responsabilidade
profissional.<p>

O Projeto que oferecemos &agrave; aprecia&ccedil;&atilde;o de nossos ilustres
Pares est&aacute; plenamente balizado pela Constitui&ccedil;&atilde;o Federal, mormente no tocante ao sal&aacute;rio m&iacute;nimo (art. 7o., inciso IV), &agrave; jornada de trabalho (art. 7o., inciso XIII) e &agrave; hora-extra (art. 7o., incisos IX e XVI).<p>

N&atilde;o pode o Brasil, a menos de nove anos do fim do mil&ecirc;nio,
continuar descompassado, no particular, raz&atilde;o pela qual acreditamos na aprova&ccedil;&atilde;o desta iniciativa.<p>

Dep. Avenir Rosa - 03.06.92<p>

<hr size=7>
<br>
<center>
<b>Projeto de Lei no. 2.956, de 1992 </b><p>
</center>

Regulamenta a profiss&atilde;o de Analista de Sistemas em Processamento
eletr&ocirc;nico de Dados e d&aacute; outras provid&ecirc;ncias. (Poder terminativo das Comiss&otilde;es - Artigo 24 - Inciso II)<p>

O CONGRESSO NACIONAL decreta:<p>

<b>Art. 1 </b>. A denomina&ccedil;&atilde;o de Analista de Sistemas em Processamento Eletr&ocirc;nico de Dados &eacute; privativa:<p>

a) dos diplomados em curso de n&iacute;vel superior em An&aacute;lise de
Sistemas, Inform&aacute;tica, Computa&ccedil;&atilde;o ou Processamento de Dados, por estabelecimentos de ensino oficialmente reconhecidos;<p>

b) de quantos que, na data da entrada em vigor desta Lei, estejam exercendo ou
j&aacute; tenham exercido, comprovadamente, no curso de no m&iacute;nimo 2 (dois) anos, as fun&ccedil;&otilde;es de Analista de Sistemas.<p>
Par&aacute;grafo &Uacute;nico: Os Analistas de Sistemas em Processamentos
Eletr&ocirc;nico de Dados diplomados por entidades estrangeiras poder&atilde;o exercer a profiss&atilde;o, ap&oacute;s revalidarem seus diplomas, na forma da lei.<p>

<b>Art. 2 </b>. Para os fins desta Lei, consideram-se processamento eletr&ocirc;nico de dados as atividades que envolvam diretamente o uso de computadores eletr&ocirc;nico para tratamento de informa&ccedil;&otilde;es, assim como as atividades relacionadas &agrave; utiliza&ccedil;&atilde;o de equipamentos e m&aacute;quinas para coleta e apresenta&ccedil;&atilde;o de resultados.<p>

<b>Art. 3 </b>. Consideram-se atividades privativas dos profissionais de que trata esta Lei:<p>

a) estudos, projetos, an&aacute;lises, per&iacute;cias, avalia&ccedil;&otilde;es, auditorias, pareceres, pesquisa, consultoria, laudos, arbitramentos e relat&oacute;rios t&eacute;cnicos relativos ao processamento eletr&ocirc;nico de dados;<p>

b) planejamentos ou projetos, em geral, de sistemas que envolvam o processamento eletr&ocirc;nico de dados;<p>

c) elabora&ccedil;&atilde;o de or&ccedil;amentos e defini&ccedil;&otilde;es
operacionais e funcionais de projetos e sistemas para processamento eletr&ocirc;nico de dados; <p>

d) projeto e especifica&ccedil;&otilde;es de modelos de documentos, planilhas,
relat&oacute;rios, formul&aacute;rios e arquivos utilizados em processamento eletr&ocirc;nico de dados;<p>

e) acompanhamento, fiscaliza&ccedil;&atilde;o e controle de projetos de
sistemas de processamentos de dados, em produ&ccedil;&atilde;o;<p>

f) gerenciamento de arquivos utilizados em processamento eletr&ocirc;nico de
dados;<p>
g) defini&ccedil;&atilde;o, estrutura&ccedil;&atilde;o, teste e
simula&ccedil;&atilde;o de programas e sistemas;<p>

h) estudo de viabilidades t&eacute;cnicas e financeiras para implanta&ccedil;&atilde;o de projetos e sistemas, assim como de m&aacute;quinas e aparelhos envolvidos em processamento eletr&ocirc;nico de dados;<p>

i) pesquisa de novas aplica&ccedil;&otilde;es e otimiza&ccedil;&otilde;es
operacionais;<p>

<b>Art. 4 </b>. Consideram-se nulas as contrata&ccedil;&otilde;es firmadas por entidade p&uacute;blica ou particular com pessoa f&iacute;sica ou jur&iacute;dica, em desacordo com a presente Lei.<p>

<b>Art. 5 </b>. O sal&aacute;rio m&iacute;nimo profissional do Analista de Sistemas corresponder&aacute; a 10 (dez) vezes o sal&aacute;rio m&iacute;nimo, fixado em lei, nacionalmente unificado.<p>

<b>Art. 6 </b>. A jornada de trabalho do Analista de Sistemas n&atilde;o ser&aacute; superior a 8 (oito) horas di&aacute;rias, e 44 (quarenta e quatro) horas semanais, facultada a compensa&ccedil;&atilde;o de hor&aacute;rios e a redu&ccedil;&atilde;o da jornada, mediante acordo ou conven&ccedil;&atilde;o
coletiva de trabalho.<p>

<b>Art. 7 </b>. A remunera&ccedil;&atilde;o adicional por hora-extra ser&aacute; no m&iacute;nimo de 50% (cinquenta por cento) superior &agrave; da normal, nas duas primeiras horas ap&oacute;s a jornada de trabalho normal.<p>

<b> &amp; 1 </b>. Ocorrendo expediente em dia de descanso, s&aacute;bados, domingos e feriados regionais ou nacionais, a remunera&ccedil;&atilde;o adicional correspondente ser&aacute; de 200% (duzentos por cento).<p>

<b> &amp; 2 </b>. Em nenhuma hip&oacute;tese o Analista de Sistemas ser&aacute; obrigado a prorrogar a jornada de trabalho por mais de duas horas, mas, em prorrogando-a, a remunera&ccedil;&atilde;o das horas excedentes ser&aacute; fixada por acordo ou conven&ccedil;&atilde;o coletiva de trabalho.<p>

<b> &amp; 3 </b>. A remunera&ccedil;&atilde;o do trabalho noturmo ser&aacute; de no m&iacute;nimo 30% (trinta por cento) superior &agrave; do diurno.<p>

<b>Art. 8 </b>. O Analista de Sistemas far&aacute; jus ao adicional de insalubridade, &agrave; raz&atilde;o de 20% (vinte por cento) do sal&aacute;rio profissional.<p>

<b>Art. 9 </b>. Para o fim de aposentadoria, o tempo de servi&ccedil;o profissional de que trata esta Lei ser&aacute; computado &agrave; raz&atilde;o de 1 1/4 (um inteiro e um quarto) para cada ano ou fra&ccedil;&atilde;o de ano efetivamente trabalhado.<p>

<b>Art. 10 </b>. O est&aacute;gio na &aacute;rea de An&aacute;lise de Sistemas s&oacute; ser&aacute; permitido no per&iacute;odo de forma&ccedil;&atilde;o profissional, n&atilde;o podendo ser superior a 6 (seis) meses. Par&aacute;grafo &Uacute;nico: O n&uacute;mero de estagi&aacute;rios corresponder&aacute; a, no m&aacute;ximo, 10% (dez por cento) dos profissionais de cada empresa, com jornada m&aacute;xima semanal de 20 (vinte) horas, e a remunera&ccedil;&atilde;o m&iacute;nima de 2 (duas) vezes o sal&aacute;rio m&iacute;nimo fixado em lei, nacionalmente unificado.<p>

<b>Art. 11 </b>. Ao respons&aacute;vel por plano, projeto, sistema ou programa ou a prepostos &eacute; assegurado o direito de acompanhar sua execu&ccedil;&atilde;o e implanta&ccedil;&atilde;o, de modo a garantir a sua realiza&ccedil;&atilde;o de acordo com as condi&ccedil;&otilde;es, especifica&ccedil;&otilde;es e detalhes t&eacute;cnicos estabelecidos.<p>

<b>Art. 12 </b>. A aplica&ccedil;&atilde;o do que disp&otilde;e esta Lei, a verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o do exerc&iacute;cio e atividades das profiss&otilde;es nela reguladas ser&atilde;o exercidas por um Conselho Federal de Analistas de Sistemas-CFAS e Conselhos Regionais de Analistas de Sistemas-CRAS, organizados de forma a lhes assegurar unidade de a&ccedil;&atilde;o.<p>

<b>Par&aacute;grafo &Uacute;nico</b>. A sede do CFAS ser&aacute; localizado no
Distrito Federal.<p>

<b>Art. 13 </b>. O CFAS promover&aacute; a instala&ccedil;&atilde;o, nos Estados, Distrito Federal e Territ&oacute;rios, dos Conselhos Regionais necess&aacute;rios &agrave; execu&ccedil;&atilde;o desta Lei, podendo qualquer deles estender-se a mais de um Estado.<p>

<b> &amp; 1 </b>. Cada Unidade da Federa&ccedil;&atilde;o s&oacute; poder&aacute; estar sob a jurisdi&ccedil;&atilde;o de um Conselho Regional.<p>

<b> &amp; 2 </b>. A sede dos Conselhos Regionais ser&aacute; no Distrito Federal, em Capital de Estado ou de Territ&oacute;rio Federal.<p>

<b>Art. 14 </b>. As atribui&ccedil;&otilde;es e a fixa&ccedil;&atilde;o da composi&ccedil;&atilde;o e organiza&ccedil;&atilde;o do Conselho Federal e dos Conselhos Regionais ser&atilde;o estabelecidos em regulamento do Poder Executivo.<p>

<b>Art. 15 </b>. Os profissionais habilitados na forma estabelecida na Lei s&oacute; poder&atilde;o exercer a profiss&atilde;o ap&oacute;s o registro no Conselho Regional sob cuja jurisdi&ccedil;&atilde;o se achar o local de sua atividade.<p>

<b>Art. 16 </b>. Os diplomados por cursos e escolas de ensino superior em processamento eletr&ocirc;nico de dados, oficiais ou reconhecidas, cujos diplomas n&atilde;o tenham sido registrados mas estejam em processo na reparti&ccedil;&atilde;o competente, poder&atilde;o exercer as respectivas profiss&otilde;es mediante registro provis&oacute;rio no Conselho Regional.<p>

<b>Art. 17 </b>. Aos estudantes em cursos e escolas de ensino superior em processamento eletr&ocirc;nico de dados, oficiais ou reconhecidas, ser&aacute; concedido resgistro tempor&aacute;rio no Conselho Regional para a realiza&ccedil;&atilde;o de est&aacute;gio de forma&ccedil;&atilde;o profissional.<p>

<b>Art. 18 </b>. Se o profissional, firma ou organiza&ccedil;&atilde;o, registrado em qualquer Conselho Regional, exercer atividade em outra regi&atilde;o, ficar&aacute; obrigado a visar nela, o seu registro.<p>

<b>Art. 19 </b>. As firmas, sociedades, associa&ccedil;&otilde;es, companhias, cooperativas, entidades estatais, paraestatais, aut&aacute;rquicas ou de economia mista, e empresas em geral, que se organizem para executar servi&ccedil;os relacionados na forma estabelecida nesta Lei, s&oacute; poder&atilde;o iniciar suas atividades depois de promoverem o competente registro nos Conselhos Regionais, bom como o dos profissionais do seu quadro t&eacute;cnico.<p>

<b>Art. 20 </b>. Toda e qualquer firma ou organiza&ccedil;&atilde;o que, embora n&atilde;o enquadrada no artigo anterior, tenha alguma se&ccedil;&atilde;o ligada ao exerc&iacute;cio profissional regulado na forma estabelecida nesta Lei, &eacute; obrigada a requerer o seu registro e a anota&ccedil;&atilde;o dos profissionais, legalmente habilitados, dele encarregados.<p>

<b>Art. 21 </b>. As firmas e entidades mencionadas nos artigos acima s&atilde;o obrigadas a fornecer aos Conselhos Regionais todos os elementos necess&aacute;rios &agrave; verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o da presente Lei.<p>

<b>Art. 22 </b>. Os profissionais e pessoas jur&iacute;dicas registradas de conformidade com o que preceitua a presente Lei s&atilde;o obrigados ao pagamento de uma anuidade ao Conselho Regional, a cuja jurisdi&ccedil;&atilde;o pertencerem.<p>

<b>Art. 23 </b>. Ser&aacute; automaticamente cancelado o registro do profissional ou da pessoa jur&iacute;dica que deixar de efetuar o pagamento da anuidade, a que estiver sujeito, durante 2 (dois) anos consecutivos, sem preju&iacute;zo da obrigatoriedade do pagamento da d&iacute;vida.<p>

<b>Art. 24 </b>. As pessoas n&atilde;o habilitadas que exercerem a profiss&atilde;o regulada nesta Lei est&atilde;o sujeitas &agrave;s penalidades previstas na legisla&ccedil;&atilde;o penal.<p>

<b>Art. 25 </b>. Os Conselhos Federal e Regional de Profissionais em An&aacute;lise de Sistemas, autarquias dotadas de personalidade jur&iacute;dica de direito p&uacute;blico, constituem servi&ccedil;o p&uacute;blico federal, gozando o seu patrim&ocirc;nio, rendas e servi&ccedil;os de imunidade tribut&aacute;ria, nos termos do inciso VI, "a", dp art. 150 da Constitui&ccedil;&atilde;o Federal, al&eacute;m de franquia postal e telegr&aacute;fica.<p>

<b>Art. 26 </b>. O Poder Executivo expedir&aacute; regulamento &agrave; presente Lei, no prazo de 60 (sessenta) dias contado de sua publica&ccedil;&atilde;o.<p>

<b>Art. 27 </b>. Esta Lei entra em vigor na data de sua publica&ccedil;&atilde;o.<p>

<b>Art. 28 </b>. Revogam-se todas as disposi&ccedil;&otilde;es em contr&aacute;rio<p>

<hr size=7>

<center>
<b>Tramita&ccedil;&atilde;o do Projeto</b><p>
</center>

03.06.92 - Plen&aacute;rio - Apresenta&ccedil;&atilde;o do Projeto pelo Dep.
Avenir Rosa - Mesa diretora - Despacho &agrave; CTASP e CCJR - Plen&aacute;rio - Leitura e publica&ccedil;&atilde;o da mat&eacute;ria<p>

10.09.92 - Com. Trab. Adm. e Serv. P&uacute;blico (CTASP) - Relator Dep. Edison
Fidelis - Prazo para apresenta&ccedil;&atilde;o de emendas: de 10 &agrave; 16.09.92<p>

17.09.92 - Com. Trab. Adm. e Serv. P&uacute;blico (CTASP) -N&atilde;o Foram
apresentadas emendas<p>

28.10.92 - Mesa diretora - Deferido requerimento da CCTCI, solicitando tramita&ccedil;&atilde;o deste projeto na comiss&atilde;o. Reconsiderado despacho inicial, para incluir a CCTCI, que dever&aacute; ser ouvida antes da CTASP - Com. Trab. Adm. e Serv. P&uacute;blico (CTASP) - Parecer favor&aacute;vel do relator Dep. Edison Fidelis<p> 

11.11.92 - Com. Trab. Adm. e Serv. P&uacute;blico (CTASP) - Prazo para
apresenta&ccedil;&atilde;o de destaques: 11 &agrave; 13.11.92<p>

05.05.93 - Com. Cien. Tecn. Com. Informatica (CCTCI) - Relator Dep. Ariosto
Holanda - Prazo para apresenta&ccedil;&atilde;o de emendas: de 5 &agrave; 11.05.93<p>

18.11.93 - Mesa Diretora - Deferido Of. P-224/93, da CCTCI, solicitando a
apensa&ccedil;&atilde;o deste ao PL. 2944/92<p>

</body>
