<head>
<title>Projeto Nro 2944 do dep. Avenir Rosa</title>
</head>

<body>

<center>
<h2>Projeto Nro 2944</h2>
Projeto de Lei Nro 2944, de 1992<br>
(Do Sr. Avenir Rosa)<p>
</center>

<hr size=7>

Regulamenta a profiss&atilde;o de programador de computadores e d&aacute;
outras provid&ecirc;ncias.<p>

(&Agrave;S COMISS&Otilde;ES DE TRABALHO, DE ADMINISTRA&Ccedil;&Atilde;O E
SERVI&Ccedil;O P&Uacute;BLICO; E DE CONSTITUI&Ccedil;&Atilde;O E
JUSTI&Ccedil;A E DE REDA&Ccedil;&Atilde;O (ART.54) - ART. 24, II).<p>

<br>

O CONGRESSO NACIONAL DECRETA:<p>

<b>Art. 1</b>. A designa&ccedil;&atilde;o profissional de Programador de Computador &eacute; privativa:<p>

a) dos portadores de diploma de segundo grau, ou equivalente, diplomados em
cursos de programadores de Computador Eletr&ocirc;nico reconhecidos pelo
Conselho Federal de Profissionais em Programa&ccedil;&atilde;o de Computadores
- CFPC;<p>

b) de todos aqueles que, at&eacute; a data de entrada em vigor da presente
lei, estejam exercendo ou j&aacute; tenham exercido, no curso de no
m&iacute;nimo 1 (um) ano, as fun&ccedil;&otilde;es de Programador de
Computadores, e que requeiram o respectivo registro aos Conselhos Regionais de
Profissionais em Programa&ccedil;&atilde;o de Computadores, dentro do prazo de
1 (um) ano da publica&ccedil;&atilde;o desta lei.<p>

<b>Art. 2</b>. Consideram-se atividades privativas dos profissionais de que trata esta lei:<p>

a) estudos, projetos, an&aacute;lises, per&iacute;cias, avalia&ccedil;&otilde;es, auditorias, pareceres, pesquisa, consultoria, laudos,
arbitramentos e relat&oacute;rios t&eacute;cnicos relativos ao processamento
eletr&ocirc;nico de dados;<p>

b) planejamento de projetos, em geral, de sistemas que envolvam o processamento eletr&ocirc;nico de dados;<p>

c) projeto e especifica&ccedil;&atilde;o de modelos de documentos, planilhas, relat&oacute;rios, formul&aacute;rios e arquivos utilizados em processamento eletr&ocirc;nico de dados;<p>

d) gerenciamento de arquivos utilizados em processamento eletr&ocirc;nico de dados;<p>

e) defini&ccedil;&atilde;o, estrutura&ccedil;&atilde;o, teste e simula&ccedil;&atilde;o de programas e sistemas;<p>

f) codifica&ccedil;&atilde;o, elabora&ccedil;&atilde;o, teste e simula&ccedil;&atilde;o de programas;<p>

g) estudos de viabilidades t&eacute;cnicas e financeiras para implanta&ccedil;&atilde;o de projetos e sistemas, assim como de m&aacute;quinas
e aparelhos envolvidos em processamento eletr&ocirc;nico de dados.<p>

<b>Art. 3</b>. O sal&aacute;rio m&iacute;nimo profissional do
Programador de Computadores corresponder&aacute; a 8 (oito) vezes o
sal&aacute;rio m&iacute;nimo fixado em lei, nacionalmente unificado.<p>

<b>Art. 4</b>. A jornada de trabalho do Programador de Computadores n&atilde;o ser&aacute; superior a 8 (oito) horas di&aacute;rias, e quarenta e quatro horas semanais, facultada a compensa&ccedil;&atilde;o de hor&aacute;rios e a redu&ccedil;&atilde;o da jornada, mediante acordo ou conven&ccedil;&atilde;o coletiva de trabalho.<p>

<b>Art. 5</b>. A remunera&ccedil;&atilde;o adicional por hora-extra ser&aacute;, no m&iacute;nimo, de 50% (cinquenta por cento) superior &agrave; do normal, nas duas primeiras horas ap&oacute;s a jornada de trabalho normal.<p>

<b>&amp; 1</b>. Na hip&oacute;tese de ocorrer tranalho em dia de descanso, s&aacute;bados, domingos e feriados regionais ou nacionais, a remunera&ccedil;&atilde;o adicional correspondente ser&aacute; de 200%
(duzentos por cento).<p>

<b>&amp; 2</b>. Em nenhuma hip&oacute;tese o profissional ser&aacute; obrigado a prorrogar a jornada de trabalho al&eacute;m de duas horas, mas, caso venha a prestar servi&ccedil;o ap&oacute;s a prorroga&ccedil;&atilde;o admitida, a remunera&ccedil;&atilde;o das horas excedentes ser&aacute; fixada por acordo ou conven&ccedil;&atilde;o coletiva de trabalho.<p>

<b>&amp; 3</b>. Para os casos de trabalho noturno a remunera&ccedil;&atilde;o ser&aacute; de no m&iacute;nimo 30% (trinta por cento) superior &agrave; do diurno.<p>

<b>Art. 6</b>. Ser&aacute; concedido adicional de insalubridade &agrave; raz&atilde;o de 20% (vinte por cento) do sal&aacute;rio profissional correspondente aos seguintes casos :<p>

a) utiliza&ccedil;&atilde;o de terminal de v&iacute;deo;<p>

b) trabalho em ambiente com n&iacute;vel de ru&iacute;do superior a 70 (setenta) decib&eacute;is;<p>

c) trabalho em ambiente com temperatura inferior a 18 (dezoito) graus cent&iacute;grados.<p>

<b>Art. 7</b>. Para efeito de aposentadoria, o tempo de servi&ccedil;o em processamento eletr&ocirc;nico de dados dever&aacute; ser contado &agrave; raz&atilde;o de 1 1/4 (um inteiro e um quarto) para cada ano ou fra&ccedil;&atilde;o de ano efetivamente trabalhado.<p>

<b>Art. 8</b>. Os est&aacute;gios na &aacute;rea s&oacute; ser&atilde;o permitidos no per&iacute;odo de forma&ccedil;&atilde;o profissional, n&atilde;o podendo ultrapassar o limite de 6 (seis) meses para os estudantes de an&aacute;lise e programa&ccedil;&atilde;o, e de 3 (tr&ecirc;s) meses para os demais, sob pena de serem nulos;<p>

<b>&amp; 1. </b> O n&uacute;mero de estagi&aacute;rios n&atilde;o pode exceder a 10% (dez por cento), complet&aacute;vel ao n&uacute;mero inteiro, em rela&ccedil;&atilde;o aos profissionais de cada setor da empresa.<p>

<b>&amp; 2. </b> A jornada m&aacute;xima semanal dos estagi&aacute;rios &eacute; de 20 (vinte) horas, e a remunera&ccedil;&atilde;o m&iacute;nima de 2 (duas) vezes o sal&aacute;rio m&iacute;nimo fixado em lei, nacionalmente unificado.<p>

<b>Art. 9</b>. A aplica&ccedil;&atilde;o do que disp&otilde;e esta Lei, a verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o do exerc&iacute;cio e atividades da profiss&atilde;o nela regulada ser&atilde;o exercidas por um Conselho Federal de Profissionais em Programa&ccedil;&atilde;o de Computadores - CFPC, e Conselhos Regionais de Profissionais em Programa&ccedil;&atilde;o, organizados de forma a lhes assegurar unidade de a&ccedil;&atilde;o.<p>

<b>Par&aacute;grafo &uacute;nico</b>. A sede do CFTT ser&aacute; localizado no Distrito Federal.<p>

<b>Art. 10</b>. O CFPC promover&aacute; a instala&ccedil;&atilde;o, nos Estados e no Distrito Federal, dos Conselhos Regionais necess&aacute;rios &agrave; execu&ccedil;&atilde;o desta Lei, podendo a a&ccedil;&atilde;o de qualquer deles estender-se a mais de um Estado.<p>

<b>&amp; 1</b>. Cada Unidade da Federa&ccedil;&atilde;o s&oacute; poder&aacute; estar sob jurisdi&ccedil;&atilde;o de um Conselho Regional.<p>

<b>&amp; 2</b>. A sede dos Conselhos Regionais ser&aacute; no Distrito Federal ou em capital de Estado.<p>

<b>Art. 11</b>. As atribui&ccedil;&otilde;es e a fixa&ccedil;&atilde;o da composi&ccedil;&atilde;o e organiza&ccedil;&atilde;o do Conselho Federal e dos Conselhos Regionais ser&atilde;o estabelecidos em regulamento do Poder Executivo.<p>

<b>Art. 12</b>. Os profissionais habilitados na forma estabelecida nesta Lei s&oacute; poder&atilde;o exercer a profiss&atilde;o ap&oacute;s o registro no Conselho Regional sob cuja jurisdi&ccedil;&atilde;o se achar o local de sua atividade.<p>

<b>Art. 13</b>. Os diplomados por cursos e escolas de ensino de Programa&ccedil;&atilde;o de Computadores, oficiais ou reconhecidas, cujos certificados n&atilde;o tenham sido registrados mas estejam em processamento na
reparti&ccedil;&atilde;o competente, poder&atilde;o exercer as respectivas
profiss&otilde;es mediante registro provis&oacute;rio no Conselho Regional.<p>

<b>Art. 14</b>. Aos estudantes em cursos e escolas de ensino superior em programa&ccedil;&atilde;o de dados, oficiais ou reconhecidas, ser&aacute; concedido o registro tempor&aacute;rio no Conselho Regional para a realiza&ccedil;&atilde;o de est&aacute;gio de forma&ccedil;&atilde;o profissional.<p>

<b>Art. 15</b>. Se o profissional, firma ou organiza&ccedil;&atilde;o, registrado em qualquer Conselho Regional, exercer atividades em outra regi&atilde;o, ficar&aacute; obrigado a visar, nela, o seu registro.<p>

<b>Art. 16</b>. As firmas, sociedades, associa&ccedil;&otilde;es, companhias, cooperativas, entidades estatais, paraestatais, aut&aacute;rquicas ou de economia mista, e empresas em geral, que se organizam para executar servi&ccedil;os relacionados na forma estabelecida nesta Lei, s&oacute; poder&atilde;o iniciar suas atividades depois de promoverem o competente registro nos Conselhos Regionais, bem como o dos programadores do seu quadro.<p>

<b>Art. 17</b>. Toda e qualquer firma ou organiza&ccedil;&atilde;o que, embora n&atilde;o enquadrada no artigo anterior, tenha alguma se&ccedil;&atilde;o ligada ao exerc&iacute;cio profissional regulado na forma estabelecida nesta Lei, &eacute; obrigada a requerer o seu registro e a anota&ccedil;&atilde;o dos profissionais, legalmente habilitados, dele encarregados.<p>

<b>Art. 18</b>. As firmas e entidades mencionadas nos artigos acima s&atilde;o obrigadas a fornecer aos Conselhos Regionais todos os elementos necess&aacute;rios &agrave; verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o da presente Lei.<p>

<b>Art. 19</b>. Os profissionais e pessoas jur&iacute;dicas registradas de conformidade com o que preceitua a presente Lei s&atilde;o obrigados ao pagamento de uma anuidade ao Conselho Regional, a cuja jurisdi&ccedil;&atilde;o pertencerem.<p>

<b>Art. 20</b>. Ser&aacute; automaticamente cancelado o registro do profissional ou da pessoa jur&iacute;dica que deixar de efetuar o pagamento da anuidade, a que estiver sujeito, durante 2 (dois) anos consecutivos, sem preju&iacute;zo da obrigatoriedade do pagamento da d&iacute;vida.<p>

<b>Art. 21</b>. As pessoas n&atilde;o habilitadas que exercerem a profiss&atilde;o regulada nesta Lei, independetemente da multa estabelecida, est&atilde;o sujeitos &agrave;s penalidades previstas na Lei de Contraven&ccedil;&otilde;es Penais.<p>

<b>Art. 22</b>. Os Conselhos Federal e Regionais de Profissionais em programa&ccedil;&atilde;o de computadores, autarquia dotada de personalidade jur&iacute;dica de direito p&uacute;blico, constitui servi&ccedil;o p&uacute;blico federal, gozando o seu patrim&ocirc;nio, rendas e servi&ccedil;os de imunidade tribut&aacute;ria, nos termos do inciso VI, a, do art. 150 da Constitui&ccedil;&atilde;o Federal, al&eacute;m de franquia postal e telegr&aacute;fica.<p>

<b>Art. 23</b>. O Poder Executivo expedir&aacute; regulamento &agrave; presente Lei, no prazo de 60 (sessenta) dias contado de sua publica&ccedil;&atilde;o.<p>

<b>Art. 24</b>. Esta Lei entra em vigor na data da sua publica&ccedil;&atilde;o.<p>

<b>Art. 25</b>. Revogam-se as disposi&ccedil;&otilde;es em contr&aacute;rio.<p>

<hr size=6>

<b>JUSTIFICA&Ccedil;&Atilde;O</b><p>
<br>

Esta iniciativa objetiva valorizar o Programador de Computadores que, embora
em n&uacute;mero elevado e representando consider&aacute;vel  parcela da
economia, at&eacute; o presente n&atilde;o teve regulamentada sua atividade
profissional.<p>

N&atilde;o deve perdurar tal omiss&atilde;o do Poder P&uacute;blico, na "era
da inform&aacute;tica", com respeito &agrave; regulamenta&ccedil;&atilde;o ora
proposta, sobretudo se considerarmos a exist&ecirc;ncia de milhares de
t&eacute;cnicos na &aacute;rea, formados por escolas sem o reconhecimento
oficial, apesar de sua capacita&ccedil;&atilde;o.<p>

O Projeto que oferecemos &agrave; aprecia&ccedil;&atilde;o dos nossos ilustres
Pares est&aacute; plenamente balizado pela Constitui&ccedil;&atilde;o,
sobretudo no tocante ao sal&aacute;rio m&iacute;nimo (art. 7,
inciso IV), &agrave; jornada de trabalho (art. 7, inciso XIII)
e &agrave; hora-extra (art. 7, incisos IX e XVI).<p>

Inconceb&iacute;vel que o Brasil, pr&oacute;ximo ao ano 2.000, continue
descompassado, ao particular, raz&atilde;o pelo qual acreditamos na
aprova&ccedil;&atilde;o desta iniciativa.<p>

Deputado AVENIR ROSA<p>

</body>
