<head>
<title>Projeto Nro 3043 do dep. Avenir Rosa</title>
</head>

<body>

<center>
<H2>Projeto Nro 3043</h2>
<sup></sup><p>
<sup></sup>Projeto de Lei Nro 3043, de 1992<p>
(Do Sr. Avenir Rosa)<p>
</center>

<hr size=7>

<br>

Regulamenta a profiss&atilde;o de T&eacute;cnicos em Teleprocessamento na
&aacute;rea de inform&aacute;tica e d&aacute; outras provid&ecirc;ncias.<p>

(&Agrave;S COMISS&Otilde;ES DE TRABALHO, DE ADMINISTRA&Ccedil;&Atilde;O E
SERVI&Ccedil;O P&Uacute;BLICO; E DE CONSTITUI&Ccedil;&Atilde;O E
JUSTI&Ccedil;A E DE REDA&Ccedil;&Atilde;O (ART.54) - ART. 24, II).<p>

<br>

O CONGRESSO NACIONAL DECRETA:<p>

<b>Art. 1</b>. A denomina&ccedil;&atilde;o de T&eacute;cnico em
Teleprocessamento na &aacute;rea de inform&aacute;tica &eacute; privativa:<p>

a) dos que tenham como fun&ccedil;&atilde;o principal, na &aacute;rea de
inform&aacute;tica, a manipula&ccedil;&atilde;o ou opera&ccedil;&atilde;o de
aparelhos ou m&aacute;quinas necess&aacute;rios ao processamento
eletr&ocirc;nico de dado, e que sejam portadores de certificados expedido por
estabelecimentos de ensino oficialmente reconhecidos;<p>

b) de quantos que, na data de entrada em vigor desta lei, estejam exercendo ou
j&aacute; tenham exercido, comprovadamente, durante no m&iacute;nimo 2 (dois)
anos, as fun&ccedil;&otilde;es de T&eacute;cnico em Teleprocessamento.<p>

<b>Par&aacute;grafo &uacute;nico</b>. Os T&eacute;cnicos em Teleprocessamento
na &aacute;rea de inform&aacute;tica, diplomados por entidades estrangeiras,
poder&atilde;o exercer a profiss&atilde;o, ap&oacute;s revalidarem seus
certificados, na forma da lei.<p>

<b>Art. 2</b>. Consideram-se atividades privativas dos profissionais de que
trata esta lei, o desempenho profissional diretamente relacionado com a
opera&ccedil;&atilde;o dos aparelhos ou m&aacute;quinas necess&aacute;rios ao
processamento eletr&ocirc;nico de dados.<p>

<b>Art. 3</b>. Consideram-se nulas as contrata&ccedil;&otilde;es firmadas por entidade p&uacute;blica ou particular, com pessoa f&iacute;sica ou jur&iacute;dica, em desacordo com a presente lei.<p>

<b>Art. 4</b>. O sal&aacute;rio m&iacute;nimo profissional do
T&eacute;cnico em Teleprocessamento corresponder&aacute; a 4 (quatro) vezes o
sal&aacute;rio m&iacute;nimo fixado em lei, nacionalmente unificado.<p>

<b>Art. 5</b>. A jornada de trabalho do T&eacute;cnico em
Teleprocessamento ser&aacute; de 6 (seis) horas para o trabalho realizado em
turnos ininterruptos de revezamento.<p>

<b>Art. 6</b>. A remunera&ccedil;&atilde;o adicional por
hora-extra ser&aacute;, no m&iacute;nimo, de 50% (cinquenta por cento) superior
&agrave; do normal, nas duas primeiras horas ap&oacute;s a jornada de trabalho
normal.<p>

<b>&amp; 1</b>. Ocorrendo expediente em dia de descanso,
s&aacute;bados, domingos e feriados regionais ou nacionais, a
remunera&ccedil;&atilde;o adicional correspondente ser&aacute; de 200%
(duzentos por cento).<p>

<b>&amp; 2</b>. Em nenhuma hip&oacute;tese o
T&eacute;cnico em Teleprocessamento ser&aacute; obrigado a prorrogar a jornada
de trabalho al&eacute;m de duas horas, mas, em prorrogando-a, a
remunera&ccedil;&atilde;o das horas excedentes ser&aacute; fixada por acordo ou
conven&ccedil;&atilde;o coletiva de trabalho.<p>

<b>&amp; 3</b>. A remunera&ccedil;&atilde;o do trabalho
noturno ser&aacute; de no m&iacute;nimo 30% (trinta por cento) superior
&agrave; do diurno.<p>

<b>Art. 7</b>. o T&eacute;cnico em Teleprocessamento
far&aacute; jus ao adicional de insalubridade, &agrave; raz&atilde;o de 20%
(vinte por cento) do sal&aacute;rio profissional.<p>

<b>Art. 8</b>. Para o fim de aposentadoria, o tempo de
servi&ccedil;o profissional de que trata esta Lei ser&aacute; computado
&agrave; raz&atilde;o de 1 1/4 (um inteiro e um quarto) para cada ano ou
fra&ccedil;&atilde;o de ano efetivamente trabalhado.<p>

<b>Art. 9</b>. O est&aacute;gio na &aacute;rea de
Teleprocessamento s&oacute; ser&aacute; permitido de forma&ccedil;&atilde;o
profissional, n&atilde;o podendo ser superior a 6 (seis) meses.<p>

<b>Par&aacute;grafo &uacute;nico</b>. O n&uacute;mero de estagi&aacute;rios
corresponder&aacute; a, no m&aacute;ximo, 10% (dez por cento) dos profissionais
de cada empresa, com jornada m&aacute;xima semanal de 20 (vinte) horas e a
remunera&ccedil;&atilde;o m&iacute;nima de 2 (duas) vezes o sal&aacute;rio
m&iacute;nimo fixado em lei, nacionalmente unificado.<p>

<b>Art. 10</b>. A aplica&ccedil;&atilde;o do que disp&otilde;es esta Lei, a verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o do exerc&iacute;cio e atividades da profiss&atilde;o nela regulada ser&atilde;o exercidas por um Conselho Federal de T&eacute;cnico em Teleprocessamento - CFTT - e Conselhos Regionais de T&eacute;cnicos em Teleprocessamento - CRTT - organizados de forma a lhes assegurar unidade de a&ccedil;&atilde;o.<p>

<b>Par&aacute;grafo &uacute;nico</b>. A sede do CFTT ser&aacute; localizado no
Distrito Federal.<p>

<b>Art. 11</b>. O CFTT promover&aacute; a instala&ccedil;&atilde;o nos Estados, Distrito Federal e Territ&oacute;rios,
dos Conselhos Regionais necess&aacute;rios &agrave; execu&ccedil;&atilde;o
desta Lei, podendo a a&ccedil;&atilde;o de qualquer deles estender-se a mais de
um Estado.<p>

<b>&amp; 1</b>. Cada Unidade da Federa&ccedil;&atilde;o
s&oacute; poder&aacute; estar sob jurisdi&ccedil;&atilde;o de um Conselho
Regional.<p>

<b>&amp; 2</b>. A sede dos Conselhos Regionais
ser&aacute; no Distrito Federal, em capital de Estado ou de Territ&oacute;rio
Federal.<p>

<b>Art. 12</b>. As atribui&ccedil;&otilde;es e a
fixa&ccedil;&atilde;o da composi&ccedil;&atilde;o e organiza&ccedil;&atilde;o
do Conselho Federal e dos Conselhos Regionais ser&atilde;o estabelecidos em
regulamento do Poder Legislativo.<p>

<b>Art. 13</b>. Os profissionais habilitados na forma
estabelecida nesta Lei s&oacute; poder&atilde;o exercer a profiss&atilde;o
ap&oacute;s o registro no Conselho Regional sob cuja jurisdi&ccedil;&atilde;o
se achar o local de sua atividade.<p>

<b>Art. 14</b>. Os diplomados por cursos e escolas de ensino
de Teleprocessamento na &aacute;rea de inform&aacute;tica oficiais ou
reconhecidas, cujos certificados n&atilde;o tenham sido registrados mas estejam
em processamento na reparti&ccedil;&atilde;o competente, poder&atilde;o exercer
as respectivas profiss&otilde;es mediante registro provis&oacute;rio no
Conselho Regional.<p>

<b>Art. 15</b>. Aos estudantes em cursos e escolas de ensino
superior em Teleprocessamento de dados, oficiais ou reconhecidas, ser&aacute;
concedido o registro tempor&aacute;rio no Conselho Regional para a
realiza&ccedil;&atilde;o de est&aacute;gio de forma&ccedil;&atilde;o
profissional.<p>

<b>Art. 16</b>. Se o profissional, firma ou
organiza&ccedil;&atilde;o, registrado em qualquer Conselho Regional, exercer
atividades em outra regi&atilde;o, ficar&aacute; obrigado a visar, nela, o seu
registro.<p>

<b>Art. 17</b>. As firmas, sociedades,
associa&ccedil;&otilde;es, companhias, cooperativas, entidades estatais,
paraestatais, aut&aacute;rquicas ou de economia mista, e empresas em geral, que
se organizam para executar servi&ccedil;os relacionados na forma estabelecida
nesta Lei, s&oacute; poder&atilde;o iniciar suas atividades depois de
promoverem o competente registro nos Conselhos Regionais, bem como o dos
T&eacute;cnicos em Teleprocessamento do seu quadro.<p>

<b>Art. 18</b>. Toda e qualquer firma ou organiza&ccedil;&atilde;o que, embora n&atilde;o enquadrada no artigo anterior,
tenha alguma se&ccedil;&atilde;o ligada ao exerc&iacute;cio profissional
regulado na forma estabelecida nesta Lei, &eacute; obrigada a requerer o seu
registro e a anota&ccedil;&atilde;o dos profissionais, legalmente habilitados,
dele encarregados.<p>

<b>Art. 19</b>. As firmas e entidades mencionadas nos artigos
acima s&atilde;o obrigadas a fornecer aos Conselhos Regionais todos os
elementos necess&aacute;rios &agrave; verifica&ccedil;&atilde;o e
fiscaliza&ccedil;&atilde;o da presente Lei.<p>

<b>Art. 20</b>. Os profissionais e pessoas jur&iacute;dicas
registradas de conformidade com o que preceitua a presente Lei s&atilde;o
obrigados ao pagamento de uma anuidade ao Conselho Regional, a cuja
jurisdi&ccedil;&atilde;o pertencerem.<p>

<b>Art. 21</b>. Ser&aacute; automaticamente cancelado o
registro do profissional ou da pessoa jur&iacute;dica que deixar de efetuar o
pagamento da anuidade, a que estiver sujeito, durante 2 (dois) anos
consecutivos, sem preju&iacute;zo da obrigatoriedade do pagamento da
d&iacute;vida.<p>

<b>Art. 22</b>. As pessoas n&atilde;o habilitadas que
exercerem a profiss&atilde;o regulada nesta Lei, independetemente da multa
estabelecida, est&atilde;o sujeitos &agrave;s penalidades previstas na Lei de
Contraven&ccedil;&otilde;es Penais.<p>

<b>Art. 23</b>. Os Conselhos Federal e Regionais de
Profissionais em Teleprocessamento, autarquia dotada de personalidade
jur&iacute;dica de direito p&uacute;blico, constitui servi&ccedil;o
p&uacute;blico federal, gozando o seu patrim&ocirc;nio, rendas e
servi&ccedil;os de imunidade tribut&aacute;ria, nos termos do inciso VI, a, do
art. 150 da Constitui&ccedil;&atilde;o Federal, al&eacute;m de franquia postal
e telegr&aacute;fica.<p>

<b>Art. 24</b>. O Poder Executivo expedir&aacute; regulamento
&agrave; presente Lei, no prazo de 60 (sessenta) dias contado de sua
publica&ccedil;&atilde;o.<p>

<b>Art. 25</b>. Esta Lei entra em vigor na data da sua
publica&ccedil;&atilde;o.<p>

<b>Art. 26</b>. Revogam-se as disposi&ccedil;&otilde;es em
contr&aacute;rio.<p>

<hr size=6>

<b>JUSTIFICA&Ccedil;&Atilde;O</b><p>

Esta iniciativa objetiva valorizar o T&eacute;cnico em Teleprocessamento na
&aacute;rea de inform&aacute;tica que, embora em n&uacute;mero elevado e
representando consider&aacute;vel  parcela da economia, at&eacute; o presente
n&atilde;o teve regulamentada sua atividade profissional.<p>

N&atilde;o deve persistir o descaso do Poder P&uacute;blico, em plena "era da
inform&aacute;tica", com respeito &agrave; regulamenta&ccedil;&atilde;o ora
proposta, mormente se considerarmos a exist&ecirc;ncia de milhares de
t&eacute;cnicos na &aacute;rea, formados por escolas n&atilde;o reconhecidas
oficialmente, apesar de sua capacita&ccedil;&atilde;o e alto n&iacute;vel de
responsabilidade.<p>

O Projeto que oferecemos &agrave; aprecia&ccedil;&atilde;o dos nossos ilustres
Pares est&aacute; plenamente balizado pela Constitui&ccedil;&atilde;o,
sobretudo no tocante ao sal&aacute;rio m&iacute;nimo (art. 7,
inciso IV), &agrave; jornada de trabalho (art. 7, inciso XIII)
e &agrave; hora-extra (art. 7, incisos IX e XVI).<p>

Inconceb&iacute;vel que o Brasil, pr&oacute;ximo ao fim do mil&ecirc;nio
continui descompassado ao particular, raz&atilde;o pelo qual acreditamos na
aprova&ccedil;&atilde;o desta iniciativa.<p>

	Deputado AVENIR ROSA<p>

</body>
