<head>
<title>Projeto do dep. Victor Faccioni</title>
</head>

<body>

<center>
<h2>Projeto do dep. Victor Faccioni</h2><p>
<b>Projeto de Lei</b><p>
<b>Nro 5.356-A de 1981</b><p>
<i>(Do Sr. Victor Faccioni)</i><p>
</center>

	Regulamenta as profiss&otilde;es da &aacute;rea de processamento
eletr&ocirc;nico de dados e d&aacute; outras provid&ecirc;ncias; tendo
pareceres: da Comiss&atilde;o de Constitui&ccedil;&atilde;o e Justi&ccedil;a,
pela constitucionalidade, juricidade e t&eacute;cnica leigislativa; e das
Comiss&otilde;es de Trabalho e Legisla&ccedil;&atilde;o Social e de
Finan&ccedil;as, pela aprova&ccedil;&atilde;o.<p>
<p>
<hr>
<p>
<center>
CAP&Iacute;TULO I<p>
<b>Do Exerc&iacute;cio da Profiss&atilde;o</b><p>
</center>

	<b>Art. 1 </b>  As profiss&otilde;es de Analista de Sistemas em
Processamento de Dados (PED), Programador de Computadores Eletr&ocirc;nicos,
Operador de Equipamento de Processamento de Dados, Digitador de Dados,
Preparador de Dados em Processamento Eletr&ocirc;nico de Dados e Controlador de
Qualidade em Processamento de Dados s&atilde;o regulamentados pela presente
Lei.<p>
<p>
	A designa&ccedil;&atilde;o profissional de Analista de Sistemas em
Processamento Eletr&ocirc;nico de Dados &eacute; privativa:<p>
<p>
	a) dos diplomados em cursos de n&iacute;vel superior em An&aacute;lise de
Sistemas, Inform&aacute;tica, Computa&ccedil;&atilde;o ou Processamento de
Dados, por estabelecimentos de ensino reconhecidos na forma da Lei;<p>
<p>
	b) de todos que at&eacute; a data da entrada em vigor da presente Lei,
comprovadamente estejam exercendo ou j&aacute; tenham exercido no curso de no
m&iacute;nimo 1 (um) ano, as fun&ccedil;&otilde;es de Analista de Sistemas,
segundo os crit&eacute;rios das atribui&ccedil;&otilde;es profissionais aqui
estabelecidos, e que requeiram o respectivo registro nos Conselhos Regionais de
Profissionais de Processamento Eletr&ocirc;nico de Dados dentro do prazo de 1
(um) ano da publica&ccedil;&atilde;o desta Lei;<p>
<p>
	c) dos diplomados em outros cursos de n&iacute;vel superior, que estejam
tamb&eacute;m diplomados em curso de p&oacute;s-gradua&ccedil;&atilde;o em
An&aacute;lise de Sistemas, Inform&aacute;tica, Computa&ccedil;&atilde;o ou
Processamento de Dados, por estabelecimentos de ensino reconhecidos na forma da
Lei.<p>
<p>
	<b>  1 </b>  Os Analistas de Sistemas em
Processamento Eletr&ocirc;nico de Dados formados por institui&ccedil;&otilde;es
de ensino estrangeiras poder&atilde;o exercer sua profiss&atilde;o desde que
tenham revalidados seus diplomas na forma da legisla&ccedil;&atilde;o em
vigor;<p>
<p>
	<b>  2 </b>   Aqueles que, at&eacute; a data da
publica&ccedil;&atilde;o da presente Lei, estejam exercendo ou j&aacute; tenham
exercido no curso de 1 (um) ano, as fun&ccedil;&otilde;es de Programador de
Computadores, segundo os crit&eacute;rios das atribui&ccedil;&otilde;es
profissionais aqui estabelecidos, poder&atilde;o, mesmo ap&oacute;s a data da
publica&ccedil;&atilde;o desta Lei, serem enquadrados na categoria de Analista
de Sistemas em Processamento Eletr&ocirc;nico de Dados desde que tenham seu
requerimento de enquadramento aprovado pelo Conselho Regional de Profissionais
em Processamento Eletr&ocirc;nico de Dados (CRPED);<p>
<p>
	<b>Art. 3 </b>  A designa&ccedil;&atilde;o profissional de
Programador de Computadores &eacute; privativa:<p>
<p>
	a) dos portadores de diplomas de segundo grau ou equivalente, diplomados em
cursos de Programadores de Computador Eletr&ocirc;nico reconhecidos pelo
Conselho Federal de Profissionais em Processamento Eletr&ocirc;nico de Dados
(CFPPD);<p>
<p>
	b) de todos aqueles que, at&eacute; a data da entrada em vigor da presente Lei
estejam exercendo ou j&aacute; tenham exercido no curso de no m&iacute;nimo 1
(um) ano as fun&ccedil;&otilde;es de programador de computadores, segundo os
crit&eacute;rios das atribui&ccedil;&otilde;es profissionais aqui
estabelecidas, e que requeiram o respectivo registro aos conselhos regionais de
Profissionais em Processamento Eletr&ocirc;nico de Dados dentro do prazo de 1
(um) ano da publica&ccedil;&atilde;o desta Lei.<p>
<p>
	<b>Art. 4 </b> A designa&ccedil;&atilde;o profissional de
Operador de Equipamento de Processamento Eletr&ocirc;nico de Dados &eacute;
privativa dos que tenham como fun&ccedil;&atilde;o principal a
manipula&ccedil;&atilde;o ou opera&ccedil;&atilde;o de aparelhos ou
m&aacute;quinas necess&aacute;rias ao Processamento Eletr&ocirc;nico de Dados,
e que tenham certificado de curso espec&iacute;fico reconhecido pelo CFPPD.<p>
<p>
	<b>Art. 5 </b>  A designa&ccedil;&atilde;o profissional de
Digitador de Dados em Processamento Eletr&ocirc;nico de Dados &eacute;
privativa dos que tenham como fun&ccedil;&atilde;o principal a atividade de
entrada de dados em equipamentos de Processamento Eletr&ocirc;nico de Dados,
atrav&eacute;s de quaisquer aparelhos ou m&aacute;quinas, e que tenham
certificado de curso espec&iacute;fico reconhecido pelo CFPPD.<p>
<p>
	<b>Art. 6 </b>  A designa&ccedil;&atilde;o profissional de
Preparador de Dados em Processamento Eletr&ocirc;nico de Dados &eacute;
privativa dos que tenham como fun&ccedil;&atilde;o principal codificar dados
para servi&ccedil;os (jobs, procedures, etc.) e revisar fluxos de
servi&ccedil;os a serem processados em Equipamentos Eletr&ocirc;nicos de Dados
e que tenham certificado de curso espec&iacute;fico reconhecido pelo CFPPD.<p>
<p>
	<b>Art. 7 </b>  A designa&ccedil;&atilde;o profissional de
Controlador de Qualidade em Processamento Eletr&ocirc;nico de Dados &eacute;
privativa dos que tenham como fun&ccedil;&atilde;o principal controlar,
analisar e selecionar, por t&eacute;cnicas de controle espec&iacute;ficas, os
servi&ccedil;os processados em Equipamentos Eletr&ocirc;nicos de Dados e que
tenham certificado de curso espec&iacute;fico reconhecido pelo CFPPD.<p>
<p>
<p>
	<b>Art. 8 </b>  Os casos omissos neste cap&iacute;tulo
ser&atilde;o resolvidos pelo CFPPD.<p>
<br>
<center>
CAP&Iacute;TULO II<p>
<b>Das Atribui&ccedil;&otilde;es Profissionais</b><p>
</center>
	<b>Art. 9 </b>  Para os fins desta Lei, considera-se
processamento eletr&ocirc;nico de dados as atividades que envolvam diretamente
o uso de computadores eletr&ocirc;nicos para tratamento de
informa&ccedil;&otilde;es, assim como as atividades relacionadas &agrave;
utiliza&ccedil;&atilde;o de equipamentos e m&aacute;quinas para a coleta e para
apresenta&ccedil;&atilde;o de resultados.<p>
<p>
	<b>Art. 10 </b>  Consideram-se atividades privativas dos
profissionais de que trata esta Lei:<p>
<p>
	a) ensino de t&eacute;cnicas de processamento de dados;<p>
<p>
	b) desempenho de cargos de supervis&atilde;o ou chefia na &aacute;reas de
an&aacute;lise, programa&ccedil;&atilde;o, opera&ccedil;&atilde;o,
digita&ccedil;&atilde;o, controle e preparo;<p>
<p>
	c) estudos, projetos, an&aacute;lises, per&iacute;cias,
avalia&ccedil;&otilde;es, auditorias, pareceres, pesquisa, consultoria, laudos,
arbitramento e relat&oacute;rios t&eacute;cnicos relativos ao processamento
eletr&ocirc;nicos de dados;<p>
<p>
	d) elabora&ccedil;&atilde;o de or&ccedil;amentos e defini&ccedil;&otilde;es
operacionais e funcionais de projetos e sistemas para processamento
eletr&ocirc;nico de dados;<p>
<p>
	f) projeto e especifica&ccedil;&otilde;es de modelos de documentos, planilhas,
relat&oacute;rios, formul&aacute;rios e arquivos utilizados em processamento
eletr&ocirc;nicos de dados;<p>
<p>
	g) acompanhamento, fiscaliza&ccedil;&atilde;o e controle de projetos ou
sistemas de processamento eletr&ocirc;nico de dados, em
produ&ccedil;&atilde;o;<p>
<p>
	h) gerenciamento de arquivos utilizados em processamento eletr&ocirc;nico de
dados;<p>
<p>
	i) defini&ccedil;&atilde;o, estrutura&ccedil;&atilde;o, teste e
simula&ccedil;&atilde;o de programas e sistemas;<p>
<p>
	j) codifica&ccedil;&atilde;o, elabora&ccedil;&atilde;o, teste e
simula&ccedil;&atilde;o de programas;<p>
<p>
	l) estudos de viabilidades t&eacute;cnicas e financeiras para
implanta&ccedil;&atilde;o de projetos e sistemas, assim como m&aacute;quinas e
aparelhos envolvidos em processamento eletr&ocirc;nico de dados;<p>
<p>
	m) pesquisa de novas aplica&ccedil;&otilde;es e otimiza&ccedil;&otilde;es
operacionais;<p>
<p>
	n) desempenho principal de atividade diretamente relacionada &agrave;
manipula&ccedil;&atilde;o e opera&ccedil;&atilde;o dos aparelhos ou
m&aacute;quinas necess&aacute;rias ao processamento eletr&ocirc;nico de
dados;<p>
<p>
	o) desempenho principal de atividade diretamente relacionada &agrave; entrada
de dados ou informa&ccedil;&otilde;es em equipamentos de processamento
eletr&ocirc;nico de dados;<p>
<p>
	p) desempenho principal de atividades de codifica&ccedil;&atilde;o de dados e
preparo de servi&ccedil;os a serem executados em equipamentos de processamento
de dados, atividades estas que envolvam t&eacute;cnicas especiais de
codifica&ccedil;&atilde;o e linguagens de servi&ccedil;os computadorizados;<p>
<p>
	q) desempenho principal de atividade diretamente relacionada ao controle de
qualidade dos servi&ccedil;os executados em equipamentos de processamento
eletr&ocirc;nico de dados.<p>
<p>
	<b>  1 </b>  O exerc&iacute;cio das atividades
enunciadas nas al&iacute;neas <b>c, d, e, f, g, h, i, l </b>e<b> m</b>
s&atilde;o exclusivos do analista de sistemas em processamento eletr&ocirc;nico
de dados.<p>
<p>
	<b>  2 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>j</b> e mais a presta&ccedil;&atilde;o de
aux&iacute;lio t&eacute;cnico ao analista de sistemas em processamento
eletr&ocirc;nico de dados nas atividades enunciadas na al&iacute;neas <b>c, d,
f, h, i, l</b> s&atilde;o exclusivos do programador de computadores.<p>
<p>
 	<b>  3 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>n</b> &eacute; exclusivo do operador de
equipamentos de processamento eletr&ocirc;nico de dados.<p>
<p>
	<b>  4 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>o</b> &eacute; exclusivo do digitador de dados.<p>
<p>
	<b>  5 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>p</b> &eacute; exclusivo do operador de dados em
processamento eletr&ocirc;nico de dados.<p>
<p>
	<b>  6 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>q</b> &eacute; exclusivo do controlador de
qualidade em processamento eletr&ocirc;nico de dados.<p>
<p>
	<b>  7 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>a</b> &eacute; exclusivo do profissional
habilitado na fun&ccedil;&atilde;o sobre a qual versar o ensino das
t&eacute;cnicas espec&iacute;ficas de processamento eletr&ocirc;nico de
dados.<p>
<p>
	<b>  8 </b>  O exerc&iacute;cio da atividade
enunciada na al&iacute;nea <b>b</b> &eacute; exclusivo do profissional
habilitado, pela presente Lei, para o exerc&iacute;cio da fun&ccedil;&atilde;o
b&aacute;sica envolvida na atividade em quest&atilde;o, exigindo-se que o
profissional tenha desempenhado pelo menos durante 1 (um) ano a
fun&ccedil;&atilde;o b&aacute;sica.<p>
<p>
<p>
	<b>Art. 11 </b>  Cabe &agrave;s congrega&ccedil;&otilde;es das
faculdades e escolas de an&aacute;lise de sistemas e programa&ccedil;&atilde;o
indicar ao CFPPD, em fun&ccedil;&atilde;o dos t&iacute;tulos apreciados
atrav&eacute;s da forma&ccedil;&atilde;o profissional, em termos
gen&eacute;ricos, as caracter&iacute;sticas dos profissionais por elas
diplomados.<p>
<p>
	<b>Art. 12 </b>  O CFPPD organizar&aacute; e manter&aacute;
atualizada a rela&ccedil;&atilde;o dos t&iacute;tulos concedidos pelas escolas
e faculdades, bem como seus cursos e curr&iacute;culos, com a
indica&ccedil;&atilde;o das suas caracter&iacute;sticas.<p>
<p>
	<b>Art. 13 </b>  No servi&ccedil;o p&uacute;blico federal,
estadual e municipal, em entidades aut&aacute;rquicas, empresas estatais e de
economia mista, os cargos e fun&ccedil;&otilde;es que exijam conhecimentos de
processamento eletr&ocirc;nico de dados, somente poder&atilde;o ser exercidos
por profissionais habilitados de acordo com esta Lei.<p>
<p>
	<b>Art. 14 </b>  Os estudos, projetos, laudos e qualquer outro
trabalho de an&aacute;lise de sistemas e programa&ccedil;&atilde;o, quer
p&uacute;blico, quer particular, somente poder&atilde;o ser submetidos ao
julgamento das autoridades competentes e s&oacute; ter&atilde;o valor
jur&iacute;dico quando seus autores forem profissionais habilitados de acordo
com esta Lei.<p>
<p>
	<b>Art. 15 </b>  Nos trabalhos gr&aacute;ficos,
especifica&ccedil;&otilde;es, or&ccedil;amentos, pareceres, laudos e atos
judiciais ou administrativos, &eacute; obrigat&oacute;ria, al&eacute;m da
assinatura, precedida de nome da empresa, sociedade, institui&ccedil;&atilde;o
ou firma a que interessarem,, a men&ccedil;&atilde;o expl&iacute;cita do
t&iacute;tulo do profissional que os subscrever e do n&uacute;mero da carteira
referida no art. 52.<p>
<p>
	<b>Art. 16 </b>  S&atilde;o nulos de pleno direito os contratos
referentes a qualquer ramos de an&aacute;lise de sistemas e
programa&ccedil;&atilde;o em processamento eletr&ocirc;nico de dados, inclusive
a elabora&ccedil;&atilde;o de projeto, dire&ccedil;&atilde;o ou
execu&ccedil;&atilde;o de atividades, quando firmados por entidade
p&uacute;blica ou particular com pessoa f&iacute;sica ou jur&iacute;dica
n&atilde;o legalmente habilitada a praticar a atividade nos termos desta Lei.<p>
<br>
<center>
CAP&Iacute;TULO III<p>
<b>Remunera&ccedil;&atilde;o e condi&ccedil;&otilde;es de trabalho dos
profissionais em processamento eletr&ocirc;nico de dados</b><p>
</center>
	<b>Art. 17 </b>  O sal&aacute;rio m&iacute;nimo profissional do
analista e do programador corresponder&aacute;, respectivamente, a 10 (dez) e 8
(oito) vezes o sal&aacute;rio m&iacute;nimo regional, o do operador e
preparador de dados em processamento eletr&ocirc;nico de dados
corresponder&aacute; a 6 (seis) vezes o sal&aacute;rio m&iacute;nimo regional,
e o do digitador e controlador de qualidade, corresponder&aacute; a 4 (quatro)
vezes o sal&aacute;rio m&iacute;nimo regional.<p>
<p>
	<b>Art. 18 </b>  A jornada de trabalho do analista e do
programador ser&aacute; de no m&aacute;ximo oito horas di&aacute;rias, em cinco
dias por semana.<p>
<p>
	<b>Art. 19 </b>  A jornada de trabalho do operador, digitador,
preparador e controlador de qualidade, ser&aacute; no m&aacute;ximo de seis
horas di&aacute;rias, em cinco dias por semana, sendo que a cada 50
(cinq&uuml;enta) minutos de trabalho dever&aacute; ter um intervalo de 10 (dez)
minutos, transferindo-se e acumulando-se o intervalo referente ao &uacute;ltimo
per&iacute;odo ao do terceiro per&iacute;odo, n&atilde;o descontados da jornada
de trabalho de 6 (seis) horas.<p>
<p>
	<b>Art. 20 </b>  A remunera&ccedil;&atilde;o adicional por
hora-extra, para os profissionais de processamento eletr&ocirc;nico de dados,
ser&aacute; de 100% (cem por cento) do sal&aacute;rio-hora nos dias
&uacute;teis nas primeiras duas horas ap&oacute;s a jornada de trabalho
normal.<p>
<p>
	<b>  1 </b>  Na hip&oacute;tese de ocorrer trabalho
em dia de repouso, s&aacute;bados, domingos e feriados regionais ou federais, a
remunera&ccedil;&atilde;o adicional ser&aacute; de 200% (duzentos por cento).<p>
<p>
	<b>  2 </b>  Em nenhuma hip&oacute;tese o
profissional de processamento eletr&ocirc;nico de dados ser&aacute; obrigado
&agrave; prorroga&ccedil;&atilde;o de jornada superior a duas horas, mas caso
venha a prestar servi&ccedil;o ap&oacute;s a prorroga&ccedil;&atilde;o
admitida, a remunera&ccedil;&atilde;o das horas excedentes ser&aacute; de 200%
(duzentos por cento).<p>
<p>
	<b>  3 </b>  Para os casos de trabalho noturno, a
remunera&ccedil;&atilde;o ser&aacute; acrescida de 30% (trinta por cento) a
t&iacute;tulo de adicional noturno.<p>
<p>
	<b>Art. 21 </b>  Aos profissionais de processamento
eletr&ocirc;nico de dados ser&aacute; concedido adicional por insaluridade
&agrave; raz&atilde;o de 20% (vinte por cento) do sal&aacute;rio profissional
correspondente nos seguintes casos:<p>
<p>
	a) utiliza&ccedil;&atilde;o de terminais de v&iacute;deo;<p>
<p>
	b) trabalho em ambiente com n&iacute;vel de ru&iacute;do superior a 70
(setenta) decib&eacute;is;<p>
<p>
	c) trabalho em ambientes com temperatura inferior a 18 (dezoito) graus
cent&iacute;grados.<p>
<p>
	<b>Art. 22 </b>  Para efeito de aposentadoria, o tempo de
servi&ccedil;o em processamento eletr&ocirc;nico de dados dever&aacute; ser
contado &agrave; raz&atilde;o de 1 1/4 (um inteiro e um quarto) para cada ano
ou fra&ccedil;&atilde;o de ano efetivamente trabalhado.<p>
<p>
	<b>Art. 23 </b>  Os est&aacute;gios na &aacute;rea de
processamento eletr&ocirc;nico de dados s&oacute; s&atilde;o permitidos no
per&iacute;odo de forma&ccedil;&atilde;o profissional, n&atilde;o podendo
ultrapassar o limite de 6 (seis) meses para os estudantes de an&aacute;lise e
programa&ccedil;&atilde;o, e de 3 (tr&ecirc;s) meses para os demais, sob pena
de serem nulos;<p>
<p>
	<b>  1 </b>  O n&uacute;mero de estagi&aacute;rios
n&atilde;o pode exceder a 10% (dez por cento), complet&aacute;vel ao
n&uacute;mero inteiro, em rela&ccedil;&atilde;o aos profissionais de cada setor
da empresa.<p>
<p>
	<b>  2 </b>  A jornada m&aacute;xima semanal dos
estagi&aacute;rios &eacute; de 20 (vinte) horas, e a remunera&ccedil;&atilde;o
m&iacute;nima de 2 (duas) vezes o sal&aacute;rio m&iacute;nimo regional, para
an&aacute;lise e programa&ccedil;&atilde;o, e de 1 (uma) vez o sal&aacute;rio
m&iacute;nimo regional para os demais.<p>
<p>
	<b>Art. 24 </b>  A loca&ccedil;&atilde;o de m&atilde;o-de-obra,
seja tempor&aacute;ria ou permanente, n&atilde;o ser&aacute; utilizada na
&aacute;rea de processamento eletr&ocirc;nico de dados, sob pena dos
profissionais, contratados por esta modalidade, passarem a ter v&iacute;nculo
empregat&iacute;cio, tamb&eacute;m com a empresa tomadora de servi&ccedil;os.<p>
<p>
	<b>Art. 25 </b>  A categoria profissional dos trabalhadores em
processamento eletr&ocirc;nico de dados fica inclu&iacute;da como categoria
diferenciada no segundo grupo da Confedera&ccedil;&atilde;o Nacional dos
Trabalhadores no Com&eacute;rcio, alterando o quadro de atividades e
profiss&otilde;es anexo &agrave; Consolida&ccedil;&atilde;o das Leis do
Trabalho aprovada pelo Decreto-Lei n  5.452, de
1  de maio de 1943.<p>
<br>
<center>
CAP&Iacute;TULO IV<p>
<b>Da responsabilidade</b><p>
</center>
	<b>Art. 26 </b>  Consideram-se, para efeito desta Lei, como
respons&aacute;veis por plano, projeto, sistema, estudo ou programa, os
profissionais designados como analista de sistemas ou programador de
computadores, que os tenham elaborado.<p>
<p>
	<b>Art. 27 </b>  Os pr&ecirc;mios ou distin&ccedil;&otilde;es
honor&iacute;ficas concedidos a planos, projetos, sistemas, programas ou
servi&ccedil;os t&eacute;cnicos, ser&atilde;o sempre atribu&iacute;dos ao
profissional que os elaborou.<p>
<p>
	<b>Art. 28 </b>  As altera&ccedil;&otilde;es de plano, projeto,
sistema, ou programa quando realizado por outro profissional que n&atilde;o os
tenha elaborado, passar&atilde;o a ser de inteira responsabilidade deste.<p>
<p>
	<b>Art. 29 </b>  Os profissionais em processamento
eletr&ocirc;nico de dados que colaborem na elabora&ccedil;&atilde;o de projetos
dever&atilde;o ter os respectivos nomes mencionados expressamente como
respons&aacute;veis da parte espec&iacute;fica que tiverem elaborado.<p>
<p>
	<b>Art. 30 </b>  Ao respons&aacute;vel por plano, projeto,
sistema ou programas ou a prepostos &eacute; assegurado o direito de acompanhar
a sua execu&ccedil;&atilde;o e implanta&ccedil;&atilde;o, de modo a garantir a
sua realiza&ccedil;&atilde;o de acordo com as condi&ccedil;&otilde;es,
especifica&ccedil;&otilde;es e detalhes t&eacute;cnicos estabelecidos.<p>
<br>
<center>
CAP&Iacute;TULO V<p>
<b>Da fiscaliza&ccedil;&atilde;o do exerc&iacute;cio das
profiss&otilde;es</b><p>
</center>

<b>I - Dos &oacute;rg&atilde;os fiscalizadores</b><p>
<p>
	<b>Art. 31 </b>  A aplica&ccedil;&atilde;o do que disp&otilde;e
esta Lei, a verifica&ccedil;&atilde;o e fiscaliza&ccedil;&atilde;o do
exerc&iacute;cio e atividades das profiss&otilde;es nela reguladas ser&atilde;o
exercidas por um Conselho Federal de Profissionais em Processamento
Eletr&ocirc;nico de Dados (CFPPD) e Conselhos Regionais de Profissionais em
Processamento Eletr&ocirc;nico de Dados (CRPPD), organizados de forma a lhes
assegurar unidade de a&ccedil;&atilde;o. <p>
<p>
	<b>Par&aacute;grafo &uacute;nico.</b>  A sede do CFPPD ser&aacute; localizada
no Distrito Federal.<p>
<p>
	<b>Art. 32 </b>  O CFPPD promover&aacute; a
instala&ccedil;&atilde;o, nos Estados, Distrito Federal e Territ&oacute;rios,
dos Conselhos Regionais necess&aacute;rios &agrave; execu&ccedil;&atilde;o
desta Lei, podendo, &agrave; a&ccedil;&atilde;o de qualquer deles, estender-se
a mais um Estado.<p>
<p>
	<b>  1 </b>  Cada Unidade da Federa&ccedil;&atilde;o
s&oacute; poder&aacute; estar sob a jurisdi&ccedil;&atilde;o de um Conselho
Regional.<p>
<p>
	<b>  2 </b>  A sede dos Conselhos Regionais
ser&aacute; no Distrito Federal em Capital de Estado ou de Territ&oacute;rio
Federal.<p>
<br>
<center>
CAP&Iacute;TULO VI<p>
<b>Do Conselho Federal de Profissionais em Processamento Eletr&ocirc;nico de Dados (CFPPD)</b><p>
</center>

<b>I - Da institui&ccedil;&atilde;o do Conselho e suas
atribui&ccedil;&otilde;es</b><p>
<p>
	<b>Art. 33 </b>  O CFPPD &eacute; a inst&acirc;ncia superior da
fiscaliza&ccedil;&atilde;o do exerc&iacute;cio profissional das atividades
regulamentadas pela presente Lei.<p>
<p>
	<b>Art. 34 </b>  S&atilde;o atribui&ccedil;&otilde;es do
Conselho Federal:<p>
<p>
	a) elaborar o C&oacute;digo de &Eacute;tica profissional e julgar, em grau de
recurso, as infra&ccedil;&otilde;es do c&oacute;digo de &eacute;tica
profissional dos profissionais de processamento eletr&ocirc;nico de dados;<p>
<p>
	b) estabelecer o ser regimento interno e estabelecer normas gerais para os
regimentos dos Coselhos Regionais;<p>
<p>
	c) homologar os regimentos internos estabelecidos pelos Conselhos Regionais;<p>
<p>
	d) examinar e decidir em &uacute;ltima inst&acirc;ncia os assuntos relativos
ao exerc&iacute;cio das profiss&otilde;es reguladas pela presente Lei, bem como
julgar em &uacute;ltima inst&acirc;ncia os recursos sobre registros,
decis&otilde;es e penalidades impostas pelos Conselhos Regionais;<p>
<p>
	e) baixar e fazer publicar as resolu&ccedil;&otilde;es para
regulamenta&ccedil;&atilde;o e execu&ccedil;&atilde;o da presente Lei, e,
ouvidos os Conselhos Regionais, resolver os casos omissos;<p>
<p>
	f) relacionar os cargos e fun&ccedil;&otilde;es dos servi&ccedil;os estatais,
paraestatais, aut&aacute;rquicos e de economia mista, para cujo
exerc&iacute;cio seja necess&aacute;ria a habilita&ccedil;&atilde;o junto ao
CFPPD;<p>
<p>
	g) publicar anualmente a rela&ccedil;&atilde;o de t&iacute;tulos, cursos e
escolas de ensino superior credenciados para a forma&ccedil;&atilde;o de
profissionais a que se refere o art. 10 da presente Lei, assim como publicar,
periodicamente, rela&ccedil;&atilde;o de profissionais habilitados;<p>
<p>
	h) promover, pelo menos uma vez por ano, reuni&otilde;es de representantes dos
Conselhos Federal e Regionais previstos no art. 4  desta Lei;<p>
<p>
	i) apreciar as propostas de cria&ccedil;&atilde;o de novos Conselhos Regionais
e fixar o n&uacute;mero de seus membros;<p>
<p>
	j) fixar e alterar as anuidades, emolumentos e taxas a pagar pelos
profissionais e pessoas jur&iacute;dicas;<p>
<p>
	l) autorizar e fiscalizar o funcionamento de cursos especializados e
espec&iacute;ficos de forma&ccedil;&atilde;o de programadores, operadores,
digitadores, preparadores e controladores de dados em processamento
eletr&ocirc;nico de dados.<p>
<p>
	<b>  1 </b>  Nas quest&otilde;es relativas &agrave;s
atribui&ccedil;&otilde;es profissionais, constantes no cap&iacute;tulo II, a
decis&atilde;o do Conselho Federal s&oacute; ser&aacute; tomada com o
m&iacute;nimo de 10 (dez) votos favor&aacute;veis.<p>
<p>
	<b>  2 </b>  Os casos omissos neste artigo
ser&atilde;o resolvidos pelo CFPPD. <p>
<p>
	<b>Art. 35 </b>  Constituem renda do Conselho Federal:<p>
<p>
	a) um d&eacute;cimo da renda bruta dos Conselhos Regionais;<p>
<p>
	b) doa&ccedil;&otilde;es, legados, juros e receitas patrimoniais;<p>
<p>
	c) subven&ccedil;&otilde;es.<p>
<p>
<p>
<b>II - Da composi&ccedil;&atilde;o e organiza&ccedil;&atilde;o</b><p>
<p>
	<b>Art. 36 </b>   O Conselho Federal de Processamento
Eletr&ocirc;nico de Dados &eacute; constitu&iacute;do por 15 (quinze) membros,
brasileiros, profissionais habilitados de acordo com esta Lei, eleitos pelos
Conselhos Regionais de Processamento de Dados.<p>
<p>
	<b>  1 </b>  Cada membro do Conselho Federal
ser&aacute; eleito com 1 (um) suplente.<p>
<p>
	<b>  2 </b> O Presidente do Conselho Federal
ser&aacute; eleito por maioria absoluta, dentre os seus membros.<p>
<p>
	<b>  3 </b>  Os membros e suplentes do primeiro
Conselho Federal ser&atilde;o eleitos pelas Diretorias das
Associa&ccedil;&otilde;es de Profissionais de Processamento Eletr&ocirc;nico de
Dados (APPDs) dos diferentes Estados, 30 (trinta) dias ap&oacute;s a entrada em
vigor da presente Lei.<p>
<p>
	<b>Art. 37 </b>   Os mandatos dos membros do Conselho Federal e
do Presidente ser&atilde;o de 2 (dois) anos.<p>
<p>
	<b>Par&aacute;grafo &uacute;nico.</b>  Os mandatos dos membros do primeiro
CFPPD e do Presidente ser&aacute; de 1 (um) ano.<p>
<br>
<center>
CAP&Iacute;TULO VII<p>
<b>Dos Conselhos Regionais de Profissionais em Processamento Eletr&ocirc;nico de Dados (CRPPD)</b><p>
</center>

<b>I - Da institui&ccedil;&atilde;o dos Conselhos Regionais e suas
atribui&ccedil;&otilde;es</b><p>
<p>
	<b>Art. 38 </b> Os CRPPD's s&atilde;o &oacute;rg&atilde;os de
fiscaliza&ccedil;&atilde;o do exerc&iacute;cio das profiss&otilde;es de
processamento eletr&ocirc;nico de dados em suas regi&otilde;es.<p>
<p>
	<b>Art. 39 </b>  S&atilde;o atribui&ccedil;&otilde;es dos
Conselhos Regionais:<p>
<p>
	a) julgar e decidir os processos de infra&ccedil;&atilde;o da presente Lei e
do C&oacute;digo de &Eacute;tica;<p>
<p>
	b) elaborar e alterar seu Regimento Interno, submentendo-o &agrave;
homologa&ccedil;&atilde;o do Conselho Federal;<p>
<p>
	c) examinar reclama&ccedil;&otilde;es e representa&ccedil;&otilde;es acerca de
registros;<p>
<p>
	d) julgar, em grau de recurso, os processos de imposi&ccedil;&atilde;o de
penalidade e multas;<p>
<p>
	e) organizar o sistema de fiscaliza&ccedil;&atilde;o do exerc&iacute;cio das
profiss&otilde;es reguladas pela presente Lei;<p>
<p>
	f) publicar relat&oacute;rios de seus trabalhos e rela&ccedil;&otilde;es
profissionais e firmas registradas;<p>
<p>
	<p>
	g) examinar os requerimentos e processos de registros em geral, expedindo as
carteiras profissionais ou documentos de registro;<p>
<p>
	h) sugerir ao Conselho Federal medidas necess&aacute;rias &agrave;
regulamenta&ccedil;&atilde;o dos servi&ccedil;os e &agrave;
fiscaliza&ccedil;&atilde;o do exerc&iacute;cio das profiss&otilde;es reguladas
nesta Lei;<p>
<p>
	i) agir, com a colabora&ccedil;&atilde;o das sociedades de classe e dos cursos
e escolas de ensino superior em processamento eletr&ocirc;nico de dados, nos
assuntos relacionados com a presente Lei;<p>
<p>
	j) cumprir e fazer cumprir a presente Lei, as resolu&ccedil;&otilde;es
baixadas pelo Conselho Federal, bem como expedir atos que para isso julguem
necess&aacute;rios;<p>
<p>
	l) criar inspetorias e nomear inspetores para maior efici&ecirc;ncia da
fiscaliza&ccedil;&atilde;o;<p>
<p>
	m) deliberar sobre assuntos de interesse geral e administrativos e sobre os
casos comuns a diferentes especializa&ccedil;&otilde;es profissionais de
processamento eletr&ocirc;nico de dados;<p>
<p>
	n) organizar, disciplinar e manter atualizado o registro dos profissionais e
pessoas jur&iacute;dicas que, nos termos desta Lei, se inscrevam para exercer
atividade privativas dos profissionais em processamento eletr&ocirc;nico de
dados na regi&atilde;o;<p>
<p>
	o) registrar as tabelas b&aacute;sicas de honor&aacute;rios profissionais
elaboradas pelos &oacute;rg&atilde;os de classe.<p>
<p>
	<b>Art. 40 </b>   Constituem renda dos Conselhos Regionais:<p>
<p>
	a) anuidades;<p>
<p>
	b) as taxas de expedi&ccedil;&atilde;o das carteiras profissionais e de
registros;<p>
<p>
	c) as multas aplicadas de conformidade com a presente Lei;<p>
<p>
	d) doa&ccedil;&otilde;es, legados, juros e receitas patrimoniais;<p>
<p>
	e) subven&ccedil;&otilde;es.<p>
<p>
	<b>Art. 41 </b>  Da renda bruta proveniente da
arrecada&ccedil;&atilde;o das taxas e multas referidas nas al&iacute;neas
<b>a</b> e <b>b</b> do artigos anterior, o Conselho Regional recolher&aacute;
um d&eacute;cimo ao Conselho Federal, de acordo com o que disp&otilde;e o art.
35.<p>
<p>
<b>II - Da Composi&ccedil;&atilde;o e Organiza&ccedil;&atilde;o</b><p>
<p>
	<b>Art. 42 </b>  Os Conselhos Regionais ser&atilde;o
constitu&iacute;dos de, no m&iacute;nimo, 15 (quinze) brasileiros legalmente
habilitados de acordo com a presente Lei, obedecida a seguinte
composi&ccedil;&atilde;o:<p>
<p>
	a) um Presidente, eleito por maioria absoluta pelos membros do  Conselho, com
mandato de 2 (dois) anos;<p>
<p>
	b) os membros dos Conselhos Regionais e seus suplentes ser&atilde;o eleitos
por voto direto e por maioria simples pelos profissionais registrados no
respectivo Conselho Regional, em elei&ccedil;&atilde;o especialmente convocada
para este fim pelos Conselhos Regionais.<p>
<p>
	<b>  1 </b>  Cada membro do Conselho ser&aacute;
eleito com um suplente.<p>
<p>
	<b>  2 </b>  A convoca&ccedil;&atilde;o para as
elei&ccedil;&otilde;es para os primeiros Conselhos Regionais ser&aacute; feita
pelo primeiro Conselho Federal at&eacute;, no m&aacute;ximo, 90 (noventa) dias
ap&oacute;s a entrada em vigor da presente Lei.<p>
<p>
	<b>Art. 43 </b>  O mandato dos Conselheiros Regionais
ser&aacute; de 2 (dois) anos.<p>
<p>
	<b>Art. 44 </b>  Cada Conselho Regional ter&aacute;
Inspetorias, para fins de fiscaliza&ccedil;&atilde;o, nas cidades ou zonas onde
estas se fizerem necess&aacute;rias.<p>
<br>
<center>
CAP&Iacute;TULO VIII<p>
<b>Disposi&ccedil;&otilde;es Gerais e Transit&oacute;rias</b><p>
</center>
	<b>Art. 45 </b>  Aos Presidentes dos Conselhos Federal e
Regionais compete, al&eacute;m da dire&ccedil;&atilde;o do respectivo conselho,
sua representa&ccedil;&atilde;o em ju&iacute;zo.<p>
<p>
	<b>Art. 46 </b>  O Conselheiro Federal ou Regional que durante
1 (um) ano faltar, sem licen&ccedil;a pr&eacute;via, a 6 (seis) sess&otilde;es
consecutivas ou n&atilde;o, perder&aacute; automaticamente o mandato, passando
o mesmo a ser exercido em car&aacute;ter efetivo pelo respectivo suplente.<p>
<p>
	<b>Art. 47 </b>  O mandato dos Presidentes e dos Conselheiros
n&atilde;o ser&aacute; remunerado.<p>
<p>
	<b>Art. 48 </b>  O exerc&iacute;cio da fun&ccedil;&atilde;o de
membro dos Conselhos por espa&ccedil;o de tempo n&atilde;o inferior a dois
ter&ccedil;os do respectivo mandato ser&aacute; considerado servi&ccedil;o
relevante prestado &agrave; Na&ccedil;&atilde;o.<p>
<p>
	<b>Par&aacute;grafo &uacute;nico.</b>  O Conselho Federal conceder&aacute;,
aos que se acharem nas condi&ccedil;&otilde;es deste artigo, o certificado de
servi&ccedil;os relevante, independentemente do requerimento do interessado,
dentro de 12 (doze) meses contados a partir da comunica&ccedil;&atilde;o dos
conselhos.<p>
<p>
	<b>Art. 49 </b>  Os representantes dos Conselhos Federal e
Regionais reunir-se-&atilde;o pelo menos uma vez por ano para, conjuntamente,
estudar e estabelecer provid&ecirc;ncias ou que assegurem ou aperfei&ccedil;oem
a aplica&ccedil;&atilde;o da presente Lei, devendo o Conselho Federal remeter
aos Conselhos Regionais, com a devida anteced&ecirc;ncia, o tem&aacute;rio
respectivo.<p>
<p>
	<b>Art. 50 </b>  Aos Conselhos Regionais compete o encargo de
dirimir qualquer d&uacute;vida ou omiss&atilde;o sobre a
aplica&ccedil;&atilde;o desta Lei, com recursos <b>ex officio</b>, de efeito
suspensivo, para o Conselho Federal, ao qual compete decidir, em &uacute;ltima
inst&acirc;ncia, em car&aacute;ter geral.<p>
<br>
<center>
CAP&Iacute;TULO IX<p>
<b>Do registro e Fiscaliza&ccedil;&atilde;o Profissional</b><p>
</center>

<b>I - Do Registro dos Profissionais</b><p>
<p>
	<b>Art. 51 </b>  Os profissionais de processamento
eletr&ocirc;nico de dados habilitados na forma estabelecida nesta Lei s&oacute;
poder&atilde;o exercer a profiss&atilde;o ap&oacute;s o registro no Conselho
Regional, sob cuja jurisdi&ccedil;&atilde;o se achar o local da sua
atividade.<p>
<p>
	<b>Art. 52 </b>  A identidade profissional expedida aos
profissionais registrados pelos CRPPD's substituir&aacute; os diplomas e
certificados e valer&aacute; como documento de identidade, tendo f&eacute;
p&uacute;blica em todo o territ&oacute;rio nacional.<p>
<p>
	<b>Par&aacute;grafo &uacute;nico.</b>  Para emiss&atilde;o da carteira
profissional os Conselhos Regionais dever&atilde;o exigir do interessado a
prova de habilita&ccedil;&atilde;o profissional e de identidade.<p>
<p>
	<b>Art. 53 </b>  Os diplomados por cursos ou escolas de ensino
superior em processamento eletr&ocirc;nico de dados, oficiais ou reconhecidas,
cujos diplomas n&atilde;o tenham sido registrados, mas estejam em processamento
na reparti&ccedil;&atilde;o competente, poder&atilde;o exercer as respectivas
profiss&otilde;es mediante registro provis&oacute;rio no Conselho Regional.<p>
<p>
	<b>Art. 54 </b>  Aos estudantes em cursos e escolas de ensino
superior em processamento eletr&ocirc;nico de dados, oficiais ou reconhecidas,
ser&aacute;  concedido o registro tempor&aacute;rio no Conselho Regional para a
realiza&ccedil;&atilde;o de est&aacute;gio de forma&ccedil;&atilde;o
profissional.<p>
<p>
	<b>Art. 55 </b>  Se o profissional, firma ou
organiza&ccedil;&atilde;o, registrado em qualquer Conselho Regional, exercer
atividade em outra regi&atilde;o, ficar&aacute; obrigado a visar, nela, o seu
registro.<p>
<p>
<b>II - Do Registro de Firmas e Entidades</b><p>
<p>
	<b>Art. 56 </b>  As firmas, sociedades,
associa&ccedil;&otilde;es, companhias, cooperativas, entidades estatais,
paraestatais, aut&aacute;rquicas ou de economia mista, e empresas em geral que
se organizem para executar servi&ccedil;os relacionados na forma estabelecida
nesta Lei, s&oacute; poder&atilde;o iniciar suas atividades depois de
promoverem o competente registro nos Conselhos Regionais, bem como o dos
profissionais do seu quadro t&eacute;cnico.<p>
<p>
	<b>  1 </b>  O registro de firmas, sociedades,
associa&ccedil;&otilde;es, companhias, cooperativas, entidades estatais,
paraestatais, aut&aacute;rquicas ou de economia mista, e empresas em geral
s&oacute; ser&aacute; concedido se sua denomina&ccedil;&atilde;o for realmente
condizente com sua finalidade e qualifica&ccedil;&atilde;o de seus
componentes.<p>
<p>
	<b>  2 </b>  O Conselho Federal estabelecer&aacute;,
em resolu&ccedil;&otilde;es, os requisitos que as firmas ou demais
organiza&ccedil;&otilde;es prevista neste artigo dever&atilde;o preencher para
o seu registro.<p>
<p>
	<b>Art. 57 </b>  Toda e qualquer firma ou
organiza&ccedil;&atilde;o que, embora n&atilde;o enquadrada no artigo anterior,
tenha alguma se&ccedil;&atilde;o ligado ao exerc&iacute;cio profissional
regulado na forma estabelecida nesta Lei, &eacute; obrigada a requerer o seu
registro e a anota&ccedil;&atilde;o dos profissionais, legalmente habilitados,
dele encarregados.<p>
<p>
	<b>Art. 58 </b>   As firmas e entidades mencionadas nos artigos
acima s&atilde;o obrigadas a fornecer aos Conselhos Regionais todos os
elementos necess&aacute;rios &agrave; verifica&ccedil;&atilde;o e
fiscaliza&ccedil;&atilde;o da presente Lei.<p>
<p>
<b>III - Das Anuidades, Emolumentos e Taxas</b><p>
<p>
	<b>Art. 59 </b>  Os profissionais e pessoas jur&iacute;dicas
registradas de conformidade com que preceita a presente Lei s&atilde;o
obrigados ao pagamento de uma anuidade ao Conselho Regional, a cuja
jurisdi&ccedil;&atilde;o pertencem.<p>
<p>
	<b>  1 </b>  A anuidade a que se refere este artigo
ser&aacute; paga at&eacute; 31 de mar&ccedil;o de cada ano.<p>
<p>
	<b>  2 </b>  O pagamento da anuidade fora deste prazo
ter&aacute; um acr&eacute;scimo a t&iacute;tulo de mora, estabelecido pelo
Conselho Regional.<p>
<p>
	<b>  3 </b>  O pagamento da anuidade inicial
ser&aacute; feito por ocasi&atilde;o do registro.<p>
<p>
	<b>Art. 60 </b>  Ser&aacute; automaticamente cancelado o
registro do profissional ou da pessoa jur&iacute;dica que deixar de efetuar o
pagamento da anuidade a que estiver sujeito durante 2 (dois) anos consecutivos,
sem preju&iacute;zo da obrigatoriedade do pagamento da d&iacute;vida.<p>
<p>
	<b>Par&aacute;grafo &uacute;nico.</b>  Se o profissional ou pessoa
jur&iacute;dica que tiver seu registro cancelado nos termos deste artigo,
desenvolver qualquer atividade regulada nesta Lei, estar&aacute; exercendo
ilegalmente a profiss&atilde;o, podendo reabilitar-se mediante novo registro.
Havendo pago, al&eacute;m das anuidades em d&eacute;bito, as multas que lhes
tenham sido impostas e os demais emolumentos e taxas regulamentares.<p>
<p>
	<b>Art. 61 </b>  Toda vez que o profissional apresentar a um
Conselho Regional sua identidade profissional para o competente visto e
registro, dever&aacute; fazer prova de ter pago a sua anuidade na regi&atilde;o
de origem.<p>
<p>
	<b>Art. 62 </b>  O pagamento da anuidade devida por
profissional ou pessoa jur&iacute;dica somente ser&aacute; aceito ap&oacute;s
verificada a aus&ecirc;ncia de quaisquer d&eacute;bitos concernentes a multas,
emolumentos, taxas ou anuidades de exerc&iacute;cios anteriores.<p>
<p>
	<b>Art. 63 </b>  Embora legalmente registrado, s&oacute;
ser&aacute; considerado leg&iacute;timo exerc&iacute;cio da profiss&atilde;o e
atividades de que trata a presente Lei o profissional ou pessoa jur&iacute;dica
que esteja em dia com o pagamento da respectiva anuidade.<p>
<p>
	<b>Art. 64 </b>  As autoridades administrativas e
jur&iacute;dicas, as reparti&ccedil;&otilde;es estatais, paraestatais,
aut&aacute;rquicas ou de economia mista n&atilde;o receber&atilde;o estudos,
projetos, laudos, per&iacute;cias, arbitramentos e quaisquer trabalhos sem que
os autores, profissionais ou pessoas jur&iacute;dicas, fa&ccedil;am prova de
estar em dia com o pagamento da respectiva anuidade.<p>
<p>
	<b>Art. 65 </b>  S&oacute; poder&atilde;o ser admitidos nas
concorr&ecirc;ncias p&uacute;blicas para servi&ccedil;os t&eacute;cnicos e para
concursos de projetos, profissionais e pessoas jur&iacute;dicas que
apresentarem prova de quita&ccedil;&atilde;o de d&eacute;bito ou visto do
Conselho Regional da jurisdi&ccedil;&atilde;o onde a obra, servi&ccedil;o
t&eacute;cnico ou projeto deva ser executado.<p>
<p>
	<b>Art. 66 </b>  O Conselho Federal baixar&aacute;
resolu&ccedil;&otilde;es estabelecendo o regime de custas e, periodicamente,
quando julgar oportuno, promover&aacute; sua revis&atilde;o.<p>
<p>
<b>IV - Das Penalidades</b><p>
<p>
	<b>Art. 67 </b>  As penalidades aplic&aacute;veis aos
profissionais por infra&ccedil;&atilde;o da presente Lei ser&atilde;o
estabelecidas atrav&eacute;s de Resolu&ccedil;&atilde;o do Conselho Federal.<p>
<p>
	<b>Art. 68 </b>  As pessoas n&atilde;o habilitadas que
exercerem as profiss&otilde;es reguladas nesta Lei, independentemente da multa
estabelecida, est&atilde;o sujeitas &agrave;s penalidades previstas na Lei de
Contraven&ccedil;&otilde;es Penais.<p>
<p>
	<b>Art. 69 </b>  Das penalidades impostas, poder&aacute; o
interessado, dentro do prazo de 10 (dez) dias, contados da data de
notifica&ccedil;&atilde;o, interpor recurso que ter&aacute; efeito suspensivo,
para o Conselho Regional e, ao mesmo prazo, deste para o Conselho Federal.<p>
<p>
	<b>Art. 70 </b>  O profissional punido por falta de registro
n&atilde;o poder&aacute; obter identidade profissional sem antes efetuar o
pagamento das multas em que houver incorrido.<p>
<br>
<center>
CAP&Iacute;TULO X<p>
<b>Disposi&ccedil;&otilde;es Finais</b><p>
</center>

	<b>Art. 71 </b>  Os Conselhos Federal e Regionais de
Profissionais em Processamento Eletr&ocirc;nico de Dados, autarquias dotadas de
personalidades jur&iacute;dicas de direito p&uacute;blico, constituem
servi&ccedil;o p&uacute;blico federal, gozando os seus bens, rendas e
servi&ccedil;os de imunidade tribut&aacute;ria total nos termos do art. 19,
inciso III, da Constitui&ccedil;&atilde;o Federal, al&eacute;m de franquia
postal e telegr&aacute;fica.<p>
<p>
	<b>Art. 72 </b>  Nenhum profissional poder&aacute; exercer
fun&ccedil;&otilde;es eletivas em Conselhos por mais de dois per&iacute;odos
sucessivos.<p>
<p>
	<b>Art. 73 </b>  Os Conselhos Federal e Regionais, eleitos na
forma desta Lei, ter&atilde;o o prazo de 180 (cento e oitenta) dias,
ap&oacute;s a posse, para elaborar seus regimentos internos.<p>
<p>
	<b>Art. 74 </b>  Esta Lei entra em vigor na data de sua
publica&ccedil;&atilde;o.<p>
<p>
	<b>Art. 75 </b>  Revogam-se as disposi&ccedil;&otilde;es em
contr&aacute;rio.<p>
<p>
<p>
<b>Justifica&ccedil;&atilde;o</b><p>
<p>
	O presente Projeto de Lei tem por objetivo a regulamenta&ccedil;&atilde;o das
diversas profiss&otilde;es que efetivamente s&atilde;o exercidas na &aacute;rea
de processamento eletr&ocirc;nico de dados. Tais profiss&otilde;es, que
&eacute; mister e regulamentar na forma juridicamente estabelecida para as
atividades profissionais em nosso Pa&iacute;s, s&atilde;o as de Analistas de
Sistemas de Processamento Eletr&ocirc;nico de Dados, Programador de
Computadores Eletr&ocirc;nicos, Operador de Equipamento de Processamento
Eletr&ocirc;nico de Dados, Digitador de Dados, Preparador de Dados em
Processamento Eletr&ocirc;nico de Dados e Controlador de dados em Processamento
Eletr&ocirc;nico de Dados.<p>
<p>
	Trata-se de um projeto de regulamenta&ccedil;&atilde;o profissional
<b><i>elaborado com a colabora&ccedil;&atilde;o dos profissionais de
processamento de dados, reunidos em suas Associa&ccedil;&otilde;es</i></b> (o
grifo &eacute; nosso), que, atrav&eacute;s da proposta que ora encaminhamos
&agrave; considera&ccedil;&atilde;o desta Casa, dever&atilde;o ter atendidas
suas justas aspira&ccedil;&otilde;es.<p>
<p>
	Nos dias atuais, podemos verificar que os computadores eletr&ocirc;nicos
t&ecirc;m um impacto cada vez maior na vida de cada um. O Pa&iacute;s como um
todo e a Administra&ccedil;&atilde;o P&uacute;blica em particular depende
crescentemente da a&ccedil;&atilde;o dos profissionais que fazem operar os
equipamentos de processamento, cuja a&ccedil;&atilde;o vai desde a
emiss&atilde;o de contas de &aacute;gua e luz encaminhadas a usu&aacute;rios
nas periferias das grandes metr&oacute;poles at&eacute; sistemas sofisticados
de reservas de passagens das linhas a&eacute;reas.<p>
<p>
	Tal &eacute; a import&acirc;ncia do processamento de dados e da
inform&aacute;tica na atualidade que n&atilde;o se pode realmente conceber o
funcionamento de organiza&ccedil;&otilde;es complexas sem a
contribui&ccedil;&atilde;o destes equipamentos e dos profissionais que os
operam.<p>
<p>
	Apesar desta import&acirc;ncia evidente, n&atilde;o cuidou at&eacute; agora o
Poder P&uacute;blico da regulamenta&ccedil;&atilde;o da profiss&atilde;o ou das
profiss&otilde;es que s&atilde;o cotidianamente exercidas por milhares de
brasileiros dedicados e extremamente preparados em termos educacionais. Desta
forma, n&atilde;o tem sido poss&iacute;vel o efetivo controle da
qualifica&ccedil;&atilde;o e da forma&ccedil;&atilde;o profissional destes
t&eacute;cnicos, com reais perdas para a Economia.<p>
<p>
	Assim, consideramos que &eacute; chegado o momento de realizar tal
regulamenta&ccedil;&atilde;o, atrav&eacute;s do presente Projeto de Lei, o qual
certamente contar&aacute; com o apoio dos nossos pares em ambas as Casas do
Congresso Nacional.<p>
<p>
<p>
	Sala das Sess&otilde;es,            de                                de 1981.
  <b>Victor Faccioni.</b><p>


<body>
