<title>Profissao</title>
<body>

<center>
<img src=profissa.gif>
<h1>Profiss&atilde;o</h1>
</center>

<HR SIZE=10>
<BR>

<UL>
   <LI><b>Regulamenta&ccedil;&atilde;o da Profiss&atilde;o</b><br>
   <ul>
      <IMG SRC=pr_ball.gif> <a href=procrep.htm>Novo Cap&iacute;tulo sobre a Regulamenta&ccedil;&atilde;o</A><p>
      <IMG SRC=pr_ball.gif> <a href=proposta.htm>Proposta da ABINFO-RS</A><p>
      <IMG SRC=gr_ball.gif> <a href=painel.htm>Um Painel Atual sobre a Quest&atilde;o da Regulamenta&ccedil;&atilde;o Profissional</A><p>
   </ul>
<hr size=5><p>
   <LI><b>&Eacute;tica Profissional</b><br>
	Um dos fatores que motivou a cria&ccedil;&atilde;o da ABINFO-RS foi a
inexist&ecirc;ncia de um c&oacute;digo de &eacute;tica profissional em
Inform&aacute;tica. Mais do que isso, o grande problema por n&oacute;s
constatado foi e &eacute; a falta de <i>uma discuss&atilde;o</i> sobre o assunto.<p>
	Diante disso, estamos lan&ccedil;ando a discuss&atilde;o sobre o que &eacute;, para que serve e como pode ser implementado um c&oacute;digo de &eacute;tica. Assim, inicialmente estamos apresentando aqui alguns textos para fomentar a discuss&atilde;o entre os associados sobre o nosso C&oacute;digo de &Eacute;tica:<p>
   <ul>
      <IMG SRC=gr_ball.gif> o primeiro texto &eacute; o <a href=acm.htm>C&oacute;digo de &Eacute;tica e Conduta Profissional da ACM</a>. Este apresenta o c&oacute;digo de &eacute;tica da Association Computer Machines, que, apesar de representar a realidade dos Estados Unidos, serve como base para nossa discuss&atilde;o;<p>
      <IMG SRC=gr_ball.gif> o segundo texto data de 1981 e fala sobre a quest&atilde;o da utilidade de um c&oacute;digo de &eacute;tica. <a href=bem.htm>O Bem Imposs&iacute;vel ou O Mal Necess&aacute;rio?</a> mostra-nos a problem&aacute;tica da responsabilidade do profissional frente &agrave; sociedade;<p>
      <IMG SRC=gr_ball.gif> por fim &eacute; apresentado um documento com uma <a href=codigo.htm>Proposta de Um C&oacute;digo de &Eacute;tica para A Profiss&atilde;o</a>. Neste texto temos uma proposta de um c&oacute;digo de &eacute;tica para o Brasil, por&eacute;m ele foi escrito sobre a realidade de 1981, n&atilde;o sendo mais aplic&aacute;vel ao nosso cotidiano. Ele &eacute; uma demonstra&ccedil;&atilde;o clara do cuidado que se deve ter ao modelar um
c&oacute;digo de &eacute;tica.<p>
   </ul>
Pedimos a voc&ecirc; que nos <u>remeta</u> coment&aacute;rios sobre estes textos e como deve ser um C&oacute;digo de &Eacute;tica para a ABINFO-RS. As sugest&otilde;es e coment&aacute;rios ser&atilde;o colocados nas pr&oacute;ximas edi&ccedil;&otilde;es deste jornal sem a divulga&ccedil;&atilde;o do nome do autor, a menos que o mesmo indique o contr&aacute;rio.<p>

</UL>

<hr size=7>
<p>
<Center>
<b>Observa&ccedil;&atilde;o</b><P>
</center>
Os itens marcados com <IMG SRC=pr_ball.gif> s&atilde;o novos, isto &eacute;, n&atilde;o sa&iacute;ram no nro 0. Por outro lado, os itens marcados com <IMG SRC=gr_ball.gif> s&atilde;o os que j&aacute; foram publicados no nro anterior e est&atilde;o sendo novamente citados para aqueles que n&atilde;o tiveram acesso ao nro 0 do ABINFO Eletr&ocirc;nico possam ler agora.

</body>
