<head>
<title>Proposta da Sociedade Brasileira de Computacao</title>
</head>

<center>
<h2>Proposta da Sociedade Brasileira de Computa&ccedil;&atilde;o</h2><p>
</center>


<b>JUSTIFICATIVA</b><p>

A Sociedade Brasileira de Computacao, uma sociedade cientifica, constituida por professores de nivel superior, de estudantes de nivel superior, de pessoas fisicas e juridicas que prestam servicos de Informatica e de Instituicoes formadoras de recursos humanos<p>
 
considerando<p>

1) as iniciativas corporativistas, privativistas e distorcidas do exercicio das atividades de uso , de aplicacoes e de desenvolvimento da informatica por parte de alguns Conselhos de Classe;<p>

2) as iniciativas inibidoras do desenvolvimento cientifico e tecnologico da Informatica, pela fixacao de curriculos minimos;<p>

3) A diversidade e as mutacoes crescentes dos perfis dos prestadores de servicos de informatica e de computacao em decorrencia do desenvolvimento cientifico e tecnologico da informatica, tornando irrealista a fixacao de curriculo minimo e a reserva de mercado de trabalho para a area  propoe o seguinte projeto de lei, baseado na seguinte exposicao de motivos:<p>

1) A computacao e uma ciencia nova, em franco desenvolvimento e portanto extremamente dinamica;<p>

2) As Universidades se obrigam a ajustar continuamente seus curriculos em virtude da dinamica do desenvolvimento cientifico e tecnologico da informatica. Por isso, o estabelecimento de um curriculo de referencia conduz a melhores resultados do que o engessamento dos cursos via curriculo minimo.<p>

3) A INFORMATICA esta presente em praticamente todas as atividades humanas com uma interacao que nao permite distinguir com clareza atividades de uso, de aplicacoes e de desenvolvimento;<p>

4) O desenvolvimento dinamico da Informatica exige uma dinamica na definicao de perfis de profissionais ou seja, necessidades de mercado de um determinado perfil de profissional podem desaparecer rapidamente com o desenvolvimento da informatica. Fica entao assim dificil congelar uma profissao. <p>

Esta tese e contraria as propostas que tem surgido no sentido de definir profissoes de informatica e de computacao cujas atribuicoes refletem o estagio instantaneo da informatica e que, portanto, podem facilmente desaparecer.<p>

5) A falta de um instrumento regulamentador da area, tem deixado milhares de prestadores de servicos da area de Informatica a descoberto e portanto sujeitos a iniciativas anexadoras, por parte de alguns Conselhos de Classes de outras profissoes.<p>

6) A definicao formal e imutavel das atribuicoes para um profissional da area podera desestimular as Universidades de experimentarem a formacao de novos perfis de profissionais com novas atribuicoes.<p>

7) A atividade mal exercida da informatica, em certas circunstancias, podera nao so provocar serios danos materiais e financeiros como tambem podera por em risco a vida humana.<p>

<hr size=7>

<center>
<h2>Projeto de Lei</h2><p>
</center>

<i>Cria o Conselho Federal de Informaatica e Computacao-CFIC com funcoes de, no seu ambito, regulamentar o exercicio das atividades profissionais de Informatica e de Computacao.</i><p>

Art. 1o - E criado o Conselho Federal de Informatica e Computacao-CFIC, autarquia dotada de personalidade juridica de direito publico, de servico publico federal, gozando o seu patrimonio, rendas e servicos de imunidade tributaria, nos termos do inciso VI, "a", do art. 150 da Constituicao Federal, alem de franquia postal e telegrafica.<p>

Art 2  - O CFIC possui funcoes normativas, deliberativas e fiscalizadora do exercicio das atividades profissionais de Informatica e de Computacao quer sejam por pessoas fisicas ou juridicas a ele filiados.<p>

Art. 3 - Compete ao CFIC, em especial, considerando a natureza dinamica do desenvolvimento cientifico e tecnologico da Informatica,<p>

a) Caracterizar profissoes da area de Computacao e Informatica por uma denominacao e por atribuicoes profissionais especificas.<p>

b) Definir curriculos de referencia de cursos de graduacao de acordo com as profissoes estabelecidas no item a).<p>

c) Criar normas e padroes para o exercicio das profissoes estabelecidas no item a).<p>

Art 4o - As pessoas fisicas interessados no devido registro no CFIC deverao submeter-se e serem aprovados em um exame de certificacao de qualidade, indicativo de qualidade do exercicio profissional a que alude o Art. 3 item a);<p>

Par. 1o - As atribuicoes profissionais de computacao e de informatica, a que alude o Art. 3  item a), nao sao privativas da categoria dos profissionais de computacao e de informatica registrados nos CFIC e tambem, de nenhuma outra categoria profissional.<p>

Par. 2o - As pessoas juridicas de bens e servicos de informatica e computacao nao sao passiveis da obrigatoriedade do registro em algum conselho de classe.<p>

Art. 5o - Para elaboracao dos exames de certificacao de qualidade serao usados como parametros o disposto no Art. 3  itens a), b) e c).<p>

Art. 6o - O CFIC emitira, quando solicitado, certificado temporario de qualidade  para os cursos de Infomatica e Computacao que desejarem submeter-se a uma avaliacao.<p>

Par. Unico. A qualidade a que alude o Art. 6o  sera discretizada da seguinte maneira:<p>
<pre>
                A - Curso Excecpcional<p>
                B - Curso Otimo<p>
                C - Curso Bom<p>
                D - Curso Regular<p>
                E - Curso Fraco<p>
</pre>

Art. 7o - Poderao perder o registro os profissionais e Empresas filiados ao CFIC que, ao serem julgados pelo Conselho de Etica, ferirem as normas e padroes emitidos pelo CFIC.<p>

Par. Unico - O CFIC estabelecera os conceitos de etica profissional bem como, a composicao, numero e regimento destes Conselhos de Etica.<p>

Art. 8o - Os profissionais e pessoas juridicas registradas de conformidade como que preceituar o CFIC sao obrigados ao pagamento de uma anuidade.<p>

Art. 9o - Sera automaticamente cancelado o registro do profissional ou da pessoa juridica que deixar de efetuar o pagamento da anuidade, a que estiver sujeito, durante dois anos consecutivos, sem prejuizo da obrigatoriedade do pagamento da divida.<p>

Art. 10o - As acoes do CFIC poderao ser exercidas por Conselhos Regionais de Computacao e Informatica - CRIC, de mesma personalidade juridica que o CFIC, no maximo um por estado da federacao, cujas funcoes e estrutura serao definidas pelo CFIC.<p>

Par. Unico - As acoes de qualquer CRIC poderao extender-se a varios estados.<p>

Art. 11o - E atribuido a Sociedade Brasileira de Computacao imediatamente apos a aprovacao desta lei:<p>

a) Elaborar o Estatuto do CFIC;<p>
b) Proceder pelo registro inicial  de profissionais que satisfizerem os requisitos fixados pela SBC;<p>
c) Executar a eleicao para ocupar os cargos previstos no Estatudo;<p>
d) Dar posse aos ocupantes dos Cargos.<p>

Art. 12o - Esta lei entra em vigor na data de sua publicacao revogadas as disposicoes contrarias.<p>

</body>
