<head>
<title>Resolucao Normativa CFA no. 125</title>
</head>

<body>

<center>
<h2>Resolu&ccedil;&atilde;o Normativa CFA Nro 125</h2>
<b>de 20 de agosto de 1992</b><p>
</center>

<i>Dispoe sobre registro dos Bachareis e Tecnologos em Processamento de Dados, Informatica, Analise de Sistemas, Computacao, Ciencia da Computacao e Ciencias da Informacao.</i><p>

<hr size=7>

 O CONSELHO FEDERAL DE ADMINISTRACAO, no uso da competencia que lhe confere a Lei no. 4.769/65, de 9 de setembro de 1965, e o Regulamento aprovado pelo Decreto no. 61.934, de 22 de dezembro de 1967, <b>considerando</b> que os Bachareis e Tecnologos em Processamento de Dados, Informatica, Analise de Sistenmas, Computacao, Ciencia da Computacao e Ciencias da Informacao, exercerao atividades conexas `as privativas do profissional de Administracao, limitada `a area de Informatica, nos termos do Artigo 2o. da Lei no. 4.769/65 e no Artigo 3o. do Regulamento aprovado pelo Decreto no. 61.934/67, e tendo em vista a decisao do Plenario na 57a. reuniao, realizada nesta data,<p>
 
RESOLVE:<p>

Art. 1o. - Fica criado nos Conselhos Regionais de Administracao, o registro especial dos Bachareis e Tecnologos em cursos superiores de Processamento de Dados, Informatica, Analise de Sistenmas, Computacao, Ciencia da Computacao e Ciencias da Informacao.<p>

Paragrafo unico. O registro de Bachareis e Tecnologos de outros cursos da area de Informatica, que nao foram previstos nesta Resolucao Normativa, deverao constituir processo, devidamente instruido e remetido ao CFA para estudo e regulamentacao.<p>

Art. 2o. - A atividade profissional dos diplomados nos cursos constantes do artigo anterior, sera exercida como profissional liberal ou nao, mediante:<p>

a) desenvolvimento, implantacao e manutencao de sistemas, elaboracao de pareceres, relatorios, planos, projetos, arbitragens, laudos, assessoria e consultoria em geral, chefia intermediaria, direcao superior, nas areas de sua formacao;<p>

b) realizacao de pesquisas, estudos, analises, interpretacoes, planejamento, implantacao, coordenacao e controle dos trabalhos nos campos afetos `a Informatica, bem como outros campos em que estes se descobrem ou com os quais sejam conexos;<p>

c) exercicio de funcoes e cargos existentes no Servico Publico e Instituicoes Privadas, em que fique expresso e declarado o titulo dos cargos abrangidos e que requeiram conhecimentos especificos do profissional da area de Informatica;<p>

d) exercicio de funcoes de chefia ou direcao, intermediaria ou superior, assessoramento e consultoria em orgaos, ou seus compartimentos da Administracao Publica ou de Instituicoes Privadas, cujas atribuicoes envolvam a aplicacao de conhecimentos pertinentes `as tecnicas de Informatica; e<p>

e) exercicio do magisterio em materias tecnicas do campo da Informatica.<p>

Art. 3o. - Os diplomados nos cursos relacionados no Artigo 1o. so poderao exercer suas atividades profissionais apos o devido registro nos Conselhos Regionais de Administracao, em cuja jurisdicao atuem.<p>

Parag. 1o. Para fins de registro nos Conselhos Regionais de Administracao, os bachareis e Tecnologos dos cursos discriminados no Artigo 1o. desta Resolucao, deverao apresentar o original e copia do diploma expedido por instituicao de ensino superior reconhecida, devidamente registrado no orgao competente do Ministerio de Educacao e demais documentos exigidos para o registro do Administrador.<p>

Parag. 2o. O requerimento de registro devera conter declaracao expressa do interessado de que esta ciente da limitacao quanto a atuacao profissional de sua categoria, nos seguintes termos:<p>

<i>Declaro estar ciente de que a habilitacao profissional ora requerida e' especifica, delimitaa ao exercicio de atividades como profissional liberal ou nao no ambito de minha formacao profissional.</i><p>

Parag. 3o. O numero de registro destes profissionais sera antecedido da sigla <b>RE</b>, representativa de Registro Especial.<p>

Artigo 4o. - Aos profissionais registrados nos termos desta Resolucao Normativa, sera fornecida a Carteira de Identidade Profissional na cor verde, devendo o CRA expeditor acrescentar `a mesma os seguintes dizeres datilografados: <b>RESTRITO `A AREA DE INFORMATICA</b>.<p>

Artigo 5o. - A formacao do profissional nos cursos relacionados no Artigo 1o. nao o torna habilitado, de qualquer forma, para o exercicio pleno das atividades que por lei especifica sao privativas do Administrador, sendo sua atuacao restrita `a area de Informatica.<p>

Artigo 6o. - Toda pessoa juridica que explore, sob qualquer aspecto, atividades especificas dos profissionais da area de Informatica, devera promover obrigatoriamente seu registro nos Conselhos Regionais de Administracao.<p>

Artigo 7o. - Aplicar-se-ao aos infratores dos dispositivos desta Resolucao Normativa, as penalidades previstas no Art. 16 da Lei no. 4.769, de 9 de setembro de 1965, e no Art. 52 do Regulamento aprovado pelo Decreto no. 61.934, de 22 de dezembro de 1967.<p>

Artigo 8o. - Aplicar-se-ao aos profissionais e empresas que atuam nas areas referidas no Artigo 1o. desta Resolucao, todas as disposicoes legais e normativas pertinentes ao Administrador, especialmente as relativas `a fiscalizacao e registro.<p>

Artigo 9o. - Esta Resolucao Normativa entra em vigor nesta data, revogadas as disposicoes em contrario, em especial as Resolucoes normativas CFA no.s 07/80 e 08/80.<p>

Assina: Adm. Gilmar Camargo de Almeida - Presidente - Reg. CRA/MG No. 5285<p>

</body>
