<head>
<title>Resolucao nro 380 do CONFEA</title>
</head>

<center>
<h2>Resolucao Nro 380 do Conselho Federal de Engenharia, Arquitetura e Agronomia (CONFEA)</h2>
<b>de 21 de dezembro de 1993</b><p>
</center>

<i>Discrimina  as atribuicoes provisorias dos  Engenheiros de Computacao ou Engenheiros Eletricistas com enfase em Computacao, e da' outras providencias</i>

<hr size=7>

O Conselho Federal de Engenharia, Arquitetura e Agronomia, no uso das atribuicoes que lhe confere o art. 27, alinea "I" da Lei no. 5194/66 de 24/12/1966.<p>

Considerando que o art. 7 da Lei 5194/66 refere-se `as atividades profissionais do Engenheiro, do Arquiteto e do Engenheiro Agronomo em termos genericos;<p>

Considerando a grande evolucao tecnologica decorrente do uso do computador na area de Engenharia, Arquitetura e Agronomia;<p>

Considerando a necessidade de discriminar atividades das diferentes modalidades profissionais da Engenharia, Arquitetura e Agronomia, para fins de fiscalizacao de seu exercicio profissional, resolve:<p>

<DL>
<DT>Art. 1
<DD>Compete ao Engenheiro de Computacao ou Engenheiro Eletricista com enfase em Computacao o desempenho das atividades do art. 9 da Resolucao 218/73, acrescidas de analise de sistemas computacionais, seus servicos afins e correlatos.<p>

<DT>Parag.1
<DD>Ao Engenheiro Eletricista, com atribuicoes do art. 9 da Resolucao no. 218/73, serao concedidas as atribuicoes previstas no "caput" deste artigo, conforme disposicoes do artigo 25, paragrafo unico, da Resolucao 218/73.<p>

<DT>Parag.2
<DD>Ao Engenheiro Eletricista, com enfase em Computacao ou ao Engenheiro de Computacao que atender ao disposto nas Resolucoes 48/76 e 9/77 do Conselho Federal de Educacao - CFE, serao concedidos tambem as atribuicoes do artigo 8 da Resolucao 218/73 do CONFEA.<p>

<DT>Art. 2
<DD>Os Engenheiros de Computacao integrarao o grupo ou categoria da Engenharia modalidade Eletricista.<p>

<DT>Art. 3
<DD>A presente Resolucao entra em vigor na data de sua publicacao.<p>
</DL>

Assinam:
<DL>
 <DD>Frederico V. M. Russinger - Presidente <p>
 <DD>Antonio Carlos Alberio - Vice-presidente<p>
</DL>
Publicado no D.O. de 6 de janeiro de 1994<p>

</body>
