<title>Secretaria</title>
<body>

<center>
<h1>Secretaria</h1>
</center>

<HR SIZE=10>
<BR>

Pedimos a todos os associados efetivos que ainda n&atilde;o enviaram c&oacute;pia do diploma / hist&oacute;rico de gradua&ccedil;&atilde;o, que o fa&ccedil;am o mais r&aacute;pido poss&iacute;vel.<p>

Outro ponto que voltamos a insistir &eacute; o pagamento das semestralidades atrasadas. Um grande n&uacute;mero de associados n&atilde;o pagaram o primeiro semestre de 1995. Estes
correm o risco de n&atilde;o receberem a pr&oacute;xima edi&ccedil;&atilde;o deste jornal.  Os valores para pagamento s&atilde;o:<p>

<DL>
  <DT>Associado Efetivo<br>
  <DD>R$ 13,00 (treze reais) o semestre<P>

  <DT>Associado Acad&ecirc;mico<br>
  <DD>R$ 6,50 (seis reais e cinquenta centavos) o semestre<P>
</DL>

Se voc&ecirc; tem d&uacute;vida se est&aacute; devendo, espere que at&eacute; o final de agosto ser&aacute; enviado aos associados devedores uma cobran&ccedil;a dizendo quais semestres est&atilde;o em atraso e o valor devido.<p>

Esclare&ccedil;o aos associados que <b>n&atilde;o</b> ser&aacute; enviado DOC para a cobran&ccedil;a da semestralidade do segundo semestre, ou seja, para pagar a semestralidade envie cheque nominal a ABINFO-RS para o endere&ccedil;o da Associa&ccedil;&atilde;o.<p>

Por &uacute;ltimo, pedimos aos associados que quando ocorrer mudan&ccedil;a de endere&ccedil;o, comuniquem &agrave; secretaria da Associa&ccedil;&atilde;o, pois estamos tendo problemas com mudan&ccedil;a de endere&ccedil;o de associados.

<hr size=6>

O endere&ccedil;o da Associa&ccedil;&atilde;o &eacute; o seguinte :<p>

<B>Postal</B> :
<ul>
  <DT><b>ABINFO-RS</b><br>
   Caixa Postal 18017<br>
   CEP 90.410-007<br>
   Porto Alegre - RS<br>
</ul>
<B>Eletr&ocirc;nico</B> :
<ul>
   E-Mail
   <ul>
      abinfors@inf.ufrgs.br
   </ul>
   WWW
   <ul>
      http://www.inf.ufrgs.br/entidades/abinfors/apresentacao.html
   </ul>
</ul>

</body>
