<title>Sugestoes sobre o jornal</title>
<body>


<CENTER>
<IMG SRC=criticb.gif>  <IMG SRC=criticg.gif>  <IMG SRC=criticu.gif>  <IMG SRC=critics.gif>  <IMG SRC=criticc.gif> 
<H1>Sugest&otilde;es sobre o jornal</H1>
</CENTER>

<P><P>

N&oacute;s nos esfor&ccedil;amos ao m&aacute;ximo para enviar um jornal com o menor n&uacute;mero de erros poss&iacute;vel. Mas sabemos que &eacute; imposs&iacute;vel fazer algo que n&atilde;o possa ser melhorado.<P>

Por isso, estamos pedindo para que voc&ecirc; nos envie suas sugest&otilde;es/cr&iacute;ticas sobre as se&ccedil;&otilde;es presentes nestes jornal. Qual a sua opini&atilde;o sobre as existentes ? Qual deve ser inclu&iacute;da ? Qual deve ser eliminada ?<P>

Outro ponto importante &eacute; sobre a interface utilizada para a feitura do jornal. Voc&ecirc; acha que esta edi&ccedil;&atilde;o est&aacute; melhor que a primeira ? N&oacute;s ainda n&atilde;o chegamos a conclus&atilde;o sobre qual &eacute; a melhor, por isso esperamos contar com os associados para esta escolha.<P>

Estes s&atilde;o apenas alguns dos pontos que est&atilde;o em aberto. Escreva-nos com a certeza que a sua opini&atilde;o &eacute; <B>importante</B> para n&oacute;s.<p>

Existe duas maneiras de voc&ecirc; entrar em contato com a ABINFO-RS, ou por via postal ou por meio eletr&ocirc;nico. Abaixo segue os respectivos endere&ccedil;os.<P>

<B>Postal</B> :
<ul>
   Caixa Postal 18017<br>
   Porto Alegre - RS<br>
   CEP 90.410-007
</ul>
<B>Eletr&ocirc;nico</B> :
<ul>
   E-Mail
   <ul>
      abinfors@inf.ufrgs.br
   </ul>
   WWW
   <ul>
      http://www.inf.ufrgs.br/entidades/abinfors/apresentacao.html
   </ul>
</ul>

</body>
