<title>Abinfo Eletronico Nro 02 - Fevereiro/96</title>
<body>

<center>
<img src=abinfo.gif>
<H2>Associa&ccedil;&atilde;o dos Bachar&eacute;is em Inform&aacute;tica do RS</H2>
</center>

<HR SIZE=10>

<PRE>
        <IMG SRC=yellowba.jpg> <A HREF=editoria.htm>Editorial</A>                              <IMG SRC=yellowba.jpg> <A HREF=assoc.htm>ABINFO-RS</A><BR>
        <IMG SRC=yellowba.jpg> <A HREF=profissa.htm>Profiss&atilde;o</A>                              <IMG SRC=yellowba.jpg> <A HREF=artigos.htm>Artigos</A><br>
        <IMG SRC=yellowba.jpg> <A HREF=faq.htm>FAQ</A>                                    <IMG SRC=yellowba.jpg> <A HREF=edupage.htm>Edupage</A><br>
        <IMG SRC=yellowba.jpg> <A HREF=livro.htm>Resumo de Livro</A><br>
</PRE>
<center>
<a href=debem.htm><IMG SRC=debem.jpg></a>
</center>
<HR SIZE=10>

<B>Este jornal pode ser distribu&iacute;do livremente, tendo sua venda proibida.</B><P>
Envie suas <A HREF=sugestao.htm>sugest&otilde;es</A> sobre o jornal para a ABINFO-RS.
</body>
