<title>ABINFO-RS</title>
<body>
<center>
<img src=abinfo1.gif>

<HR SIZE=10>

Caixa Postal 18017<br>
Porto Alegre - RS<br>
CEP 90.410-007<br>
Email: abinfors@inf.ufrgs.br<br>
</center>

<HR SIZE=10>

<BR>

<UL>
   <IMG SRC=or_ball.gif> <a href=estatuto.htm>Estatuto</A><p>
   <IMG SRC=or_ball.gif> Troca de Diretoria<p>
   <ul>
      <IMG SRC=or_ball.gif> <a href=novad.htm>Apresenta&ccedil;&atilde;o da Nova Diretoria</A><p>
      <IMG SRC=or_ball.gif> <a href=antigad.htm>Despedida da Antiga Diretoria</A><p>
   </ul>
   <IMG SRC=or_ball.gif> <a href=camara.htm>C&acirc;mara Setorial de Inform&aacute;tica</A><p>
   <IMG SRC=or_ball.gif> <a href=plaest.htm>Planejamento Estrat&eacute;gico de 1996</a><p>
   <IMG SRC=or_ball.gif> <a href=anuidade.htm>Cobran&ccedil;a da Anuidade</A><p>
   <IMG SRC=or_ball.gif> <a href=ficha.htm>Como Filiar-se</A><p>
</UL>

</body>
