<head>
<title>DE BEM Informatica</title>
</head>

<body>

<center>
<img src=debem.jpg>
</center>
<p>
<br>

<B>Venda de suprimentos para inform&aacute;tica

<p>

<pre>
Fone       (051) 343.8200<br>
Fax        (051) 342.1795<br>
Av. Dr. Jo&atilde;o In&aacute;cio, 1366<br>
Porto Alegre     -     RS<br>
Bairro  S&atilde;o Jo&atilde;o<br>
CEP 90.230-181 
</pre>

</b>

</body>
