<title>EDUPAGE</Title>

<CENTER>
<IMG SRC=edupage.jpg>
<H1>EDUPAGE</H1>
</CENTER>

<B>EDUPAGE</B> &eacute; um boletim tri-semanal de not&iacute;cias sobre tecnologia da informa&ccedil;&atilde;o e &eacute; um servi&ccedil;o oferecido pela <B>EDUCOM</B> - um cons&oacute;rcio formado por importantes faculdades e universidades, que buscam transformar a educa&ccedil;&atilde;o atrav&eacute;s do uso da tecnologia da informa&ccedil;&atilde;o. A tradu&ccedil;&atilde;o e distribui&ccedil;&atilde;o deste boletim em portugu&ecirc;s s&atilde;o servi&ccedil;os prestados pela <B>RNP</B>, um projeto do <B>CNPq</B>.<P>

<B>EDUCOM</B> - <I>Transformando a Educa&ccedil;&atilde;o Atrav&eacute;s da Tecnologia da Informa&ccedil;&atilde;o</I><P>

<HR size=6>

<P>&Iacute;ndice de not&iacute;cias presentes nos boletins distribu&iacute;dos pelo <B>CNPq</B> nos meses de Novembro e Dezembro
de 1995, Janeiro e Fevereiro de 1996.

<Ul>
   <A HREF=951103.htm>Dia 03 de Novembro de 1995</A>
   <UL>
	Edupage em Hebraico<BR>
	Prodigy "Sente Muito", e Empresa de Investimentos Retira
              Queixa<BR>
	Crime de Computadores e' uma Atividade Interna<BR>
	CompuServe pelo Telefone<BR>
	A Visao de Gerstner -- Computacao Voltada para Redes<BR>
	Apple Nega Licenca de Software a Empresa Suica<BR>
	Acusacao de Espionagem de Software<BR>
	DejaNews Causa Preocupacoes Sobre a Questao da Privacidade<BR>
	Distribuidor Japones de Software Continua com Sua Expansao<BR>
	AT&T Interliga Sistemas Multimidia<BR>
	Motorola -- Cada Vez Mais Inteligente<BR>
	Compaq Oferecera' Video-Conferencia de Mesa<BR>
	Avid e Silicon Graphics de Olho no Mercado de Transmissao
        	Digital<BR>
	U.S. Robotics Quer Comprar a Hayes<BR>
	Florida Processa Empresa de Servicos de Informatica<BR>
	Cirrus de Olho na ATM<BR>
	Fas de Esportes Ganham Local na Web<P>
   </UL>
   <A HREF=951114.htm>Dia 14 de Novembro de 1995</A>
   <UL>
	New York Times Corrige Noticia Sobre Escuta Telefonica<BR>
	FTC Investiga Pedido da Time Warner para a TBS<BR>
	Japoneses Querem Acabar com Acordo de Chips<BR>
	Empresas Japonesas de PC Querem Invadir o Mercado Norte-
           Americano<BR>
	"Poder de Fogo Editorial" Prometido para a Web<BR>
	Video por Solicitacao na Internet<BR>
	Dell Nao Pressionara' por Direito de Patente<BR>
	Clone do Mac Ofusca o Proprio Mac<BR>
	O Computador Vai Substituir a TV?<BR>
	Programa Escolar da America Online<P>
   </UL>
   <A HREF=951120.htm>Dia 20 de Novembro de 1995</A>
   <UL>
	Oposicao ao Padrao de Criptografia do Governo dos E.U.A.<BR>
	Oracle Esta' de Olho no Sistema Newton<BR>
	PBS On-Line<BR>
	Jornais se Concentram na SpyGlass<BR>
	Learning Company Prefere Broderbund a Softkey<BR>
	CompuServe Resolve Processo de Desrespeito a Direitos
        	Autorais<BR>
	Formado Grupo de Padroes Eletronicos para Direitos
                Autorais<BR>
	Bell Versus Provedores Internet<BR>
	DRAMs Mais Inteligentes<BR>
	TV de Alta Definicao Esta' Mais Proxima<BR>
	Assista Futebol e Viaje pela Web<BR>
	Teleglobe Pede o Fim do Seu Monopolio<BR>
	Filtro na Internet para as Escolas<BR>
	MCI Vai Adquirir a SHL Systemhouse<BR>
	Desafio dos Precos da Microsoft no Reino Unido<BR>
	Compras Eletronicas na Internet<P>
   </UL>
   <A HREF=951121.htm>Dia 21 de Novembro de 1995</A>
   <UL>
	Novos Rumos nas Chamadas Eletronicas Via Internet<BR>
	SoftBank Fecha Acordo de Compra da Ziff-Davis<BR>
	Japao se Recusa a Participar de Projeto da Semantech<BR>
	Leilao de Licencas para TV a Cabo<BR>
	RSA Quer Receber pela Licenca da Tecnologia de Assinatura
		Digital<BR>
	Bell tem o "Direito" de Aumentar as Tarifas da Internet<BR>
	Armazenamento Holografico de Dados<BR>
	Conferencia do Cause<BR>
	IBM Corta 1200 Empregos<BR>
	Menos Audiencia na TV, Mais Passeios On-Line<BR>
	Concorrencia de Servicos On-Line na Europa<BR>
	Retiradas as Acusacoes Contra Hacker<BR>
	Ensino `a Distancia Esta' Mais Perto da Comunidade<P>
   </UL>
   <A HREF=951124.htm>Dia 24 de Novembro de 1995</A>
   <UL>
	O Dilema das Publicacoes On-line<BR>
	Oferta de Acordo com Metade dos Gerentes da AT&T<BR>
	Bell Atlantic, Olivetti e France Telecom Formam Alianca<BR>
	Sony e Intell Unem-se na Batalha do PC<BR>
	Alianca Entre Sony e VISA<BR>
	Boletim Sobre Compatibilidade<BR>
	Pirata de Software Preso em Los Angeles<BR>
	Furos na Seguranca de Computadores<BR>
	Fim de Sites do Governo dos Estados Unidos<BR>
	Alerta do America Online Sobre "Cavalo de Troia"<BR>
	Escola de Direito On-Line<BR>
	Apple e Sagan Fazem as Pazes<P>
   </UL>
   <A HREF=951127.htm>Dia 27 de Novembro de 1995</A>
   <UL>
	Fim da Linha para a Kaleida<BR>
	Disque 1-800 para Obter Informacoes Sobre a NII<BR>
	"The Road Ahead" Leva ate' a Web?<BR>
	Teria a IBM Influenciado a Previsao da Dataquest?<BR>
	Maquinas Pensantes sao Agora Softwares Pensantes<BR>
	Compaq e Acer Ganham Pontos nas Guerras do PC<BR>
	Que Pobres?<BR>
	Podera' a Africa Surgir do Nada na Internet?<BR>
	Navegando em Busca de Dolares<P>
   </UL>
   <A HREF=951130.htm>Dia 30 de Novembro de 1995</A>
   <UL>
	AOL Esforca-se para Atender ao Crescente Numero de
	Usuarios<BR>
	Penetracao do Windows e' de 6 por Cento<BR>
	Mercado de Trabalho para Gerentes de Sistemas nos E.U.A.<BR>
	Mais Computadores = Maior Protecao Policial<BR>
	Bell Discou o Numero Errado<BR>
	Mercado Emergente de PCs<BR>
	Correio Eletronico para Todos<BR>
	As Ondas da Sinergia<BR>
	Empresa Multada por Propaganda Enganosa<BR>
	Corel Entra na Internet<BR>
	Sprint Contra Unitel e AT&T<BR>
	Preenchimento Eletronico e Fraudes nos Impostos<BR>
	Politicas dos Reguladores Federais Ameacadas<BR>
	Mudancas nas Regras de Propriedade nas Emissoras<BR>
	Internet na Africa<BR>
	Isto e' a Web -- Nao uma Sala de Leitura<BR>
	Bill Gates e o Futuro<P>
   </UL>
   <A HREF=951205.htm>Dia 05 de Dezembro de 1995</A>
   <UL>
	Fornecedores de TV a Cabo Unem-se em Servico On-Line<BR>
	FCC Aprova Padroes para a HDTV<BR>
	Gartner Group Vai Comprar a Dataquest<BR>
	IBM Cria a Divisao Internet<BR>
	Riscos de Seguranca da Internet para Consumidores Sao
	Menores do que Se Diz<BR>
	Tecnologia da Informacao & Produtividade Academica<BR>
	Autor de Virus Vai para a Cadeia<BR>
	Murdoch Planeja Novo Empreendimento<BR>
	Poder Para o Amiga<BR>
	Acesso `a Rede Via Cabo e Telefone<BR>
	Psiquiatras, Sexo pelo Telefone -- e Agora, Medicos<P>
   </UL>
   <A HREF=951207.htm>Dia 07 de Dezembro de 1995</A>
   <UL>
	Acordo Sobre a Legislacao de Pornografia Cibernetica<BR>
	Demanda de Internet Supera a Oferta em Muitas Escolas<BR>
	Taligent Tem o Mesmo Destino da Kaleida<BR>
	Podemos Aliviar a Obsolescencia da Alta Tecnologia<BR>
	Sun Planeja Microkernel do Tipo do Java<BR>
	EIA Aprova Smart-Radio<BR>
	Criancas na Web<BR>
	Falta de Mao-de-obra de Alta Tecnologia em Austin<BR>
	Canada' Esta' Atrasado em Tecnologia<BR>
	Bell Pede Reducao nos Precos para as Ligacoes de
             Longa Distancia<BR>
	Empresa Italiana Vence Leilao na Russia<BR>
	Navegacao com a Corel<BR>
	Livros Canadenses Sobre a Internet<BR>
	America Online Retira Restricao contra a Palavra "Seios"<P>
   </UL>
   <A HREF=951211.htm>Dia 11 de Dezembro de 1995</A>
   <UL>
	Edupage em Alemao<BR>
	O Ingles Domina a Internet?<BR>
	"Internet on a Chip" da LSI Logics<BR>
	O Mercado das Noticias 24 Horas Esta Ficando Lotado<BR>
	NRC Pede Novo Processo de Orcamento Para Pesquisa e
	Desenvolvimento<BR>
	Intuit Oferece Servicos Bancarios na Internet<BR>
	Estados Unidos Estuda Acoes da Microsoft<BR>
	Software Contra Jogos<BR>
	Motorola Aprende Chines<BR>
	Bolsa de Toquio Diz que a Internet e Rapida Demais<BR>
	NetCom Joga Sua Rede no Canada'<BR>
	Quebec Ganhara Shopping Virtual<BR>
	Pesquisa Entre Lideres da Area de Educacao<BR>
	Receita para Predios Doentes<P>
   </UL>
   <A HREF=951212.htm>Dia 12 de Dezembro de 1995</A>
   <UL>
	Publicacoes<BR>
	Ferramentas para o Ensino On-line<BR>
	Programa de Parceria<BR>
	Anuncios de Empregos<BR>
	Calendario de Eventos<BR>
	EDUCOM 96 e no Futuro: Um Calendario de Planejamento a
		Longo Prazo<P>
   </UL>
   <A HREF=951214.htm>Dia 14 de Dezembro de 1995</A>
   <UL>
	Guerra do Congresso Norte-Americano Contra a "Indecencia"
	Cibernetica<BR>
	Microsoft Flerta com o Java, e IBM Tambem o Utilizara'<BR>
	Servicos On-Line Devem Seguir o Exemplo da TV a Cabo<BR>
	Interligacoes para o Ensino `a Distancia<BR>
	Florida, Primeira em Computadores na Sala de Aula<BR>
	Internet Phone Apresenta Vantagens e Desvantagens<BR>
	Emprestimos por Telefone<BR>
	Software Mantem os Trens na Linha<BR>
	Time e AOL de Olho em Saude e Forma Fisica<BR>
	Relacao Sinal-Ruido :-)<P>
   </UL>
   <A HREF=951215.htm>Dia 15 de Dezembro de 1995</A>
   <UL>
	Microsoft e' Defensora da Internet<BR>
	Servicos On-Line e Internet<BR>
	Apple Apoia Criacao de Novo Chip<BR>
	Recompensa Para Cacadores de Bugs e Briga de Gigantes<BR>
	Nome para a Proxima Geracao de Discos<BR>
	Bug em Software Leva a Ladroes de Segredo Industrial<BR>
	Software de Traducao<BR>
	Previsao de Escassez de Chips para 1996<BR>
	Microsoft e G.E.<BR>
	Computacao Veloz vem em Pequenas Embalagens<P>
   </UL>
   <A HREF=951219.htm>Dia 19 de Dezembro de 1995</A>
   <UL
	AT&T e HP Vao Construir uma Rede de Alto Desempenho<BR>
	Ziff-Davis Diz Yahoo!<BR>
	Planos da Casa Branca para a HDTV<BR>
	Procom Technology Respeitara' Direito Autoral da Compaq<BR>
	Nao Ha' Lugar para a Microsoft na NBC... Ou Ha'?<BR>
	Software Pago por Utilizacao<BR>
	Japao Vai Eliminar Algumas Barreiras das Telecomunicacoes<BR>
	Ponto Unico de Compras para Servicos de Telecomunicacoes<BR>
	Mais Computadores para as Escolas de Ontario<BR>
	Programacao por Correspondencia<BR>
	TV Latino-Americana<BR>
	Forca-Tarefa Legal na Internet<BR>
	Viciados Ciberneticos<P>
   </UL>
   <A HREF=951220.htm>Dia 20 de Dezembro de 1995</A>
   <UL>
	Pesquisa Sobre Internet Esta' Sendo Criticada<BR>
	Oracle Espera Ter Sucesso com Novo Programa<BR>
	Chip-V Aprovado<BR>
	Empresas de Computadores Protestam Contra o Padrao de TV
	Digital<BR>
	AAP Nao Concorda com Diretrizes de "Utilizacao Correta"<BR>
	Nova Geracao de Chips DRAM da Samsung<BR>
	Lotus Coloca o Notes na World Wide Web<BR>
	Sentenca Contra Prodigy Continua Valendo<BR>
	Grande Planos para o Pippin da Apple<BR>
	Tecnologia na Pesquisa em Salas de Aula<BR>
	Motorola Escolhe Windows NT<BR>
	Afogando em um Mar de Informacoes<BR>
	Canal de Noticias da Microsoft e da NBC<BR>
	Ameacas de Morte de Piratas de Discos no Sul da China<P>
   </UL>
   <A HREF=951222.htm>Dia 22 de Dezembro de 1995</A>
   <UL>
	Disputas Viaveis, Significativas e Substituiveis<BR>
	QVC na Web<BR>
	Quark para Multimidia<BR>
	Classificando a Web<BR>
	Apple Pode Demitir<BR>
	Mulher Visivel na Web<BR>
	Ottawa Surfando na Rede<BR>
	Fim do Controle dos Bancos Sobre Acesso a Sistema Bancario<BR>
	Mais Estatisticas Sobre a Internet<BR>
	Para Divorciar-se, Tecle 1<BR>
	Papai Noel na Web<P>
   </UL>
   <A HREF=951226.htm>Dia 26 de Dezembro de 1995</A>
   <UL>
	Acordo entre Congresso e Presidente Norte-Americanos sobre
		Projeto de Lei das Telecomunicacoes<BR>
	Bell Atlantic e Nynex Planejam Fusao<BR>
	Sonhando com a GEnie<BR>
	Digital Desenvolve "Super Aranha"<BR>
	Temporada de Compras de Natal Agradam Fabricantes de
		Computadores<BR>
	E' Melhor Tomar Cuidado com os Crackers<BR>
	Europa On-Line, ou Quase<BR>
	"Sala de Imprensa Virtual" da CNNfn<BR>
	Mais Pretendentes para a Apple?<BR>
	Calculadoras Banidas das Provas Britanicas<BR>
	Perfil dos Usuarios da Web<BR>
	Concessao de Licencas de PCs<BR>
	Novo Fundo para Alta Tecnologia Emperrado<BR>
	Lista de Boletins Eletronicos<BR>
	Fundo para a Internet Rural e para a Free-Net de Montreal<BR>
	Pagar Ate' Doer<P>
   </UL>
   <A HREF=960102.htm>Dia 02 de Janeiro de 1996</A>
   <UL>
	Resolvido o Caso de Liberdade de Expressao na WWW<BR>
	Projeto de Lei das Telecomunicacoes no Final do Ano<BR>
	Empresas de Radio Saem Ganhando na Revisao das
	Telecomunicacoes<BR>
	Sinergia Internet/ISDN<BR>
	Saida em Massa de Funcionarios da Lotus<BR>
	Alerta Sobre Pornografia do CompuServe Sofre Criticas<BR>
	Lavanderia Cibernetica<BR>
	Microsoft da' Meia-Volta em sua Estrategia para a Internet<BR>
	Netscape de Olho nas Intranets<BR>
	Oferta de Compra de Acoes a Gerentes da AT&T Foi
		Amplamente Ignorada<BR>
	Reinventando a America -- On-Line<BR>
	Arizona Central<BR>
	Cultura Cibernetica<P>
   </UL>
   <A HREF=960103.htm>Dia 03 de Janeiro de 1996</A>
   <UL>
	Flashback: A Revolucao Tecnologica<BR>
	Oferta Gratis<BR>
	Empresas Ignoram Agencias de Propaganda na Corrida da Web<BR>
	Sobrecarga na Internet<BR>
	Boston College Escolhida para Testes de Modem de Cabo<BR>
	Copa do Java<BR>
	Servico de Atendimento a Clientes de Computadores Ainda
		Deixam a Desejar<BR>
	Alivio para Redes<P>
   </UL>
   <A HREF=960105.htm>Dia 05 de Janeiro de 1996</A>
   <UL>
	Um Novo Ano<BR>
	Controversia no Projeto de Lei das Telecomunicacoes<BR>
	Reacoes Contra a Acao do CompuServe Contra a Pornografia
		Cibernetica<BR>
	Europa em Busca de Participacao Domestica Total na Super Via
		de Informacoes<BR>
	Acoes de Empresas de Tecnologia Deverao Subir, Nao Cair<BR>
	Nova Potencia de Software da India<BR>
	Virus Espioes<BR>
	Infra-Estrutura Global de Informacoes<P>
   </UL>
   <A HREF=960109.htm>Dia 09 de Janeiro de 1996</A>
   <UL>
	Busca por Identidade da AT&T Resulta em Demissoes em
		Massa<BR>
	Grampo em Correio Eletronico Pega Criminosos<BR>
	Vendas de Softwares de CD-ROM Disparam<BR>
	Grandes Atualizacoes nas Empresas<BR>
	Apple Ganha no Mercado de Acoes e Perde Renda<BR>
	DVD Deverao Ser os Astros dos Produtos Eletronicos<BR>
	Numeros Portateis<BR>
	Atari Planeja Jogos para PC -- PacMan Tridimensional?<BR>
	Quais os Estados que Tem os Empregos de Tecnologia da
		Informacao?<BR>
	Cartoes Inteligentes Farao Estreia Norte-Americana nas
		Olimpiadas<BR>
	Dia da Rede na California<BR>
	Outra Saudacao de Ano Novo<P>
   </UL>
   <A HREF=960111.htm>Dia 11 de Janeiro de 1996</A>
   <UL>
	Novo na Rede<BR>
	Sobre Patrocinios<BR>
	Tecnologia e Ensino<BR>
	Um Livro e' um Tesouro<BR>
	Calendario de Eventos<BR>
	EDUCOM 96 e no Futuro: Um Calendario de Planejamento a
		Longo Prazo<P>
   </UL>
   <A HREF=960115.htm>Dia 15 de Janeiro de 1996</A>
   <UL>
	Muitos Problemas com o CompuServe<BR>
	Nova Competicao de Supercomputadores<BR>
	Duas Empresas Telefonicas Querem Aumentos de Tarifas para
	ISDN<BR>
	AT&T Atraida pela Web<BR>
	Mais Poder para o Pentium<BR>
	Ampliando a Largura de Banda da Internet<BR>
	Rede Nacional de Ensino do Canada'<BR>
	Satelite Fornece Links Remotos<BR>
	Demografia dos Consumidores On-Line<BR>
	Planilhas na Rede<BR>
	Baroes dos Bytes Entre os Mais Ricos do Canada'<P>
   </UL>
   <A HREF=960116.htm>Dia 16 de Janeiro de 1996</A>
   <UL>
	Tribunal Rejeita Recurso Contra as Leis Sobre Indecencia<BR>
	Tribunal Ouve Caso Lotus/Borland<BR>
	Tempestades de Neve Sobrecarregam Recursos On-Line<BR>
	Venda de Chips Sobe 40 por Cento<BR>
	Chips de 64 Bits Ultrapassarao seus Primos de 32 Bits<BR>
	Modems DSVD -- ISDN de Pobre?<BR>
	IRS e FBI Veem a Internet com Desconfianca<BR>
	Alunos no Espaco Cibernetico<BR>
	Bell Canada Contra-Ataca<br>
	Planos "Simplesmente Interativos" da Microsoft<P>
   </UL>
   <A HREF=960119.htm>Dia 19 de Janeiro de 1996</A>
   <UL>
	Grupo de Direitos Humanos Quer o Fim do Odio Cibernetico<BR>
	Ressaca de Internet?<BR>
	Motivos do CompuServe Sao Questionados<BR>
	Oracle Pretende Lancar em Marco o Primeiro PC Internet<BR>
	Brinquedos Computadorizados<BR>
	Tarifas de Telefones Celulares Estao Caindo nos E.U.A.<BR>
	Telefones Inteligentes<BR>
	NCR Recupera seu Nome Original<BR>
	Provedor Internet Assume o Controle de Companhia Telefonica<BR>
	Canada', Viveiro de Crackers<BR>
	Triste Critica do Projeto de Lei das Telecomunicacoes<BR>
	Pert Systems e Swiss Bank Corporation<BR>
	Prejuizos da Apple Sao Maiores do que o Esperado<BR>
	Palavras Quentes para Curriculos em 96<P>
   </UL>
   <A HREF=960122.htm>Dia 22 de Janeiro de 1996</A>
   <UL>
	Encerrada a Investigacao de Zimmermann<BR>
	Privacidade Tambem ao Telefone<BR>
	Nova Pesquisa Diminui as Estimativas Sobre Usuarios na
		Internet<BR>
	Cortes nos Quadros de Funcionarios da Apple<BR>
	BBS Livra-se de Pornografia<BR>
	Micro-Cobranca<BR>
	Continua a Batalha Contra o Aumento de Tarifas Telefonicas
		no Canada'<BR>
	Sculley Compra Acoes de Empresa de Software Fotografico<BR>
	Barricada das Telecomunicacoes<BR>
	Trabalhadores Suicos Demitidos Por Causa de Pornografia<BR>
	Sintaxe da Web Explicada para Todos<P>
   </UL>
   <A HREF=960123.htm>Dia 23 de Janeiro de 1996</A>
   <UL>
	IBM e Sears Vao Abandonar a Prodigy?<BR>
	Resolvido Caso de Pirataria de Software<BR>
	Vendas do Windows 95 Preocupam<BR>
	Avaliacao das Redes Academicas<BR>
	Cal Tech se Beneficia da Generosidade da Intel<BR>
	France Telecom Oferecera' Acesso Internet<BR>
	Politica de Dominio na Internet<BR>
	Software de Cartao de Credito para a Internet<BR>
	Cisco Compra Fabricante de Modems para Cabo<BR>
	A IBM e' a Maior Vencedora de Patentes<BR>
	Microsoft Comprara' Vermeer Technologies<BR>
	Alerta da Spy Agency Sobre Espioes Corporativos<BR>
	Rede de TV Asiatica da NBC<BR>
	Piratas de Chips<P>
   </UL>
   <A HREF=960126a.htm>Dia 26 de Janeiro de 1996, primeira parte</A>
   <UL>
	Impasse Sobre Questoes de Direitos Autorais<BR>
	Corretores Afirmam que a Rede Ameaca Empresas de
		Telecomunicacoes<BR>
	Exodo dos Servicos Comerciais<BR>
	Um e' Suficiente<BR>
	Apple Vai Eliminar 1.300 Empregos<BR>
	IBM Trocara' Chave de Criptografia por Permissao para
		Exportacao<BR>
	O Poder das Pequenas Equipes<BR>
	Salas de Aula Sem Professores<BR>
	Software de Imagem da Wang Para Win 95<BR>
	Spider Facilita a Vida na Web<BR>
	Eastman Kodak Apoia Programa de Biblioteca Digital<BR>
	Declarada Guerra Cultural Fronteirica<BR>
	Politica de Dominios da Internet<P>
   </UL>
   <A HREF=960126b.htm>Dia 26 de Janeiro de 1996, segunda parte</A>
   <UL>
	Apple `a Venda<BR>
	Cientologistas Vendem Caso de Direito Autoral na Internet<BR>
	Sony Busca 20 Por Cento do Mercado de PCs<BR>
	Compaq Une-se Novamente `a Campanha "Intel Inside"<BR>
	Motorola Sai de Empreendimento Nacional<BR>
	Cooperacao Sobre Violencia na TV<BR>
	IBM Enfrenta Investigacoes Sobre Propina na Argentina<BR>
	Pornografia Infantil da Internet<BR>
	Monitores Flexiveis<P>
   </UL>
   <A HREF=960131a.htm>Dia 31 de Janeiro de 1996, primeira parte</A>
   <UL>
	Novidades do Reino Unido<BR>
	Alunos da MBA Virtual Criam Empresas Virtuais no Espaco
		Cibernetico<BR>
	Livros Didaticos -- Historia do Passado?<BR>
	Gratis!!<BR>
	Calendario de Eventos<BR>
	EDUCOM 96 e no Futuro: Um Calendario de Planejamento a Longo
		Prazo<P>
   </UL>
   <A HREF=960131b.htm>Dia 31 de Janeiro de 1996, segunda parte</A>
   <UL>
	Presidente dos E.U.A. Quer Computadores em Todas as Salas de
		Aula<BR>
	Anulacao do Decreto da IBM Nao Foi um Sucesso Completo<BR>
	Produtores de Software Devem Buscar Protecao nas Leis de
		Patentes<BR>
	Nova Onda de Ofertas Publicas na Internet<BR>
	Investidor Promete 5 Milhoes de Dolares para Acesso Internet<BR>
	GEnie Vendida para Yovelle Renaissance<BR>
	Lotus Fecha Varios Acordos<BR>
	Intel Consegue Apoio de Varias Empresas para Nova Tecnologia<BR>
	Cisco Comprara' a TGV Software<BR>
	Cruzando a Rede em Ceus Amigos<BR>
	Medo e Inseguranca<BR>
	Acordo Sobre Decodificador de TV na Alemanha<BR>
	Privacidade de Dados Pessoais<BR>
	Controversia Sobre "Distribuicao" das Telecomunicacoes Podera'
		Ser Adiada<P>
   </UL>
   <A HREF=960202.htm>Dia 02 de Fevereiro de 1996</A>
   <UL>
	Edupage em Romeno<BR>
	Promotores Alemaes Atacam o Odio Racial na Internet<BR>
	Provedores de Servico On-Line Querem Mudanca na Lei Britanica
		Sobre Difamacao<BR>
	Canada' Recua em Ameaca de Bloqueio<BR>
	Notes Faz a Rede<BR>
	IBM Desiste de Seus Planos para OS/2-PowerPC<BR>
	Investimentos das Empresas em Tecnologia de Informacao<BR>
	Usuarios Japoneses da Internet Sao Corujas Noturnas<BR>
	Ellerbee na Encarta<BR>
	Bell e IBM Proximas de um Acordo no Canada'<BR>
	Registros da AOL Utilizados para Resolver Caso de Assassinato<BR>
	Servico de Correio Postal Norte-Americano Pretende Usar<BR>
	Servicos Digitais<BR>
	Concurso de Redacao<BR>
	Epa! Matematica Conta no Leilao do Espectro<P>
   </UL>
   <A HREF=960207a.htm>Dia 07 de Fevereiro de 1996, primeira parte</A>
   <UL>
	Microsoft & MCI Formam Alianca na Internet<BR>
	Revelado Prototipo de Computador Para Internet<BR>
	Proposta de Parceria Entre Nova Inglaterra e California<BR>
	Entrevistando Servidores Web<BR>
	Informacoes Sobre o Cartao VISA na Rede<BR>
	Teste de Modems a Cabo Considerado um Sucesso<BR>
	Digital Abandona Mercado de PCs para Consumidores<BR>
	Pesquisas da Apple Ficam Paralizadas Durante Reorganizacao<BR>
	Explorer para Macintosh<BR>
	Nova Empresa de Comunicacoes<P>
   </UL>
   <A HREF=960207b.htm>Dia 07 de Fevereiro de 1996, segunda parte</A>
   <UL>
	IBM Compra Tivoli Systems<BR>
	Corel Compra WordPerfect<BR>
	VISA e MasterCard Concordam com Sistema Eletronico de
		Pagamento<BR>
	Estados Procuram Terceirizar suas Funcoes<BR>
	China Suspende Novas Participacoes na Internet<BR>
	Imprensa Gosta do Espaco Cibernetico<BR>
	"Todas as Noticias que Cabem na Web"<BR>
	Netscape Concordou em Comprar a InSoft<BR>
	Virus de Computadores Tiveram um Otimo Ano<BR>
	Quao Rigorosa Sera' a Paralisacao das Pesquisas na Apple?<BR>
	Peruadas de Bill Gates Sobre a Apple<BR>
	Explorer para o Macintosh<BR>
	Custos de Computacao Educacional?<BR>
	Imposto de Telecomunicacoes para Manter CBC<BR>
	Reducoes de Precos na Intel Afetarao Precos e Potencia dos PCs<P>
   </UL>
   <A HREF=960209.htm>Dia 09 de Fevereiro de 1996</A>
   <UL>
	Projeto de Lei das Telecomunicacoes Aprovado pelo Congresso
		dos E.U.A.<BR>
	Emissoras Recebem Espectro para Desenvolvimento de
		Tecnologia Digital<BR>
	Spindler Substituido por Amelio na Apple<BR>
	Outra Alianca Global de Telecomunicacoes<BR>
	America Online Incluido na Investigacao da Internet Alema<BR>
	Empresas Japonesas Preparam Assalto ao Mercado Norte-Americano de PCs<BR>
	Informacoes Mortas na Web<BR>
	Governo Eletronico<BR>
	Empresa Sai do Mercado de TV por Transmissao Direta<BR>
	"Atencao, nao entrem em panico"<P>
   </UL>
   <A HREF=960212.htm>Dia 12 de Fevereiro de 1996</A>
   <UL>
	Ensino `a Distancia/Novidades da TV a Cabo<BR>
	Quem Espera Sempre Alcanca<BR>
	Gerenciamento Facilitado para Obtencao de Fundos<BR>
	Ultimas Novidades em Livros<BR>
	Classificados<BR>
	Calendario de Eventos<BR>
	EDUCOM 96 e no Futuro: Um Calendario de Planejamento a Longo
	Prazo<P>
   </UL>
</UL>

</BODY>

