<HEAD>
<TITLE>FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions) - Introduction</TITLE>
</HEAD>
<BODY>
<H1>Introduction</H1>
<PRE>
Archive-name:   ai-faq/genetic/part2
Last-Modified:  12/20/95
Issue:          3.4


TABLE OF CONTENTS OF PART 2
     Q1: What are Evolutionary Algorithms (EAs)?
     Q1.1: What's a Genetic Algorithm (GA)?
     Q1.2: What's Evolutionary Programming (EP)?
     Q1.3: What's an Evolution Strategy (ES)?
     Q1.4: What's a Classifier System (CFS)?
     Q1.5: What's Genetic Programming (GP)?
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq2.htm"><I>FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Next document is "<A NAME=up HREF="faq21.htm"><I>Q1: What are Evolutionary Algorithms (EAs)?</I></A>"<BR>
</BODY>
