<HEAD>
<TITLE>FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions) - Q1.5: What's Genetic Programming (GP)?</TITLE>
</HEAD>
<BODY>
<H1>Q1.5: What's Genetic Programming (GP)?</H1>
<PRE>

     GENETIC PROGRAMMING is the extension of the genetic model of learning
     into  the space of programs. That is, the objects that constitute the
     POPULATION  are  not  fixed-length  character  strings  that   encode
     possible  solutions  to  the problem at hand, they are programs that,
     when executed, "are" the candidate solutions to  the  problem.  These
     programs  are expressed in genetic programming as parse trees, rather
     than as lines of code.  Thus, for example, the simple program "a +  b
     * c" would be represented as:

		 +
		/ \
		a  *
		 / \
		 b  c

     or,  to  be  precise,  as suitable data structures linked together to
     achieve this effect. Because this is a very simple thing to do in the
     programming language Lisp, many GPers tend to use Lisp. However, this
     is simply an implementation detail. There are straightforward methods
     to implement GP using a non-Lisp programming environment.

     The  programs  in  the  POPULATION  are composed of elements from the
     FUNCTION SET and the TERMINAL SET, which are typically fixed sets  of
     symbols selected to be appropriate to the solution of problems in the
     domain of interest.

     In GP the CROSSOVER  operation  is  implemented  by  taking  randomly
     selected  subtrees in the INDIVIDUALs (selected according to FITNESS)
     and exchanging them.

     It should be pointed out that GP usually does not use any MUTATION as
     a GENETIC OPERATOR.

     More  information  is  available  in  the  GP mailing list FAQ.  (See
     Q15.2)

------------------------------

     Copyright (c) 1993-1995 by J. Heitkoetter and D. Beasley, all  rights
     reserved.

     This  FAQ  may be posted to any USENET newsgroup, on-line service, or
     BBS as long as it  is  posted  in  its  entirety  and  includes  this
     copyright  statement.   This FAQ may not be distributed for financial
     gain.  This FAQ may not be  included  in  commercial  collections  or
     compilations without express permission from the author.
End of ai-faq/genetic/part2
***************************
--
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq2.htm"><I>FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq25.htm"><I>Q1.4: What's a Classifier System (CFS)?</I></A>"<BR>
</BODY>
