<HEAD>
<TITLE>FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions)</TITLE>
</HEAD>
<BODY>
<H1>FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions)</H1>
<UL>
<LI><A NAME=id0 HREF="faq20.htm">Introduction</A>
<LI><A NAME=id1 HREF="faq21.htm">Q1: What are Evolutionary Algorithms (EAs)?</A>
<LI><A NAME=id2 HREF="faq22.htm">Q1.1: What's a Genetic Algorithm (GA)?</A>
<LI><A NAME=id3 HREF="faq23.htm">Q1.2: What's Evolutionary Programming (EP)?</A>
<LI><A NAME=id4 HREF="faq24.htm">Q1.3: What's an Evolution Strategy (ES)?</A>
<LI><A NAME=id5 HREF="faq25.htm">Q1.4: What's a Classifier System (CFS)?</A>
<LI><A NAME=id6 HREF="faq26.htm">Q1.5: What's Genetic Programming (GP)?</A>
</UL>
</BODY>
