<HEAD>
<TITLE>FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions) - Q4.1: What about Alife systems, like Tierra and VENUS?</TITLE>
</HEAD>
<BODY>
<H1>Q4.1: What about Alife systems, like Tierra and VENUS?</H1>
<PRE>
     None  of  these  are Evolutionary Algorithms, but all of them use the
     evolutionary metaphor as their "playing field".

 Tierra
     Synthetic organisms have been created based on a computer metaphor of
     organic  life in which CPU time is the ``energy'' resource and memory
     is the ``material'' resource.  Memory is organized into informational
     patterns  that  exploit  CPU  time  for  self-replication.   MUTATION
     generates new forms, and EVOLUTION proceeds by natural  SELECTION  as
     different GENOTYPEs compete for CPU time and memory space.

     Observation  of  nature  shows that EVOLUTION by natural SELECTION is
     capable of both OPTIMIZATION and creativity.   Artificial  models  of
     evolution  have  demonstrated the optimizing ability of evolution, as
     exemplified by the field of GENETIC ALGORITHMs.  The creative aspects
     of evolution have been more elusive to model.  The difficulty derives
     in part from a tendency of models  to  specify  the  meaning  of  the
     ``genome''  of  the  evolving  entities, precluding new meanings from
     emerging.  I will present a natural model of evolution  demonstrating
     both  optimization  and  creativity,  in which the GENOME consists of
     sequences of executable machine code.

     From a single rudimentary ancestral ``creature'', very quickly  there
     evolve  parasites,  which  are  not  able  to  replicate in isolation
     because they lack a large portion  of  the  GENOME.   However,  these
     parasites  search  for the missing information, and if they locate it
     in a nearby creature, parasitize the information from the neighboring
     genome, thereby effecting their own replication.

     In  some  runs,  hosts  evolve immunity to attack by parasites.  When
     immune hosts appear, they often increase  in  frequency,  devastating
     the  parasite POPULATIONs.  In some runs where the community comes to
     be dominated by immune hosts, parasites evolve that are resistant  to
     immunity.

     Hosts  sometimes  evolve  a  response  to  parasites that goes beyond
     immunity,  to  actual  (facultative)  hyper-parasitism.   The  hyper-
     parasite  deceives  the  parasite  causing the parasite to devote its
     energetic resources to  replication  of  the  hyper-parastie  GENOME.
     This  drives the parasites to extinction.  Evolving in the absence of
     parasites,  hyper-parasites  completely   dominate   the   community,
     resulting  in  a relatively uniform community characterized by a high
     degree   of   relationship   between   INDIVIDUALs.    Under    these
     circumstances,  sociality evolves, in the form of creatures which can
     only replicate in aggregations.

     The cooperative behavior of the  social  hyper-parasites  makes  them
     vulnerable to a new class of parasites.  These cheaters, hyper-hyper-
     parasites, insert themselves between cooperating social  INDIVIDUALs,
     deceiving the social creatures, causing them to replicate the GENOMEs
     of the cheaters.

     The only genetic change imposed on the simulator is random bit  flips
     in  the  machine  code  of the creatures.  However, it turns out that
     parasites  are  very  sloppy  replicators.   They  cause  significant
     RECOMBINATION  and  rearrangement  of  the GENOMEs.  This spontaneous
     sexuality is a powerful force for evolutionary change in the  system.

     One  of the most interesting aspects of this instance of life is that
     the bulk of the EVOLUTION  is  based  on  adaptation  to  the  biotic
     ENVIRONMENT rather than the physical environment.  It is co-evolution
     that drives the system.

     --- "Tierra announcement" by Tom Ray (1991)

  How to get Tierra?
     The complete source code and documentation (but not  executables)  is
     available   by   anonymous   FTP   at:   tierra.slhs.udel.edu:/   and
     life.slhs.udel.edu:/ in the directories: almond/, beagle/, doc/,  and
     tierra/.

     If you do not have FTP access you may obtain everything on DOS disks.
     For details, write to: Virtual Life, 25631 Jorgensen Rd., Newman,  CA
     95360.

     References

     Ray, T. S. (1991)  "Is it alive, or is it GA?" in [ICGA91], 527--534.

     Ray, T. S. (1991)   "An  approach  to  the  synthesis  of  life."  in
     [ALIFEII], 371--408.

     Ray,  T.  S.   (1991)  "Population dynamics of digital organisms." in
     [ALIFEII-V].

     Ray,  T.  S.   (1991)   "Evolution  and   OPTIMIZATION   of   digital
     organisms."   Scientific  Excellence  in Supercomputing: The IBM 1990
     Contest Prize Papers, Eds. Keith R. Billingsley, Ed Derohanes, Hilton
     Brown,  III.  Athens, GA, 30602, The Baldwin Press, The University of
     Georgia.

     Ray, T. S.  (1992)  "Evolution, ecology and OPTIMIZATION  of  digital
     organisms."  Santa Fe Institute working paper 92-08-042.

     Ray, T. S.  "Evolution, complexity, entropy, and artificial reality."
     submitted Physica D. Avail. as <A NAME=id6 HREF="ftp://tierra.slhs.udel.edu/doc/PhysicaD.tex">tierra.slhs.udel.edu:/doc/PhysicaD.tex</A>

     Ray,  T.  S.   (1993) "An evolutionary approach to synthetic biology,
     Zen and the art of creating life.  Artificial Life  1(1).  Avail.  as
     <A NAME=id7 HREF="ftp://tierra.slhs.udel.edu/doc/Zen.tex">tierra.slhs.udel.edu:/doc/Zen.tex</A>

 VENUS
     Steen  Rasmussen's  (et  al.) VENUS I+II "coreworlds" as described in
     [ALIFEII] and [LEVY92], are inspired  by  A.K.  Dewdney's  well-known
     article  (Dewdney  1984). Dewdney proposed a game called "Core Wars",
     in which hackers create computer programs that battle for control  of
     a  computer's "core" memory (Strack 93).  Since computer programs are
     just patterns of information, a successful program in  core  wars  is
     one that replicates its pattern within the memory, so that eventually
     most of the memory contains its  pattern  rather  than  that  of  the
     competing program.

     VENUS  is  a modification of Core Wars in which the Computer programs
     can mutate, thus the pseudo assembler code creatures of VENUS  evolve
     steadily.   Furthermore   each   memory   location  is  endowed  with
     "resources" which, like sunshine are added  at  a  steady  state.   A
     program  must  have  sufficient resources in the regions of memory it
     occupies in order to execute.   The  input  of  resources  determines
     whether  the  VENUS ecosystem is a "jungle" or a "desert."  In jungle
     ENVIRONMENTs, Rasmussen et al. observe the spontaneous  emergence  of
     primitive  "copy/split"  organisms  starting from (structured) random
     initial conditions.
     --- [ALIFEII], p.821

     Dewdney, A.K. (1984) "Computer Recreations: In the Game  called  Core
     War  Hostile Programs Engage in a Battle of Bits", Sci. Amer. 250(5),
     14-22.

     Farmer &#38;  Belin  (1992)  "Artificial  Life:  The  Coming  Evolution",
     [ALIFEII], 815-840.

     Rasmussen,  et  al. (1990) "The Coreworld: Emergence and EVOLUTION of
     Cooperative Structures in a  Computational  Chemistry",  [FORREST90],
     111-134.

     Rasmussen,   et   al.   (1992)  "Dynamics  of  Programmable  Matter",
     [ALIFEII], 211-254.

     Strack (1993) "Core War Frequently Asked Questions (rec.games.corewar
     FAQ)"         Avail.         by         anon.         FTP        from
     <A NAME=id8 HREF="ftp://rtfm.mit.edu/pub/usenet/news.answers/games/corewar-faq.Z">rtfm.mit.edu:/pub/usenet/news.answers/games/corewar-faq.Z</A>

 PolyWorld
     Larry Yaeger's PolyWorld as described in [ALIFEIII] and  [LEVY92]  is
     available via anonymous FTP from <A NAME=id9 HREF="ftp://ftp.apple.com/pub/polyworld/">ftp.apple.com:/pub/polyworld/</A>

     "The  subdirectories in this "polyworld" area contain the source code
     for the PolyWorld ecological simulator, designed and written by Larry
     Yaeger, and Copyright 1990, 1991, 1992 by Apple Computer.

     PostScript  versions  of  my ARTIFICIAL LIFE III technical paper have
     now been added to the directory.  These should be directly  printable
     from most machines.  Because some unix systems' "lpr" commands cannot
     handle very large files (ours at least), I have split the paper  into
     Yaeger.ALife3.1.ps and Yaeger.ALife3.2.ps.  These files can be ftp-ed
     in "ascii" mode.  For unix users  I  have  also  included  compressed
     versions  of  both these files (indicated by the .Z suffix), but have
     left the uncompressed versions around for people connecting from non-
     unix  systems.   I  have  not  generated  PostScript  versions of the
     images, because they are color and the resulting files are  much  too
     large  to  store,  retrieve,  or  print.   Accordingly, though I have
     removed a Word-formatted version of the textual  body  of  the  paper
     that  used  to  be  here, I have left a Word-formatted version of the
     color images.  If you wish to acquire it, you will need  to  use  the
     binary transfer mode to move it to first your unix host and then to a
     Macintosh (unless Word on a PC can read it - I don't know),  and  you
     may  need to do something nasty like use ResEdit to set the file type
     and creator to match those of a standard Word document (Type =  WDBN,
     Creator = MSWD).  [..]"

     --- from the README by Larry Yaeger &#60;larryy@apple.com&#62;

 General Alife repositories?
     Also, all of the following FTP sites carry ALIFE related info:

     <A NAME=id10 HREF="ftp://ftp.cognet.ucla.edu/pub/alife/">ftp.cognet.ucla.edu:/pub/alife/</A>                                     ,
     <A NAME=id11 HREF="ftp://life.anu.edu.au/pub/complex_systems/alife/">life.anu.edu.au:/pub/complex_systems/alife/</A>                         ,
     <A NAME=id12 HREF="ftp://ftp.cogs.susx.ac.uk/pub/reports/csrp/">ftp.cogs.susx.ac.uk:/pub/reports/csrp/</A>  ,  <A NAME=id13 HREF="ftp://xyz.lanl.gov/nlin-sys/">xyz.lanl.gov:/nlin-sys/</A>  ,
     <A NAME=id14 HREF="ftp://alife.santafe.edu/pub/">alife.santafe.edu:/pub/</A>
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq3.htm"><I>FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq33.htm"><I>Q4: How many EAs exist? Which?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq35.htm"><I>Q5: What about all this Optimization stuff?</I></A>"<BR>
</BODY>
