<HEAD>
<TITLE>FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions)</TITLE>
</HEAD>
<BODY>
<H1>FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions)</H1>
<UL>
<LI><A NAME=id0 HREF="faq30.htm">Introduction</A>
<LI><A NAME=id1 HREF="faq31.htm">Q2: What applications of EAs are there?</A>
<LI><A NAME=id2 HREF="faq32.htm">Q3: Who is concerned with EAs?</A>
<LI><A NAME=id3 HREF="faq33.htm">Q4: How many EAs exist? Which?</A>
<LI><A NAME=id4 HREF="faq34.htm">Q4.1: What about Alife systems, like Tierra and VENUS?</A>
<LI><A NAME=id5 HREF="faq35.htm">Q5: What about all this Optimization stuff?</A>
</UL>
</BODY>
