<HEAD>
<TITLE>FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions) - Introduction</TITLE>
</HEAD>
<BODY>
<H1>Introduction</H1>
<PRE>
Archive-name:   ai-faq/genetic/part3
Last-Modified:  12/20/95
Issue:          3.4

TABLE OF CONTENTS OF PART 3
     Q2: What applications of EAs are there?

     Q3: Who is concerned with EAs?

     Q4: How many EAs exist? Which?
     Q4.1: What about Alife systems, like Tierra and VENUS?

     Q5: What about all this Optimization stuff?
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq3.htm"><I>FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Next document is "<A NAME=up HREF="faq31.htm"><I>Q2: What applications of EAs are there?</I></A>"<BR>
</BODY>
