<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.1: Suitable background reading for beginners?</TITLE>
</HEAD>
<BODY>
<H1>Q10.1: Suitable background reading for beginners?</H1>
<PRE>
     These books give a "flavor" of what the subject is about.

     Dawkins, R. (1976, 1989 2nd ed) "The Selfish  Gene",  Oxford:  Oxford
     University Press.  [The 2nd edition includes two new chapters]

     Dawkins,  R.  (1982)  "The  Extended Phenotype: The Gene as a Unit of
     Selection", Oxford: Oxford University Press.

     Dawkins, R. (1986) "The Blind Watchmaker", New York: W.W. Norton.

     Gonick, L. (1983) "The Cartoon Guide to Computer Science", New  York:
     Barnes &#38; Nobel. [eds note: features an interesting chapter on Charles
     Babbage in conjunction with "horse racing forecasting", if  you  want
     to use EAs to fullfill this task, better read this section first]

     Gonick, L. (1983) "The Cartoon Guide to Genetics", New York: Barnes &#38;
     Nobel.

     Regis, E. (1987) "Who got Einstein's Office?  Eccentricity and Genius
     at  the  Institute  for  Advanced Study", Reading, MA: Addison Wesley
     [eds note: chapters 5, 10 and 12]

     Levy, S. (1992) "Artificial Life: The Quest for a new Creation",  New
     York,  NY: Pantheon. [LEVY92]: [eds note: read this and you will have
     the urge to work in this field]

     Sigmund, K. (1993) "Games of Life: Explorations in Ecology, Evolution
     and Behaviour", Oxford: Univ. Press. 252 pp. Hard/Softcover avail.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq41.htm"><I>Q10: What introductory material on EAs is there?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq43.htm"><I>Q10.2: Textbooks on EC?</I></A>"<BR>
</BODY>
