<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Introduction</TITLE>
</HEAD>
<BODY>
<H1>Introduction</H1>
<PRE>
Archive-name:   ai-faq/genetic/part4
Last-Modified:  12/20/95
Issue:          3.4

TABLE OF CONTENTS OF PART 4
     Q10: What introductory material on EAs is there?
     Q10.1: Suitable background reading for beginners?
     Q10.2: Textbooks on EC?
     Q10.3: The Classics?
     Q10.4: Introductory Journal Articles?
     Q10.5: Introductory Technical Reports?
     Q10.6: Not-quite-so-introductory Literature?
     Q10.7: Biological Background Readings?
     Q10.8: On-line bibliography collections?
     Q10.9: Videos?
     Q10.10: CD-ROMs?
     Q10.11: How do I get a copy of a dissertation?

     Q11: What EC related journals and magazines are there?

     Q12: What are the important conferences/proceedings on EC?

     Q13: What Evolutionary Computation Associations exist?

     Q14: What Technical Reports are available?

     Q15: What information is available over the net?
     Q15.1: What digests are there?
     Q15.2: What mailing lists are there?
     Q15.3: What online information repositories are there?
     Q15.4: What relevant newsgroups and FAQs are there?
     Q15.5: What about all these Internet Services?
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Next document is "<A NAME=up HREF="faq41.htm"><I>Q10: What introductory material on EAs is there?</I></A>"<BR>
</BODY>
