<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.10: CD-ROMs?</TITLE>
</HEAD>
<BODY>
<H1>Q10.10: CD-ROMs?</H1>
<PRE>
  PTF for AI by CMU
     Carnegie Mellon University is establishing an Artificial Intelligence
     Repository   to   contain  public  domain  and  freely  distributable
     software,  publications,  and  other  materials  of  interest  to  AI
     researchers,  educators,  and  students.  The  AI  Repository will be
     accessible by anonymous FTP and  Andrew  File  System  (AFS)  without
     charge  (See  Q15.3).   The  contents  of the repository will also be
     published by  Prime  Time  Freeware  as  an  inexpensive  mixed-media
     (Book/CD-ROM) publication.

     For your information, here is a precis of the CD-ROM:

     PTF  for  AI  is  a periodic collection of AI-related source code and
     documentation.  PTF for AI in no way modifies the legal  restrictions
     on  any  package  it  includes.   The first issue (1-1; Summer, 1993)
     consisted of an ISO-9660 CD-ROM bound into  a  ~100  page  book.   It
     contained  ~600  MB  of  gzipped  archives  (2+  GB  uncompressed and
     unpacked).  Cost: $60 US.

     For more information contact:  Mark  Kantrowitz,  Archivist,  CMU  AI
     Repository,  Editor,  PTF for AI. Net: &#60;mkant+repository@cs.cmu.edu&#62;,
     Tel: +1 412-268-2582, Fax: +1 412-681-5739.

  AI CD-ROM by NCC
     Network Cybernetics Corporation has released a new CD-ROM title,  the
     AI  CD-ROM  Revision  3  (ISBN  1-886376-01-8).   This  is the newest
     version of an annually updated collection of artificial  intelligence
     programming and research tools.  This ISO-9660 format CD-ROM contains
     thousands of programs, source code collections,  tutorials,  research
     papers, Internet journals, and other resources.  Previous versions of
     the AI CD-ROM are currently in use as teaching  aids  for  AI-related
     University courses, as research aids to computer scientists, and as a
     source of advanced computer programming tools for application program
     developers around the world.

     The  AI CD-ROM contains thousands of up to date files covering a wide
     range of topics including: Fuzzy Logic,  Genetic  Algorithms,  Neural
     Networks, Expert Systems, Robotics, Machine Vision, Natural Language,
     Prolog, Lisp, Embedded AI, Virtual Reality, Cellular Automata, Chaos,
     Fractals,  and more.  The disc is divided into topical subdirectories
     and each directory contains an index file with  descriptive  listings
     of the contents.  The AI CD-ROM has received  good  reviews  in  many
     magazines  including  Byte  (Jerry  Pournelle,  March  '93)  and IEEE
     Computer  (J.  Zalewski,  July  '93), CD-ROM Professional and others.
     The CD-ROM has a list price of $89.00.

     For people wanting to see a complete listing of  the  CD's  contents,
     FTP  to  ftp.ncc.com:/  and  get the file AICD3.ZIP. The file is also
     available from the Compuserve AIEXPERT forum, and the NCC dial-up BBS
     at    214-258-1832.    Also    check    out    the   WWW   site   at:
     <A NAME=id18 HREF="http://<A NAME=id19 HREF="ftp://www.ncc.com/ncc/ai</A>">www.ncc.com:/ncc/ai">http://<A NAME=id20 HREF="ftp://www.ncc.com/ncc/ai</A></A>">www.ncc.com:/ncc/ai</A></A></A>

     Enquiries to: Network Cybernetics  Corporation,  4201  Wingren  Road,
     Suite 202, Irving, TX 75062-2763, USA &#60;ai-info@ncc.com&#62;
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq410.htm"><I>Q10.9: Videos?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq412.htm"><I>Q10.11: How do I get a copy of a dissertation?</I></A>"<BR>
</BODY>
