<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.11: How do I get a copy of a dissertation?</TITLE>
</HEAD>
<BODY>
<H1>Q10.11: How do I get a copy of a dissertation?</H1>
<PRE>
     All  US  American  dissertations are available from: UMI Dissertation
     Information Service, University Microfilms International,  A  Bell  &#38;
     Howell  Information  Company,  300  N. Zeeb Road, Ann Arbor, Michigan
     48106, USA.  Tel.: 800-521-0600, or +1 (313) 761-4700
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq411.htm"><I>Q10.10: CD-ROMs?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq413.htm"><I>Q11: What EC related journals and magazines are there?</I></A>"<BR>
</BODY>
