<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.2: Textbooks on EC?</TITLE>
</HEAD>
<BODY>
<H1>Q10.2: Textbooks on EC?</H1>
<PRE>
     These books go into the "nuts and bolts" of EC.

     Goldberg,  D.E.  (1989)  "Genetic Algorithms in Search, Optimization,
     and Machine Learning",Addison-Wesley. [GOLD89]:  (Probably  the  most
     widely referenced book in the field!)

     Davis,  L. (ed) (1991) "Handbook of Genetic Algorithms", Van Nostrand
     Reinhold, New York, NY. [DAVIS91]:

     Michalewicz,  Z.  (1992)  Genetic  algorithms  +  Data  Structures  =
     Evolution  Programs",  Springer-Verlag,  New  York,  NY. Also second,
     extended edition (1994) with index.

     Koza,  J.R.  (1992),  Genetic  Programming:  On  the  Programming  of
     Computers  by  means of Natural Selection", Cambridge, MA: MIT Press.
     [KOZA92]:
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq42.htm"><I>Q10.1: Suitable background reading for beginners?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq44.htm"><I>Q10.3: The Classics?</I></A>"<BR>
</BODY>
