<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.5: Introductory Technical Reports?</TITLE>
</HEAD>
<BODY>
<H1>Q10.5: Introductory Technical Reports?</H1>
<PRE>
     Hoffmeister,  F.  &#38;  Baeck,  T.  (1990, 1992) "Genetic Algorithms and
     Evolution Strategies: Similarities and  Differences",  University  of
     Dortmund,   Dept.   of   CS,   SyS-1/92.   Available   by   ftp  from
     lumpi.informatik.uni-dortmund.de:

     Whitley, D. (1993) "A Genetic  Algorithm  Tutorial",  Colorado  State
     University,  Dept.  of  CS,  TR  CS-93-103.  Available  by  ftp  from
     beethoven.cs.colostate.edu:
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq45.htm"><I>Q10.4: Introductory Journal Articles?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq47.htm"><I>Q10.6: Not-quite-so-introductory Literature?</I></A>"<BR>
</BODY>
