<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.9: Videos?</TITLE>
</HEAD>
<BODY>
<H1>Q10.9: Videos?</H1>
<PRE>
     Sims,   K.  (1990)  "Panspermia",  ACM  Sigraph  Review.  Order  form
     available                 by                 FTP                 from
     <A NAME=id17 HREF="ftp://siggraph.org/publications/video_review/order_blank">siggraph.org:/publications/video_review/order_blank</A>   Look   in  that
     directory for other useful information.  Note  that  "Panspermia"  is
     Item 23 of Issue 62 of the "SIGGRAPH Video Review".

     Langton,  C.G. (ed) (1992) "Artificial Life II Video Proceedings" The
     Advanced Book Program of the  Santa  Fe  Institute:  Studies  in  the
     Sciences of Complexity, Addison Wesley, ISBN 0-201-55492-5. [ALIFEII-
     V]:

     Koza, J.R. &#38; Rice, J.P.  (1992)  "Genetic  Programming:  The  Movie",
     Cambridge, MA: MIT Press. See GP-faq for an order form. (see Q15)

     The  Santa  Fe  Institute  has produced a thirteen minute promotional
     video, which includes a five minute  segment  discussing  the  Tierra
     research  project,  illustrated  with  a  very high quality animation
     produced by the Anti Gravity Workshop in Santa Monica, CA. To  obtain
     the  video, contact the Santa Fe Institute at:  1660 Old Pecos Trail,
     Suite  A,  Santa  Fe,  New  Mexico  87501  (Tel:  505-984-8800,  Fax:
     505-982-0565,  Net:  &#60;email@santafe.edu&#62;)  or contact Linda Feferman:
     &#60;fef@santafe.edu&#62; or &#60;0005851689@mcimail.com&#62;
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq49.htm"><I>Q10.8: On-line bibliography collections?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq411.htm"><I>Q10.10: CD-ROMs?</I></A>"<BR>
</BODY>
