<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q15.3: What online information repositories are there?</TITLE>
</HEAD>
<BODY>
<H1>Q15.3: What online information repositories are there?</H1>
<PRE>
     Many  research  institutes  have  online  repositories of information
     which my be retrieved using FTP or  (increasingly),  World  Wide  Web
     (WWW).

     NOTE: See also Q14 above.

 ENCORE
     ENCORE   (The  EvolutioNary  COmputation  REpository  network)  is  a
     collection of anonymous FTP servers/World Wide Web sites providing  a
     wealth  of  information  in  the  area of EC, from technical reports,
     copies of journal articles, down to  source  code  for  various  EAs.
     ENCORE  acts  as a distributor of much material generated at research
     institutes (and other places) which don't necessarily have their  own
     FTP servers.

     Each node of ENCORE is referred to as an "EClair". There are numerous
     nodes around the world, all carrying copies of the same  information.
     The  sites  may  be accessed using FTP or WWW browsers. If using FTP,
     omit the initial "<A NAME=id42 HREF="ftp://">ftp://</A>" and the final "Welcome.html"  in  the  file
     specification in order to access the top-level directory.

     The sites include:

     EUnet Deutschland GmbH (Germany):

     o  <A NAME=id43 HREF="ftp://<A NAME=id44 HREF="ftp://ftp.Germany.EU.net/pub/research/softcomp/EC/Welcome.html</A>">ftp.Germany.EU.net:/pub/research/softcomp/EC/Welcome.html">ftp://<A NAME=id45 HREF="ftp://ftp.Germany.EU.net/pub/research/softcomp/EC/Welcome.html</A></A>">ftp.Germany.EU.net:/pub/research/softcomp/EC/Welcome.html</A></A></A>

     Technical University of Berlin (Germany):

     o  <A NAME=id46 HREF="ftp://<A NAME=id47 HREF="ftp://ftp-bionik.fb10.tu-berlin.de/pub/EC/Welcome.html</A>">ftp-bionik.fb10.tu-berlin.de:/pub/EC/Welcome.html">ftp://<A NAME=id48 HREF="ftp://ftp-bionik.fb10.tu-berlin.de/pub/EC/Welcome.html</A></A>">ftp-bionik.fb10.tu-berlin.de:/pub/EC/Welcome.html</A></A></A>

     Ecole Polytechnique, Palaiseau (France):

     o  <A NAME=id49 HREF="ftp://<A NAME=id50 HREF="ftp://blanche.polytechnique.fr/pub/eark/EC/Welcome.html</A>">blanche.polytechnique.fr:/pub/eark/EC/Welcome.html">ftp://<A NAME=id51 HREF="ftp://blanche.polytechnique.fr/pub/eark/EC/Welcome.html</A></A>">blanche.polytechnique.fr:/pub/eark/EC/Welcome.html</A></A></A>

     The University of Warwick (United Kingdom):

     o  <A NAME=id52 HREF="ftp://<A NAME=id53 HREF="ftp://ftp.dcs.warwick.ac.uk/pub/mirrors/EC/Welcome.html</A>">ftp.dcs.warwick.ac.uk:/pub/mirrors/EC/Welcome.html">ftp://<A NAME=id54 HREF="ftp://ftp.dcs.warwick.ac.uk/pub/mirrors/EC/Welcome.html</A></A>">ftp.dcs.warwick.ac.uk:/pub/mirrors/EC/Welcome.html</A></A></A>

     The University of Oviedo (Spain):

     o  <A NAME=id55 HREF="ftp://<A NAME=id56 HREF="ftp://zeus.etsimo.uniovi.es/pub/EC/Welcome.html</A>">zeus.etsimo.uniovi.es:/pub/EC/Welcome.html">ftp://<A NAME=id57 HREF="ftp://zeus.etsimo.uniovi.es/pub/EC/Welcome.html</A></A>">zeus.etsimo.uniovi.es:/pub/EC/Welcome.html</A></A></A>

     The Santa Fe Institute (USA):

     o  <A NAME=id58 HREF="ftp://<A NAME=id59 HREF="ftp://alife.santafe.edu/pub/USER-AREA/EC/Welcome.html</A>">alife.santafe.edu:/pub/USER-AREA/EC/Welcome.html">ftp://<A NAME=id60 HREF="ftp://alife.santafe.edu/pub/USER-AREA/EC/Welcome.html</A></A>">alife.santafe.edu:/pub/USER-AREA/EC/Welcome.html</A></A></A>

     The California Institute of Technology (USA):

     o  <A NAME=id61 HREF="ftp://<A NAME=id62 HREF="ftp://ftp.krl.caltech.edu/pub/EC/Welcome.html</A>">ftp.krl.caltech.edu:/pub/EC/Welcome.html">ftp://<A NAME=id63 HREF="ftp://ftp.krl.caltech.edu/pub/EC/Welcome.html</A></A>">ftp.krl.caltech.edu:/pub/EC/Welcome.html</A></A></A>

     Wayne State University, Detroit (USA):

     o  <A NAME=id64 HREF="ftp://<A NAME=id65 HREF="ftp://ftp.cs.wayne.edu/pub/EC/Welcome.html</A>">ftp.cs.wayne.edu:/pub/EC/Welcome.html">ftp://<A NAME=id66 HREF="ftp://ftp.cs.wayne.edu/pub/EC/Welcome.html</A></A>">ftp.cs.wayne.edu:/pub/EC/Welcome.html</A></A></A>

     The Michigan State University, East Lansing (USA):

     o  <A NAME=id67 HREF="ftp://<A NAME=id68 HREF="ftp://ftp.egr.msu.edu/pub/EC/Welcome.html</A>">ftp.egr.msu.edu:/pub/EC/Welcome.html">ftp://<A NAME=id69 HREF="ftp://ftp.egr.msu.edu/pub/EC/Welcome.html</A></A>">ftp.egr.msu.edu:/pub/EC/Welcome.html</A></A></A>

     Purdue University, West Lafayette, IN (USA):

     o  <A NAME=id70 HREF="ftp://<A NAME=id71 HREF="ftp://coast.cs.purdue.edu/pub/EC/Welcome.html</A>">coast.cs.purdue.edu:/pub/EC/Welcome.html">ftp://<A NAME=id72 HREF="ftp://coast.cs.purdue.edu/pub/EC/Welcome.html</A></A>">coast.cs.purdue.edu:/pub/EC/Welcome.html</A></A></A>

     The Chinese University of Hong Kong:

     o  <A NAME=id73 HREF="ftp://<A NAME=id74 HREF="ftp://ftp.cs.cuhk.hk/pub/EC/Welcome.html</A>">ftp.cs.cuhk.hk:/pub/EC/Welcome.html">ftp://<A NAME=id75 HREF="ftp://ftp.cs.cuhk.hk/pub/EC/Welcome.html</A></A>">ftp.cs.cuhk.hk:/pub/EC/Welcome.html</A></A></A>

     University of Cape Town (South Africa):
     o  <A NAME=id76 HREF="ftp://<A NAME=id77 HREF="ftp://ftp.uct.ac.za/pub/mirrors/EC/Welcome.html</A>">ftp.uct.ac.za:/pub/mirrors/EC/Welcome.html">ftp://<A NAME=id78 HREF="ftp://ftp.uct.ac.za/pub/mirrors/EC/Welcome.html</A></A>">ftp.uct.ac.za:/pub/mirrors/EC/Welcome.html</A></A></A>

     CEFET-PR, Curitiba (Brazil):

     o  <A NAME=id79 HREF="ftp://ftp.cefetpr.br/pub/EC/Welcome.html">ftp://ftp.cefetpr.br/pub/EC/Welcome.html</A>

     Well  worth  getting is "The Navigator's Guide to ENCORE", a handbook
     to this service, in file:

     o  handbook/encore.ps.gz (A4 paper) or

     o  handbook/encore-US.ps.gz (US letter size paper).

     ENCORE is administered by Joerg Heitkoetter &#60;joke@Germany.EU.net&#62;.

 The Santa Fe Institute
     The Santa Fe Institute Studies in the Sciences  of  Complexity  (SFI)
     issues   a   recommended  series:  SFI  Studies  in  the  Science  of
     Complexity, published by Addison Wesley and maintains  a  well-sorted
     FTP server with EC related material.

     o  Admin requests: &#60;ftp@santafe.edu&#62;

     o  Anonymous FTP archive: <A NAME=id80 HREF="ftp://ftp.santafe.edu/pub/">ftp.santafe.edu:/pub/</A>
     Information  on  SUMMERSCHOOLs  held by the SFI can be obtained from:
     Santa Fe Institute, 1399 Hyde Park Road, Santa Fe, NM 87501, USA.

 The Australian National University (ANU)
     The Bioinformatics facility at Australian National University has set
     up  an  anonymous  FTP  server,  that  contains  EC related material,
     maintained by David G. Green.

     o  Admin requests: &#60;david.green@anu.edu.au&#62;

     o  Anonymous FTP archive: <A NAME=id81 HREF="ftp://life.anu.edu.au/pub/complex_systems/alife/">life.anu.edu.au:/pub/complex_systems/alife/</A>

     o  Gopher protocol: Besides direct access to all FTP information, the
	gopher server offers online access to relevant newsgroups,  online
	databases and direct links to relevant international services.

	Name=Complex   systems,   Host=life.anu.edu.au,  Type=1,  Port=70,
	Path=1/complex_systems.

     o  World Wide Web protocol: Besides access to all of the  above,  the
	hypermedia  server  offers  introductory  tutorials, preprints and
	papers    online.    The    URL    for     this     service     is
	<A NAME=id82 HREF="http://life.anu.edu.au/complex_systems/complex.html">http://life.anu.edu.au/complex_systems/complex.html</A>  or  link  via
	the servers home page <A NAME=id83 HREF="http://life.anu.edu.au/">http://life.anu.edu.au/</A>

 LGI laboratory, Grenoble, France
     Research into Parallel GENETIC ALGORITHMs: papers (technical reports,
     conference   and  journal  articles,  theses,  monographies,  etc...)
     written by members of the SYMPA team are available by FTP from

     o  <A NAME=id84 HREF="ftp://imag.fr/pub/SYMPA/">imag.fr:/pub/SYMPA/</A>

     Their adress is: SYMPA/LGI - Institut  IMAG,  BP  53  38041  Grenoble
     Cedex, FRANCE &#60;muntean@imag.fr&#62;

 The University of Alabama, Department of Computer Science
     A  number  of  papers  and  preprints  are  available  in  compressed
     Postscript form by FTP from the Univ. of  Alabama  (Tuscaloosa)  from
     <A NAME=id85 HREF="ftp://aramis.cs.ua.edu/pub/tech-reports/">aramis.cs.ua.edu:/pub/tech-reports/</A>  The  naming convention for files
     is:  (author's last name).(journal name).ps .  Maintained by Dr.  Ron
     Sun &#60;rsun@athos.cs.ua.edu&#62;

 CMU Artificial Intelligence Repository
     Holds  more  than  a  gigabyte  of  software, publications, and other
     materials of interest to AI  researchers,  educators,  students,  and
     practitioners.   The  AI  Programming  Languages  and the AI Software
     Packages sections of the repository can be accessed in the lang/  and
     areas/ subdirectories. Other directories, which are in varying states
     of  completion,  are  events/  and  pubs/  (Publications,   including
     technical reports, books, mail/news archives).

     The  AI Programming Languages section includes directories for Common
     Lisp, Prolog, Scheme, Smalltalk,  and  other  AI-related  programming
     languages.   The AI Software Packages section includes subdirectories
     for:  alife/  (ARTIFICIAL  LIFE),  anneal/   (Simulated   Annealing),
     genetic/  (GENETIC  ALGORITHMs  etc.,  including  benchmarks and test
     problems) and many more.

     The AI Repository is accessible by FTP  at:  <A NAME=id86 HREF="ftp://ftp.cs.cmu.edu/user/ai/">ftp.cs.cmu.edu:/user/ai/</A>
     (Be  sure  to  read the files 0.doc and readme.txt in this directory)
     and          by          WWW          at           the           URL:
     <A NAME=id87 HREF="http://www.cs.cmu.edu:8001/Web/Groups/AI/html/repository.html">http://www.cs.cmu.edu:8001/Web/Groups/AI/html/repository.html</A>  It  is
     also available on CD-ROM (See Q10.10).

 The MSU Genetic Algorithms Research and Applications Group (GARAGe)
     GARAGe has a number of interesting projects, both in terms of GA  and
     GP   fundamental   research  and  in  GA/GP  applications  including:
     parallelization  of  GAs/GPs;  multiple  POPULATION  topologies   and
     interchange   methodologies;   scheduling   applications,   including
     sponsored research  on  job-floor  scheduling;  design  applications,
     including   sponsored   research   on   composite   material  design;
     configuration  applications,  particularly  physics  applications  of
     optimal  molecule  configurations  for  particular  systems  like C60
     (buckyballs) and others.

     Information on GARAGe research projects is available by  WWW  at  the
     URL: <A NAME=id88 HREF="http://isl.cps.msu.edu/GA">http://isl.cps.msu.edu/GA</A>

 School of Cognitive and Computing Sciences, University of Sussex
     The   Evolutionary   and  Adaptive  Systems  Group  in  COGS  does  a
     significant amount of research in the area of GAs and Neural Networks
     and  modeling  the process of biological development. For purposes of
     artificial EVOLUTION, many at COGS see this as the major issue to  be
     tackled.   For  general  info about the group, consult the WWW server
     at: <A NAME=id89 HREF="http://<A NAME=id90 HREF="ftp://www.cogs.susx.ac.uk/lab/adapt/index.html</A>">www.cogs.susx.ac.uk:/lab/adapt/index.html">http://<A NAME=id91 HREF="ftp://www.cogs.susx.ac.uk/lab/adapt/index.html</A></A>">www.cogs.susx.ac.uk:/lab/adapt/index.html</A></A></A>

 The Navy Center for Applied Research in Artificial Intelligence
     The Navy Center  for  Applied  Research  in  ARTIFICIAL  INTELLIGENCE
     (NCARAI)  is  conducting  basic  research  in the analysis of GAs and
     other evolutionary algorithms.  GAs are being applied to the learning
     of   strategies  and  behaviors  for  autonomous  vehicles,  and  for
     adaptively testing complex systems such as vehicle controllers.   You
     will  find  description  of  projects,  researchers, and downloadable
     papers at  URL  <A NAME=id92 HREF="http://www.aic.nrl.navy.mil/">http://www.aic.nrl.navy.mil/</A>  in  addition  to  other
     information.   The  GA-digest  and the GENETIC ALGORITHMs Archive are
     maintained at NCARAI.  See Q15.1, "Genetic  Algorithms  Digest",  for
     more information.

 Case Western Reserve University
     A  WWW home page is available for the CWRU Autonomous Agents Research
     Group at: <A NAME=id93 HREF="ftp://alpha.ces.cwru.edu/pub/agents/home.html">ftp://alpha.ces.cwru.edu/pub/agents/home.html</A>

     The group, led by Randall Beer, conducts  interdisciplinary  research
     in  the  departments  of  Computer  Engineering and Science, Biology,
     Mechanical  Engineering,  and  Systems  Engineering.   This  research
     includes  work  in  evolutionary  algorithms,  mobile  robotics,  and
     computational biology.  The aim is to study the mechanisms  that  can
     produce adaptive behavior in animals and ROBOTs.
     Currently  available  are  Postscript  versions  of  a  number of our
     research papers (in particular, those  related  to  mobile  robotics,
     evolving  recurrent  neural  networks,  and  computational  models of
     development), an HTML version of a paper on computational development
     which  appeared  in  ALIFE  IV,  and images of the ROBOTs used in our
     research.

     Comments to &#60;yamauchi@alpha.ces.cwru.edu&#62;

 Genetic Algorithms Group, George Mason University
     Members of the research group are working on a  variety  of  projects
     including  GA  theory,  coevolutionary algorithms, decentralized GAs,
     representation issues, evolutionary microeconomics,  the  application
     of GAs to molecular biology, and GA-based machine learning.  There is
     an online publications list that contains links to PostScript  copies
     of  many of their published papers.  A WWW home page is available at:
     <A NAME=id94 HREF="http://www.cs.gmu.edu/research/gag/">http://www.cs.gmu.edu/research/gag/</A>
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq419.htm"><I>Q15.2: What mailing lists are there?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq421.htm"><I>Q15.4: What relevant newsgroups and FAQs are there?</I></A>"<BR>
</BODY>
