<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.8: On-line bibliography collections?</TITLE>
</HEAD>
<BODY>
<H1>Q10.8: On-line bibliography collections?</H1>
<PRE>
 The Big One
     Jarmo  Alander  has  compiled  probably  the  biggest EC bibliography
     around. It has 2500 entries, and is available in postscript  form  by
     ftp  from: <A NAME=id3 HREF="ftp://garbo.uwasa.fi/pc/research/2500GArefs.ps.gz">garbo.uwasa.fi:/pc/research/2500GArefs.ps.gz</A> and also from
     ENCORE (see Q15.3) in  file  refs/2500GArefs.ps.gz  Please  send  any
     additions or corrections to &#60;ja@cs.hut.fi&#62;

     The  same  directory  on ENCORE also contains some other bibliography
     collections.

 Combinations of GAs and NNs
     Dave Schaffer &#60;ds1@philabs.Philips.Com&#62; has compiled a bibliograpy on
     combinations of GAs and neural networks. About 150 entries, available
     in Bib format from ENCORE (See Q15.3) in file refs/cogann.bib.gz

     Jochen  Ruhland  &#60;jochenr@neuro.informatik.uni-kassel.de&#62;  has   also
     compiled  a  bibliography  on  this topic. Some papers deal only with
     neural networks,  some  only  with  genetic  algorithms.   About  300
     references  altogether.  Some  include  an abstract.  Available from:
     <A NAME=id4 HREF="ftp://ftp.neuro.informatik.uni-kassel.de/pub/NeuralNets/">ftp.neuro.informatik.uni-kassel.de:/pub/NeuralNets/</A>                in
     We_and_our_work/papers/diplom.1.bib.gz There are plans to expand this
     bibliography  from  time  to  time;  the  sequels  will  have   names
     diplom.2.bib.gz, etc.

 Bibliography at IlliGAL
     A  bibliography  on Genetic Algorithms compiled by David E. Goldberg,
     Kelsey Milman, and Christina Tidd is available as IlliGAL  Report  No
     92008         (see         Q14),         via         ftp        from:
     <A NAME=id5 HREF="ftp://gal4.ge.uiuc.edu/pub/papers/IlliGALs/92008part1.ps.Z">gal4.ge.uiuc.edu:/pub/papers/IlliGALs/92008part1.ps.Z</A>             and
     92008part2.ps.Z

 GAPHD Bibliography Collection
     Martyn   Amos   &#60;Martyn.Amos@dcs.warwick.ac.uk&#62;   has   assembled   a
     collection of bibliographies from  various  sources,  tidied  up  the
     entries and removed duplicates. The collections are as follows:

	 Alife.bib.gz      - General Artificial Life
	 ICGA-93.bib.gz    - Proc. International Conference on GAs (1993)
	 chaos.bib.gz      - Chaos theory
	 ga+nn.bib.gz      - GAs and neural networks
	 ga.bib.gz         - General GA references
	 ga2.bib.gz        - General GA references
	 parallelGA.bib.gz - Parallel GAs
	 theory.bib.gz     - Theoretical computer science (bias towards graph
			   theory, stochasic modelling and pobability theory)
	 misc.bib.gz       - Miscellaneous topics (eg. Internet)

     There  are  about 6200 references in total, although the biggest file
     by far is theory.bib, which  is  not  directly  related  to  EC.  The
     references  are in BibTeX format. The files are available by FTP from
     <A NAME=id6 HREF="ftp://ftp.dcs.warwick.ac.uk/pub/gaphd/Bibliographies/">ftp.dcs.warwick.ac.uk:/pub/gaphd/Bibliographies/</A>  or  by   WWW   from
     <A NAME=id7 HREF="http://www.dcs.warwick.ac.uk/~martyn/ga.html">http://www.dcs.warwick.ac.uk/~martyn/ga.html</A>

 Genetic Programming Bibliography
     A  collection  of Genetic Programming references (and other tools) is
     maintained by Bill Langdon &#60;W.Langdon@cs.ucl.ac.uk&#62; and is  available
     via anonymous ftp from <A NAME=id8 HREF="ftp://cs.ucl.ac.uk/genetic/biblio/">cs.ucl.ac.uk:/genetic/biblio/</A>

 Evolutionary Models in the Social Sciences
     Edmund     Chattoe     &#60;econec@vax.ox.ac.uk&#62;    has    set    up    a
     bibliorgraphy/mailing list on Evolutionary Models  In  Economics  and
     the  Social  Sciences.   You  can  subscribe to the list by sending a
     message  with   the  string  "subs-list"  in  the  subject  line   to
     &#60;econec@black.ox.ac.uk&#62;. The latest copy of the EMSS bibliography and
     some  accompanying  notes   can   be   retrieved   from   this   site
     automatically.

 GAs and Economics
     Bernard    Manderick    &#60;manderic@cs.few.eur.nl&#62;   has   compiled   a
     bibliography on the use of GAs in economics, and this  was  published
     in  GA-Digest,  v7n4  (with  some  followup comments in v7n5 &#38; v7n7).
     This       can       be       retrieved       by       FTP       from
     <A NAME=id9 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/digests/v7n4">ftp.aic.nrl.navy.mil:/pub/galist/digests/v7n4</A> (see Q15.1).

 GAs in Control
     Carlos   Fonseca   &#60;fonseca@acse.sheffield.ac.uk&#62;   has   compiled  a
     bibliography of about 50 references on GAs in  Control,  and  it  was
     published  in  GA-Digest,  v7n18.  This  can be retrieved by FTP from
     <A NAME=id10 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/digests/v7n18">ftp.aic.nrl.navy.mil:/pub/galist/digests/v7n18</A> (see Q15.1).

 Parallel GAs
     A   parallel   GA   bibliography   is   available   via   ftp   from:
     <A NAME=id11 HREF="ftp://unix.hensa.ac.uk/pub/parallel/faqs/parallel-genetic-algorithms">unix.hensa.ac.uk:/pub/parallel/faqs/parallel-genetic-algorithms</A>

     Andreas Uhl &#60;uhl@wst.wst.edvz.sbg.ac.at&#62; has also compiled a parallel
     GA bibliography with about 80 entries. It is  available  by  WWW  in:
     <A NAME=id12 HREF="http://www.mat.sbg.ac.at/~uhl/GA.html">http://www.mat.sbg.ac.at/~uhl/GA.html</A>

 Genetic Programming
     John   Koza   &#60;koza@CS.Stanford.EDU&#62;   has   compiled   an  annotated
     bibliography on GP, and about 60 references  were  published  in  GA-
     Digest,    v7n30.    This    can    be    retrieved   by   FTP   from
     <A NAME=id13 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/digests/v7n30">ftp.aic.nrl.navy.mil:/pub/galist/digests/v7n30</A> or  from  ENCORE  (See
     Q15.3) in file refs/gp-ref.gz

 GAs and protein folding
     Melanie  Mitchell  &#60;mm@santafe.edu  &#62;  has compiled a bibliography of
     about 40 references on this topic, and it was published in GA-Digest,
     v7n33.      This     can     be     retrieved     by     FTP     from
     <A NAME=id14 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/digests/v7n33">ftp.aic.nrl.navy.mil:/pub/galist/digests/v7n33</A> (see Q15.1).

 GAs in Image Processing and Computer Vision
     Kyeongmo Park &#60;kpark@cs.gmu.edu&#62; has compiled a bibliography of about
     20  references  on  this  topic,  and  it was published in GA-Digest,
     v8n10.     This     can     be     retrieved     by     FTP      from
     <A NAME=id15 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/digests/v8n10">ftp.aic.nrl.navy.mil:/pub/galist/digests/v8n10</A> (see Q15.1).

 Masters and PhD theses
     Richard  K.  Belew  has  collected  information on approximately 2600
     Masters and Ph.D. theses, nominally in the area  of  AI.  The  entire
     list   (about   170KB)   is   available   for   anonymous   FTP   at:
     <A NAME=id16 HREF="ftp://cs.ucsd.edu/pub/rik/aigen.rpt">cs.ucsd.edu:/pub/rik/aigen.rpt</A> Questions, suggestions, additions etc.
     to &#60;rik@cs.ucsd.edu&#62;.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq48.htm"><I>Q10.7: Biological Background Readings?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq410.htm"><I>Q10.9: Videos?</I></A>"<BR>
</BODY>
