<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q11: What EC related journals and magazines are there?</TITLE>
</HEAD>
<BODY>
<H1>Q11: What EC related journals and magazines are there?</H1>
<PRE>
     [eds note: comments on speed of  reviewing  and  publishing,  whether
     they accept LaTeX/TeX format or ASCII by e-mail, etc. are welcome]


 1. Dedicated EC Journals:
  Evolutionary Computation
     Published  quarterly  by:  MIT  Press  Journals,  55  Hayward Street,
     Cambridge, MA  02142-1399,  USA.  Tel:  (617)  253-2889,  Fax:  (617)
     258-6779, &#60;journals-orders@mit.edu&#62;

     Along  with  the  explosive growth of the computing industry has come
     the need  to  design  systems  capable  of  functioning  in  complex,
     changing  ENVIRONMENTs.   Considerable  effort is underway to explore
     alternative approaches to  designing  more  robust  computer  systems
     capable  of  learning  from  and adapting to the environment in which
     they operate.

     One broad class of such techniques takes its inspiration from natural
     systems   with   particular   emphasis   on  evolutionary  models  of
     computation such as GAs, ESs.  CFS, and EP.  Until  now,  information
     on these techniques has been widely spread over numerous disciplines,
     conferences, and journals.  [eds note: The editorial board reads like
     a  who-is-who  in  EC.]   For paper e-mail submission, use one of the
     following addresses:

     o  America:       John Grefenstette &#60;gref@aic.nrl.navy.mil&#62;

     o  Europe:        Heinz Muehlenbein &#60;heinz.muehlenbein@gmd.de&#62;

     o  Asia:          Hiroaki Kitano &#60;kitano@csl.sony.co.jp&#62;

     o  Ed-in-chief:   Ken De Jong &#60;kdejong@aic.gmu.edu&#62;

     Please note, that submissions should be  sent  to  one  of  the  sub-
     editors.    Grefenstette   and  Kitano  accept  LaTeX  or  PostScript
     submissions.

  BioSystems
     Journal of Biological and Information Processing  Sciences,  Elsevier
     Science   Publishers,   P.O.   Box   1527,  1000  BM  Amsterdam,  The
     Netherlands.

     BioSystems encourages experimental,  computational,  and  theoretical
     articles   that   link   biology,   evolutionary  thinking,  and  the
     information processing sciences. The link areas form  a  circle  that
     encompasses   the   fundamental   nature  of  biological  information
     processing, computational modeling  of  complex  biological  systems,
     evolutionary  models  of  computation,  the application of biological
     principles to the design of novel computing systems, and the  use  of
     biomolecular  materials to synthesize artificial systems that capture
     essential principles of natural biological information processing.

     Topics: Molecular  EVOLUTION:  Self-organizing  and  self-replicating
     systems,  Origin  and  evolution of the genetic mechanism; Biological
     Information Processing:   Molecular  recognition,  Cellular  control,
     Neuromuscular computing, Biological adaptability, Molecular computing
     technologies;   EVOLUTIONARY   SYSTEMS:    Stochastic    evolutionary
     algorithms,  Evolutionary  OPTIMIZATION,  SIMULATION  of  genetic and
     ecological systems,  Applications  (neural  nets,  machine  learning,
     robotics))

 2. Related Journals:
  Complex Systems
     Published  by:  Complex  Systems  Publications,  Inc., P.O. Box 6149,
     Champaign, IL 61821-8149, USA.

     Complex Systems devotes to the rapid publication of research  on  the
     science,   mathematics,   and  engineering  of  systems  with  simple
     components  but  complex   overall   behavior.   Try   finger(1)   on
     &#60;jcs@wri.com&#62; for additional info.
  Machine Learning
     Published  by:  Kluwer  Academic  Publishers,  P.O.  Box  358, Accord
     Station, Hingham, MA 02018-0358 USA.

     Machine  Learning  is  an  international  forum   for   research   on
     computational  approaches to learning. The journal publishes articles
     reporting substantive research results on a wide  range  of  learning
     methods  applied  to  a variety of task domains. The ideal paper will
     make   a   theoretical   contribution   supported   by   a   computer
     implementation.

     The  journal  has  published  many  key  papers  in  learning theory,
     reinforcement learning,  and  decision  tree  methods.   The  journal
     regularly publishes special issues devoted to GAs and CFS as well.

  Adaptive Behavior
     Published quarterly by: MIT Press Journals, details above.

     Broadly,  behavior  is adaptive if it deals successfully with changes
     circumstances.  For  example,  when   surprised,   a   hungry   --but
     environmentally  informed--  mouse  may  dart  for  cover rather than
     another piece of cheese. Similarly, a tripped-up ROBOT [eds note: not
     necessarily built by Sirius Cybernetics Corp.]  could get back on its
     feet and accomplish a moonrock-finding mission if it had  learned  to
     cope with unanticipated lunar potholes.

     Adaptive Behavior thus takes an approach complementary to traditional
     AI.  Now basic abilities that allow animals to survive, or ROBOTs  to
     perform  their mission in unpredictable ENVIRONMENTs, will be studied
     in preference to more elaborate and human-specific abilities.

     The  journal  also  aims  to  investigate  which  new  insights  into
     intelligence  and cognition can be achieved by explicitly taking into
     account the ENVIRONMENT feedback --mediated  by  behavior--  that  an
     animal  or  a  ROBOT  receives,  instead  of  studying  components of
     intelligence in isolation.

     Topics: INDIVIDUAL and  Collective  Behavior.  Neural  Correlates  of
     Behavior.  Perception  and  Motor  Control.  Motivation  and Emotion.
     Action SELECTION and Behavioral  Sequences.  Internal  World  Models.
     Ontogeny, Learning, and EVOLUTION.  Characterization of ENVIRONMENTs.

  Artificial Life
     Published quarterly by: MIT Press Journals, details above.

     Artificial  Life  is  intended  to  be  the  primary  forum  for  the
     dissemination  of scientific and engineering research in the field of
     ARTIFICIAL LIFE.  It will report on synthetic biological  work  being
     carried  out  in  any  and  all media, from the familiar "wetware" of
     organic chemistry, through the inorganic "hardware" of mobile ROBOTs,
     all the way to the virtual "software" residing inside computers.

     Research  topics  ranging  from  the  fabrication of self-replicating
     molecules to the study of evolving POPULATIONs of  computer  programs
     will be included.

     There  will also be occasional issues devoted to special topics, such
     as L-Systems, GENETIC ALGORITHMs, in-vitro  EVOLUTION  of  molecules,
     artificial cells, computer viruses, and many social and philosophical
     issues arising from the attempt to synthesize life artificially.

     [eds note: The editorial board reads like a who-is-who in ALIFE]

  Evolutionary Economics
     Published quarterly  by:  Springer-Verlag  New  York,  Inc.,  Service
     Center  Secaucus,  44 Hartz Way, Secaucus, NJ 07094, USA.  Tel: (201)
     348-4033, Fax: (201) 348-4505.

     Evolutionary Economics aims to provide an international forum  for  a
     new  approach  to  economics.   Following  the tradition of Joseph A.
     Schlumpeter, it is designed to focus on  original  research  with  an
     evolutionary  conception  of  the  economy.  The journal will publish
     articles  with  strong  emphasis  on  dynamics,  changing  structures
     (including technologies, institutions, beliefs, imitation, etc.).  It
     favors interdisciplinary analysis  and  is  devoted  to  theoretical,
     methodological and applied work.

     Research  areas  include:  industrial  dynamics;  multi-sectoral  and
     cross-country  studies   of   productivity;   innovations   and   new
     technologies; dynamic competition and structural change in a national
     and international  context;  causes  and  effects  of  technological,
     political and social changes; cyclic processes in economic EVOLUTION;
     the role of governments in a dynamic world; modeling complex  dynamic
     economic systems; application of concepts, such as self-organization,
     bifurcation, and chaos theory to economics; evolutionary games.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq412.htm"><I>Q10.11: How do I get a copy of a dissertation?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq414.htm"><I>Q12: What are the important conferences/proceedings on EC?</I></A>"<BR>
</BODY>
