<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q15.1: What digests are there?</TITLE>
</HEAD>
<BODY>
<H1>Q15.1: What digests are there?</H1>
<PRE>
     Digests are regulated, moderated, information sources in  which  many
     contributions  are  combined  together  before  being  posted  out to
     subscribers, usually on a regular basis (eg. weekly).  Mailing  lists
     are listed in Q15.2.

 Genetic Algorithm Digest
     The  GA  research  community exchanges news, CFP's, etc. through this
     (approximately weekly) digest, currently  moderated  by  Bill  Spears
     (formerly  by  Connie  Ramsey  and by Alan C. Schultz, Naval Research
     Laboratory, Washington, DC).

     A statistic published in v7,i3 stated  that  GA-digest  is  sent  out
     world-wide  to  1800  addresses  in  28 countries. The digest is also
     posted to the comp.ai.genetic newsgroup.
     o  Send administrative requests to &#60;ga-list-REQUEST@aic.nrl.navy.mil&#62;

     o  The   anonymous   FTP  archive:  <A NAME=id34 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/">ftp.aic.nrl.navy.mil:/pub/galist/</A>
	contains  back  issues,  GA-code,  conference  announcements   (in
	"/pub/galist/information/conferences")   and  many  other  things.
	Info in "/pub/galist/FTP".

     o  The archive may also  be  accessed  via  the  World  Wide  Web  at
	<A NAME=id35 HREF="http://www.aic.nrl.navy.mil/galist">http://www.aic.nrl.navy.mil/galist</A>  Also,  links are given to many
	interesting sites  around  the  World  with  material  related  to
	EVOLUTIONARY COMPUTATION.

 Artificial Life Digest
     The ALIFE research community exchanges news, CFP's, etc. through this
     digest, edited by Liane Gabora and Rob Collins of the ARTIFICIAL LIFE
     Research Group at UCLA.

     o  Send administrative requests to &#60;alife-REQUEST@cognet.ucla.edu&#62;

     o  Anonymous FTP archive: <A NAME=id36 HREF="ftp://ftp.cognet.ucla.edu/pub/alife/">ftp.cognet.ucla.edu:/pub/alife/</A>

 Evolutionary Programming Digest
     The  digest  is  intended  to  promote discussions on a wide range of
     technical issues in evolutionary OPTIMIZATION,  as  well  as  provide
     information   on  upcoming  conferences,  events,  journals,  special
     issues, and other items of interest to the EP community.  Discussions
     on  all  areas  of  EVOLUTIONARY  COMPUTATION are welcomed, including
     ARTIFICIAL LIFE, EVOLUTION STRATEGIEs, and GENETIC  ALGORITHMs.   The
     digest  is meant to encourage interdisciplinary communications.  Your
     suggestions and comments regarding the digest are always welcome.

     To   subscribe   to   the   digest,   send    mail    to    &#60;ep-list-
     REQUEST@magenta.me.fau.edu&#62;  and include the line "subscribe ep-list"
     in the body of the  text.   Further  instructions  will  follow  your
     subscription.   The  digest  is  moderated  by  N. Saravan of Florida
     Atlantic University.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq417.htm"><I>Q15: What information is available over the net?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq419.htm"><I>Q15.2: What mailing lists are there?</I></A>"<BR>
</BODY>
