<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.7: Biological Background Readings?</TITLE>
</HEAD>
<BODY>
<H1>Q10.7: Biological Background Readings?</H1>
<PRE>
     Adams,  D. with Carwardine M. (1990) "Last Chance to see...", London:
     Heinemann. [David Corne: I strongly suggest  you  read  this.  Its  a
     report  on  visits  to  various  parts of the world to see endangered
     species. It is remarkably and wonderfully funny and illuminating.  It
     would  actually  be a good reference to have in any bit of the FAQ to
     do with genetic diversity and/or the lack of it,  or  the  remarkable
     kinds of adaptations that can occur for the strangest reasons.]

     Cairns-Smith,  A.G.  (1985)  "Seven  Clues  to  the  Origin of Life",
     Cambridge: Cambridge Univ. Press.

     Fisher, R.A. (1958) "The Genetic Theory of  Natural  Selection",  New
     York: Dover.

     Futuyma,  D.J. (1986) "Evolutionary Biology", Sunderland, MA: Sinauer
     Assoc.  [eds note: the bibliography of this book is truly a  treasure
     chest]

     Lewin, B. (1993) "Genes IV".

     Lewontin, R.C. (1974) "The Genetic Basis of Evolutionary Change", New
     York: Columbia Univ. Press.

     Maynard Smith, J. (1972) "On Evolution", Edinburgh:  Edinburgh  Univ.
     Press.

     Maynard  Smith,  J. (1978) "Optimization Theory in Evolution", Annual
     Review of Ecology and Systematics 9:31-56.

     Maynard Smith,  J.  (1982)  "Evolution  and  the  Theory  of  Games",
     Cambridge: Cambridge Univ. Press.
     Maynard  Smith,  J.  (1989) "The Problems of Biology", Oxford: Oxford
     Univ. Press.

     Maynard Smith, J.  (1989)  "Evolutionary  Genetics",  Oxford:  Oxford
     Univ. Press.

     Mayr,  E.  (1963)  "Animal  Species  and  Evolution",  Cambridge, MA:
     Harvard Univ. Press.

     Mayr, E. (1982) "The Groth of Biological Thought", Cambridge, MA: The
     Belknap Press of Harvard Univ. Press.

     Ridley,  M.  (1985) "The Problems of Evolution", Oxford: Oxford Univ.
     Press.

     Watson, J.D. (1966) "Molecular Biology  of  the  Gene",  Menlo  Park:
     Benjamin.

     Watson,  J.D.,  Hopkins,  N.H., Roberts, J.W., Steitz, J.A. &#38; Weiner,
     A.M. (1987) "Molecular Biology of the Gene (4th  edn)",  Menlo  Park:
     Benjamin.

     Williams,  G.C. (1966) "Adaptation and Natural Selection", Princeton,
     NJ: Princeton Univ. Press.

     Wright, S. (1932) "The roles of mutation,  inbreeding,  crossbreeding
     and  selection  in evolution", in: Proc. of the 6th Int'l Congress on
     Genetics I, 356.

     There is a *lot* of interesting material on biology and evolution  in
     the talk.origins newsgroup repository, available by FTP. The index of
     files, available from <A NAME=id2 HREF="ftp://ics.uci.edu/pub/origins/Index">ics.uci.edu:/pub/origins/Index</A> ,  lists  what's
     there,  and  includes  files  on  Darwinism, definition of evolution,
     introduction to evolutionary biology, a list of important FAQ  files,
     speciation,  and genetic drift.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq47.htm"><I>Q10.6: Not-quite-so-introductory Literature?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq49.htm"><I>Q10.8: On-line bibliography collections?</I></A>"<BR>
</BODY>
