<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10: What introductory material on EAs is there?</TITLE>
</HEAD>
<BODY>
<H1>Q10: What introductory material on EAs is there?</H1>
<PRE>
     There  are  many  sources  of  introductory  material on evolutionary
     algorithms: background books  (see  Q10.1),  textbooks  (see  Q10.2),
     classical  works (see Q10.3), journal articles (see Q10.4), technical
     reports (see Q10.5), more advanced literature (see Q10.6), biological
     background reading (see Q10.7), bibliography collections (see Q10.8),
     videos (see Q10.9) and CD-ROMs (Q10.10).  Information on how  to  get
     dissertations is also given below (see Q10.11).

     Conference proceedings (see Q12) are also a good source of up-to-date
     (and sometimes introductory) material.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq40.htm"><I>Introduction</I></A>"<BR>
Next document is "<A NAME=up HREF="faq42.htm"><I>Q10.1: Suitable background reading for beginners?</I></A>"<BR>
</BODY>
