<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q14: What Technical Reports are available?</TITLE>
</HEAD>
<BODY>
<H1>Q14: What Technical Reports are available?</H1>
<PRE>
     Technical  reports are informally published, unrefereed papers giving
     up-to-date information on what is going on  at  research  institutes.
     Many  later  go  on  to  be  formally  published  in  journals  or at
     conferences.

 TCGA Reports
     The Clearing House for Genetic Algorithms  (TCGA)  at  the  Univ.  of
     Alabama  (Tuscaloosa) distributes TCGA technical reports. A number of
     these are now available in compressed Postscript form via  FTP  from:
     <A NAME=id26 HREF="ftp://aramis.cs.ua.edu/pub/tech-reports/">aramis.cs.ua.edu:/pub/tech-reports/</A> Read the file README first.

     Contact:   Robert   Elliott   Smith,  Department  of  Engineering  of
     Mechanics, Room 210 Hardaway Hall, The University  of  Alabama,  P.O.
     Box   870278,  Tuscaloosa,  AL  35487,  USA.   Tel:  (205)  348-1618,
     &#60;rob@comec4.mh.ua.edu&#62;, or Dr. Ron Sun &#60;rsun@athos.cs.ua.edu&#62;

 IlliGAL Reports
     The  Illinois  Genetic  Algorithms  Laboratory  distributes   IlliGAL
     technical  reports,  as  well as reprints of other publications; they
     are available in hardcopy and can be ordered from: IlliGAL Librarian,
     Department  of  General Engineering, 117 Transportation Building, 104
     South    Mathews    Avenue,    Urbana,    IL     61801-2996,     USA.
     &#60;library@gal1.ge.uiuc.edu&#62;

     NOTE: When ordering, please include your surface mail address!

     IlliGAL  also  have  an  anonymous-FTP  server,  holding  most of the
     existing IlliGAL reports, at:  <A NAME=id27 HREF="ftp://gal4.ge.uiuc.edu/pub/papers/IlliGALs/">gal4.ge.uiuc.edu:/pub/papers/IlliGALs/</A>
     There  is  also a WWW home page with a complete list, order form, and
     other information at: <A NAME=id28 HREF="ftp://<A NAME=id29 HREF="ftp://gal4.ge.uiuc.edu/illigal.home.html</A>">gal4.ge.uiuc.edu:/illigal.home.html">ftp://<A NAME=id30 HREF="ftp://gal4.ge.uiuc.edu/illigal.home.html</A></A>">gal4.ge.uiuc.edu:/illigal.home.html</A></A></A>

 SyS Reports
     The Systems Analysis  Research  Group  (SyS)  at  the  University  of
     Dortmund,   maintains   an   experimental   anonymous   FTP   server:
     <A NAME=id31 HREF="ftp://lumpi.informatik.uni-dortmund.de/pub/">lumpi.informatik.uni-dortmund.de:/pub/</A> On lumpi  you  can  find  SyS-
     Reports  from  1992  on.  (Get  "/pub/ls-Ral.Z" and look for "papers"
     folders, the server is sorted by EA paradigms, i.e.  "/pub/GA/papers"
     contains  papers  related to GAs, etc.).  A strongly recommended, and
     quarterly updated, report is a list of current applications  of  GAs,
     EP and ESs; get "/pub/EA/papers/ea-app.ps.gz" (SyS-2/92).

 Bionics Reports
     The  Bionics  and  EVOLUTION  Techniques  Laboratory at the Technical
     University  of  Berlin  maintains  an  anonymous  FTP  server:   ftp-
     bionik.fb10.tu-berlin.de:/pub/  On  ftp-bionik  you  find reports and
     software, related to Evolutionary Algorithms  and  Artificial  Neural
     Networks.

 University College London Reports
     A  number  of GENETIC ALGORITHM reports produced by UCL are available
     via  anonymous  FTP  at  <A NAME=id32 HREF="ftp://cs.ucl.ac.uk/genetic/papers/">cs.ucl.ac.uk:/genetic/papers/</A>  Abstracts  of
     others can be obtained via WWW at <A NAME=id33 HREF="http://www.cs.ucl.ac.uk/rns/">http://www.cs.ucl.ac.uk/rns/</A>

 Other Sources of Reports
     Reports  are also available from some of the sources listed in Q15.1,
     Q15.2 and Q15.3.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq415.htm"><I>Q13: What Evolutionary Computation Associations exist?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq417.htm"><I>Q15: What information is available over the net?</I></A>"<BR>
</BODY>
