<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</TITLE>
</HEAD>
<BODY>
<H1>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</H1>
<UL>
<LI><A NAME=id0 HREF="faq40.htm">Introduction</A>
<LI><A NAME=id1 HREF="faq41.htm">Q10: What introductory material on EAs is there?</A>
<LI><A NAME=id2 HREF="faq42.htm">Q10.1: Suitable background reading for beginners?</A>
<LI><A NAME=id3 HREF="faq43.htm">Q10.2: Textbooks on EC?</A>
<LI><A NAME=id4 HREF="faq44.htm">Q10.3: The Classics?</A>
<LI><A NAME=id5 HREF="faq45.htm">Q10.4: Introductory Journal Articles?</A>
<LI><A NAME=id6 HREF="faq46.htm">Q10.5: Introductory Technical Reports?</A>
<LI><A NAME=id7 HREF="faq47.htm">Q10.6: Not-quite-so-introductory Literature?</A>
<LI><A NAME=id8 HREF="faq48.htm">Q10.7: Biological Background Readings?</A>
<LI><A NAME=id9 HREF="faq49.htm">Q10.8: On-line bibliography collections?</A>
<LI><A NAME=id10 HREF="faq410.htm">Q10.9: Videos?</A>
<LI><A NAME=id11 HREF="faq411.htm">Q10.10: CD-ROMs?</A>
<LI><A NAME=id12 HREF="faq412.htm">Q10.11: How do I get a copy of a dissertation?</A>
<LI><A NAME=id13 HREF="faq413.htm">Q11: What EC related journals and magazines are there?</A>
<LI><A NAME=id14 HREF="faq414.htm">Q12: What are the important conferences/proceedings on EC?</A>
<LI><A NAME=id15 HREF="faq415.htm">Q13: What Evolutionary Computation Associations exist?</A>
<LI><A NAME=id16 HREF="faq416.htm">Q14: What Technical Reports are available?</A>
<LI><A NAME=id17 HREF="faq417.htm">Q15: What information is available over the net?</A>
<LI><A NAME=id18 HREF="faq418.htm">Q15.1: What digests are there?</A>
<LI><A NAME=id19 HREF="faq419.htm">Q15.2: What mailing lists are there?</A>
<LI><A NAME=id20 HREF="faq420.htm">Q15.3: What online information repositories are there?</A>
<LI><A NAME=id21 HREF="faq421.htm">Q15.4: What relevant newsgroups and FAQs are there?</A>
<LI><A NAME=id22 HREF="faq422.htm">Q15.5: What about all these Internet Services?</A>
</UL>
</BODY>
