<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.4: Introductory Journal Articles?</TITLE>
</HEAD>
<BODY>
<H1>Q10.4: Introductory Journal Articles?</H1>
<PRE>
     Goldberg,  D.E.  (1986)  "The  Genetic  Algorithm: Who, How, and What
     Next?".  In Kumpati S. Narenda, ed., Adaptive and  Learning  Systems,
     Plenum, New York, NY.

     Dawkins,   R.  (1987)  "The  Evolution  of  Evolvability",  [ALIFEI],
     201-220.

     Hillis, W.D. (1987) "The Connection  Machine",  Scientific  American,
     255(6).

     Holland,  J.H.  (1989)  "Using  Classifier  Systems to Study Adaptive
     Nonlinear Networks". In: Lectures in the Science of  Complexity,  SFI
     Studies in the Science of Complexity, D. Stein, (ed), Addison Wesley.

     Brooks, R.A. (1991) "Intelligence without Reason", MIT  AI  Memo  No.
     1293.  Appeared in "Computer's and Thought", IJCAI-91.

     Hillis,  W.D. (1992) "Massively Parallel Computing" Daedalus, winter,
     121(1), 1-29. [HILLIS92]:

     Holland,  J.H.  (1992)  "Genetic  Algorithms",  Scientific  American,
     267(1), 66-72. [HOLLAND92]:
     Holland,  J.H.  (1992)  "Complex  Adaptive Systems" Daedalus, winter,
     121(1), 17-30.

     Sims,  K.  (1991)  "Artificial  Evolution  for  Computer   Graphics",
     Computer Graphics, 25(4), 319-328

     Spears,  W.M.,  DeJong,  K.A.,  Baeck,  T.,  Fogel, D. &#38; de Garis, H.
     (1993) "An Overview of Evolutionary Computation", [ECML93],  442-459.

     Baeck,  T.  &#38;  Schwefel,  H.-P.  (1993)  "An Overview of Evolutionary
     Algorithms for  Parameter  Optimization",  Evolutionary  Computation,
     1(1), 1-23.

     Baeck,  T.,  Rudolph,  G.  &#38;  Schwefel,  H.-P.  (1993)  "Evolutionary
     Programming and Evolution Strategies: Similarities and  Differences",
     [EP93], 11-22.

     Mitchell,  M.  &#38; Forrest S. (1993) "Genetic Algorithms and Artificial
     Life", Artificial Life,  1(1).  Also  avail.  as  SFI  Working  Paper
     31-11-072.

     Beasley,  D.,  Bull,  D.R.,  &#38;  Martin,  R.R.  (1993) "An Overview of
     Genetic Algortihms:  Part  1,  Fundamentals",  University  Computing,
     15(2)  58-69.   Available  by  ftp  from  ENCORE (See Q15.3) in file:
     GA/papers/over93.ps.gz                    or                     from
     <A NAME=id HREF="ftp://ralph.cs.cf.ac.uk/pub/papers/GAs/ga_overview1.ps">ralph.cs.cf.ac.uk:/pub/papers/GAs/ga_overview1.ps</A>

     Beasley,  D.,  Bull,  D.R.,  &#38;  Martin,  R.R.  (1993) "An Overview of
     Genetic Algortihms: Part 2, Research Topics",  University  Computing,
     15(4)  170-181.   Available  by  ftp from ENCORE (See Q15.3) in file:
     GA/papers/over93-2.ps.gz                   or                    from
     <A NAME=id1 HREF="ftp://ralph.cs.cf.ac.uk/pub/papers/GAs/ga_overview2.ps">ralph.cs.cf.ac.uk:/pub/papers/GAs/ga_overview2.ps</A>

     Peter   Wayner  (1991),  "Genetic  Algorithms:  Programming  takes  a
     valuable tip from nature", BYTE, January, 361--368.

     Goldberg, D. (1994), "Genetic and  Evolutionary  Algorithms  Come  of
     Age", Communications of the ACM, 37(3), 113--119.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq44.htm"><I>Q10.3: The Classics?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq46.htm"><I>Q10.5: Introductory Technical Reports?</I></A>"<BR>
</BODY>
