<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.3: The Classics?</TITLE>
</HEAD>
<BODY>
<H1>Q10.3: The Classics?</H1>
<PRE>
     Mostly older works which have helped to shape the field.

     Charles Darwin (1859), "The Origin of Species", London: John  Murray.
     (Penguin   Classics,  London,  1985;  New  American  Library,  Mentor
     Paperback)

     Box, G.E.P. (1957) "Evolutionary operation: a  method  of  increasing
     industrial productivity", Applied Statistics, 6, 81-101.

     Fraser,  A.S.  (1957)  "Simulation  of  genetic  systems by automatic
     digital computers", Australian Journal of  Biological  Sciences,  10,
     484-491.

     Friedman,   G.J.   (1959)  "Digital  simulation  of  an  evolutionary
     process", General Systems Yearbook, 4:171-184.

     Bremermann,  H.J.  (1962)   "Optimization   through   evolution   and
     recombination". In M.C. Yovits, et al, (eds) Self-Organizing Systems.
     Washington, DC: Spartan Books.

     Holland, J.H. (1962)  "Outline  for  a  logical  theory  of  adaptive
     systems", JACM, 3, 297-314.

     Samuel,  A.L. (1963) "Some Studies in Machine Learning using the Game
     of Checkers", in  Computers  and  Thought,  E.A.  Feigenbaum  and  J.
     Feldman (eds), New York: McGraw-Hill.

     Walter, W.G. (1963) "The Living Brain", New York: W.W. Norton.

     Fogel,   L.J.,   Owens,   A.J.   &#38;  Walsh,  M.J.  (1966)  "Artificial
     Intelligence  through  Simulated   Evolution",   New   York:   Wiley.
     [Fogel66]:

     Rosen,   R.   (1967)  "Optimality  Principles  in  Biology",  London:
     Butterworths.

     Rechenberg, I. (1973, 1993 2nd edn) "Evolutionsstrategie: Optimierung
     technischer  Systeme  nach  Prinzipien  der  biologischen Evolution",
     Stuttgart: Fromman-Holzboog.  (Evolution  Strategy:  Optimization  of
     technical systems by means of biological evolution)

     Holland,  J.H. (1975) "Adaptation in natural and artificial systems",
     Ann Arbor, MI: The University of Michigan Press.

     De Jong, K.A. (1975) "An analysis of  the  behavior  of  a  class  of
     genetic  adaptive  systems",  Doctoral  thesis, Dept. of Computer and
     Communication Sciences, University of Michigan, Ann Arbor.

     Schwefel, H.-P. (1977) "Numerische Optimierung von  Computer-Modellen
     mittels der Evolutionsstrategie", Basel: Birkhaeuser.

     Schwefel,  H.-P.  (1981) "Numerical Optimization of Computer Models",
     Chichester: Wiley. [eds note: English  translation  of  the  previous
     entry; a reworked edition is currently in preparation for 1994]

     Axelrod, R. (1984) "The evolution of cooperation", NY: Basic Books.

     Cramer,  N.L. (1985) "A Representation for the Adaptive Generation of
     Simple Sequential Programs" [ICGA85], 183-187.

     Baeck, T., Hoffmeister, F. &#38; Schwefel,  H.-P.  (1991)  "A  Survey  of
     Evolution Strategies" [ICGA91], 2-9.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq43.htm"><I>Q10.2: Textbooks on EC?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq45.htm"><I>Q10.4: Introductory Journal Articles?</I></A>"<BR>
</BODY>
