<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q10.6: Not-quite-so-introductory Literature?</TITLE>
</HEAD>
<BODY>
<H1>Q10.6: Not-quite-so-introductory Literature?</H1>
<PRE>
     Bock,  P.  (1993)  "The  Emergence  of   Artificial   Cognition:   An
     Introduction to Collective Learning", Singapore: World Scientific.

     Davis,  L.  (ed) (1987) "Genetic Algorithms and Simulated Annealing",
     available from Morgan Kaufmann Publishers  Inc.,  340  Pine  St,  San
     Francisco, CA 94104, (415-392-2665).

     Davidor,  Y.  (1991)  "Genetic  Algorithms  and Robotics", Singapore:
     World Scientific. ISBN 9-810202172.

     Forrest,  S.  (ed)  (1990)  "Emergent  Computation.  Self-Organizing,
     Collective,  and  Cooperative  Phenomena  in  Natural  and Artificial
     Computing Networks", [FORREST90]:, Cambridge, MA: MIT Press. (Special
     issue of Physica D.)

     Hillis,   W.D.   (1990)   "Co-Evolving  Parasites  Improve  Simulated
     Evolution as an Optimization procedure", [ALIFEII], 313-324.
     Holland, J.H., Holyoak, K.J., Nisbett, R.E. &#38;  Thagard,  P.R.  (1986)
     "Induction:   Processes   of  Inference,  Learning,  and  Discovery",
     Cambridge, MA: MIT Press.

     Holland, J.H. (1992) "Adaptation in Natural and  Artificial  Systems:
     An  Introductory  Analysis with Applications to Biology, Control, and
     Artificial Intelligence, Cambridge,  MA:  MIT  Press/Bradford  Books,
     (2nd edn). Hard: ISBN 0-262-08213-6. Soft: ISBN 0-262-58111-6.

     Serra,  R.  &#38;  Zanarini,  G.  (1990)  "Complex  Systems and Cognitive
     Processes", New York, NY: Springer-Verlag.

     Stender,  J.  (ed.).  (1993)  "Parallel  Genetic   Algorithms",   IOS
     Publishing.   [Cites  just about everything in the parallel GA field.
     -- John Koza]

     Rujan, P. (1988) "Searching for optimal configurations  by  simulated
     tunneling", Zeitschrift der Physik B", Vol.73, 391-416.

     Rudolph,   G.  (1994)  "Convergence  Analysis  of  Canonical  Genetic
     Algorithms", IEEE Trans. on Neural Networks,  Special  issue  on  EP.
     Available    by    ftp    from    ENCORE   (See   Q15.3)   in   file:
     GA/papers/canon94.ps.gz

     Fogel, D. (1995), "Evolutionary Computation: Toward a New  Philosophy
     of   Machine   Intelligence",   Piscataway,  NJ:  IEEE  Press.   ISBN
     0-7803-1048-0.

     Schwefel, H-P. (1995) "Evolution  and  Optimum  Seeking",  New  York:
     Wiley.  ISBN 0-471-57148-2
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq46.htm"><I>Q10.5: Introductory Technical Reports?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq48.htm"><I>Q10.7: Biological Background Readings?</I></A>"<BR>
</BODY>
