<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q12: What are the important conferences/proceedings on EC?</TITLE>
</HEAD>
<BODY>
<H1>Q12: What are the important conferences/proceedings on EC?</H1>
<PRE>
 1. Dedicated EC Conferences:
  ICGA: International Conference on Genetic Algorithms
     Major international conference held in North America in  odd-numbered
     years.  Covers  all  aspects  of  EVOLUTIONARY COMPUTATION.  The 1995
     conference was held at the University of Pittsburgh on  July  15--20.
     Details from <A NAME=id21 HREF="http://<A NAME=id22 HREF="ftp://www.aic.nrl.navy.mil/galist/icga95</A>">www.aic.nrl.navy.mil:/galist/icga95">http://<A NAME=id23 HREF="ftp://www.aic.nrl.navy.mil/galist/icga95</A></A>">www.aic.nrl.navy.mil:/galist/icga95</A></A></A>

     Proceedings of the 1st International Conference on Genetic Algorithms
     (1985) J.J. Grefenstette (ed) [ICGA85]: and Proc. of  the  2nd  Int'l
     Conf.  on  Genetic Algorithms (1987) J.J. Grefenstette (ed) [ICGA87]:
     available from  Lawrence  Erlbaum  Associates,  Inc.,  365  Broadway,
     Hillsdale, New Jersey, 07642, (800) 926-6579.

     Proc.  of  the  3rd  Int'l  Conf.  on  Genetic Algorithms (1989) J.D.
     Schaffer (ed) [ICGA89]: and Proc. of the 4th Int'l Conf.  on  Genetic
     Algorithms  (1991)  R.K.  Belew  and  L.B. Booker (eds) [ICGA91]: and
     Proc. of the 5th Int'l Conf. on Genetic Algorithms (1993) S.  Forrest
     (ed)  [ICGA93]:  available from Morgan Kaufmann Publishers, Inc., San
     Francisco (415-392-2665). &#60;morgan@unix.sri.com&#62;

  FOGA: Foundations of Genetic Algorithms
     Major international workshop focusing on theoretical aspects  of  EC,
     that's  usually limited to some 50 participants and is held somewhere
     in North America.

     FOGA 3 took place from July 30 to August 3  in  1994.   Enquires  to:
     Darrell  Whitley,  Dept.  of  CS,  Colorado  State  University,  Fort
     Collins, CO 80523.  &#60;whitley@cs.colostate.edu&#62;

     Foundations  of  Genetic  Algorithms  (1991)  G.J.E.   Rawlins   (ed)
     [FOGA91]: and Foundations of Genetic Algorithms 2 (1993) L.D. Whitley
     [FOGA93]:  available  from  Morgan  Kaufmann  Publishers,  Inc.,  San
     Francisco (415-392-2665). &#60;morgan@unix.sri.com&#62;

  PPSN: Parallel Problem Solving from Nature
     Major international conference held in Europe in even-numbered years.
     Covers all aspects of problem solving inspired by natural  processes.
     The 1996 conference will be held in Berlin, September 22-27.  Further
     information from: <A NAME=id24 HREF="http://LS11-www.informatik.uni-dortmund.de/PPSN/">http://LS11-www.informatik.uni-dortmund.de/PPSN/</A>

     Parallel Problem Solving from Nature, (1990) H.-P.  Schwefel  and  R.
     Maenner (eds) [PPSN90]: published by Springer-Verlag, 175 5th Avenue,
     New York, NY, 10010, (212) 460-1500.  Parallel Problem  Solving  from
     Nature  2,  (1992)  R.  Maenner  and  B.   Manderick  (eds) [PPSN92]:
     published  by  North-Holland,  Elsevier  Science   Publishers,   Sara
     Burgerhartstraat   25,   P.O.   Box   211,  1000  AE  Amsterdam,  The
     Netherlands.  Parallel Problem  Solving  from  Nature  3,  (1994)  Y.
     Davidor (ed.), [PPSN94]:

  EP: Annual Conference on Evolutionary Programming
     Major  international  annual  conference  held in San Diego, CA, USA.
     Covers all aspects of EC with emphasis on EP related  research.   The
     1995  conference  was  held  on March 1-4.  For details contact David
     Fogel &#60;fogel@sunshine.ucsd.edu&#62;.

     Proceedings of the 1st Annual Conference on Evolutionary Programming,
     (1992)  D.B.  Fogel and W. Atmar (eds), [EP92]:, and Proc. of the 2nd
     Annual Conf. on Evolutionary Programming, (1993) D.B.  Fogel  and  W.
     Atmar  (eds),  [EP93]:  published  by  the  Evolutionary  Programming
     Society, 9363 Towne Centre Dr.,  San  Diego,  CA  92121,  Attn:  Bill
     Porto,   Treasurer   (cf  Q13).   Proceedings  of  the  Third  Annual
     Conference on Evolutionary Programming, (1994) A.V. Sebald  and  L.J.
     Fogel (eds), [EP94]:, World Scientific Publishers, River Edge, NJ.

  ICEC: IEEE Conference on Evolutionary Computation
     Major international conference covering all aspects of EC.  The first
     took place in June  1994  at  the  World  Congress  on  Computational
     Intelligence,  Florida.   The  second  was  on  29 Nov--1 Dec 1995 in
     Perth, Australia. Details from &#60;ec95@ee.uwa.edu.au&#62; .

     Proceedings of the 1st IEEE Conference on  Evolutionary  Computation,
     (1994)  D.B.  Fogel  (ed.)  (2  Volumes). Published by IEEE, 445 Hoes
     Lane, PO Box  1331,  Piscataway,  NJ  08855-1331.  Also,  talks  from
     invited   speakers   are  published  in  "Computational  Intelligence
     Imitating Life" (1994) J.M. Zurada, R.J. Marks, C.J. Robinson  (eds),
     IEEE.

 2. Related Conferences:
  Alife: International Conference on Artificial Life
     Proceedings  of  the 1st International Conference on ARTIFICIAL LIFE,
     (1989) C.G. Langton (ed), Santa Fe Institute Studies in the  Sciences
     of  Complexity,  Proc.  Vol. VI, [ALIFEI]: and Proc. of the 2nd Int'l
     Conf. on Artificial Life II, (1992) C.G. Langton, C. Taylor, J. Doyne
     Farmer  and  S.  Rasmussen  (eds),  Santa Fe Institute Studies in the
     Sciences of Complexity, Proc. Vol. X, [ALIFEII]: and Proc. of the 3rd
     Int'l  Conf.  on  Artificial  Life  III,  (1993)  C.G.  Langton (ed),
     [ALIFEIII]: published by Addison Wesley, Redwood City, CA, USA.

     ARTIFICIAL LIFE IV, was organized  by  Rodney  Brooks,  MIT  AI  Lab,
     &#60;alife@ai.mit.edu&#62;  and held on July 6-8, 1994. Proceedings edited by
     R. Brooks and P. Maes. [ALIFEIV]:

  ECAL: European Conference on Artificial Life
     Proceedings of the 1st European Conference on ARTIFICIAL LIFE, (1991)
     F.J.  Varela  and  P.  Bourgine (eds), [ECAL91]: and Proc. of the 2nd
     European Conf. on ALIFE:  Self-organization  and  life,  from  simple
     rules  to  global  complexity,  (1993),  (?  eds)  (?  pub) [ECAL93]:
     published by MIT Press, Cambridge, MA, USA.

  ECML: European Conference on Machine Learning
     Machine Learning: ECML-93, Proc. European Conf. on Machine  Learning,
     (1993)  P.B.  Brazil (ed), [ECML93]: published by Springer, New York,
     NY, USA.

  SAB: International Conference on Simulation of Adaptive Behavior
     From  Animals  to  Animats.  Proceedings  of  the  1st  International
     Conference  on SIMULATION of Adaptive Behavior, (1991) [SAB90]: J.-A.
     Meyer and S.W. Wilson, ISBN 0-262-63138-5, and Proc. of the 2nd Int'l
     Conf.  on  Simulation  of  Adaptive  Behavior, (1993) [SAB92]:, J.-A.
     Meyer, H. Roitblat and S.W. Wilson (eds) and Proc. of the  3rd  Int'l
     Conf.  on  Simulation  of  Adaptive  Behavior, [SAB94]:, P. Husbands,
     J.-A. Meyer and S.W. Wilson (eds) published by MIT Press,  Cambridge,
     MA, USA.

     SAB94 took place on August 8-12, 1994 in Brighton, UK.
 3. Pointers to upcoming Conferences:
  The Genetic Algorithm Digest
     Aka "GA-Digest" always starts with a "Calendar of GA-related Events,"
     i.e.  a list of upcoming conferences, covering the complete field  of
     EAs. (cf Q15)

  The Artificial Life Digest
     Aka  "Alife  digest"  always starts with a "Calendar of Alife-related
     Events," that lists conferences, workshops, etc. (cf Q15)

  The Evolutionary Programming Digest
     Aka  "EP-digest"  doesn't  list  conferences  explicitly,  like   the
     previously mentioned ones, but carries most CFP's; that can be looked
     at in the backissues folder:  <A NAME=id25 HREF="ftp://amazon.eng.fau.edu/pub/ep-list/digest/">amazon.eng.fau.edu:/pub/ep-list/digest/</A>
     (cf Q15)
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq413.htm"><I>Q11: What EC related journals and magazines are there?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq415.htm"><I>Q13: What Evolutionary Computation Associations exist?</I></A>"<BR>
</BODY>
