<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q15.5: What about all these Internet Services?</TITLE>
</HEAD>
<BODY>
<H1>Q15.5: What about all these Internet Services?</H1>
<PRE>

     The Internet supports a variety of on-line services, and a number  of
     tools  are  available  to  enable  people  to make good use of these,
     including:  telnet,  FTP,  gopher,  veronica,   archie,   Wide   Area
     Information Servers (WAIS), and the World-Wide Web (WWW).

     Information  about  using  Internet  is  available  from  a number of
     sources, many accesible on-line, via email or FTP.  For example,  the
     EFF (Electronic Frontier Foundation) publishes two guides for novices
     on all  the  Internet  has  to  offer,   by  Adam  Gaffin  and  Joerg
     Heitkoetter (see below). These are avaiable over the net.

     To receive a short guide to using anonymous FTP, send e-mail with the
     text "help" to &#60;info@sunsite.unc.edu&#62;.

     If you dont have FTP access, you can  retrieve  documents  using  the
     FTP-by-email  service.  The "ftpmail" service is installed on several
     sites to allow transmission of FTPable files from almost anywhere. To
     get  the  PostScript version of this FAQ from ENCORE, (See Q15.3) for
     example, send a message  to  (for  example)  &#60;ftpmail@decwrl.dec.com&#62;
     containing the lines:
	       reply &#60;your-own-e-mail-address-here&#62;
	       connect alife.santafe.edu
	       get pub/USER-AREA/EC/FAQ/hhgtec.ps.gz
	       quit
     where &#60;your-e-mail-address&#62; is e.g. foo@bar.edu

     FTPmail  sites  available  are listed below. Use one that is near you
     for best performance.

	 (USA)     &#60;ftpmail@decwrl.dec.com&#62;
		   &#60;ftpmail@sunsite.unc.edu&#62;
		   &#60;bitftp@pucc.princeton.edu&#62;

	 (Europe)  &#60;bitftp@dearn&#62; or to &#60;bitftp@vm.gmd.de&#62;
		   &#60;ftpmail@ftp.uni-stuttgart.de&#62;
		   &#60;ftpmail@ftp.inf.tu-dresden.de&#62;
		   &#60;ftpmail@grasp.insa-lyon.fr&#62;
		   &#60;bitftp@plearn.edu.pl&#62;
		   &#60;ftpmail@doc.ic.ak.uk&#62;

     Documents  from  the  archive  at  &#60;rtfm.mit.edu&#62;  can  be  retrieved
     similarly  by sending email to &#60;mail-server@rtfm.mit.edu&#62;, containing
     a message such as:

	  send usenet/news.answers/index
	  send usenet/news.answers/ai-faq/genetic/part1
	  quit

     References

     Kehoe, B.P. (1992) "Zen and the Art of  the  Internet:  A  Beginner's
     Guide  to the Internet", 2nd Edition (July). Prentice Hall, Englewood
     Cliffs, NJ. 112 pages. The 1st Edition, (February)  is  available  in
     PostScript format via anonymous FTP from ftp.cs.widener.edu: and many
     other Internet archives.

     Krol, E.  (1992)  "The  Whole  Internet:  Catalog  &#38;  User's  Guide".
     O'Reilly &#38; Associates, Inc., Sebastopol, CA. 376 pages.

     LaQuey, T. and J.C. Ryer (1992) "The Internet Companion: A Beginner's
     Guide to Global Networking". Addison-Wesley Publishing Co.,  Reading,
     MA. 208 pages.

     Smith,  Una  R.  (1993)  "A Biologist's Guide to Internet Resources."
     USENET sci.answers. ~45 pages. Available via  gopher,  anonymous  FTP
     and        e-mail        from        many        archives,        eg.
     <A NAME=id97 HREF="ftp://rtfm.mit.edu/pub/usenet/sci.answers/biology/guide/part">rtfm.mit.edu:/pub/usenet/sci.answers/biology/guide/part</A>?

     Gaffin, A. (1994) "Everybody's Guide to the Internet."  Published  by
     the  EFF  and MIT Press. $14.95.  ISBN 9-780262-67105-7. This book is
     available in ASCII by sending e-mail  to  &#60;netguide@eff.org&#62;;  you'll
     receive  the  book  split  into  several pieces; for a more elaborate
     version of the guide see the following entry.



     Gaffin, A. with Heitkoetter, J. (1994) "EFF's (Extended) Guide to the
     Internet:  A  round trip through Global Networks, Life in Cyberspace,
     and  Everything...",  aka  `eegtti.texi'.  This  is  available   from
     <A NAME=id98 HREF="ftp://ftp.eff.org/pub/Net_info/Net_Guide/Other_versions/">ftp.eff.org:/pub/Net_info/Net_Guide/Other_versions/</A>  (Texinfo, ASCII,
     HTML,  DVI  and  PostScript).  The  European  edition  is   kept   on
     <A NAME=id99 HREF="ftp://ftp.germany.eu.net/pub/books/eff-guide/">ftp.germany.eu.net:/pub/books/eff-guide/</A>  ~300  pages.  A README file
     gives more information.  The hypertext (HTML) version can be  browsed
     by  using  a  WWW  reader, such as mosaic, and opening a URL with the
     address: <A NAME=id100 HREF="http://<A NAME=id101 HREF="ftp://www.germany.eu.net/books/eegtti/eegtti.html</A>">www.germany.eu.net:/books/eegtti/eegtti.html">http://<A NAME=id102 HREF="ftp://www.germany.eu.net/books/eegtti/eegtti.html</A></A>">www.germany.eu.net:/books/eegtti/eegtti.html</A></A></A>

     The EARN Association (May 1993) "A Guide to Network Resource  Tools",
     available  via  e-mail  from &#60;listserv@EARNCC.bitnet&#62;, by sending the
     message "get nettools ps" (PostScript) or "get nettools memo"  (plain
     text).


------------------------------

     Copyright  (c) 1993-1995 by J. Heitkoetter and D. Beasley, all rights
     reserved.

     This FAQ may be posted to any USENET newsgroup, on-line  service,  or
     BBS  as  long  as  it  is  posted  in  its entirety and includes this
     copyright statement.  This FAQ may not be distributed  for  financial
     gain.   This  FAQ  may  not  be included in commercial collections or
     compilations without express permission from the author.

End of ai-faq/genetic/part4
***************************
--
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq421.htm"><I>Q15.4: What relevant newsgroups and FAQs are there?</I></A>"<BR>
</BODY>
