<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q15.2: What mailing lists are there?</TITLE>
</HEAD>
<BODY>
<H1>Q15.2: What mailing lists are there?</H1>
<PRE>
     Mailing lists are unregulated, unmoderated,  information  sources  in
     which  messages sent in by subscribers are posted out immediately and
     individually to all other subscribers. Digests are listed in Q15.1.

 Genetic Programming Mailing List
     The GP community uses this list as a discussion forum, news  exchange
     and  FAQ  distribution  channel,  originally  set up by John Koza and
     James Rice at Stanford.

     o  Admin requests: &#60;genetic-programming-REQUEST@cs.stanford.edu&#62;

     o  The anonymous  FTP  archive:  <A NAME=id37 HREF="ftp://ftp.io.com/pub/genetic-programming/">ftp.io.com:/pub/genetic-programming/</A>
	includes  a lengthy, but "mostly interesting" FAQ by James Rice on
	GP  related  subjects.  A   HTML   version   is   accessible   at:
	<A NAME=id38 HREF="http://<A NAME=id39 HREF="ftp://www.salford.ac.uk/docs/depts/eee/genetic.html</A>">www.salford.ac.uk:/docs/depts/eee/genetic.html">http://<A NAME=id40 HREF="ftp://www.salford.ac.uk/docs/depts/eee/genetic.html</A></A>">www.salford.ac.uk:/docs/depts/eee/genetic.html</A></A></A>  (there  are
	also a lot of other GP resources here too).

 Tierra Mailing List
     Thomas Ray's Tierra is discussed elsewhere (see Q4.1); here's how  to
     obtain Tierra electronically and get in contact with other users.

     o  Admin requests: &#60;tierra-REQUEST@life.slhs.udel.edu&#62;

     o  Anonymous FTP archive: <A NAME=id41 HREF="ftp://tierra.slhs.udel.edu/pub/">tierra.slhs.udel.edu:/pub/</A> (tierra, almond,
	beagle, etc.)
 GA-Molecule mailing list
     o  Admin details: &#60;ga-molecule-request@tammy.harvard.edu&#62;

 UK's Evolutionary-Computation mailing list
     o  Admin details: &#60;evolutionary-computing-request@mailbase.ac.uk&#62;


 GEnetic Algorithm Research Student mailing list
     Provides  a  forum  for  research  students  interested  in   GENETIC
     ALGORITHMs.

     o  Admin requests: &#60;gaphd-list-request@dcs.warwick.ac.uk&#62;

 GANN: Genetic Algorithms and Neural Networks
     This  list  will focus on the use of evolutionary algorithms (GENETIC
     ALGORITHMs,  GENETIC  PROGRAMMING  and   their   variants)   in   the
     EXPLORATION  of  the  design  space  of  (artificial)  neural network
     architectures and algorithms.  The list  will  be  semi-moderated  to
     keep  the  signal to noise ratio as high as possible.  (This list was
     formerly known as the neuro-evolution e-mail list.)

     o  Admin requests/enquiries: gann-request@cs.iastate.edu

     o  Subscription  requests  to  the  admin   address   with   Subject:
	subscribe

 gattbl: Timetabling mailing list
     This  group  is for people using GAs and other techniques for exam or
     course scheduling for academic institutions. To subscribe, send email
     to &#60;ttp-request@cs.nott.ac.uk&#62;.

 Evolutionary Models in the Social Sciences
     See Q10.8 for details.

 Genetic Algorithms in Production Scheduling
     The  GASched  list is for discussion of the use of GENETIC ALGORITHMs
     on Production Scheduling Problems (only).  Possible subjects for  the
     list  include:  GAs for job-shop scheduling theory, GAs for practical
     problem solving in industry, problem representation  within  the  GA,
     combinatorial   optimisation   techniques  for  scheduling  problems,
     results &#38; effects of GA-based systems working in industry, techniques
     for  improving PERFORMANCE, problem data, or any other burning issues
     which come into GAs for production scheduling.

     To send an administration message (to subscribe, be  removed,  or  if
     you  have  a  question  about  the  list rather than *for* it), email
     &#60;gasched-owner@acse.sheffield.ac.uk&#62;  with  your   name   and   email
     address, and you should hear back within a few days.

 Autopoiesis
     There  is  an Autopoiesis Email List for the discussion of the theory
     of Autopoiesis of H. Maturana and F. Varela.  Autopoiesis means self-
     production and concerns self-organizing systems.

     To  join  send  a  message  containing  the  text: SUB AUTOPOIESIS to
     &#60;listserv@think.net&#62;

     To see what other systems and philosophy lists  exist  at  this  site
     send the message: HELP instead.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq418.htm"><I>Q15.1: What digests are there?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq420.htm"><I>Q15.3: What online information repositories are there?</I></A>"<BR>
</BODY>
