<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q13: What Evolutionary Computation Associations exist?</TITLE>
</HEAD>
<BODY>
<H1>Q13: What Evolutionary Computation Associations exist?</H1>
<PRE>
  ISGA: International Society on Genetic Algorithms
     The  ISGA  is  a  mostly  fascinating   society:  it  neither  has  a
     membership fee  (which  makes  it  even  more  fascinating),  nor  an
     address.  However,  ISGA  meetings  usually  take  place  during ICGA
     conferences, in so-called business  meetings  (BMs).  [eds  note:  So
     during a conference, ask for BMs, if you want to join; or be ready to
     dart out of the room if you don't...]

  EPS: Evolutionary Programming Society
     Membership is $40/year ($10/year for students with id) and also gives
     you  a discounted registration at the annual conference. You can also
     order EP proceedings ($30/members, $45/other) from EPS.

     Address: EVOLUTIONARY PROGRAMMING Society, 9363 Towne Centre Dr., San
     Diego, CA 92121, Attn: Bill Porto, Treasurer.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq414.htm"><I>Q12: What are the important conferences/proceedings on EC?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq416.htm"><I>Q14: What Technical Reports are available?</I></A>"<BR>
</BODY>
