<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q15.4: What relevant newsgroups and FAQs are there?</TITLE>
</HEAD>
<BODY>
<H1>Q15.4: What relevant newsgroups and FAQs are there?</H1>
<PRE>
     Besides  the  obvious  comp.ai.genetic,  there   exist   some   other
     newsgroups that sometimes carry EC related topics:

     o  comp.ai (FAQ in news.answers, comp.answers)

     o  comp.ai.digest

     o  comp.ai.fuzzy (FAQ in news.answers, comp.answers)

     o  comp.ai.jair.announce (FAQ in news.answers, comp.answers)

     o  comp.ai.jair.papers  (PostScript  papers  of  the  Journal  of  AI
	Research, published by Morgan Kaufmann &#60;morgan@unix.sri.com&#62;) [eds
	note:  this  is  the  first journal that's completely published on
	USENET first, and later in paper form; read the  jair-faq,  that's
	posted  to  the  announcement group to find out how to submit your
	papers, get JAIR papers by FTP, Gopher or e-mail, etc.]

     o  comp.ai.neural-nets (FAQ in news.answers, comp.answers)

     o  comp.robotics (FAQ in news.answers, comp.answers)

     o  comp.theory.cell-automata (no FAQ)

     o  comp.theory.dynamic-sys (no FAQ)

     o  comp.theory.self-org-sys (no FAQ)

     o  sci.bio.evolution (no FAQ as such, but  there  is  an  archive  of
	interesting      material,      accessible      via     WWW     at
	<A NAME=id95 HREF="http://www.cqs.washington.edu/~evolution">http://www.cqs.washington.edu/~evolution</A> )

     o  sci.math.num-analysis (some FAQs in news.answers, sci.answers)

     o  sci.op-research (some FAQs in news.answers, sci.answers)

     o  talk.origins (discusses origins  of  life,  EVOLUTION,  etc.   FTP
	repository  index  at  <A NAME=id96 HREF="ftp://ics.uci.edu/pub/origins/Index">ics.uci.edu:/pub/origins/Index</A> -- see Q10.7
	for more details.)
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq420.htm"><I>Q15.3: What online information repositories are there?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq422.htm"><I>Q15.5: What about all these Internet Services?</I></A>"<BR>
</BODY>
