<HEAD>
<TITLE>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions) - Q15: What information is available over the net?</TITLE>
</HEAD>
<BODY>
<H1>Q15: What information is available over the net?</H1>
<PRE>
     A whole lot of information  is  available  "electronically"  via  the
     internet,  accessible  using  e-mail or (more easily) FTP.  There are
     electronic digests (see Q15.1), electronic mailing lists (see Q15.2),
     online  FTP  repositories (see Q15.3), and various USENET news groups
     (see Q15.4).
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq4.htm"><I>FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq416.htm"><I>Q14: What Technical Reports are available?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq418.htm"><I>Q15.1: What digests are there?</I></A>"<BR>
</BODY>
