<HEAD>
<TITLE>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</TITLE>
</HEAD>
<BODY>
<H1>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</H1>
<UL>
<LI><A NAME=id0 HREF="faq50.htm">Introduction</A>
<LI><A NAME=id1 HREF="faq51.htm">Q20: What EA software packages are available?</A>
<LI><A NAME=id2 HREF="faq52.htm">Q20.1: Free software packages?</A>
<LI><A NAME=id3 HREF="faq53.htm">Q20.2: Commercial software packages?</A>
<LI><A NAME=id4 HREF="faq54.htm">Q20.3: Current research projects?</A>
</UL>
</BODY>
