<HEAD>
<TITLE>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions) - Introduction</TITLE>
</HEAD>
<BODY>
<H1>Introduction</H1>
<PRE>
Archive-name:   ai-faq/genetic/part5
Last-Modified:  12/20/95
Issue:          3.4

TABLE OF CONTENTS OF PART 5
     Q20: What EA software packages are available?
     Q20.1: Free software packages?
     Q20.2: Commercial software packages?
     Q20.3: Current research projects?
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq5.htm"><I>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Next document is "<A NAME=up HREF="faq51.htm"><I>Q20: What EA software packages are available?</I></A>"<BR>
</BODY>
