<HEAD>
<TITLE>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions) - Q20: What EA software packages are available?</TITLE>
</HEAD>
<BODY>
<H1>Q20: What EA software packages are available?</H1>
<PRE>
     This  gives a list of all known EA software packages available to the
     public. The list was originally maintained by Nici  Schraudolph.   In
     June  '93  it  was agreed that it would be incorporated into this FAQ
     and the responsibility for maintenance taken over by the FAQ  editor.

     A  copy  of  most of the packages described below are kept at ENCORE,
     (See Q15.3), available by anonymous FTP.

     Most  GENETIC  PROGRAMMING  software  is   available   by   FTP   in:
     <A NAME=id HREF="ftp://ftp.io.com/pub/genetic-programming/">ftp.io.com:/pub/genetic-programming/</A>    There    are   subdirectories
     containing papers related to GP, archives of  the  mailing  list,  as
     well  as  a  suite  of  programs for implementing GP.  These programs
     include the Lisp code from Koza's "Genetic Programming" [KOZA92],  as
     well  as  implementations  in  C and C++, as for example SGPC: Simple
     Genetic Programming in C by Walter Alden  Tackett  and  Aviram  Carmi
     &#60;gpc@ipld01.hac.com&#62;.

     A  survey paper entitled "Genetic Algorithm Programming Environments"
     was published in IEEE Computer in the February 1994  issue.   Written
     by  Filho,  Alippi  and  Treleaven of University College, London, UK.
     It's            available            by            FTP             as
     <A NAME=id1 HREF="ftp://bells.cs.ucl.ac.uk/papagena/game/docs/gasurvey.ps">bells.cs.ucl.ac.uk:/papagena/game/docs/gasurvey.ps</A>

 PLEASE NOTE
     For  many  of these software packages, specific ordering instructions
     are given in the  descriptions  below  (see  Q20.1  -  Free  Software
     packages,  Q20.2  -  Commercial  Software  Packages, Q20.3 - Research
     Projects).   Please  read  and  follow  them   before   unnecessarily
     bothering  the  listed  author  or  contact!   Also  note  that these
     programs  haven't  been  independently  tested,  so  there   are   no
     guarantees of their quality.

     A major revision was undertaken in August 1994, when all authors were
     contacted, and asked to  confirm  the  accuracy  of  the  information
     contained  here.  A  few  authors  did not respond to the request for
     information.  These are noted below by: (Unverified 8/94).  In  these
     cases,  FTP  address  were checked by the FAQ editor, to confirm that
     this information (at least) is correct. In two cases,  email  to  the
     author bounced back as "undeliverable" -- these are noted below.

 Legend
     Type (this is a very ad-hoc classification)

	       GE:  generational GA
	       SS:  steady-state GA
	       PA:  (pseudo) parallel GA
	       ES:  evolution strategy
	       OO:  object-oriented
	       XP:  expert system
	       ED:  educational/demo
	       CF:  classifier system

     OS   Operating  System;  X11  implies  Unix;  "Win"  means  Microsoft
	  Windows 3.x/NT (PC); "DOS" means MS-DOS or compatibles.

     Lang Programming Language; in parentheses: source code not  included;
	  "OPas" = MPW Object Pascal

     Price
	  (1)   free   to  government  contractors,  $221  otherwise,  (2)
	  educational discount available, (3) available as addendum  to  a
	  book,  (4)  single 1850 DM, site license 5200 DM, (5) single 200
	  DM, site license 500 DM, (6) free for academic  and  educational
	  use.

     Author or Contact
	  given as Internet e-mail address if possible
		   ES/GA/XP System Implementations:

     =========================================================================
      Name       Type OS       Lang  Price  Author/Contact
     =========================================================================

      BUGS        GE, X11,    C      free   Joshua Smith
		  ED  Suntools             &#60;jrs@media.mit.edu&#62;

      DGenesis    GE, Unix    C      free   Erick Cantu-Paz
		 PA,ED                     &#60;ecantu@lamport.rhon.itam.mx&#62;

      DOUGAL      SS, DOS     Turbo  free   Brett Parker
		  GE          Pascal       &#60;b.s.parker@durham.ac.uk&#62;

      ESCaPaDE    ES  Unix    C      free   Frank Hoffmeister
				&#60;hoffmeister@ls11.informatik.uni-dortmund.de&#62;

      Evolution   GE, DOS     C      free   Hans-Michael Voigt and
      Machine     ES                        Joachim Born
					   &#60;voigt@max.fb10.tu-berlin.de&#62;

      GAC,        GE  Unix    C      free   Bill Spears
      GAL         "   "       Lisp   "     &#60;spears@aic.nrl.navy.mil&#62;

      GAGA        GE  Unix    C      free   Jon Crowcroft
					   &#60;jon@cs.ucl.ac.uk&#62;

      GAGS        GE, Unix,   C++    free   JJ Merelo
	       SS,OO  DOS                  &#60;jmerelo@kal-el.ugr.es&#62;

      GAlib       GA  Unix,   C++    free   Matthew Wall
		      Mac,DOS              &#60;mbwall@mit.edu&#62;

      GALOPPS     GE, Unix,   C      free   Erik Goodman
		  PA  DOS                  &#60;goodman@egr.msu.edu&#62;

      GAMusic     ED  Win    (Visual  $10   Jason H. Moore
			      Basic)       &#60;jhm@superh.hg.med.umich.edu&#62;

      GANNET      GE, Unix    C      free   Darrell Duane
		  NN                       &#60;dduane@fame.gmu.edu&#62;

      GAucsd      GE  Unix    C      free   Nici Schraudolph
					   &#60;GAucsd-request@cs.ucsd.edu&#62;

      GA          GE, DOS     (C++)  free   Mark Hughes
      Workbench   ED                       &#60;mrh@i2ltd.demon.co.uk&#62;

      GECO        GE, Unix,   Lisp   free   George P. W. Williams, Jr.
		OO,ED MacOS                &#60;george@hsvaic.hv.boeing.com&#62;

      Genesis     GE, Unix,   C      free   John Grefenstette
		  ED  DOS                  &#60;gref@aic.nrl.navy.mil&#62;

      GENEsYs     GE  Unix    C      free   Thomas Baeck
				      &#60;baeck@ls11.informatik.uni-dortmund.de&#62;

      GenET       SS, Unix,   C      free   Cezary Z. Janikow
		ES,ED X, etc.              &#60;janikow@radom.umsl.edu&#62;

      Genie       GE  Mac     Think  free   Lance Chambers
			      Pascal       &#60;pstamp@yarrow.wt.uwa.edu.au&#62;

      Genitor     SS  Unix    C      free   Darrell Whitley
					   &#60;whitley@cs.colostate.edu&#62;

      GENlib      SS  Unix,   C      (6)    Jochen Ruhland
		      DOS            &#60;jochenr@neuro.informatik.uni-kassel.de&#62;

      GENOCOP     GE  Unix    C      free   Zbigniew Michalewicz
					   &#60;zbyszek@uncc.edu&#62;

      GIGA        SS  Unix    C      free   Joe Culberson
					   &#60;joe@cs.ualberta.ca&#62;

      GPEIST      GP  Win,   Small-  free   Tony White
		      OS/2   talk          &#60;arpw@bnr.ca&#62;

      Imogene     GP  Win     C++    free   Harley Davis
					   &#60;davis@ilog.fr&#62;

      LibGA       GE, Unix/DOS C     free   Art Corcoran
	       SS,ED  NeXT/Amiga           &#60;corcoran@penguin.mcs.utulsa.edu&#62;

      LICE        ES  Unix,   C      free   Joachim Sprave
		      DOS                  &#60;joe@ls11.informatik.uni-dortmund.de&#62;

      Matlab-GA   GE  ?       Matlab free   ?

      mGA         GE  Unix    C,     free   Dave Goldberg
			      Lisp         &#60;goldberg@vmd.cso.uiuc.edu&#62;

      PARAGenesis PA, CM      C*     free   Michael van Lent
		  GE                       &#60;vanlent@eecs.umich.edu&#62;

      PGA         PA, Unix,   C      free   Peter Ross
		SS,GE etc.                 &#60;peter@aisb.ed.ac.uk&#62;

      PGAPack     GA, any     C      free   David Levine
		  PA                       &#60;levine@mcs.anl.gov&#62;

      SGA-C,      GE  Unix    C      free   Robert E. Smith
      SGA-Cube        nCube                &#60;rob@comec4.mh.ua.edu&#62;

      Splicer     GE  Mac,    C      (1)    Steve Bayer
		      X11

      TOLKIEN     OO, Unix,   C++    free   Anthony Yiu-Cheung Tang
		  GE  DOS                  &#60;tang028@cs.cuhk.hk&#62;

      Trans-Dimensional                     Steve Romaniuk
      Learning    NN  Win     ?      free  &#60;zlxx69a@prodigy.com&#62;

      WOLF        SS  Unix    C      free   David Rogers
					   &#60;drogers@msi.com&#62;
     =========================================================================



		  Classifier System Implementations:
     =========================================================================
      Name     Type  OS      Lang   Price  Author/Contact
     =========================================================================

      CFS-C     CF,  Unix/DOS  C    free   Rick Riolo
		ED                        &#60;rlr@merit.edu&#62;

      SCS-C     CF,  Unix/DOS  C    free   Joerg Heitkoetter
		ED   Atari TOS            &#60;joke@Germany.EU.net&#62;
     ==========================================================================



		     Commercial Packages:

     =========================================================================
      Name     Type  OS      Lang   Price  Author/Contact
     =========================================================================

      Computer- ED,  Win      ?      $10    Scott Kennedy, Axcelis Inc.
      Ants      GA                         &#60;72723.3614@compuserve.com&#62;

      EnGENEer  OO,  X11      C       ?     George Robbins,
		GA                          Logica Cambridge Ltd.

      EvoFrame/ OO,  Mac,     C++/   (4,2)  Optimum Software
      REALizer  ES   DOS      OPas   (5,2) &#60;optimum@applelink.apple.com&#62;

      Evolver   GE   DOS,     (C,    $349   Scott Kennedy, Axcelis Inc.
		     Mac      Pascal)      &#60;72723.3614@compuserve.com&#62;

      FlexTool  GA   ?        Matlab ?      Flexible Intelligence Group
					   &#60;figllc@aol.com&#62;

      GAME      OO,  X11      C++     (3)   Jose R. Filho
		GA                         &#60;zeluiz@cs.ucl.ac.uk&#62;

      Generator GE,SS Win,   (C++)   $379   Steve McGrew, New Light Industries
	     ES,OO,ED Excel                &#60;nli@comtch.iea.com&#62;

      MicroGA/  OO,  Mac,     C++    $249   Emergent Behavior, Inc.
      Galapagos SS   Win              (2)  &#60;emergent@aol.com&#62;

      Omega     ?    DOS      ?       ?     David Barrow, KiQ Ltd.

      OOGA      OO,  Mac,     Lisp   $60    Lawrence Davis
		GE   DOS

      PC/Beagle XP   DOS      ?      69UKP  Richard Forsyth

      XpertRule/XP   DOS    (Think  995UKP  Attar Software
      GenAsys                Pascal)

      XYpe      SS   Mac     (C)     $725   Ed Swartz, Virtual Image Inc.
     =========================================================================
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq5.htm"><I>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq50.htm"><I>Introduction</I></A>"<BR>
Next document is "<A NAME=up HREF="faq52.htm"><I>Q20.1: Free software packages?</I></A>"<BR>
</BODY>
