<HEAD>
<TITLE>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions) - Q20.2: Commercial software packages?</TITLE>
</HEAD>
<BODY>
<H1>Q20.2: Commercial software packages?</H1>
<PRE>
 ComputerAnts:
     ComputerAnts is a $10 Windows  program  that  teaches  principles  of
     GENETIC  ALGORITHMs  by  breeding  a  colony of ants on your computer
     screen. Users create  ants,  food,  poison,  and  set  CROSSOVER  and
     MUTATION  rates.  Then they watch the colony slowly evolve.  Includes
     extensive on-line help  and  tutorials  on  genetic  algorithms.  For
     further information or to order, contact: Axcelis, Inc., 4668 Eastern
     Avenue North, Seattle,  WA  98103-6932,  USA   Tel:  (206)  632-0885.
     &#60;72723.3614@compuserve.com&#62;

 EnGENEer:
     Logica  Cambridge  Ltd.  developed  EnGENEer  as  an in-house GENETIC
     ALGORITHM environment to assist the development of GA applications on
     a wide range of domains. The software was written in C and runs under
     Unix as part of a consultancy and systems package. It  supports  both
     interactive  (X-Windows) and batch (command-line) modes of operation.

     EnGENEer provides a number of flexible  mechanisms  which  allow  the
     developer  to  rapidly  bring the power of GAs to bear on new problem
     domains.  Starting  with  the  Genetic  Description   Language,   the
     developer can describe, at high level, the structure of the ``genetic
     material'' used. The  language  supports  discrete  GENEs  with  user
     defined   cardinality   and   includes   features  such  as  multiple
     CHROMOSOMEs models, multiple SPECIES models and non-evolvable parsing
     symbols which can be used for decoding complex genetic material.

     The  user  also  has available a descriptive high level language, the
     Evolutionary Model Language. It allows the description of the GA type
     used  in  terms  of  configurable options including: POPULATION size,
     population structure and  source,  SELECTION  method,  CROSSOVER  and
     MUTATION  type  and  probability,  INVERSION,  dispersal  method, and
     number of OFFSPRING per GENERATION.

     Both the Genetic Description  Language  and  the  Evolutionary  Model
     Language   are  fully  supported  within  the  interactive  interface
     (including online help system) and can be defined either "on the fly"
     or  loaded  from audit files which are automatically created during a
     GA run.

     Monitoring of GA progress is provided via both  graphical  tools  and
     automatic storage of results (at user defined intervals). This allows
     the user to restart EnGENEer from any point in a run, by loading both
     the POPULATION at that time and the evolutionary model that was being
     used.

     Connecting EnGENEer to  different  problem  domains  is  achieved  by
     specifying  the  name  of  the  program  used to evaluate the problem
     specific FITNESS function and constructing a simple  parsing  routine
     to   interpret   the   genetic   material.   A  library  of  standard
     interpretation  routines  are  also  provided   for   commonly   used
     representation  schemes  such  as gray-coding, permutations, etc. The
     fitness evaluation can then be run as either a slave process  to  the
     GA  or  via  a standard handshaking routines. Better still, it can be
     run on either the machine hosting the EnGENEer or on  any  sequential
     or parallel hardware capable of connecting to a Unix machine.

     For  more  information, contact: George Robbins, Systems Intelligence
     Division, Logica Cambridge Ltd.,  Betjeman  House,  104  Hills  Road,
     Cambridge  CB2  1LQ,  UK.   Tel:  +44 716 379111, Fax: +44 223 322315
     (Unverified 8/94).

 EvoFrame:
     EvoFrame is to  EVOLUTION  STRATEGIEs  what  MicroGA  is  to  GENETIC
     ALGORITHMs,  a  toolkit for application development incorporating ESs
     as the OPTIMIZATION engine.

     EvoFrame is an  object  oriented  implemented  programming  tool  for
     EVOLUTION   STRATEGIEs   (Rechenberg/Schwefel,   Germany)   for  easy
     implementation and solution of numerical and combinatorical problems.
     EvoFrame  gives  you  freedom  of  implementing  every  byte  of  the
     OPTIMIZATION principle and its user interface. You can focus  on  the
     optimization problem and forget about all the rest.

     EvoFrame is available as Version 2.0 in Borland-Pascal 7.0 and Turbo-
     Vision for PC's and as Version 1.0 in C++ for Apple  Macintosh  using
     MPW    and   MacApp.    Both   implementations   allow   full   typed
     implementation, i.e.   no  more  translation  from  problem  specific
     format  to  an  OPTIMIZATION  specific  one.   A prototyping tool (cf
     REALizer) exists for both platforms too.

     EvoFrame allows pseudoparallel OPTIMIZATION of many problems at  once
     and you can switch optimization parameters and internal methods (i.e.
     quality function etc.) during runtime and during optimization  cycle.
     Both  tools  can  be  modified  or  extended  by overloading existing
     methods for experimental  use.  They  are  developed  continously  in
     correlation to new research results.

     The   PC   version   is  prepared  for  experimental  use  due  to  a
     comprehensive protocolling mechanism of optimzation cycles  and  user
     data.  It  also allows compilation of executable files with different
     complexity by setting conditional compilation flags. It can  be  used
     with 3 levels of stacked POPULATIONs.

     The  Mac  version  is the more complex (recursive) implementation. It
     allows stacking of any number of POPULATIONs for modelling of complex
     systems.  Theory stops at multipopulation level at the time. EvoFrame
     for Mac is ready for the future, allowing any  number  of  population
     levels.

     Ask  for  porting the Mac version (C++) to any other platform, i.e. X
     Windows.

     REALizer is a tool for rapid prototyping  of  EvoFrame  applications.
     It's  an override of the corresponding framework which is prepared to
     optimize using a vector of real numbers.  All  methods  for  standard
     EVOLUTION   and  file  handling,  etc.  are  ready  implemented.  The
     remaining work for the user is to define a constant for  the  problem
     size,  fill  in  the  quality  function  and  start  the OPTIMIZATION
     process.

     For further information, current prices and orders, contact:  Wolfram
     Stebel,   Optimum  Software,  Braunfelser  Str.  26,  35578  Wetzlar,
     Germany.  Net: &#60;optimum@applelink.apple.com&#62;

 Evolver:
     Evolver is a GENETIC ALGORITHM package for Windows. Beginners can use
     the  Excel  add-in  to  model  and  solve problems from within Excel.
     Advanced users can use the  included  Evolver  API  to  build  custom
     applications that access any of the six different genetic algorithms.
     Evolver can be customized and users can monitor progress in real-time
     graphs,  or  change  parameters  through  the included EvolverWatcher
     program.  The $349 package comes on  two  3.5"  disks,  and  includes
     support  for  Visual  Basic.  For  further  information  or to order,
     contact: Axcelis,  Inc.,  4668  Eastern  Avenue  North,  Seattle,  WA
     98103-6932, USA Tel: (206) 632-0885.  &#60;72723.3614@compuserve.com&#62;

 FlexTool:
     FlexTool(GA) is a modular software tool which provides an ENVIRONMENT
     for applying a GA to diverse domains with  minimum  user  interaction
     and  design  iteration.  Version  M1.1  is  the  MATLAB version which
     provides a total GA  based  design  and  development  environment  in
     MATLAB.  MATLAB provides us with an interactive computation intensive
     environment.  FlexTool(GA) Version M1.1 is designed with emphasis  on
     modularity, flexibility, user friendliness, environment transparency,
     upgradability, and reliability.

     FlexTool(GA)  M 1.1 Features:

     o  Modular, User Friendly, Hardware and operating system transparent

     o  Expert, Intermediate, and Novice help settings

     o  Hands-on tutorial with step by step application guidelines

     o  GA options : generational GA, steady state GA,  micro GA

     o  Coding schemes include binary, logarithmic (real)

     o  SELECTION strategies : tournament, roulette wheel, ranking

     o  CROSSOVER techniques include 1, 2, multiple point crossover

     o  Niching module to identify multiple solutions

     o  Clustering module : Use separately or with Niching module
     o  Can optimize multiple objectives

     o  STATISTICS, figures, and data collection

     MATLAB   is  a  registered   trademark   of   The   MathWorks,   Inc.
     FlexTool(GA)  is a Trademark of Flexible Intelligence Group, L.L.C.

     Contact &#60;FIGLLC@AOL.COM&#62; for more information

 GAME:
     GAME   (GA   Manipulation   Environment)   aims   to  demonstrate  GA
     applications and build a suitable programming ENVIRONMENT.

     GAME is being developed as  part  of  the  PAPAGENA  project  of  the
     European Community's Esprit III initiative.

     GAME  is  available  as  an  addendum to a book on PGAs (cf PAPAGENA,
     Q20.3).      And     from     the      project's      FTP      server
     <A NAME=id45 HREF="ftp://bells.cs.ucl.ac.uk/papagena/">bells.cs.ucl.ac.uk:/papagena/</A>  e.g. "papagena/game/docs" contains all
     the papers that have been  produced  over  the  course  of  the  GAME
     project.    The   sources   can   also   be   obtained   by  FTP  see
     papagena/game/version2.01/

     GAME is now in version 2.01. This version is still able to  run  only
     sequential GAs, but version 3.0 will handle parallel GAs as well.

     Unfortunately,  The  project  yet  only  produced  a  Borland C++ 3.x
     version, so far.  It is intended to distribute a version for UNIX/GNU
     C++   as   well,   when  some  compatibility  issues  concerning  C++
     "standards" have been resolved. Afterward  a  UNIX  version  will  be
     released,  but  this  will  be  only  happen  after the release of PC
     version 3.0.

     For more information contact: Jose Luiz Ribeiro Filho, Department  of
     Computer  Science,  University  College  London, Gower Street, London
     WC1E 6BT, UK.  Net: &#60;zeluiz@cs.ucl.ac.uk&#62; (Unverified 8/94).

 Generator:
     GENERATOR is a GENETIC ALGORITHM package designed  to  interact  with
     Microsoft  Excel  for  Windows.   Users  are able to define and solve
     problems using Excel formulas,  tables  and  functions.   FITNESS  is
     easily  defined  as an Excel formula or optionally a macro.  Progress
     can be monitored using GENERATOR's real-time fitness graph and status
     window as well as user-defined Excel graphs.  GENERATOR can be paused
     at any time to allow adjustment of any of  the  parameters  and  then
     resumed.

     GENERATOR Features:

     o  Multiple GENE types: integer, real and permutation.

     o  Combined roulette-wheel and elitist SELECTION method.

     o  ELITISM is optional and adjustable.

     o  None, two-point, and a proprietary permutation CROSSOVER.

     o  Random,   Random  Hillclimb  and  Directional  Hillclimb  MUTATION
	methods.

     o  Special hillclimbing features to find solutions faster.

     o  FITNESS goal: maximize, minimize or seek value.

     o  Convergence: duplicates not allowed.

     o  Real-Time  alteration  of  parameters   relating   to   CROSSOVER,
	MUTATION, POPULATION, etc.

     o  Real-Time progress graph of Best, Worst and Median FITNESS.

     o  FITNESS defined using an Excel formula or macro.

     The parameters available to the user include MUTATION probability for
     POPULATION and GENEs, control of mutation limit per gene, control  of
     hillclimbing,   population  size,  elite  group  size,  RECOMBINATION
     method, and mutation technique.

     Connecting generator to problems defined on the Excel spreadsheet  is
     achieved  by  first  specifying the spreadsheet locations of the GENE
     group cells and their type, and lastly, the location of  the  formula
     used to evaluate the problem-specific FITNESS function.

     GENERATOR requires at least a 386 IBM compatible PC with 2 MB of RAM,
     Windows 3.0 (or  later)  and  Microsoft  Excel  4.0  (or  later).   A
     comprehensive  manual  includes  an explanation of GENETIC ALGORITHMs
     and several tutorial example  problems.   The  $379  package.includes
     GENERATOR  on a 3.5" diskette, the manual, and free customer support.

     For further information or to order, contact: New  Light  Industries,
     Ltd.;  9713 W. Sunset Hwy; Spokane, WA USA 99204 Tel: (509) 456-8321;
     Fax  (509)   456-8351;   E-mail:   &#60;nli@comtch.iea.com&#62;   WWW   page:
     <A NAME=id46 HREF="http://<A NAME=id47 HREF="ftp://www.iea.com/~nli</A>">www.iea.com:/~nli">http://<A NAME=id48 HREF="ftp://www.iea.com/~nli</A></A>">www.iea.com:/~nli</A></A></A>

 MicroGA:
     MicroGA  is a powerful and flexible new tool which allows programmers
     to integrate GAs into their software quickly and  easily.  It  is  an
     object-oriented  C++  framework  that comes with full source code and
     documentation as well as three sample applications. Also included  is
     the  Galapagos  code  generator which allows users to create complete
     applications interactively without writing any C++ code, and a sample
     MacApp interface.

     MicroGA  is  available  for Macintosh II or higher with MPW and a C++
     compiler, and also in a Microsoft Windows version for PC compatibles.
     Compiled  applications  made with MicroGA can be sold without license
     fee. MicroGA is priced at $249.

     Galapagos is a tool for use with Emergent Behavior's MicroGA Toolkit.
     It  allows  a  user to define a function and set of constraints for a
     problem that the user wants to solve using the  GA.   Galapagos  then
     generates a complete C++ program using the information supplied. Then
     all the user has to do  is  to  compile  these  files,  using  either
     Turbo/Borland   C++  (PC,  MS  Windows),  or  MPW  and  C++  compiler
     (Macintosh), and link the resulting code to the MicroGA library. Then
     just  run  the  program.  Galapagos  comes  free  with  every copy of
     MicroGA.

     For further information and orders, contact: Steve  Wilson,  Emergent
     Behavior,  635  Wellsbury  Way,  Palo  Alto,  CA  94306,  USA.   Net:
     &#60;emergent@aol.com&#62;

     MicroGA is distributed in Germany by Optimum Software (cf EvoFrame  &#38;
     REALizer entries).

 Omega:
     The  Omega  Predictive Modeling System, marketed by KiQ Limited, is a
     powerful  approach  to  developing  predictive  models.  It  exploits
     advanced GA techniques to create a tool which is "flexible, powerful,
     informative and straightforward to  use".  Omega  is  geared  to  the
     financial  domain,  with applications in Direct Marketing, Insurance,
     Investigations  and  Credit  Management.   The   ENVIRONMENT   offers
     facilities  for  automatic handling of data; business, statistical or
     custom measures of PERFORMANCE, simple and complex  profit  modeling,
     validation   sample  tests,  advanced  confidence  tests,  real  time
     graphics, and optional control over the internal GA.

     For further information,  contact:  KiQ,  Business  Modeling  Systems
     Ltd.,  Easton  Hall,  Great  Easton, Essex CM6 2HD, UK.  Tel: +44 371
     870254 (Unverified 8/94).

 OOGA:
     OOGA  (Object-Oriented  GA)  is  a  GENETIC  ALGORITHM  designed  for
     industrial  use.   It  includes examples accompanying the tutorial in
     the companion "Handbook of Genetic Algorithms". OOGA is designed such
     that each of the techniques employed by a GA is an object that may be
     modified, displayed or replaced in object-oriented fashion.  OOGA  is
     especially well-suited for individuals wishing to modify the basic GA
     techniques or tailor them to new domains.

     The buyer of OOGA also receives Genesis (see  above).   This  release
     sports  an  improved  user interface.  OOGA and Genesis are available
     together on 3.5''  or  5.25''  disk  for  $60  ($52.50  inside  North
     America)  by  order from: The Software Partnership (T.S.P.), P.O. Box
     991, Melrose, MA 02176, USA.  Tel: +1 617 662 8991 (Unverified 8/94).

 PC-Beagle:
     PC-Beagle  is a rule-finder program for PCs which examines a database
     of examples and uses machine-learning techniques to create a  set  of
     decision rules for classifying those examples, thus turning data into
     knowledge.  The system contains six major components,  one  of  which
     (HERB - the "Heuristic Evolutionary Rule Breeder") uses GA techniques
     to generate rules by natural SELECTION.

     PC-Beagle is available to educational users for 69  pounds  sterling.
     Orders,  payment  or requests for information should be addressed to:
     Richard Forsyth, Pathway Research Ltd., 59 Cranbrook Rd., Bristol BS6
     7BS, UK.  Tel: +44 272 428692 (Unverified 8/94).

 XpertRule GenAsys:
     XpertRule  GenAsys  is  an  expert system shell with embedded GENETIC
     ALGORITHM marketed by Attar Software. Targeted  to  solve  scheduling
     and  design  applications,  this system combines the power of genetic
     algorithms  in  evolving  solutions  with  the  power  of  rule-based
     programming  in  analyzing the effectiveness of solutions. Rule-based
     programming can also be used to generate the initial  POPULATION  for
     the  genetic  algorithm  and  for  post-optimization  planning.  Some
     examples of design and scheduling problems which  can  be  solved  by
     this  system include: OPTIMIZATION of design parameters in electronic
     and  avionic  industries,  route  optimization  in  the  distribution
     sector, production scheduling in manufacturing, etc.

     For  further  information,  contact:  Attar  Software, Newlands Road,
     Leigh, Lancashire, UK.  Tel:  +44  942  608844.   (Unverified  8/94).
     Last  known  address  &#60;100166.1547@CompuServe.com&#62;.  This now bounces
     back with "user unknown".


 XYpe:
     XYpe (The GA Engine) is a commercial GA application  and  development
     package  for  the Apple Macintosh. Its standard user interface allows
     you to design CHROMOSOMEs, set attributes of the genetic  engine  and
     graphically  display its progress. The development package provides a
     set of Think C libraries and include files for the design of  new  GA
     applications. XYpe supports adaptive operator weights and mixtures of
     alpha, binary, gray, ordering and real number codings.

     The price of $725 (in  Massachusetts  add  5%  sales  tax)  plus  $15
     shipping   and   handling   includes   technical  support  and  three
     documentation manuals.  XYpe requires a Macintosh SE  or  newer  with
     2MB  RAM  running  OS  V6.0.4  or  greater,  and Think C if using the
     development package.

     Currently the GA engine  is  working;  the  user  interface  will  be
     completed  on  demand.  Interested parties should contact: Ed Swartz,
     Virtual Image, Inc., 75 Sandy Pond Road #11,  Ayer,  MA  01432,  USA.
     Tel: +1 (508) 772-4225 (Unverified 8/94).
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq5.htm"><I>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq52.htm"><I>Q20.1: Free software packages?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq54.htm"><I>Q20.3: Current research projects?</I></A>"<BR>
</BODY>
