<HEAD>
<TITLE>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions) - Q20.3: Current research projects?</TITLE>
</HEAD>
<BODY>
<H1>Q20.3: Current research projects?</H1>
<PRE>

 PAPAGENA:
     The  European  ESPRIT III project PAPAGENA is pleased to announce the
     availability of the following book and software:

     Parallel Genetic Algorithms: Theory  and  Applications  was  recently
     published by IOS press. The book, edited by Joachim Stender, provides
     an overview  of  the  theoretical,  as  well  as  practical,  aspects
     involved   in  the  study  and  implementation  of  parallel  GENETIC
     ALGORITHMs (PGAs).

     The book comes with a floppy disk version of GAME (Genetic  Algorithm
     Manipulation  Environment).   For more information see the section on
     GAME in Q20.2.

 PeGAsuS:
     PeGAsuS  is  a  general  programming  environment  for   evolutionary
     algorithms.   developed  at  the  German National Research Center for
     Computer Science.  Written  in  ANSI-C,  it  runs  on  MIMD  parallel
     machines,  such as transputers, and  distributed  systems, as well as
     serial machines.

     The  Library  contains GENETIC OPERATORs, a  collection   of  FITNESS
     functions,  and input/output and control procedures.  It provides the
     user with  a  number  of validated modules. Currently, PeGAsuS can be
     compiled  with  the  GNU C, RS/6000 C, ACE-C, and Alliant's FX/2800 C
     compilers.  It runs on SUNs and RS/6000 workstations, as well  as  on
     the Alliant FX/28.  PeGAsuS is not available to the public.

     For more information contact: Dirk Schlierkamp-Voosen, Research Group
     for Adative Systems, German National  Research  Center  for  Computer
     Science,  53731  Sankt  Augustin,  Germany.   Net: &#60;dirk.schlierkamp-
     voosen@gmd.de&#62;

------------------------------

     Copyright (c) 1993-1995 by J. Heitkoetter and D. Beasley, all  rights
     reserved.

     This  FAQ  may be posted to any USENET newsgroup, on-line service, or
     BBS as long as it  is  posted  in  its  entirety  and  includes  this
     copyright  statement.   This FAQ may not be distributed for financial
     gain.  This FAQ may not be  included  in  commercial  collections  or
     compilations without express permission from the author.

End of ai-faq/genetic/part5
***************************
--
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq5.htm"><I>FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq53.htm"><I>Q20.2: Commercial software packages?</I></A>"<BR>
</BODY>
