<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions) - Q98: Are there any patents on EAs?</TITLE>
</HEAD>
<BODY>
<H1>Q98: Are there any patents on EAs?</H1>
<PRE>
     Process  patents  have  been  issued  both  for  the  Bucket  Brigade
     Algorithm in CLASSIFIER SYSTEMs: U.S. patent #4,697,242: J.H. Holland
     and A. Burks, "Adaptive computing  system  capable  of  learning  and
     discovery",  1985,  issued  Sept  29  1987;  and  for GP: U.S. patent
     #4,935,877 (to John Koza).

     This FAQ does not attempt to provide legal advice.  However,  use  of
     the  Lisp  code  in the book [KOZA92] is freely licensed for academic
     use. Although those wishing to make commercial  use  of  any  process
     should obviously consult any patent holders in question, it is pretty
     clear that it's not  in  anyone's  best  interests  to  stifle  GA/GP
     research and/or development. Commercial licenses much like those used
     for CAD software can presumably be obtained  for  the  use  of  these
     processes where necessary.

     Jarmo  Alander's  massive  bibliography of GAs (see Q10.8) includes a
     (probably) complete list of all currently  know  patents.   There  is
     also  a  periodic posting on comp.ai.neural-nets by Gregory Aharonian
     &#60;srctran@world.std.com&#62; about patents on Artificial  Neural  Networks
     (ANNs).
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq6.htm"><I>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq64.htm"><I>Q42b: Is there a FAQ to this group?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq66.htm"><I>Q99: A Glossary on EAs?</I></A>"<BR>
</BODY>
