<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions) - Q22: What test data is available?</TITLE>
</HEAD>
<BODY>
<H1>Q22: What test data is available?</H1>
<PRE>
 TSP DATA
     There is a TSP library (TSPLIB) available which has many  solved  and
     semi-solved TSPs and different variants. The library is maintained by
     Gerhard Reinelt &#60;reinelt@ares.iwr.Uni-Heidelberg.de&#62;. It is available
     from          various          FTP          sites,         including:
     <A NAME=id HREF="ftp://softlib.cs.rice.edu/pub/tsplib/tsblib.tar">softlib.cs.rice.edu:/pub/tsplib/tsblib.tar</A>

 OPERATIONAL RESERACH DATA
     Information about Operational Research test problems in  any  of  the
     areas  listed below can be obtained by emailing &#60;o.rlibrary@ic.ac.uk&#62;
     with the body of the email message being just the word  "info".   The
     files  in  OR-Library  are  also  available  via  anonymous  FTP from
     <A NAME=id1 HREF="ftp://mscmga.ms.ic.ac.uk/pub/">mscmga.ms.ic.ac.uk:/pub/</A>  A  WWW  page  is  also  available  at  URL:
     <A NAME=id2 HREF="http://mscmga.ms.ic.ac.uk/">http://mscmga.ms.ic.ac.uk/</A>  Instructions on how to use OR-Library can
     be found in the file "paper.txt", or  in  the  article:  J.E.Beasley,
     "OR-Library:  distributing test problems by electronic mail", Journal
     of the Operational Research Society 41(11) (1990) pp1069-1072.

     File                    Problem area

     assigninfo.txt          Assignment problem
     cspinfo.txt             Crew scheduling
     deainfo.txt             Data envelopment analysis
     gapinfo.txt             Generalised assignment problem
     mipinfo.txt             Integer programming
     lpinfo.txt              Linear programming
			     Location:
     capmstinfo.txt           capacitated minimal spanning tree
     capinfo.txt                     capacitated warehouse location
     pmedinfo.txt                    p-median
     uncapinfo.txt                   uncapacitated warehouse location
     mknapinfo.txt                   Multiple knapsack problem
     qapinfo.txt                     Quadratic assignment problem
     rcspinfo.txt                    Resource constrained shortest path
			     Scheduling:
     flowshopinfo.txt                flow shop
     jobshopinfo.txt                 job shop
     openshopinfo.txt                open shop
     scpinfo.txt             Set covering
     sppinfo.txt             Set partitioning
			     Steiner:
     esteininfo.txt                  Euclidean Steiner problem
     rsteininfo.txt                  Rectilinear Steiner problem
     steininfo.txt                   Steiner problem in graphs
     tspinfo.txt             Travelling salesman problem
			     Two-dimensional cutting:
     assortinfo.txt                  assortment problem
     cgcutinfo.txt                   constrained guillotine
     ngcutinfo.txt                   constrained non-guillotine
     gcutinfo.txt                    unconstrained guillotine
			     Vehicle routing:
     areainfo.txt                    fixed areas
     fixedinfo.txt                   fixed routes
     periodinfo.txt                  period routing
     vrpinfo.txt                     single period

 OTHER DATA
     William Spears &#60;spears@aic.nrl.navy.mil&#62; maintains a WWW page titled:
     Test  Functions  for  Evolutionary Algorithms which contians links to
     various         sources          of          test          functions.
     <A NAME=id3 HREF="http://www.aic.nrl.navy.mil:80/~spears/functs.html">http://www.aic.nrl.navy.mil:80/~spears/functs.html</A>

     ENCORE  (see  Q15.3)  also  contains  some test data. See directories
     under /etc/data/
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq6.htm"><I>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq61.htm"><I>Q21: What are Gray codes, and why are they used?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq63.htm"><I>Q42: What is Life all about?</I></A>"<BR>
</BODY>
