<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions) - Q42b: Is there a FAQ to this group?</TITLE>
</HEAD>
<BODY>
<H1>Q42b: Is there a FAQ to this group?</H1>
<PRE>
     Yes.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq6.htm"><I>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq63.htm"><I>Q42: What is Life all about?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq65.htm"><I>Q98: Are there any patents on EAs?</I></A>"<BR>
</BODY>
