<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions) - Introduction</TITLE>
</HEAD>
<BODY>
<H1>Introduction</H1>
<PRE>
Archive-name:   ai-faq/genetic/part6
Last-Modified:  12/20/95
Issue:          3.4

TABLE OF CONTENTS OF PART 6
     Q21: What are Gray codes, and why are they used?

     Q22: What test data is available?

     Q42: What is Life all about?
     Q42b: Is there a FAQ to this group?

     Q98: Are there any patents on EAs?

     Q99: A Glossary on EAs?
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq6.htm"><I>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Next document is "<A NAME=up HREF="faq61.htm"><I>Q21: What are Gray codes, and why are they used?</I></A>"<BR>
</BODY>
