<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</TITLE>
</HEAD>
<BODY>
<H1>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</H1>
<UL>
<LI><A NAME=id0 HREF="faq60.htm">Introduction</A>
<LI><A NAME=id1 HREF="faq61.htm">Q21: What are Gray codes, and why are they used?</A>
<LI><A NAME=id2 HREF="faq62.htm">Q22: What test data is available?</A>
<LI><A NAME=id3 HREF="faq63.htm">Q42: What is Life all about?</A>
<LI><A NAME=id4 HREF="faq64.htm">Q42b: Is there a FAQ to this group?</A>
<LI><A NAME=id5 HREF="faq65.htm">Q98: Are there any patents on EAs?</A>
<LI><A NAME=id6 HREF="faq66.htm">Q99: A Glossary on EAs?</A>
</UL>
</BODY>
