<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions) - Q42: What is Life all about?</TITLE>
</HEAD>
<BODY>
<H1>Q42: What is Life all about?</H1>
<PRE>
     42

     References

     Adams, D. (1979) "The Hitch Hiker's Guide to the Galaxy", London: Pan
     Books.

     Adams, D. (1980) "The Restaurant at the End of the Universe", London:
     Pan Books.

     Adams, D. (1982) "Life, the Universe  and  Everything",  London:  Pan
     Books.

     Adams,  D. (1984) "So long, and thanks for all the Fish", London: Pan
     Books.

     Adams, D. (1992) "Mostly Harmless", London: Heinemann.
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq6.htm"><I>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq62.htm"><I>Q22: What test data is available?</I></A>"<BR>
Next document is "<A NAME=up HREF="faq64.htm"><I>Q42b: Is there a FAQ to this group?</I></A>"<BR>
</BODY>
