<HEAD>
<TITLE>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions) - Q99: A Glossary on EAs?</TITLE>
</HEAD>
<BODY>
<H1>Q99: A Glossary on EAs?</H1>
<PRE>

 1
     1/5 SUCCESS RULE:
	  Derived  by  I.  Rechenberg,  the  suggestion that when Gaussian
	  MUTATIONs are applied to real-valued vectors  in  searching  for
	  the  minimum of a function, a rule-of-thumb to attain good rates
	  of error convergence is  to  adapt  the  STANDARD  DEVIATION  of
	  mutations  to  generate  one superior solution out of every five
	  attempts.


 A
     ADAPTIVE BEHAVIOUR:
	  "...underlying mechanisms that allow animals,  and  potentially,
	  ROBOTs to adapt and survive in uncertain environments" --- Meyer
	  &#38; Wilson (1991), [SAB90]

     AI:  See ARTIFICIAL INTELLIGENCE.

     ALIFE:
	  See ARTIFICIAL LIFE.

     ALLELE :
	  (biol) Each GENE is able to occupy only a particular region of a
	  CHROMOSOME,  it's  locus. At any given locus there may exist, in
	  the POPULATION, alternative forms of the gene. These alternative
	  are called alleles of one another.
	  (EC)  The  value of a GENE.  Hence, for a binary representation,
	  each gene may have an ALLELE of 0 or 1.

     ARTIFICIAL INTELLIGENCE:
	  "...the study of how to make computers do things  at  which,  at
	  the moment, people are better" --- Elaine  Rich (1988)

     ARTIFICIAL LIFE:
	  Term  coined  by  Christopher  G.  Langton for his 1987 [ALIFEI]
	  conference. In the preface of the proceedings he  defines  ALIFE
	  as  "...the study of simple computer generated hypothetical life
	  forms, i.e.  life-as-it-could-be."


 B
     BUILDING BLOCK:
	  (EC) A small, tightly clustered group of GENEs  which  have  co-
	  evolved   in  such  a  way  that  their  introduction  into  any
	  CHROMOSOME will be likely to  give  increased  FITNESS  to  that
	  chromosome.

	  The  "building  block  hypothesis" [GOLD89] states that GAs find
	  solutions by first finding as many BUILDING BLOCKs as  possible,
	  and then combining them together to give the highest FITNESS.


 C
     CENTRAL DOGMA:
	  (biol)  The  dogma  that  nucleic acids act as templates for the
	  synthesis of proteins, but never the  reverse.  More  generally,
	  the dogma that GENEs exert an influence over the form of a body,
	  but the form of a body is never  translated  back  into  genetic
	  code: acquired characteristics are not inherited. cf LAMARCKISM.

	  (GA) The dogma that the  behaviour  of  the  algorithm  must  be
	  analysed using the SCHEMA THEOREM.

	  (life in general) The dogma that this all is useful in a way.

	  "You  guys  have  a dogma. A certain irrational set of believes.
	  Well, here's  my  irrational  set  of  beliefs.  Something  that
	  works."

	  --- Rodney A. Brooks, [LEVY92]

     CFS: See CLASSIFIER SYSTEM.

     CHROMOSOME:
	  (biol)  One  of  the  chains of DNA found in cells.  CHROMOSOMEs
	  contain GENEs, each encoded as a subsection of  the  DNA  chain.
	  Chromosomes  are  usually  present  in all cells in an organism,
	  even though only a minority of them will be active  in  any  one
	  cell.

	  (EC)  A datastructure which holds a `string' of task parameters,
	  or GENEs.  This may be stored, for example,  as  a  binary  bit-
	  string, or an array of integers.

     CLASSIFIER SYSTEM:
	  A  system which takes a (set of) inputs, and produces a (set of)
	  outputs which indicate some classification of  the  inputs.   An
	  example  might take inputs from sensors in a chemical plant, and
	  classify them in terms of: 'running  ok',  'needs  more  water',
	  'needs  less water', 'emergency'. See Q1.4 for more information.

     COMBINATORIAL OPTIMIZATION:
	  Some tasks involve combining a set of entities in a specific way
	  (e.g.   the  task  of building a house). A general combinatorial
	  task involves deciding (a) the specifications of those  entities
	  (e.g.  what  size, shape, material to make the bricks from), and
	  (b) the way in which those entities are brought  together  (e.g.
	  the  number  of  bricks,  and  their relative positions). If the
	  resulting combination of entities can in some  way  be  given  a
	  FITNESS  score,  then  COMBINATORIAL OPTIMIZATION is the task of
	  designing a set of entities,  and  deciding  how  they  must  be
	  configured,  so  as  to  give  maximum  fitness.  cf ORDER-BASED
	  PROBLEM.

     COMMA STRATEGY:
	  Notation originally proposed in  EVOLUTION  STRATEGIEs,  when  a
	  POPULATION  of "mu" PARENTs generates "lambda" OFFSPRING and the
	  mu parents are discarded, leving only the lambda INDIVIDUALs  to
	  compete  directly.   Such  a process is written as a (mu,lambda)
	  search.  The process of  only  competing  offspring  then  is  a
	  "comma strategy." cf.  PLUS STRATEGY.

     CONVERGED:
	  A  GENE is said to have CONVERGED when 95% of the CHROMOSOMEs in
	  the POPULATION all contain the same ALLELE for  that  gene.   In
	  some  circumstances,  a population can be said to have converged
	  when all genes have converged. (However, this  is  not  true  of
	  populations containing multiple SPECIES, for example.)

	  Most  people  use  "convergence" fairly loosely, to mean "the GA
	  has stopped finding new, better solutions".  Of course,  if  you
	  wait  long  enough,  the  GA  will  *eventually*  find  a better
	  solution (unless you have already  found  the  global  optimum).
	  What  people  really mean is "I'm not willing to wait for the GA
	  to find a new, better  solution,  because  I've  already  waited
	  longer than I wanted to and it hasn't improved in ages."

	  An  interesting discussion on convergence by Michael Vose can be
	  found     in      GA-Digest      v8n22,      available      from
	  <A NAME=id4 HREF="ftp://ftp.aic.nrl.navy.mil/pub/galist/digests/v8n22">ftp.aic.nrl.navy.mil:/pub/galist/digests/v8n22</A>

     CONVERGENCE VELOCITY:
	  The rate of error reduction.

     COOPERATION:
	  The  behavior  of two or more INDIVIDUALs acting to increase the
	  gains of all participating individuals.

     CROSSOVER:
	  (EC) A REPRODUCTION OPERATOR which forms  a  new  CHROMOSOME  by
	  combining  parts  of  each  of  two  `parent'  chromosomes.  The
	  simplest form is single-point CROSSOVER, in which  an  arbitrary
	  point  in  the  chromosome  is  picked. All the information from
	  PARENT A is copied from the start up  to  the  crossover  point,
	  then  all  the  information  from  parent  B  is copied from the
	  crossover point to the end of the chromosome. The new chromosome
	  thus  gets the head of one parent's chromosome combined with the
	  tail of the other.  Variations exist which  use  more  than  one
	  crossover  point,  or  combine information from parents in other
	  ways.

	  (biol) A  complicated  process  which typically takes  place  as
	  follows:   CHROMOSOMEs,  while  engaged  in  the  production  of
	  GAMETEs, exchange portions of genetic material.  The  result  is
	  that  an  almost  infinite  variety  of gametes may be produced.
	  Subsequently,  during  sexual  REPRODUCTION,  male  and   female
	  gametes  (i.e. sperm and ova) fuse to produce a new DIPLOID cell
	  with a pair of chromosomes.
	  In  [HOLLAND92]  the sentence "When sperm and ova fuse, matching
	  CHROMOSOMEs line up with one another and then cross over partway
	  along their length, thus  swapping  genetic  material"  is  thus
	  wrong,  since  these  two activities occur in different parts of
	  the life cycle.  [eds note:  If sexual REPRODUCTION  (the   Real
	  Thing)  worked  like in GAs, then Holland would be right, but as
	  we all know,  it's   not   the  case.   We  just  encountered  a
	  Freudian   slip   of   a  Grandmaster.  BTW:   even  the  German
	  translation of  this  article  has  this  "bug",  although  it's
	  well-hidden by the translator.]

     CS:  See CLASSIFIER SYSTEM.


 D
     DARWINISM:
	  (biol)  Theory  of EVOLUTION, proposed by Darwin, that evolution
	  comes   about   through   random    variation    of    heritable
	  characteristics, coupled with natural SELECTION (survival of the
	  fittest). A physical mechanism for this, in terms of  GENEs  and
	  CHROMOSOMEs,  was  discovered  many  years later.  DARWINISM was
	  combined with the selectionism of Weismann and the  genetics  of
	  Mendel   to   form   the   Neo-Darwinian  Synthesis  during  the
	  1930s-1950s by T. Dobzhansky, E. Mayr, G. Simpson, R. Fisher, S.
	  Wright,  and others.  The talk.origins FAQ contains more details
	  (See Q10.7). cf LAMARCKISM.

	  (EC) Theory which inspired all branches of EC.

     DECEPTION:
	  The condition where the  combination  of  good  BUILDING  BLOCKs
	  leads   to  reduced  FITNESS,  rather  than  increased  fitness.
	  Proposed by [GOLD89] as a reason for the failure of GAs on  many
	  tasks.

     DIPLOID:
	  (biol)  This  refers to a cell which contains two copies of each
	  CHROMOSOME.  The copies are homologous  i.e.  they  contain  the
	  same  GENEs  in  the same sequence. In many sexually reproducing
	  SPECIES, the genes in one of the sets of chromosomes  will  have
	  been inherited from the father's GAMETE (sperm), while the genes
	  in the other set of chromosomes are  from  the  mother's  gamete
	  (ovum).

     DNA: (biol) Deoxyribonucleic Acid, a double stranded macromolecule of
	  helical structure  (comparable  to  a  spiral  staircase).  Both
	  single  strands  are  linear,  unbranched nucleic acid molecules
	  build up from  alternating  deoxyribose  (sugar)  and  phosphate
	  molecules.  Each  deoxyribose  part  is  coupled to a nucleotide
	  base, which is responsible for establishing  the  connection  to
	  the  other  strand  of  the DNA.  The 4 nucleotide bases Adenine
	  (A), Thymine (T), Cytosine (C) and Guanine (G) are the  alphabet
	  of  the genetic information. The sequences of these bases in the
	  DNA molecule determines the building plan of any organism.  [eds
	  note:  suggested  reading:  James  D.  Watson (1968) "The Double
	  Helix", London: Weidenfeld and Nicholson]

	  (literature) Douglas Noel Adams,  contemporary  Science  Fiction
	  comedy writer. Published "The Hitch-Hiker's Guide to the Galaxy"
	  when he was 25 years old, which made him one  of  the  currently
	  most  successful  British  authors.   [eds  note:  interestingly
	  Watson was also 25 years old, when he discovered the  DNA;  both
	  events  are  probably not interconnected; you might also want to
	  look at: Neil Gaiman's  (1987)  "DON'T  PANIC  --  The  Official
	  Hitch-Hiker's  Guide to the Galaxy companion", and of course get
	  your hands on the  wholly  remarkable  FAQ  in  alt.fan.douglas-
	  adams]

     DNS: (biol) Desoxyribonukleinsaeure, German for DNA.

	  (comp) The Domain Name System, a distributed database system for
	  translating   computer   names    (e.g.    lumpi.informatik.uni-
	  dortmund.de)    into   numeric   Internet,   i.e.   IP-addresses
	  (129.217.36.140) and vice-versa.  DNS allows you  to  hook  into
	  the  net  without  remembering long lists of numeric references,
	  unless your system administrator  has  incorrectly  set-up  your
	  site's system.


 E
     EC:  See EVOLUTIONARY COMPUTATION.

     ELITISM:
	  ELITISM  (or  an  elitist  strategy)  is  a  mechanism  which is
	  employed in some EAs which ensures that the CHROMOSOMEs  of  the
	  most highly fit member(s) of the POPULATION are passed on to the
	  next GENERATION without  being  altered  by  GENETIC  OPERATORs.
	  Using elitism ensures that the mamimum FITNESS of the population
	  can never reduce  from  one  generation  to  the  next.  Elitism
	  usually brings about a more rapid convergence of the population.
	  In some applications elitism improves the chances of locating an
	  optimal INDIVIDUAL, while in others it reduces it.

     ENCORE:
	  The  EvolutioNary Computation REpository Network.  An network of
	  anonymous FTP sites holding all  manner  of  interesting  things
	  related  to  EC.  The mirror "EClair" nodes include The Santa Fe
	  Institute   (USA):   <A NAME=id5 HREF="ftp://alife.santafe.edu/pub/USER-AREA/EC/">alife.santafe.edu:/pub/USER-AREA/EC/</A>    The
	  Chinese  University  of  Hong  Kong: <A NAME=id6 HREF="ftp://ftp.cs.cuhk.hk/pub/EC/">ftp.cs.cuhk.hk:/pub/EC/</A> The
	  University       of       Warwick       (United        Kingdom):
	  <A NAME=id7 HREF="ftp://ftp.dcs.warwick.ac.uk/pub/mirrors/EC/">ftp.dcs.warwick.ac.uk:/pub/mirrors/EC/</A>  EUnet  Deutschland GmbH:
	  <A NAME=id8 HREF="ftp://ftp.Germany.EU.net/pub/research/softcomp/EC/">ftp.Germany.EU.net:/pub/research/softcomp/EC/</A> and The California
	  Institute  of Technology: <A NAME=id9 HREF="ftp://ftp.krl.caltech.edu/pub/EC/">ftp.krl.caltech.edu:/pub/EC/</A> See Q15.3
	  for more information.

     ENVIRONMENT:
	  (biol) That which  surrounds  an  organism.  Can  be  'physical'
	  (abiotic),  or  biotic.   In both, the organism occupies a NICHE
	  which influences its FITNESS within the  total  ENVIRONMENT.   A
	  biotic  environment  may  present   frequency-dependent  fitness
	  functions within a  POPULATION,  that  is,  the  fitness  of  an
	  organism's  behaviour  may  depend upon how many others are also
	  doing it.  Over several  GENERATIONs,  biotic  environments  may
	  foster   co-evolution,  in  which  fitness  is  determined  with
	  SELECTION partly by other SPECIES.

     EP:  See EVOLUTIONARY PROGRAMMING.

     EPISTASIS:
	  (biol) A "masking" or "switching" effect among GENEs.  A biology
	  textbook says: "A gene is said to be epistatic when its presence
	  suppresses the effect of a gene  at  another  locus.   Epistatic
	  genes  are  sometimes  called  inhibiting genes because of their
	  effect on other genes which are described as hypostatic."

	  (EC) When EC  researchers  use  the  term  EPISTASIS,  they  are
	  generally  referring  to  any  kind  of strong interaction among
	  GENEs, not just masking effects. A possible definition is:

	  EPISTASIS is  the  interaction  between  different  GENEs  in  a
	  CHROMOSOME.   It  is  the  extent  to  which the contribution to
	  FITNESS of one gene depends on the values of other genes.
	  Problems with little  or  no  EPISTASIS  are  trivial  to  solve
	  (hillclimbing  is sufficient). But highly epistatic problems are
	  difficult to solve, even for GAs.   High  epistasis  means  that
	  BUILDING BLOCKs cannot form, and there will be DECEPTION.

     ES:  See EVOLUTION STRATEGY.

     EVOLUTION:
	  That  process  of  change  which is assured given a reproductive
	  POPULATION in which there are (1) varieties of INDIVIDUALs, with
	  some  varieties  being  (2) heritable.  See the talk.origins FAQ
	  for further details (See Q10.7).

	  "Don't assume that all people who accept EVOLUTION are atheists"

	  --- Talk.origin FAQ

     EVOLUTION STRATEGIE:

     EVOLUTION STRATEGY:
	  A type of evolutionary algorithm developed in the early 1960s in
	  Germany.  It employs real-coded parameters, and in its  original
	  form,  it  relied  on  MUTATION  as  the  search operator, and a
	  POPULATION size of one. Since then it has evolved to share  many
	  features   with   GENETIC   ALGORITHMs.    See   Q1.3  for  more
	  information.

     EVOLUTIONARILY STABLE STRATEGY:
	  A strategy that does well in a POPULATION dominated by the  same
	  strategy.   (cf  Maynard  Smith,  1974)  Or, in other words, "An
	  'ESS' ... is a strategy such that,  if  all  the  members  of  a
	  population  adopt  it, no mutant strategy can invade."  (Maynard
	  Smith "Evolution and the Theory of Games", 1982).

     EVOLUTIONARY COMPUTATION:
	  Encompasses methods of simulating EVOLUTION on a computer.   The
	  term  is  relatively new and represents an effort bring together
	  researchers who have been working in closely related fields  but
	  following  different  paradigms.   The  field  is  now  seen  as
	  including research in GENETIC ALGORITHMs, EVOLUTION  STRATEGIEs,
	  EVOLUTIONARY  PROGRAMMING, ARTIFICIAL LIFE, and so forth.  For a
	  good overview see the editorial introduction to Vol. 1, No. 1 of
	  "Evolutionary  Computation" (MIT Press, 1993).  That, along with
	  the papers in  the  issue,  should  give  you  a  good  idea  of
	  representative research.

     EVOLUTIONARY PROGRAMMING:
	  An  evolutionay  algorithm  developed  in the mid 1960s. It is a
	  stochastic OPTIMIZATION strategy, which is  similar  to  GENETIC
	  ALGORITHMs,  but  dispenses  with both "genomic" representations
	  and with CROSSOVER as a REPRODUCTION  OPERATOR.   See  Q1.2  for
	  more information.


     EVOLUTIONARY SYSTEMS:
	  A  process  or system which employs the evolutionary dynamics of
	  REPRODUCTION, MUTATION, competition and SELECTION.  The specific
	  forms  of  these  processes  are  irrelevant  to  a system being
	  described as "evolutionary."


     EXPECTANCY:
	  Or expected value.  Pertaining to a random  variable  X,  for  a
	  continuous random variable, the expected value is:
	  E(X) = INTEGRAL(-inf, inf) [X f(X) dX].
	  The  discrete expectation takes a similar form using a summation
	  instead of an integral.

     EXPLOITATION:
	  When traversing a SEARCH SPACE, EXPLOITATION is the  process  of
	  using information gathered from previously visited points in the
	  search space to determine which places might  be  profitable  to
	  visit  next.  An  example  is  hillclimbing,  which investigates
	  adjacent points in the search space, and moves in the  direction
	  giving   the   greatest   increase   in  FITNESS.   Exploitation
	  techniques are good at finding local maxima.

     EXPLORATION:
	  The process of visiting entirely new regions of a SEARCH  SPACE,
	  to  see  if  anything  promising  may  be  found  there.  Unlike
	  EXPLOITATION,  EXPLORATION  involves  leaps  into  the  unknown.
	  Problems  which  have  many  local  maxima can sometimes only be
	  solved by this sort of random search.


 F
     FAQ: Frequently Asked Questions. See definition given before the main
	  table of contents.

     FITNESS:
	  (biol)  Loosely:  adaptedness.  Often measured as, and sometimes
	  equated to, relative reproductive success.  Also proportional to
	  expected  time  to extinction.  "The fit are those who fit their
	  existing ENVIRONMENTs and  whose  descendants  will  fit  future
	  environments."   (J.  Thoday,  "A  Century  of  Darwin",  1959).
	  Accidents of history are relevant.

	  (EC) A value assigned to an INDIVIDUAL which reflects  how  well
	  the  individual solves the task in hand. A "fitness function" is
	  used to  map  a  CHROMOSOME  to  a  FITNESS  value.  A  "fitness
	  landscape"  is the hypersurface obtained by applying the fitness
	  function to every point in the SEARCH SPACE.

     FUNCTION OPTIMIZATION:
	  For a function which takes a set  of  N  input  parameters,  and
	  returns  a  single output value, F, FUNCTION OPTIMIZATION is the
	  task of finding the  set(s)  of  parameters  which  produce  the
	  maximum (or minimum) value of F. Function OPTIMIZATION is a type
	  of VALUE-BASED PROBLEM.

     FTP: File Transfer Protocol. A system which allows the  retrieval  of
	  files stored on a remote computer. Basic FTP requires a password
	  before access can be gained to the  remote  computer.  Anonymous
	  FTP   does   not   require  a  special  password:  after  giving
	  "anonymous" as the user name, any password will  do  (typically,
	  you  give  your email address at this point). Files available by
	  FTP are specified as &#60;ftp-site-name&#62;:&#60;the-complete-filename&#62; See
	  Q15.5.

     FUNCTION SET:
	  (GP)  The set of operators used in GP. These functions label the
	  internal (non-leaf) points of the parse trees that represent the
	  programs  in  the  POPULATION.  An example FUNCTION SET might be
	  {+, -, *}.


 G
     GA:  See GENETIC ALGORITHM.

     GAME THEORY:
	  A mathematical theory originally developed for human games,  and
	  generalized  to  human  economics  and military strategy, and to
	  EVOLUTION in the theory of EVOLUTIONARILY STABLE STRATEGY.  GAME
	  THEORY  comes  into  it's own wherever the optimum policy is not
	  fixed, but depends upon the policy which is  statistically  most
	  likely to be adopted by opponents.

     GAMETE:
	  (biol)  Cells which carry genetic information from their PARENTs
	  for the purposes  of  sexual  REPRODUCTION.   In  animals,  male
	  GAMETEs are called sperm, female gametes are called ova. Gametes
	  have a HAPLOID number of CHROMOSOMEs.

     GAUSSIAN DISTRIBUTION:
	  See NORMALLY DISTRIBUTED.

     GENE:
	  (EC) A subsection of a CHROMOSOME which  (usually)  encodes  the
	  value of a single parameter.

	  (biol) The fundamental unit of inheritance, comprising a segment
	  of DNA that codes for  one  or  several  related  functions  and
	  occupies  a  fixed position (locus) on CHROMOSOME.  However, the
	  term may be defined in different ways  for  different  purposes.
	  For a fuller story, consult a book on genetics (See Q10.7).

     GENE-POOL:
	  The  whole  set of GENEs in a breeding POPULATION.  The metaphor
	  on which the term is based  de-emphasizes  the  undeniable  fact
	  that  genes actually go about in discrete bodies, and emphasizes
	  the idea of genes flowing about the world like a liquid.

	  Everybody out of the gene-pool, now!

	  --- Author prefers to be anonymous

     GENERATION:
	  (EC) An iteration of the measurement of FITNESS and the creation
	  of a new POPULATION by means of REPRODUCTION OPERATORs.

     GENETIC ALGORITHM:
	  A  type  of  EVOLUTIONARY  COMPUTATION  devised  by John Holland
	  [HOLLAND92].   A  model  of  machine  learning   that   uses   a
	  genetic/evolutionary  metaphor.  Implementations  typically  use
	  fixed-length  character  strings  to  represent  their   genetic
	  information,  together  with  a  POPULATION of INDIVIDUALs which
	  undergo CROSSOVER and MUTATION  in  order  to  find  interesting
	  regions of the SEARCH SPACE.  See Q1.1 for more information.

     GENETIC DRIFT:
	  Changes  in  gene/allele  frequencies  in a POPULATION over many
	  GENERATIONs,  resulting  from  chance  rather  than   SELECTION.
	  Occurs  most  rapidly  in  small  populations.  Can lead to some
	  ALLELEs  becoming   `extinct',   thus   reducing   the   genetic
	  variability in the population.

     GENETIC PROGRAMMING:
	  GENETIC  ALGORITHMs applied to programs.  GENETIC PROGRAMMING is
	  more expressive than fixed-length character string  GAs,  though
	  GAs  are  likely  to  be  more  efficient  for  some  classes of
	  problems.  See Q1.5 for more information.

     GENETIC OPERATOR:
	  A search operator acting on a coding structure that is analogous
	  to a GENOTYPE of an organism (e.g. a CHROMOSOME).

     GENOTYPE:
	  The   genetic   composition  of  an  organism:  the  information
	  contained in the GENOME.

     GENOME:
	  The entire collection of GENEs (and hence CHROMOSOMEs) possessed
	  by an organism.

     GLOBAL OPTIMIZATION:
	  The  process  by  which  a  search  is made for the extremum (or
	  extrema) of a functional  which,  in  EVOLUTIONARY  COMPUTATION,
	  corresponds  to  the  FITNESS  or error function that is used to
	  assess the PERFORMANCE of any INDIVIDUAL.

     GP:  See GENETIC PROGRAMMING.


 H
     HAPLOID:
	  (biol) This refers to cell which contains a single CHROMOSOME or
	  set  of  chromosomes,  each  consisting  of a single sequence of
	  GENEs.  An example is a GAMETE.  cf DIPLOID.

	  In EC, it is usual for INDIVIDUALs to be HAPLOID.

     HARD SELECTION:
	  SELECTION acts on competing INDIVIDUALs.   When  only  the  best
	  available   individuals   are  retained  for  generating  future
	  progeny, this is termed "hard selection."   In  contrast,  "soft
	  selection"  offers  a  probabilistic  mechanism  for  maitaining
	  individuals to be PARENTs of future progeny  despite  possessing
	  relatively poorer objective values.


 I
     INDIVIDUAL:
	  A  single  member  of  a  POPULATION.   In  EC,  each INDIVIDUAL
	  contains a CHROMOSOME  (or,  more  generally,  a  GENOME)  which
	  represents a possible solution to the task being tackled, i.e. a
	  single point in the SEARCH SPACE.  Other information is  usually
	  also stored in each individual, e.g. its FITNESS.

     INVERSION:
	  (EC)  A  REORDERING  operator  which  works by selecting two cut
	  points in a CHROMOSOME, and reversing the order of all the GENEs
	  between those two points.


 L
     LAMARCKISM:
	  Theory  of  EVOLUTION  which preceded Darwin's. Lamarck believed
	  that evolution came about through the  inheritance  of  acquired
	  characteristics.  That is, the skills or physical features which
	  an INDIVIDUAL acquires during its lifetime can be passed  on  to
	  its  OFFSPRING.   Although  Lamarckian inheritance does not take
	  place in nature, the idea has been usefully applied by  some  in
	  EC.  cf DARWINISM.

     LCS: See LEARNING CLASSIFIER SYSTEM.

     LEARNING CLASSIFIER SYSTEM:
	  A  CLASSIFIER  SYSTEM which "learns" how to classify its inputs.
	  This often involves "showing" the system many examples of  input
	  patterns,  and their corresponding correct outputs. See Q1.4 for
	  more information.



 M
     MIGRATION:
	  The transfer of (the GENEs  of)  an  INDIVIDUAL  from  one  SUB-
	  POPULATION to another.

     MOBOT:
	  MOBile ROBOT.  cf ROBOT.
     MUTATION:
	  (EC)  a  REPRODUCTION  OPERATOR  which forms a new CHROMOSOME by
	  making (usually small) alterations to the values of GENEs  in  a
	  copy of a single, PARENT chromosome.


 N
     NICHE:
	  (biol)  In  natural ecosystems, there are many different ways in
	  which animals may survive (grazing, hunting, on the  ground,  in
	  trees,   etc.),   and   each  survival  strategy  is  called  an
	  "ecological niche."  SPECIES which occupy different NICHEs (e.g.
	  one eating plants, the other eating insects) may coexist side by
	  side without competition, in a stable way. But  if  two  species
	  occupying  the  same niche are brought into the same area, there
	  will be competition,  and  eventually  the  weaker  of  the  two
	  species  will  be  made  (locally)  extinct.  Hence diversity of
	  species depends on them occupying a diversity of niches  (or  on
	  geographical separation).

	  (EC)  In  EC,  we  often  want  to  maintain  diversity  in  the
	  POPULATION.  Sometimes a FITNESS function may  be  known  to  be
	  multimodal, and we want to locate all the peaks. We may consider
	  each peak in the fitness function as analogous to a  NICHE.   By
	  applying   techniques   such  as  fitness  sharing  (Goldberg  &#38;
	  Richardson, [ICGA87]), the  population  can  be  prevented  from
	  converging  on a single peak, and instead stable SUB-POPULATIONs
	  form at each  peak.  This  is  analogous  to  different  SPECIES
	  occupying different niches. See also SPECIES, SPECIATION.

     NORMALLY DISTRIBUTED:
	  A  random  variable  is  NORMALLY  DISTRIBUTED  if  its  density
	  function is described as
	  f(x)    =    1/sqrt(2*pi*sqr(sigma))    *    exp(-0.5*(x-mu)*(x-
	  mu)/sqr(sigma))
	  where  mu  is the mean of the random variable x and sigma is the
	  STANDARD DEVIATION.


 O
     OBJECT VARIABLES:
	  Parameters that are directly involved in assessing the  relative
	  worth of an INDIVIDUAL.

     OFFSPRING:
	  An INDIVIDUAL generated by any process of REPRODUCTION.

     OPTIMIZATION:
	  The  process  of iteratively improving the solution to a problem
	  with respect to a specified objective function.

     ORDER-BASED PROBLEM:
	  A problem where the solution must be specified in  terms  of  an
	  arrangement  (e.g.  a  linear  ordering) of specific items, e.g.
	  TRAVELLING  SALESMAN  PROBLEM,  computer   process   scheduling.
	  ORDER-BASED  PROBLEMs  are a class of COMBINATORIAL OPTIMIZATION
	  problems in which  the  entities  to  be  combined  are  already
	  determined. cf VALUE-BASED PROBLEM.

     ONTOGENESIS:
	  Refers  to  a  single  organism,  and  means the life span of an
	  organism from it's birth to death.  cf PHYLOGENESIS.


 P
     PANMICTIC POPULATION:
	  (EC, biol) A  mixed  POPULATION.   A  population  in  which  any
	  INDIVIDUAL  may  be  mated  with  any  other  individual  with a
	  probability which depends only on  FITNESS.   Most  conventional
	  evolutionary algorithms have PANMICTIC POPULATIONs.

	  The  opposite  is a POPULATION divided into groups known as SUB-
	  POPULATIONs, where INDIVIDUALs may only mate with others in  the
	  same sub-population. cf SPECIATION.

     PARENT:
	  An  INDIVIDUAL  which takes part in REPRODUCTION to generate one
	  or more other individuals, known as OFFSPRING, or children.


     PERFORMANCE:
	  cf FITNESS.

     PHENOTYPE:
	  The expressed traits of an INDIVIDUAL.

     PHYLOGENESIS:
	  Refers to  a  POPULATION  of  organisms.  The  life  span  of  a
	  population  of organisms from pre-historic times until today. cf
	  ONTOGENESIS.

     PLUS STRATEGY:
	  Notation originally proposed in  EVOLUTION  STRATEGIEs,  when  a
	  POPULATION  of "mu" PARENTs generates "lambda" OFFSPRING and all
	  mu and lambda  INDIVIDUALs  compete  directly,  the  process  is
	  written  as  a (mu+lambda) search.  The process of competing all
	  parents and offspring then is  a  "plus  strategy."  cf.   COMMA
	  STRATEGY.

     POPULATION:
	  A  group of INDIVIDUALs which may interact together, for example
	  by mating, producing OFFSPRING, etc. Typical POPULATION sizes in
	  EC range from 1 (for certain EVOLUTION STRATEGIEs)
	   to   many   thousands   (for  GENETIC  PROGRAMMING).   cf  SUB-
	  POPULATION.


 R
     RECOMBINATION:
	  cf CROSSOVER.

     REORDERING:
	  (EC) A REORDERING operator  is  a  REPRODUCTION  OPERATOR  which
	  changes  the  order  of  GENEs in a CHROMOSOME, with the hope of
	  bringing related genes closer together, thereby facilitating the
	  production of BUILDING BLOCKs.  cf INVERSION.

     REPRODUCTION:
	  (biol,  EC)  The  creation  of a new INDIVIDUAL from two PARENTs
	  (sexual REPRODUCTION).  Asexual reproduction is the creation  of
	  a new individual from a single parent.

     REPRODUCTION OPERATOR:
	  (EC)  A  mechanism  which  influences  the  way in which genetic
	  information is passed on  from  PARENT(s)  to  OFFSPRING  during
	  REPRODUCTION.   REPRODUCTION  OPERATORs  fall  into  three broad
	  categories: CROSSOVER, MUTATION and REORDERING operators.

     REQUISITE VARIETY:
	  In GENETIC ALGORITHMs, when  the  POPULATION  fails  to  have  a
	  "requisite  variety" CROSSOVER will no longer be a useful search
	  operator because it will have a propensity to simply  regenerate
	  the PARENTs.

     ROBOT:
	  "The  Encyclopedia  Galactica  defines  a  ROBOT as a mechanical
	  apparatus designed to do the work of man. The marketing division
	  of  the  Sirius Cybernetics Corporation defines a robot as `Your
	  Plastic Pal Who's Fun To Be With'."

	  --- Douglas Adams (1979)


 S
     SAFIER:
	  An  EVOLUTIONARY  COMPUTATION  FTP  Repository,   now   defunct.
	  Superceeded by ENCORE.

     SCHEMA:
	  A  pattern  of  GENE  values  in a CHROMOSOME, which may include
	  `dont care' states. Thus in a  binary  chromosome,  each  SCHEMA
	  (plural  schemata)  can  be  specified  by  a string of the same
	  length as the chromosome, with each character one of {0, 1,  #}.
	  A particular chromosome is said to `contain' a particular schema
	  if it matches the schema (e.g. chromosome 01101  matches  schema
	  #1#0#).

	  The `order' of a SCHEMA is the number of non-dont-care positions
	  specified, while the `defining length' is the  distance  between
	  the  furthest  two  non-dont-care  positions.  Thus #1##0# is of
	  order 2 and defining length 3.

     SCHEMA THEOREM:
	  Theorem devised by Holland [HOLLAND92] to explain the  behaviour
	  of  GAs.   In  essence,  it  says  that a GA gives exponentially
	  increasing  reproductive  trials  to  above  average   schemata.
	  Because each CHROMOSOME contains a great many schemata, the rate
	  of SCHEMA processing in the POPULATION is very high, leading  to
	  a phenomenon known as implicit parallelism. This gives a GA with
	  a population of size N  a  speedup  by  a  factor  of  N  cubed,
	  compared to a random search.

     SEARCH SPACE:
	  If the solution to a task can be represented by a set of N real-
	  valued parameters, then the job of finding this solution can  be
	  thought  of  as  a  search  in  an  N-dimensional space. This is
	  referred to simply as the SEARCH SPACE.  More generally, if  the
	  solution  to  a  task  can be represented using a representation
	  scheme, R, then the search space is  the  set  of  all  possible
	  configurations which may be represented in R.

     SEARCH OPERATORS:
	  Processes  used  to  generate  new  INDIVIDUALs to be evaluated.
	  SEARCH OPERATORS in GENETIC ALGORITHMs are  typically  based  on
	  CROSSOVER  and  point  MUTATION.   Search operators in EVOLUTION
	  STRATEGIEs and EVOLUTIONARY PROGRAMMING  typically  follow  from
	  the  representation  of a solution and often involve Gaussian or
	  lognormal perturbations when applied to real-valued vectors.

     SELECTION:
	  The process by which some INDIVIDUALs in a POPULATION are chosen
	  for REPRODUCTION, typically on the basis of favoring individuals
	  with higher FITNESS.

     SELF-ADAPTATION:
	  The inclusion of a mechanism  not  only  to  evolve  the  OBJECT
	  VARIABLES   of   a   solution,   but  simultaneously  to  evolve
	  information on how each solution will generate new OFFSPRING.
     SIMULATION:
	  The act of modeling a natural process.

     SOFT SELECTION:
	  The mechanism which allows inferior INDIVIDUALs in a  POPULATION
	  a  non-zero  probability  of  surviving into future GENERATIONs.
	  See HARD SELECTION.

     SPECIATION:
	  (biol) The process whereby a new SPECIES comes about.  The  most
	  common cause of SPECIATION is that of geographical isolation. If
	  a SUB-POPULATION of a single species is separated geographically
	  from  the  main  POPULATION  for a sufficiently long time, their
	  GENEs will diverge  (either  due  to  differences  in  SELECTION
	  pressures  in  different  locations,  or  simply  due to GENETIC
	  DRIFT).  Eventually, genetic differences will be so  great  that
	  members of the sub-population must be considered as belonging to
	  a different (and new) species.

	  SPECIATION is very important in evolutionary biology. Small SUB-
	  POPULATIONs can evolve much more rapidly than a large POPULATION
	  (because genetic changes don't take long to become fixed in  the
	  population).  Sometimes,  this  EVOLUTION  will produce superior
	  INDIVIDUALs which can outcompete,  and  eventually  replace  the
	  SPECIES of the original, main population.

	  (EC)  Techniques analogous to geographical isolation are used in
	  a number of GAs.  Typically, the POPULATION is divided into SUB-
	  POPULATIONs,  and  INDIVIDUALs  are  only  allowed  to mate with
	  others in the same sub-population. (A small amount of  MIGRATION
	  is performed.)

	  This   produces  many  SUB-POPULATIONs  which  differ  in  their
	  characteristics, and may be referred to as different  "species".
	  This technique can be useful for finding multiple solutions to a
	  problem, or simply maintaining diversity in the SEARCH SPACE.

	  Most   biology/genetics   textbooks   contain   information   on
	  SPECIATION.   A more detailed account can be found in "Genetics,
	  Speciation and  the  Founder  Principle",  L.V.  Giddings,  K.Y.
	  Kaneshiro  and  W.W.  Anderson  (Eds.),  Oxford University Press
	  1989.

     SPECIES:
	  (biol) There is  no  universally-agreed  firm  definition  of  a
	  SPECIES.   A  species  may be roughly defined as a collection of
	  living creatures,  having  similar  characteristics,  which  can
	  breed  together  to  produce  viable  OFFSPRING similar to their
	  PARENTs.  Members of one  species  occupy  the  same  ecological
	  NICHE.   (Members  of  different species may occupy the same, or
	  different niches.)

	  (EC) In EC the definition of  "species"  is  less  clear,  since
	  generally  it is always possible for a pair INDIVIDUALs to breed
	  together.  It is probably safest to use this term  only  in  the
	  context   of   algorithms   which   employ  explicit  SPECIATION
	  mechanisms.

	  (biol) The  existence  of  different  SPECIES  allows  different
	  ecological NICHEs to be exploited. Furthermore, the existence of
	  a variety of different species itself creates new  niches,  thus
	  allowing room for further species. Thus nature bootstraps itself
	  into almost limitless complexity and diversity.

	  Conversely, the domination of one, or a small number of  SPECIES
	  reduces  the  number  of  viable  NICHEs,  leads to a decline in
	  diversity, and a reduction in  the  ability  to  cope  with  new
	  situations.

	  "Give any one species too much rope, and they'll fuck it up"

	  --- Roger Waters, "Amused to Death", 1992

     STANDARD DEVIATION:
	  A measurement for the spread of a set of data; a measurement for
	  the variation of a random variable.

     STATISTICS:
	  Descriptive measures of data; a field of mathematics  that  uses
	  probability theory to gain insight into systems' behavior.

     STEPSIZE:
	  Typically, the average distance in the appropriate space between
	  a PARENT and its OFFSPRING.

     STRATEGY VARIABLE:
	  Evolvable parameters that relate the distribution  of  OFFSPRING
	  from a PARENT.

     SUB-POPULATION:
	  A  POPULATION  may  be  sub-divided  into  groups, known as SUB-
	  POPULATIONs, where INDIVIDUALs may only mate with others in  the
	  same  group.  (This  technique  might  be  chosen  for  parallel
	  processors).  Such  sub-divisions  may  markedly  influence  the
	  evolutionary  dynamics of a population (e.g.  Wright's 'shifting
	  balance' model).  Sub-populations  may  be  defined  by  various
	  MIGRATION constraints: islands with limited arbitrary migration;
	  stepping-stones   with   migration   to   neighboring   islands;
	  isolation-by-distance  in  which each individual mates only with
	  near neighbors. cf PANMICTIC POPULATION, SPECIATION.

     SUMMERSCHOOL:
	  (USA) One of the most interesting things in the  US  educational
	  system: class work during the summer break.


 T
     TERMINAL SET:
	  (GP)  The  set  of  terminal  (leaf)  nodes  in  the parse trees
	  representing the programs in the POPULATION.  A  terminal  might
	  be a variable, such as X, a constant value, such as 42, (cf Q42)
	  or a function taking no arguments, such as (move-north).

     TRAVELLING SALESMAN PROBLEM:
	  The travelling salesperson has the task of visiting a number  of
	  clients,  located  in different cities. The problem to solve is:
	  in what order should the cities be visited in order to  minimise
	  the total distance travelled (including returning home)? This is
	  a classical example of an ORDER-BASED PROBLEM.

     TSP: See TRAVELLING SALESMAN PROBLEM.


 U
     USENET:
	  "Usenet is like a herd of performing elephants with diarrhea  --
	  massive, difficult to redirect, awe-inspiring, entertaining, and
	  a source of mind-boggling amounts of excrement  when  you  least
	  expect it."

	  --- Gene Spafford (1992)

 V
     VALUE-BASED PROBLEM:
	  A problem where the solution must be specified in terms of a set
	  of real-valued parameters.  FUNCTION OPTIMIZATION  problems  are
	  of this type.  cf SEARCH SPACE, ORDER-BASED PROBLEM.

     VECTOR OPTIMIZATION:
	  Typically,  an  OPTIMIZATION problem wherein multiple objectives
	  must be satisfied.


 Z
     ZEN NAVIGATION:
	  A methodology with tremendous propensity to get  lost  during  a
	  hike  from  A  to  B.  ZEN NAVIGATION simply consists in finding
	  something that looks as if it knew where  it  is  going  to  and
	  follow   it.    The  results  are  more  often  surprising  than
	  successful, but it's usually being worth for the sake of the few
	  occasions when it is both.

	  Sometimes  ZEN  NAVIGATION  is  referred to as "doing scientific
	  research," where A is a state of mind being considered  as  pre-
	  PhD,  and  B (usually a different) state of mind, known as post-
	  PhD. While your time spent in state C, somewhere inbetween A and
	  B, is usually referred to as "being a nobody."



ACKNOWLEDGMENTS
     Finally, credit where credit is due. I'd like to thank all the people
     who helped in assembling this  guide,  and  their  patience  with  my
     "variations  on  English  grammar".  In  the  order  I received their
     contributions, thanks to:

 Contributors,
     Lutz  Prechelt  (University  of  Karlsruhe)  the  comp.ai.neural-nets
     FAQmeister,  for  letting  me  strip  several  ideas  from "his" FAQ.
     Ritesh "peace" Bansal (CMU) for  lots  of  comments  and  references.
     David   Beasley   (University  of  Wales)  for  a  valuable  list  of
     publications (Q12), and many further additions.  David  Corne,  Peter
     Ross,   and  Hsiao-Lan  Fang  (University  of  Edinburgh)  for  their
     TIMETABLING and JSSP entries.   Mark  Kantrowitz  (CMU)  for  mocking
     about  this-and-that, and being a "mostly valuable" source concerning
     FAQ maintenance; parts of Q11  have  been  stripped  from  "his"  ai-
     faq/part4  FAQ; Mark also contributed the less verbose archive server
     infos.  The texts of Q1.1, Q1.5, Q98 and  some  entries  of  Q99  are
     courtesy  by  James  Rice  (Stanford  University),  stripped from his
     genetic-programming FAQ (Q15).  Jonathan  I.  Kamens  (MIT)  provided
     infos  on  how-to-hook-into  the  USENET FAQ system.  Una Smith (Yale
     University) contributed the better parts of  the  Internet  resources
     guide   (Q15.5).    Daniel   Polani   (Gutenberg  University,  Mainz)
     "contributed"  the  ALIFE  II  Video  proceedings  info.   Jim  McCoy
     (University  of  Texas)  reminded  me  of the GP archive he maintains
     (Q20).  Ron Goldthwaite (UC Davis) added definitions of  Environment,
     EVOLUTION, Fitness, and Population to the glossary, and some thoughts
     why  Biologists  should  take  note  of  EC  (Q3).   Joachim   Geidel
     (University  of  Karlsruhe)  sent a diff of the current "navy server"
     contents and the software survey, pointing to "missing links"  (Q20).
     Richard Dawkins "Glossary" section of "The extended phenotype" served
     for many new entries, too numerous to mention here (Q99).  Mark Davis
     (New   Mexico  State  University)  wrote  the  part  on  EVOLUTIONARY
     PROGRAMMING (Q1.2).  Dan Abell (University of  Maryland)  contributed
     the  section on efficient greycoding (Q21).  Walter Harms (University
     of Oldenburg) commented on introductory  EC  literature.   Lieutenant
     Colonel  J.S.  Robertson (USMA, West Point), for providing a home for
     this     subversive     posting     on     their      FTP      server
     euler.math.usma.edu/pub/misc/GA  Rosie O'Neill for suggesting the PhD
     thesis entry (Q10.11).  Charlie Pearce (University of Nottingham) for
     critical  remarks  concerning  "tables";  well,  here  they  are!  J.
     Ribeiro Filho (University College London) for the pointer to the IEEE
     Computer  GA  Software  Survey;  the  PeGAsuS  description  (Q20) was
     stripped from it.  Paul Harrald for the entry on game  playing  (Q2).
     Laurence   Moran  (Uni  Toronto)  for  corrections  to  some  of  the
     biological information in  Q1  and  Q99.   Marco  Dorigo  (Uni  Libre
     Bruxelles)  gets the award for reading the guide more thoroughly than
     (including the editors). He suggested additions to Q1.4, Q2,  Q4  and
     Q22, and pointed out various typos.

 Reviewers,
     Robert  Elliott  Smith  (The University of Alabama) reviewed the TCGA
     infos (Q14), and Nici Schraudolph (UCSD) first  unconsciously,  later
     consciously, provided about 97% of Q20* answers.  Nicheal Lynn Cramer
     (BBN) adjusted my historic view of GP genesis.  David Fogel (ORINCON)
     commented and helped on this-and-that (where this-and-that is closely
     related to EP), and provided many missing entries  for  the  glossary
     (Q99).   Kazuhiro  M.  Saito  (MIT)  and Mark D. Smucker (Iowa State)
     caught my favorite typo(s).  Craig W.  Reynolds  was  the  first  who
     solved one of the well-hidden puzzles in the FAQ, and also added some
     valuable stuff.  Joachim  Born  (TU  Berlin)  updated  the  EVOLUTION
     Machine  (EM) entry and provided the pointer to the Bionics technical
     report FTP site (Q14).  Pattie Maes  (MIT  Media  Lab)  reviewed  the
     ALIFE IV additions to the list of conferences (Q12).  Scott D. Yelich
     (Santa Fe Institute) reviewed the SFI connectivity entry (Q15).  Rick
     Riolo  (MERIT)  reviewed  the  CFS-C  entry  (Q20).  Davika Seunarine
     (Acadia Univ.)  for smoothing out this and that.  Paul  Field  (Queen
     Mary  and  Westfield  College)  for  correcting  typos, and providing
     insights into the blindfold pogo-sticking nomads of the Himalayas.

 and Everybody...
     Last not least I'd like to thank Hans-Paul  Schwefel,  Thomas  Baeck,
     Frank  Kursawe, Guenter Rudolph for their contributions, and the rest
     of the Systems Analysis Research Group for wholly remarkable patience
     and almost incredible unflappability during my various extravangances
     and ego-trips during my time (1990-1993) with this group.

     It was a tremendously worthwhile experience. Thanks!

							   --- The Editor,
						  Joerg Heitkoetter (1993)

       "And all our yesterdays have lighted fools; the way to dusty death;
	out, out brief candle; life's but a walking shadow; a poor player;
       that struts and gets his hour upon the stage; and then is heared no
	      more; it is a tale; told by an idiot, full of sound an fury,
						      signifying nothing."

						  --- Shakespeare, Macbeth



EPILOGUE
			  "Natural SELECTION is a mechanism for generating
			     an exceedingly high degree of improbability."

				  --- Sir Ronald Aylmer Fisher (1890-1962)

     This is a GREAT quotation, it sounds like something directly out of a
	turn of the century Douglas Adams: Natural SELECTION: the original
					    "Infinite Improbability Drive"

			 --- Craig Reynolds, on reading the previous quote

     `The Babel fish,' said The Hitch Hiker's Guide to the Galaxy quietly,
     `is small, yellow and leech-like, and probably the  oddest  thing  in
     the Universe.  It feeds on brainwave energy received not from his own
     carrier but from those around it. It absorbs all  unconscious  mental
     frequencies  from  this  brainwave energy to nourish itself with.  It
     then excretes into the mind of its carrier a telepathic matrix formed
     by  combining  the  conscious  thought frequencies with nerve signals
     picked up from the speech centers of the  brain  which  has  supplied
     them.   The practical upshot of all this is that if you stick a Babel
     fish in your ear you can instantly understand anything said to you in
     any  form  of  language. The speech patterns you actually hear decode
     the brainwave matrix which has been fed into your mind by your  Babel
     fish.   `Now  it  is  such  a  bizarrely  improbable coincidence than
     anything so mindbogglingly useful could have evolved purely by chance
     that  some  thinkers  have  chosen to see it as a final and clinching
     proof of the non-existence of God.  `The argument goes something like
     this:  ``I  refuse  to  prove  that  I exist,'' says God, ``for proof
     denies faith, and without faith I am nothing.''  ``But,''  says  Man,
     ``The  Babel  fish  is  a  dead giveaway isn't it?  It could not have
     evolved by chance. It proves you exist, and so therefore, by your own
     arguments,  you  don't.  QED.''   ``Oh  dear,''  says God, ``I hadn't
     thought of that,'' and promptly vanishes in a puff of  logic.   ``Oh,
     that  was  easy,''  says Man, and for an encore goes on to prove that
     black is white and gets himself killed on the next zebra crossing.

						  --- Douglas Adams (1979)


     "Well, people; I really wish this thingie to turn into a paper babel-
     fish  for  all  those  young ape-descended organic life forms on this
     crazy planet, who don't have any clue about what's going on  in  this
     exciting  "new"  research  field,  called  EVOLUTIONARY  COMPUTATION.
     However, this is just a start, I  need  your  help  to  increase  the
     usefulness  of  this  guide,  especially its readability for natively
     English speaking folks;  whatever  it  is:  I'd  like  to  hear  from
     you...!"

							   --- The Editor,
						  Joerg Heitkoetter (1993)


	       "Parents of young organic life forms should be warned, that
       paper babel-fishes can be harmful, if stuck too deep into the ear."

						--- Encyclopedia Galactica



ABOUT THE EDITORS
 Joerg Heitkoetter,
     was born in 1965 in Recklinghausen, a small but  beautiful  750  year
     old  town  at  the northern rim of the Ruhrgebiet, Germany's coal and
     steal belt.  He was educated  at  Hittorf-Gymnasium,  Recklinghausen,
     Ruhruniversitaet  Bochum  (RUB)  and  Universitaet  Dortmund (UNIDO),
     where he read theoretical  medicine,  biology,  philosophy  and  (for
     whatever reason) computer sciences.

     He volunteered as a RA in the Biomathematics Research Group from 1987
     to  1989,  at  the  former   ``Max-Planck-Institute   for   Nutrition
     Physiology,''  in  Dortmund (since March 1, 1993 renamed to ``MPI for
     Molecular Physiology''), and spent 3 years at the ``Systems  Analysis
     Research  Group,''  at  the  Department of Computer Science of UniDO,
     where  he  wrote  a  particularly  unsuccesful  thesis  on   LEARNING
     CLASSIFIER  SYSTEMs, In 1995 he finally gave up trying to break Chris
     Langton's  semester  record,  and  dropped  out  of  university.   He
     nonetheless  became  the head of EUnet Deutschland GmbH's Fun &#38; Games
     division, currently working on  adaptive  agents  that  intelligently
     search and compile content over the 'net, and many more things.

     His  electronic  publications  range  from  a voluntary job as senior
     editor of the FAQ in Usenet's comp.ai.genetic newsgroup, entitled The
     Hitch-Hiker's  Guide  to  Evolutionary  Computation,  over many other
     projects he helped bootstrapping, for example Howard Gutowitz' FAQ on
     Cellular Automata, available on USENET via comp.theory.cell-automata,
     to about a dozen of so-called ``multimediagrams''  written  in  HTML,
     the  language  that  builds  the World-Wide Web. The most useful ones
     being ENCORE, the EVOLUTIONARY COMPUTATION  Repository  Network  that
     today,  after  2  years of weekend hacking, is accessible world-wide.
     And the latest additions Zooland, the definite collection of pointers
     to  ARTIFICIAL LIFE resources on the 'net; Mindland an evolving anti-
     thesis to Marvin Minsky's marvellously erroneous book The Society  of
     Mind.  And  Webland  a KISS model of the Internet at large, including
     ``guided tours'' across the myriads of info-bits out there.

     With Adam Gaffin, a former senior newspaper reporter  from  Middlesex
     News,  Boston, MA, who is now with Networks World, he edited the most
     read book on Internet, that was launched by a joined venture of Mitch
     Kapor's  Electronic  Frontier Foundation (EFF) and the Apple Computer
     Library, initially called Big Dummy's Guide to the  Internet  it  was
     later renamed to EFF's (Extended) Guide to the Internet: A round trip
     through Global Networks, Life in Cyberspace,  and  Everything...   If
     you  want  to  find  it,  just  fire up Netscape and select About the
     Internet from the Directory menu...there you go!

     Since a very special event, he  has  severe  problems  to  take  life
     seriously,   and   consequently   started   signing  everything  with
     ``-joke,'' while developing a liquid  fixation  on  all  flavours  of
     whiskey.  He  continues  to work on a diary-like lyrics collection of
     questionable content, entitled A Pocketful  of  Eloquence,  with  the
     parts  Tears  of  Ink (1986), Epitaph to a Broken Dream (1989, 1990).
     ...with the Eyes of a Child (1991), Telltale Songs from a  Rumblefish
     (1993),  The Last Bohemian's Rhapsody...  (1993, 1994), Script from a
     Jester's Travels...  (1994, 1995) already finished and the last piece
     Monolith  (1995)  in its final stage.  He still lacks a publisher for
     the book, though.

     He likes Mickey  Rourke's  movies  (especially  Rumblefish),  English
     poetry  of  medieval  times,  especially  Edmund  Spenser, McDonald's
     Hamburgers, diving into the analysis of complex systems of any  kind,
     (but  prefers  the  long-legged  ones)  and  the  books by Erasmus of
     Rotterdam, Robert Sheckley, Alexei Panshin, and, you name it, Douglas
     Adams.

     He  has  a  strong  aversion  against people who abuse their superior
     intellect to manipulate others. And suffers from something  he  calls
     ``my  personal  Mother  Theresa syndrome,'' which eventually cast him
     into the role of a guiding light for a whole bunch of menthally  weak
     characters. (So, if you need a helping hand, that won't let you down,
     drop him a line. His office is open 24 hours a day. 7 days a week.)

     Due to all these circumstances he  leads  a  life  on  the  edge,  is
     usually  single,  has  no  time  to  get  married, would love to have
     children, but has none (he'd know of),  and  still  doesn't  live  in
     Surrey.

  NOTABLE WRITINGS
     Tuschetraenen, (1986) unpublished.

     Epitaph to a Broken Dream, (1989, 1990) unpublished.

     ...with  the  Eyes of a Child: Another Pilgrimage into the casualties
     of Life, (1991) unpublished.
     Telltale Songs from a Rumblefish, (1992, 1993) published on USENET in
     rec.arts.poetry.

     A Pocketful of Eloquence, (1993) unpublished.

     With  Adam  Gaffin:  The  Texinfo edition of Big Dummy's Guide to the
     Internet: A round trip through Global Networks, Life  in  Cyberspace,
     and   Everything...   (1993)   available   via   anonymous  FTP  from
     <A NAME=id10 HREF="ftp://ftp.eff.org/pub/Net_info/Big_Dummy/big-dummys-guide-texi">ftp.eff.org:/pub/Net_info/Big_Dummy/big-dummys-guide-texi</A>  ;  or   in
     Europe try <A NAME=id11 HREF="ftp://ftp.germany.eu.net/pub/books/big-dummys-guide/big-dummys-">ftp.germany.eu.net:/pub/books/big-dummys-guide/big-dummys-</A>
     guide-texi .

 David Beasley,
     was born in London, England in 1961. He was educated  at  Southampton
     University where he read (for good reasons) Electronic Engineering.

     After  spending  several  years  at sea, he went to the Department of
     Computing Mathematics of the University of Wales, Cardiff,  where  he
     studied  ARTIFICIAL INTELLIGENCE for a year. He then went on to write
     a thesis on GAs applied to Digital Signal Processing,  and  tried  to
     break Joke's publications record.

     Since  a  very special event, he has taken over writing this FAQ, and
     consequently started signing everything with ``The FAQmaster''  (He's
     had  severe problems taking life seriously for some time before that,
     however.) He likes Woody Allen's movies, English clothing of medieval
     times, especially Marks and Spencer, hates McDonald's Hamburgers, but
     occasionally dives into the analysis of complex systems of any  kind,
     (but  prefers  those with pedals and handlebars) and the books by (of
     course) Douglas Adams.

     He is not married, has no children, and also  also  doesn't  live  in
     Surrey.

     He  now  works  for a (mostly interesting) software company, Praxis (
     <A NAME=id12 HREF="http://www.praxis.co.uk">http://www.praxis.co.uk</A> ) in Bath, England.

  NOTABLE WRITINGS
     A number of publications related to  GENETIC  ALGORITHMs.   The  most
     notable ones being:

     A  Sequential  Niche  Technique for Multimodal Function Optimization,
     Evolutionary Computation, 1(2)  pp  101-125,  1993.   Available  from
     <A NAME=id13 HREF="ftp://ralph.cs.cf.ac.uk/pub/papers/GAs/seq_niche.ps">ralph.cs.cf.ac.uk:/pub/papers/GAs/seq_niche.ps</A>

     Reducing  Epistasis in Combinatorial Problems by Expansive Coding, in
     S. Forrest (ed), Proceedings of the Fifth International Conference on
     Genetic  Algorithms,  Morgan-Kaufmann,  pp  400-407, 1993.  Available
     from <A NAME=id14 HREF="ftp://ralph.cs.cf.ac.uk/pub/papers/GAs/expansive_coding.ps">ralph.cs.cf.ac.uk:/pub/papers/GAs/expansive_coding.ps</A>

     An Overview of Genetic Algorithms: Part 1,  Fundamentals,  University
     Computing,  15(2)  pp 58-69, 1993.  Alailable from ENCORE (See Q15.3)
     in        file:        GA/papers/over93.ps.gz         or         from
     <A NAME=id15 HREF="ftp://ralph.cs.cf.ac.uk/pub/papers/GAs/ga_overview1.ps">ralph.cs.cf.ac.uk:/pub/papers/GAs/ga_overview1.ps</A>

     An   Overview   of  Genetic  Algorithms:  Part  2,  Research  Topics,
     University Computing, 15(4) pp 170-181, 1993.  Available from  ENCORE
     (See    Q15.3)    in    file:    GA/papers/over93-2.ps.gz   or   from
     <A NAME=id16 HREF="ftp://ralph.cs.cf.ac.uk/pub/papers/GAs/ga_overview2.ps">ralph.cs.cf.ac.uk:/pub/papers/GAs/ga_overview2.ps</A>
			       THAT'S ALL FOLKS!



------------------------------

     Copyright (c) 1993-1995 by J. Heitkoetter and D. Beasley, all  rights
     reserved.

     This  FAQ  may be posted to any USENET newsgroup, on-line service, or
     BBS as long as it  is  posted  in  its  entirety  and  includes  this
     copyright  statement.   This FAQ may not be distributed for financial
     gain.  This FAQ may not be  included  in  commercial  collections  or
     compilations without express permission from the author.

End of ai-faq/genetic/part6
***************************
--
</PRE>
<HR>
Parent document is top of "<A NAME=up HREF="faq6.htm"><I>FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</I></A>"<BR>
Previous document is "<A NAME=up HREF="faq65.htm"><I>Q98: Are there any patents on EAs?</I></A>"<BR>
</BODY>
