<head>
<title>PROCEDIMENTOS PARA ASSOCIAR-SE A ABINFO-RS</title>
</head>

<body>

<center>
<h2>PROCEDIMENTOS PARA ASSOCIAR-SE A ABINFO-RS</h2>
</center>

<hr size=6>

Caso voc&ecirc; ainda n&atilde;o seja associado e deseja participar da 
Associa&ccedil;&atilde;o dos Bachar&eacute;is em Inform&aacute;tica do Rio
Grande do Sul, voc&ecirc; deve remeter esta ficha preenchida com seus 
dados para o endere&ccedil;o abaixo.<p>

	-> Se voc&ecirc; &eacute; um profissional j&aacute; graduado, 
envie junto com a ficha cadastral preenchida, a c&oacute;pia do diploma ou 
hist&oacute;rico de gradua&ccedil;&atilde;o.<p>

	-> Se voc&ecirc; &eacute; acad&ecirc;mico em algum curso ligado a 
&aacute;rea de inform&aacute;tica, envie o seu comprovante atual de 
matr&iacute;cula, tambem anexado a ficha cadastral.<p>

	Al&eacute;m disso, a associa&ccedil;&atilde;o cobra uma anuidade de
seus associados com os seguintes valores j&aacute; atualizados :<p>

<DL>
  <DD>Associado efetivo (j&aacute; graduado) - 30 Reais por ano
  <DD>Associado acad&ecirc;mico (estudante) - 15 Reais por ano
</DL>

   Este valor dever&aacute; ser pago em cheque nominal &agrave; 
"Associa&ccedil;&atilde;o dos Bachar&eacute;is em Inform&aacute;tica do RS"
e remetido junto aos documentos citados anteriormente. <p>

	Ap&oacute;s o recebimento destes documentos e do valor relativo 
&agrave; anuidade, a Associa&ccedil;&atilde;o enviar&aacute; a voc&ecirc; 
o recibo de pagamento, a carteira de associado e trimestralmente uma 
c&oacute;pia do jornal da ABINFO-RS.<p>

<DL>
  <DT>Endereco ABINFO-RS<p>
     <DD>Caixa Postal 18017
     <DD>Porto Alegre - RS
     <DD>CEP 90410-007
</DL><p>

<img src=tesoura.gif><p>

<pre>
<center>
<h2>FICHA CADASTRAL</h2>
</center>

Nome:
Endereco:                                                     
Bairro:                                   Cidade:                            
CEP:                  Estado:             Telefone: (    )     -

Estado Civil: 
Sexo:       ( ) Masc. 
            ( ) Fem.
Data Nascimento:
Naturalidade:                          
Nacionalidade:

Filiacao: Pai -
          Mae -

Cart. Identidade:                        
CIC/CPF:

Associado:   ( ) Efetivo    
             ( ) Academico
Curso:                                    Conclusao:        (previsao)
Instituicao:

Areas de Interesse:
   ( ) Inteligencia Artificial     ( ) Redes de Computadores
   ( ) Linguagens de Programacao   ( ) Computacao Grafica
   ( ) Banco de Dados              ( ) Sistemas Operacionais
   ( ) Analise de Sistemas         ( ) Multimidia
   ( ) Microeletronica
   ( ) Outros: _____________________________________________


Autoriza a utilizacao de seus dados por outra entidade?  ( )sim ( ) nao


    _________________, ___ de __________ de 199__.




				_________________________________________
						Assinatura

</pre>

</body>
