<title>Anuidade de 1996</title>
<body>

<center>
<h1>Anuidade de 1996</h1>
</center>

<HR SIZE=10>
<BR>

A Diretoria da Associa&ccedil;&atilde;o mudou a forma de
cobran&ccedil;a da Contribui&ccedil;&atilde;o Social. Dois pontos
devem ser destacados nestas mudan&ccedil;as:

<OL>
  <li> O pagamento &eacute; efetuado atrav&eacute;s de DOCs
       banc&aacute;rios. Este era o pedido de um grande n&uacute;mero
       de associados e esperamos com isso facilitar o pagamento.
  <LI> Agora, o pagamento &eacute; anual. Sem esta mudan&ccedil;a
       n&atilde;o seria poss&iacute;vel efetuar a emiss&atilde;o de
       DOCs, visto que o valor da semestralidade &eacute; muito baixo
       para suportar a cobran&ccedil;a banc&aacute;ria.<P>
</OL>

Os valores foram somente reajustados conforme
determina&ccedil;&atilde;o da Ass&eacute;mbleia Geral, que manda 
cobrar 10 UFIRs de associado acad&ecirc;mico e 20 UFIRs dos efetivos.
Os valores ficaram assim acertados:<P>

<B>R$ 30,00</B> para associados efetivos e<BR>
<B>R$ 15,00</B> para associados acad&ecirc;micos

</body>
