<HEAD>
<TITLE>Genetic</TITLE>
</HEAD>
<BODY>
<H1>USENET FAQs</H1>
<H2>Genetic</H2>
<UL>
<LI><A NAME=id100 HREF="faq1.htm">FAQ: comp.ai.genetic part 1/6 (A Guide to Frequently Asked Questions)</A>
<LI><A NAME=id101 HREF="faq2.htm">FAQ: comp.ai.genetic part 2/6 (A Guide to Frequently Asked Questions)</A>
<LI><A NAME=id102 HREF="faq3.htm">FAQ: comp.ai.genetic part 3/6 (A Guide to Frequently Asked Questions)</A>
<LI><A NAME=id103 HREF="faq4.htm">FAQ: comp.ai.genetic part 4/6 (A Guide to Frequently Asked Questions)</A>
<LI><A NAME=id104 HREF="faq5.htm">FAQ: comp.ai.genetic part 5/6 (A Guide to Frequently Asked Questions)</A>
<LI><A NAME=id105 HREF="faq6.htm">FAQ: comp.ai.genetic part 6/6 (A Guide to Frequently Asked Questions)</A>
</BODY>

